<html ng-app="hod">
<head>
<title>JANASENA PARTY</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="static/userdatamanagement/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/userdatamanagement/css/app.css">

<link rel="stylesheet" type="text/css" href="static/userdatamanagement/css/sweetalert.css">




<link href="/static/css/memberimage_crop.css" type="text/css" rel="stylesheet" >
<script type="text/javascript" src="static/userdatamanagement/app/js/angular.js"></script>
<script type="text/javascript" src="static/userdatamanagement/app/js/angular-route.js"></script>
<script src="/static/js/QRious.js"></script>

<script type="text/javascript" src="static/userdatamanagement/app/app.js"></script>
<link rel="stylesheet" type="text/css" href="static/userdatamanagement/font/fa/css/font-awesome.min.css">
<script type="text/javascript" src="static/userdatamanagement/app/js/jquery.min.js"></script>
<script type="text/javascript" src="static/assets/js/sweetalert.js"></script>


<script type="text/javascript" src="static/userdatamanagement/app/js/bootstrap.min.js"></script>

<!-- <script type="text/javascript" src="static/userdatamanagement/app/controllers/new_filter.js"></script> -->
<script type="text/javascript" src="static/userdatamanagement/app/controllers/dashboard.js"></script>
<script type="text/javascript" src="static/userdatamanagement/app/controllers/welcome.js"></script>

<script type="text/javascript" src="static/userdatamanagement/app/controllers/idcard.js"></script>
<script type="text/javascript" src="static/userdatamanagement/app/controllers/setpin.js"></script>




<script type="text/javascript" src="static/js/webcam.js"></script>
</head>

<body ng-controller="MainCtrl">
  <div class="container">
    
<nav class="navbar navbar-default navbar-fixed-top" style="background: #d81615; border: none; border-radius: 0; box-shadow: 0 0 4px rgba(0,0,0,.14) ,0 4px 8px rgba(0,0,0,.28); z-index: 3;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)" style="height: 50px; color: white; background: #72C3C6" ng-click="triggermenu()"><i class="fa fa-th"></i></a>
      <a class="navbar-brand" href="javascript:void(0)" style="color: white">JANASENA - [[current_page]]</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-right:50px;">
        <li><a href="javascript:void(0)" onclick="location.href='/memberLogout'" style="color: white">Logout &nbsp;&nbsp;&nbsp;</a></li>

      </ul>
    </div>
  </div>
</nav>
    
<div class="menuforall" ng-show="ui.menu">
        <div class="menu_wrap">
        
            <div class="square" ng-repeat="data in menudata" ng-click="go(data.link)">
                <i class="[[data.icon_name]]"></i>
                <p>[[data.name]]</p>
            </div>
          
        </div>
    </div>
    <ng-view></ng-view>   
    </div> 
    <div class="wraploading" ng-show="hidedata.loadingscrren">
    <div class="loader"></div></div>
</body>
</html>

