<!DOCTYPE html>
<html>
  <head>
    <title>JANASENA Member Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- Bootstrap -->
 <!--    <link href="static/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    --> <!-- styles -->
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
 <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
<!--  // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
 <script type="text/javascript" src="/static/bootstrap.js"></script>
 
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
 <script src="/static/assets/js/custom.js"></script>
    <!-- <link href="static/admin/css/styles.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Pagination-->

<script src="/static/jquery.simplePagination.js"></script>
<link href="/static/simplePagination.css" type="text/css" rel="stylesheet"/>

<style type="text/css">
/**
 * Override feedback icon position
 * See http://formvalidation.io/examples/adjusting-feedback-icon-position/
 */
#dateRangeForm .form-control-feedback {
  top: 0;
  right: -15px;
}
</style>
 <style>
.show{
  display:block;
}
.hide{
  display:none;
}

.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
.myactiveclass{}
.mypassiveclass{}

</style>


<style>
.show {}
.hide {display:none}
</style>
<style type="text/css">
  .pdf-thumb-box
{
display:inline-block !important;
position:relative !important; 
overflow: hidden;

}
.pdf-thumb-box-overlay {
   
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;

}
.pdf-thumb-box a{

    color:transparent;
}
.pdf-thumb-box a:hover .pdf-thumb-box-overlay {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
    text-align:center;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.58);
    color: #fff;
    width:100%;
    height:100%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    
}
.pdf-thumb-box-overlay span {
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0
}

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
}
</style>
  </head>
  <body style="background-color: #2a3f54;
    min-height: 800px;color:white">
  
       
	        <div class="row" >


	           <div class="col-md-2" style="margin-top:20px;">
	              <!-- Logo -->

	              <div class=" row logo">
	               <img src="static/img/logo.png" class="member-box-avatar" id='image' style=" width:100px;height:100px;   
    margin-left: 50px;
    margin-top: -15px;
    margin-bottom: 25px;"/>
	              </div>
                <div class="sidebar sidenav content-box" style="display: block;">
                <ul class="nav" style="margin-left:30px">
                    <!-- Main menu -->
                   <li class=" profile" >
                      <!-- menu profile quick info -->
                       <div class="profile" >
                        <div class="profile_pic pdf-thumb-box">
                        <a data-toggle="modal" data-target="#myModal">
                <div class="pdf-thumb-box-overlay" align="center"><span class="fa-stack fa-lg">

    <i class="fa fa-square-o fa-stack-2x pdf-thumb-square"></i>
    <i class="fa fa-eye fa-stack-1x pdf-thumb-eye"></i>
</span></div>
                         <img src="static/img/admin_icon.png" class="img-rounded profile_img" id='image'/></a>
                        </div>
                        <div class="profile_info">
                           <h5 class="col-md-offset-2">Welcome {{current_user.name}}</h5>
                              
                        </div>
                    </div><br>
                   
                   </li>
                    {% if current_user.is_volunteer=='T'%}
                    <li class=" "><a href="#" id="profile"> Profile</a></li>
                    <li class=" "><a href="/getMembershipCard?id={{current_user.membership_id}}" id="membershipcard"> MembershipCard</a></li>
                   
                    <li class=" "><a href="/memberactivities" id="memberactivities"> memberactivities </a></li>
                 
                     <li class=" yourreferrals"><a href="/yourreferrals" id="yourreferrals"> your referrals  </a></li>

                     {% endif %}
                    
                </ul>
             </div>


	           </div>
	          
	           
	      

    <div class="page-content col-md-10" style="background-color:#f7f7f7 !important;color:#d81615 !important" >
    	
		
       <div class="row"  style="margin-top:30px;" >
                <div class="navbar navbar-inverse" role="banner" >
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right"  role="navigation">
                      <ul class="nav navbar-nav">
                        <li class="dropdown">
                         
                          <li class="dropdown">
                            <a href="{{url_for('.memberlogout')}}" >Logout</a>
                            
                          </li>
                          
                      </ul>
                    </nav>
                </div>
             </div>
           
          
   <div class="row" style="background-color:#f7f7f7 !important;color:#d81615 !important;min-height:800px;">
    <div class="loader">
                <div class="spinner"> <svg width='48px' height='48px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-hourglass">
                  <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                  <g>
                  <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z" class="glass"></path>
                  <clipPath id="uil-hourglass-clip1">
                      <rect x="15" y="20" width="70" height="25" class="clip">
                      <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <clipPath id="uil-hourglass-clip2">
                      <rect x="15" y="55" width="70" height="25" class="clip">
                      <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)" fill="#ffab00" class="sand"></path>
                  <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)" fill="#ffab00" class="sand"></path>
                  <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                </g>
                  </svg> </div>
              </div>
          <div class="clearfix">&nbsp;<br>
              </div>
   

           
  
		   {% block body %}

        {% endblock %}
        </div>
       </div>
  </div>
  <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2017 <a href='#'>JANASENAPARTY</a>
            </div>
            
         </div>
      </footer>
      </body>
</html>