{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="static/assets/css/sweetalert.css">
<script type="text/javascript" src="static/assets/js/sweetalert.js"></script>


    <div class="col l9 m12 s12">
    <style>
   input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea
   {
    height: 1.7rem !important;
    border-bottom: 1px solid #d81615 !important;
    width:96% !important;
   }
#login-page {
    width:100%;
    display: unset;
    vertical-align: middle;
}
    </style>
<div id="login-page" class="row">
    <div class="col m2 l2"></div>
    <div class="col s12 m6 l6 z-depth-4 card-panel" style="margin-top:30px">
      <form class="login-form" method="post" >
        <div class="row">
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="input-field col s12 center">
          
            <h5 class="center login-form-text">Member Login</h5>
          </div>
        </div>
         {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="alert alert-success">
                            <ul class="flashes">
                            {% for message in messages %}
                              <li style="color:red;text-align:center;">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% endwith %}
        <div class="row margin">

          <div class="input-field col s12">
             <md-input-container md-no-float class="md-block">
            <input id="membership_id" name="membership_id" type="text" placeholder="MembershipID" maxlength="11" oninput="maxLengthCheck(this)" required>
             </md-input-container>

          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
             <md-input-container md-no-float class="md-block">
            <input id="member_pin" name="member_pin" type="password" placeholder="Enter your 6 Digit Pin" maxlength="6" oninput="maxLengthCheck(this)"  onkeypress="return isNumeric(event)"  required>
             </md-input-container>

          </div>
        </div>
       
        <div class="row margin">
          <div class="input-field col s12">
            <input type="submit"  style="width:100%" class="btn red darken-3 z-depth-0" value="Login">
          </div>
        </div>
        <p class="margin right-align medium-small" style="padding-right:10px;">Don't have a pin or forgot pin?<a href="#" id="forgotLink"> Click Here </a></p>
              
          <p class="margin medium-small">Not Provided Voter Details Yet?<a href="/membership"> Click here</a></p>
         
                 
        

      </form>

       <form class="forgot-form" style="display: none !important;">
        <div class="row">
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="input-field col s12 center">
          
            <h5 class="center login-form-text">Login With OTP</h5>
          </div>
        </div>
         
       
        <div class="row margin">
          <div class="input-field col s12">
             <md-input-container md-no-float class="md-block">
            <input id="membershipID" name="membershipID" type="text" placeholder="Enter Your Membership ID" maxlength="11" oninput="maxLengthCheck(this)"  required>
             </md-input-container>

          </div>
          <div class="input-field col s12" id="otp_div">
             <md-input-container md-no-float class="md-block">
            <input id="otp" name="otp" maxlength="6" onkeypress="return isNumeric(event)"  oninput="maxLengthCheck(this)" type="text" placeholder="Enter Your OTP Here"  required >

             </md-input-container>
             <p style="text-align:right;padding-right:10px">OTP Not Received?  <a href="#" id="resendotp" >RESEND</a><p>
              <p class="margin medium-small">Not Provided Voter Details Yet?<a href="/membership"> Click here</a></p>
         

          </div>
        </div>
       
        <div class="row margin">
          <div class="input-field col s12" id="generatebtn_div">
            <input type="submit"  id="generateOTP" style="width:100%" class="btn red darken-3 z-depth-0" value="GENERATE OTP">
          </div>
           <div class="input-field col s12" id="verifybtn_div" style="display:none">
            <input type="submit"  id="verifyOTP" style="width:100%" class="btn red darken-3 z-depth-0" value="VERIFY OTP">
          </div>
        </div>
       

      </form>

    </div>
  </div>
</div>
 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
<script>
$(document).ready(function(){

  var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
$("#forgotLink").click(function()
{
  
  $(".login-form").css("display","none")
   $('#otp_div :input').attr('disabled', true);
  $(".forgot-form").css("display","block")

});

function validatemembershipid(membershipid)
{
  var membership_regex=/^jsp+[0-9]{8}$/i;
  if(membership_regex.test(membershipid))
  {
    return true;
  }
  else
  {
    return false;
  }
}
function pinvalidation(pin)
{
  var pinregex = /^[0-9]{6}$/g;
  if(pinregex.test(pin))
  {
    return true;
  }
  else
  {
    return false;
  }
}
  $('#generateOTP,#resendotp').click(function(e){

    e.preventDefault();
$('#generateOTP').attr('disabled','disabled');
var membership_id=$("#membershipID").val();
if (!validatemembershipid(membership_id))
{
  swal('Error',"please enter valid Membership ID",'error');
   $('#generateOTP').removeAttr('disabled');
  return false;
}

  $.ajax({
           type: "GET",
           url: "/memberLoginOTP?MembershipID="+membership_id,
                       
           dataType: "json",
           contentType:"application/json",
           success: function (response) {
            
               if (response.status=='1') {

                $('#generateOTP').removeAttr('disabled');
                
                swal('Info',response.message,'info');
                $("#generatebtn_div").css("display","none");
                $("#verifybtn_div").css("display","block");

               $('#otp_div :input').attr('disabled', false);
             
                
               }
              
               else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.responseText,'error');
                     $('#generateOTP').removeAttr('disabled');

                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response)
            $(".loader").css("display","None");
            $('#generateOTP').removeAttr('disabled');
            swal("Error",response.responseText,'error');
             return false;
           }
           
       });
   
  });


 $('#verifyOTP').click(function(e){

    e.preventDefault();
$('#verifyOTP').attr('disabled','disabled');
var membership_id=$("#membershipID").val();
if (!validatemembershipid(membership_id))
{
  alert("please enter valid Membership ID");
   $('#verifyOTP').removeAttr('disabled');
  return false;
}
var otp=$("#otp").val();
if (!pinvalidation(otp))
{
  alert("please enter valid OTP");
   $('#verifyOTP').removeAttr('disabled');
  return false;
}
var data={membership_id:membership_id,otp:otp};
console.log(data);
  $.ajax({
           type: "POST",
           url: "/memberLogin_withOTP",
           dataType:"json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
               
             window.location="/memberDashboard#/setpin"
                
               }
              
               else {
                   
                    $(".loader").css("display","None");
                    alert(response.errors);
                     $('#verifyOTP').removeAttr('disabled');


                    return false;
                   
               }
           },
           error:function(response)
           {
            
            $(".loader").css("display","None");
            swal('Error','Please try again','error')
             return false;
           }
           
       });
   
  });
});
function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  } 

  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9\b]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }           



</script>
     {% endblock %}
    
