@media screen and (max-width:1024px){
.top-link .swiper-slide { padding: 8px 18px 8px 17px}
.heading h2 { font-size: 30px;}
.maz h3 { font-size: 20px; line-height: 22px; padding-bottom: 10px;}
.bordlft { border: 0px;}
.bordlft img { width: 37%}
.maz ul { margin-top: -13px;}
.maz ul li img { width: 90%}
.delivery .box { min-height: 200px;}
.delivery .box ul li { margin-bottom: 5px;}
.maz ul li:first-child { width: 40%; }
.maz ul li:nth-child(2) { width: 10%}
.maz ul li:nth-child(2) img { width: 50%}
.maz ul li.ipad { width: 40%}
.maz ul li.ipad img { width: 87%}
.maz ul li { margin-left: 0px;}
.delivery .box ul li { font-size: 14px;}
.delivery .box figure { width: 80%; background-size: 100% 100%; height: auto;}
.pmode ul li a {font: 20px/35px 'Roboto Slab', serif;}
.footerarea ul { text-align: center;}
.footerarea ul li { margin:0px 4px; padding-bottom: 10px; float: none; display: inline-block;}
.footerarea ul li a {font: 12px/20px 'Roboto Slab', serif;}
.pmode input[type="submit"] {/*font: 400 35px/54px 'Roboto Slab', serif; padding: 5px 33px;*/}
.footerarea ul { margin-top: 20px;}
.footLogo img { width: 80%}
.pmode .proceed { /*width: 201px;*/}
.delivery .box ul li:first-child, .delivery .box ul li:nth-child(2) { width: 100%}
.priRtBox { min-height: auto; overflow: hidden;}
.bordlft .delivery  { margin-top: 47px;}
.delivery .box ul { padding: 20px 0 0 14px}
.userDetailArea.first ul {    min-height: auto; margin-bottom:40px;}
.contact { background:#fff}
.proceedBtn { width: 201px;}
.proceedBtn input[type="submit"] {font: 400 35px/40px 'Roboto Slab', serif; padding: 5px 32px;}
.contact { margin-top:20px;}
.userDetailArea ul li { font-size:14px;}
.prnt_img figure{margin:11px 0 0 0}   

.box.picOffer img { width:80% !important}
.copy_right
{margin-top:100px;}


}
   
@media only screen and (max-width: 800px) {	
.top-link li{padding:0 5px 0 4px;}
.top-link li a{font-size:12px;}
.heading h2{font-size:23px;}
.deskBor { border: 0px;}
.priRtBox { float: left; height: 292px;}
.maz ul li{width:150px; margin-left:10px;}
.maz ul li img{width:90%;}
.maz ul li:nth-child(2){width:22px;margin-top: 20%;margin-left: 0px;margin-right: 5px;}
.maz ul li:nth-child(2) img{width:100%;}
.maz ul li.ipad{background-size:100%; }
.maz ul li.ipad img{width:93%; height: 152px;}	
.delivery .box ul li{font-size:12px;}
.delivery .box ul li small{font-size:12px;}
.delivery .box figure{width:85%; font-size:16px; bottom:13px; left:25px}	
.payment{margin-left:16%;}

.contact p {font: 600 14px/22px 'Roboto Slab', serif;}
.footerarea img{width:95%;}
.footerarea ul li{margin-left:1px;}
.footerarea ul li a {font: 10px/20px 'Roboto Slab', serif;}
.details ul li select{background-color:#fff;-moz-appearance: none; -webkit-appearance: none; appearance: none;}
.paySelectBox ul li{padding:0px 6px 0 0}	

.contact p {font: 600 12px/20px 'Roboto Slab', serif;}
.copy_right{margin-top:110px;}

  
}

@media only screen and (max-width: 767px) {

.banner h1 { margin: 0px; padding: 0px;}
.banner h1 img { width: 35%}
.banner h1 a { background-size: 100%; width: 200px;height: 120px;}
.banner {padding:15px 0 5px;}
.heading { float: none; padding-top: 10px; margin-top:0px;}
.heading h2 { margin: 0px; padding: 0px 0 10px 0; line-height: 30px; float: none; font-size: 20px; position: relative; top: 0px; text-align: center; display: block;}
.maz { margin-top: 10px;}
.delivery .box figure { font-size: 13px;}
.delivery .box ul { padding: 10px;}
.delivery .box ul li:nth-child(2) { margin-top: 0px; margin-left: 0px;}
.priRtBox { width: 100%;  float: none; height: auto;}
.bgGryMob { background: #f1f1f1}
.heading h2.pos strong { display: inline;}
.heading.mobInfoHead { border: 0px; margin: 40px 0 0 0; padding: 0px;}
.heading.mobInfoHead h2 { border-bottom: 1px solid #dfdfdf; margin-bottom: 10px; font-size: 30px;}
.heading.mobInfoHead em { display: block; top: 0px; position: right: auto; text-align: center;}
.details ul { margin: 0px 0 20px 0;}
.heading h2.pos1 strong { display: inline;}
.heading.mobInfoHead { border: 0px; margin: 35px 0 35px 0; padding: 0px;}
.heading.mobInfoHead h2 { border-bottom: 1px solid #dfdfdf; margin-bottom: 5px; font-size: 25px;}
.heading.mobInfoHead em { display: block; top: 15px; position: right: auto; text-align: center;}
.pmode {background: #f1f1f1}
.pmode ul li { float: none; width: 100%}
.bordlft .delivery { margin-top: 25px;}
.delivery .box { position:relative; min-height: 180px}
.delivery .box.boxLeftArea { min-height:240px;}
.delivery .box.boxAreaRight img {margin-top: 15px; margin-bottom: 20px;}

.maz ul li:first-child { width: 42%}
.maz ul li img { width: 90%;}
.maz ul li:nth-child(2) {width: 10%;}
.maz ul li:nth-child(2) img {width: auto;margin-left: auto;margin-right: auto;display: block;}
.maz ul li.ipad {width: 38%; height: 429px;}
.maz ul li.ipad img {width: 93%;padding-top: 24px;padding-left: 4px;  height: auto;}
.delivery { margin-top: 20px; margin-bottom: 20px;float: none;overflow: hidden;}
.delivery .box { background: #fff}
.details ul li { margin-bottom: 20px;}
.heading.mobInfoHead.textPay { margin: 0px 0 20px 0; padding: 30px 0 0 0; margin-top: 0px; background: #f1f1f1}
.payment { margin-top: 0px; padding:0px;}
.heading.mobInfoHead.textPay h2.pos1 {background: #f1f1f1}
.footerarea figure {background-color: #fff; padding: 20px 0 20px; text-align: center; width: 169px; box-sizing: border-box; margin-top: -41px; margin-left: auto; margin-right: auto;}
.footerarea img {width: auto; margin-left: auto; margin-right: auto; display: block;}
.footerarea ul { display: none;}
.footerarea .itgd { margin: 16px 0 0 0; padding: 0px; display: block; float: none;}
.heading h2.pos1 { font-size: 25px;}
.termscond { margin-top: 40px;}
.contact { background: #fff; margin-top: 0px;}
.contact p {border-bottom: 1px solid #dfdfdf;margin: 0px 0 20px 0;padding: 0px 0 20px 0; line-height: 25px;}
.contact p.borNone { border-bottom: 0px; padding-bottom: 0px; margin-bottom: 0px;}
.contact p.borNone strong { display: block;}

.pmode .proceed { width: 135px;}
.pmode input[type="submit"] { background-color: #d22128;font-size: 20px;padding: 5px 29px;line-height: 32px;margin-bottom: 37px;}
.payment { margin: 0px auto; float: none; width: 80%;}
.payment input[type="text"] { width: 72%; padding: 5px 0 5px 10px}
.payment input[type="submit"] { padding: 6px 14px;}
.userDetailArea h2 { font-size:15px; font-weight:400; text-align:left; margin:0px; padding:13px;}
.userDetailArea ul li { font-size:12px; border-bottom:0px; padding-bottom:10px; padding-top:10px;}
.userDetailArea ul li:last-child {  padding-bottom:20px; padding-top:10px;}
.proceedBtn { width: 135px;}
.proceedBtn input[type="submit"] { background-color:#d22128; font-size:20px; padding:5px 29px; line-height:32px; margin-bottom: 37px;}
.paySelectBox ul li label {margin-left: 16px;}
.paySelectBox h2 { font-size:20px;}
#Pincode-error, #Name-error, #mobile-error, #Address1-error, #Sex-error, #Email-error, #state-error, #Pincode-error, #city-error{ bottom: -20px; font-size: 11px;}
#Layer1{ bottom:-60px;}
.apply{padding: 6px 17px;}  
.userInfoBox{margin: 20px 0 45px 0;}
.termscond .mCSB_scrollTools .mCSB_dragger {  width: 10px;left: 3px;}
.termscond .mCSB_scrollTools .mCSB_draggerRail{ width:4px;}
.footerarea { margin-top:50px;}
.row.details { padding-bottom:20px;}
.delivery .box ul li .radio label { font-size:12px;}

.bgGryMob .delivery .box {min-height: 130px;}

.copy_right{margin-top:110px;}


}

@media only screen and (max-width: 640px) {
.maz ul li.ipad img { padding-top: 7%; padding-left: 0px;}
.maz ul li.ipad { height: inherit;padding-bottom: 4%;;}
.paySelectBox ul { width:100%}
.paySelectBox ul li:first-child { width:100%; margin:0px; padding:0px; margin-bottom:15px;}
.paySelectBox ul li { float:none; display:block; width:100%}
.userDetailArea .valueText{width:45%;}
.copy_right{margin-top:60px;}
}

@media only screen and (max-width: 481px) {
.maz ul li.ipad img { padding-top: 2%; padding-left: 0px;}
.maz ul li.ipad { height: 270px;}

.copy_right{margin-top:60px;}
}

@media only screen and (max-width: 380px) { 
.maz ul li.ipad {height: 186px;width: 37%;}
.maz ul li:first-child {width: 38%;}
.maz ul li.ipad img {padding-top: 0px;padding-left: 0px; width: 87%}
.payment { width: 100%}
.copy_right{margin-top:60px;}
}

