{% extends "admin_layout.html" %}
    {% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />

    {% endblock%}
    {% block body %}
 <div class="row advanced_filters ">
        <div class="col-md-3 col-lg-3 col-sm-12 " style="display:None" >
            <label for="report_level" style="color:#337ab7">Region Level:</label>
            <select class="custom-select" id="report_level"
                    style="background: #fff;cursor: pointer; padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;" >
                <option selected value="">Select One</option>
                <!--<option value="state">State</option>-->
                <!--<option value="district">District</option>-->

                <option value="assembly" >Assembly</option>
                <!--<option value="mandal">Mandal</option>-->
                <!--<option value="booth">Polling Booth</option>-->
            </select>
        </div>
        <div class="col-md-3 col-lg-3  col-sm-12" id="district_div" style="display:none">
            <label for="value_select" style="color:#337ab7">Select District :</label>
            <select class="custom-select" id="district_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
            </select>
        </div>
        <div class="col-md-3 col-lg-3  col-sm-12" id="value_div" style="display:none">
            <label for="value_select" style="color:#337ab7">Select :</label>
            <select class="custom-select" id="value_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
            </select>

        </div>


        <div class="col-md-3 col-lg-3  col-sm-12">
            <button type="button" class="btn btn-success " id="advanced_filter_btn"
                    style="margin-right:20px;width:100px;font-weight:800">Filter
            </button>
        </div>
    </div>
</br>
</br>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 ">
            <span id="memberships"></spam>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 ">
            <span id="to_be_identified"></spam>
        </div>
    </div>
    </br>
</br>
<!--State dropdown-->
<!--District Dropdown-->
<!--Constituency dropdown-->
<!--datatable-->
<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
<table id="table_id" class="display" style="padding:10px;">
     <thead>
        <tr>
            <th>District</th>
            <th>Parliament</th>
            <th>Constituency Name</th>
            <th>Mandal Name</th>
            <th>Polling Booth no</th>
            <th>Polling Booth Name</th>
            <th>Polling Booth Address</th>
            <th>Members Count</th>
            <th>Identification</th>
        </tr>
    </thead>
</table>
</div>
{% endblock %}

{% block scripts%}
        <!--<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>







        <script src="/static/js/report_level.js"></script>
        <script src="/static/membership_report/constituency_poll_booth_count.js"></script>
{% endblock %}