{% extends "admin_layout.html" %}
    
    {% block scripts%}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
        <!--<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>


        <script src="/static/js/report_level.js"></script>
        <script src="/static/membership_report/constituency_poll_booth_consolidated.js"></script>
{% endblock %}
    {% block body %}
 
</br>
</br>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 ">
            <span id="memberships"></spam>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 ">
            <span id="to_be_identified"></spam>
        </div>
    </div>
    </br>
</br>

<div class="row">
  <div class="col-md-3 col-lg-3 col-sm-4" style="font-size:16px; font-weight:600;margin-left:10px;color:#006699">Total Booths:<span id="total_booths"></span></div>
    
        <div class="col-md-4 col-lg-4 col-sm-4" style="font-size:16px; font-weight:600;margin-left:10px;color:#006699">Members Existing Booths:<span id="exisitng_booths"></span></div>
           <div class="col-md-4 col-lg-4 col-sm-4" style="font-size:16px; font-weight:600;margin-left:10px;color:#006699">To Be Identified Booths:<span id="identified_booths"></span></div>
</div>
<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
<table id="table_id" class="display" style="padding:10px;">
     <thead>
        <tr>
            <th>constituency_id</th>
            <th>District</th>
            
            <th>Constituency </th>
            <th>Total Booths</th>
            <th>Members Existing Booths</th>
            <th>To Be identified Booths</th>
          
            
        </tr>
    </thead>
</table>
</div>
{% endblock %}

