{% extends "admin_layout.html" %}
    {% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="{{url_for('static',filename='membership_report/index.css')}}"/>
    {% endblock%}
    {% block body %}

<ul class="nav nav-tabs">

    <li class="active"><a data-toggle="tab" data-loc="counts" href="#counts">Grouping Count</a></li>
    <li><a data-toggle="tab" data-loc="trend" href="#graph">Trend graph</a></li>

</ul>

<div class="tab-content min-spacing">


    <div class="row advanced_filters ">
        <div class="col-md-3 col-lg-3 col-sm-12">
            <label for="report_level" style="color:#337ab7">Region Level:</label>
            <select class="custom-select" id="report_level"
                    style="background: #fff;cursor: pointer; padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;">
                <option selected value="">Select One</option>
                <option value="state">State</option>
                <option value="district">District</option>

                <option value="assembly">Assembly</option>
                <!--<option value="mandal">Mandal</option>-->
                <!--<option value="booth">Polling Booth</option>-->
            </select>
        </div>
        <div class="col-md-3 col-lg-3  col-sm-12" id="district_div" style="display:none">
            <label for="value_select" style="color:#337ab7">Select District :</label>
            <select class="custom-select" id="district_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
            </select>
        </div>
        <div class="col-md-3 col-lg-3  col-sm-12" id="value_div" style="display:none">
            <label for="value_select" style="color:#337ab7">Select :</label>
            <select class="custom-select" id="value_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
            </select>

        </div>


        <div class="col-md-3 col-lg-3  col-sm-12">
            <button type="button" class="btn btn-success " id="advanced_filter_btn"
                    style="margin-right:20px;width:100px;font-weight:800">Filter
            </button>
        </div>
    </div>

    <div>
        <label for="no_days">Enter days</label>
        <select class="custom-select" id="no_days" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
            <option value="7" selected>Last 7 days</option>
            <option value="15">Last 15 days</option>
            <option value="30">Last 30 days</option>
            </select>
    </div>
    <div id="noitemdiv">
        <label for="no_items">Enter Number of items required</label>
        <input type="number" name="no_items" id="no_items">
    </div>
    <div id="counts" class="tab-pane fade in active" data-name="counts">
        <table id="cc">


        </table>
    </div>

    <div id="graph" class="tab-pane fade in" data-name="graph">
        <div id="chart_div"></div>
    </div>

</div>

    {% endblock %}

{% block scripts%}
        <!--<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="/static/js/report_level.js"></script>
        <script src="/static/membership_report/index.js"></script>
{% endblock %}
