{% extends "districts_layout.html" %}

{% block body %}


<div class="container-fluid" style="margin-top:60px">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
             <picture>
          <source media="(min-width: 768px)" srcset="{{data.medium_images[0]}}">
          <source media="(max-width: 600px)" srcset="{{data.small_images[0]}}">
          <img src="{{data.small_images[0]}}" style="width: 100%;" />
      </picture>
       
      </div>
      <div class="item">
         <picture>
          <source media="(min-width: 768px)" srcset="{{data.medium_images[1]}}">
          <source media="(max-width: 600px)" srcset="{{data.small_images[1]}}">
          <img src="{{data.small_images[1]}}" style="width: 100%;" />
      </picture>
      </div>
    
      <div class="item">
         <picture>
          <source media="(min-width: 768px)" srcset="{{data.medium_images[2]}}">
          <source media="(max-width: 600px)" srcset="{{data.small_images[2]}}">
          <img src="{{data.small_images[2]}}" style="width: 100%;" />
      </picture>
      </div>

   
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock %}