
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Welcome to JanaSena Party</title>

</head>

<body>
	
  
<div style="background-color: #dedede; width: 100%; margin: 0 auto; text-align: center; padding: 0;">
	
	<table align="center" style="width: 100%;  max-width: 700px; background-color: #dedede;" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" align="center">
		
		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="background: #ffffff;"><img style="width: 100%; height: auto;" src="http://ilovejanasena.com/newsletter/img/img_header.jpg" alt=""/></td>
    </tr>
    <tr> 
      <td class="content" valign="top" style="background: #ffffff; font-size: 1.5em">
        <img class="person_img"  src="{{image_url}}" style="width:auto;height:130px;display: block;margin-left: auto;margin-right: auto">
		
		<p style="text-align: center;color:black padding: 0 5%;">ప్రియమైన <span style="color:#e7232a;">{{name}},</span></p>
  <p style="text-align: center;color:black; padding: 0 5%;">
		కరోనా విపత్తుతో ప్రజలంతా భయపడుతున్న వేళ, బాధలతో సతమతమవుతున్న సమయాన..కరుణతో, దయతో ప్రజలకు అండగా నిలబడేందుకు మీరు చేస్తున్న కృషి మరువలేనిది, జనసైనికులుగా మీరు నిర్వర్తించిన బాధ్యత భావితరాలకు ఆదర్శనీయమైనది.
		</p>
		
  <p style="text-align: center;color:black padding: 0 5%;">
		మీరు మీ <span style="color:#e7232a;">{{telugu_constituency_name}}</span> నియోజకవర్గంలో చేసిన సహాయక కార్యక్రమాలు ప్రజలకు ఎంతో బాసటగా నిలిచాయి. జనసేన పార్టీ తరఫున ప్రజలకు సేవలందించిన మీకు నా హృదయపూర్వక ధన్యవాదములు. మున్ముందు ఇదే విధంగా మీరు ప్రజలకు అండగా నిలబడగలరని ఆశిస్తున్నాను. సహాయక కార్యక్రమాల్లో పాల్గొనేటప్పుడు మీరు తగిన జాగ్రత్తలు తీసుకోవల్సిందిగా కోరుతున్నాను.<br><br>
		</p>
		
  <p style="text-align: center;color:black padding: 0 5%;">జై హింద్</p>
	<p style="text-align: center; padding: 0 5%;"><img src="http://ilovejanasena.com/newsletter/img/sign.jpg" width="184" height="83" alt=""/></p>
		  
		  <p style="text-align: center;color:black padding: 0 5%;">పవన్ కళ్యాణ్<br>
<span style="font-size: .8em;color:black">అధ్యక్షులు - జనసేన పార్టీ</span></p>
		</td>
    </tr>
    <tr>
      <td valign="bottom" style="background: #000;">
		<img style="width: 100%; height: auto;" src="http://ilovejanasena.com/newsletter/img/img_footer.jpg" alt=""/></td>
    </tr>
    <tr>
      <td style="background: #000;">
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="30%" style="padding: 10px;" align="left" valign="middle"><a href="https://www.facebook.com/janasenaparty/" target="_blank"><img src="http://ilovejanasena.com/newsletter/img/icon_fb.png" width="28" height="27" alt=""/></a> <a href="https://www.instagram.com/Janasenaparty" target="_blank"><img src="http://ilovejanasena.com/newsletter/img/icon_insta.png" width="28" height="27" alt=""/></a> <a href="https://twitter.com/Janasenaparty?lang=en" target="_blank"><img src="http://ilovejanasena.com/newsletter/img/icon_tw.png" width="28" height="27" alt=""/></a> <a href="https://www.youtube.com/Janasenaparty" target="_blank"><img src="http://ilovejanasena.com/newsletter/img/icon_yt.png" width="29" height="27" alt=""/></a></td>
      <td style="padding: 10px;" align="center" valign="middle"><a style="color: #fff; font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';" href="https://janasenaparty.org/">www.janasenaparty.org</a></td>
      <td  width="35%" style="padding: 10px;" align="right" valign="middle"><a href="https://play.google.com/store/apps/developer?id=Janasena+Party" target="_blank"><img src="http://ilovejanasena.com/newsletter/img/icon_google.png" width="106" height="31" alt=""/></a> <a href="https://apps.apple.com/in/developer/janasena-party/id1378013904" target="_blank"><img src="http://ilovejanasena.com/newsletter/img/icon_apple.png" width="103" height="31" alt=""/></a></td>
    </tr>
  </tbody>
</table>
		</td>
    </tr>
  </tbody>
</table>
	
		</td>
    </tr>
  </tbody>
</table>
	</div>
 
		
		
</body>
</html>
