<h1 style="text-align: left; margin-bottom: 15px;"><span style="font-family:Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'"><span style="font-size:20px"><span style="color:#d92027">Dear NRI Janasainiks,</span></span></span></h1>

<div style="text-align: left;"><span style="font-size:14px"><span> Good day! Thank you all for your interest to volunteer for the party. To channelize efforts of all volunteers, we have created NRI Fellowship program.
<br><br>
Please find the details in the below link : <div style=" margin: 30px 0;"><span style="font-size:18px"><a href="https://janasenaparty.org/nriconnect">Register</a></span></div>


</span></span></div>


<span style="font-size:14px">Yours, </span><br>
<span>Janasena Team</span>
