 <div class="row">
<h1 style="text-align: center; margin-bottom: 15px;"><span style="font-family:Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'"><span style="font-size:20px"><span style="color:#d92027">Dear NRI Janasainiks,</span></span></span></h1>




<div style="text-align:center !important">
<p style="text-align:center !important">You are cordially invited to</p>

<p style="text-align:center !important">Campaign Sponsors and Volunteers (US-East) </p>
<p style="text-align:center !important">Appreciation Meet</p>
<p style="text-align:center !important">Venue:</p>
<p style="text-align:center !important">14 Beacon Hill, Millstone</p>
<p style="text-align:center !important">NJ, 08510</p>
</div>
<a href="https://janasenabackup.blob.core.windows.net/membershipimages/W4U0U3EOV44Q5RR1ZHC3QPQ2DK3ES9EX20190425-063932.png" download><img src="https://janasenabackup.blob.core.windows.net/membershipimages/W4U0U3EOV44Q5RR1ZHC3QPQ2DK3ES9EX20190425-063932.png" width="100%" />
</a>



<p>Jai Hind,</p>
<p>JanaSena Party<p>

</span></span>
</div>



