{% extends "admin_layout.html" %}
{% block body %}
<script type"text/javascript" src="/static/js/internalsms.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" />

<div class="container" style="width:70%;border:1px solid ">
<form id="bulkemail_upload" enctype="multipart/form-data" name="bulkemail_upload">	
<div class="row form-group" style="margin:20px">
	<H3  style="text-align:center">Bulk Email:</h3>
<div class="row form-group">
	<div class="col-md-3 col-lg-3 col-sm-6">
	<label for=" source_type">Select Source:</label>
</div>
	<div class="form-group col-md-3 col-lg-3 col-sm-6">
    <input name="source_type" type="radio" id="1" value="excel" checked>
    <label for="1">Excel File</label>
</div>

<div class="form-group col-md-3 col-lg-3 col-sm-6">
    <input name="source_type" type="radio" id="2"  value="manual" >
    <label for="2">Manual</label>
</div>
</div>
 <div class="form-group">
            <label for="subject" class="form-control-label">Subject:</label>
            <input type="text" class="form-control" id="subject">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Email Body:</label>
         
           <textarea name="summernote" id="summernote" cols="30" rows="10">
   
   </textarea>
          </div>

	<div class="row form-group well " id="excel_div">
		 <span class="control-fileupload">
          <label for="file">Choose a file :</label>
          <input type="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
        </span>
	</div>

<div class="row form-group" id="manual_div" style="display:none">
	<label for=" contacts">Emails :</label>
	<textarea class="form-control" id="contacts" placeholder="Enter email id's with Comma Seperated here" rows="5" ></textarea>
		</div>
<div class="row form-group">
	<div class="col-md-3 col-lg-3 col-sm-6">
	<label >Select Type:</label>
</div>
	<div class="form-group col-md-3 col-lg-3 col-sm-6">
    <input name="message_type" type="radio" id="test" value="T" checked>
    <label for="test">Internal Team</label>
</div>

<div class="form-group col-md-3 col-lg-3 col-sm-6">
    <input name="message_type" type="radio" id="live"  value="L" >
    <label for="live">Live Emails</label>
</div>
</div>	
<div class="row" style="text-align:center">
	<input type="submit" class="btn btn-info" id="testing" value="SEND ">
	
</div>
</div>
</form>
<div class="row well form-group" id="otp_div" style="display:none;text-align: center;">
	<h5>Otp has Been sent to Authorized Person.</h5>
	<label for="otp" >OTP:</label>
	<input type="text" id="otp" placeholder="enter 6digit otp here" name="otp" required />
	<input type="submit" class="btn btn-success" id="otp_button" /> 
	</div>
</div>
<script>
var form_data;
$(document).ready(function()
{
	$('#summernote').summernote({
     height: 250, 
     toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
  ]
 
  });


	$('input[type=radio][name=source_type]').change(function() {
        if (this.value == 'excel') {
$("#manual_div").css("display","none");
$("#excel_div").css("display","block");
 $('#file').prop('required',true);
 $('#contacts').prop('required',false);

        }
        else
        {
$("#manual_div").css("display","block");
$("#excel_div").css("display","none");
$('#file').prop('required',false);
 $('#contacts').prop('required',true);


        }
    });


$("#bulkemail_upload").submit(function(e)
	{
		
		e.preventDefault();
		
		var source_type=$("input[name='source_type']:checked").val();
		
		
		
		var message_type=$("input[name='message_type']:checked").val();
		
		var message_body=$(".note-editable").html();
		var subject=$("#subject").val();
  if(message_type=='T')
  {
		  
		  var email_data={};

		  if(!isEmpty(message_body))
		  {
		  
		    email_data['body']=message_body;
		  }
		  else
		  {
		    swal("Error","please enter email body ",'error')
		      return false;
		  }
		  if(!isEmpty(subject))
		  {
		    email_data['subject']=subject;
		  }
		  else
		  {
		    swal("Error","please enter Email Subject ",'error')
		      return false;
		  }
		  $(".loader").css("display","block");
		  send_internal_email(email_data);
  }
  
	else
		{
			form_data= new FormData();
			form_data.append('source', source_type );

			if(!isEmpty(message_body))
		  {
		  
		    form_data('body',message_body);
		  }
		  else
		  {
		    swal("Error","please enter email body ",'error')
		      return false;
		  }
		  if(!isEmpty(subject))
		  {
		     form_data('subject',subject);
		  }
		  else
		  {
		    swal("Error","please enter Email Subject ",'error')
		      return false;
		  }
		if(source_type=='excel')
			{
			var file=$("#file")[0].files;
			if (typeof ($("#file")[0].files[0]) != "undefined") {
				
				form_data.append( 'file',$("#file")[0].files[0] );
			}
			else
			{
				swal("Error","please upload excel File .",'error');
				return false;
			}
		}
		else
		{
			var contacts=$("#contacts").val();
			if (isEmpty(contacts))
			{
				swal("Error","Enter Phone Numbers .",'error');
				return false;
			}
			else
			{
				form_data.append('contacts', contacts );
				
			}
			 $("#bulkemail_upload :input").prop("disabled", true);
			$(".loader").css("display","block");
 			otp_verification('BE');

		}
		
		
		}
		
		
	});	


$("#otp_button").click(function()
{
var otp=$("#otp").val();
if(!isEmpty(otp) && otp.length==6)
{
	$(".loader").css("display","block");
	form_data.delete("otp");
	form_data.append("otp",otp);
	for(var pair of form_data.entries()) {
   console.log(pair[0]+ ', '+ pair[1]); 
}
	$.ajax({
           type: "POST",
           url: "/processBulkSMS",
           dataType: "json",
           data:form_data,
           cache:false,
              processData:false,
              contentType:false,
           success: function (response) {
           $(".loader").css("display","None");
               if (response.data.status=='1') {
               	swal('success',"sent successfully",'success');
               	window.setTimeout(function(){location.reload()},2000);
               }
               else
               {
               	$(".loader").css("display","None");
               	swal('Error',response.errors,'error')
 
             return false;
               }
           },
            error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            swal('Error',response.errors,'error')
             return false;
           }
           
       }); 
	return false;
	
}
else
{
	swal('Error',"please Enter Valid OTP",'error')
	return false;
}
	
})
	

function isEmpty(value) {
  return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
}




})
</script>
{% endblock %}