{% extends "admin_layout.html" %}
{% block body %}
<script type"text/javascript" src="/static/js/internalsms.js"></script>
<div class="container" style="width:70%;border:1px solid ">
<form id="bulksms_upload" enctype="multipart/form-data" name="bulksms_upload">	
<div class="row form-group" style="margin:20px">
	<H3  style="text-align:center">Bulk SMS:</h3>
<div class="row form-group">
	<div class="col-md-3 col-lg-3 col-sm-6">
	<label for=" source_type">Select Source:</label>
</div>
	<div class="form-group col-md-3 col-lg-3 col-sm-6">
    <input name="source_type" type="radio" id="1" value="excel" checked>
    <label for="1">Excel File</label>
</div>

<div class="form-group col-md-3 col-lg-3 col-sm-6">
    <input name="source_type" type="radio" id="2"  value="manual" >
    <label for="2">Manual</label>
</div>
</div>
 <div class="row form-group">
<label for=" message_content">Message Text:</label>
 
<textarea class="form-control" rows="5" id="message_content" placeholder="enter message here"  required></textarea>
</div>

	<div class="row form-group well " id="excel_div">
		 <span class="control-fileupload">
          <label for="file">Choose a file :</label>
          <input type="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
        </span>
	</div>

<div class="row form-group" id="manual_div" style="display:none">
	<label for=" contacts">Phone Numbers :</label>
	<textarea class="form-control" id="contacts" placeholder="Enter Phone numbers with Comma Seperated here" rows="5" ></textarea>
		</div>
<div class="row form-group">
	<div class="col-md-3 col-lg-3 col-sm-6">
	<label >Select Type:</label>
</div>
	<div class="form-group col-md-3 col-lg-3 col-sm-6">
    <input name="message_type" type="radio" id="test" value="T" checked>
    <label for="test">Internal Team</label>
</div>

<div class="form-group col-md-3 col-lg-3 col-sm-6">
    <input name="message_type" type="radio" id="live"  value="L" >
    <label for="live">Live SMS</label>
</div>
</div>	
<div class="row" style="text-align:center">
	<input type="submit" class="btn btn-info" id="testing" value="SEND SMS">
	
</div>
</div>
</form>
<div class="row well form-group" id="otp_div" style="display:none;text-align: center;">
	<h5>Otp has Been sent to Authorized Person.</h5>
	<label for="otp" >OTP:</label>
	<input type="text" id="otp" placeholder="enter 6digit otp here" name="otp" required />
	<input type="submit" class="btn btn-success" id="otp_button" /> 
	</div>
</div>
<script>
var form_data;
$(document).ready(function()
{
	$('input[type=radio][name=source_type]').change(function() {
        if (this.value == 'excel') {
$("#manual_div").css("display","none");
$("#excel_div").css("display","block");
 $('#file').prop('required',true);
 $('#contacts').prop('required',false);

        }
        else
        {
$("#manual_div").css("display","block");
$("#excel_div").css("display","none");
$('#file').prop('required',false);
 $('#contacts').prop('required',true);


        }
    });


$("#bulksms_upload").submit(function(e)
	{
		form_data= new FormData();
		e.preventDefault();
		var message=$("#message_content").val();
		var source_type=$("input[name='source_type']:checked").val();
		
		
		form_data.append('source', source_type );
		var message_type=$("input[name='message_type']:checked").val();
		form_data.append('message_type', message_type);
		
		if(source_type=='excel')
		{
			var file=$("#file")[0].files;
			if (typeof ($("#file")[0].files[0]) != "undefined") {
				
				form_data.append( 'file',$("#file")[0].files[0] );
			}
			else
			{
				swal("Error","please upload excel File .",'error');
				return false;
			}
		}
		else
		{
			var contacts=$("#contacts").val();
			if (isEmpty(contacts))
			{
				swal("Error","Enter Phone Numbers .",'error');
				return false;
			}
			else
			{
				form_data.append('contacts', contacts );
				
			}


		}
		if(!isEmpty(message))
		{
			
      if(message_type=='T')
      {
        var data={message:message}
        sendmessages(data,message_type)
      }
      else
      {
        form_data.append('message', message );
         sendmessages(form_data,message_type)
      }
			
	
		}

		else
		{
			swal("Error","please enter message content",'error')
			return false;
		}
		
	});	


$("#otp_button").click(function()
{
var otp=$("#otp").val();
if(!isEmpty(otp) && otp.length==6)
{
	$(".loader").css("display","block");
	form_data.delete("otp");
	form_data.append("otp",otp);
	for(var pair of form_data.entries()) {
   console.log(pair[0]+ ', '+ pair[1]); 
}
	$.ajax({
           type: "POST",
           url: "/processBulkSMS",
           dataType: "json",
           data:form_data,
           cache:false,
              processData:false,
              contentType:false,
           success: function (response) {
           $(".loader").css("display","None");
               if (response.data.status=='1') {
               	swal('success',"sent successfully",'success');
               	window.setTimeout(function(){location.reload()},2000);
               }
               else
               {
               	$(".loader").css("display","None");
               	swal('Error',response.errors,'error')
 
             return false;
               }
           },
            error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            swal('Error',response.errors,'error')
             return false;
           }
           
       }); 
	return false;
	
}
else
{
	swal('Error',"please Enter Valid OTP",'error')
	return false;
}
	
})
	

function isEmpty(value) {
  return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
}

function sendmessages(data,message_type)
{
if (message_type=='T')
{ $(".loader").css("display","block");

	 send_internal_sms(data);
	}
	else
	{
		 $("#bulksms_upload :input").prop("disabled", true);
$(".loader").css("display","block");
 otp_verification('BS');

	}

}



})
</script>
{% endblock %}