{% extends "admin_layout.html" %}
{% block body %}
<script type="text/javascript" src="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet"  href="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" />

 <link rel="stylesheet" type="text/css" href="https://rawgit.com/flatlogic/awesome-bootstrap-checkbox/master/awesome-bootstrap-checkbox.css">
 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" />




<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <script type"text/javascript" src="/static/js/internalsms.js"></script>
<style>
.multiselect-container div.checkbox {
  margin: 0;
}

.multiselect-container label {
  margin: 0;
  white-space: nowrap;
}

.multiselect-container div.checkbox {
  padding: 5px 15px 5px 35px;
}
.loader
{
  z-index:1051 !important;
}
</style>
<div class="container well ">
  {% if current_user.urole!='PP' %}
<div class="row">
		<div class="col-md-3 col-lg-3 col-sm-6">
			<label for="category" style="color:#337ab7" >Source category :</label><br>
			<select class="custom-select multi_select" id="category" style="background: #fff;cursor: pointer;padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;" multiple="multiple">


 

 
    <option value='resourcepersons'>resourcepersons</option>
    <option value='facilitators'>Facilitators</option>
    <option value='visitors'>visitors </option>
    <option value='sevadal'>sevadal </option>
   

    </select>
</div>
<div class="col-md-3 col-lg-3 col-sm-12">
			<label for="post" style="color:#337ab7" >Suggested Post :</label><br>
			<select class="custom-select multi_select" id="post" style="background: #fff;cursor: pointer;padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;" multiple="multiple">

    <option value='speaker'>speaker</option>
    <option value='analyst'>analyst</option>
    <option value='content writer'>content writer</option>
    <option value='facilitator'>facilitator</option>
    <option value='visitor'>visitor</option>
   
    </select>
		</div>
		<div class="col-md-3 col-lg-3 col-sm-6">
			<label for="age_group" style="color:#337ab7" >Age Group :</label><br>
			<select class="multi_select" id="age_group" style="background: #fff;cursor: pointer;padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;" multiple="multiple">
   
    <option value='0-25'>0-25</option>
    <option value='26-35'>26-35</option>
    <option value='36-45'>36-45 </option>
    <option value='46-55'>46-55 </option>
    <option value='56-65'>56-65 </option>
    <option value='>65'> >65 </option>
    </select>
		</div>
		<div class="col-md-3 col-lg-3 col-sm-6">
			<label for="gender" style="color:#337ab7" >Gender :</label><br>
			<select class="multi_select" id="gender" style="background: #fff;cursor: pointer;padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;" multiple="multiple">

    <option value='Male'>Male</option>
    <option value='Female'>Female</option>
    
    </select>
		</div>
    </div> 
     
<div class="modal fade " id="smsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> SEND SMS TO SELECTED USERS </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="sms_body">
       
          <div class="form-group">
           <p id="smsuserscount"></p>
           
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Enter Message:</label>
            <textarea class="form-control" id="sms_text"></textarea>
          </div>
          <div class="row">
             <button type="button" id="internal_sms" class="btn btn-primary">Internal Test Message</button>
        <button type="button" id="live_sms" class="btn btn-primary">Live Message</button>
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
       
      </div>
      <div class="modal-footer">
       
       

         <div class="row well form-group" id="otp_div" style="display:none;text-align: center;">
  <h5>Otp has Been sent to Authorized Person.</h5>
  <label for="otp" >OTP:</label>
  <input type="text" id="otp" placeholder="enter 6digit otp here" name="otp" required />
  <input type="submit" class="btn btn-success" id="otp_button" /> 
  </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Email </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="email_div">
        <p id="emailsuserscount"></p>
          <div class="form-group">
            <label for="subject" class="form-control-label">Subject:</label>
            <input type="text" class="form-control" id="subject">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Email Body:</label>
         
           <textarea name="summernote" id="summernote" cols="30" rows="10">
   
   </textarea>
          </div>
          <div class="row">
             <button type="button" id="internal_email" class="btn btn-primary">Send Emails To Internal Team</button>
         <button type="button" id="live_emails" class="btn btn-primary">Send Emails To Live Users</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="row well form-group" id="email_otp_div" style="display:none;text-align: center;">
  <h5>Otp has Been sent to Authorized Person.</h5>
  <label for="otp" >OTP:</label>
  <input type="text" id="email_otp" placeholder="enter 6digit otp here" name="otp" required />
  <input type="submit" class="btn btn-success" id="email_otp_button" /> 
  </div>

      </div>
    </div>
  </div>
</div>
	</div>
</br>
<div class="row advanced_filters" >
		<div class="col-md-3 col-lg-3 col-sm-12">
		<label for="report_level" style="color:#337ab7" >Select Region Level:</label>
			<select class="custom-select" id="report_level" style="background: #fff;cursor: pointer; padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;">
    			<option selected value="">Select One</option>
			  <option  value="state">State</option>
			  <option value="district" >District</option>
			  <option value="parliament">Parliament</option>
			  <option value="assembly">Assembly</option>
			  
			</select>
		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" id="district_div" style="display:none">
			<label for="value_select" style="color:#337ab7" >Select District :</label>
			<select class="custom-select" id="district_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
    </select>
		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" id="value_div" style="display:none">
			<label for="value_select" style="color:#337ab7" >Select :</label>
			<select class="custom-select" id="value_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
    </select>

		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" >
		<button type="button" class="btn btn-success " id="advanced_filter_btn" style="margin-right:20px;width:100px;font-weight:800">Filter</button>
		</div>
	</div>
	<br>
</div>	

<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6"></div>
  <div class="col-md-6 col-lg-6 col-sm-6" style="text-align:right">
  <button  class="btn btn-info " id="sms_button" style="margin-right:20px;width:150px;font-weight:800">Send SMS</button>
    <button  class="btn btn-info " id="email_button" style="margin-right:20px;width:150px;font-weight:800">Send Email</button>
</div>
</div>
 {% endif %}
 <div class="row" id="table_div" style="display:none">
<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
	<table id="operations_table" class="display " cellspacing="0" width="100%" >
        <thead>
            <tr>
          
          <th>Name </th>
          <th>District </th>
          <th>Assembly </th>
          <th>Gender </th>
          <th>Age</th>
          <th>Mobile </th>
         <th> Email </th>
          
          
           <th>category </th>
            <th>POST </th>
           
        </tr>
        </thead>
       
        <tbody id="operations_body">

        </tbody>
    </table>
</div>

  </div>
 <script type="text/javascript">
var states=[];
var districts=[];
var assemblies=[];
var parliament_constituencies=[];
var json_data=[];
var myTable;
var result;
$(document).ready(function()
{
  $('#summernote').summernote({
     height: 250, 
     toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
  ]
 
  });
	  myTable = $('#operations_table').DataTable( {
                  data:[],
                  columns:[
    {data: 'name'},
     {data: "district"},
      {data: "assembly"},
    {data: "gender"},
    {data: "age"},
    {data: 'mobile'},
    {data: "email"},
    {data: "category"},{data:"post"}],
                  dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]} );
});

function load_data(data)
{
  $(".loader").css("display","block");
    $.ajax({
           type: "POST",
           url:"/resourcepersonsFilters",
           data:JSON.stringify(data),             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                result=response.data.children;
               console.log(result)
               
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  
                  $("#table_div").css("display","block");
                  $(".loader").css("display","none");
                  ;
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
}
load_data({});

$("#report_level").change(function()
{
	if($(this).val()=='state')
	{
		$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select state</option>')
        .val('');
		$.each(states, function( index, value ) {
  			 $('#value_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#value_div").css("display","block");
		$("#district_div").css("display","none");
	}
	else if($(this).val()=='district')
	{
		$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
		$.each(districts, function( index, value ) {
  			 $('#value_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#value_div").css("display","block");
		$("#district_div").css("display","none");
	}
	else if($(this).val()=='parliament')
	{
		$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select parliament</option>')
        .val('');
		$.each(parliament_constituencies, function( index, value ) {
  			 $('#value_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#value_div").css("display","block");
		$("#district_div").css("display","none");
	}
	else if($(this).val()=='assembly')
	{

		$('#district_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
		$.each(districts, function( index, value ) {
  			 $('#district_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#district_div").css("display","block");
		$('#value_div').css("display","none");
	}
})

$("#advanced_filter_btn").click(function()
{
	var selected_ages=[];
var selected_genders=[];
var selected_posts=[];
var selected_categories=[];
	var region_level=$("#report_level").val();
	var selected_value='';
	var district='';
	var data={}
	if(region_level)
	{
	if(region_level=='assembly')
	{
var state;
		district=$("#district_select").val();
		selected_value=$("#value_select").val();
		if(selected_value)
		{
				if (selected_state=='Andhra Pradesh')
			{
			state='1';
			}
			else
			{
			state='2';
			}
			data={level:region_level,value:selected_value,state:state}
		}
		else
		{
			swal('Error','please select region value','error');
			return false;
		}
		
	}
	else
	{
		selected_value=$("#value_select").val();
		if (selected_value)
		{
			if(region_level=='state')
			{
				if (selected_value=='Andhra Pradesh')
			{
			selected_value='1'
			}
			else
			{
			selected_value='2'
			}
			}
				data={level:region_level,value:selected_value}
		}
		else
		{
			swal('Error','please select region value','error');
			return false;
		}
		
		
		
	}
}
	$("#age_group option:selected").each(function(){
            var optionValue = $(this).val();
            var optionText = $(this).text();
                            
            // collect all values
            selected_ages.push(optionValue);
        });
$("#gender option:selected").each(function(){
            var optionValue = $(this).val();
            var optionText = $(this).text();
                            
            // collect all values
            selected_genders.push(optionValue);
        });
$("#post option:selected").each(function(){
            var optionValue = $(this).val();
            var optionText = $(this).text();
                            
            // collect all values
            selected_posts.push(optionValue);
        });
$("#category option:selected").each(function(){
            var optionValue = $(this).val();
            var optionText = $(this).text();
                            
            // collect all values
            selected_categories.push(optionValue);
        });
if(selected_posts.length>0)
{
	data.posts=selected_posts
}
if(selected_categories.length>0)
{
	data.categories=selected_categories
}
if(selected_ages.length>0)
{
	data.ages=selected_ages
}
if(selected_genders.length>0)
{
	data.genders=selected_genders
}
	console.log(data);

	if(Object.keys(data).length === 0)
	{
		swal('Error','please select atleast one field','error');
			return false;
		
	}
	else
	{
		load_data(data)
	}
});


$('#district_select').change(function()
{
	var district=$(this).val();
	var assemblies=[];
	$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Assembly</option>')
        .val('');
	 $.each(json_data,function(i,val){
	 	if(val.district_name===district)
	 	{
	 		selected_state=val.state;
	 		 $('#value_select').append($("<option></option>").attr("value",val.constituency_name).text(val.constituency_name)); 
	 	}

	 	 });
	 $('#value_div').css("display","block");



});

$.getJSON('/static/json/constituencies.json',function(data){
            json_data=data;
            $.each(data,function(i,val){
  
 if(states.indexOf(data[i].state) === -1){
        states.push(data[i].state);        
    } 
    if(districts.indexOf(data[i].district_name) === -1){
        districts.push(data[i].district_name);        
    }       
  });
	
 	
        }).error(function(){
            console.log('error');
        });

        $.getJSON('/static/json/parliament_constituencies.json',function(data){
            parliament_json_data=data;
            $.each(data,function(i,val){
  
 if(states.indexOf(data[i].state) === -1){
        parliament_constituencies.push(data[i].parliament_constituency_name);        
    } 
         
  });
  
  
        }).error(function(){
            console.log('error');
        });

 $('.multi_select').multiselect({
        templates: { 
            li: '<li><div class="checkbox"><label></label></div></li>'
        }
    });
    $('.multiselect-container div.checkbox').each(function (index) {

        var id = 'multiselect-' + index,
            $input = $(this).find('input');

        // Associate the label and the input
        $(this).find('label').attr('for', id);  
        $input.attr('id', id);

        // Remove the input from the label wrapper
        $input.detach();

        // Place the input back in before the label
        $input.prependTo($(this));

        $(this).click(function (e) {
            // Prevents the click from bubbling up and hiding the dropdown
            e.stopPropagation();
        });




    });

$("#sms_button").click(function()
{
  console.log(result.length);
if(result.length!=0)
{

$("#smsuserscount").html("Total Users selected :"+result.length )
$('#smsModal').modal('show');
}
else
{
  swal("Error","There Is No Data Found to Send SMS",'error');
  return false;
}
});
$("#email_button").click(function()
{
  console.log(result.length);
if(result.length!=0)
{
  $("#emailsuserscount").html("Total Users selected :"+result.length )
$('#emailModal').modal('show');

}
else
{
  swal("Error","There Is No Data Found to Send Emails",'error');
  return false;
}
});

$("#internal_sms").click(function()
{

  var message_text=$("#sms_text").val();
  if(!isEmpty(message_text))
  {$(".loader").css("display","block");
    send_internal_sms({message:message_text,category:"operations"});
  }
  else
  {
    swal("Error","please enter message content",'error')
      return false;
  }
});


$("#live_sms").click(function()
{

  var message_text=$("#sms_text").val();
  if(!isEmpty(message_text))
  {
     $("#sms_body :input").prop("disabled", true);
    $(".loader").css("display","block");
 otp_verification('BS');
  }
  else
  {
    swal("Error","please enter message content",'error')
      return false;
  }
})
$("#internal_email").click(function()
{

  var message_body=$(".note-editable").html();
  console.log(message_body)
  var subject=$("#subject").val();
  var email_data={}
  if(!isEmpty(message_body))
  {
    email_data['body']=message_body;
  }
  else
  {
    swal("Error","please enter email body ",'error')
      return false;
  }
  if(!isEmpty(subject))
  {
    email_data['subject']=subject;
  }
  else
  {
    swal("Error","please enter Email Subject ",'error')
      return false;
  }
  $(".loader").css("display","block");
  send_internal_email(email_data);
});
$("#live_emails").click(function()
{

   var message_body=$(".note-editable").html();
  var subject=$("#subject").val();
  var email_data={}
  if(!isEmpty(message_body))
  {
    email_data['body']=message_body;
  }
  else
  {
    swal("Error","please enter email body ",'error')
      return false;
  }
  if(!isEmpty(subject))
  {
    email_data['subject']=subject;
  }
  else
  {
    swal("Error","please enter Email Subject ",'error')
      return false;
  }
  $(".loader").css("display","block");
   $("#email_div :input").prop("disabled", true);
  otp_verification("BE");
})
$("#email_otp_button").click(function()
{

var otp=$("#email_otp").val();
if(!isEmpty(otp) && otp.length==6)
{
   var message_body=$(".note-editable").html();
  var subject=$("#subject").val();

  $(".loader").css("display","block");
  var data={otp:otp,body:message_body,subject:subject,contacts:JSON.stringify(result)};
  console.log(data)
  $.ajax({
           type: "POST",
           url: "/processOperationalEmails",
           dataType: "json",
           data:data,
          
           success: function (response) {
           $(".loader").css("display","None");
               if (response.data.status=='1') {
                swal('success',"sent successfully",'success');
                window.setTimeout(function(){location.reload()},2000);
               }
               else
               {
                $(".loader").css("display","None");
                swal('Error',response.errors,'error')
 
             return false;
               }
           },
            error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            swal('Error',response.errors,'error')
             return false;
           }
           
       }); 
  return false;

  }
  else
  {
    swal('Error',"please Enter Valid OTP",'error')
  return false;
  }
});
$("#otp_button").click(function()
{

var otp=$("#otp").val();
if(!isEmpty(otp) && otp.length==6)
{
  var message_text=$("#sms_text").val();
  $(".loader").css("display","block");
  var contacts=[];
  for(i=0;i<result.length;i++)
  {
  contacts.push({mobile:result[i].mobile})
  }
  var data={otp:otp,message:message_text,contacts:JSON.stringify(contacts)};
  console.log(data)
  $.ajax({
           type: "POST",
           url: "/processOperationalSMS",
           dataType: "json",
           data:data,
          
           success: function (response) {
           $(".loader").css("display","None");
               if (response.data.status=='1') {
                swal('success',"sent successfully",'success');
                window.setTimeout(function(){location.reload()},2000);
               }
               else
               {
                $(".loader").css("display","None");
                swal('Error',response.errors,'error')
 
             return false;
               }
           },
            error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            swal('Error',response.errors,'error')
             return false;
           }
           
       }); 
  return false;

  }
  else
  {
    swal('Error',"please Enter Valid OTP",'error')
  return false;
  }
});
function isEmpty(value) {
  return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
}


</script>
{% endblock %}