{% extends "admin_layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
 <script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 


<div class="row datarows">
	<h1 style="text-align:center; padding:10px 10px 10px 10px">Resource Persons</h1>
<div class="datagrid" style="margin: -20px 20px 20px 20px;">
	<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
          <th >SI.No:</th>
          <th>District </th>
          
          <th>Assembly </th>
          <th>Name: </th>
         <th> Email </th>
          <th>Mobile </th>
          <th>Post</th>
           <th>Age</th>
           <th>Gender </th>
           
           
        </tr>
        </thead>
        <tfoot>
            <tr>
          <th >SI.No:</th>
          <th>District </th>
          
          <th>Assembly </th>
          <th>Name: </th>
         <th> Email </th>
          <th>Mobile </th>
          <th>Post</th>
           <th>Age</th>
           <th>Gender </th>
           
           
        </tr>
        </tfoot>
        <tbody>
        	{% for user in data %}
        <tr>
          <td class="admin_class">{{loop.index}}</td>
          <td>{{user.district}}</td>
<td>{{user.assembly}}</td>
<td>{{user.name}}</td>
<td>{{user.email}}</td>
<td>{{user.mobile}}</td>

<td>{{user.applying_for}}</td>
<td>{{user.age}}</td>
<td>{{user.gender}}</td>

        </tr>
    {% endfor %}


                    </tbody>
    </table>
    
  </div>

  </div>
  <script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
  </script>
{% endblock %}