<style>
label{
  color:#d81615 !important;
}
div {
  color:black !important;
}
.details_div {
  border-right: 1px dashed #d81615;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
   
    overflow-y: auto;
}
</style>
 <div class="row" style="text-align:left;margin:10px 20px 10px 30px;">
<div class="col-md-6 col-sm-8 col-lg-6 details_div">
  <h3 style="color:#d81615;" > Member Details:</h3>
  <br>
   <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="regionlevel"  >Membership_id:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="membership_id">
    

  </div>
  
  </div>
  <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="name"  >Name:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="name">
    

  </div>
  
  </div>


<div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="mobile" >Mobile:</label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="mobile">
    

  </div>
  
  </div>


<div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="email"  >Email:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="email">
    

  </div>
  
  </div>
  <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="member_state"  >State:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="member_state">
    

  </div>
  
  </div>
  <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="member_district"  >District:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="member_district">
    

  </div>
  
  </div>
  <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="member_assembly"  >Assembly:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="member_assembly">
    

  </div>
  
  </div>
  <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="parliament"  >Parliament:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="parliament">
    

  </div>
  
  </div>
  <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="polling_stattion"  >Polling Station:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="polling_stattion">
    

  </div>
  
  </div>
  <br>
  <h4 style="color:#d81615"> Access Permission Details:</h4>
  <br>
  <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="region_name"  > Region Name:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="region_name">
    

  </div>
  
  </div>
  <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="region_type"  >Region Type:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="region_type">
    

  </div>
  
  </div>
  <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="permission_level"  >Permission Level:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8" id="permission_level">
    

  </div>
  
  </div>


</div>
  <div class="col-md-6 col-sm-8 col-lg-6">
    <h3 style="color:#d81615"> Change or Give Access Permission Here:</h3>
    <br>
    <div class="row">

<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="region"  >Region Level:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8">
    <select name="regionlevel" id="regionlevel" class="form-control browser-default " data-live-search="true"  >
        
      <option value="">select Region Level</option>
    
    </select>

  </div>
  
  </div>

<div class="clearfix"> </div>
  <div class="row">
    <br>
<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="regiontype"  >Region Type:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8">
    <select name="regiontype" id="regiontype" class="form-control browser-default " data-live-search="true"  >
        
      <option value="">select Region Type</option>
    
    </select>

  </div>
  
  </div>
  
  <div class="clearfix"> </div>
  <div class="row district_row" style="display:none">
    <br>
<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="district">District :  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8">
    <select name="district" id="district" class="form-control browser-default " data-live-search="true" >
        
     
    
    </select>

  </div>
  
  </div>
  
  <div class="clearfix"> </div>
  <div class="row assembly_row" style="display:none">
    <br>
<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="assembly">Assembly Constituency :  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8">
    <select name="assembly" id="assembly" class="form-control browser-default " data-live-search="true" >
        
     
    </select>

  </div>
  
  </div>
  
  <div class="clearfix"> </div>
    <div class="row mandal_row" style="display:none">
      <br>
<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="mandal" >Mandal:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8">
    <select name="mandal" id="mandal" class="form-control browser-default " data-live-search="true" >
        
     
    
    </select>

  </div>
  
  </div>
  
  <div class="clearfix"> </div>
  <div class="row region" style="display:none">
    <br>
<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="region">Region:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8">
    <select name="region" id="region" class="form-control browser-default "  data-live-search="true" >
        
      <option value="">select Region</option>
    
    </select>

  </div>
  
  </div>
  <div class="row permission_row" style="display:none">
    <br>
<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="permission">Select User Permission:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8">
    <select name="permission" id="permission" class="form-control browser-default "  data-live-search="true" >
        
      <option value="">select Permission</option>
      <option value="1">Admin</option>
      <option value="2">Read</option>
      <option value="3">Write</option>
    
    </select>

  </div>
  
  </div>
  
  <div class="clearfix"> </div>
   <div class="row submit_button" style="display:none">
    <br>
     <button type="submit" id="access_submission" class="btn btn-success" style="float:right"> Save</button>
    </div>
  
  
  </div>
</div>
<script type="text/javascript" src="/static/js/cadremanagement.js"></script>
<script>
var selected_regionlevel;
var selected_regiontype;
var selected_region;
$(document).ready(function()
{
  var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
    
$('#regionlevel').change(function()
 {


selected_regionlevel=$(this).val();
console.log(selected_regionlevel);
if (selected_regionlevel<=3)
{
  $(".district_row, .assembly_row, .mandal_row, .submit_button, .permission_row ").css("display","None");

}
else
{
  if (selected_regionlevel==4)
  {
    $(".district_row").css("display","block");
    $(".assembly_row, .mandal_row, .submit_button, .permission_row ").css("display","none");

  }
  else if(selected_regionlevel==5)
  {
 $(".district_row, .assembly_row").css("display","block");
  $(".mandal_row").css("display","none");
  }
  else if(selected_regionlevel==6 || selected_regionlevel==7 )
  {
 $(".district_row, .assembly_row, .mandal_row").css("display","block");
  }
}
 $('#region')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Region</option>')
        .val('');
$('#regiontype')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select RegionType</option>')
        .val('');
        $.each(regiontypes, function(index, value) { 

        if (value.regionlevelid==selected_regionlevel)  
        {

          $('#regiontype').append($("<option></option>").attr("value",value.id).text(value.name)); 
        }
             
        });
 }); 

$('#regiontype').change(function()
 {
  selected_regiontype=$(this).val();
  var region_type_name=$('#regiontype  option:selected').text();
  console.log(selected_regiontype);
  console.log(region_type_name);
  if(selected_regionlevel<=3)
  {
    $(".region").css('display','block');
    $('#region')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select '+region_type_name+'</option>')
        .val('');
        $.each(regions, function(index, value) { 

        if (value.regiontypeiid==selected_regiontype)  
        {

          $('#region').append($("<option></option>").attr("value",value.id).text(value.name)); 
        }
             
        });
  }
  else
  {
   $(".region").css('display','none');
    $('#district')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select District</option>')
        .val('');
        $.each(regions, function(index, value) { 

        if (value.regiontypeiid==3)  
        {

          $('#district').append($("<option></option>").attr("value",value.id).text(value.name)); 
        }
             
        });


  }

 });

$("#district").change(function()
{
   var selected_district=$(this).val();
  if(selected_regionlevel>4)
  {
 

      $('#assembly')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Assembly Constituency</option>')
        .val('');
        $.each(regions, function(index, value) { 

        if (value.regiontypeiid==4 && value.parentregionid==selected_district)  
        {

          $('#assembly').append($("<option></option>").attr("value",value.id).text(value.name)); 
        }
             
        });
}
else if(selected_regionlevel==4)
{
$(".region").css('display','block');
 $('#region')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Assembly Constituency</option>')
        .val('');
        $.each(regions, function(index, value) { 

         if (value.regiontypeiid==4 && value.parentregionid==selected_district) 
        {

          $('#region').append($("<option></option>").attr("value",value.id).text(value.name)); 
        }
             
        });
}
})

$("#assembly").change(function()
{
  var selected_assembly=$(this).val();
  console.log(selected_assembly);
if(selected_regionlevel>4)
{
  if(selected_regionlevel==5)
  {
    $(".region").css('display','block');
 $('#region')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Mandal</option>')
        .val('');
        $.each(regions, function(index, value) { 

         if (value.regiontypeiid==9 && value.parentregionid==selected_assembly) 
        {

          $('#region').append($("<option></option>").attr("value",value.id).text(value.name)); 
        }
             
        });
  }
  else if(selected_regionlevel==6 || selected_regionlevel==7)
  {
    $(".region").css('display','None');
    $('#mandal')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Mandal</option>')
        .val('');
        $.each(regions, function(index, value) { 

         if (value.regiontypeiid==5 && value.parentregionid==selected_assembly) 
        {

          $('#mandal').append($("<option></option>").attr("value",value.id).text(value.name)); 
        }
             
        });
  }
}

});


//
$("#region").change(function()
{
  var selected_region=$(this).val();
  console.log(selected_region)
  if(selected_region=='')
  {
    $(".permission_row").css("display","none");
    
  }
  else{
    console.log(selected_region)

    $(".permission_row").css("display","block");
  }
});

$("#permission").change(function()
{
  var selected_region=$(this).val();
  console.log(selected_region)
  if(selected_region=='')
  {
    $(".submit_button").css("display","none");
    
  }
  else{
    console.log(selected_region)

    $(".submit_button").css("display","block");
  }
});
 $("#access_submission").click(function()
 {
  console.log(selectedmembership_id);
  var region=$("#region").val();
  var permission_id=$("#permission").val();
  if (!selectedmembership_id)
  {
    swal("Error","something wrong","Error");
    return false;
  }
if (!region)
  {
    swal("Error","Please select Region","Error");
    return false;
  }
  if (!permission)
  {
    swal("Error","Please select Permission","Error");
    return false;
  }
  
 data={membershipId:selectedmembership_id,region:region,permission_id:permission_id};
 
 $.ajax({
           type: "POST",
           url: "/CadreAccessManagement",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
               
                 $(".loader").css("display","None");
                 swal("Success","Access Given successfully","success",3000);
                 $('#cadreaccessmodel').modal('toggle');
                window.setTimeout(function(){ 
                location.reload();
                } ,2000);


                  
               } 
               else
               {
              $(".loader").css("display","None");
                   swal("Error!", response.errors, "error");
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
             swal("Error!", response.errors, "error");
             return false;
           }
           
       });
 

  
 }) 
});

</script>
 


     
      







 

  