
{% extends "admin_layout.html" %}
{% block body %}
<link href="/static/css/datagrid.css" rel="stylesheet" >
<style>
 @media (min-width: 768px) {
      .modal-xl {
        width: 90%;
       max-width:1200px;
      }
    }

    .modal-dialog{
    overflow-y: initial !important
}
.modal-body{
   height:500px;
    overflow-y: auto;
}
</style>
<div>
  
  <div class="datagrid">
    <table width='' border='1' id="content">
      <thead>
        <tr>
          <th>SI.No:</th>
          <th>Membership Id:</th>
          <th> Name </th>
         
          <th> Region </th>
          <th> RegionType </th>
          <th>Permission Level </th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="admin_team">
 {% for member in data %}
        <tr>
          <td class="admin_class">{{loop.index}}</td>
          <td class="membership_id">{{member.membership_id}}</td>
<td>{{member.name}}</td>

<td>{{member.region_name}}</td>
<td>{{member.region_type}}</td>
<td>{{member.permission_level}}</td>
<td><button type="button" class="btn btn-default edit_class">Edit</button></td>
<td><button type="button" class="btn btn-default delete_class">Delete</button></td>
        </tr>
    {% endfor %}

      </tbody>
    </table>
  </div>

  </div>

  <div  class="modal fade" role="dialog" id="cadreaccessmodel">
  <div class="modal-dialog  modal-xl">
<div class="modal-content " >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="text-align:center"> Cadre Management  </h4>
        </div>

        <div class="modal-body">
          {% include "Accessmanagement/cadremanagement.html" %}

           </div>
           <div class="modal-footer">
         

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      
    </div>
  </div>
  </div>

<script>
var selectedmembership_id;
$(".edit_class").click(function()
{
  $(".loader").css("display","block");
selectedmembership_id=$(this).parent().parent().find('.membership_id').text();
  $.ajax({
           type: "GET",
           url: "/CadredetailsById?MembershipId="+selectedmembership_id,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                $('#cadreaccessmodel').modal('show');
                var member_details=response.data.children;
                console.log(member_details)
$("#membership_id").text(member_details.membership_id);
$("#name").text(member_details.name);
$("#mobile").text(member_details.phone);
$("#email").text(member_details.email);
$("#member_state").text(member_details.state);
$("#member_district").text(member_details.district_name);
$("#member_assembly").text(member_details.constituency_name);
$("#parliament").text(member_details.parliament_constituency_name);
$("#polling_stattion").text(member_details.polling_station_name);
$("#region_name").text(member_details.region_name);
$("#region_type").text(member_details.region_type);
$("#permission_level").text(member_details.permission_level);
                
                 $(".loader").css("display","None");
                  
               } 
               else
               {
              $(".loader").css("display","None");
                   swal("Error!", response.errors, "error");
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.statusText)
            $(".loader").css("display","None");
             swal("Error!", response.errors, "error");
             return false;
           }
           
       });

  
   
})
</script>
 {% endblock %}

  
		 
		  







 

  