
{% extends "admin_layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
<div>
  <h1 style="text-align:center">Access Management Permissions</h1>  
  <div class="row" style="text-align:right;margin-right:30px;">
    <button class="btn btn-success" id="newPermission"> New Pemission </button>
  </div>
  <br>
  <div class="datagrid">
    <table width='' border='1' id="content">
      <thead>
        <tr>
          
          <th> ID </th>
          <th> Name </th>
          <th>Description </th>
          <th>LastChangedBy </th>
          <th>Status </th>
         
          <th>Edit </th>
          <th>Delete </th>
        </tr>
      </thead>
      <tbody id="admin_team">
 {% for permission in data %}
        <tr>
          <td class="admin_class">{{permission.id}}</td>
          <td>{{permission.name}}</td>
<td>{{permission.description}}</td>
<td>{{permission.lastchangedby}}</td>
{% if permission.status=='A' %}
  <td>Active</td>
{% else %}
  <td>Disabled</td>
{% endif %}
<td><button type="button" class="btn btn-primary">Edit</button></td>
<td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
    {% endfor %}

      </tbody>
    </table>
  </div>

  </div>

<div  class="modal fade" role="dialog" id="PermissionModel">
  <div class="modal-dialog">
<div class="modal-content " >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Permission</h4>
        </div>

        <div class="modal-body">
          <form id="newpermissionform" action="#">
              <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="newpermissionname" required>
              </div>
              <div class="form-group">
              <label for="description">Description:</label>
              <input type="text" class="form-control" id="newpermissiondescription">
              </div>
               <input type="submit" class="btn btn-success " id="newpermission_submit" />
              </form>
              <div class="clearfix"> 
              </div>
        <div class="modal-footer">
         

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<script>
$(document).ready(function()
{
  $('#newPermission').on('click',  function() {
     $('#newpermissionform').trigger("reset");
     $('#PermissionModel').modal('show');

   });

  $("#newpermissionform").submit(function(e){

    e.preventDefault();
    var name=$("#newpermissionname").val();
var description=$("#newpermissiondescription").val();
console.log(name,description);
 $('#PermissionModel').modal('toggle');
  

  });

});

</script>
 {% endblock %}

  
     
      







 

  