
{% extends "admin_layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
<div>
  <h1 style="text-align:center">Access Management Region Levels</h1>  
  <div class="row" style="text-align:right;margin-right:30px;">
    <button class="btn btn-success" id="newregionlevel"> New Region Level </button>
  </div>
  <br>
  <div class="datagrid">
    <table width='' border='1' id="content">
      <thead>
        <tr>
          
          <th> ID </th>
          <th> Region Level </th>
          <th>Description </th>
          <th>LastChangedBy </th>
          <th>Status </th>
         
          <th>Edit </th>
          <th>Delete </th>
        </tr>
      </thead>
      <tbody id="admin_team">
 {% for regionlevel in data %}
        <tr>
          <td class="id">{{regionlevel.id}}</td>
          <td class="name">{{regionlevel.name}}</td>
<td class="description">{{regionlevel.description}}</td>
<td>{{regionlevel.lastchangedby}}</td>
{% if regionlevel.status=='A' %}
  <td>Active</td>
{% else %}
  <td>Disabled</td>
{% endif %}
<td><button type="button" class="btn btn-primary edit_region_level">Edit</button></td>
<td><button type="button" class="btn btn-danger delete_region_level">Delete</button></td>
        </tr>
    {% endfor %}

      </tbody>
    </table>
  </div>

  </div>

<div  class="modal fade" role="dialog" id="regionLevelModel">
  <div class="modal-dialog">
<div class="modal-content " >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Region Level</h4>
        </div>

        <div class="modal-body">
          <form id="newregionlevelform" action="#">
              <div class="form-group">
              <label for="name">Region Level Name:</label>
              <input type="text" class="form-control" id="newregionlevelname" required>
              </div>
              <div class="form-group">
              <label for="description">Description:</label>
              <input type="text" class="form-control" id="newregiondescription">
              </div>
               <input type="submit" class="btn btn-success " id="newregionlevel_submit" />
               <input type="submit" class="btn btn-success " id="editregionlevel_submit" value="save" style="display:none" />
              </form>
              <div class="clearfix"> 
              </div>
        <div class="modal-footer">
         

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
<script>
var selectedregionid;
$(document).ready(function()
{
  var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

  $('#newregionlevel').on('click',  function() {
     $('#newregionlevelform').trigger("reset");
     $("#newregionlevel_submit").css("display","block");
     $("#editregionlevel_submit").css("display","none");
     $('#regionLevelModel').modal('show');

   });
  $('.edit_region_level').on('click',  function() {
     $('#newregionlevelform').trigger("reset");
     $('#regionLevelModel').modal('show');

     
     selectedregionid=$(this).parent().parent().find('.id').text();
     console.log($(this).parent().parent())
     
     var name=$(this).parent().parent().find('.name').text();
     var description=$(this).parent().parent().find('.description').text();
     $("#newregionlevelname").val(name);
     $("#newregiondescription").val(description);
     console.log(selectedregionid,name,description);
     
     $("#newregionlevel_submit").css("display","none");
     $("#editregionlevel_submit").css("display","block");

   });
  

  $("#newregionlevelform").submit(function(e){

    e.preventDefault();
    var name=$("#newregionlevelname").val();
var description=$("#newregiondescription").val();
console.log(name,description);
 $('#regionLevelModel').modal('toggle');
  

  });

$(".delete_region_level").click(function()
{
  selectedregionid=$(this).parent().parent().find('.id').text();
   var name=$(this).parent().parent().find('.name').text();
  var data={id:selectedregionid};
   swal({
  title: "Are you sure want to Delete Region level "+name,
  text: "please confirm",
  type: "warning",
  showCancelButton: true,
  confirmButtonClass: "btn-danger",
  confirmButtonText: "Yes, delete it!",
  cancelButtonText: "No, cancel !",
  closeOnConfirm: false,
  closeOnCancel: true
},
function(isConfirm) {
  if (isConfirm) {
     $(".loader").css("display","block");
    $.ajax({
           type: "DELETE",
           url: "/AMS/RegionLevels",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                
                 $(".loader").css("display","None");
                  swal("Deleted!", "Region Level has been deleted.", "success");
               } 
               else
               {
              $(".loader").css("display","None");
                   swal("Error!", response.errors, "error");
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.statusText)
            $(".loader").css("display","None");
             swal("Error!", response.errors, "error");
             return false;
           }
           
       });

   
  } 
});
// end of ajax
});

});

</script>
 {% endblock %}

 

  
     
      







 

  