{% extends "admin_layout.html" %}
{% block head %}
<script type="text/javascript" src="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet"  href="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" />

 <link rel="stylesheet" type="text/css" href="https://rawgit.com/flatlogic/awesome-bootstrap-checkbox/master/awesome-bootstrap-checkbox.css">
 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" />




<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <script type="text/javascript" src="/static/js/internalsms.js"></script>
<style>
.multiselect-container div.checkbox {
  margin: 0;
}

.multiselect-container label {
  margin: 0;
  white-space: nowrap;
}

.multiselect-container div.checkbox {
  padding: 5px 15px 5px 35px;
}
.loader
{
  z-index:1051 !important;
}
</style>
{% endblock %}
{% block body %}
<div class="container well ">
<div class="row">
<!-- target modal -->	
<div class="modal fade " id="targetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center">
        <h5 class="modal-title" id="exampleModalLabel"> SET TARGET </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="target_body" style="text-align:center">
       
          <div class="form-group" style="text-align:center">
           <p >Name: <span id="name"></span></p>
           <p >Membership ID: <span id="membership_id"></span></p>
           
           
          </div>
          <div class="form-group row" style="text-align:center">
            <div class="col-md-4 col-lg-4">
            <label for="target_number" class="form-control-label">Enter Target Number:</label></div>
             <div class="col-md-4 col-lg-4">
            <input type="number" class="form-control" id="target_number">
          </div></div>
          <div class="row">
             <button type="button" id="set_target" class="btn btn-primary">Submit</button>
       
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
       
      </div>
      <div class="modal-footer">
       
       

       
      </div>
    </div>
  </div>
</div>

<!-- target modal -->
	
	


    <div class="row" style="margin-top: -31px !important;">
        <h1 style="text-align:center">Memberships Portal</h1>
    </div>
    <br>
<div class="row">
 

 

<div class="row advanced_filters" style="margin-left:30px" >
		<div class="col-md-3 col-lg-3 col-sm-12" >
		<label for="report_level" style="color:#337ab7" >Region Level:</label>
			<select class="custom-select" id="report_level" style="background: #fff;cursor: pointer; padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;">
    			<option selected value="">Select One</option>
			  <option  value="state">State</option>
			  <option value="district" >District</option>
			  
			  <option value="assembly">Assembly</option>
			  <option value="mandal">Mandal</option>
        <option value="booth">Polling Booth</option>
			</select>
		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" id="district_div" style="display:none">
			<label for="value_select" style="color:#337ab7" >Select District :</label>
			<select class="custom-select" id="district_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
    </select>
		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" id="value_div" style="display:none">
			<label for="value_select" style="color:#337ab7" >Select :</label>
			<select class="custom-select" id="value_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
    </select>

		</div>
		<div class="col-md-2 col-lg-2  col-sm-12" >
		<button type="button" class="btn btn-success " id="advanced_filter_btn" style="margin-right:20px;width:100px;font-weight:800">Filter</button>
		</div>
	</div>
	<br>
</div>

<div class="row" id="table_div" style="display:none">


<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
	<table id="operations_table" class="display " cellspacing="0" width="100%" >
        <thead>
            <tr>
          
          
          <th>District </th>
          <th>Assembly </th>
           <th>Mandal </th>
          <th>P.S.ID</th>
          <th>Name</th>
           <th>Member ID</th>
           <th>Phone </th>
            
          <th>Gender </th>
          <th>Age</th>
         
          <th>EDIT</th>
           
        </tr>
        </thead>
       
        <tbody id="operations_body">

        </tbody>
    </table>
</div>

  </div>
 <script type="text/javascript">
var states=[];
var districts=[];
var assemblies=[];
var parliament_constituencies=[];
var mandals;
var polling_booths=[];
var json_data=[];
var myTable;
var result;
$(document).ready(function()
{
var text_max = 160;


   
    var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

$.getJSON('/static/json/constituencies.json',function(data){
            json_data=data;
            $.each(data,function(i,val){
  
 if(states.indexOf(data[i].state) === -1){
        states.push(data[i].state);        
    } 
    if(districts.indexOf(data[i].district_name) === -1){
        districts.push(data[i].district_name);        
    }       
  });
  
  
        })


$.getJSON('/static/json/mandals.json',function(mandals_data){
            mandals=mandals_data;
            console.log(mandals_data)
          });


$("#operations_table tbody").on( 'click', 'button', function () {

 
  var currentRow=$(this).closest("tr"); 

    $('tr').removeClass('active');
     // removes all highlights from tr's
    
    $(currentRow).addClass('active');
         
         var name=currentRow.find("td:eq(3)").text(); // get current row 1st TD value
         var membership_id=currentRow.find("td:eq(4)").text();
         var target=currentRow.find("td:eq(9)").text();
         $("#name").text(name)
         $("#membership_id").text(membership_id);
         $("#target_number").val(target);

          $('#targetModal').modal('show');

         // get current row 
         console.log(name,membership_id);
});

$("#set_target").click(function()
{


     // adds the highlight to this row
  var target=$("#target_number").val();
  if (target>1)
  {
    
    var membership_id=$("#membership_id").text();
    console.log(target,membership_id);
    data={membership_id:membership_id,target:target}
    console.log(data)
    //  ajax function here
      $(".loader").css("display","block");
    $.ajax({
           type: "GET",
           url:"/admin/setTarget",
           data:data,             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                var selected_row=$('tr.active');
                selected_row.find("td:eq(9)").text(target);

                swal('Success',"Target saved Successfully",'success')
                  $(".loader").css("display","none");
                  
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
  }
  else
  {
    swal('Error','Target should be greater than 1','error');
      return false;
  }
})
  
$("#report_level").change(function()
{
	if($(this).val()=='state')
	{
		$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select state</option>')
        .val('');
		$.each(states, function( index, value ) {
  			 $('#value_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#value_div").css("display","block");
		$("#district_div").css("display","none");
	}
	else if($(this).val()=='district')
	{
		$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
		$.each(districts, function( index, value ) {
  			 $('#value_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#value_div").css("display","block");
		$("#district_div").css("display","none");
	}
	
	else if($(this).val()=='assembly')
	{

		$('#district_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
		$.each(districts, function( index, value ) {
  			 $('#district_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#district_div").css("display","block");
		$('#value_div').css("display","none");
	}
  else if($(this).val()=='mandal')
  {

    $('#district_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
    $.each(districts, function( index, value ) {
         $('#district_select').append($("<option></option>").attr("value",value).text(value)); 
    });
    $("#district_div").css("display","block");
    $('#value_div').css("display","none");
  }
})

    myTable = $('#operations_table').DataTable( {
                  data:[],
                  columns: 
       [
      
     {data: "district_name"},
      {data: "constituency_name"},
      {data: "mandal_name"},
      {data: "polling_station_id"},
      {data: 'name'},
        {data: 'membership_id'},
          {data: 'phone'},
    
    {data: "sex"},
    {data: "age"},
   


   {
            "targets": -1,
            "data": null,
            "defaultContent": "<button class='target btn-info'>Edit</button>"
        }
   ],
                  dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]} );


$("#advanced_filter_btn").click(function()
{
	var selected_ages=[];
var selected_genders=[];
var selected_posts=[];
var selected_categories=[];
	var region_level=$("#report_level").val();
	var selected_value='';
	var district='';
	var data={}
	if(region_level)
	{
	if(region_level=='assembly')
	{
var state;
		district=$("#district_select").val();
		selected_value=$("#value_select").val();
		if(selected_value)
		{
				if (selected_state=='Andhra Pradesh')
			{
			state='1';
			}
			else
			{
			state='2';
			}
			data={type:region_level,value:selected_value,state:state}
		}
		else
		{
			swal('Error','please select region value','error');
			return false;
		}
		
	}
	else
	{
		selected_value=$("#value_select").val();
		if (selected_value)
		{
			if(region_level=='state')
			{
				if (selected_value=='Andhra Pradesh')
			{
			selected_value='1'
			}
			else
			{
			selected_value='2'
			}
			}
				data={type:region_level,value:selected_value}
		}
		else
		{
			swal('Error','please select region value','error');
			return false;
		}

	}
}
	var achievement=$("#achievement").val();
  
  if(achievement)
  {
   data['achievement'] =achievement;
  }
  var membership_through=$("#membership_through").val();
  
  if(membership_through)
  {
   data['membership_through'] =membership_through;
  }
	console.log(data);

	if(Object.keys(data).length === 0)
	{
		swal('Error','please select atleast one field','error');
			return false;
		
	}
	else
	{
//     if(data['state'])
//     {
//       var state_value=data['state'];
//       data['state']=[]
//       data['state'].push(state_value);

//     }
//     if(data["value"])

// {
//   var selected_val=data['value'];
//   data["value"]=[];
//   data["value"].push(selected_val);
// }
console.log(data);
		$(".loader").css("display","block");
		$.ajax({
           type: "GET",
           url:"/admin/female_membersdata1",
           data:data,             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
               	result=response.data.children;
               
               
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
               		
               		$("#table_div").css("display","block");
               		$(".loader").css("display","none");
               		;
               		
               	 	}
               	else
               	{
               		$(".loader").css("display","none");
				swal('Error',response.errors,'error')
               	}
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
	}
});


$('#district_select').change(function()
{
	var district=$(this).val();
  if ($("#report_level").val()=='assembly')
{


	var assemblies=[];
	$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Assembly</option>')
        .val('');
	 $.each(json_data,function(i,val){
	 	if(val.district_name===district)
	 	{
	 		selected_state=val.state;
	 		 $('#value_select').append($("<option></option>").attr("value",val.constituency_id).text(val.constituency_name)); 
	 	}

	 	 });
	 $('#value_div').css("display","block");
}
else if ($("#report_level").val()=="mandal")
{
  $('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Mandal</option>')
        .val('');
 console.log(mandals)
   $.each(mandals,function(key,val){
   console.log(key,val)
    if(key==district)
    {
       $.each(val,function(i,value){
      // selected_state=val.state;
       $('#value_select').append($("<option></option>").attr("value",value.seq_id).text(value.mandal_name)); 
     });
    }

     });
$('#value_div').css("display","block");

}


});





   

    });


function isEmpty(value) {
  return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
}


</script>
{% endblock %}