{% extends "admin_layout.html" %}
{% block head %}
<script type="text/javascript" src="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet"  href="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" />

 <link rel="stylesheet" type="text/css" href="https://rawgit.com/flatlogic/awesome-bootstrap-checkbox/master/awesome-bootstrap-checkbox.css">
 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" />




<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <script type="text/javascript" src="/static/js/internalsms.js"></script>
<style>
.multiselect-container div.checkbox {
  margin: 0;
}

.multiselect-container label {
  margin: 0;
  white-space: nowrap;
}

.multiselect-container div.checkbox {
  padding: 5px 15px 5px 35px;
}
.loader
{
  z-index:1051 !important;
}
</style>
{% endblock %}
{% block body %}
<div class="container well ">
<div class="row">
<!-- target modal -->	
<div class="modal fade " id="targetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center">
        <h5 class="modal-title" id="exampleModalLabel"> SET TARGET </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="target_body" style="text-align:center">
       
          <div class="form-group" style="text-align:center">
           <p >Name: <span id="name"></span></p>
           <p >Membership ID: <span id="membership_id"></span></p>
           
           
          </div>
          <div class="form-group row" style="text-align:center">
            <div class="col-md-4 col-lg-4">
            <label for="target_number" class="form-control-label">Enter Target Number:</label></div>
             <div class="col-md-4 col-lg-4">
            <input type="number" class="form-control" id="target_number">
          </div></div>
          <div class="row">
             <button type="button" id="set_target" class="btn btn-primary">Submit</button>
       
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
       
      </div>
      <div class="modal-footer">
       
       

       
      </div>
    </div>
  </div>
</div>

<!-- target modal -->
	
	
<div class="modal fade " id="smsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="smsModalLabel"> SEND SMS TO SELECTED USERS </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="sms_body">
       
          <div class="form-group">
           <p id="smsuserscount"></p>
           
          </div>
          <div class="form-group">
            <label for="sms_text" class="form-control-label">Enter Message:</label>
            <textarea class="form-control" id="sms_text"></textarea>


          </div>
          <div id="sms_text_feedback"></div>
          <div class="row">
             <button type="button" id="internal_sms" class="btn btn-primary">Internal Test Message</button>
        <button type="button" id="live_sms" class="btn btn-primary">Live Message</button>
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
       
      </div>
      <div class="modal-footer">
       
       

         <div class="row well form-group" id="otp_div" style="display:none;text-align: center;">
  <h5>Otp has Been sent to Authorized Person.</h5>
  <label for="otp" >OTP:</label>
  <input type="text" id="otp" placeholder="enter 6digit otp here" name="otp" required />
  <input type="submit" class="btn btn-success" id="otp_button" /> 
  </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalLabel">New Email </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="email_div">
        <p id="emailsuserscount"></p>
          <div class="form-group">
            <label for="subject" class="form-control-label">Subject:</label>
            <input type="text" class="form-control" id="subject">
          </div>
          <div class="form-group">
            <label for="summernote" class="form-control-label">Email Body:</label>
         
           <textarea name="summernote" id="summernote" cols="30" rows="10">
   
   </textarea>
          </div>
          <div class="row">
             <button type="button" id="internal_email" class="btn btn-primary">Send Emails To Internal Team</button>
         <button type="button" id="live_emails" class="btn btn-primary">Send Emails To Live Users</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

      </div>
      <div class="modal-footer">
        <div class="row well form-group" id="email_otp_div" style="display:none;text-align: center;">
  <h5>Otp has Been sent to Authorized Person.</h5>
  <label for="otp" >OTP:</label>
  <input type="text" id="email_otp" placeholder="enter 6digit otp here" name="otp" required />
  <input type="submit" class="btn btn-success" id="email_otp_button" /> 
  </div>

      </div>
    </div>
  </div>
</div>
	</div>

    <div class="row" style="margin-top: -31px !important;">
        <h1 style="text-align:center">Offline Memberships Portal</h1>
    </div>
    <br>

<br>
<div class="row advanced_filters" >
		<div class="col-md-3 col-lg-3 col-sm-12">
		<label for="report_level" style="color:#337ab7" >Region Level:</label>
			<select class="custom-select" id="report_level" style="background: #fff;cursor: pointer; padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;">
    			<option selected value="">Select One</option>
			  <option  value="state">State</option>
			  <option value="district" >District</option>
			  
			  <option value="assembly">Assembly</option>
			  <option value="mandal">Mandal</option>
        
			</select>
		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" id="district_div" style="display:none">
			<label for="value_select" style="color:#337ab7" >Select District :</label>
			<select class="custom-select" id="district_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
    </select>
		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" id="value_div" style="display:none">
			<label for="value_select" style="color:#337ab7" >Select :</label>
			<select class="custom-select" id="value_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
    </select>

		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" >
		<button type="button" class="btn btn-success " id="advanced_filter_btn" style="margin-right:20px;width:100px;font-weight:800">Filter</button>
		</div>
	</div>
	<br>
</div>

<div class="row" id="table_div" style="display:none">


<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
	<table id="operations_table" class="display " cellspacing="0" width="100%" >
        <thead>
            <tr>
          
          
          <th>District </th>
          <th>Assembly </th>
          <th>P.S.ID</th>
          <th>Name</th>
           <th>Member ID</th>
           <th>Phone </th>
             <th>Referral ID </th>
          <th>SMS Delivery Status </th>
         
           
        </tr>
        </thead>
       
        <tbody id="operations_body">

        </tbody>
    </table>
</div>

  </div>
 <script type="text/javascript">
var states=[];
var districts=[];
var assemblies=[];
var parliament_constituencies=[];
var mandals=[];
var polling_booths=[];
var json_data=[];
var myTable;
var result;
$(document).ready(function()
{


  
    var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});



 
	  myTable = $('#operations_table').DataTable( {
                  data:[],
                  columns: [
      
     {data: "district_name"},
      {data: "constituency_name"},
      {data: "polling_station_id"},
       {data: 'name'},
        {data: 'membership_id'},
          {data: 'phone'},
          {data: 'referral_id'},
        {data: 'status'},
    
    


  
   ],
                //   dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                // "lengthMenu": [ [10, 25, 50, "All"]]
              } );
});
$("#report_level").change(function()
{
	if($(this).val()=='state')
	{
		$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select state</option>')
        .val('');
		$.each(states, function( index, value ) {
  			 $('#value_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#value_div").css("display","block");
		$("#district_div").css("display","none");
	}
	else if($(this).val()=='district')
	{
		$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
		$.each(districts, function( index, value ) {
  			 $('#value_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#value_div").css("display","block");
		$("#district_div").css("display","none");
	}
	
	else if($(this).val()=='assembly')
	{

		$('#district_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
		$.each(districts, function( index, value ) {
  			 $('#district_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#district_div").css("display","block");
		$('#value_div').css("display","none");
	}
  else if($(this).val()=='mandal')
  {

    $('#district_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
    $.each(districts, function( index, value ) {
         $('#district_select').append($("<option></option>").attr("value",value).text(value)); 
    });
    $("#district_div").css("display","block");
    $('#value_div').css("display","none");
  }
})

$("#advanced_filter_btn").click(function()
{
	
	var region_level=$("#report_level").val();
	var selected_value='';
	var district='';
	var data={}
	if(region_level)
	{
	if(region_level=='assembly')
	{
var state;
		district=$("#district_select").val();
		selected_value=$("#value_select").val();
		if(selected_value)
		{
				if (selected_state=='Andhra Pradesh')
			{
			state='1';
			}
			else
			{
			state='2';
			}
			data={type:region_level,value:selected_value,state:state}
		}
		else
		{
			swal('Error','please select region value','error');
			return false;
		}
		
	}
	else
	{
		selected_value=$("#value_select").val();
		if (selected_value)
		{
			if(region_level=='state')
			{
				if (selected_value=='Andhra Pradesh')
			{
			selected_value='1'
			}
			else
			{
			selected_value='2'
			}
			}
				data={type:region_level,value:selected_value}
		}
		else
		{
			swal('Error','please select region value','error');
			return false;
		}

	}
}
	

	if(Object.keys(data).length === 0)
	{
		swal('Error','please select atleast one field','error');
			return false;
		
	}
	else
	{

console.log(data);
		$(".loader").css("display","block");
		$.ajax({
           type: "GET",
           url:"/admin/offlinemembersdata",
           data:data,             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
               	result=response.data.children;
               
               
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
               		
               		$("#table_div").css("display","block");
               		$(".loader").css("display","none");
               		;
               		
               	 	}
               	else
               	{
               		$(".loader").css("display","none");
				swal('Error',response.errors,'error')
               	}
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
	}
});


$('#district_select').change(function()
{
	var district=$(this).val();
  if ($("#report_level").val()=='assembly')
{


	var assemblies=[];
	$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Assembly</option>')
        .val('');
	 $.each(json_data,function(i,val){
	 	if(val.district_name===district)
	 	{
	 		selected_state=val.state;
	 		 $('#value_select').append($("<option></option>").attr("value",val.constituency_id).text(val.constituency_name)); 
	 	}

	 	 });
	 $('#value_div').css("display","block");
}
else if ($("#report_level").val()=="mandal")
{
  $('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Mandal</option>')
        .val('');
   $.each(mandals,function(key,val){
   
    if(key==district)
    {
       $.each(val,function(i,value){
      // selected_state=val.state;
       $('#value_select').append($("<option></option>").attr("value",value.seq_id).text(value.mdl_name)); 
     });
    }

     });
   $('#value_div').css("display","block");
}


});
$.getJSON('/static/json/mandals.json',function(data){
            mandals=data;
          });
$.getJSON('/static/json/constituencies.json',function(data){
            json_data=data;
            $.each(data,function(i,val){
  
 if(states.indexOf(data[i].state) === -1){
        states.push(data[i].state);        
    } 
    if(districts.indexOf(data[i].district_name) === -1){
        districts.push(data[i].district_name);        
    }       
  });
	
 	
        }).error(function(){
            console.log('error');
        });

        $.getJSON('/static/json/parliament_constituencies.json',function(data){
            parliament_json_data=data;
            $.each(data,function(i,val){
  
 if(states.indexOf(data[i].state) === -1){
        parliament_constituencies.push(data[i].parliament_constituency_name);        
    } 
         
  });
  
  
        }).error(function(){
            console.log('error');
        });

 $('.multi_select').multiselect({
        templates: { 
            li: '<li><div class="checkbox"><label></label></div></li>'
        }
    });
    $('.multiselect-container div.checkbox').each(function (index) {

        var id = 'multiselect-' + index,
            $input = $(this).find('input');

        // Associate the label and the input
        $(this).find('label').attr('for', id);  
        $input.attr('id', id);

        // Remove the input from the label wrapper
        $input.detach();

        // Place the input back in before the label
        $input.prependTo($(this));

        $(this).click(function (e) {
            // Prevents the click from bubbling up and hiding the dropdown
            e.stopPropagation();
        });




    });















</script>
{% endblock %}