{% extends "admin_layout.html" %}
{% block body %}
 <style>
   .modal {
    position: fixed !important;
    top: 44px !important;
    left:100px;
}
.modal-header {
    background: #2e3b42;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    /* padding: 20px 0 10px 0px; */
    border: none;
    text-align: left;
    /* font-size: 2em; */
    height: 60px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.close {
    color: #fff;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.modal-header .close {
    margin-top: -13px !important;
    font-size: 21px !important;
     text-shadow: 0 1px 0 #fff !important;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <script type"text/javascript" src="/static/js/internalsms.js"></script>
 <script type"text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.16/api/sum().js"></script>

<div class="container" style="margin-top:20px">
    <div class="card">
        <div class="card-body" style="height:120px">
            <div class="row">
                <div class="col-md-4">
                    <label for="type" style="color:#080322;font-size: 18px;
                                                                    font-family: sans-serif;padding-left:9px">Regional Level:</label>
                    <select class=" btn btn-primary"  style="font-size:12px" id="type" >
                        <option value=""  selected>Select Region Level</option>
                        <option value="state">State</option>
                        <option value="district">District</option>
                         <option value="parliament">Parliament</option>
                        <option value="assembly">Assembly</option>
                       
                         <option value="mandal">Mandal</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="value_select" style="color:#080322;font-size: 18px;
                                                                    font-family: sans-serif;padding-left:9px">Select Region:</label>
                    <select class=" btn btn-primary"  style="font-size:12px" id="value" >
                        <option value=""  selected>Select State</option>
                        
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="button"  id="filter" class="btn btn-default" style="width:122px;height:38px;margin-top:-2px;">Filter</button>
                </div>
            </div>
             <div class="row">
              <a href="#" id="trend_report" style ="
    padding: 20px;
    font-weight: 800;
    text-transform: uppercase;
"> Click here for Trend Report</a>

             </div>


        </div>
    </div>
</div>

<div class="row">
  <P style="font-size:20px; font-weight:600;margin-left:30px">Total Membership:<span id="total"></span></p>
</div>
<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
	<table id="rankings_table" class="display " cellspacing="0" width="100%" >
        <thead>
            <tr id="thead">
          <th>name</th>
          <th>memberships</th>
          <th>votes</th>
         <th>percentage</th>
           
        </tr>
        </thead>
       
       
    </table>
</div>
<div class="modal fade " id="trendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xs modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="smsModalLabel"> Trend Graph </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="trend_body">
       
          {% include 'admin/memberships/trend.html' %}
       
      </div>
     
    </div>
  </div>
</div>
<script type="text/javascript">

$(document).ready(function()
{

    var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

var regions={'state':[{"id":"1","text":"Andhra Pradesh"},{"id":"2","text":"Telangana"}],
'district':[],'assembly':[],'parliament':[]};
  var myTable;
 var columns_all_data={};
columns_all_data['state']=[{data:'name'},{data:"memberships"},{data:"votes"},{data:"percentage"}];
columns_all_data['district']=[{data:'district_name'},{data:"memberships"},{data:"votes"},{data:"percentage"}];
columns_all_data['assembly']=[{data:'district_name'},{data:'constituency_name'},{data:"memberships"},{data:"votes"},{data:"percentage"}];
columns_all_data['parliament']=[{data:'parliament_constituency_name'},{data:"memberships"},{data:"votes"},{data:"percentage"}];
columns_all_data['mandal']=[{data:'district_name'},{data:'parliament_constituency_name'},{data:'constituency_name'},{data:"mandal_name"},{data:"memberships"}];
var columns_ind_data={};
columns_ind_data['state']=[{data:'district_name'},{data:"memberships"},{data:"votes"},{data:"percentage"}];
columns_ind_data['district']=[{data:'district_name'},{data:'constituency_name'},{data:"memberships"},{data:"votes"},{data:"percentage"}];
columns_ind_data['assembly']=[{data:'district_name'},{data:'constituency_name'},{data:"memberships"},{data:"votes"},{data:"percentage"}];
columns_ind_data['parliament']=[{data:'parliament_constituency_name'},{data:'constituency_name'},{data:"memberships"},{data:"votes"},{data:"percentage"}];
columns_all_data['mandal']=[{data:'district_name'},{data:'parliament_constituency_name'},{data:'constituency_name'},{data:"mandal_name"},{data:"memberships"}];
var dataObject = {
    columns: columns_all_data['state'],
    data: []
  }; 
var data_order;
  $.getJSON('/static/json/membership/constituencies.json',function(data){
            
             $.each(data,function(key,val){
      if(key<=parseInt("23"))
      {
        $.each(val,function(k,kval){
         
                 regions['assembly'].push(kval);
         }); 
      }
               
    });
  
  });
	
 $.getJSON('/static/json/membership/districts.json',function(data){
    $.each(data,function(key,val){
      if(key<=parseInt("2"))
      {
        $.each(val,function(k,kval){
         
                regions['district'].push(kval);
         }); 
      }
               
    });
  });
  	
   
$.getJSON('/static/json/parliament_constituencies.json',function(data){
            regions['parliament']=data;
           
         
  });
  
  


$("#type").change(function()
{
 
var type=$(this).val();
console.log(type)
var value_data=regions[type];

$('#value')
        .find('option')
        .remove()
        .end()
        .append('<option value="all" selected>All</option>')
        .val('');
        if(type=='state')
        {
          $.each(value_data, function( index, value ) {
     data_order=[[ 1, "desc" ]];
         $('#value').append($("<option></option>").
          attr("value",value.id).text(value.text)); 
    });
        }
          else if(type=='district')
          {
             data_order=[[ 1, "desc" ]];
             $.each(value_data, function( index, value ) {
     
         $('#value').append($("<option></option>").
          
          attr("value",value.id).text(value.district_name));

          });
        }
        else if(type=='assembly')
          {
            data_order=[[ 2, "desc" ]];
             $.each(value_data, function( index, value ) {
     
         $('#value').append($("<option></option>").
          
          attr("value",value.constituency_id).text(value.constituency_name).attr("data-state",value.state_id));
});
          }
          else if(type=='parliament')
          {
            data_order=[[ 1, "desc" ]];
             $.each(value_data, function( index, value ) {
     
         $('#value').append($("<option></option>").
          
          attr("value",value.parliament_constituency_name).text(value.parliament_constituency_name));

          });
        }
		 else if(type=='mandal')
          {
           
          
     
        console.log("mandal")        
          
        }


	})



$("#filter").click(function()
{

	var type=$("#type").val();
	var value=$("#value").val();
  var state_id='';

  var api_url="/membershipRankings?type="+type+"&value="+value;
if(type=='assembly')
{
state_id=$("#value option:selected").attr("data-state");
api_url=api_url+"&state_id="+state_id
}
	if(type)
	{
		if(value)
		{
			if(value=='all')
			{
				dataObject.columns=columns_all_data[type];
        console.log(dataObject)

			}
			else
			{

				dataObject.columns=columns_ind_data[type]

			}

			 $(".loader").css("display","block");

    $.ajax({
           type: "POST",
           url:api_url,
           
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           console.log(response)
               if (response.data.status=='1') {
               	var th_headings="";
               	$.each(dataObject.columns, function( index, value ) {
               		
               		th_headings=th_headings+"<th>"+value['data']+"</th>";

               	}) ;
               	 if ( $.fn.dataTable.isDataTable('#rankings_table' ) ) {

					         myTable.destroy();
					     }

					               	$("#thead").html(th_headings);
					// $("#rankings_table").html(th_headings);
					                result=response.data.children;
                          var total_memberships=0;
                           $.each(result, function( index, value ) {
                            total_memberships=total_memberships+value.memberships;
                           });
					                 $("#total").html(total_memberships);
					                 myTable = $('#rankings_table').DataTable({
									 
                     "order": data_order,
					                 data:[],
					    			columns:dataObject.columns,
									dom: 'Bfrtip',
									buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
									lengthMenu: [ [10, 25, 50, "All"]]

					            });
					                 myTable.clear().draw()
                 					myTable.rows.add( result ).draw()
                
                 
                  $(".loader").css("display","none");
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        			swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
		}
		else
	{
		swal("Error","Please select  one region value","error")
		return false;
	}
	}
	else
	{
		swal("Error","Please select  one region type","error")
		return false;
	}

});

$("#trend_report").click(function()
{
  
$('#trendModal').modal('show');
});

});
</script>

{% endblock %}