
   <style>
   .form-control
   {
    width:80% !important;
   }
   </style>
    <link rel="stylesheet" href="{{url_for('static',filename='membership_report/index.css')}}"/>
   
<div class="row" style="padding-left: 20px;">
 <div class="card">
 <div class="card-body" style="height:120px">

    <div class="form-group row advanced_filters " >
        <div class="form-group col-xs-3 col-md-3 col-lg-3 col-sm-12">
            <label class="control-label" for="report_level" >Region Level:</label>
            <select class="form-control" id="report_level"
                    >
                     
                 <option selected value="">Select One</option>
                <option value="state">State</option>
                <option value="district">District</option>
                <option value="parliament">Parliament</option>
                <option value="assembly">Assembly</option>

               
               
            </select>
        </div>
        <div class="form-group col-xs-3 col-md-3 col-lg-3 " id="district_div" style="display:none">
            <label class="control-label" for="district_select" style="color:#337ab7">Select District :</label>
            <select class="form-control" id="district_select" >
            </select>
        </div>
        <div class="form-group col-xs-3 col-md-3 col-lg-3  col-sm-12" id="value_div" style="display:none">
            <label class="control-label" for="value_select" style="color:#337ab7">Select Value:</label>
            <select class="form-control" id="value_select" >
            </select>

        </div>

          <div class="form-group col-xs-3 col-md-3 col-lg-3  col-sm-12">
        <label class="control-label" for="no_volunteers">Select NO OF Volunteers:</label>
        <select class="form-control"  id="no_volunteers" >
           
  <option value="10" >Top 10</option>
            <option value="20">Top 20</option>
            <option value="50" selected>Top 50</option>       
    <option value="100">Top 100</option>

             <option value="1000">Top 1000</option>
             <option value="5000">Top 5000</option>
             <option value="10000">Top 10000</option>
            
            </select>
    </div>
     </div>
     <div class="form-group col-xs-12 col-md-12 col-lg-12 col-md-offset-4 col-lg-offset-4" style="padding-top:20px;">
            <button type="button" class="btn btn-success " id="advanced_filter_btn"
                    style="font-weight:800">Filter
            </button>
        </div>
        
    </div>
       
        </div>
    </div>
  
  
  
    <div id="graph" class="tab-pane fade in" data-name="graph">
        <div id="chart_div"></div>
    </div>

</div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="/static/js/report_level.js"></script>
          


      
      
