
   
    <link rel="stylesheet" href="{{url_for('static',filename='membership_report/index.css')}}"/>
   
<div class="row" style="padding-left: 20px;">
 <div class="card">
 <div class="card-body" style="height:120px">

    <div class="form-group row advanced_filters " >
        <div class="form-group col-xs-3 col-md-3 col-lg-3 col-sm-12">
            <label class="control-label" for="report_level" >Region Level:</label>
            <select class="form-control" id="report_level"
                    >
                <option selected value="">Select One</option>
                <option value="state">State</option>
                <option value="district">District</option>

                <option value="assembly">Assembly</option>
               
            </select>
        </div>
        <div class="form-group col-xs-3 col-md-3 col-lg-3 " id="district_div" style="display:none">
            <label class="control-label" for="district_select" style="color:#337ab7">Select District :</label>
            <select class="form-control" id="district_select" >
            </select>
        </div>
        <div class="form-group col-xs-3 col-md-3 col-lg-3  col-sm-12" id="value_div" style="display:none">
            <label class="control-label" for="value_select" style="color:#337ab7">Select Value:</label>
            <select class="form-control" id="value_select" >
            </select>

        </div>

          <div class="form-group col-xs-3 col-md-3 col-lg-3  col-sm-12">
        <label class="control-label" for="no_days">Select Days:</label>
        <select class="form-control"  id="no_days" >
            <option value="7" selected>Last 7 days</option>
            <option value="15">Last 15 days</option>
            <option value="30">Last 30 days</option>
            </select>
    </div>
     </div>
     <div class="form-group col-xs-12 col-md-12 col-lg-12 col-md-offset-4 col-lg-offset-4" style="padding-top:20px;">
            <button type="button" class="btn btn-success " id="advanced_filter_btn"
                    style="font-weight:800">Filter
            </button>
        </div>
        
    </div>
       
        </div>
    </div>
  
  
  
    <div id="graph" class="tab-pane fade in" data-name="graph">
        <div id="chart_div"></div>
    </div>

</div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="/static/js/report_level.js"></script>
        <script src="/static/membership_report/index.js"></script>   


      
      
