{% extends "admin_layout.html" %}
{% block body %}
 <style>
  
</style>
<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <script type"text/javascript" src="/static/js/internalsms.js"></script>
 <script type"text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.16/api/sum().js"></script>

<div class="container" style="margin-top:20px">
   {% include 'admin/memberships/top_volunteers.html' %}

<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
	<table id="volunteers_table" class="display " cellspacing="0" width="100%" >
        <thead>
            <tr id="thead">
              
              <th >District</th>
              <th >Constituency</th>
              <th >Mandal</th>
              <th >Booth</th>
              <th >Name</th>
              <th >Membership id</th>
             <th >phone</th>
             <th >email</th>
              <th >Gender</th>
               <th >Age</th>
              <th >Achievement</th>
              
        
           
        </tr>
        </thead>
       
       
    </table>
</div>
</div>
<script type="text/javascript">
var myTable;
$(document).ready(function()
{

    var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

 myTable = $('#volunteers_table').DataTable( {
                  data:[],
                  columns: [
      
     
      {data: "district_name"},
      {data: "constituency_name"},
      {data:"mdl_name"},
      {data: "polling_station_id"},
       {data: 'name'},
        {data: 'membership_id'},
          {data: 'phone'},
    {data: "email"},
    {data: "gender"},
    {data: "age"},
   
    {data: "achievement"}],


  
   //   "columnDefs": [ {
   //          "searchable": false,
   //          "orderable": false,
   //          "targets": 0
   //      } ],
   //      "order": [[ 1, 'asc' ]],

                  dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]} );


//    myTable.on( 'order.dt search.dt', function () {
//         myTable.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
//             cell.innerHTML = i+1;
//         } );
// } );
$("#advanced_filter_btn").click(function()
{

	var type=$("#report_level").val();
	var value=$("#value_select").val();
  var no_of_volunteers=$("#no_volunteers").val();
    if(!type)
  {
    swal("Error","Please select  one region Level","error")
    return false;
  }
  if(!value)
 
  {
    swal("Error","Please select  one region Value","error")
    return false;
  }
  var state_id='';

  var api_url="/getTopVolunteers?type="+type+"&value="+value+"&vol="+no_of_volunteers;
if(type=='assembly')
{

api_url=api_url+"&state_id="+selected_state
}
	

			 $(".loader").css("display","block");
console.log(api_url);
    $.ajax({
           type: "GET",
           url:api_url1,
           
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           console.log(response)
               if (response.data.status=='1') {
                result=response.data.children;
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  
               
                  $(".loader").css("display","none");
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        			swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
		
	

});



});
</script>

{% endblock %}