{% extends "admin_layout.html" %}
{% block head%}
<link href="/static/css/jquery.contextMenu.min.css" rel="stylesheet">
<link href="/static/css/tree_ui_mine.css" rel="stylesheet">
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block body %}
<div class="row">
    <button id='cr_button' class="btn col-md-4 cr_grp" style="margin-left:15px;">Create Group</button>

</div>
<div class='row' >
    <div class="col-md-4 treeview" id="tree">
    </div>
    <div class="col-md-8" id="members">
        <div class="row hide_list" id="search_row">



            <div class="form-group col-md-8">
              <label for="mobile_number">Enter Mobile Number/ Membership ID</label>
              <input type="text" class="form-control input-sm" id="mobile_number">
            </div>


		    <div class="col-md-3 col-lg-3  col-sm-12 button_padding" >
		    <button type="button" class="btn btn-success" id="advanced_filter_btn">Filter</button>
		    </div>
        </div>
        <div class="row hide_list" id="add_member_box">
            <div class="form-group col-md-4">
              <label for="role_list">Select list:</label>
              <select class="form-control" id="role_list">

              </select>
            </div>
            <div class="form-group col-md-4 button_padding"><button type="button" class="btn btn-success form-control" id="add_member_button">Add member</button></div>
        </div>
        <div class="row" id="member_list"></div>
    </div>
</div>
<div class="group_pop modal fade" role="dialog" id="group_pop_modal">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create Group</h4>
      </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6" >
                    <div class="form-group">
                      <label for="group_name">Group Name:</label>
                      <input type="text" class="form-control" id="group_name">
                        <input type="hidden" id="parent_path">
                    </div>
                    <div class="form-group">
                      <label for="sel1">Select Group Type:</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                </div>
                <button class="btn grp_submit col-md-3">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="edit_group_modal">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Group</h4>
      </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6" >
                    <div class="form-group">
                      <label for="group_name">Group Name:</label>
                      <input type="text" class="form-control" id="edit_group_name">
                        <input type="hidden" id="edit_group_path">
                    </div>

                </div>
                <button class="btn col-md-3" id="edit_submit">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="edit_member_modal">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Member</h4>
      </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6" >
                    <div class="form-group">
                      <label for="edit_member_name">Member Name:</label>
                        <span id="edit_member_name" ></span>

                        <input type="hidden" id="edit_role_id">
                    </div>
                    <div class="form-group">
                      <label for="edit_role_value">Select list:</label>
                      <select class="form-control" id="edit_role_value">

                      </select>
                    </div>
                    <div class="form-group">
                        <button class="btn col-md-3" id="edit_role_submit">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="/static/js/bootstrap-treeview.min.js"></script>
<script src="/static/js/jquery.contextMenu.min.js"></script>
<!--<script src="/static/js/jquery.contextMenu.min.js.map"></script>-->
<script src="/static/js/init.js"></script>
<script src="/static/membership_groups/js/mytree.js"></script>
<script>
    $(document).ready(function(){


        var select_box = $('#sel1');


        var tree_array = []

        get_tree();




        var group_pop = $('#group_pop_modal');

        $('.cr_grp').click(function(){
            group_pop.modal('show');
        });
        $('.grp_submit').click(function(){
            var group_name = $('#group_name').val();
            var url = '/group/create'
            var data = {}
            data.parent_path = group_pop.find('#parent_path').val();
            data.group_name = group_name;
            data.group_type_id = select_box.val()
            data.csrf_token = '{{csrf_token()}}';
            $('.loader').css('display','block');
                $.ajax({
                  type: "POST",
                  url: url,
                  data: data,

                  success: function(response){
                    console.log(response);
                    group_pop.find('#parent_path').val('');
                    $('.loader').css('display','none');
                    $('#group_name').val('')
                    group_pop.modal('toggle');
                    get_tree();
                  }
                });

            });
    });

</script>
{% endblock %}