@font-face {
    font-family: ProximaNova;
    src: url("/static/userdatamanagement/font/google.otf");
    }
    body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}
    html, body{
        font-family: ProximaNova;
        width: auto;
        overflow: hidden
        
    }
    ::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}
    p{
    color: #848484;
    }
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.menuforall{
    margin-top: 48px;
    box-shadow: 0 0 4px rgba(0,0,0,.14) ,0 4px 8px rgba(0,0,0,.28);
    background: #fff; 
    padding-left: 10px;
    padding-bottom: 10px;
    z-index: 3;
    position: absolute;
}
    .square{
        background: #50b4b8;
      
        height: 100px;
        padding: 10px;
        float: left;
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;
        text-align:center;
    }
    .square > i{
        color: white;
        text-align:center;
        font-size: 30px;
        /*padding-top: 15px;*/
        /*padding-left: 28px;*/
    }
    .square > p{
        color: white;
        text-align: center;
    }
.menu_wrap {
   
}
.loader {
  width: 100px;
  height: 100px;
  margin: 160px auto;
  animation: ripple 0.6s linear infinite;
  border-radius: 50px;
}

/* dalgalanma efekti */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.1), 0 0 0 20px rgba(0, 128, 0, 0.1), 0 0 0 40px rgba(0, 128, 0, 0.1), 0 0 0 60px rgba(0, 128, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 128, 0, 0.1), 0 0 0 40px rgba(0, 128, 0, 0.1), 0 0 0 60px rgba(0, 128, 0, 0.1), 0 0 0 80px rgba(0, 128, 0, 0);
  }
}
.wraploading {
position: absolute; top: 0; left: 0; z-index: 60000; color: white; background: rgba(0,0,0,0.9); padding: 4px; box-shadow: 0 0 4px rgba(0,0,0,.14) ,0 4px 8px rgba(0,0,0,.28); width: 100%; height: 100%
}

.notrend {
    color: white;
    padding: 10px
}

.overlayforedit {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 7;
    padding: 80px;
}

.white {
    color: white;
    font-weight: normal;
    font-size: 20px;
}

.padoverlay {
    background: #fff;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.padoverlay h3{
    color: #4DB6AC;
}

.alignright {
    text-align: right;
}

.bodyforoverlay {
    background: #4DB6AC;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.rectangle {
    border-radius: 0;
}

.rightpush {
    position: absolute;
    width: 500px;
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    z-index: 100000;
    background: #76608a;
    box-shadow: 0 0 4px rgba(0,0,0,.14) ,0 4px 8px rgba(0,0,0,.28);
    padding: 10px;
    
}
.rightpushgraph {
    position: absolute;
    width: 500px;
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    z-index: 100000;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.14) ,0 4px 8px rgba(0,0,0,.28);
    padding: 10px;
    
}

.wrapgreen {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 99999;
    background: rgba(38,166,154,0.3);
}

.bottompush {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 400px;
    z-index: 100000;
    background: rgb(38,166,154);
    box-shadow: 0 0 4px rgba(0,0,0,.14) ,0 4px 8px rgba(0,0,0,.28);
    padding: 10px;
}

.doublewrapgreen {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 99999;
    background: rgba(0,0,0,0.5);
}
.byellow{
margin:5px; border: 1px solid #bce8f1; color: white; background-color: #5cb85c;
}
.bgray{
margin:5px; border: 1px solid #bce8f1; color: white; background-color: #e1dad3;
}
.accordionhover:hover{
    background: #DEEDF5;
    cursor: pointer;
}
/*apply colors if not selected, if selected I want the default selected css*/
.picker-day.holiday:not(.picker-selected){
   background-color: #00ffa2;
   color: #fff;
}

/*if my holiday isn't clickable (it's the case in the demo)*/
.picker-day.holiday.picker-off{
   background-color: #00a267;
   color: #fff;
   cursor: default;
}

/*my birthday, is clickable*/
.picker-day.birthday:not(.picker-selected){
   background-color: #ded100;
   color: #000;
}