{% extends "layout.html" %}
{% block body %}
<div class="col l9 m12 s12">
        <div class="row">
          <div class="col l4 m6 s12 center-align">
            <h5 class="red-text" style="font-family: 'Bree Serif', serif; font-size:30px;">JanaSena Party</h5>
            <img src="static/img/jenasena_logo.png"  class="responsive-img" alt=" ">
            <p class="black-text" style="line-height:21px; font-size:16px;"> <em>Janasena Party founded by Mr.Pawan Kalyan is a Regional party with a National outlook and has a Pan-India support.JSP has a deep rooted base in Andhra Pradesh and Telangana  &amp; its presence could be felt in the bordering states of Maharashtra, Karnataka, Odisha, and some parts of Tamilnadu. </em>  </p>
          </div>
          <div class="col l8 m6 s12">
            <h5 class="black-text" style="font-family: 'Bree Serif', serif;">Genesis of Janasena Party :</h5>
            <br>
            <p style="line-height:21px;"> On 10 March 2014, Party founder Mr.Pawan Kalyan submitted an application for registering the party name. Janasena Party was formally announced by Mr.Pawan Kalyan on 14 March at Hyderabad. Janasena means People’s Army in Telugu.<br><br>

The party has been approved by Indian Election Commission on 11 December 2014 and will contest elections in the states of Andhra Pradesh and Telangana for the upcoming 2019 elections.<br><br>

For 2014 elections Janasena Party lead by Mr.Pawan Kalyan campaigned for the United front of Telugu Desam Party &amp; BJP and succeeded in his campaigning by drawing huge attention from the crowds all over the state.<br>
<br>
Mr.Pawan Kalyan’s efforts eventually led to the victories of the respective parties in Andhra Pradesh state and thus for the establishment of Government in Andhra Pradesh.<br>
<br>

<h5 style="font-family: 'Bree Serif', serif;">Significance of emblem :</h5>
<h6 class="red-text" style="font-size:18px;">Janasena Party Emblem is a combination of forces that define our nation's life and struggle.</h6><br>

<h6 class="red-text">The white background:</h6> The white background on which it stands signifies the peace and stability of several thousands of years of Indian civilisation and culture.<br><br>

<h6 class="red-text">The colour Red:</h6> The Emblem itself is in the colour red, which signifies revolution. A deep and true change from within ; the story of that change is told on the background of our glorious nation.<br><br>

<h6 class="red-text">The six-pointed Star:</h6> The star in the Emblem is a six pointed star that signifies the ideals of our party. The white in the star signifies self-luminosity unto the righteous path.<br><br>

<h6 class="red-text">The dot in the centre:</h6> The dot in the centre represents the soul of every being.The true reality and ultimate truth. The soul at the centre is also at the heart of everything we do as individuals and as a nation.<br><br>

<h6 class="red-text">The black lining:</h6> The black lining on the emblem symbolises the balance between revolutionary zeal and its opposing forces to avoid one-sidedness and discordance.</p><br>
<br>


          </div>
        </div>
         </div>
     {% endblock %}