<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ramabhadra&amp;subset=telugu" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/assets/css/sweetalert.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.0/dist/bootstrap-float-label.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
   <script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>

    <style>
    @media (max-width: 415px){
          
           #verify{
            margin-top:30px;
            margin-left:30px;
           }
          .row_container{
   width: 100%!important;
 }
 .xs-hidden{
   display:none!important;
 }
 .playstore{
   display:none!important;
 }
 .googleplay{
   display:none!important;
 }
 .login_image{
  display:none;
}
.login_form{
 width: 100%;
}

#resendotp{
    margin-right:0px!important
}



.form_container
{
 max-width: 90%;
 margin: 15px auto;
 background: #fff;
 border-radius: 0;
 border: 1px solid #d92027;
 padding: 10px 10px 10px 10px;
}

.form-control{
    width:100% !important;
    border-radius: 1px;   
     border-color: cadetblue;
}


}
.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
        

        .fa {
            padding: 3px !important;
            font-size: 22px !important;
            width: 30px !important;
            text-align: center !important;
            text-decoration: none !important;
            margin: 3px !important;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-home {
            background: #bb0000;
            color: white;
        }

      

        .loader {
            position: fixed;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            margin: 0 auto;
            z-index: 100;
            display: none;
        }

        .spinner {
            margin: 0 auto;
            width: 100px;
            margin-top: 10%;
            height: 100px;
        }
    .form-control{
    width:50%;  
    border-radius: 1px; 
       border-color: cadetblue;
}

/* label{
       font-family: Ramabhadra,sans-serif;
    font-size: 20px;
    font-weight: 500 !important;
    padding-right: 20px;
      } */
    </style>
</head>
<body>
        <div class="loader">
                <div class="spinner">
                    <svg width='48px' height='48px' xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100"
                        preserveAspectRatio="xMidYMid" class="uil-hourglass">
                        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                        <g>
                            <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z"
                                class="glass"></path>
                            <clipPath id="uil-hourglass-clip1">
                                <rect x="15" y="20" width="70" height="25" class="clip">
                                    <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0"
                                        keyTimes="0;0.5;1"></animate>
                                    <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45"
                                        keyTimes="0;0.5;1"></animate>
                                </rect>
                            </clipPath>
                            <clipPath id="uil-hourglass-clip2">
                                <rect x="15" y="55" width="70" height="25" class="clip">
                                    <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25"
                                        keyTimes="0;0.5;1"></animate>
                                    <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55"
                                        keyTimes="0;0.5;1"></animate>
                                </rect>
                            </clipPath>
                            <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)"
                                fill="#ffab00" class="sand"></path>
                            <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)"
                                fill="#ffab00" class="sand"></path>
                            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite"
                                dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="wrapper" style="height:60px;width:100%;position:fixed;top:0;
            z-index:1000;box-shadow: 0 3px 5px #607D8B;background-color: white;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <img src="/static/img/sena2.png" style="width:50px;margin: 6px 6px 6px 6px;margin-top:6px">
                        </div>
                        <div class=" car xs-hidden col-xs-4 col-sm-2 col-md-4 col-lg-5">
                            <h3>Janasena</h3>
                        </div>
        
        
                        <div class="social-icons col-xs-9 col-sm-8 col-md-6 col-lg-6" style="text-align:right;
                    margin-top: 18px;">
                            <a href="https://janasenaparty.org/">
                                <i class="fa fa-home"></i>
                            </a>
                            <a href="https://www.facebook.com/janasenaparty/" target="_blank" class="fa fa-facebook"></a>
                            <a href="https://www.instagram.com/Janasenaparty/" target="_blank" class="fa fa-instagram"></a>
                            <a href="https://twitter.com/Janasenaparty?lang=en" target="_blank" class="fa fa-twitter"></a>
                            <a href="https://www.youtube.com/Janasenaparty" target="_blank" class="fa fa-youtube"></a>
                            <!--  <a class=googleplay href="https://play.google.com/store/apps/details?id=com.janasena.events" target="_blank">
                                <img src=img/google_play.png style="max-height:28px;">
                            </a>
                            <a class=playstore href="https://itunes.apple.com/in/app/news-events/id1418961665?mt=8" target="_blank">
                                <img src="/static/img/app-store.png" style="max-height:28px">
                            </a> -->
                        </div>
        
                    </div>
                </div>
            </div>
<div class="container row_container" id="form_container" style="width:60%">
<h3 style="text-align: center; color: #d81615;
margin-top: 95px;">Login Here</h3>
<div class="border" style="
margin-bottom: 30px;
border: #587783 solid 3px;
padding: 30px;
background: rgba(255,255,255,.95);
position: relative; margin-top: 40px;" >
    <div class="row" id="login_phn">
        <div class="col-md-3 col-lg-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
                    <label>Enter Phone Number</label>

                    <div class="form-inline">
                            <input class="form-control" oninput="maxLengthCheck(this)" maxlength="10" onkeypress="return isNumeric(event)" type="text" id="phone" name="phone" style="width:65%">
                            <input type="button" class="btn btn-primary" id="verify" value="Generate OTP">
                            </div>

                   
        </div> 
    </div>
    <div class="row" id="otp_div" style="display:none">
            <div class="col-md-3 col-lg-3 "></div>
            
                    <div class="col-md-6 col-sm-12 col-lg-9" style="margin-top: 34px;">

                            <h5>6 Digit OTP has been sent to given Mobile Number.</h5>
                            <label for="otp">OTP :</label>
                            <input type="text" class="form-control" name="otp" id="otp" placeholder="Please Enter OTP Here" minlength="6"
                              maxlength="6" required="" style="width:45%">
                            <p class="alert alert-danger " id="otp_error" style="display:none">Enter Valid OTP.</p>
                            <p id="resendotptag"><a href="#" id="resendotp" style="">Resend OTP</a></p>
                            <button type=submit class="btn btn-primary" id="otp_submit">Verify</button>
                          </div>
            </div>
    </div>
            </div>
    </div>
   
<script>
function validateOTPLength() {
      var regex = /^[0-9]{6}$/g;
      var otp = $("#otp").val();
      var length = otp.length;
      if (length == 6) {
        if (regex.test(otp)) {
          $("#otp_error").css("display", "None");

        }
        else {
          $("#otp_error").css("display", "block");

        }
      }
      else {
        $("#otp_error").css("display", "None");

      }

    }
function isNumeric(evt) {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
      var regex = /[0-9\b]|\./;
      if (!regex.test(key)) {
        theEvent.returnValue = false;
        if (theEvent.preventDefault) theEvent.preventDefault();
      }
    }
    function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }

$(document).ready(function () {

     var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
    $('#verify').click(function(){
      var phone=$('#phone').val();
      if(phone.length!=10)
      {
       swal("Error", "enter valid mobile number ", 'error');
        return false;
      }
        
        $('.loader').css('display','block')
        $.ajax({
          url: "/verify_assembly_member?phone="+phone,
          type: 'GET',
          dataType: "json",
          crossDomain: true,
          contentType: "false",
          success: (function (response) {
             $('.loader').css('display','none')
            if(response.status==1)
            {
              $("#phone").prop("readonly", true);
             

                $('#otp_div').css('display','block');
                $('#verify').css('display','none');
               
           
            }
            else
            {
              swal("Error", response.errors, 'error');
            }
          
    }),
   
    error: (function (response) {

$(".loader").css("display", "none")
swal("Error", "Something wrong. please check your internet ", 'error');
return false;
})
        })
    })


    $("#resendotp").click(function () {
       var phone=$('#phone').val();
      if(phone.length!=10)
      {
       swal("Error", "enter valid mobile number ", 'error');
        return false;
      }
      if(phone.length!=10)
      {
       swal("Error", "enter valid mobile number ", 'error');
        return false;
      }
        var phone=$('#phone').val();
        $('.loader').css('display','block')
        $.ajax({
          url: "/verify_comittee_member?phone="+phone,
          type: 'GET',
          dataType: "json",
          crossDomain: true,
          contentType: "false",
          success: (function (response) {
             $('.loader').css('display','none')
            if(response.status==1)
            {
             

                $('#otp_div').css('display','block');
                $('#login_phn').css('display','none')
           
            }
             else
            {
              swal("Error", response.errors, 'error');
            }
          
    }),
   
    error: (function (response) {

$(".loader").css("display", "none")
swal("Error", "Something wrong. please check your internet ", 'error');
return false;
})
        })
      
    
    })
   
   
    $('#otp_submit').click(function(){

       var phone=$('#phone').val();
       var otp=$("#otp").val()
       if(otp.length!=6)
       {
        swal("Error", "enter valid otp ", 'error');
        return false;
       }
      $('.loader').css('display','block')
        var data={'phone':phone,'otp':otp}
        $.ajax({
          url: "/comittee_login",
          type: 'POST',
          data:JSON.stringify(data),
          dataType: "json",
            contentType: "application/json",
          success: (function (response) {
              $('.loader').css('display','none')
            if(response.status==1)
            {
            
              var redirect=response.redirecturi
             window.location.href=redirect;
           
            }
            else{
                swal("Error", "Wrong OTP ", 'error');
                return false;
            }
    }),
   
    error: (function (response) {

$(".loader").css("display", "none")
swal("Error", "Something wrong. please check your internet ", 'error');
return false;
})
        })


    })

})
</script>
</body>
</html>

