{% extends "layout.html" %}
{% block body %}
<div class="col l9 m12 s12">
       
                                

<div class="row" >
              <div class="col m6 l6 s12" style="text-align:left;margin-top:20px;padding:10px">
                <h3 style="font-size:larger;color:#d81615">Contact Us:</h3>
              <div class="address" style="text-align:left;"> <span style="font-size:larger;color:#d81615">JanaSena Party Office:</span><br><br><span style="font-size: medium;"> Plot No.12, Road No.72, Prashasan Nagar,Jubilee Hills, Hyderabad, Telangana 500033</div>

              <br>

              <div class="phone" style="text-align:left;font-size: medium;">Phone: 040-23545990</div>

              <br>
              <div class="email" style="text-align:left;font-size: medium;"> Mail:
              <a href="mailto:contact@janasenaparty.org" target="_blank">contact@janasenaparty.org  </a> , 
              &nbsp; &nbsp;<a href="mailto:media@janasenaparty.org" target="_blank">media@janasenaparty.org  </a>
              </div> 




              </div>
                                

              <div class="col m6 l6 s12" style="margin-top:20px;padding:10px">

             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.8138134541164!2d78.40171921487679!3d17.420720588058686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb96d127e57847%3A0xd33f2ec60aebe6cf!2sJana+Sena+Party!5e0!3m2!1sen!2sin!4v1504592312237" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

              </div>

                                                          


 </div>
         
         </div>
     {% endblock %}