{% extends "layout.html" %}
{% block body %}<!DOCTYPE html>

        <!-- InstanceBeginEditable name="body" -->
      <div class="col l9 m12 s12">
        <div class="container"style="font-family: 'Bree Serif', serif !important;line-height: 1.5 !important;font-size: 18px !important;"  >
<div align="center" ><h1 style="color:#d91516">JANASENA PARTY</h1></div>
<h1>Disclaimer :</h1>





<b>No warranties</b>

<span>WWW.JANASENAPARTY.ORG (hereinafter referred to as the “website”) is provided “as is” without any representations or warranties, express or implied. This website makes no representations or warranties in relation to this website or the information and materials provided on this website.<span>


<span>Without prejudice to the generality of the foregoing paragraph, the website does not warrant that:</span><br>

<span>this website will be constantly available, or available at all; or</span><br>
the information on this website is complete, true, accurate or non-misleading.
Nothing on this website constitutes, or is meant to constitute, advice of any kind.</span><br>

<b>Limitations of liability</b>

<span>The website will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website</span><br>

<span>for any direct loss;</span><br>
<span>for any indirect, special or consequential loss; or</span><br>
<span>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</span><br>
<span>All maps  that may be used on WWW.JANASENAPARTY.ORG are provided by Google Maps and are for illustration purpose only</span><br>

<span>These limitations of liability apply even if the website has been expressly advised of the potential loss.</span><br>



<b>Exceptions</b>

<span>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit this website’s liability in respect of any:</span><br>

<span>fraud or fraudulent misrepresentation on the part of the website; or
matter which it would be illegal or unlawful for the website to exclude or limit, or to attempt or purport to exclude or limit, its liability.</span><br>
<b>Reasonableness</b>

<span>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</span><br>

<span>If you do not think they are reasonable, you must not use this website.</span><br>

<b>Other parties</b>

<span>You accept that, as a political campaigning entity, the website has an interest in limiting the personal liability of its staff and volunteers. You agree that you will not bring any claim personally against the website’s staff or volunteers in respect of any losses you suffer in connection with the website.</span><br>

<span>You agree that the limitations of warranties and liability set out in this website disclaimer will protect the website’s staff, volunteers, agents, contractors, as well as the website itself.</span><br>

<b>Unenforceable provisions</b>

<span>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</span><br>

<span>This website disclaimer is based on an original template created by website-contracts.co.uk and distributed by freenetlaw.com</span><br>

</div>

<!-- This privacy statement is based on an original template created by website-contracts.co.uk and distributed by freenetlaw.com -->
</div>
          
      {% endblock %}