{% extends "layout.html" %}
{% block body %}
<div class="col l9 m12 s12">
   <!--  <div class="row">
      <strong>  <marquee><p style="font-family: Impact; font-size: 18pt;color:#d81615"> .  </p></marquee></strong>
    </div> -->
        <div class="row">

          <div class="col l2 m2 s12" >
            <div class="home-red-box" style="font-family: 'Bree Serif', serif;">
              <h6 style=" font-size:11px; font-weight:600; line-height:19px;">ఇది సామాన్యుడి సేన<br>
                    ప్రతి ఒక్కరి సేన<br>
                    ఇది మన సేన<br>
                    జనసేన !!</h6>
              <a href="/about" class="black-text">more</a> </div>
              <a href="https://www.youtube.com/watch?v=YiTTBZtmVAU" target="_blank">  <div class="home-red-box" style="background:#d81615 url(static/img/launch-speech.png) no-repeat bottom left;"></div></a>
              <a href="https://www.youtube.com/watch?v=0p3E615OZdk" target="_blank"><div class="home-red-box" style="background:#d81615 url(static/img/harvard-img.png) no-repeat bottom left;"></div></a>
          </div>
          <div class="col l10 m10 s12  red">
            <div class="jtaCarousel">
              <div class="banner-controls banner-prev-position">
                <div class="banner-control-button banner-prev">  <i class="fa fa-chevron-left"></i></div>
                <!-- /.banner-control-button banner-prev --> 
              </div>
              <!-- /.banner-controls banner-prev-position -->
              <ul class="banner">pawan-kalyan-home-slide3
              <li class="banner-item">
               
                <div style=" background-image:url(/static/img/janasainyam_promo.jpg);cursor: pointer;" onclick="window.open('https://play.google.com/store/apps/details?id=com.janasena.powerchamp', '_blank')"> </div>
               
                   <!-- <div class="slide-caption" style="font-size:18px; color:white;background-color:#d91516;min-height:68px;line-height:68px; ">కోట్లాది రూపాయల సంపాదన కంటే... సమస్యలవైపు నిలబడడమే నాకు ఇష్టం.</div> -->
                 
                </li>
                <li class="banner-item">
                 <div style="background-image:url(/static/img/eventspromotion.jpg);cursor: pointer;" onclick="window.open('https://play.google.com/store/apps/details?id=com.janasena.events', '_blank')">
                  <!-- <div class="slide-caption" style="font-size:18px; color:white;background-color:#d91516;min-height:68px;line-height:42px; ">Youth is the creative force for India, not a vote bank !</div> -->
                  </div>
                </li>
                <li class="banner-item">
                  <div style=" background-image:url(/static/img/missedcall_promo.JPG)">
                 <!--  <div class="slide-caption" style="font-size:18px; color:white;background-color:#d91516;min-height:68px;line-height:42px; ">First be a Human &amp; Indian and then talk about your caste, creed &amp; religion</div> -->
                  </div>
                </li>
              </ul>
              <!-- /.banner -->
              <div class="banner-controls banner-next-position">
                <div class="banner-control-button banner-next"> <i class="fa fa-chevron-right"></i> </div>
                <!-- /.banner-control-button banner-next --> 
              </div>
              <!-- /.banner-controls banner-next-position -->
              <div class="banner-location"></div>
              <!-- /.banner-location --> 
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col l12 m12 s12" style="background:url(static/img/innner-line-spacer.png) no-repeat top left; padding:5px;">&nbsp;</div>
          <div class="col l4 m3 s12 rt-border-blk">
            <h5 class="red-text" style="font-family: 'Bree Serif', serif; font-size:20px;"><strong>#APDemandsSpecialStatus</strong></h5>
            <p style="font-size:14px; line-height:20px;" class="black-text"> విభజనకి ముందు పంచభక్ష్యాలతో కూడిన స్పెషల్ స్టేటస్ ఇస్తామని మాట ఇచ్చి ఓట్లు వేయించుకుని అధికారంలోకి వచ్చి అన్ని రాష్ట్రాలకి సాధారణంగా ఇచ్చే నిధులకి.. స్పెషల్ ప్యాకేజి అని ముసుగు తొడిగి రెండు పాచిపోయిన లడ్డూలు ప్రజల చేతిలో పెడతారా..?? </p>
          </div>
          <div class="col l4 m3 s12 center-align rt-border-blk">
            <h5 class="red-text" style="font-family: 'Bree Serif', serif;" class="black-text">Eradicate
              Uddanam
              Nephropathy</h5>
            <p>It is the social responsibility of all the political parties of AP to understand the gravity, seriousness of the victim's pain and suffering in Uddanam Kidney Issue.<br>
<br>
<br>
<br>
</p>
          </div>
          <div class="col l2 m3 s12 center-align">
            <h5 class="red-text" style="font-family: 'Bree Serif', serif;">Leader
              to
              Cadre</h5>
            <br>
            జనం కోసం జనసేన<br>
            <h6>Initiative to be launched soon</h6>
          </div>
          <a href="static/img/janasena-support.jpg" target="_blank"><div class="col l2 m3 s12 center-align" style="background:#d81615; padding:10px;"><br>
          <img src="static/img/janasena-tiny.png" width="34" height="34" alt=" ">
<h5 class="white-text" style="font-family: 'Bree Serif', serif;">Journey With JanaSena</h5>
          </div></a>
        </div>
      </div>
<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 
<script src="static/assets/js/init.js"></script>  -->
{% endblock %}