<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Janaswaram</title>
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/assets/css/intlTelInput.css">
  <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
 
 
  <script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>

 


  <style>
.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
    .fa {
      padding: 3px !important;
      font-size: 22px !important;
      width: 30px !important;
      text-align: center !important;
      text-decoration: none !important;
      margin: 3px !important;
    }
    .submit{
      background: #d61f26;
    border: 0;
    padding: 8px 30px;
    color: #fff;
    margin: 10px 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
    position: relative;
    }
  
    .fahover {
      opacity: 0.7;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-home {
      background: #bb0000;
      color: white;
    }
    .line{
      font-weight: 500;
    padding: 24px;
    background-color: #d81615;
    line-height: 1.1;
    font-size: 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 3px 5px #607D8B;
    }

 @media (max-width: 415px){
  .social-icons{
    display:none
  }
    .playstore{
      display:none!important;
    }
    .googleplay{
      display:none!important;
    }
   .jforms{
     width:90%!important;
     padding: 15px!important;
   }
   .form-control{
     width:100%!important
   }
   #phone{
     width:100%!important
   }
 }
 .top1{
  font-weight: 500;
    padding: 42px;
    background-color: #d81615;
    line-height: 1.1;
    font-size: 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 3px 5px #607D8B;
 }
 .langClass li{
  display: inline;
}
.background_selected{
  background-color: #d81615;
    color: white;
}
.form-control{
  width: calc(100% - 50px);
  border-radius: 1px;
}
#sub{
  background: #d61f26;
    border: 0;
    padding: 8px 30px;
    color: #fff;
    margin: 10px 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
    position: relative;
    margin-left: 24px;
}

  </style>
</head>

<body>
  <div class="loader">
    <div class="spinner"> <svg width='48px' height='48px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid" class="uil-hourglass">
        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
        <g>
          <path fill="none" stroke="#53c31a" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z"
            class="glass"></path>
          <clipPath id="uil-hourglass-clip1">
            <rect x="15" y="20" width="70" height="25" class="clip">
              <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0"
                keyTimes="0;0.5;1"></animate>
              <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
            </rect>
          </clipPath>
          <clipPath id="uil-hourglass-clip2">
            <rect x="15" y="55" width="70" height="25" class="clip">
              <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25"
                keyTimes="0;0.5;1"></animate>
              <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
            </rect>
          </clipPath>
          <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)" fill="#e0e0d0"
            class="sand"></path>
          <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)" fill="#e0e0d0"
            class="sand"></path>
          <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite"
            dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
        </g>
      </svg> </div>
  </div>
  <div class="wrapper" style="height:60px;width:100%;position:fixed;top:0;
    z-index:1000;box-shadow: 0 3px 5px #607D8B;background-color: white;">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
          <img src="/static/img/sena2.png" style="width:50px;margin: 6px 6px 6px 6px;margin-top:6px">
        </div>
        <div class=" car xs-12 col-xs-6 col-sm-2 col-md-4 col-lg-5">
          <h3>Janaswaram</h3>
        </div>
        <div class="social-icons col-xs-9 col-sm-8 col-md-6 col-lg-6" style="text-align:right;
            margin-top: 18px;">
          <a href="https://janasenaparty.org/">
            <i class="fa fa-home"></i>
          </a>
          <a href="https://www.facebook.com/janasenaparty/" target="_blank" class="fa fa-facebook"></a>
          <a href="https://www.instagram.com/Janasenaparty/" target="_blank" class="fa fa-instagram"></a>
          <a href="https://twitter.com/Janasenaparty?lang=en" target="_blank" class="fa fa-twitter"></a>
          <a href="https://www.youtube.com/Janasenaparty" target="_blank" class="fa fa-youtube"></a>
          <a class=googleplay href="https://play.google.com/store/apps/details?id=com.janasena.events" target="_blank">
            <img src=/static/img/google_play.png style="max-height:28px;">
          </a>
          <a class=playstore href="https://itunes.apple.com/in/app/news-events/id1418961665?mt=8" target="_blank">
            <img src=/static/img/app-store.png style="max-height:28px">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top:50px">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <h5 class="top1">
          Janasena Party stands for strengthening and empowering civil society.
        </h5>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <h5 style="color: #d81615;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 36px;">Janaswaram</h5>
        <p style="font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;"><span
            class="top2">A platform for public participation in policy making.</span><span class="top3"> People with
            insightful ideas, opinions and suggestions will get a chance to participate in emerging leadership programs
            &amp; policy workshops.</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col l12 m12 s12" style="padding:0;">
        <ul class="langClass">
          <li class=""><a href="#" style="color:black !important;"><span class="listItems multilanguage background_selected "
                onclick="javascript:changeLanguage(':english')" style="float:left;    font-size: 15px;
            font-family: 'Open Sans', sans-serif;    font-weight: 600;">ENGLISH
                / </span></a></li>
          <li class=""><a href="#" style="color:black"><span class="listItems multilanguage" onclick="javascript:changeLanguage('pramukhindic:telugu')"
                style="float:left;    font-size: 15px;
            font-family: 'Open Sans', sans-serif;    font-weight: 600;">
                &nbsp;TELUGU /</span></a></li>
          <li class=""><a href="#" style="color:black"><span class="listItems multilanguage" onclick="javascript:changeLanguage('pramukhindic:hindi')"
                style="float:left;    font-size: 15px;
            font-family: 'Open Sans', sans-serif;    font-weight: 600;">
                &nbsp;HINDI</span></a></li>
        </ul>
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="form-style-6">
        <form class="jforms" id="janaswaram_form" action="#" enctype="multipart/form-data" autocomplete="off" 
          style="    border: #587783 solid 5px;    padding: 30px;    width: 70%;
      margin: 0 auto;">
       <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
              <label for="name" class="labels name">Name</label>
              <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
              <label for="email" class="labels email">Email</label>
              <div class="form-group">
                <input type="text" class="form-control" id="email" placeholder="Email" name="email" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
              <label for="phoneno" class="labels phoneno"> Phone Number </label>
              <div class="form-group">
                  <input type="text" name="phoneno" class="form-control" maxlength="16" id="phone" pattern="^\+[1-9]{1}[0-9]{3,14}$" 
                  oninput="maxLengthCheck(this)" style="width:86%;" required>
            
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
              <div class="form-group">
                <label for="Profession" class=" control-label labels profession"> Profession </label>
                <select name="Profession" id="Profession" class="form-control browser-default" required>
                  <option value="" selected>Select Profession</option>
                  <option value="Academician" class="academician">Academician</option>
                  <option value="Student" class="student">Student</option>
                  <option value="Self-employed" class="selfemployed">Self-employed</option>
                  <option value="Housewife" class="housewife">Housewife</option>
                  <option value="Journalist" class="journalist">Journalist</option>
                  <option value="Doctor" class="Doctor">Doctor</option>
                  <option value="Lawyer" class="Lawyer">Lawyer</option>
                  <option value="SoftwareEngineer" class="SoftwareEngineer">Software Engineer</option>
                  <option value="Other" class="other">Other</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
              <div class="form-group">
                <label for="policy" class=" labels policyissue"> Policy Issues </label>
                <select name="policy" id="policy" class="form-control browser-default " value="" required>
                  <option value="" selected class="selectone">Select Policy</option>

                  <option value="Land Acquisition" class="landacquisition">Land Acquisition</option>
                  <option value="Mining - Issues" class="minningissues">Mining &amp; related issues</option>
                  <option value="Agriculture" class="agriculture">Agriculture</option>
                  <option value="Startups and Innovation" class="StartupsandInnovation">Startups and Innovation</option>
                  <option value="Science and Technology " class="ScienceandTechnology">Science and Technology </option>
                  <option value="Fitness and Martial Arts" class="FitnessandMartialArts">Fitness and Martial Arts</option>
                  <option value="Caste based occupations and related issues " class="Castebasedoccupationsandrelatedissues">Caste
                    based occupations &amp; related issues </option>
                  <option value="Naxalism" class="Naxalism">Naxalism</option>

                  <option value="Health Care" class="HealthCare">Health Care</option>
                  <option value="Senior Citizens and pensioners issues" class="SeniorCitizensandpensionersissues">Senior
                    Citizens and pensioners issues</option>

                  <option value="Self Employment and Vocational training " class="SelfEmploymentandVocationaltraining">Self
                    Employment and Vocational training </option>
                  <option value="Civil Rights and Liberties" class="CivilRightsandLiberties">Civil Rights and Liberties</option>
                  <option value="Horticulture" class="Horticulture">Horticulture</option>
                  <option value="Sports and Infrastructure" class="SportsandInfrastructure">Sports and Infrastructure</option>
                  <option value="Agriculture Credit and Rural Banking" class="AgricultureCreditandRuralBanking">Agriculture
                    Credit and Rural Banking</option>
                  <option value="Urban Planning and Rural development" class="UrbanPlanningandRuraldevelopmen">Urban
                    Planning and Rural development</option>
                  <option value="Poultry, Dairy and Animal husbandry " class="PoultryDairyandAnimalhusbandry">Poultry,
                    Dairy and Animal husbandry </option>
                  <option value="Social welfare and related issues" class="Socialwelfareandrelatedissues">Social
                    welfare and related issues</option>
                  <option value="Tribal welfare and issues" class="Tribalwelfareandissues">Tribal welfare and issues</option>
                  <option value="Liquor and Excise policy " class="LiquorandExcisepolicy">Liquor and Excise policy
                  </option>
                  <option value="Culture and Arts" class="CultureandArts">Culture and Arts</option>
                  <option value="Public Transportation and Safety " class="PublicTransportationandSafety">Public
                    Transportation and Safety </option>
                  <option value="Corruption" class="Corruption">Corruption</option>
                  <option value="Demographic Dividend and Employment opportunities" class="DemographicDividendandEmploymentopportunities">Demographic
                    Dividend and Employment opportunities</option>
                  <option value="Law and Order" class="LawandOrder">Law and Order</option>
                  <option value="Tourism" class="Tourism">Tourism</option>
                  <option value="Industrialization" class="Industrialization">Industrialization</option>
                  <option value="Woman Safety and Empowerment" class="WomanSafetyandEmpowerment">Woman Safety and
                    Empowerment</option>
                  <option value="Irrigation" class="Irrigation">Irrigation</option>
                  <option value="Education" class="Education">Education</option>
                  <option value="Judiciary" class="Judiciary">Judiciary</option>

                </select>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
              <div class="form-group">
                <label for="file" class=" labels attachements"> Attachments </label>
                <input type="hidden" name="MAX_FILE_SIZE" value="10000000">
                <input class="form-control attach" name="userfile" id="userfile" type="file" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf,audio/*,video/*,image/* ">
                <br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="suggestion" class=" labels suggestionlabel"> Suggestion/Opinion/Idea </label>
                <textarea class="form-control" rows="4" cols="50" required aria-required="true" id="suggestion"
                  placeholder="Please Keep Heading as : Topic/Sub Topic(if any)" name="suggestion"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

              <div class="form-group" style="margin-left: 15px;margin-top: 15px">
                <label for="jscaptchainput"> Please enter captcha *:</label>
                <div class="captcha-textbox form-control " style="width:100%;height:43px!important">
                  <span class="form-inline" id="jscaptchatext" style="font-size: 18px;color:black;"></span>
                  <input type="text" id="jscaptchainput" style="width: 50%;font-family: 'Open Sans', sans-serif;padding: 0.1em 0em 1px 0em;border: none;border-radius: 0px;color:black;font-size:18px;outline: none;margin-left: 15px;background: none;    margin-top: 7px;" />
                </div>
                <p id="captcha_error" style="display:none;color:#d81615;">Please enter above captcha
                </p>
              </div>

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="    margin-top: 33px;">
              <input type="submit" class="btn red darken-3 z-depth-0" id="sub" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



  <script type="text/javascript" src="https://1cf5229636340d3e1dd5-0eccc4d82b7628eccb93a74a572fd3ee.ssl.cf1.rackcdn.com/testing/intlTelInput.min.js"></script>
<script type="text/javascript" src="https://1cf5229636340d3e1dd5-0eccc4d82b7628eccb93a74a572fd3ee.ssl.cf1.rackcdn.com/testing/jquery.formatter.min.js"></script>
  <script src="/static/janaswaram/js/pramukhime-multi.js"></script>
  <script src="/static/janaswaram/js/pramukhime.js"></script>
  <script src="/static/janaswaram/js/pramukhindic.js"></script>
   <script>
        $("#phone").intlTelInput({
        allowExtensions: false,
        autoPlaceholder: "off",
        autoHideDialCode: false,
        autoPlaceholder: false,
        nationalMode: false,
        initialCountry: "in",
        placeholderNumberType: "MOBILE",
        preferredCountries: ['in','us','uk'],
        utilsScript:"https://1cf5229636340d3e1dd5-0eccc4d82b7628eccb93a74a572fd3ee.ssl.cf1.rackcdn.com/testing/utils.js"
        });
      </script>
  <script>

    $(document).ready(function () {

      $('.multilanguage').on('click', function () {
        $('.multilanguage').removeClass('background_selected');
        $(this).addClass('background_selected');
      })

    });   
  </script>

  <script>

    var input = $('#jscaptchainput');
    var label = $('#jscaptchatext');

    var randomNr1 = 0;
    var randomNr2 = 0;
    var totalNr = 0;

    randomNr1 = Math.floor(Math.random() * 10);
    randomNr2 = Math.floor(Math.random() * 10);
    totalNr = randomNr1 + randomNr2;
    var texti = randomNr1 + " + " + randomNr2 + " = ";

    $(label).text(texti);

   




    function maxLengthCheck(object) {
      if (object.value.length > object.maxLength)
        object.value = object.value.slice(0, object.maxLength)
    }
    
   
  </script>

  <script language="javascript" type="text/javascript">
    pramukhIME.addLanguage(PramukhIndic);
    pramukhIME.enable('suggestion');
    pramukhIME.enable('name');
    pramukhIME.onLanguageChange(scriptChangeCallback);
    var lang = (getCookie('pramukhime_language', ':english')).split(':');
    pramukhIME.setLanguage(lang[1], lang[0]);
    var w = window, d = document, e = d.documentElement, g = d.getElementsByTagName('body')[0], x = w.innerWidth || e.clientWidth || g.clientWidth, y = w.innerHeight || e.clientHeight || g.clientHeight;
    var elem = document.getElementById('dialog');

    var classHighlight = 'highlight';
    var $thumbs = $('.thumbnail').click(function (e) {
      e.preventDefault();
      $thumbs.removeClass(classHighlight);
      $(this).addClass(classHighlight);
    });

  
  </script>
 <script>
 $(document).ready(function()
 {
    
function validateform() {
    
     var validation_status=true;
      var name = document.getElementById("name").value;
      if (name.trim().length == 0) {
        alert("Name Field Should not be empty.")
        
        validation_status= false;
      }
      var email = document.getElementById("name").value;
      if (email.trim().length == 0) {
        alert("email Field Should not be empty.")
       
        validation_status= false;
      }
      var suggestion = document.getElementById("suggestion").value;
      if (suggestion.trim().length == 0) {
        alert("suggestion Field Should not be empty.")
       
        validation_status= false;
      }
      var phone = document.getElementById("phone").value;
      if (phone.trim().length < 10) {
        alert("Please Enter a Valid Phone Number.")
        
        validation_status= false;
      }
      if($("#userfile")[0].files.length!=0)
      {

         var userfile = $("#userfile")[0].files[0].size/1024/1024;
      userfile_size = userfile.toFixed(2);
      if(userfile_size>10)
      {
       
         swal("Error","maximum file size allowed is 10MB .",'error');
          validation_status= false;
      }
      }
     
      
     return validation_status;
     
     
    }
$("#janaswaram_form").submit(function(e)
{
  e.preventDefault();
    var nr = $('#jscaptchainput').val();

      if (nr != totalNr) {
       
        
               swal("Error","please enter captcha",'error');
         return false;
      }
 $(".loader").css("display","block");
 if(validateform())
 {
         var name = $("#name").val();
      var email = $("#email").val();
       var suggestion = $("#suggestion").val();
      var phone = $("#phone").val();
      var profession=$("#Profession").val();
      var policy=$("#policy").val();

      var  fd = new FormData();
          var csrf_value='{{ csrf_token() }}';
           fd.append( 'csrf_token',  csrf_value);
           if($("#userfile")[0].files.length!=0)
            {
              console.log("hello")
              fd.append( 'userfile', $("#userfile")[0].files[0] );
            }
                    fd.append( 'name',  name);    
                    fd.append( 'email',  email);   
                    fd.append( 'suggestion',  suggestion);    
                    fd.append( 'phone',  phone); 
                    fd.append( 'profession',  profession);    
                    fd.append( 'policy',  policy); 

                  
         
               $.ajax({
                   method:'POST',
                   url: "/janaswaram",
                   data:fd,
                    processData: false,
                    contentType: false,
                   success: function(response){
                       $(".loader").css("display","none");
                      
                        response = JSON.parse(response);

                        console.log(response)
                      if(response.status==1)
                      {

                      


                        swal({
                title: "Thanks! Your Details Saved Successfully. ",
                text:"We Will check and get back to you soon" ,
                type: "success",
                
                confirmButtonText: "OK",
                closeOnConfirm: true
              },
              function(){
              
                window.location.reload()
              });
                        
                        
                      
                    }
                      else
                      {
                        
                         $(".loader").css("display","none");
                         swal('Error',response.errors[0],'error')
                      }
                      


                    },
                    errors:function(response){
                    swal("Error","Something wrong",'error');
                      $(".loader").css("display","none");
                        
                    }

                }); 

 }

 else
 {
  $(".loader").css("display","none");
 swal("Error","please check all the fields",'error');
 return false;
 }

})
       

 })
 </script>

</body>

</html>