<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ramabhadra&amp;subset=telugu" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.0/dist/bootstrap-float-label.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    <script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="https://rawgit.com/TimSchlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.js"></script>
<script src="https://rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js"></script>
<!-- <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js"></script> -->

<link href="https://rawgit.com/timschlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <style>

input[type="radio"] {
    margin: 10px 0px 0 5!important;
    margin-top: 11px;
    line-height: normal;
}
.bootstrap-tagsinput
{
  width:100%;
  font-size: 16px;
}
.bootstrap-tagsinput:nth-child(1)
{
  border:none !important;
}
img{
  max-width:200px;
  max-height:200px;
}
input[type=file]{
padding:10px;
}
#head{
  font-family: Ramabhadra,sans-serif;
    font-size: 30px;
    font-weight: 500 !important;
    color:#d81615;
}
      label{
       font-family: Ramabhadra,sans-serif;
    font-size: 20px;
    font-weight: 500 !important;
    padding-right: 20px;
      }
        @media (max-width: 415px){
          
           
             .row_container{
      width: 100%!important;
    }
    .xs-hidden{
      display:none!important;
    }
    .playstore{
      display:none!important;
    }
    .googleplay{
      display:none!important;
    }
    .login_image{
     display:none;
   }
   .login_form{
    width: 100%;
   }
   
  
 
 
   .form_container
   {
    max-width: 90%;
    margin: 15px auto;
    background: #fff;
    border-radius: 0;
    border: 1px solid #d92027;
    padding: 10px 10px 10px 10px;
   }
  
   .form-control{
       width:100% !important;
       border-radius: 1px;   
        border-color: cadetblue;
   }
  
  
  }
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
 
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
 
   .row_container{
     width:100%!important
   }
}
.form-control
{
    width:85%;  
    border-radius: 1px; 
       border-color: cadetblue;
}

  @media only screen and (min-width :768px) {

   .form_container
   {
    max-width: 70%;
    margin: 15px auto;
    background: #fff;
    border-radius: 0;
    border: 1px solid #d92027;
    padding: 10px 10px 10px 10px;
   }
 
  }
  @media only screen and (min-width :1024px){
    
  }
  @media (min-width:1281px){
 
  }
    .loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
        

        .fa {
            padding: 3px !important;
            font-size: 22px !important;
            width: 30px !important;
            text-align: center !important;
            text-decoration: none !important;
            margin: 3px !important;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-home {
            background: #bb0000;
            color: white;
        }

      

        .loader {
            position: fixed;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            margin: 0 auto;
            z-index: 100;
            display: none;
        }

        .spinner {
            margin: 0 auto;
            width: 100px;
            margin-top: 10%;
            height: 100px;
        }

        .submit {
            background: #d61f26;
            border: 0;
            padding: 8px 30px;
            color: #fff;
            margin: 10px 5px 0;
          /* font-family: Ramabhadra,sans-serif; */
            font-size: 18px;
            letter-spacing: .5px;
            position: relative;
            /*margin-left: 24px;*/
        }

      

      

        .social-media {
            text-align: center;
            margin-top: 25px;
        }


@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}




    </style>

</head>

<body id="img1">
    <div class="loader">
        <div class="spinner">
            <svg width='48px' height='48px' xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100"
                preserveAspectRatio="xMidYMid" class="uil-hourglass">
                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                <g>
                    <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z"
                        class="glass"></path>
                    <clipPath id="uil-hourglass-clip1">
                        <rect x="15" y="20" width="70" height="25" class="clip">
                            <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0"
                                keyTimes="0;0.5;1"></animate>
                            <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45"
                                keyTimes="0;0.5;1"></animate>
                        </rect>
                    </clipPath>
                    <clipPath id="uil-hourglass-clip2">
                        <rect x="15" y="55" width="70" height="25" class="clip">
                            <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25"
                                keyTimes="0;0.5;1"></animate>
                            <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55"
                                keyTimes="0;0.5;1"></animate>
                        </rect>
                    </clipPath>
                    <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)"
                        fill="#ffab00" class="sand"></path>
                    <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)"
                        fill="#ffab00" class="sand"></path>
                    <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite"
                        dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                </g>
            </svg>
        </div>
    </div>
    <div class="wrapper" style="height:60px;width:100%;position:fixed;top:0;
    z-index:1000;box-shadow: 0 3px 5px #607D8B;background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                    <img src="static/img/sena2.png" style="width:79px;margin: 6px 6px 6px 6px;margin-top:6px">
                </div>
                <div class=" car xs-hidden col-xs-4 col-sm-2 col-md-4 col-lg-5">
                    <h3>Janasena</h3>
                </div>


                <div class="social-icons col-xs-9 col-sm-8 col-md-6 col-lg-6" style="text-align:right;
            margin-top: 18px;">
                    <a href="https://janasenaparty.org/">
                        <i class="fa fa-home"></i>
                    </a>
                    <a href="https://www.facebook.com/janasenaparty/" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/Janasenaparty/" target="_blank" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/Janasenaparty?lang=en" target="_blank" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/Janasenaparty" target="_blank" class="fa fa-youtube"></a>
                    <!--  <a class=googleplay href="https://play.google.com/store/apps/details?id=com.janasena.events" target="_blank">
                        <img src=img/google_play.png style="max-height:28px;">
                    </a>
                    <a class=playstore href="https://itunes.apple.com/in/app/news-events/id1418961665?mt=8" target="_blank">
                        <img src="/static/img/app-store.png" style="max-height:28px">
                    </a> -->
                </div>

            </div>
        </div>
    </div>
    
        <div class="container row_container" id="form_container" style="width:60%">


                <h3 id="head" style="text-align: center;    color: #d81615;
                margin-top: 95px;">జనసేన అభ్యర్ధిత్వానికి బయోడేటా ఫారం</h3>
          <div class="border" style="
          margin-bottom: 30px;
          border: #587783 solid 3px;
          padding: 30px;
          background: rgba(255,255,255,.95);
          position: relative; margin-top: 40px;" >

           <div class="row">
          <div class="col-md-3 col-lg-3 "></div>
          <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
          <label>Membership id </label>
          <div class="form-inline">
          <input class="form-control" type="text" id="membership_phone" name="membership_phone" style="width:70%">
          <input type="button" class="btn btn-primary" id="get_memberships" value="Fetch">
          </div>
          </div>
          </div>

         
          <div id="details_screen" style="display:none">
           
              <div class="aspirant_location col-md-12 col-sm-12 col-lg-12 col-xs-12">
             <label for="tags" >పోటీ చేయదలచిన (అసెంబ్లీ/పార్లమెంట్) నియోజకవర్గం</label><br>
     
              <input type="text" value="" data-role="tagsinput" id="tags"  required>
              </div>
             <!--  <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                            <label>పోటీ చేయదలచిన (అసెంబ్లీ/పార్లమెంట్) నియోజకవర్గం </label><br>
  
                                    <label class="radio-inline" >
                                        <input type="radio" name="place" class="place_name"  value="parliament">parliament
                                    </label>
                                    <label class="radio-inline" style="width:50%">
                                        <input type="radio" name="place" class="place_name"  value="constituency">constituency
                                    </label>
                                    <div class="parliament_div"style="display:none"  >
                                            <label> పార్లమెంట్ నియోజకవర్గం</label>
                                            <div class="login_field">
                                                <select name="parliament" id="parliament" class="form-control" required=""
                                                        style="width:41%;    border-radius: 1px;    border-color: cadetblue;">
                                                    <option value="" selected="">Select Parliament</option>
                                                </select>
                                            </div>
                                      </div>
                                      <div class="assembly_div" style="display:none" >
                                            <label> అసెంబ్లీ నియోజకవర్గం</label>
                                            <div class="login_field">
                                                <select name="assembly" id="assembly" class="form-control" required=""
                                                        style="width:41%;    border-radius: 1px;    border-color: cadetblue;">
                                                    <option value="" selected="">Select Assembly</option>
                                                </select>
                                            </div>
                                      </div>     
                    </div>
                  
              </div>
              -->
              
           
              <div class="row" >
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>పూర్తి పేరు</label>
                  <div class="login_field">
                    <input class="form-control" type="text" id="name" name="name">
                  </div>
                </div>

                 <div  class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                        <label>తండ్రి/భర్త పేరు </label>
                        <div class="login_field">
                          <input class="form-control" type="text" id="father_or_husband" name="father_or_husband">
                        </div>
                </div>
                 
                
              </div>
      
      
      
              <div class="row" style="margin-top: 10px;">
             
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>పుట్టిన తేదీ  </label>
                  <div class="login_field">
                        <input class="form-control" type="text" id="date_of_birth" name="date_of_birth">
                      </div>
                </div>
                 <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                        <label>పుట్టిన ప్రాంతం   </label>
                        <div class="login_field">
                              <input class="form-control" type="text" id="place_of_birth" name="place_of_birth">
                            </div>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                  <label>పదవ తరగతి చదివిన స్కూలు మరియు ప్రాంతం </label>
                  <div class="login_field">
                    <input class="form-control" type="text" id="school_name_area" name="school_name_area" style="width:93%">
                  </div>
                  </div>
                  
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>మీ అధిక విద్యార్హత </label>
                  <div class="login_field">
                    <input class="form-control" type="text" id="education" name="education">
                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>వృత్తి </label>
                    <div class="login_field">
                      <input class="form-control" type="text" id="occupation" name="occupation">
                    </div>
                    </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <label>ప్రస్తుత చిరునామా  </label>
                        <div class="login_field">
                          <input class="form-control" type="text" id="present_address" name="present_address" style="width:93%">
                        </div>
              </div>
             
         </div>
         <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <label>శాశ్వత చిరునామా</label>
                        <div class="login_field">
                          <input class="form-control" type="text" id="permanent_address" name="permanent_address" style="width:93%">
                        </div>
              </div>
             
         </div>
         <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                        <label>ఫోన్ నెంబర్</label>
                        <div class="login_field">
                          <input class="form-control" oninput="maxLengthCheck(this)" maxlength="10" onkeypress="return isNumeric(event)" type="text" id="phone" name="phone">
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>ఈమెయిల్</label>
                            <div class="login_field">
                              <input class="form-control" type="text" id="email" name="email">
                            </div>
                            </div>
       
         </div>
         <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
                <label>సభ్యత్యం నెం</label>
                <div class="login_field">
                  <input class="form-control" type="text" id="jsp_id" name="jsp_id">
                </div>
                </div>
                 <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
                <label>Gender</label>
                <div class="login_field">
                 <select name="gender" id="gender" class="form-control" required=""
                                                        style="width:41%;    border-radius: 1px;    border-color: cadetblue;">
                                                    <option value="" selected="">Select Gender</option>
                                                      <option value="Male" >Male</option>
                                                      <option value="Female" >Female</option>
                                                      <option value="others" >others</option>
                                                </select>
                </div>
                </div>
           
               
         </div>
        
        <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                        <label>పార్టీ కోసం ఏ ప్రాంతంలో అయినా పనిచేస్తున్నారా(వివరములు ) </label>
                          <textarea class="form-control" id="party_works" name="party_works" rows="4" cols="50" style=width:100%></textarea>
                      </div>
        </div>

        <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                        <label>మీ నియోజకవర్గంలో ప్రాధాన్యత క్రమంలో ప్రజా సమస్యల వివరాలు  </label>
                          <textarea class="form-control" id="issues_assembly" name="issues_assembly" rows="4" cols="50" style=width:100%></textarea>
                      </div>
        </div>
        
                <label>పూర్వ రాజకీయ అనుభవం:</label>
                <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                                <label>పార్టీ </label>
                                <div class="login_field">
                                  <input class="form-control" type="text" id="prev_party" name="prev_party">
                                </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                                        <label>చేపట్టిన పదవి </label>
                                        <div class="login_field">
                                          <input class="form-control" type="text" id="role" name="role">
                                        </div>
                                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                                <label>పదవీకాలం</label>
                                <div class="login_field">
                                  <input class="form-control" type="text" id="no_years_exp" name="no_years_exp">
                                </div>
                                </div>
                </div>
                <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                <label>ఇతర పార్టీ నాయకులతో గల సన్నిహిత సంబంధాలు, బంధుత్వం </label>
                                
                                <textarea class="form-control" id="other_party_relations" name="other_party_relations" rows="4" cols="50" style=width:100%></textarea>
                               
                                </div>   
                </div>
                <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                <label>ప్రజా జీవితంలో మీరు సాధించిన విజయాలు</label>
                                
                                <textarea class="form-control" id="achievements" name="achievements" rows="4" cols="50" style=width:100%></textarea>
                               
                                </div>   
                </div>
                <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                <label>ఎలక్షన్ కమిషన్ నిబంధనలకు వ్యతిరేకంగా ఉండే కేసులు ఏమైనా ఉన్నాయా? ఉంటే పేర్కొనండి (వివరాలు గోప్యంగా ఉంచబడును)</label>
                                
                                <textarea class="form-control" id="cases" name="cases" rows="4" cols="50" style=width:100%></textarea>
                               
                                </div>   
                </div>
                <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                <label>రిమార్క్స్</label>
                                
                                <textarea class="form-control" id="remarks" name="remarks" rows="4" cols="50" style=width:100%></textarea>
                               
                                </div>   
                </div>
                <div class="row" style="margin-top:20px">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                <label>ముందు జరగబోయే ప్రక్రియ</label><br>
                        <select name="further_process" id="further_process" class="form-control" required=""
                                                        style="width:41%;    border-radius: 1px;    border-color: cadetblue;">
                                                    <option value="" selected="">Select Status</option>
                                                      <option value="further process" >further process</option>
                                                      <option value="may be further process" >may be further process</option>
                                                      <option value="no" >no further process</option>
                                                </select>
                </div>
                </div>
        
         <div class="row" style="margin-top:20px">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <div id="photo">
                <label>పాస్పోర్ట్ ఫోటో</label>
                <input type='file' onchange="readURL(this);" id="photo_file" accept="image/*"/>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
            <img id="blah" src="http://placehold.it/180" alt="your image" style=" margin-top: 30px;"  />
          </div>
        </div>
        <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
            <button type="submit" class="submit" id="submit_login">SUBMIT</button>
        </div>
         </div>
        </div>
          </div>
    <script>

function validatevoter_id(voter_id) {
      var regex = /^[A-Za-z]{2,3}[0-9]*$/g;
     
      var length = voter_id.length;
      if (length >= 10 && length <= 14) {
        if (regex.test(voter_id)) {
          return true
         
        }
        else {
        
          return false;

        }
      }
      else {
      
        return false;
      }
    }



function isNumeric(evt) {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
      var regex = /[0-9\b]|\./;
      if (!regex.test(key)) {
        theEvent.returnValue = false;
        if (theEvent.preventDefault) theEvent.preventDefault();
      }
    }
    function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }


  function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }


var locations=[];

    $(document).ready(function () {

       var csrftoken = $('meta[name=csrf-token]').attr('content')


$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
        $('.place_name').on('change', function () {
            
                var val = $(this).val();
                if(val=='parliament'){
                    $('.parliament_div').css('display','block')
                    $('.assembly_div').css('display','none')
                }
                else{
                    $('.assembly_div').css('display','block')
                    $('.parliament_div').css('display','none')
                }
               
                $('#div' + val).show();
              
            });

    $.getJSON('static/json/parliament_constituencies.json', function (data) {
    mandals = data;
    data.forEach(district_data => {
      locations.push(district_data['parliament_constituency_name']+ " parliament")
    $('#parliament')
        .append($("<option></option>")
        .attr("value", district_data['parliament_constituency_name'])

        .text(district_data['parliament_constituency_name']));
    });

      
       
        
      var map = {};
    $('#parliament option').each(function () {
            if (map[this.value]) {
              $(this).remove()
            }
            map[this.value] = true;
        });



      $.getJSON('static/json/constituencies.json', function (data) {
    mandals = data;
    data.forEach(district_data => {

      if(district_data['state']=='Andhra Pradesh')
      {
        locations.push(district_data['constituency_name']+ " assembly")
        $('#assembly')
        .append($("<option></option>")
        .attr("value", district_data['constituency_name'])

        .text(district_data['constituency_name']));
   
      }
     });
   
     });
      
       
        
      var map = {};
    $('#assembly option').each(function () {
            if (map[this.value]) {
              $(this).remove()
            }
            map[this.value] = true;
        });




    });

$('.aspirant_location > > input').tagsinput({
  typeahead: {
     afterSelect: function(val) { this.$element.val(""); },
    source: locations

  },
  allowDuplicates: false,
  freeInput: true
});


       function validateMobileNo(mobile)
        {
          var mobileregex = /^[6-9]{1}[0-9]{9}$/g;
       
          
          var length=mobile.length;
          if(length==10){
            if(mobileregex.test(mobile))
            {
              return true;
            }
            else
            {
              return false;
            }
          }
          else
          {
            return false;
          }

        }
   

        


      
      $('#submit_login').click(function () {
 
  $('.loader').css('display','block')
        var name = $('#name').val();
        var phone_num=$('#phone').val();
        var date_of_birth = $('#date_of_birth').val();
        var place_of_birth = $('#place_of_birth').val();
        var father_or_husband = $('#father_or_husband').val();
        var education=$('#education').val();
        var present_address=$('#present_address').val();
        var higher_education=$('#education').val();
        var permanent_address=$('#permanent_address').val();
        var qualification=$('#qualification').val();
        var email=$('#email').val();
        var jsp_id=$('#jsp_id').val();

        var occupation=$('#occupation').val();
        var school_name_area=$('#school_name_area').val();
        
        var relation_with_jsp=$('textarea#party_works').val();
        var issues_in_assembly=$('textarea#issues_assembly').val();
      
        var previous_party=$('#prev_party').val();
        var role_party=$('#role').val();
        var duration=$('#no_years_exp').val();
        var relation_with_other_leaders=$('textarea#other_party_relations').val();
        var achievements=$('textarea#achievements').val();
        var criminal_cases=$('textarea#cases').val();
        var remarks=$('textarea#remarks').val();

        
      

        var formData = new FormData();
       var existing_src=$("#blah").attr("src");

    if($("#photo_file")[0].files[0])
{


           var passport_file_size = $("#photo_file")[0].files[0].size/1024/1024;
          passport_file_size = passport_file_size.toFixed(2);
          if(passport_file_size>2)
          {
          $("#photo").css("border-bottom", "1px solid red");
          $("#photo").parent().append("<p class='validation' style='color:red;'>too big, maximum file size is 2MB </p>");
          $("#photo").focus();
         
          }

      }
      
          
     if($("#photo_file")[0].files[0])   
     {
       var file=$("#photo_file")[0].files[0];
     formData.append('image', file);
     } 
     else
     {
      formData.append('photo_url',existing_src);
     }
     
     // var aspirant_type=$("input[name='place']:checked").val();
     
     //    if (aspirant_type=='parliament')
     //    {
     //        formData.append('aspirant_type','parliament');

     //        formData.append('aspirant_location', $("#parliament").val());
     //    }
     //    else
     //    {
     //        formData.append('aspirant_type','assembly');
     //        formData.append('aspirant_location', $("#assembly").val());
     //    }
     var asp_locations=$('.aspirant_location > > input').tagsinput('items');

console.log(asp_locations)
formData.append('aspirant_locations',asp_locations);
var further_process=$("#further_process").val();
var gender=$("#gender").val();

    formData.append('further_process',further_process);




        
         
          formData.append('name',name);
          formData.append('relation_name',father_or_husband);
          formData.append('phone',phone_num);
          formData.append('dob',date_of_birth);
          formData.append('birth_place',place_of_birth);
          formData.append('education',education);
          formData.append('email',email);
          formData.append('membership_id',jsp_id);
          formData.append('occupation',occupation);
          formData.append('school_and_place',school_name_area);
          formData.append('higher_education',higher_education);
          formData.append('present_address',present_address);
          formData.append('permenant_address',permanent_address);
          formData.append('relation_with_jsp',relation_with_jsp);
          formData.append('issues_in_assembly',issues_in_assembly);
          formData.append('prev_party',previous_party);
          formData.append('role',role_party);
          formData.append('duration',duration);
          formData.append('relation_with_other_leaders',relation_with_other_leaders);
          formData.append('achievements',achievements);
          formData.append('criminal_cases',criminal_cases);
          formData.append('remarks',remarks);
          formData.append('gender',gender);
        
         

        $.ajax({
          url: "/jsp_aspirants",
          data: formData,
          type: 'POST',
         processData: false,
          contentType: false,
          crossDomain: true,
         dataType: "json",
          success: (function (response) {
            var response=response
            if(response.status==1)
            {
              $('.loader').css('display','none')


              swal({
                  title: "Success!! ",
                  icon: "success",
                  type: "success",
                  text:"Thanks for sharing the details. We will get back to you soon.",
                  confirmButtonText: "OK",

                },
                function () {
                     window.location.reload()
                  });
                                }
                         else
                         {
                          $('.loader').css('display','none')
                          swal('Error',response.errors,'error')
                          return false;
                         }

          }),
          error: (function (response) {

            $(".loader").css("display", "none")
            swal("Error", "Something wrong. please check your internet ", 'error');
            return false;
          })

        })
      
      })


$("#get_memberships").click(function()
    {
    var membership_id=$("#membership_phone").val();
    
    if(!membership_id)
    {
      swal("Error", "Please enter membership", "error")
      return false;

    }
     $.ajax({
          url: "/fetch_aspirant_membership_details?membership_id="+membership_id,
          type: 'GET',
          dataType: "json",
          crossDomain: true,
          contentType: "false",
          success: (function (response) {
            $('.loader').css('display','none')

            if(response.status==1)
            {
               var full_details=response.data;
               $("input:text").val("");
               $("textarea").text("");
                if(full_details.aspirant_type=='parliament')
                {
                  $("input[name=place][value='parliament']").prop("checked",true);
                   $("#parliament").val(full_details.aspirant_location)
                  $('.parliament_div').css('display','block')
                    $('.assembly_div').css('display','none')

                }
                else 
                {
                   $("input[name=place][value='constituency']").prop("checked",true);
                   $("#assembly").val(full_details.aspirant_location)
                   $('.parliament_div').css('display','none')
                    $('.assembly_div').css('display','block')

                }

                $("#place").val(full_details.aspirant_type)

     
       $("#name").val(full_details.name)
       $("#father_or_husband").val(full_details.relation_name)



       $("#date_of_birth").val(full_details.dob)
       $("#place_of_birth").val(full_details.birth_place)
       $("#education").val(full_details.higher_education)
        $("#school_name_area").val(full_details.school_and_place)
        $("#highest_qualification").val(full_details.higher_education)
          $("#occupation").val(full_details.occupation)
          $("#present_address").val(full_details.current_address)
          $("#permanent_address").val(full_details.permenant_address)
          $("#phone").val(full_details.mobile)
          $("#email").val(full_details.email)
          $("#blah").attr('src',full_details.img_url)
          $("#jsp_id").val(full_details.membership_id)
          $("#party_works").html(full_details.relationship_with_janasena)


          $("#issues_assembly").text(full_details.issues_in_assembly)
           $("#prev_party").val(full_details.prev_exp_party)
            $("#role").val(full_details.role)
            $("#no_years_exp").val(full_details.duration)
             $("#other_party_relations").text(full_details.relationship_with_other_party_leaders)
             $("#cases").text(full_details.criminal_cases)
             
$("#achievements").text(full_details.achievements)
$("#remarks").text(full_details.remarks)
$("#further_process").val(full_details.further_process)
$("#gender").val(full_details.gender)


if (full_details.aspirant_locations)
{
  var asp_locations=full_details.aspirant_locations.locations;
  asp_locations.forEach(function(location) {
 $('.aspirant_location > > input').tagsinput('add', location);
  $('.aspirant_location > > input').tagsinput('refresh');
})
}




                $("#details_screen").css("display","block")
            }
             else
            {
              swal("Error", "Details Not Found ", 'error');
              return false;
            }
          
    }),
   
    error: (function (response) {

$(".loader").css("display", "none")
swal("Error", "Something wrong. please check your internet ", 'error');
return false;
})

    })
 })
    
  })
    </script>
</body>
</html>