<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ramabhadra&amp;subset=telugu" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.0/dist/bootstrap-float-label.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>
    <style>

input[type="radio"] {
    margin: 12px 5px 0 0!important;
    margin-top: 1px \9;
    line-height: normal;
}

img{
  max-width:200px;
  max-height:200px;
}
input[type=file]{
padding:10px;
}
#add{
  font-family: Ramabhadra,sans-serif;
    font-size: 27px;
    font-weight: 500 !important;
    color:#d81615;
}
      label{
       font-family: Ramabhadra,sans-serif;
    font-size: 20px;
    font-weight: 500 !important;
    padding-right: 20px;
      }
        @media (max-width: 415px){
          
           
             .row_container{
      width: 100%!important;
    }
    .xs-hidden{
      display:none!important;
    }
    .playstore{
      display:none!important;
    }
    .googleplay{
      display:none!important;
    }
    .login_image{
     display:none;
   }
   .login_form{
    width: 100%;
   }
   
  
 
 
   .form_container
   {
    max-width: 90%;
    margin: 15px auto;
    background: #fff;
    border-radius: 0;
    border: 1px solid #d92027;
    padding: 10px 10px 10px 10px;
   }
  
   .form-control{
       width:100% !important;
       border-radius: 1px;   
        border-color: cadetblue;
   }
  
  
  }
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
 
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
 
   .row_container{
     width:100%!important
   }
}
.form-control
{
    width:85%;  
    border-radius: 1px; 
       border-color: cadetblue;
}

  @media only screen and (min-width :768px) {

   .form_container
   {
    max-width: 70%;
    margin: 15px auto;
    background: #fff;
    border-radius: 0;
    border: 1px solid #d92027;
    padding: 10px 10px 10px 10px;
   }
 
  }
  @media only screen and (min-width :1024px){
    
  }
  @media (min-width:1281px){
 
  }
    .loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
        

        .fa {
            padding: 3px !important;
            font-size: 22px !important;
            width: 30px !important;
            text-align: center !important;
            text-decoration: none !important;
            margin: 3px !important;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-home {
            background: #bb0000;
            color: white;
        }

      

        .loader {
            position: fixed;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            margin: 0 auto;
            z-index: 100;
            display: none;
        }

        .spinner {
            margin: 0 auto;
            width: 100px;
            margin-top: 10%;
            height: 100px;
        }

        .submit {
            background: #d61f26;
            border: 0;
            padding: 8px 30px;
            color: #fff;
            margin: 10px 5px 0;
          /* font-family: Ramabhadra,sans-serif; */
            font-size: 18px;
            letter-spacing: .5px;
            position: relative;
            /*margin-left: 24px;*/
        }

      

      

        .social-media {
            text-align: center;
            margin-top: 25px;
        }

    




[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.15em; height: 1.15em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}




    </style>

</head>

<body id="img1">
    <div class="loader">
        <div class="spinner">
            <svg width='48px' height='48px' xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100"
                preserveAspectRatio="xMidYMid" class="uil-hourglass">
                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                <g>
                    <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z"
                        class="glass"></path>
                    <clipPath id="uil-hourglass-clip1">
                        <rect x="15" y="20" width="70" height="25" class="clip">
                            <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0"
                                keyTimes="0;0.5;1"></animate>
                            <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45"
                                keyTimes="0;0.5;1"></animate>
                        </rect>
                    </clipPath>
                    <clipPath id="uil-hourglass-clip2">
                        <rect x="15" y="55" width="70" height="25" class="clip">
                            <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25"
                                keyTimes="0;0.5;1"></animate>
                            <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55"
                                keyTimes="0;0.5;1"></animate>
                        </rect>
                    </clipPath>
                    <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)"
                        fill="#ffab00" class="sand"></path>
                    <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)"
                        fill="#ffab00" class="sand"></path>
                    <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite"
                        dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                </g>
            </svg>
        </div>
    </div>
    <div class="wrapper" style="height:60px;width:100%;position:fixed;top:0;
    z-index:1000;box-shadow: 0 3px 5px #607D8B;background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                    <img src="/static/img/sena2.png" style="width:79px;margin: 6px 6px 6px 6px;margin-top:6px">
                </div>
                <div class=" car xs-hidden col-xs-4 col-sm-2 col-md-4 col-lg-5">
                    <h3>Janasena</h3>
                </div>


                <div class="social-icons col-xs-9 col-sm-8 col-md-6 col-lg-6" style="text-align:right;
            margin-top: 18px;">
                    <a href="https://janasenaparty.org/">
                        <i class="fa fa-home"></i>
                    </a>
                    <a href="https://www.facebook.com/janasenaparty/" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/Janasenaparty/" target="_blank" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/Janasenaparty?lang=en" target="_blank" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/Janasenaparty" target="_blank" class="fa fa-youtube"></a>
                    <!--  <a class=googleplay href="https://play.google.com/store/apps/details?id=com.janasena.events" target="_blank">
                        <img src=img/google_play.png style="max-height:28px;">
                    </a>
                    <a class=playstore href="https://itunes.apple.com/in/app/news-events/id1418961665?mt=8" target="_blank">
                        <img src="/static/img/app-store.png" style="max-height:28px">
                    </a> -->
                </div>

            </div>
        </div>
    </div>
    
        <div class="container row_container" id="form_container" style="width:60%">
                <h3 style="text-align: center;    color: #d81615;
                margin-top: 95px;">Active Members Form</h3>
          <div class="border" style="
          margin-bottom: 30px;
          border: #587783 solid 3px;
          padding: 30px;
          background: rgba(255,255,255,.95);
          position: relative; margin-top: 40px;" >
         
          <div id="details_screen" >
           
              <div class="row" >
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>పూర్తి పేరు</label>
                  <div class="login_field">
                    <input class="form-control" type="text" id="name" name="name">
                  </div>
                </div>

                 <div  class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <div id="gender_div">
                   <label for="gender">లింగం </label><br>
                      <label class="">
                        <input type="radio" name="gender" value="Female" >మహిళ
                      </label>
                      <label class="">
                        <input type="radio" name="gender" value="Male">పురుషుడు
                      </label></br>
                </div>
                </div>
                 
                
              </div>
      
      
      
              <div class="row" style="margin-top: 10px;">
             
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>వయస్సు </label>
                  <div class="login_field">
                      <select name="age" id="age"class="form-control" required="" >
                          <option value="" selected="">Select Age</option>
                          <option value="18" >18</option>
                          <option value="19" >19</option>
                          <option value="20" >20</option>
                          <option value="21" >21</option>
                          <option value="22" >22</option>
                          <option value="23">23</option>
                          <option value="24" >24</option>
                          <option value="25">25</option>
                          <option value="26" >26</option>
                          <option value="27" >27</option>
                          <option value="28" >28</option>
                          <option value="29" >29</option>
                          <option value="30" >30</option>
                          <option value="31" >31</option>
                          <option value="32" >32</option>
                          <option value="33" >33</option>
                          <option value="34" >34</option>
                          <option value="35">35</option>
                          <option value="36" >36</option>
                          <option value="37" >37</option>
                          <option value="38" >38</option>
                          <option value="39">39</option>
                          <option value="40" >40</option>
                          <option value="41" >41</option>
                          <option value="42" >42</option>
                          <option value="43">43</option>
                          <option value="44" >44</option>
                          <option value="45">45</option>
                          <option value="46" >46</option>
                          <option value="47" >47</option>
                          <option value="48" >48</option>
                          <option value="49" >49</option>
                          <option value="50">50</option>
                          <option value="51">51</option>
                          <option value="52">52</option>
                          <option value="53" >53</option>
                          <option value="54" >54</option>
                          <option value="55">55</option>
                          <option value="56" >56</option>
                          <option value="57">57</option>
                          <option value="58" >58</option>
                          <option value="59">59</option>
                          <option value="60">60</option>
                          <option value="61" >61</option>
                          <option value="62">62</option>
                          <option value="63" >63</option>
                          <option value="64">64</option>
                          <option value="65" >65</option>
                          <option value="66" >above 65+</option>
                           
                        </select>
                  </div>
                </div>
                 <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>ఫోన్ నెంబర్</label>
                  <div class="login_field">
                    <input class="form-control" oninput="maxLengthCheck(this)" maxlength="10" onkeypress="return isNumeric(event)" type="text" id="phone" name="phone">
                  </div>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>సామజిక వర్గం</label>
                  <div class="login_field">
                    <input class="form-control" type="text" id="caste" name="caste">
                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>విద్యార్హత</label>
                    <div class="login_field">
                      <input class="form-control" type="text" id="qualification" name="qualification">
                    </div>
                    </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>ఈమెయిల్</label>
                  <div class="login_field">
                    <input class="form-control" type="text" id="email" name="email">
                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>వృత్తి </label>
                    <div class="login_field">
                      <input class="form-control" type="text" id="occupation" name="occupation">
                    </div>
                    </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label> పార్లమెంట్ నియోజకవర్గం</label>
                  <div class="login_field">
                      <select name="parliament" id="parliament" class="form-control" required=""
                              style="width:85%;    border-radius: 1px;    border-color: cadetblue;">
                          <option value="" selected="">Select Parliament</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <label> అసెంబ్లీ నియోజకవర్గం</label>
                <div class="login_field">
                    <select name="assembly" id="assembly" class="form-control" required=""
                            style="width:85%;    border-radius: 1px;    border-color: cadetblue;">
                        <option value="" selected="">Select Assembly</option>
                    </select>
                </div>
                </div>
         </div>
         <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
            <label> మండలం</label>
            <div class="login_field">
                <select name="mandal" id="mandal" class="form-control" required=""
                        style="width:85%;    border-radius: 1px;    border-color: cadetblue;">
                    <option value="" selected="">Select Mandal</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
            <label>గ్రామం  </label>
            <div class="login_field">
              <input class="form-control" type="text" id="village" name="village">
            </div>
            </div>
       
         </div>
         <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <label>సభ్యత్యం నెం</label>
                <div class="login_field">
                  <input class="form-control" type="text" id="jsp_id" name="jsp_id">
                </div>
                </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <label>ఓటరు గుర్తింపు నెం </label>
                <div class="login_field">
                  <input class="form-control" type="text" id="voter_id" name="voter_id">
                </div>
                </div>
               
         </div>
        
         <div class="row" id="department_div" style="margin: 18px 10px 10px 4px;">
            <label>సామర్ధ్యం/ నైపుణ్యం (ఏవైనా మూడు అంశాలు ఎంచుకోండి)
                 </label><br>
                 <div class="activities" style="    margin-top: 12px;">
                   <div class="col-md-12 col-lg-12 col-sm-12">
                     <input type="checkbox" id="test3" class="skills" name=skills[] value="motivational speakers" />
                     <label for="test3" id="skills">
                       ప్రసంగాలతో ప్రజలను ప్రభావితం చేయడం </label>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12">
                     <input type="checkbox" id="test4" class="skills"  name=skills[] value="local issues" />
                     <label for="test4" id="skills" style="margin-top: 5px;">సమస్యలపై పోరాటం చేయడం </label>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12" style="    margin-top: 7px;">
                     <input type="checkbox" id="test5" class="skills"  name=skills[]  value="Door to door election campaign"/>
                     <label for="test5" id="skills">ఇంటింటికి పార్టీ సిద్ధాంతాలు తీసుకెళ్లడం </label>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12" style="    margin-top: 9px;">
                     <input type="checkbox" class="skills" id="test6"   name=skills[] value="law and order"/>
                     <label for="test6" id="skills">న్యాయపరమైన చిక్కులను పరిష్కరించడం </label>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12" style=" margin-top: 10px;">
                     <input type="checkbox" class="skills" id="test8"  name=skills[] value="social media publicity"/>
                     <label for="test8" id="skills">సోషల్ మీడియా ద్వారా బలంగా ప్రచారం చేయడం </label>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12" style=" margin-top: 10px;">
                     <input type="checkbox" class="skills" id="test9"  name=skills[] value="banners publicity"/>
                     <label for="test9" id="skills">బ్యానర్లు, పెయింటింగ్ లతో పార్టీ ప్రచారం  </label>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12" style=" margin-top: 10px;">
                     <input type="checkbox" class="skills" id="test10"  name=skills[] value="political analysis "/>
                     <label for="test10" id="skills">రాజకీయ విశ్లేషణ  </label>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12" style=" margin-top: 10px;">
                     <input type="checkbox" class="skills" id="test11"   name=skills[] value="leadership"/>
                     <label for="test11" id="skills">నాయకత్వ లక్షణాలు (కొత్తవారిని చేర్చడం, వారిని నడిపించడం) </label>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12" style=" margin-top: 10px;">
                     <input type="checkbox" class="skills" id="test12"  name=skills[] value="content writing"/>
                     <label for="test12" id="skills">తెలుగు, ఇంగ్లిష్, ఉర్దూ, హిందీ భాషపై పట్టు, కంటెంట్ రైటింగ్ 
                     </label>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12" style=" margin-top: 10px;">
                     <input type="checkbox" class="skills" id="test13"   name=skills[] value="cultural activities"/>
                     <label for="test13" id="skills">సాంస్కృతిక నైపుణ్యాలు (సంగీతం, పాడటం, నృత్యాలు, నాటకాలు)

                     </label>
                   </div>
                  
                 </div>
         </div>
         <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <label>ఇతర ప్రత్యేక నైపుణ్యాలు,అనుభవాలు </label>
                <textarea class="form-control" id="extra_activities" name="extra_activities" rows="4" cols="50" style=width:100%></textarea>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <div id="photo">
                <label>పాస్పోర్ట్ ఫోటో</label>
                <input type='file' onchange="readURL(this);" id="photo_file" accept="image/*" />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
            <img id="blah" src="/static/img/default-avatar.png" alt="your image" style=" margin-top: 30px;"/>
          </div>
        </div>
        <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
            <button type="submit" class="submit" id="submit_login">SUBMIT</button>
        </div>
         </div>
        </div>
          </div>
    <script>

function validatevoter_id(voter_id) {
      var regex = /^[A-Za-z]{2,3}[0-9]*$/g;
     
      var length = voter_id.length;
      if (length >= 10 && length <= 14) {
        if (regex.test(voter_id)) {
          return true
         
        }
        else {
        
          return false;

        }
      }
      else {
      
        return false;
      }
    }



function isNumeric(evt) {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
      var regex = /[0-9\b]|\./;
      if (!regex.test(key)) {
        theEvent.returnValue = false;
        if (theEvent.preventDefault) theEvent.preventDefault();
      }
    }
    function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }


  function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }




    $(document).ready(function () {
       var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

    $.getJSON('/static/json/constituency_pc_mand.json', function (data) {
    mandals = data;
    data.forEach(district_data => {
    $('#parliament')
        .append($("<option></option>")
        .attr("value", district_data['parliament_constituency_id'])

        .text(district_data['parliament_constituency_name']));
    });
      
       
        
      var map = {};
    $('#parliament option').each(function () {
            if (map[this.value]) {
              $(this).remove()
            }
            map[this.value] = true;
        });

    });

     $("#parliament").change(function () {
      var district = $("#parliament").val();

      $('#assembly')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Assembly</option>')
        .val('');
      mandals.forEach(assembly_data => {
        if (district == assembly_data['parliament_constituency_id']) {
            $('#assembly')
            .append($("<option></option>")
              .attr("value", assembly_data['constituency_id'])

              .text(assembly_data['constituency_name'].toLowerCase()));



        }
        
       
        


      });


      var map = {};
      $('#assembly option').each(function () {
        if (map[this.value]) {
          $(this).remove()

        }
        map[this.value] = true;
      })

    });

      $("#assembly").change(function () {
      var assembly = $("#assembly").val();
      assembly_name = $('#assembly option:selected').text()

      $('#mandal')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Mandal</option>')
        .val('');
      mandals.forEach(mandal_data1 => {
        if (assembly == mandal_data1['constituency_id']) {

          $('#mandal')
            .append($("<option></option>")
              .attr("value", mandal_data1['id'])
              .text(mandal_data1['mandal_name'].toLowerCase()));
        }

      }); 
        
        

    });


       function validateMobileNo(mobile)
        {
          var mobileregex = /^[6-9]{1}[0-9]{9}$/g;
       
          
          var length=mobile.length;
          if(length==10){
            if(mobileregex.test(mobile))
            {
              return true;
            }
            else
            {
              return false;
            }
          }
          else
          {
            return false;
          }

        }
   

        
      function isEmpty(val) {
return (val === undefined || val == null || val.length <= 0) ? true : false;
}

      function validate() {
        $("p").html('');

       
        var name = $('#name').val();
        var age = $('#age').val();
        var phone_num=$('#phone').val();
        var gender = $("input[name='gender']:checked").val();
        var caste=$('#caste').val();
        var qualification=$('#qualification').val();
        var email=$('#email').val();
        var jsp_id=$('#jsp_id').val();
        var voter_id=$('#voter_id').val();
        var occupation=$('#occupation').val();
        var parliament = $('#parliament').val();
        var assembly = $('#assembly').val();
        var mandal = $('#mandal').val();
        var village = $('#village').val();
        var others=$('#extra_activities').val();
        
        
      
        $("p").remove(".validation");

        if (isEmpty(name)){
         
          $("#name").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#name").focus();

          return false;
        }

          if (isEmpty(gender)){
         
          $("#gender_div").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#gender_div").focus();

          return false;
        }
        
         if (isEmpty(age)) {
         
          $("#age").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#age").focus();

          return false;
        }
        if (!validateMobileNo(phone_num)){
         
         $("#phone").after("<p class='validation' style='color:red;'>Enter Valid Phone Number</p>");
         $("#phone").focus();

         return false;
        }
        if (!validatevoter_id(voter_id)) {
           
           $("#voter_id").after("<p class='validation' style='color:red;'> Enter valid Voter ID</p>");
           $("#voter_id").focus();

           return false;
           }

        if (isEmpty(caste)){
         
         $("#caste").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#caste").focus();

         return false;
       }
       if (isEmpty(qualification)){
         
         $("#qualification").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#qualification").focus();

         return false;
       }
       if (isEmpty(email)){
         
         $("#email").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#email").focus();

         return false;
       }
       if (isEmpty(occupation)){
         
         $("#occupation").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#occupation").focus();

         return false;
       }
    

        if (isEmpty(parliament)) {
          
          $("#parliament").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#parliament").focus();

          return false;
        }
        if (isEmpty(assembly)) {
         
          $("#assembly").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#assembly").focus();

          return false;
        }
        if (isEmpty(mandal)) {
         
          $("#mandal").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#mandal").focus();

          return false;
        }

        if (isEmpty(jsp_id)) {
         
         $("#jsp_id").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#jsp_id").focus();

         return false;
       }
      

         if (isEmpty(village)) {
         
          $("#village").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#village").focus();

          return false;
        }
        if (isEmpty(others)) {
         
         $("#extra_activities").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#extra_activities").focus();

         return false;
       }

       if ($("[name='skills[]']:checked").length <= 2) {
             
             swal("Error", "Please Select Atleast three Skills", "error")
             return false;
           }

    if($("#photo_file")[0].files[0])
{


           var passport_file_size = $("#photo_file")[0].files[0].size/1024/1024;
          passport_file_size = passport_file_size.toFixed(2);
          if(passport_file_size>2)
          {
          $("#photo").css("border-bottom", "1px solid red");
          $("#photo").parent().append("<p class='validation' style='color:red;'>too big, maximum file size is 2MB </p>");
          $("#photo").focus();
        return false;
          }

      }
      else
      {
         swal("Error", "Please upload your passport photo", "error")
          return false;
      }

          return true;
        }


  

    //     $("input[type='file']").on("change", function () {
    //  if(this.files[0].size > 2000000) {
    //    alert("Please upload file less than 2MB. Thanks!!");
    //    $(this).val('');
    //  }
    // });


      
      $('#submit_login').click(function () {
        if (!validate()) {

$(".loader").css("display", "None");
return false;
}
  $('.loader').css('display','block')
        var name = $('#name').val();
        var age = $('#age').val();
        var phone_num=$('#phone').val();
        var gender = $("input[name='gender']:checked").val();
        var caste=$('#caste').val();
        var qualification=$('#qualification').val();
        var email=$('#email').val();
        var jsp_id=$('#jsp_id').val();
        var occupation=$('#occupation').val();
        var voter_id=$('#voter_id').val();
        
        var parliament = $('#parliament').val();
        var assembly = $('#assembly').val();
        var mandal = $('#mandal').val();
        
        var village = $('#village').val();
        var others=$('#extra_activities').val();
        var file=$("#photo_file")[0].files[0];

        var skills = new Array();
          $.each($("input[name='skills[]']:checked"), function () {
            skills.push($(this).val());
          });

          var formData = new FormData();
          formData.append('image', file);
          formData.append('name',name);
          formData.append('age',age);
          formData.append('phone',phone_num);
          formData.append('gender',gender);
          formData.append('caste',caste);
          formData.append('education',qualification);
          formData.append('email',email);
          formData.append('membership_id',jsp_id);
          formData.append('occupation',occupation);
          formData.append('voter_id',voter_id);
          formData.append('parliament',parliament);
          formData.append('assembly',assembly);
          formData.append('mandal',mandal);
          formData.append('village',village);
          formData.append('experience',others);
          formData.append('skills',skills);
         
       
    
       


        $.ajax({
          url: "/jsp_active_team",
          data: formData,
          type: 'POST',
          processData: false,
          contentType: false,
          success: (function (response) {
            var response=JSON.parse(response)
            if(response.status==1)
            {
              $('.loader').css('display','none')


              swal({
                  title: "Success!! ",
                  icon: "success",
                  type: "success",
                  text:"Thanks for sharing the details. We will get back to you soon.",
                  confirmButtonText: "OK",

                },
                  function () {
                     window.location = "https://janasenaparty.org"
                  });
                                }
                         else
                         {
                          $('.loader').css('display','none')
                          swal('Error',response.msg,'error')
                          return false;
                         }

          }),
          error: (function (response) {

            $(".loader").css("display", "none")
            swal("Error", "Something wrong. please check your internet ", 'error');
            return false;
          })

        })
      
      })
    })
    

</script>
</body>
</html>