{% extends "layout.html" %}
{% block body %}<!DOCTYPE html>

        <!-- InstanceBeginEditable name="body" -->
      <div class="col l9 m12 s12">
        <div class="row">
          <div class="col l6 m6 s12">
            <div class="col l12 s12 m12 center-align embed-responsive embed-responsive-16by9">
              <h6 class="red-text" style="font-family: 'Bree Serif', serif;"> Desh Bachao Audio Tracks</h6>
              <div class="grey lighten-4" style="padding:10px; border-radius:5px;">
<!--                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YoYV6PmRAUE" width="100%" height="200" frameborder="0" allowfullscreen=""></iframe>-->
                  <iframe width="100%" height="200"  src="https://www.youtube.com/embed/bZ8YPTtBoWM?list=PLIIx2mSqmusMHRi4sd6i1xado-Fz6SOxM" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="col l12 s12 m12 center-align embed-responsive embed-responsive-16by9">
              <h6 class="red-text" style="font-family: 'Bree Serif', serif;">Video Gallery</h6>
              <div class="grey lighten-4" style="padding:10px; border-radius:5px;">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GU6LobNN7cA?list=PLIIx2mSqmusONdyFF1ong32TmvFZvAMDn" width="100%" height="200" frameborder="0" allowfullscreen=""></iframe>
                  
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="row">
          <div class="col l6 m6 s12">
            <div class="col l12 s12 m12 center-align embed-responsive embed-responsive-16by9">
              <h6 class="red-text" style="font-family: 'Bree Serif', serif;">Official Press Notes</h6>
              <div class="grey lighten-4" style="padding:10px; border-radius:5px;">
                <a href="https://www.facebook.com/janasenaparty/photos/?tab=album&album_id=370248066707808" target="_blank"><img src="static/img/janasena-press-notes.jpg" height="200" alt=" "></a>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="col l12 s12 m12 center-align embed-responsive embed-responsive-16by9">
              <h6 class="red-text" style="font-family: 'Bree Serif', serif;">Picture Gallery</h6>
              <div class="grey lighten-4" style="padding:10px; border-radius:5px;">
                <a href="https://www.facebook.com/janasenaparty/photos/?tab=albums" target="_blank"><img src="static/img/desh-bachao-img-janasena-party-slogan.jpg" height="200" alt=" "></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}