<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <title>NRI Connect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="TQ0G4PCiAgF96GsS1qHrnme8hY-7UMJqCRdynL041A4" />
  <!-- Latest compiled and minified CSS -->
<link rel="icon" type="image/png" href="/static/img/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/assets/css/intlTelInput.css">
  <script src="/static/nriconnect/js/intlTelInput.min.js"></script>
  <script src="/static/nriconnect/js/jquery.formatter.min.js"></script>
 
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
<script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

  
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90631816-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1618598754905043'); 
fbq('track', 'PageView');
</script>

<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=1618598754905043&ev=PageView
&noscript=1"/>
</noscript>

  <style>

    .daterangepicker .input-mini {
  padding: 0 6px 0 58px;
}

.daterangepicker .daterangepicker_input i {
  top:0px!important
}

    .fa {
      padding: 3px !important;
      font-size: 22px !important;
      width: 30px !important;
      text-align: center !important;
      text-decoration: none !important;
      margin: 3px !important;
    }
    .submit{
      background: #d61f26;
    border: 0;
    padding: 8px 30px;
    color: #fff;
    margin: 10px 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
    position: relative;
    }
  
    .fahover {
      opacity: 0.7;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-home {
      background: #bb0000;
      color: white;
    }
    .line{
      font-weight: 500;
    padding: 24px;
    background-color: #d81615;
    line-height: 1.1;
    font-size: 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 3px 5px #607D8B;
    }
.headings
{
  color: #000;
    text-align: left;
    padding: 0 0 0 0px;
    font-size: 1.4em;
    line-height: 30px;
    font-weight:700;
}
 @media (max-width: 415px){
  .social-icons{
    display:none!important;
  }
    /*.xs-hidden{
      display:none!important;
    }*/
    .playstore{
      display:none!important;
    }
    .googleplay{
      display:none!important;
    }
    .border{
      width:95%!important
    }
    .logo{
      display:none!important
    }
    .nri_qut{
      display:none!important;
    }
    #phone-number{
      margin-left: -10px !important;
    }
    .container
    {
      width:95% !important;
    }
    .form{
         margin-left:0px!important;
    width: 100%!important;

    }
  
   
 }
 
 .bg{

    /*background-image: url(/static/img/nri_connect_bg.jpg);*/
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    background-attachment: fixed;

    
    background-size: cover;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;

 }
 .form-control{
  border-radius: 1px;
    border-color: #d81615;
 }
 /* .cover_inner{
  background-image: url(img/janasena.png);
    background-repeat: no-repeat;
    padding: 10px 20px 5px 20px;
    background-size: 38%;
    background-repeat: no-repeat;
    background-position: 0% center;
   
 } */
 
 .input_field {
      width: calc(100% - 50px);
      border: 1px solid #d5d4d4;
      /* margin: 0 16px; */
      float: left;
      height: 30px;
      text-transform: uppercase;
      padding: 17px 10px;
      border-color: cadetblue;
    }


.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-1.active{background-color: #006FFC;color: white;}
.btn-default.btn-off-1.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-2.active{background-color: #00D590;color: white;}
.btn-default.btn-off-2.active{background-color: #A7A7A7;color: white;}

.btn-default.btn-on-3.active{color: #5BB75B;font-weight:bolder;}
.btn-default.btn-off-3.active{color: #DA4F49;font-weight:bolder;}

.btn-default.btn-on-4.active{background-color: #006FFC;color: #5BB75B;}
.btn-default.btn-off-4.active{background-color: #DA4F49;color: #DA4F49;}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}




.skills{
  padding:10px
}




/* Useless styles, just for demo design */

body {
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  color: #777;
}
h1, h2 {
  margin-bottom: .25em;
  font-weight: normal;
  text-align: center;
}
h2 {
  margin: .25em 0 2em;
  color: #aaa;
}
form {
  width: 7em;
  margin: 0 auto;
}
.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}

[type="checkbox"]:not(:checked) + label{
  position: none!important
}


.normal_text{
 
  text-align: left;
  
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
    font-size: 15px;
    color:  #333333;
}





    
  </style>
</head>

<body class="bg">
   {% include "loader.html" %}
  <div class="wrapper" style="height:60px;width:100%;position:fixed;top:0;
    z-index:1000;box-shadow: 0 3px 5px #607D8B;background-color: white;">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
          <img src="/static/img/sena2.png" style="width:79px;margin: 6px 6px 6px 6px;margin-top:6px">
        </div>
        <div class=" car col-xs-6 col-sm-2 col-md-4 col-lg-5">
          <h3>NRI Connect</h3>
        </div>
        <div class="social-icons col-xs-9 col-sm-8 col-md-6 col-lg-6" style="text-align:right;
            margin-top: 18px;">
          <a href="https://janasenaparty.org/">
            <i class="fa fa-home"></i>
          </a>
          <a href="https://www.facebook.com/janasenaparty/" target="_blank" class="fa fa-facebook"></a>
          <a href="https://www.instagram.com/Janasenaparty/" target="_blank" class="fa fa-instagram"></a>
          <a href="https://twitter.com/Janasenaparty?lang=en" target="_blank" class="fa fa-twitter"></a>
          <a href="https://www.youtube.com/Janasenaparty" target="_blank" class="fa fa-youtube"></a>
          <a class=googleplay href="https://play.google.com/store/apps/details?id=com.janasena.events" target="_blank">
            <img src="/static/img/google_play.png" style="max-height:28px;">
          </a>
          <a class=playstore href="https://itunes.apple.com/in/app/news-events/id1418961665?mt=8" target="_blank">
            <img src="/static/img/app-store.png" style="max-height:28px">
     
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid bg"> -->
<div class="content_wrapper" id="instructions" >
  <div class="cover_container">
    <div class="cover_inner  instructions_container">
        <div class="container " style="
      border: #587783 solid 5px;
      padding: 15px;
      margin-top:65px;
      font-weight:500;
         float: inherit;  ;width:60%">
         <h5 style=" color: #d81615;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size:30px;">JANASENA FOR NEW AGE POLITICS<span
            style=" color: #d81615;font-family: 'Roboto', sans-serif;font-weight: 500;line-height: 1.1;font-size: 30px;"> - NRI FELLOWSHIP
          </span></h5>

          <P class="headings">Objective</p>
        <p class="normal_text">The program is to channelize and bring all NRI volunteers on a single platform to maximize the efforts and meaningful impact. This program is to facilitate all the interested Janasaniks to sign up to the program and work towards the realizing the goal of Janasena. This is an opportunity to change the politics there by changing the society- Janasena for new age politics.</p>

        <p class="headings">Duration:</p>
        <p class="normal_text">1st  Feb 2019 to 15th  May 2019 or till election time.</p>

        <p class="headings">Scope of Work</p>
        <p class="normal_text">Under the Fellowship Programme, a Fellow signed up would be assigned to the Assembly constituency. The Fellow, who will be a young professional would work from the Constituency and support the candidate in campaign management, gap analysis, volunteer management and implementation of the party programs like:<br>

        <ol>
          <li class="normal_text">Provide managerial support and act as facilitator in implementation and monitoring of the party campaigns.</li>
           <li class="normal_text">To work in different mediums of outreach (Ground& Digital Platforms)</li>
            <li class="normal_text"> Managing party volunteers</li>
         </ol>
       
          <img src="/static/img/fellowship_timeline.jpeg" style=" width: 103%;
      margin-left: -14px;">
         
       
        <br>
              <div class="row" style="text-align: center;">
                      <button  class="btn_next" id="step_1_next" style="    background-color: #d81615;
            width: 125px;
            height: 35px;color:white">Register</button>
                    </div>
      </div>
    </div>
  </div>
</div>
  <div class="content_wrapper"  id="form" style="display:none">
    <div class="cover_container">
      <div class="cover_inner">
        <div class="container ">
          <div class="row" style="margin-top:56px">
            <!-- <div class="col-md-2 col-lg-2 col-sm-2 ">

            </div> -->

            <div class=" col-md-8 col-lg-8  col-sm-8 form " style="
      border: #587783 solid 5px;
      padding: 30px;
      ;background-color: white;
      margin: 0 auto;    float: inherit;  ;">
              <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4">
                  <label for="volunteer_name">Name</label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="volunteer_name" placeholder="Name" name="volunteer_name">
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                  <label for="volunteer_age">Age</label>
                  <div class="form-group">
                      <select name="volunteer_age" id="volunteer_age" class="form-control" required="">
                          <option value="" selected="">Enter Age</option>
                          <option value="18" >18</option>
                    <option value="19" >19</option>
                    <option value="20" >20</option>
                    <option value="21" >21</option>
                    <option value="22" >22</option>
                    <option value="23">23</option>
                    <option value="24" >24</option>
                    <option value="25">25</option>
                    <option value="26" >26</option>
                    <option value="27" >27</option>
                    <option value="28" >28</option>
                    <option value="29" >29</option>
                    <option value="30" >30</option>
                    <option value="31" >31</option>
                    <option value="32" >32</option>
                    <option value="33" >33</option>
                    <option value="34" >34</option>
                    <option value="35">35</option>
                    <option value="36" >36</option>
                    <option value="37" >37</option>
                    <option value="38" >38</option>
                    <option value="39">39</option>
                    <option value="40" >40</option>
                    <option value="41" >41</option>
                    <option value="42" >42</option>
                    <option value="43">43</option>
                    <option value="44" >44</option>
                    <option value="45">45</option>
                    <option value="46" >46</option>
                    <option value="47" >47</option>
                    <option value="48" >48</option>
                    <option value="49" >49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53" >53</option>
                    <option value="54" >54</option>
                    <option value="55">55</option>
                    <option value="56" >56</option>
                    <option value="57">57</option>
                    <option value="58" >58</option>
                    <option value="59">59</option>
                    <option value="60">60</option>
                    <option value="61" >61</option>
                    <option value="62">62</option>
                    <option value="63" >63</option>
                    <option value="64">64</option>
                    <option value="65" >65</option>
                    <option value="65+" >above 65+</option>
                     
                        </select>
                    <!-- <input type="text" class="form-control" id="volunteer_age" placeholder="Age" name="volunteer_age"> -->
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                  <div class="form-group">
                    <label for="volunteer_email">Email</label>
                    <input type="text" class="form-control" id="volunteer_email" placeholder="email" name="volunteer_email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4">
                  <label for="phone-number-country">country</label>
                  <select class="form-control browser-default" id="phone-number-country" name="phone-number-country"
                    autocomplete="off" required>
                  </select>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12">
                  <label for="phone-number" class="labels">
                    Phone Number
                  </label>
                  <div class="phone-number row">
                    <div class="col-lg-2 col-sm-3 col-md-2 col-xs-3">

                      <input type="text" class="form-control phone-number-prefix" id="countrycode" name="countrycode"
                        val=" " readonly="" style="width:71px;padding-left: 1px;"></div>


                    <div class="col-lg-10 col-sm-9 col-md-10 col-xs-9">
                      <input class="form-control" id="phone-number"  onkeypress="return isNumeric(event)" name="phone-number" type="text" autocomplete="off"
                        maxlength="14" required="">
                      <input type="hidden" id="phone-number-full"   name="phone-number-full">
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                  <label>Is this your WhatsApp Number</label>
                  <label class="radio-inline">
                    <input type="radio" name="whats_app" value="yes" >yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="whats_app" value="no" >NO
                  </label></br>
                  <div class="whatsup" id="whatsup" style="display:none;margin-top: 10px;">
                    <label for="whast_app_no">Whats App Number</label>
                    <div class="form-group">
                      <input type="text" onkeypress="return isNumeric(event)" class="form-control" id="whats_app_no" placeholder="Whats App Number" name="whast_app_no">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:13px">
                  <div class="col-md-4 col-lg-4 col-sm-4">
                      <div class="form-group">
                        <label for="facebook">Facebook ID</label>
                        <input type="text" class="form-control" id="facebookid" placeholder="facebook" name="facebookid">
                      </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <div class="form-group">
                          <label for="twitter_id">Twitter ID</label>
                          <input type="text" class="form-control" id="twitter" placeholder="Twitter ID" name="twitter_id">
                        </div>
                      </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                  <label for="city">City You Live In</label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="city" placeholder="city" name="city">
                  </div>
                </div>

              </div>
              <div class="row">
                 
                <div class="col-md-4 col-lg-4 col-sm-12">
                  <label for="volunteer_profession">Profession</label>
                  <select name="volunteer_profession" id="volunteer_profession" class="form-control" required="">
                    <option value="" selected="">Select Profession</option>
                    <option value="Academician" class="academician">Academician</option>
                    <option value="Student" class="student">Student</option>
                    <option value="Self-employed" class="Self-employed">Self-employed</option>
                    <option value="Housewife" class="housewife">Housewife</option>
                    <option value="Journalist" class="Journalist">Journalist</option>
                    <option value="Other" class="Other">Other</option>
                  </select>
                </div>

              </div>

              <h5 style="text-align:center;color: #d81615;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 25px">Native
                Place Details</h5>
              <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-4">
                      <div class="form-group">
                        <label for="state"> Select state</label>
                        <select name="state" id="state" class="form-control" required="">
                          <option value="" selected="">Select state</option>
                          <option value="1">Andhra Pradesh</option>
                          <option value="2">Telangana</option>
                          
                     
                        </select>
                      </div>
                    </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                  <div class="form-group">
                    <label for="district"> Select District</label>
                    <select name="district" id="district" class="form-control" required="">
                      <option value="" selected="">Select District</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                  <div class="form-group">
                    <label for="assembly_constituency"> Select Constituency</label>
                    <select name="assembly_constituency" id="assembly_constituency" class="form-control" required="">
                      <option value="" selected="">Select Constituency</option>
                    </select>
                  </div>
                </div>
              </div>


             

              <h3 style="text-align: center;color:#d81615;">Your Skills</h3>
              <div class="row" style="border: #d81615 solid 2px;margin-top:25px;    padding: 17px;">
                <div class="fun">
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <input type="checkbox" id="test3" class="skills" name=skills[] value="Technology Development" />
                    <label for="test3" id="skills">Technology Development</label><br>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <input type="checkbox" id="test4" class="skills" name=skills[] value="Social Media" />
                    <label for="test4" id="skills">Social Media</label>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12" style="    margin-top: 7px;">
                    <input type="checkbox" id="test5" class="skills" name=skills[]  value="Electioneering work"/>
                    <label for="test5" id="skills">Electioneering work</label>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12" style="    margin-top: 9px;">
                    <input type="checkbox" class="skills" id="test6" name=skills[] value="Event Organising"/>
                    <label for="test6" id="skills">Event Organising</label>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12" style=" margin-top: 10px;">
                    <input type="checkbox" class="skills" id="test7" name=skills[] value="others"/>
                    <label for="test7" id="skills">others</label>
                  </div>
                </div>
              </div>

              <div class="row" id="is_volunteer_div" style="    margin-top: 16px;
              ">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label>Do you want to volunteer for Janasena</label>
                  <div class="btn-group">
                    <label class="btn btn-default btn-on ">
                      <input type="radio" name="volunteer" value="yes">Yes</label>
                    <label class="btn btn-default btn-off">
                      <input type="radio" name="volunteer" value="no">No</label>
                  </div>

                </div>
              </div>
              <div class="row" id="vol_status" style="display:none;margin-top:10px">
                <div class=" col-md-12 col-lg-12 col-sm-12">
                  <label>How do you want to volunteer for Janasena
                    <div class="btn-group" id="volunteer_status">
                      <label class="btn btn-default btn-on ">
                        <input type="radio" value="full" name="timezone">Full Time</label>
                      <label class="btn btn-default btn-off">
                        <input type="radio" value="part" name="timezone">Part Time</label>
                    </div>
                  </label>
                </div>
              </div>
              <div class="row" id="timerange" style="display: none;margin-left: 10px !important;">
                <div class=" row">
                  <input type="checkbox" id="work_india_checkbox" value="yes" name="workindia" />
                  <label for="work_india_checkbox" style="margin-top:13px">Volunteer on ground in india during Election</label>
                 </div>
                  
                  <div class=" row">
                    <div class="col-md-6 col-lg-6 col-sm-12 form-group">
                    <label>From Date </label>
                    <input type='text' name='from-date' value='' class="form-control" id='from-date-text'/>
                 
                    </div>
                  <div class="col-md-6 col-lg-6 col-sm-12 form-group">
                   <label>To Date </label>
                  <input type='text' name='end-date' value='' class="form-control" id='end-date-text'/>
                   </div>
                    </div>
                </div>
                <div class="row" id="ab" style="display:none;">
                    <div class=" col-md-12 col-lg-12 col-sm-12">
                      <input type="checkbox" id="work_abroad_checkbox" value="yes"  name="workabroad"/>
                      <label for="work_abroad_checkbox" style="    margin-top: 18px;
                  ">Volunteer remotely from abroad</label>
                </div>
                 <div class=" row" style="margin-left: 6px;">
                 <div class="col-md-6 col-lg-6 col-sm-12 form-group">
                <label>From Date </label>
                 <input type='text' name='from-date1' value='' class="form-control" id='from-date-text1'/>
               </div>
                <div class="col-md-6 col-lg-6 col-sm-12 form-group">
                 <label>To Date </label>
                 <input type='text' name='end-date1' value='' class="form-control" id='end-date-text1'/>
                   </div>
               
              </div>
              </div>
              <div class="row" style="display:none" id="partzone">
                <div class=" col-md-4 col-lg-4 col-sm-12">
                  <label>How many hours would like to spend (per day):</label>
                  
                  <div class="btn-group" id="volunteer2" >
                    <label class="radio-inline"><input type="radio" name="volunteer1" value="2" >2 Hrs</label>
                  <label class="radio-inline"><input type="radio" name="volunteer1" value="4"> 4 Hrs</label>
                  <label class="radio-inline"><input type="radio" name="volunteer1" value="6"> 6 Hrs</label>
                  <label class="radio-inline"><input type="radio" name="volunteer1" value="8"> 8 Hrs</label>
                  </div>
                  
                </div>
                <div class="col-md-8 col-lg-8 col-sm-12" style="margin-top: 20px;">
                  <div class="col-md-6 col-lg-6 col-sm-12 form-group">
                    <label>From Date </label>
                    <input type='text' name='from-date2' value='' class="form-control" id='from-date-text2'/>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12 form-group">
                    <label>To Date </label>
                    <input type='text' name='end-date2' value='' class="form-control" id='end-date-text2'/>
                    </div>
                </div>
              </div>
             

              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                  <div class="form-group" style="margin-left: 15px;margin-top: 15px">
                    <label for="jscaptchainput"> Please enter captcha *:</label>
                    <div class="captcha-textbox form-control " style="width:100%;height:43px!important">
                      <span class="form-inline" id="jscaptchatext" style="font-size: 18px;color:black;"></span>
                      <input type="text" id="jscaptchainput" style="width: 50%;font-family: 'Open Sans', sans-serif;padding: 0.1em 0em 1px 0em;border: none;border-radius: 0px;color:black;font-size:18px;outline: none;margin-left: 15px;background: none;    margin-top: 7px;" />
                    </div>
                    <p id="captcha_error" style="display:none;color:#d81615;">Please enter above captcha
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12" style="margin-top:30px;text-align:center">
                  <button type="submit" id="nriform" class="btn btn-danger submit" >Count Me</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <script>


function isNumeric(evt) {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
      var regex = /[0-9\b]|\./;
      if (!regex.test(key)) {
        theEvent.returnValue = false;
        if (theEvent.preventDefault) theEvent.preventDefault();
      }
    }


    var input = $('#jscaptchainput');
    var label = $('#jscaptchatext');

    var randomNr1 = 0;
    var randomNr2 = 0;
    var totalNr = 0;

    randomNr1 = Math.floor(Math.random() * 10);
    randomNr2 = Math.floor(Math.random() * 10);
    totalNr = randomNr1 + randomNr2;
    var texti = randomNr1 + " + " + randomNr2 + " = ";

    $(label).text(texti);


    function validate_captcha_otp()
{
   var nr = $('#jscaptchainput').val();

    if(nr==totalNr)
    {
      return true;
    }
    else
    {
       $('#jscaptchainput').focus();
      return false;
    }
}
    function validate_captcha_login()
{
   var nr = $('#jscaptchainput').val();

    if(nr==totalNr_login)
    {
      return true;
    }
    else
    {
       $('#jscaptchainput').focus();
      return false;
    }
}

    function isEmpty(val) {
return (val === undefined || val == null || val.length <= 0) ? true : false;
}

    $(document).ready(function () {
      $("#step_1_next").click(function()
      {
        $("#instructions").css("display","none");
        $("#form").css("display","block");

      })

       var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
   
      jQuery(function ($) {
    $("#from-date-text").datepicker({
      pickTime: false, 
      locale: { format: 'YYYY-MM-DD',
       "separator": "-" },
     
     maxDate: new Date('2019-05-31') ,
     minDate:new Date()
    });
    $("#end-date-text").datepicker({
      pickTime: false, 
      locale: { format: 'YYYY-MM-DD',"separator": "-" },
    
     maxDate: new Date('2019-05-31') ,
     minDate:new Date()
    });
  })


  jQuery(function ($) {
    $("#from-date-text1").datepicker({
      pickTime: false, 
      locale: { format: 'YYYY-MM-DD',
       "separator": "-" } ,
     
     maxDate: new Date('2019-05-31') ,
     minDate:new Date()
    });
    $("#end-date-text1").datepicker({
      pickTime: false, 
     locale: { format: 'YYYY-MM-DD',
       "separator": "-" },

     maxDate: new Date('2019-05-31') ,
     minDate:new Date()
    });
  })

  jQuery(function ($) {
    $("#from-date-text2").datepicker({
      pickTime: false, 
      locale: { format: 'YYYY-MM-DD',
       "separator": "-" },
   
     maxDate: new Date('2019-05-31') ,
     minDate:new Date()
    });
    $("#end-date-text2").datepicker({
      pickTime: false, 
     locale: { format: 'YYYY-MM-DD',
       "separator": "-" },

     maxDate: new Date('2019-05-31') ,
     minDate:new Date()
    });
  });




      var districts;
var assembly_constituencies;
$.getJSON('/static/json/membership/districts.json',function(data){
  districts=data;

});
$.getJSON('/static/json/membership/constituencies.json',function(data){
  assembly_constituencies=data;

});


$("input[name='whats_app']").change(function () {

var whatsupno = $("input[name='whats_app']:checked").val();
if (whatsupno == 'yes') {
  $('#whatsup').css('display', 'none')
  
} else {
  $('#whatsup').css('display', 'block')
}
});




     

      $("input[name='volunteer']").change(function () {


        var test = $("input[name='volunteer']:checked").val();

        console.log(test)
        if (test == 'yes') {
          $('#vol_status').css('display', 'block')
        } else {

          $('#vol_status').css('display', 'none')
          $('#timerange').css('dsiplay', 'none');
          $('#partzone').css('display', 'none');
        }
      });



      $("input[name='timezone']").change(function () {


        var test1 = $("input[name='timezone']:checked").val();


        if (test1 == 'full') {
          $('#ab').css('display','block')
          $('#timerange').css('display', 'block')
          $('#partzone').css('display', 'none')
        } else {
          $('#partzone').css('display', 'block');
          $('#timerange').css('display', 'none')
          $('#ab').css('display','none')
        }
      });





      $("#state").change(function()
{
  var state=$("#state").val();
 
 

var districts_data=districts[state]


$('#district')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select District</option>')
        .val('');
        $('#constituency')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
        $.each(districts_data, function (i,val) {
          $('#district').append($('<option>', { 
          value: val.id,
          text : val.district_name
          }));
          });
  

})

$("#district").change(function()
  {
  var district=$("#district").val();
 console.log(district)
  if (!district)
  {
    return false;
  };
 $.each(assembly_constituencies,function(i,val){
  if(district==i)
  {
    console.log(district)
    $('#assembly_constituency')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
        $.each(val, function (akey,avalue) {
         
          $('#assembly_constituency').append($('<option>', { 
          value: avalue.constituency_id,
          text : avalue.constituency_name
          }));
          });
  }

 });
});


function validate() {

  
        $(".validation").html('');
        $("p").remove(".validation");

          var email = $("#volunteer_email").val();
          var age=$('#volunteer_age').val();
          var name = $("#volunteer_name").val();
          var profession = $("#volunteer_profession").val();
          var city = $("#city").val();
          var state=$('#state').val();
          var constituency=$('#assembly_constituency').val();
          var district=$('#district').val();
          var country_code = ($("#countrycode").text()).replace("+", "");
          var phone = ($("#phone-number").val()).replace("+", "");

          console.log(email,age,name,profession,city,state,constituency)
          $("p").remove(".validation");
        if (isEmpty(name)) {
          $("#volunteer_name").css("border-bottom", "1px solid red");
          $("#volunteer_name").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#volunteer_name").focus();

          return false;
        }

        if (isEmpty(city)) {
          $("#city").css("border-bottom", "1px solid red");
          $("#city").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#city").focus();

          return false;
        }


        if (isEmpty(age)) {
          $("#volunteer_age").css("border-bottom", "1px solid red");
          $("#volunteer_age").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#volunteer_age").focus();

          return false;
        }
        if (isEmpty(profession)) {
          $("#volunteer_profession").css("border-bottom", "1px solid red");
          $("#volunteer_profession").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#volunteer_profession").focus();

          return false;
        }
        if (isEmpty(email)) {
          $("#volunteer_email").css("border-bottom", "1px solid red");
          $("#volunteer_email").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#volunteer_email").focus();

          return false;
        }

        if (isEmpty(country_code)) {
          $("#countrycode").css("border-bottom", "1px solid red");
          $("#countrycode").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#countrycode").focus();

          return false;
        }

        if (isEmpty(phone)) {
          $("#phone-number").css("border-bottom", "1px solid red");
          $("#phone-number").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#phone-number").focus();

          return false;
        }








        if (isEmpty(state)) {
          $("#state").css("border-bottom", "1px solid red");
          $("#state").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#state").focus();

          return false;
        }
        if (isEmpty(constituency)) {
          $("#assembly_constituency").css("border-bottom", "1px solid red");
          $("#assembly_constituency").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#assembly_constituency").focus();

          return false;
        }
        if (isEmpty(district)) {
          $("#district").css("border-bottom", "1px solid red");
          $("#district").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#district").focus();

          return false;
        }

        var whatsapp=$("input[name='whats_app']:checked").val();
           if(whatsapp=='no'){
            if (isEmpty( $("#whats_app_no").val()))
             {
              $("#whats_app_no").css("border-bottom", "1px solid red");
            $("#whats_app_no").after("<p class='validation' style='color:red;'>This Field is Required</p>");
              $("#whats_app_no").focus();

            }
          
              
          }
          console.log('cp1')
          var volunteer_status = $("input[name='volunteer']:checked").val();
          if(isEmpty(volunteer_status))
          {
             $("#is_volunteer_div").after("<p class='validation' style='color:red;'>This Field is Required</p>");

                return false;
          }
          if(volunteer_status=='yes')
          {

              var full_or_part = $("input[name='timezone']:checked").val();
              if(isEmpty(full_or_part))
              {
                $("#volunteer_status").after("<p class='validation' style='color:red;'>This Field is Required</p>");

                return false;
              }
              if (full_or_part=='full')
              {

                      var  work_location_status=false;
                       if ($('#work_india_checkbox').prop("checked")) { 

                    var work_location_status=true;
                    var india_fromDate=$('#from-date-text').val();
                    var india_toDate=$('#end-date-text').val();
                    
                    if(isEmpty(india_fromDate))
                   {
                    $("#from-date-text").after("<p class='validation' style='color:red;'>From Date Field is Required</p>");

                      return false;
                   }
                    if(isEmpty(india_toDate))
                   {
                    $("#end-date-text").after("<p class='validation' style='color:red;'>To Date Field is Required</p>");

                      return false;
                   }
                   }
                   
                   
                   if ($('#work_abroad_checkbox').prop("checked")) { 
                    work_location_status=true;
                    var abroad_fromdate=$('#from-date-text1').val();

                   var abroad_todate=$('#end-date-text1').val();
                    if(isEmpty(abroad_fromdate))
                   {
                    $("#from-date-text1").after("<p class='validation' style='color:red;'>From Date Field is Required</p>");

                      return false;
                   }
                    if(isEmpty(abroad_todate))
                   {
                    $("#end-date-text1").after("<p class='validation' style='color:red;'>To Date Field is Required</p>");

                      return false;
                   }
                   }

                  if(!work_location_status)
                  {
                    $("#timerange").after("<p class='validation' style='color:red;'>please select any one option </p>");

                      return false;
                  }


            }
          else
            {
             var  part_time_hours =$("input[name='volunteer1']:checked").val();
             if(isEmpty(part_time_hours))
             {
               $("#volunteer2").after("<p class='validation' style='color:red;'>This Field is Required</p>");

              return false;

             }
              var part_time_fromdate=$('#from-date-text2').val();
           var part_time_to_date=$('#end-date-text2').val();

           if(isEmpty(part_time_fromdate))
           {
            $("#from-date-text2").after("<p class='validation' style='color:red;'>From Date Field is Required</p>");

              return false;
           }
           if(isEmpty(part_time_to_date))
           {
            $("#end-date-text2").after("<p class='validation' style='color:red;'>To Date Field is Required</p>");

              return false;
           }

            }


           
          }

         return true;
       

         


          }
      





      $('#nriform').click(function () {
      if(!validate())
          {

          $(".loader").css("display","none")
          return false;
          }
      $(".loader").css("display","block");
      
        if(!validate_captcha_otp())
            {
               $(".loader").css("display","none")
               swal("Error","please enter captcha",'error');

            return false;

            }

        else {
     
          if ($("[name='skills[]']:checked").length == 0) {
              $(".loader").css("display","none")
            swal("Error", "Please Select Atleast One Skill.", "error")
            return false;
          }

          var country_code = ($("#countrycode").text()).replace("+", "");
          $(".loader").css("display", "block");
          var phone = ($("#phone-number").val()).replace("+", "");
          var full_number = country_code + phone;
          var email = $("#volunteer_email").val();
          var age=$('#volunteer_age').val();
          var name = $("#volunteer_name").val();
          var country = $('select[name="phone-number-country"] option:selected').text();
          var profession = $("#volunteer_profession").val();
          var city = $("#city").val();
          var fb = $("#facebookid").val();
          var twitter = $("#twitter").val();
          var volunteer=$("input[name='volunteer']:checked").val();
          
          var vol_status= $("input[name='timezone']:checked").val();
     
          var fromDate=""; var toDate="";
          var fromdate="";var todate="";
          var workin_india="";
         var workin_abroad="";
         var hours="";
          var skills = new Array();
        console.log(vol_status)
          if(vol_status=='part'){
            fromdate=$('#from-date-text2').val();
            todate=$('#end-date-text2').val();
            // hours= $('#volunteer2 input:radio:checked').val()
           hours =$("input[name='volunteer1']:checked").val();
          }
          else{

                if ($('#work_india_checkbox').prop("checked")) { 
                workin_india="yes";
                fromDate=$('#from-date-text').val();
                toDate=$('#end-date-text').val();
               }
               else{
                workin_india="no";
               }
               
               if ($('#work_abroad_checkbox').prop("checked")) { 
                workin_abroad="yes";
                fromdate=$('#from-date-text1').val();
                todate=$('#end-date-text1').val();
               }
               else{
                workin_abroad="no";
               }

          }
            var whats_app_numb="";
       
         
            var whatsapp=$("input[name='whats_app']:checked").val();
            if(whatsapp =='yes'){
              whats_app_numb=phone
            }
            else{
              whats_app_numb= $("#whats_app_no").val();
            }
          
          
         
         
          $.each($("input[name='skills[]']:checked"), function () {
            skills.push($(this).val());
          });
          var test = $("input[name='volunteer']:checked").val();
          if(test=='yes'){

            var data = {
              work_as_volunteer:test,
            whats_app:whats_app_numb,
            ful_time_or_part_time:vol_status,
            part_time_hours:hours,
            abroad_from_date:fromdate,
              abroad_to_date:todate,
            abroad_from_date:fromdate,
            work_in_abroad:workin_abroad,
            india_to_date:toDate,
            india_from_date:fromDate,
            work_in_india:workin_india,
            work_as_volunteer:volunteer,
            age:age,
            name: name,
            phone: full_number,
            email: email, profession: profession,
            city: city,
            fb: fb, twitter: twitter, country: country
          }
          data['state']=$('#state').val()
          data['assembly_constituency'] = $('#assembly_constituency').val();
          data['district'] = $('#district').val();
          data['skills'] = JSON.stringify({ skills: skills });
          console.log(data)
            }
            else{
            var data = {
              age:age,
              work_as_volunteer:test,
                        name: name,
                        whats_app:whats_app_numb,
                        phone: full_number,
                        email: email, profession: profession,
                        city: city,
                        fb: fb, twitter: twitter, country: country,
            }
            data['state']=$('#state').val()
                      data['assembly_constituency'] = $('#assembly_constituency').val();
                      data['district'] = $('#district').val();
                      data['skills'] = JSON.stringify({ skills: skills });

            }
        
          $.ajax({
            type: "POST",
            url: "/NRIConnect",
            dataType: "json",
            data: data,
            ContentType: "application/json",
            success: function (response) {
              $(".loader").css("display", "None");
             
              if (response.status == '1') {
                swal({
                  title: "Your Details Have Been Submitted Successfully",
                  icon: "success",
                  type: "success",
                  confirmButtonText: "OK",

                },
                  function () {
                    window.location.reload();
                  });
              } else {
              
                $(".loader").css("display", "None");
                swal('Error', response.errors[0], 'error');
                return false;

              }
            },
            error: function (response) {
          
              $(".loader").css("display", "None");
              swal('Error', 'something wrong', 'error');
              return false;
            }

          });

        }

      });




      var country = $('select[name="phone-number-country"] option:selected').text();

      $("#country").val(country);

      $("#phone-number-country").change(function () {

        var country = $('select[name="phone-number-country"] option:selected').text();

        $("#country").val(country);

      })
    });
    const intlPhoneNumber = function (countryCode) {
      // get the country data from the plugin
      const countryData = $.fn.intlTelInput.getCountryData();
      const telInput = $("#phone-number");
      const telInputLabel = telInput.parents(".form-group").find("label");
      const countryDropdown = $("#phone-number-country");
      const phonePrefix = $('.phone-number-prefix');
      const fullPhoneNumber = $('#phone-number-full');
      const errorMsg = $("#error-msg");
      const initCountry = countryCode || 'us';
      let pattern = '';
      pattern = new RegExp("[0-9]", "g");
      const reset = function () {
        telInput.removeClass("has-error");
        telInputLabel.removeClass("has-error");
        errorMsg.addClass("hidden-xs-up");
      };

      // populate the country dropdown with intl-tel-input countries data

      $.each(countryData, function (i, country) {
        //    console.log(country.name)

        var country_name = (country.name).split("(", 1)
        //    console.log(country_name)  

        countryDropdown.append($("<option></option>").attr("value", country.iso2).text(country_name[0]));
      });

      // init plugin for formatting placeholders
      telInput.intlTelInput({
        allowDropdown: false,
        initialCountry: initCountry,
        // utilsScript: "/static/assets/js/utils.js"
      });

      // set dropdowns initial value
      const initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;
      let dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
      countryDropdown.val(initialCountry);
      phonePrefix.text("+" + dialCode);
      phonePrefix.val("+" + dialCode);

      $('.flag-container').remove();
      $('.intl-tel-input').replaceWith(function () {
        return $('#phone-number', this);
      });

      telInput.blur(function () {
        // reset states
        reset();

        if ($.trim(telInput.val())) {
          // if number is not valid
          if (telInput.intlTelInput("isValidNumber")) {
            // set hidden input to dial code + inputted number
            fullPhoneNumber.val(telInput.intlTelInput("getSelectedCountryData").dialCode + telInput.val());
          } else {
            // set error states
            telInput.addClass("has-error");
            telInputLabel.addClass("has-error");
            errorMsg.removeClass("hidden-xs-up");
            //clear hidden input val
            fullPhoneNumber.val("");
          }
        }
      });

      telInput.on("keyup change", reset);
      countryDropdown.change(function () {
        // Update Placeholder via plugin - so we can get the example number + format

        telInput.intlTelInput("setCountry", $(this).val());
        // Update Dial Code Prefix
        dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
        phonePrefix.text("+" + dialCode);
        phonePrefix.val("+" + dialCode);
        telInput.val("");
      });

    }
    intlPhoneNumber();
  </script>
</body>
</html>















