
{% extends "layout.html" %}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% block body %}
<style>

select{
  height: 2rem;
}
.left_input,.right_input
{
  padding-right:30px !important;
}
@media only screen and (max-width: 768px) {
  .right_input
{
  margin-top:20px !important;
}
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea
{
  height: 1.8rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.skills {
 
    color: #000000d6 !important;
    padding: 5px !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    font-family: inherit;

}
input[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: static !important;
    left: -9999px !important;
    opacity: 1 !important;
   
}
</style>
<div class="col l9 m12 s12">

          <div class="row">
                <div class="col l6 m6 s12"> <br>
              <div class="white-text center-align" style="background:#d81615; padding:5px;">
                    <h5>"Janasena party seeks the mind share of Indians living abroad to contribute to Mother India."</h5>
                  
                 
                  </div>
            </div>
                <div class="col l6 m6 s12 left-align">
              <h5 class="red-text">NRI Connect</h5>
              <p style="line-height:24px;">Plz stay connected  and share your opinions and suggestions.</p>
                     <p style="line-height:24px;">ఏ దేశమేగినా ఎందు కాలెడినా
ఏ పీఠమెక్కినా, ఎవ్వరేమనినా,
పొగడరా నీ తల్లి భూమి భారతిని,
నిలపరా నీ జాతి నిండు గౌరవము.</p>
<p style="float:right">- 
రాయప్రోలు సుబ్బారావు</p>
            </div>
              </div>
          {% include "loader.html" %}
         
          <style type="text/css">
      .jforms input { border:1px solid #d81615 !important; border-radius:3px; margin:0 !important;}
      textarea{ height:125px; border-radius:3px; border:1px solid #ccc !important; }
      .attach {width:94%; padding:5px;}
      .labels { font-size:.8rem !important; color:#fff;  background:#d81615 url(static/img/home-boxes-rt-tp-white.png) no-repeat right top; padding:3px 20px 3px 10px; position:relative; bottom:3px !important;}
      </style>
          
       <form class="jforms" method="post" name="nriform" id="nriform">
          <div class="jforms">
          <div class="row" >
                   <div class="col l6 m6 s12 left_input" style="float:left">
                   
                        <label for="volunteer_name" class="labels">
                        Name
                        </label>
                        <input type="text" name="volunteer_name"  id="volunteer_name" placeholder="Tell Us Your Name" required>

                      </div>
                       <div class="col l6 m6 s12 right_input" style="text-align:left;"> 
                          <label for="volunteer_profession" class="control-label labels">
                        Profession
                        </label>
                       
                        <select name="volunteer_profession" id="volunteer_profession" style="border:1px solid #d81615;" class="form-control browser-default" required="">
                      <option value="" selected="" class="selectone">Select Profession</option>
                      <option value="Academician" class="academician">Academician</option>
                      <option value="Student" class="student">Student</option>
                      <option value="Self-employed" class="selfemployed">Self-employed</option>
                      <option value="Housewife" class="housewife">Housewife</option>
                      <option value="Journalist" class="journalist">Journalist</option>
                      <option value="Other" class="other">Other</option>
                    </select>
                       </div>
                      </div>
                       <div class="row">
                         <div class="col l6 m6 s12 left_input" style="float:left">
                             <input type="hidden" name="country" id="country" value="" />
                        <label for="phone-number-country" class="labels">
                        Country of Residence
                        </label>
                        <select class="form-control browser-default" id="phone-number-country" name="phone-number-country" autocomplete="off" style="border:1px solid #d81615;" required>
                           </select>
                           </div>
                            <div class="col l6 m6 s12 right_input" style="text-align:left;"> 
                              <label for="city" class="labels">
                        City You Live In
                        </label>
                        <input type="text" name="city" class="form-control" id="city" placeholder="Tell Us Your City" required>
                            </div>
                       </div>
                        <div class="row">
                          <h5 style="text-align:center;color:#d81615;"> Native Place Details:</h5>
                           <div class="col l6 m6 s12 left_input" style="float:left">
                             <label for="district" class=" control-label labels name"> District</label>
                      <select name="district" id="district" class="form-control browser-default" style="border:1px solid #d81615;"    required>
                       
                      </select>
                           </div>
                            <div class="col l6 m6 s12 right_input" style="text-align:left;"> 
                               <label for="assembly_constituency" class=" control-label labels name"> Assembly Constituency</label>
                      <select name="assembly_constituency" id="assembly_constituency" class="form-control browser-default" style="border:1px solid #d81615;"    required>
                        <option value="" selected >Select Assembly Constituency</option>
                      </select>
                            </div>
                       </div>
                        <div class="row">
                    <div class="col l6 m6 s12 left_input" style="float:left">
                      
                      <label for="phone-number" class="labels">
                        Phone Number
                        </label>
                   

                    <div class="phone-number row">
                        <div class="col l2 s3 m2">
                            <div class="form-control " ><input type="text" class="form-control phone-number-prefix" id="countrycode"  name="countrycode" val=" " readonly></div></div>
                        <div class="col l10 s9 m10 ">
                        <input class="form-control" id="phone-number" name="phone-number" type="number" autocomplete="off"   maxlength="14" oninput="maxLengthCheck(this)" required>
                  <input type="hidden" id="phone-number-full" name="phone-number-full">
                        </div>
                        </div>
                           </div>
                            <div class="col l6 m6 s12 right_input" style="text-align:left;"> 
                               <label for="volunteer_email" class="labels">
                        Email
                        </label>
                        <input type="email" name="volunteer_email" class="form-control" id="volunteer_email" placeholder="Lets Stay Connected" required>
                            </div>
                       </div>
                       <div class="row form-row-margin left_input" style="padding-left: 5px;margin:10px 0px 10px 0px;border:1px solid #d81615;padding-bottom: 10px;">
                           <h5 style="text-align:center;color:#d81615;">How Would You Like To Support ?</h5>
                           <div class="row">
                              <div class="col l6 m6 s12 left_input" style="float:left">
                                  
        <label class="skills"><input type="checkbox" name="skills[]" value="social media" /> Social Media</label>
                              </div>
                               <div class="col l6 m6 s12 right_input" style="text-align:left;">  <label class="skills"><input type="checkbox" name="skills[]" value="it"  class="filled-in checkbox-orange"  /> IT </label>
                               </div>
                           </div>
                           <div class="row">
                              <div class="col l6 m6 s12 left_input" style="float:left">   <label class="skills"><input type="checkbox"  class="filled-in checkbox-orange"  name="skills[]" value="volunteer for events" /> Volunteer For Events</label>
                              </div>
                               <div class="col l6 m6 s12 right_input" style="text-align:left;">   <label class="skills"><input type="checkbox" name="skills[]" value="content writing"  class="filled-in checkbox-orange"  />Content Writing  </label>
                               </div>
                           </div>
                           <div class="row">
                              <div class="col l6 m6 s12 left_input" style="float:left">  <label class="skills"><input type="checkbox"  class="filled-in checkbox-orange"  name="skills[]" value="speaker" /> Speaker</label>
                              </div>
                               <div class="col l6 m6 s12 right_input" style="text-align:left;"> <label class="skills"><input type="checkbox" name="skills[]" value="analyst"  class="filled-in checkbox-orange"  /> Analyst</label>
                               </div>
                           </div>
                           
                        </div>
                        <div class="row">
                           <div class="col l6 m6 s12 left_input" style="float:left">
                              <label for="facebookid" class="labels">
                        Facebook ID
                        </label>
                        <input type="text" name="facebookid" class="form-control" id="facebookid">
                           </div>
                            <div class="col l6 m6 s12 right_input" style="text-align:left;"> 
                               <label for="twitter" class="labels">
                        Twitter Handle
                        </label>
                        <input type="text" name="twitter" class="form-control" id="twitter">
                            </div>
                       </div>
                         <div class="row">
                  <div class="col l9 m9 s12" style="float:left;">
                        <div class="g-recaptcha" data-sitekey="6LcZQhIUAAAAANQ7XJPTY3hBIcNYOwKZ7OhHus8f" data-theme="light"></div>
                      </div>
                  <div class="col l3 m3 s12 left-align" style="float:left; margin-top:30px;">
                        <input type="submit" id="submit" class="btn btn-large red darken-3 z-depth-0"  value="COUNT ME IN!">
                      </div>
                  <br>
                  <br>
                </div>

                    </div>
                  
          </div>
        </form>
           <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
           <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
<script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>
   <script src='https://www.google.com/recaptcha/api.js'></script>
      <script>
var assembly_constituencies;
var districts;
$.getJSON('/static/json/districts.json',function(data){
  assembly_constituencies=data;
  districts=(Object.keys(data)).sort();

});
      function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
        // function validateform(){
          $(document).ready(function()
          {
             
            var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});



$('#district')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select District</option>')
        .val('');
        $.each(districts, function (index, value) {
          $('#district').append($('<option>', { 
          value: value,
          text : value
          }));
          });

$("#district").change(function()
  {
  var district=$("#district").val();
 
  if (!district)
  {
    return false;
  };
 $.each(assembly_constituencies,function(i,val){
  if(district===i)
  {
    $('#assembly_constituency')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
        $.each(val, function (akey, avalue) {
          $('#assembly_constituency').append($('<option>', { 
          value: avalue.constituency_name,
          text : avalue .constituency_name
          }));
          });
  }

 });

 

});

$("#nriform").submit(function(e)
{

e.preventDefault();
var captcha_response = grecaptcha.getResponse();
          if(captcha_response.length == 0)
          {
              // Captcha is not Passed
              swal('Please verify google captcha',"Error","error");
              return false;
          }
          else
          {
            $("#submit").attr("disabled","disabled");
 if($("[name='skills[]']:checked").length == 0)
          {
            swal("Error","Please Select Atleast One Skill.","error")
          return false;
          }
 var country_code=($("#countrycode").text()).replace("+","");
               $(".loader").css("display","block");
              var phone=($("#phone-number").val()).replace("+","");
              var full_number=country_code+phone;
              var email=$("#volunteer_email").val();
              var name=$("#volunteer_name").val();
              var country=$('select[name="phone-number-country"] option:selected').text();
               var profession= $("#volunteer_profession").val();
                 var city=   $("#city").val();
                 var fb=   $("#facebookid").val();
                 var twitter=   $("#twitter").val();
                 var skills = new Array();

$.each($("input[name='skills[]']:checked"), function() {
  skills.push($(this).val());
 
});

             var data={
              name:name,
              phone:full_number,
              email:email,profession:profession,
              city:city,
              fb:fb,twitter:twitter,country:country
             }
data['assembly_constituency']=$('#assembly_constituency').val();
data['district']=$('#district').val();
data['skills']=JSON.stringify({skills:skills});

              $.ajax({
           type: "POST",
           url: "/NRIConnect",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            
                    $(".loader").css("display","None");
            
               if (response.data.status=='1') {

               swal({
                title: "Your Details Have Been Submitted Successfully",
                icon:"success",
               
                type: "success",
               
                
                confirmButtonText: "OK",
                
                },
               function()
               {
                 location.reload(); 
               });

          
             
                
               } else {
                    $("#submit").removeAttr("disabled");
                    $(".loader").css("display","None");
                    swal('Error',response.errors,'error');
                    return false;
                   
               }
           },
           error:function(response)
           {
            $("#submit").removeAttr("disabled");
            $(".loader").css("display","None");
           swal('Error',response.errors,'error');
             return false;
           }
           
       });

             
              
          }
     
          })
           })
          
      </script>
 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="static/assets/js/intlTelInput.min.js"></script>
    <script type="text/javascript" src="static/assets/js/jquery.formatter.min.js"></script>

<script>
   
  $(document).ready(function()
{
  var country=$('select[name="phone-number-country"] option:selected').text();
    
    $("#country").val(country);
      
  $("#phone-number-country").change(function()
  {

       var country=$('select[name="phone-number-country"] option:selected').text();
    
    $("#country").val(country);
  
  })
 // $("#phone-number").on('change',function()
 //                   {
     
 //   var country_code=$("#countrycode").text();
     
    
 //     var phone_num=$("#phone-number").val();
 //     var phone_num=country_code+phone_num;
     
 // })
  
});

const intlPhoneNumber = function(countryCode) {
  // get the country data from the plugin
  const countryData = $.fn.intlTelInput.getCountryData();
  const telInput = $("#phone-number");
  const telInputLabel = telInput.parents(".form-group").find("label");
  const countryDropdown = $("#phone-number-country");
  const phonePrefix = $('.phone-number-prefix');
  const fullPhoneNumber = $('#phone-number-full');
  const errorMsg = $("#error-msg");
  const initCountry = countryCode || 'us';
   let pattern = '';
    pattern = new RegExp("[0-9]", "g");
  
  
   
  const reset = function() {
    
    telInput.removeClass("has-error");
    telInputLabel.removeClass("has-error");
    errorMsg.addClass("hidden-xs-up");
  };

  // populate the country dropdown with intl-tel-input countries data
 
  $.each(countryData, function(i, country) {
//    console.log(country.name)

    var country_name=(country.name).split("(",1)
//    console.log(country_name)  

    countryDropdown.append($("<option></option>").attr("value", country.iso2).text(country_name[0]));
  });

  // init plugin for formatting placeholders
  telInput.intlTelInput({
    allowDropdown: false,
    initialCountry: initCountry,
    utilsScript: "/static/assets/js/utils.js"
  });
  
    // set dropdowns initial value
  const initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;
  let dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
  countryDropdown.val(initialCountry);
  phonePrefix.text("+" + dialCode);
    phonePrefix.val("+" + dialCode);

  // init format
  // telInput.formatter({
  //   'pattern': pattern
  // });  
  
  // // delete intl-tel-input items that aren't needed
  $('.flag-container').remove();
  $('.intl-tel-input').replaceWith(function() {
    return $('#phone-number', this);
  });

  // set placeholder
 

  // on blur: validate
  telInput.blur(function() {
    // reset states
    reset();

    if ($.trim(telInput.val())) {
      // if number is not valid
      if (telInput.intlTelInput("isValidNumber")) {
        // set hidden input to dial code + inputted number
        fullPhoneNumber.val(telInput.intlTelInput("getSelectedCountryData").dialCode + telInput.val());
      } else {
        // set error states
        telInput.addClass("has-error");
        telInputLabel.addClass("has-error");
        errorMsg.removeClass("hidden-xs-up");
        //clear hidden input val
        fullPhoneNumber.val("");
      }
    }
  });

  // on keyup / change flag: reset
  telInput.on("keyup change", reset);

  // listen to the country dropdown for changes.
  // updates placeholder and prefix when changed
  countryDropdown.change(function() {
    // Update Placeholder via plugin - so we can get the example number + format
    
    telInput.intlTelInput("setCountry", $(this).val());
    // Update Dial Code Prefix
    dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
    phonePrefix.text("+" + dialCode);
    phonePrefix.val("+" + dialCode);
   // Use updated placeholder to define formatting pattern
   
    // clear telephone input to prevent validation errors
    telInput.val("");
    // update placeholder to specific
    
  });

//    console.log(fullPhoneNumber)
//    console.log($("#phone_num").val(fullPhoneNumber))
};

// Testing for prepopulation. If country code not supplied: default = 'us'
// const initCountryCode = 'ca'; // uncomment to pass in as param
intlPhoneNumber();
</script>

{% endblock %}