{% extends "layout.html" %}
{% block body %}<!DOCTYPE html>

        <!-- InstanceBeginEditable name="body" -->
      <div class="col l9 m12 s12" >
        <div class="container" style="font-family: 'Bree Serif', serif !important;line-height: 1.5 !important;font-size: 18px !important;">
<div align="center" ><h1 style="color:#d91516">JANASENA PARTY</h1></div>
<h2>Privacy Policy :</h2>
<span>
Your privacy is important to WWW.JANASENAPARTY.ORG (hereinafter referred to as the “website”). This privacy statement provides information about the personal information that the website collects, and the ways in which the website uses that personal information.</span><br>

<h5>Personal information collection:</h5>

<h5>The website may collect and use the following kinds of personal information:</h5>
<span>
information about your use of this website (including browsing patterns and behaviour);</span><br>
<span>information that you provide using for the purpose of registering with the website (including contact details);</span><br>
<span>information about transactions carried out over this website;</span><br>
<span>information that you provide for the purpose of subscribing to the website services (including SMS and email alerts); and any other information that you send to fellow users and webmaster.</span><br>
<b>Using personal information</b>

<h4>The website may use your personal information to:</h4>

<span>administer this website;
<span>personalize the website for you;</span><br>
<span>enable your access to and use of the website services;</span><br>
<span>publish information about you on the website;</span><br>
<span>send you marketing communications.</span><br>
Where the website discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in <span>question will be obligated to use that personal information in accordance with the terms of this privacy statement.</span><br>
<span>
In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, the website may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
</span><br>
<b>Securing of your data</b>

<span>The website will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.<span>

<span>The website will store all the personal information you provide on its secure servers.<span>

<b>Cross-border data transfers</b>

<span>Information that the website collects may be stored and processed in and transferred between any of the countries in which the website operates to enable the use of the information in accordance with this privacy policy.<span>

<span>In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.</span><br>

<span>You agree to such cross-border transfers of personal information.</span><br>

<b>Updating this statement</b>

<span>The website may update this privacy policy by posting a new version on this website.</span><br>

<span>You should check this page occasionally to ensure you are familiar with any changes.</span><br>

<b>Other websites</b>

<span>This website may contain links to other websites.<span>

<span>The website is not responsible for the privacy policies or practices of any third party.</span><br>

<b>Contact Webmaster</b>

<b>If you have any questions about this privacy policy or the website’s treatment of your personal information, please write to:<b>
<br>
Webmaster</br>
<span>Plot no 12, Road no 72, </span><br>

<span>Prasashan Nagar, Jubilee Hills, </span><br>

<span>Hyderabad , Telangana State, India .</span><br>

</span><br>
<!-- This privacy statement is based on an original template created by website-contracts.co.uk and distributed by freenetlaw.com -->
</div>
          
      </div>

</div>

<!-- This privacy statement is based on an original template created by website-contracts.co.uk and distributed by freenetlaw.com -->
</div></div>
          
      {% endblock %}