{% extends "layout.html" %}
{% block body %}<!DOCTYPE html>

        <!-- InstanceBeginEditable name="body" -->
      <div class="col l9 m12 s12" >
        <div class="container" style="font-family: 'Bree Serif', serif !important;line-height: 1.5 !important;font-size: 18px !important;">
<div align="center" ><h1 style="color:#d91516">JANASENA PARTY</h1></div>
<h2>Refunds And Cancellations :</h2>
<span>
No Refunds and Cancellations</span><br>




<!-- This privacy statement is based on an original template created by website-contracts.co.uk and distributed by freenetlaw.com -->
</div></div>
          
      {% endblock %}