
{% extends "layout.html" %}

 
{% block body %}
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>
<script type="text/javascript" src="/static/js/shatagnivolunteer1.js"></script>

  <script
  src="https://code.jquery.com/ui/1.8.18/jquery-ui.min.js"
  integrity="sha256-5L9BFhGnFaV1LW6ANFzV+lZzGo/5blTlISAkM3ocaYQ="
  crossorigin="anonymous"></script>

 <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/mint-choc/jquery-ui.css">
  


 
 

<style>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea
{
  height: 1.6rem;
}
select{
  height: 2rem;
}
input[type=number] {
    -moz-appearance:textfield;
}
.skills {
 
    color: #000000d6 !important;
    padding: 5px !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    font-family: inherit;

}
input[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: static !important;
    left: -9999px !important;
    opacity: 1 !important;
   
}
.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
.ui-datepicker-month,.ui-datepicker-year{
  display:block !important;
  height: 2em !important;
    color: black !important;
  width:100% !important;  
}
.left_input,.right_input
{
  padding-right:30px !important;
}
@media only screen and (max-width: 768px) {
  .right_input
{
  margin-top:20px !important;
}
}
.ui-datepicker {
   background: #333 !important;
   border: 1px solid #555 !important;
   color: #EEE !important;
 }
</style>
 
    
    
   
<div class="col l9 m12 s12" >

          
         
         {% include "loader.html" %}
         
            <style type="text/css">
      .jforms input { border:1px solid #d81615 !important; border-radius:3px; margin:0 !important;}
      textarea{ height:60px; border-radius:3px; border:1px solid #d81615 !important; }
      .attach {width:94%; padding:5px;}
      .labels { font-size:.8rem !important; color:#fff;  background:#d81615 url(../img/home-boxes-rt-tp-white.png) no-repeat right top; padding:3px 20px 3px 10px; position:relative; bottom:3px !important;}
      </style>
            <h4 style="color:#d81615;text-align:center">SHATAGNI VOLUNTEER FORM</h4>
            <form class="jforms" method="post" enctype="multipart/form-data"  autocomplete="off" name="socialmediaform"  id="socialmediaform">
              {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="alert alert-success">
                            <ul class="flashes">
                            {% for message in messages %}
                              <li style="color:red;">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% endwith %}
            
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              
               
                  <div class="row form-row-margin " >
                     <div class="col l6 m6 s12 left_input" style="float:left">
                    <div class="form-group">
                      <label for="name" class="labels name">Full Name/ పూర్తి పేరు: *</label>
                      <input type="text" name="name" class="form-control" id="name" maxlength="50" placeholder="Tell Us Your Full Name"  required>
                    </div>
                    </div>
                     <div class="col l6 m6 s12 right_input" style="float:right">
                  <div class="form-group">
                  <label for="mobile" class="labels name">Mobile Number/మొబైల్ నెంబర్: *</label>
                      <input type="number" name="mobile" class="form-control" id="mobile" placeholder="Enter 10 Digit Mobile Number" maxlength="10" minlength="10" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" required>
                </div>
                </div>
                    
                  </div>

                 
               
               <div class="row form-row-margin">
               
                <div class="col l6 m6 s12 left_input" style="text-align:left;"> 
                 <label for="email" class="labels email">Email/ఈ మెయిల్: *</label>
                      <input type="email" name="email" class="form-control" id="email" placeholder="Enter Your Email Here" maxlength="50"  required>
                </div>
                <div class="col l6 m6 s12 right_input" style="float:left">
                    <div class="form-group">
                      <label for="name" class="labels name">DOB/ పుట్టిన తేది: *</label>
                      <input type="text" id="dob" name="dob" placeholder=" Your DOB Here" required>
                    </div>
                    </div> 
               </div> 
               
              
             <div class="row form-row-margin">
                <div class="col l6 m6 s12 left_input" style="float:left">
                  <label for="voter_id" class="labels name">Voter ID/ ఓటర్ ఐడి : </label>
                      <input type="text" name="voter_id" class="form-control" id="voter_id" placeholder="Enter Your VoterID"  maxlength="14" >
                </div>
                <div class="col l6 m6 s12 right_input" style="text-align:left;">
                 <label for="aadhar_id" class="labels email">Aadhar ID/ఆధార్ నెం: *</label>
                      <input type="number" name="aadhar_id" class="form-control" id="aadhar_id" placeholder="Enter Your Aadhar Id" maxlength="12" minlength="12" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" required>
                </div>
               
              </div>
             <div class="row form-row-margin">
                <div class="col l6 m6 s12 left_input" style="float:left">
                  <label for="district" class=" control-label labels name"> District/జిల్లా: *</label>
                      <select name="district" id="district" class="form-control browser-default" style="border:1px solid #d81615;"    required>
                        <option value="" selected >Select District</option>
                            {% for item in data %}
        <option value="{{item}}"  >{{item}}</option>
    {% endfor %}
                      </select>

                </div>
                <div class="col l6 m6 s12 right_input" style="text-align:left;"> 
                <label for="assembly_constituency" class=" control-label labels name"> Assembly Constituency/అసెంబ్లీ నియోజకవర్గం: *</label>
                      <select name="assembly_constituency" id="assembly_constituency" class="form-control browser-default" style="border:1px solid #d81615;"    required>
                        <option value="" selected >Select Assembly Constituency</option>
                      </select>
                </div>
               
              </div>
                <div class="row form-row-margin" style="margin:10px 10px 0px 0px;">
                
                   <label for="city_town" class="labels name">Current Place of Living/ప్రస్తుతం నివాసం ఉంటున్న  ప్రాంతం: *</label>
                 <textarea name= "city_town"  id="city_town"  required  ></textarea>

                </div>
               
               
              
              <div class="row form-row-margin left_input" style="padding-left: 5px;margin:10px 0px 10px 0px;border:1px solid #d81615;padding-bottom: 10px;">
                <h6 style="text-align:center;color:#d81615;">Select Skills/నైపుణ్యాలు: *</h6>
                <div class="col s12 m6 l6">
          <p > 
        <label class="skills"><input type="checkbox" name="skills[]" value="content writing" /> Content Writing/research/analysing(కంటెంట్ రాయడం/ విషయ పరిశోధన/విషయ విశ్లేషణ)</label></p>
        <p > <label class="skills"><input type="checkbox" name="skills[]" value="designing"  class="filled-in checkbox-orange"  /> Designing / డిజైనింగ్</label></p>
        <p >  <label class="skills"><input type="checkbox"  class="filled-in checkbox-orange"  name="skills[]" value="Video Editing" /> Video Editing/వీడియో ఎడిటింగ్</label></p>
         <br />
   
        </div>

        <div class="col s12 m6 l6">
         <p >  <label class="skills"><input type="checkbox" name="skills[]" value="photography"  class="filled-in checkbox-orange"  /> Photography/ఫోటోగ్రఫీ  </label></p>
        <p > <label class="skills"><input type="checkbox"  class="filled-in checkbox-orange"  name="skills[]" value="cinematography" /> Cinematography/సినిమాటోగ్రఫీ</label></p>
        <p > <label class="skills"><input type="checkbox" name="skills[]" value="speaking"  class="filled-in checkbox-orange"  /> Speaking/వక్త</label></p>
        
       
    </div>
              </div>
               
               <div class="row form-row-margin" style="margin:10px 10px 0px 0px;">
                
                   <label for="experience" class="labels name">Experience/Achievements(if any)/అనుభవం: </label>
                 <textarea name= "experience"  id="experience"    ></textarea>


                </div>
                <div class="row form-row-margin left_input" style="padding-left: 5px;margin:10px 0px 10px 0px;border:1px solid #d81615;padding-bottom: 10px;">
                <h6 style="text-align:center;color:#d81615;">Which Social Media Platform do you use regularly/ఎక్కువగా వాడే సోషల్ మీడియా మాధ్యమం: *</h6>
                <div class="col s12 m6 l6">
          <p > 
        <label class="skills"><input type="checkbox" name="socialmediachannels[]" value="facebook" onclick="ShowHideDiv(this,'fb_div','fb_url')" /> Facebook/ఫేసుబుక్</label></p>
      <br>
         <div id="fb_div" style="display: none">
        
         <label for="fb_url" class="labels name">Facebook URL: </label>
        <input type="text" id="fb_url" placeholder="Your Page/Personal URL"  />
    </div>
       <p > 
        <label class="skills"><input type="checkbox" name="socialmediachannels[]" value="twitter" onclick="ShowHideDiv(this,'twitter_div','tw_url')" /> Twitter/ట్విట్టర్</label></p>
        <br>
         <div id="twitter_div" style="display: none">
        
         <label for="tw_url" class="labels name">Twitter URL: </label>
        <input type="text" name="tw_url" id="tw_url" placeholder="Your Twitter URL" />
    </div>
         <p > 
        <label class="skills"><input type="checkbox" name="socialmediachannels[]" value="website" onclick="ShowHideDiv(this,'website_div','website_url')" /> Website or Blog/వెబ్సైట్  లేదా బ్లాగ్ </label></p>
        <br>
         <div id="website_div" style="display: none">
        
         <label for="website_url" class="labels name">Website or Blog URL  : </label>
        <input type="text" id="website_url" placeholder="Your Website or Blog URL" />
    </div>
        </div>

        <div class="col s12 m6 l6">
        <p > 
        <label class="skills"><input type="checkbox" name="socialmediachannels[]" value="youtube" onclick="ShowHideDiv(this,'youotube_div','yt_url')" /> Youtube/యూట్యూబ్</label></p>
         <br>
         <div id="youotube_div" style="display: none">
        
         <label for="yt_url" class="labels name">Youtube URL: </label>
        <input type="text" id="yt_url" placeholder="Your Youtube URL" />
    </div>
        <p > 
        <label class="skills"><input type="checkbox" name="socialmediachannels[]" onclick="ShowHideDiv(this,'instagram_div','ig_url')" value="instagram" /> Instagram/ఇన్స్టాగ్రామ్</label></p>
         <br>
         <div id="instagram_div" style="display: none">
        
         <label for="ig_url" class="labels name">Instagram URL: </label>
        <input type="text" id="ig_url" placeholder="Your Instagram URL"  />
    </div>
        <p > 
        <label class="skills"><input type="checkbox" name="socialmediachannels[]" onclick="ShowHideDiv(this,'other_div','other_url')" value="other" /> Other/ఇతర మాధ్యమం:</p>
         <br>
         <div id="other_div" style="display: none">
        
         <label for="other_url" class="labels name">Other Details/ఇతర వివరాలు: </label>
        <input type="text" id="other_url" name="other_url" placeholder="enter your Other url"  />
    </div> 
       
    </div>
    <!--  <div class="row form-row-margin left_input" style="padding-left: 5px;margin:10px 0px 10px 5px;padding-bottom: 10px;">

      

     </div> -->
              </div> 

                <div class="row form-row-margin" style="margin:10px 10px 0px 0px;">
                
                   <label for="other_info" class="labels name">Any other info you would like  to share/అనుభవం: </label>
                 <textarea name= "other_info"  id="other_info"    ></textarea>


                </div>
              <div class="row form-row-margin">
                <div class="col l6 m6 s12" style="float:left">
                  <div class="g-recaptcha" data-sitekey="6LcZQhIUAAAAANQ7XJPTY3hBIcNYOwKZ7OhHus8f" data-theme="light"></div>
                </div>
                <div class="col l6 m6 s12" style="text-align:left; padding:0;"> <br>
                  <input type="submit" class="btn red darken-3 z-depth-0" value="Submit" id="form_submit">
                </div>
               
              </div>
            </form>
         
      </div>  

 <script src='https://www.google.com/recaptcha/api.js'></script>
<script>
 var assembly_constituencies;
$(document).ready(function()
{ 

  var oldMethod = $.datepicker._generateMonthYearHeader;
$.datepicker._generateMonthYearHeader = function(){
    var html = $("<div />").html(oldMethod.apply(this,arguments));
    var monthselect = html.find(".ui-datepicker-month");
    monthselect.insertAfter(monthselect.next());
    return html.html();
}
  $("#dob").datepicker({
        dateFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
        maxDate: new Date(),
        showButtonPanel: false,
        yearRange: '-115:+0',
        autoClose: true,
        beforeShow: function () {


            setTimeout(function (){
            $('.ui-datepicker').css('z-index', 99999999999999);
                
            }, 0);
        },
        
    });
$.getJSON('/static/json/districts.json',function(data){
  assembly_constituencies=data;

});


  var csrftoken = $('meta[name=csrf-token]').attr('content');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});



 
$("#district").change(function()
  {
  var district=$("#district").val();
 
  if (!district)
  {
    return false;
  };
 $.each(assembly_constituencies,function(i,val){
  if(district===i)
  {
    $('#assembly_constituency')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
        $.each(val, function (akey, avalue) {
          $('#assembly_constituency').append($('<option>', { 
          value: avalue.constituency_name,
          text : avalue .constituency_name
          }));
          });
  }

 });

 

});
// Form Submission
$("#socialmediaform").submit(function(e)
{
  $("#form_submit").attr("disabled","disabled");
   $(".loader").css("display","block");
e.preventDefault();
if(!validateform())
{
  console.log("form has some errors")
  $("#form_submit").removeAttr("disabled");
  $(".loader").css("display","none");

  return false;

}


var skills = new Array();
var social_media={}
$.each($("input[name='skills[]']:checked"), function() {
  skills.push($(this).val());
 
});
$.each($("input[name='socialmediachannels[]']:checked"), function() {
  var url;
  key=$(this).val();
  console.log(key)
  if(key=='facebook')
  {
    url=$("#fb_url").val();
  }
  else if(key=='twitter')
  {
     url=$("#tw_url").val();
  }
  else if(key=='youtube')
  {
     url=$("#yt_url").val();
  }
  else if(key=='instagram')
  {
     url=$("#ig_url").val();
  }
  else if(key=='other')
  {
     url=$("#ig_url").val();
  }
  else if(key=='website')
  {
     url=$("#website_url").val();
  }
  
  social_media[key]=url;
 
 
});

var data={}
data['name']=$('#name').val();
data['dob']=$('#dob').val();
data['mobile']=$('#mobile').val();
data['email']=$('#email').val();
data['voter_id']=$('#voter_id').val();
data['aadhar_id']=$('#aadhar_id').val();
data['experience']=$('#experience').val();
data['other_info']=$('#other_info').val();
data['city_town']=$('#city_town').val();
data['assembly_constituency']=$('#assembly_constituency').val();
data['district']=$('#district').val();
data['skills']=JSON.stringify({skills:skills});
data['socialmedia']=JSON.stringify(social_media);



 $.ajax({
           type: "POST",
           url: "/shatagnivolunteer",
           dataType: "json",
           data:data,
          
           success: function (response) {
            
                    $(".loader").css("display","None");
            console.log(response);
            // var jresponse=$.parseJSON(response);
               if (response.data.status=='1') {

               swal("Success","Your Details Have Been Submitted Successfully");
          setTimeout(function(){
           location.reload(); 
         }, 2000)
             
                
               } else {
                     $("#form_submit").removeAttr("disabled");
                    $(".loader").css("display","None");
                    swal('Error',response.errors,'error');
                    return false;
                   
               }

           },
           error:function(response)
           {
            console.log(response)
            $("#form_submit").removeAttr("disabled");
            $(".loader").css("display","None");
           swal('Error',"Your Session Expired. Please Refresh the Form and Try Again ",'error');
             return false;
           }
           
       });

          

})
});
</script>

  
{% endblock %}