{% extends "layout.html" %}
{% block body %}<!DOCTYPE html>

      <div class="col l9 m12 s12">
        <div class="row">
          <div class="col l4 m6 s12">
            <h5 class="red-text" style="font-family: 'Bree Serif', serif;">Andhra Pradesh Special Status </h5>
            <img src="static/img/pawan-kalyan-on-ap-special-status.jpg" width="390" class="responsive-img" alt=" ">
            <p class="black-text" style="line-height:21px; font-size:16px;"> <em>
                Govt. backtracking on its promise of Special category status to A.P. reminds me of Thomas Sowell's words : <span class="red-text"style="font-family: 'Bree Serif', serif;">"Are we turning the law into a trap for honest people and bonanza for charlatans ?"</span>
                </em> </p>
          </div>
          <div class="col l8 m6 s12">
            <h5 class="black-text" style="font-family: 'Bree Serif', serif;">Post Bifurcation of united Andhra Pradesh State, during the 2014 elections all political parties have promised “Special Category Status” because of the extraordinary conditions of bifurcating united A.P. much against the wishes of Andhra Public. </h5>
            <br>
            <p style="line-height:21px;" class="black-text"> BJP Under Leadership of Present Prime Minister Mr.Narendra Modi &amp; TDP under Leadership of Present Chief Minister of A.P. Mr.Chandrababu Naidu have also promised “Special Category Status” for the residual state of Andhra Pradesh. <br><br>

With much inaction on the promised special category status for Andhra Pradesh, Janasena Party president Mr.Pawan Kalyan organized public meetings at Tirupathi, Kakinada and Ananthapuram to demand the fulfilment of election promise made to people of A.P. This has created a ray of hope among the public of the state. Party chief Mr.Pawan Kalyan made a clear call that he will fight till the state gets what it was rightfully promised by the governments during 2014 elections.<br><br>

The Central Government at Delhi announced the so called special package in a late night press meet conducted a night before JanaSena Party’s “Andhrula Aatmagourava sabha” at Kakinada on 9th Septmeber 2016. This package was termed by political analysts as an appeasement activity and Mr.Pawan Kalyan called them ‘rotten Laddoos’.

 
</p>
          </div>
        </div>
        <div class="row">
        <div class="col l12 m12 s12" style="background:url(./static/img/innner-line-spacer.png) no-repeat top left; padding:5px;">&nbsp;</div>
          <div class="col l1 m2 s12">&nbsp;</div>
          <div class="col l7 m6 s12 right-align">
            <h5 style="font-family: 'Bree Serif', serif;">#APDemandsSpecialStatus</h5>
            <p style="line-height:24px;" class="black-text">
लड़ेंगे लड़ेंगे , हम  जीतने तक लड़ेंगे !<br>
भारत माता की जय !!
जय हिन्द !!!<br><b>
                -Pawan Kalyan</b></p>
          </div>
          <div class="col l4 m4 s12"> <br>
            <div class="red white-text" style="padding:26px; line-height: initial;"> తిడితే భరించాం..<br>
విడగొట్టి గెంటేస్తే సహించాం...,<br>
ఇచ్చిన మాట నిలబెట్టుకోకపోతే తిరగబడతాం !!!!<br>
<br>
                </div>
          </div>
        </div>
      </div>
   {% endblock %} 