{% extends "layout.html" %}
{% block body %}<!DOCTYPE html>

        <!-- InstanceBeginEditable name="body" -->
      <div class="col l9 m12 s12">
        <div class="row">
          <div class="col l4 m6 s12">
            <h5 class="red-text" style="font-family: 'Bree Serif', serif;">Godavari Aqua Food Park </h5>
            <img src="static/img/pawan-kalyan-at-aqua-food-park.jpg" width="390" class="responsive-img" alt=" ">
            <p class="black-text" style="line-height:21px; font-size:16px;"> <em>
While Central government is embarking on a big mission to clean Ganga River ,why is AP State Govt. bringing such pollution to Godavari districts which are rice bowls of the state and country .</em> </p>
          </div>
          <div class="col l8 m6 s12">
            <h5 class="black-text" style="font-family: 'Bree Serif', serif;"> The proposed Rs.800-crore Godavari Mega aqua food park is proposed to come up in the villages of Tundurru, Jonnalagaruvu, and Kampala Betapudi villages in Bhimavaram and Narsapur areas in West Godavari district.</h5>
            <br>
            <p style="line-height:21px;" class="black-text"> The proposed aqua food park is an assortment of 30 fish and prawn processing units. The ongoing works at the project site have been stalled by the residents of affected villages for the last four months. Neither the Government nor the Factory Management have cleared the public’s apprehensions over the negative impact of Factory over drinking water resources , health &amp; livelihoods. The villagers allege that the proposed factory site is coming up with in the radius of 100 meters of Jaonnalagaruvu , in violation of safety norms. Following a confrontation between the locals and factory management, the police registered cases against 10 protesters following a complaint of trespassing and damaging property lodged by the factory management.<br><br>

Villagers from this region met Jana Sena Party President Mr.Pawan Kalyan as a last hope to address their issue . After studying all the aspects of the issue and interacting with them , he suggested the government to consider shifting the aqua food park to another location. He questioned the need for imposition of prohibitory orders in the village surroundings. Mr.Pawan Kalyan assured the affected villagers that he would stand by them till the issue will be solved on a mutual constraint.

As of March 2017, the construction activity has been stalled and a status quo is being maintained here. The prohibitory order continues to exist and protestors are being arrested. Janasena party is committed to ensure justice be served to these villagers on this issue.</p>
          </div>
        </div>
        <div class="row">
        <div class="col l12 m12 s12" style="background:url(static/img/innner-line-spacer.png) no-repeat top left; padding:5px;">&nbsp;</div>
          <div class="col l1 m2 s12">&nbsp;</div>
          <div class="col l7 m6 s12 right-align">
            <h5 style="font-family: 'Bree Serif', serif;">#AquaFoodParkIssue</h5>
            <p style="line-height:24px;" class="black-text">గోదావరి, కృష్ణ పుష్కరాలకు వేల కోట్లు ఖర్చు చేసిన
              నదులు కలుషితం అయ్యే పరిశ్రమలు వస్తున్నప్పుడు కానీ, తాగు నీరు కలుషితమవుతున్నప్పుడు కానీ, 50 వేలకు పైగా మత్స్యకారుల ఉపాధి దెబ్బతింటున్నప్పుడు కానీ ఈ ప్రభుత్వం ఎందుకు అడ్డుకోవట్లేదో నాకు తెలియట్లేదు !!!<br>
                <b>-Pawan Kalyan</b></p>
          </div>
          <div class="col l4 m4 s12"> <br>
            <div class="red white-text" style="padding:26px; font-family: 'Bree Serif', serif;"> <h5> We are against Pollution, and are for responsible industrialization</h5>
<br>
              - Pawan Kalyan </div>
        </div>
      </div>
      </div>
      {% endblock %}