{% extends "layout.html" %}
{% block body %}<!DOCTYPE html>

      <div class="col l9 m12 s12">
        <div class="row">
          <div class="col l4 m6 s12">
            <h5 class="red-text" style="font-family: 'Bree Serif', serif;">Uddanam Kidney Issue</h5>
            <img src="static/img/uddanam-pic.jpg" width="390" height="260" class="responsive-img" alt=" ">
            <p class="black-text" style="line-height:21px; font-size:16px;color:rgba(25, 1, 1, 0.94);"> <em>It is the social responsibility of all the political parties of AP to understand the gravity, seriousness of the victim's pain and suffering in Uddanam Kidney issue</em> </p>
          </div>
          <div class="col l8 m6 s12">
            <h5 class="black-text" style="font-family: 'Bree Serif', serif;"> According to the World Health Organization, Uddanam is one of the three regions in the world with the hightest concentration of Chronic Kidney Diseases (CKD) after Sri Lanka and Nicaragua</h5>
            <br>
            <p style="line-height:21px;color:rgba(25, 1, 1, 0.94);"> Janasena Party President Mr.Pawan Kalyan visited the affected region & interacted with victims of Chronic Kidney Disease . He assured the victims that he will stand by them till they get proper medical attention and immediate medical relief measures. He announced a core team consisting of doctors, scientists and research scholars on behalf of Janasena Party to address the issue and prepare a detailed report on the current conditions at Uddanam. He set a 48 hours dead-line to the state government to respond on the issue and announce immediate medical relief measures to the kidney victims of Uddanam. He also demanded the government to provide free bus passes and free medicine to patients, rehabilitation of kids orphaned by chronic kidney disease, supply of RO water, establishment of dialysis centres in each mandal, setting up of an research centre to perform multi-factorial research and analysis to find the root cause of the disease and appointment of nephrologists in government hospitals to treat the patients. Government bowed to the demands of people's leader & started acting on fulfilling the demands raised above. <br>
              <br>
              Upon Mr.Kalyan's invitation, a group of researchers from Harvard Medical School have visited Uddanam region on 29th July,2017 & has convened a Medical symposium the next day to find a solution to this Chronic Kideny disease. Mr.Kalyan & Party leadership took the Harvard expert doctors to meet with Chief Minister Mr.Chandra Babu Naidu and got the government to fund establishment of World class kidney research center at Uddanam region soon. 

 </p>
          </div>
        </div>
        <div class="row">
        <div class="col l12 m12 s12" style="background:url(static/img/innner-line-spacer.png) no-repeat top left; padding:5px;">&nbsp;</div>
          <div class="col l1 m2 s12">&nbsp;</div>
          <div class="col l7 m6 s12 right-align">
            <h5 style="font-family: 'Bree Serif', serif;">#UddanamNephropathy</h5>
              <p style="line-height:24px;color:rgba(25, 1, 1, 0.94);">పుష్కరాల కోసం వందల కోట్లు,కాపిటల్ కోసం అన్ని వేల కోట్లు ఖర్చు పెట్టగలరు కానీ ఇక్కడ మనుషులు చనిపోతునప్పుడ, పిల్లలు అనాధలు అవుతునప్పుడు మీ దృష్టికి రాకపోవడం నాకు చాలా బాధ కలిగిస్తుంది . -<b> Pawan Kalyan</b></p>
          </div>
          <div class="col l4 m4 s12"> <br>
            <div class="red white-text" style="padding:26px;font-family: 'Bree Serif', serif;"> Thousands of crores are being spent for building the state capital, but nothing is being spent in a region where people are dying.<br>
<br>
              - Pawan Kalyan </div>
          </div>
        </div>
      </div>
      {% endblock %}