.crop-wrapper {
  background-color:rgba(255,255,255,1);
  position:relative;
  width:100%;
  /*height:90vh;*/
  overflow:hidden;
  padding:30 30 30 30px;
  margin:30 30 30 30px;

}

.resize-container {
    /*position: relative;*/
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container-ontop {
  position:absolute;
  cursor:move;
  background-color:rgba(5,255,5,0);
  z-index:1000;
  width:100%;
  height:100%;
}

.resize-container img {
    display: block;
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(0,0,0,.9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.overlay {
  position: absolute;
  /*left: 50%;
  top: 50%;*/
  /*margin-left: -150px;
  margin-top: -150px;
  margin:100 100 100 100px;*/
  margin:2px 0 0 26.5%;
  z-index: 999;
  width: 200px;
  height: 200px;
    border: solid 4px #d81615;
     /*border-radius: 50%;*/
  box-sizing: content-box;
  pointer-events: none;
}

.overlay:before {
  top: 0;
  margin-left: -2px;
  margin-top: -40px;
}

.overlay:after {
  bottom: 0;
  margin-left: -2px;
  margin-bottom: -40px;
}


.overlay-inner:before {
  left: 0;
  margin-left: -40px;
  margin-top: -2px;
}

.overlay-inner:after{
  right: 0;
  margin-right: -40px;
  margin-top: -2px;
}

.btn {
  padding: 6px 10px;
  background-color: #d81615;
  border: none;
  border-radius: 5px;
  color: #FFF;
  margin:10px 5px;
  line-height:30px;
}

.btn-crop img {
  vertical-align: middle;
  margin-left: 8px;
}
 #other-text{
  display: none;
}.crop-wrapper {
  background-color:rgba(255,255,255,1);
  position:relative;
  width:100%;
  /*height:90vh;*/
  overflow:hidden;
  padding:30 30 30 30px;
  margin:30 30 30 30px;

}

.resize-container {
    /*position: relative;*/
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container-ontop {
  position:absolute;
  cursor:move;
  background-color:rgba(5,255,5,0);
  z-index:1000;
  width:100%;
  height:100%;
}

.resize-container img {
    display: block;
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(0,0,0,.9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.overlay {
  position: absolute;
  /*left: 50%;
  top: 50%;*/
  /*margin-left: -150px;
  margin-top: -150px;
  margin:100 100 100 100px;*/
  margin:2px 0 0 26.5%;
  z-index: 999;
  width: 200px;
  height: 200px;
    border: solid 4px #d81615;
     /*border-radius: 50%;*/
  box-sizing: content-box;
  pointer-events: none;
}

.overlay:before {
  top: 0;
  margin-left: -2px;
  margin-top: -40px;
}

.overlay:after {
  bottom: 0;
  margin-left: -2px;
  margin-bottom: -40px;
}


.overlay-inner:before {
  left: 0;
  margin-left: -40px;
  margin-top: -2px;
}

.overlay-inner:after{
  right: 0;
  margin-right: -40px;
  margin-top: -2px;
}

.btn {
  padding: 6px 10px;
  background-color: #d81615;
  border: none;
  border-radius: 5px;
  color: #FFF;
  margin:10px 5px;
  line-height:30px;
}

.btn-crop img {
  vertical-align: middle;
  margin-left: 8px;
}
 #other-text{
  display: none;
}