.crop-wrapper {
  background-color:rgba(255,255,255,1);
  position:relative;
  width:100%;
  height:80vh;
  /*overflow:hidden;*/
}

.resize-container {
   
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container-ontop {
  position:absolute;
  cursor:move;
  background-color:rgba(5,255,5,0);
  z-index:1000;
  width:100%;
  height:100%;
  max-width:300px;
  max-height:300px;

}


.resize-container img {
    display: block;    
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(0,0,0,.9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}



.overlay {
  position: absolute;
  
  z-index: 999;
  width: 200px;
  height: 200px;
  border: solid 3px #d81615;
  box-sizing: content-box;
  pointer-events: none;
  margin-left:50px;
  margin-top:50px;

}

.overlay:before {
  top: 0;
  margin-left: -2px;
  margin-top: -40px;
}

.overlay:after {
  bottom: 0;
  margin-left: -2px;
  margin-bottom: -40px;
}


.overlay-inner:before {
  left: 0;
  margin-left: -40px;
  margin-top: -2px;
}

.overlay-inner:after{
  right: 0;
  margin-right: -40px;
  margin-top: -2px;
}
.imagebtn
{
  padding: 10px 10px 10px 10px;
  
  border: none;
  border-radius: 5px;
  color: #FFF !important;
  margin:10px 15px 15px 10px !important;
 
}
.btn {
  padding: 10px 10px 10px 10px;
  background-color: #d81615;
  border: none;
  border-radius: 5px;
  color: #FFF !important;
  margin:10px 15px 15px 10px !important;
  height: 46px;
  
}

.btn:hover {background:#333 }

.btn-crop img {
  vertical-align: middle;
  margin-left: 8px;
}