body {
  background-color: #fff;
}

.background {
  fill: none;
  pointer-events: all;
}

#regions path {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.0px;
}

#regions path:hover {
  stroke: #000;
  cursor: hand; cursor: pointer;
}
 /*
#regions .active {
  fill: #0033CC;
}*/

div#map {
  float: left;
}

div#data {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}

#overlays {
  opacity: 0;
}

body#no-op {
  padding-top: 0px;
  opacity: 0.9;
  padding: 0px;
}

.overlay {
  font-size: "14px";
  font-name: "Helvetica Neue";
  background-color: #000;
  color: #fff;
  padding: 5px;
  opacity: 0.9;
}

svg {
  overflow: hidden;
  width:100%;
}

div.html-overlay {
  position: absolute;
  height: 200;
  width: 150;
  background-color: #000;
  color: #fff;
  padding: 5px;
  opacity: 0.7;
}

.region-label {
  font-size: 10px;
  font-weight: bold;
}

.selected{
    fill: #d81615 !important;

}
.region{
    fill: rgb(63,216,18) !important;

}
.list-group{
    padding-left:40px;
     padding-right:100px;
}
.list-group-item{
    padding:4px;

}
.pull-right{
    margin-right:20px;
}
#constituencies{
    margin-top:20px;
}