.show_list{
    display:block;
}
#tree{
overflow:auto;
}
.hide_list{
    display:none;
}
.complete_hide{
    display:none;
}
.button_padding{
    padding-top:25px;
}
.extra{

}


.tree-node{
    padding-left:5px;
}

.modal-dialog{
    background-color:white !important;;
    text-color:white !important;
}
.glyphicon-plus:before .glyphicon-minus:before {
    content: "\2b";
}
.tree_ul{
    @extend .list-group;
    margin-bottom:0px;



}
.tree_li{

    @extend .list-group-item;
    padding-left:0px;
    padding-right:0px;

}
.tree_li  span.indent {
    margin-left: 13px;

}

.tree_li span.icon {
    width: 12px;
    margin-right: 5px;

}
#members{
    height:100%;
     border-left: 3px solid black;

}

#member_list,#search_row{
    margin-right:0px;
    margin-left:0px;
}

.mbutton
{
    margin-right:2px;
    margin-left:2px;
}
.mtable
{
margin-top:12px;
margin-right:10px;
}

.admin_color{
    background-color:black;
}