.my_heading{
        font-family: Lato-Bold;
    font-size: 18px;
    line-height: 1.4;
}

.mybox{
    text-align: center;
    margin-top: 20px;
}
.my_value{
    font-family: Lato;
    font-size: 18px;
    
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  
  display: none;
  padding: 100px 20px;
  height: 100%;
}