{% extends "admin_layout.html" %}
{% block body %}
<style>
table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; // ***********add this
  word-wrap:break-word; // ***********and this
}
p {
    margin: 0 0 10px;
    color: #069;
    font-weight: 600;
    font-size: 14px;
   
}
.datagrid table { border-collapse: collapse; text-align: left;  } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
</style>

                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
                <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
                <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
                
              <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
            
          <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
           
<div class="row">
   <P style="font-size:20px; font-weight:600;margin-left:30px">Total Records:<span id="total">{{count}}</span></p>
</div>
                    
<div class="row">
<div class="col-md-3 col-lg-3 col-sm-12 col-md-offset-2 col-sm-offset-2">
<label for="drop">Select Level</label>
<select name="drop" id="drop" class="form-control" required="">
<option value="district" selected="">Select One</option>
  <option value="district" >District</option>
  <option value="assembly" >Assembly</option>
</select>
</div>

<button type="submit" class="btn btn-primary" id="filter" style="margin-top:25px">Filter</button>

</div>


<div class="row">
    <br>
    <br>

    <div class="row datagrid" id="table_div" style="width:70%;margin-left: 10%;">
        <table id="operations_table"  >
            <thead >
                <tr id="thead">
                    <th>District</th>
                    <th>Count</th>
                   
                </tr>
            </thead>

            <tbody id="operations_body">

            </tbody>
        </table>
    </div>
</div>

<script>

     var myTable;
   

    
  
 $(document).ready(function () {
     $('#filter').click(function(){
       
      var sr=  $('#drop :selected').val();
$(".loader").css("display","block");

           $.ajax({
                type: 'POST',
                url: "/active_volunteers_report?type="+sr,

                processData: false,
                contentType: false,
                success: (function (response) {

                    var responsedata = JSON.parse(response);
                    console.log(responsedata)
                   if(sr=='district')
                   {

                    
                   var th_headings="<th>District</th><th>Count</th>";

               $("#thead").html(th_headings)
                            if ( $.fn.dataTable.isDataTable('#operations_table' ) ) {

                             myTable.destroy();
                         }
                          myTable = $('#operations_table').DataTable({

                            data: [],

                            columns: [
                             
                                { data: "district_name" },
                                { data: "count" },
                              
                              
                            ],
                              dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                                            "lengthMenu": [ [10, 25, 50, "All"]]
                            });
                             myTable.clear().draw()
                            myTable.rows.add(responsedata['data']).draw()
                            
                   }
                   else
                   {
                            if ( $.fn.dataTable.isDataTable('#operations_table' ) ) {

                             myTable.destroy();
                         }
                var th_headings="<th>District</th><th>Constituency</th><th>Count</th>";

               $("#thead").html(th_headings);
                          myTable = $('#operations_table').DataTable({

                            data: [],

                            columns: [
                             
                                { data: "district_name" },
                                { data: "constituency_name" },
                                { data: "count" },
                              
                              
                            ],
                              dom: 'Bfrtip',
                              buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                                            "lengthMenu": [ [10, 25, 50, "All"]]
                                        });

                            myTable.clear().draw()
                            myTable.rows.add(responsedata['data']).draw()
                           
                            }
                            $(".loader").css("display","none");
                      
                }),
                error: (function (response) {
                    $(".loader").css("display","none");
                    alert("something wrong")
                  
                    

                })
            });

     })
 })
</script>
{% endblock %}

