
{% extends "admin_layout.html" %}
{% block body %}
<style>.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }</style>
<div>

 <div class='row'>
   <div class="col-md-1">
    </div>
 <div class="col-md-1">
     <label for="Policy: " align="right" style="margin-top: 9px !important;
    float: right !important;">Policy:</label>

  </div>
   
    <div class="col-md-3">
      
                      <select name="policy" class="form-control browser-default " style="border:1px " id="policy" required>
                           <option value="" selected class="selectone" >Select Policy</option>
                        
                        <option value="Land Acquisition"  class="landacquisition"  >Land Acquisition</option>
                        <option value="Mining - Issues"  class="minningissues">Mining &amp; related issues</option>
                        <option value="Agriculture"  class="agriculture">Agriculture</option>
                        <option value="Startups and Innovation" class="StartupsandInnovation">Startups and Innovation</option>
                        <option value="Science and Technology " class="ScienceandTechnology">Science and Technology </option>
                        <option value="Fitness and Martial Arts" class="FitnessandMartialArts">Fitness and Martial Arts</option>
                        <option value="Caste based occupations and related issues " class="Castebasedoccupationsandrelatedissues">Caste based occupations &amp; related issues </option>
                        <option value="Naxalism" class="Naxalism">Naxalism</option>
                        
                        <option value="Health Care" class="HealthCare">Health Care</option>
                        <option value="Senior Citizens and pensioners issues" class="SeniorCitizensandpensionersissues">Senior Citizens and pensioners issues</option>
                        
                        <option value="Self Employment and Vocational training " class="SelfEmploymentandVocationaltraining">Self Employment and Vocational training </option>
                        <option value="Civil Rights and Liberties" class="CivilRightsandLiberties">Civil Rights and Liberties</option>
                        <option value="Horticulture" class="Horticulture">Horticulture</option>
                        <option value="Sports and Infrastructure" class="SportsandInfrastructure">Sports and Infrastructure</option>
                        <option value="Agriculture Credit and Rural Banking" class="AgricultureCreditandRuralBanking">Agriculture Credit and Rural Banking</option>
                        <option value="Urban Planning and Rural development" class="UrbanPlanningandRuraldevelopmen">Urban Planning and Rural development</option>
                        <option value="Poultry, Dairy and Animal husbandry " class="PoultryDairyandAnimalhusbandry">Poultry, Dairy and Animal husbandry </option>
                        <option value="Social welfare and related issues" class="Socialwelfareandrelatedissues">Social welfare and related issues</option>
                        <option value="Tribal welfare and issues" class="Tribalwelfareandissues">Tribal welfare and issues</option>
                        <option value="Liquor and Excise policy " class="LiquorandExcisepolicy">Liquor and Excise policy </option>
                        <option value="Culture and Arts" class="CultureandArts">Culture and Arts</option>
                        <option value="Public Transportation and Safety " class="PublicTransportationandSafety">Public Transportation and Safety </option>
                        <option  value="Corruption" class="Corruption">Corruption</option>
                        <option  value="Demographic Dividend and Employment opportunities" class="DemographicDividendandEmploymentopportunities">Demographic Dividend and Employment opportunities</option>
                        <option  value="Law and Order" class="LawandOrder">Law and Order</option>
                        <option  value="Tourism" class="Tourism">Tourism</option>
                        <option  value="Industrialization" class="Industrialization">Industrialization</option>
                        <option  value="Woman Safety and Empowerment" class="WomanSafetyandEmpowerment">Woman Safety and Empowerment</option>
                        <option  value="Irrigation" class="Irrigation">Irrigation</option>
                        <option  value="Education" class="Education">Education</option>

                      </select>
    </div>
     <div class="col-md-1" style="float:left">
     <label for="assigned_to: " style="float:right;margin-top:9px;">Assigned:</label>
     </div>
     <div class="col-md-3">
       <select class="form-control" id="assigned_to">
        <option value="">Select Review Person</option>
      {% for admin in admin_team %}

      {% if admin.role=='RC'%}
       <option value="{{admin.first_name}}">{{admin.first_name}}</option>
       {% endif %}
{% endfor %}
  
</select>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-success" id="filter">Filter</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-success" id="reset">Reset</button>
    </div>
    <div class="col-md-1">
    </div>
  </div>
   <div class="clearfix">&nbsp;<br>
              </div>
  <div class='row'>
    <div class="col-md-1">
    <!-- <input type='checkbox' name='checkall' id="checkall" >Check All -->
  </div>
   <div class="col-md-1">
     <label for="review_person: " style="float:right;margin-top:9px;">Assign:</label>
     </div>
     <div class="col-md-3">
    <select class="form-control" id="review_person">
      {% for admin in admin_team %}

      {% if admin.role=='RC'%}
       <option value="{{admin.first_name}}">{{admin.first_name}}</option>
       {% endif %}
{% endfor %}
  
</select>
</div>
 <div class="col-md-1">

<button type="button" class="btn btn-success" id="assign">Assign</button>
   </div>
  </div>
  <br>
   <div class="clearfix">&nbsp;<br>
              </div>
  <div class="datagrid">
    <table width='' border='1' >
      <thead>
        <tr>
          <th></th>
          <th>SI.No:</th>
          <th>User  Name </th>
          
          <th>User Email </th>
          <th>User mobile </th>
          
          <th>Policy </th>
          <th>Suggestion </th>
           <th>Attachment Url </th>
            <th>Assigned TO </th>
             <th>Review Status </th>
        </tr>
      </thead>
      <tbody id="content">


      </tbody>
    </table>
  </div>

  </div>

<div  class="modal fade" role="dialog" id="suggestionmodal">
  <div class="modal-dialog">
<div class="modal-content " >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Suggestion</h4>
        </div>
        <div class="modal-body">
            <p id="suggestiontext"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>



 <!--  <div class="modal hide" id="suggestionmodal">
 <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Suggestion</h3>
  </div>
    <div class="modal-body">
        <p id="suggestiontext"></p>
        
    </div>
</div> -->
  <br>
<div class="row">
<div id="pagination" class="col-md-6"></div>
<div id="next_slab" class="col-md-2" style="display:none;">
  <a href="#" id="load_next">Load More</a>
</div>
<div id="next_filter_slab" class="col-md-2" style="display:none;">
  <a href="#" id="load_filter_next">Load More</a>
</div>
</div>
<script>
var last_page=0;
var next_marker={};
 var index=0;
 function mypages(mystr,last_page){
   last_page=last_page;
        var items = $(mystr+" tbody tr");

                var numItems = items.length;
               
                var perPage = 50;
                $('#fn').html(numItems);

                
                items.slice(perPage).hide();

                // now setup pagination
                $("#pagination").pagination({
                    items: numItems,
                    itemsOnPage: perPage,
                    cssStyle: "light-theme",
                    onPageClick: function(pageNumber) { // this is where the magic happens
                        // someone changed page, lets hide/show trs appropriately
                        var showFrom = perPage * (pageNumber - 1);
                        var showTo = showFrom + perPage;

                        items.hide() // first hide everything, then show for the new page
                             .slice(showFrom, showTo).show();
                    }
                });
                
                $("#pagination").pagination('selectPage', last_page+1);
                last_page= $("#pagination").pagination('getPagesCount');
                
          
    }
    $(document).ready(function()
    {
var query="";
     
      
      var html_str="";
      $(".loader").css("display","block");
       $("#next_filter_slab").css('display','None')
       $.ajax({
           type: "GET",
           url: "/getJanaswaramData",
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                data=response.data.children.rows;
                next_marker=response.data.children.next_marker;
                var rows="";
                index=0;
                for (item in data)
                {
                  index=index+1;
                  rows=rows+"<tr class='page'>";
                  if (data[item].assigned_to)
                  {
                    rows=rows+"<td><input type='checkbox' name='rowkey'  value="+data[item].RowKey+" disabled ></td>";
                  }
                  else
                  {
                     rows=rows+"<td><input type='checkbox' name='rowkey' value="+data[item].RowKey+" ></td>";
                  }
                  rows=rows+" <td>"+index+"</td><td>"+data[item].Name+"</td><td>"+data[item].email+"</td><td>"+data[item].Phone+"</td><td>"+data[item].Policy+"</td><td><button  class='suggestion' value='"+data[item].Suggestion+"'>open</button> </td>";
                   if (data[item].Attachment!="NA")
                   {
                    rows=rows+"<td><a href='"+data[item].Attachment+"'> Open</a></td>";
                   }
                   else{
                    rows=rows+"<td>NA</td>";
                   }
                   var assigned_to="";
                    var review_status="";
                   if (data[item].assigned_to)
                   {
                      assigned_to=data[item].assigned_to
                   }
                   
                    if (data[item].review_status)
                    {
                     var review_status=data[item].review_status;
                    }
                    
                    rows=rows+"<td>"+assigned_to+"</td><td>"+review_status+"</td></tr>";
                   
                   

                }

                 $(rows).appendTo("#content");
           mypages("#content",0);

 
           if (Object.keys(next_marker).length > 0)
           {
            
            $("#next_slab").css('display','block')
           }
           else
           {
            $("#next_slab").css('display','None')
           }
          

                $(".loader").css("display","None");
                 

               } 
               else
               {
 
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
           
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
// end of ajax
      
      
      $("#load_next").click(function()
      {
        $("#next_filter_slab").css('display','None')
         $(".loader").css("display","block");
       token=JSON.stringify(next_marker)
     
         $.ajax({
           type: "GET",
           url: "/getJanaswaramData?next_marker="+token,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
        
               if (response.data.status=='1') {
                data=response.data.children.rows;
                next_marker=response.data.children.next_marker;
                var rows="";
               for (item in data)
                {
                  index=index+1;
                  rows=rows+"<tr class='page'>";
                  if (data[item].assigned_to)
                  {
                    rows=rows+"<td><input type='checkbox' name='rowkey'  value="+data[item].RowKey+" disabled ></td>";
                  }
                  else
                  {
                     rows=rows+"<td><input type='checkbox' name='rowkey' value="+data[item].RowKey+" ></td>";
                  }
                  rows=rows+" <td>"+index+"</td><td>"+data[item].Name+"</td><td>"+data[item].email+"</td><td>"+data[item].Phone+"</td><td>"+data[item].Policy+"</td><td><button  class='suggestion' value='"+data[item].Suggestion+"'>open</button> </td>";
                   if (data[item].Attachment!="NA")
                   {
                    rows=rows+"<td><a href='"+data[item].Attachment+"'> Open</a></td>";
                   }
                   else{
                    rows=rows+"<td>NA</td>";
                   }
                   var assigned_to="";
                    var review_status="";
                   if (data[item].assigned_to)
                   {
                      assigned_to=data[item].assigned_to
                   }
                   
                    if (data[item].review_status)
                    {
                     var review_status=data[item].review_status;
                    }
                    
                    rows=rows+"<td>"+assigned_to+"</td><td>"+review_status+"</td></tr>";
                   
                   

                }

                 $(rows).appendTo("#content");
                 last_page= $("#pagination").pagination('getPagesCount');
           mypages("#content",last_page);
          
         if (Object.keys(next_marker).length > 0) 
           {
            
            $("#next_slab").css('display','block')
           }
           else
           {
            $("#next_slab").css('display','None')
           }
          
                $(".loader").css("display","None");
                

               } 
               else
               {
 
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
           
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
      
      });
      

      // modal function
      $('body').on('click', '.suggestion', function() {

 
     $("#suggestiontext").html("");
     var suggestion=$(this).val();

    $("#suggestiontext").html(suggestion);

     $('#suggestionmodal').modal('show');
   });
      //
    })

// assign to review committee

$("#checkall").change(function () {
  var table = $('#content').DataTable();
var p = table.rows({ page: 'current' }).nodes();
p.each(function( index ) {
 
  var chk=$(index).closest('[type=checkbox]')
  
  // .attr('checked', true);
  //  $("input:checkbox").prop('checked', $(this).prop("checked"));
});
   // p.prop('checked', $(this).prop("checked"));
});



$("#assign").click(function(){
  var rows_array = [];
$("input:checkbox[name=rowkey]:checked").each(function(){
    rows_array.push($(this).val());
})

if(rows_array.length==0)
{
  alert("please select atleast once");
  return false;
}
var review_person=$("#review_person").val();
 $(".loader").css("display","block");
 users=JSON.stringify(rows_array);
 data={review_person:review_person,users:users}
 
$.ajax({
           type: "POST",
           url: "/assignTOReviewCommittee",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            
               if (response.data.status=='1') {
                 alert(" Assigned Successfully");
                 $(".loader").css("display","None");

               } 
               else
               {
              $(".loader").css("display","None");
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
            
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
})

$("#filter").click(function()
{
  $(".loader").css("display","block");
  $("#next_slab").css('display','None')
var policy=$("#policy").val();
var review_person=$("#assigned_to").val();

if (!isEmpty(policy) && !isEmpty(review_person))
{
query="Policy eq '"+policy+"' and assigned_to eq '"+review_person+"'";
}
else if(isEmpty(policy) && !isEmpty(review_person))
{
  query="assigned_to eq '"+review_person+"'";
}
else if(!isEmpty(policy) && isEmpty(review_person))
{
  query="Policy eq '"+policy+"'";
}
else
{
  alert("please select atleast one filter");
  return false;
}

// query=encodeURIComponent(query);

query_data={query:query}
$.ajax({
           type: "GET",
           url: "/getFilteredData",
           dataType: "json",
           data:query_data,
           ContentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                data=response.data.children.rows;
                next_marker=response.data.children.next_marker;
                var rows="";
                index=0;
                $("#content").html("");
               for (item in data)
                {
                  index=index+1;
                  rows=rows+"<tr class='page'>";
                  if (data[item].assigned_to)
                  {
                    rows=rows+"<td><input type='checkbox' name='rowkey'  value="+data[item].RowKey+" disabled ></td>";
                  }
                  else
                  {
                     rows=rows+"<td><input type='checkbox' name='rowkey' value="+data[item].RowKey+" ></td>";
                  }
                  rows=rows+" <td>"+index+"</td><td>"+data[item].Name+"</td><td>"+data[item].email+"</td><td>"+data[item].Phone+"</td><td>"+data[item].Policy+"</td><td><button  class='suggestion' value='"+data[item].Suggestion+"'>open</button> </td>";
                   if (data[item].Attachment!="NA")
                   {
                    rows=rows+"<td><a href='"+data[item].Attachment+"'> Open</a></td>";
                   }
                   else{
                    rows=rows+"<td>NA</td>";
                   }
                   var assigned_to="";
                    var review_status="";
                   if (data[item].assigned_to)
                   {
                      assigned_to=data[item].assigned_to
                   }
                   
                    if (data[item].review_status)
                    {
                     var review_status=data[item].review_status;
                    }
                    
                    rows=rows+"<td>"+assigned_to+"</td><td>"+review_status+"</td></tr>";
                   
                   

                }
                
                 $(rows).appendTo("#content");
                mypages("#content",0);
           $(".loader").css("display","None");
         if (Object.keys(next_marker).length > 0) 
           {
            
            $("#next_filter_slab").css('display','block')
           }
           else
           {
            $("#next_filter_slab").css('display','None')
           }
          
                $(".loader").css("display","None");
                

               } 
               else
               {
 
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
           
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
})


// end of filter function 

// start of load more filter data

$("#load_filter_next").click(function()
{
  $(".loader").css("display","block");
$("#next_slab").css('display','None')

var token=JSON.stringify(next_marker)
query_data={query:query,next_marker:token}
$.ajax({
           type: "GET",
           url: "/getFilteredData",
           dataType: "json",
           data:query_data,
           ContentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                data=response.data.children.rows;
                next_marker=response.data.children.next_marker;
                var rows="";
               
               
               for (item in data)
                {
                  index=index+1;
                  rows=rows+"<tr class='page'>";
                  if (data[item].assigned_to)
                  {
                    rows=rows+"<td><input type='checkbox' name='rowkey'  value="+data[item].RowKey+" disabled ></td>";
                  }
                  else
                  {
                     rows=rows+"<td><input type='checkbox' name='rowkey' value="+data[item].RowKey+" ></td>";
                  }
                  rows=rows+" <td>"+index+"</td><td>"+data[item].Name+"</td><td>"+data[item].email+"</td><td>"+data[item].Phone+"</td><td>"+data[item].Profession+"</td><td>"+data[item].Policy+"</td><td><button  class='suggestion' value='"+data[item].Suggestion+"'>open</button> </td>";
                   if (data[item].Attachment!="NA")
                   {
                    rows=rows+"<td><a href='"+data[item].Attachment+"'> Open</a></td>";
                   }
                   else{
                    rows=rows+"<td>NA</td>";
                   }
                   var assigned_to="";
                    var review_status="";
                   if (data[item].assigned_to)
                   {
                      assigned_to=data[item].assigned_to
                   }
                   
                    if (data[item].review_status)
                    {
                     var review_status=data[item].review_status;
                    }
                    
                    rows=rows+"<td>"+assigned_to+"</td><td>"+review_status+"</td></tr>";
                   
                   

                }
                
                 $(rows).appendTo("#content");
                 last_page= $("#pagination").pagination('getPagesCount');
                mypages("#content",last_page);
           $(".loader").css("display","None");
         if (Object.keys(next_marker).length > 0) 
           {
            
            $("#next_filter_slab").css('display','block')
           }
           else
           {
            $("#next_filter_slab").css('display','None')
           }
          
                $(".loader").css("display","None");
                

               } 
               else
               {
 
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
           
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
})
function isEmpty(value) {
  return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
}
    </script>
 {% endblock %}

  
		 
		  







 

  