 <!DOCTYPE html>
<html>
<head>

    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
 
 

<style>

 @font-face {
        font-family:Ramabhadra;
        src:url(https://nivedika.janasenaparty.org/static/fonts/Ramabhadra.ttf);
        
        }

      body{
        font-family:Ramabhadra;
      } 
.first_page, .second_page{
 background: url('https://nivedika.janasenaparty.org/static/images/letter_head.jpg');
page-break-after: always;
background-repeat: repeat-y;
background-size: cover;

}
.third_page
{
  background: url('https://nivedika.janasenaparty.org/static/images/letter_head.jpg');
page-break-after: avoid;
background-repeat: no;
background-size: 100%;

}
  #photo_url{
          position: absolute;
          margin-left: 600px;
          margin-top: -170px;
border:1px solid black;padding: 10px;

        }
#operations_table th:nth-child(6)
{
  width:120px !important;
} 

.role_btn
{
  margin-left:30px !important;
}

.table_header
{
  margin-bottom:20px !important;
}


  .first_page_body {

 
   
    padding-top:200px !important;
   
 }
  .second_page_body {
     padding-top:200px !important; 
   
   }

 .third_page_body{
  page-break-after: avoid;
    padding-top:200px !important;
    
 } 
/*@page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
    background: url('https://nivedika.janasenaparty.org/static/img/pdf_watermark.jpg');
}*/

.heading p{
  font-size: 18px;
    font-weight: 600;
}
.sub_heading
{
 font-size: 16px;
    font-weight: 600;
  }


.target_body span
{ 
 
 font-size: 14px !important;
    font-weight: 550 !important;
}

</style>
</head>
<body>
 
<div class="container well ">
<div class="row">
<!-- target modal --> 

     

      <div class="row" id="target_body" >
        <div class="first_page">
          <div class="first_page_body">
           <h1 id="head" style="text-align: center; color: #d81615;
                ">జనసేన అభ్యర్ధిత్వానికి బయోడేటా ఫారం</h1>
         <div class="form-group row" >
          
          <p class="sub_heading">పోటీ చేయదలచినది : <span id="aspirant_type" >{{data.locations}}</span></p>
          
         
         </div>
        <div class="row heading">
            <p >వ్యక్తిగత వివరాలు :</p>
           </div>
          <div class="form-group row" >
            <div class="col-md-6 col-lg-6 col-sm-12">
           <p class="sub_heading">పూర్తి పేరు: <span id="name">{{data.name}}</span></p>
            <p class="sub_heading">తండ్రి / భర్త పేరు: <span id="relation_name">{{data.relation_name}}</span></p>
           <p class="sub_heading">పుట్టిన తేదీ: <span id="dob">{{data.dob}}</span></p>
           <p class="sub_heading">పుట్టిన ప్రాంతం:   <span id="birth_place">{{data.birth_place}}</span></p>
          
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12" >
            <img src="{{data.photo_url}}" id="photo_url" width="150" height="150">
            </div>
          </div>
          <div class="row heading">
            <p>విద్యార్హత :</p>
           </div>
          <div class="form-group row" style="border:1px solid black;padding: 10px;">
             <p class="sub_heading">పదవ తరగతి చదివిన స్కూలు మరియు ప్రాంతము: <span id="school_and_place">{{data.school_and_place}}</span></p>
             <p class="sub_heading">మీ అధిక విద్యార్హత: <span id="highest_qualification">{{data.higher_education}}</span></p>
             <p class="sub_heading">వృత్తి: <span id="occupation">{{data.occupation}}</span></p>

           </div> 
           <div class="row heading">
            <p>చిరునామా :</p>
           </div>
            <div class="form-group row" style="border:1px solid black;padding: 10px;">
               <p class="sub_heading">ప్రస్తుత చిరునామా : <span id="present_address">{{data.current_address}}</span></p>
                <p class="sub_heading">శాశ్వత చిరునామా : <span id="permanent_address">{{data.permenant_address}}</span></p>
                 <div class="form-group row" >
            <div class="col-md-6 col-lg-6 col-sm-12">
          
           <p class="sub_heading">మొబైల్ నెంబర్ : <span id="phone">{{data.mobile}}</span></p>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <p class="sub_heading">ఇమెయిల్ ఐడి: <span id="email">{{data.email}}</span></p>
            </div>
          </div>
            </div>
          </div>
          </div>

           <div class="second_page">
             <div class="first_page_body">
            
             <div class="row heading">
            <p class="sub_heading">జనసేన పార్టీతో మీకు గల అనుబంధం :</p>
           </div>
              <div class="form-group row" style="border:1px solid black;min-height:100px ;padding:10px;min-height:350px">
               <p class="sub_heading">జనసేన ఐడి నెంబర్: <span id="membership_id">{{data.membership_id}}</span></p>
                <p class="sub_heading">పార్టీ కోసం ఏ ప్రాంతంలో అయినా పనిచేస్తున్నారా : <br> 
వివరములు : <br> <span id="relation_with_janasena">{{data.relationship_with_janasena}}</span></p>
                
            </div>
             <div class="row heading">
            <p class="sub_heading">మీ నియోజకవర్గంలో ప్రాధాన్యత క్రమంలో ప్రజా సమస్యల వివరాలు ...?</p>
           </div>
            <div class="form-group row" style="min-height:40%;border:1px solid black;padding: 10px;min-height:350px">
               <div ><span id="issues_in_assembly" >{{data.issues_in_assembly}}</span></div>
                
                
            </div>
          </div>
           </div>
           <div class="third_page" style="min-heigth:700px">
            <div class="third_page_body" >
             <div class="row heading">
            <p class="sub_heading">పూర్వ రాజకీయ అనుభవం :</p>
           </div>
            <div class="form-group row" style="border:1px solid black;padding: 10px;">
               <p class="sub_heading">పార్టీ  : <span id="prev_exp_party">{{data.prev_exp_party}}</span></p>
                <p class="sub_heading">చేపట్టిన పదవి : <span id="role">{{data.role}}</span></p>
                 <p class="sub_heading">పదవీకాలం: <span id="duration">{{data.duration}}</span></p>
                 <p class="sub_heading">ఇతర పార్టీ నాయకులతో గల సన్నిహిత సంబంధాలు , బంధుత్వం : <span id="relation_with_other_party_leaders">{{data.relationship_with_other_party_leaders}}</span></p>
                
            </div>
             <div class="row heading">
            <p class="sub_heading">ప్రజా జీవితంలో మీరు సాధించిన విజయాలు ...?</p>
           </div>
            <div class="form-group row" >
              <div style="border:1px solid black;padding:10px;min-height:80px;"><span id="achievements">{{data.achievements}}</span></div>
               
                
            </div>
             <div class="row heading">
            <p class="sub_heading">ఎలక్షన్ కమిషన్ నిబంధనలకు వ్యతిరేకంగా ఉండే కేసులు ఏమైనా ఉన్నాయా ....? ఉంటే పేర్కొనండి . (వివరాలు గోప్యంగా ఉంచబడును):</p>
           </div>
             <div class="form-group row" >
               <div style="border:1px solid black;padding: 10px;min-height:80px;"><span id="criminal_cases" >{{data.criminal_cases}}</span></div>
               
                
            </div>
             <div class="row heading">
            <p class="sub_heading">Comments :</p>
           </div>
             <div class="form-group row heading" >
               <div style="border:1px solid black;padding: 10px;min-height:80px;"><span id="remarks">{{data.remarks}}</span></div>
               
                
            </div>
            
          </div>
          </div>
      </div>
    
  </div>
      </div>
  
  
</body>
</html>