 <!DOCTYPE html>
<html>
<head>

    <title>JANASENA Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
 <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--  // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>
     <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

 <script src="/static/assets/js/cookies.js"></script>
    <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
    <script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>



    <script src="/static/jquery.simplePagination.js"></script>
    <link href="/static/simplePagination.css" type="text/css" rel="stylesheet"/>

<script type="text/javascript" src="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet"  href="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" />

 <link rel="stylesheet" type="text/css" href="https://rawgit.com/flatlogic/awesome-bootstrap-checkbox/master/awesome-bootstrap-checkbox.css">

 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" />




<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <script type="text/javascript" src="/static/js/internalsms.js"></script>
<style>
.multiselect-container div.checkbox {
  margin: 0;
}

.multiselect-container label {
  margin: 0;
  white-space: nowrap;
}

.multiselect-container div.checkbox {
  padding: 5px 15px 5px 35px;
}
.loader
{
  z-index:1051 !important;
}
#operations_table
{
  table-layout:fixed;
}
#operations_table th:nth-child(6)
{
  width:110px !important;
} 
#operations_table th:nth-child(7)
{
  width:200px !important;
} 
#operations_table th:nth-child(4)
{
  width:140px !important;
} 
#operations_table th:nth-child(8)
{
  width:200px !important;
} 
.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
.role_btn
{
  margin-left:30px !important;
}
.photo_zoomimg {
 border: none;
 margin: 0 auto;
}
.table_header
{
  margin-bottom:20px !important;
}
.photo_zoomimg:hover {
 -webkit-transform: scale(3.0);
 -moz-transform: scale(3.0);
 -o-transform: scale(3.0);
 transform: scale(3.0);
 transition: all 0.3s;
 -webkit-transition: all 0.3s;
}
</style>
</head>
<body>
  <div class="loader">
                <div class="spinner">
                    <svg width='48px' height='48px' xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100"
                         preserveAspectRatio="xMidYMid" class="uil-hourglass">
                        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                        <g>
                            <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10"
                                  d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z"
                                  class="glass"></path>
                            <clipPath id="uil-hourglass-clip1">
                                <rect x="15" y="20" width="70" height="25" class="clip">
                                    <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite"
                                             vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                                    <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite"
                                             vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                                </rect>
                            </clipPath>
                            <clipPath id="uil-hourglass-clip2">
                                <rect x="15" y="55" width="70" height="25" class="clip">
                                    <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite"
                                             vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                                    <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite"
                                             vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                                </rect>
                            </clipPath>
                            <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z"
                                  clip-path="url(#uil-hourglass-clip1)" fill="#ffab00" class="sand"></path>
                            <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z"
                                  clip-path="url(#uil-hourglass-clip2)" fill="#ffab00" class="sand"></path>
                            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50"
                                              repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50"
                                              keyTimes="0;0.7;1"></animateTransform>
                        </g>
                    </svg>
                </div>
            </div>
<div class="container well ">
<div class="row">
<!-- target modal -->	

	
	




    <div class="row" style="margin-top: -31px !important;">
        <h1 style="text-align:center; color:#d81615">Committee Portal</h1>
    </div>
    <br>

<div class="row">
                <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
                  <label> Parliament</label>
                  <div class="login_field">
                      <select name="parliament" id="parliament" class="form-control" required=""
                              style="   border-radius: 1px;    border-color: cadetblue;">
                          <option value="" selected="">Select Parliament</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
                <label> Assembly</label>
                <div class="login_field">
                    <select name="assembly" id="assembly" class="form-control" required=""
                            style="   border-radius: 1px;    border-color: cadetblue;">
                        <option value="" selected="">Select Assembly</option>
                    </select>
                </div>
                </div>
                 <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
                <label> Role</label>
                <div class="login_field">
                    <select name="role" id="role" class="form-control" required=""
                            style="   border-radius: 1px;    border-color: cadetblue;">
                        <option value="" selected="">Select Role</option>
                         <option value="executive committee" >Executive Committee</option>
                          <option value="working committee" >Working Committee</option>
                          <option value="aspirant" >Aspirant</option>
                          <option value="cadre" >Cadre</option>
                    </select>
                </div>
                </div>
              
                <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                <label> Skills</label><br>
                 <select name="skills" id="skills" class="form-control custom-select multi_select" multiple="multiple" required=""
                            style="background: #fff;cursor: pointer;padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;">
                            <option value="motivational speakers"> ప్రసంగాలతో ప్రజలను ప్రభావితం చేయడం</option>
<option value="local issues"> సమస్యలపై పోరాటం చేయడం</option>

  <option value="Door to door election campaign"> ఇంటింటికి పార్టీ సిద్ధాంతాలు తీసుకెళ్లడం </option>
    <option value="law and order"> న్యాయపరమైన చిక్కులను పరిష్కరించడం  </option>

      <option value="social media publicity"> సోషల్ మీడియా ద్వారా బలంగా ప్రచారం చేయడం </option>
 <option value="banners publicity">బ్యానర్లు, పెయింటింగ్ లతో పార్టీ ప్రచారం</option>
<option value="political analysis ">రాజకీయ విశ్లేషణ </option>


   <option value="leadership">నాయకత్వ లక్షణాలు (కొత్తవారిని చేర్చడం, వారిని నడిపించడం) </option>
    <option value="content writing">తెలుగు, ఇంగ్లిష్, ఉర్దూ, హిందీ భాషపై పట్టు, కంటెంట్ రైటింగ్ </option>

      <option value="cultural activities">సాంస్కృతిక నైపుణ్యాలు (సంగీతం, పాడటం, నృత్యాలు, నాటకాలు) </option>



                             </select>
                </div>

                  <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
                     <button type="button"  id="filter" class="btn btn-success" style="width:122px;height:38px;    margin-top: 23px;">Filter</button>
                     </div>

         </div>
<br>
<br>
<div class="row" id="table_div" >


<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
	<table id="operations_table" class="display " cellspacing="0"   style="table-layout:fixed">
    <tr style="display:none"><td> <a  href="" id="pdf_downloader" download style="display:none"></a></td></tr>
        <thead class="table_header">
            <tr >
          
          <th>SI No</th>
          <th>Parliament </th>
          <th>Assembly </th>
          <th>name</th>
           <th>Caste</th>
            <th>photo</th>
           
             <th >Role</th>
             <th >Skills</th>

       
          
           <th>age </th>
            
          <th>Gender </th>
          <th>Mobile</th>
         <th>JSP ID</th>
         <th >Date</th>
          
          <th>update </th>
           
        </tr>
        </thead>
       
        <tbody id="operations_body">

        </tbody>
    </table>
  <div class="row" id="pdf_receipt_div" style="display":"none">

   <iframe id="pdf_file" frameborder="0"></iframe>
   
  </div>
</div>

  </div>
 <script type="text/javascript">

var myTable;
var result;
$(document).ready(function()
{

    var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
var selected_skills=[];
$("#skilss option:selected").each(function(){
            var optionValue = $(this).val();
            var optionText = $(this).text();

            // collect all values
            selected_categories.push(optionValue);
        });
 $.getJSON('/static/json/constituency_pc_mand.json', function (data) {
    mandals = data;
    data.forEach(district_data => {
    $('#parliament')
        .append($("<option></option>")
        .attr("value", district_data['parliament_constituency_id'])

        .text(district_data['parliament_constituency_name']));
    });



      var map = {};
    $('#parliament option').each(function () {
            if (map[this.value]) {
              $(this).remove()
            }
            map[this.value] = true;
        });

    });

     $("#parliament").change(function () {
      var district = $("#parliament").val();

      $('#assembly')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Assembly</option>')
        .val('');
      mandals.forEach(assembly_data => {
        if (district == assembly_data['parliament_constituency_id']) {
            $('#assembly')
            .append($("<option></option>")
              .attr("value", assembly_data['constituency_id'])

              .text(assembly_data['constituency_name'].toLowerCase()));



        }





      });


      var map = {};
      $('#assembly option').each(function () {
        if (map[this.value]) {
          $(this).remove()

        }
        map[this.value] = true;
      })

    });


      $("#assembly").change(function () {
      var assembly = $("#assembly").val();
      assembly_name = $('#assembly option:selected').text()

      $('#mandal')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Mandal</option>')
        .val('');
      mandals.forEach(mandal_data1 => {
        if (assembly == mandal_data1['constituency_id']) {

          $('#mandal')
            .append($("<option></option>")
              .attr("value", mandal_data1['id'])
              .text(mandal_data1['mandal_name'].toLowerCase()));
        }

      });



    });






$('.multi_select').multiselect({
        templates: {
            li: '<li><div class="checkbox"><label></label></div></li>'
        }
    });
    $('.multiselect-container div.checkbox').each(function (index) {

        var id = 'multiselect-' + index,
            $input = $(this).find('input');

        // Associate the label and the input
        $(this).find('label').attr('for', id);
        $input.attr('id', id);

        // Remove the input from the label wrapper
        $input.detach();

        // Place the input back in before the label
        $input.prependTo($(this));

        $(this).click(function (e) {
            // Prevents the click from bubbling up and hiding the dropdown
            e.stopPropagation();
        });




    });


    $("#filter").click(function()
{
var parliament=$("#parliament").val();
var assembly=$("#assembly").val()
var selected_skills=[];
$("#skills option:selected").each(function(){
            var optionValue = $(this).val();
            var optionText = $(this).text();

            // collect all values
            selected_skills.push(optionValue);
        });
var role=$("#role").val()

var data={};
data['parliament']=parliament;
data['skills']=selected_skills;
data['assembly']=assembly;
data['role']=role;
console.log(data)
$(".loader").css("display","block");
    $.ajax({
           type: "POST",
           url:"/assembly_comittee_details",
             data:JSON.stringify(data),
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
             $(".loader").css("display","none");
               if (response.status=='1') {
                result=response.data;
               console.log(result)
               
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  
                  $("#table_div").css("display","block");
                
                  
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });

})


// function openInNewTab(url) {
//   var win = window.open(url, '_blank', 'toolbar=0,location=0,menubar=0');


// }
$("#operations_table tbody").on( 'click', 'button', function () {

 if($(this).hasClass('role_btn'))
 {
var currentRow=$(this).closest("tr"); 

    $('tr').removeClass('active');
     var seq_id=currentRow.find("td:eq(0)").text()
     var assigned_role=$(this).closest("tr").find('select').val();
      var membership_id=currentRow.find("td:eq(11)").text()
           if(!assigned_role)
     {
       swal('Error',"Pls Select One Role",'error')
       return false;
     }
         data={membership_id:membership_id,seq_id:seq_id,role:assigned_role}
    console.log(data)
    
      $(".loader").css("display","block");
    $.ajax({
           type: "POST",
           url:"/update_member_role",
           data:JSON.stringify(data),             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.status=='1') {
                
               

                swal('Success',"updated Successfully",'success')
                  $(".loader").css("display","none");
                  
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });


 }
 else
 {
  var currentRow=$(this).closest("tr"); 

    $('tr').removeClass('active');
     // removes all highlights from tr's
    
    $(currentRow).addClass('active');
         var seq_id=currentRow.find("td:eq(0)").text()
         var name=currentRow.find("td:eq(3)").text(); // get current row 1st TD value
         var membership_id=currentRow.find("td:eq(11)").text();
         


    
      $(".loader").css("display","block");
      data = {
        'membership_list':[membership_id]
      }

    $.ajax({
           type: "POST",
           url:"/booth_mandal_admins/something",
           data:JSON.stringify(data),
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
                console.log(response);
               if (response.status==1) {
               
               
                var urls = response.urls;
                var url = urls[0];
               

                 $("#pdf_file").attr('src',url)
                 console.log(url)
                $("#pdf_receipt_div").css("display","block")
             event.preventDefault(); 

                swal('Success',"generated successfully",'success')
                  $(".loader").css("display","none");
                    // $("#pdf_downloader").click();
                 
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.msg,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
 }
  

         // get current row 
        
});


 var roles=["executive committee",
"working committee",
"aspirant",
"cadre"];
	  myTable = $('#operations_table').DataTable( {
                  data:[],
                   "scrollX": true,
                   scrollY:        '100vh',
        scrollCollapse: false,
        paging:         false,
                  columns: 
       [{data: 'seq_id'},
       {data: 'parliament_constituency_name'},
      
     {data: "constituency_name"},
      {data: "name"},
        {data: "caste"},
        {
    "data": "photo_url",
    "render": function(data, type, row) {
      if(data!='')
      {
        return '<img src="'+data+'" width=100 height=100  class="photo_zoomimg" />';
      }
      else
      {
        return '<span>No photo</span>';
      }
        
    }
     },
         
           {"data": "role",
          "render": function(d,t,r){
                  var $select = $("<select class='form-control t_role'></select>", {
                      
                        "value": d
                    });
                 
                   var $d_option = $("<option></option>", {
                          "text": 'Select One',
                            "value": ''
                        });
                   $select.append($d_option);
                  $.each(roles, function(k,v){
                      var $option = $("<option></option>", {
                          "text": v,
                            "value": v
                        });
                        if(d === v){
                          $option.attr("selected", "selected")
                        }

                      $select.append($option);
                    });
                  var button="<br><br><button class='role_btn btn-info' data='"+r['membership_id']+"'>Update</button>"
                    return $select.prop("outerHTML")+button;



                }
         },
            
       {data: "skills"},
      
          {data: 'age'},

    
    {data: "gender"},

   {data: "phone"},
   {data: "membership_id"},

     {data: "date"},
   
    {
            "targets": -1,
            "data": "pdf_url",
            "render": function(data, type, row){
                if(data)
                {
                  return "<a href="+data+" download>Download</a>"
                }
else
{
   return "<button class='photo_btn btn-info'>Generate</button>"
}
               
            }

        }

    
  
   ],
                  dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]} );




});



</script>
</body>
</html>