<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Constituency Members</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Janasenaparty</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/logoutcl">Logout</a></li>

        </ul>
      </div>
    </nav>
<div class="container">

    <table class="table table-striped">
    <tr>
        <thead>
            <th>Name</th>
            <th >Phone</th>
            <th >Mandal</th>
        </thead>
    </tr>
    {% for row in final_data %}

    <tr>
        <td >{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{ row[2] if row[2] }}</td>
    </tr>

    {% endfor %}
</table>
</div>

<script src="/static/jquery.js"></script>
<script src="/static/boostrap.min.js"></script>

</body>
</html>