
{% extends "admin_layout.html" %}
{% block body %}
<style>
/*.changepassword{  
  display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:300%;
    z-index:1000;
    background-color:rgba(0,0,0,0.8);
 } */

</style>
<div class="changepassword">

    <div class="row" >
    <div class="col-xs-6 col-md-6 col-sm-12 col-xs-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Create  Category</h3>
      </div>
      <div class="panel-body">
        <form>
       
        <input class="form-control " type="text"  id='role_name' placeholder="Role Name "  required><br>
         <input class="form-control " type="text"  id='role' placeholder="Role Short Name (two characters) " required><br>
        <br> <br>
        
       
        <input class="btn btn-primary form-control" id='submitcategory'  type="submit">
       
</form>
      </div>

    </div>
    </div>
    </div>

</div>
<script>
$(document).ready(function(){




$('#submitcategory').click(function()
{
  
  
  var role_name=$("#role_name").val();
 
  var role=$("#role").val();

  data={role_name:role_name,role:role}
 $.ajax({
                    url: "/createCategory",
                    type: "POST",
                    data:data,
                    dataType: 'json',
                    success: function(result){ 
                     
                     
                        if(result.data.status=='1')
                            {
                               
                             alert('Admin Category Created Successfully ');

                           
              window.location.href="{{url_for('.adminDashboard')}}";

                }
                else{
                alert(result.errors);
                return false;
                
                }
                }
                });  


});

})
</script>
{% endblock %}