
{% extends "admin_layout.html" %}
{% block body %}
<style>
/*.changepassword{  
  display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:300%;
    z-index:1000;
    background-color:rgba(0,0,0,0.8);
 } */

</style>
<div class="changepassword">

    <div class="row" >
    <div class="col-xs-6 col-md-6 col-sm-12 col-xs-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Create  Admin</h3>
      </div>
      <div class="panel-body">
        <form>
        <span style="color:red;">Password Must be 8 Characters Long</span>
        <input class="form-control " type="text"  id='firstname' placeholder="First Name "  required><br>
         <input class="form-control " type="text"  id='lastname' placeholder="last name " required><br>
        <input class="form-control" type="email" id='email' placeholder="User Email" required><br>
        <input class="form-control " type="password" id='password'  placeholder="password" required><br>
        <select name="role" id="role" class="form-control " required>
          {% for role in roles %}
        <option value="{{role.role}}">{{role.role_name}}</option>
    {% endfor %}
  
  
  
</select><br> <br>
        
       
        <input class="btn btn-primary form-control" id='submitadmin'  type="submit">
       
</form>
      </div>

    </div>
    </div>
    </div>

</div>
<script>
$(document).ready(function(){




$('#submitadmin').click(function()
{
  
  var password=$('#password').val();
  if (password.length<8)
  {
alert("password should be 8 characters Long")
return false;
  }
  var firstname=$("#firstname").val();
  var lastname=$("#lastname").val();
  var email=$("#email").val();
  var role=$("#role").val();

  data={uname:email,first_name:firstname,last_name:lastname,password:password,role:role}
 $.ajax({
                    url: "/createAdmin",
                    type: "POST",
                    data:data,
                    dataType: 'json',
                    success: function(result){ 
                     
                     
                        if(result.data.status=='1')
                            {
                               
                             alert('admin Created Successfully ');

                           
window.location.href="{{url_for('.adminDashboard')}}";

                }
                else{
                alert(result.errors);
                
                }
                }
                });  


});

})
</script>
{% endblock %}