<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
    <link href="/static/simplePagination.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
    <style>
            .loader {
              position: fixed;
              background: rgba(0,0,0,0.6);
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              margin: 0 auto;
              z-index : 100;
              display : none;
            }
            .spinner {
              margin: 0 auto;
              width: 100px;
              margin-top: 10%;
              height: 100px;
            }

            .btns{
                margin-top:20px;
            }
            th{
             background-color:#006091;
             color:white;
            }
            td{
                color:#0070B5;
            }
            .form-control{
                width: 100%;
    border-radius: 1px;
    border-color: cadetblue;
            }
            .submit{
  background: #d61f26;
      border: 0;
      padding: 8px 30px;
      color: #fff;
      margin: 10px 5px 0;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: .5px;
      position: relative;
      /*margin-left: 24px;*/
}
        </style>

</head>

<body class="container">
<div class="loader">
                <div class="spinner">
                    <svg width='48px' height='48px' xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100"
                         preserveAspectRatio="xMidYMid" class="uil-hourglass">
                        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                        <g>
                            <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10"
                                  d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z"
                                  class="glass"></path>
                            <clipPath id="uil-hourglass-clip1">
                                <rect x="15" y="20" width="70" height="25" class="clip">
                                    <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite"
                                             vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                                    <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite"
                                             vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                                </rect>
                            </clipPath>
                            <clipPath id="uil-hourglass-clip2">
                                <rect x="15" y="55" width="70" height="25" class="clip">
                                    <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite"
                                             vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                                    <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite"
                                             vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                                </rect>
                            </clipPath>
                            <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z"
                                  clip-path="url(#uil-hourglass-clip1)" fill="#ffab00" class="sand"></path>
                            <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z"
                                  clip-path="url(#uil-hourglass-clip2)" fill="#ffab00" class="sand"></path>
                            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50"
                                              repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50"
                                              keyTimes="0;0.7;1"></animateTransform>
                        </g>
                    </svg>
                </div>
            </div>
<div class="row">
    <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
        <label> Parliament</label>
        <div class="login_field">
            <select name="parliament" id="parliament" class="form-control" required=""
                    style="   border-radius: 1px;    border-color: cadetblue;">
                <option value="" selected="">Select Parliament</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
        <label> Assembly</label>
        <div class="login_field">
            <select name="assembly" id="assembly" class="form-control" required=""
                    style="   border-radius: 1px;    border-color: cadetblue;">
                <option value="" selected="">Select Assembly</option>
            </select>
        </div>
    </div>

</div>
<div class="row " style="margin-top:30px; padding:10px;" id="mandal_table">


</div>
<div class="row " style="margin-top:30px; padding:10px;" id="pb_table">

    <table id="polling_booths" class="table table-bordered table-striped " width="100%"></table>

</div>
<div class="row " style="margin-top:30px; padding:10px;" id="voter_tbl">
    <table id="operations_table" class="table table-bordered table-striped " width="100%"></table>
</div>

<div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-body">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 id="head" style="text-align: center;    color: #d81615;
        font-size:32px">Voter Profile</h3>
  <div class="border" style="
  margin-bottom: 30px;
  border: #587783 solid 3px;
  padding: 30px;
  background: rgba(255,255,255,.95);
  position: relative; margin-top: 20px;" >

  <div id="details_screen" >
      <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
            <label>Voter ID</label>
            <div class="login_field">
              <input class="form-control" type="text" id="voter_id" name="voter_id">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
            <label>Voter Name</label>
            <div class="login_field">
              <input class="form-control" type="text" id="voter_name" name="voter_name">
            </div>
          </div>
            </div>
            <div class="row"  style="margin-top: 6px;">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>Voter Relation</label>
                    <div class="login_field">
                      <input class="form-control" type="text" id="voter_relation" name="voter_relation">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <div id="gender_div">
                       <label for="gender">Gender</label><br>
                          <label class="">
                            <input type="radio" name="gender" value="F" >Female
                          </label>
                          <label class="">
                            <input type="radio" name="gender" value="M">Male
                          </label>
                        <label class="">
                            <input type="radio" name="gender" value="O">Others
                          </label></br>
                           </div>

                    </div>
            </div>
            <div class="row"  style="margin-top: 6px;">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>Age </label>
                    <div class="login_field">
                        <select name="age" id="age" class="form-control" required="">
                            <option value="" selected="">Select Age</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                            <option value="61">61</option>
                            <option value="62">62</option>
                            <option value="63">63</option>
                            <option value="64">64</option>
                            <option value="65">65</option>
                            <option value="65+">above 65+</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>Community Category</label>
                    <div class="login_field">
                      <input class="form-control" type="text" id="community" name="community">
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>Sub Caste</label>
                    <div class="login_field">
                      <input class="form-control" type="text" id="sub_caste" name="sub_caste">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>Phone Number</label>
                    <div class="login_field">
                        <input class="form-control" oninput="maxLengthCheck(this)" maxlength="10" onkeypress="return isNumeric(event)"
                            type="text" id="phone" name="phone">
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                        <label for="profession">Occupation</label>
                        <select name="profession" id="profession" class="form-control" required="">
                            <option value="" selected="">Select Profession</option>
                            <option value="IT Professional" class="IT Professional">IT Professional</option>
                            <option value="Enterpreneur" class="Enterpreneur">Enterpreneur</option>
                            <option value="Accountant" class="Accountant">Accountant</option>
                            <option value="Finanace" class="Finanace">Finanace</option>
                            <option value="Academician" class="academician">Academician</option>
                            <option value="Student" class="student">Student</option>
                            <option value="Self-employed" class="Self-employed">Self-employed</option>
                            <option value="Doctor" class="Doctor">Doctor</option>
                            <option value="Lawyer" class="Lawyer">Lawyer</option>
                            <option value="Housewife" class="housewife">Housewife</option>
                            <option value="Journalist" class="Journalist">Journalist</option>
                            <option value="Other" class="Other">Other</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                        <label>Party Inclination</label>
                        <div class="login_field">
                            <select name="party_inclination" id="party_inclination" class="form-control" required=""
                                style="width:85%;    border-radius: 1px;    border-color: cadetblue;">
                                <option value="" selected="">Select Inclination</option>
                                <option value="jsp">JSP</option>
                                <option value="congress">Congress</option>
                                <option value="bjp">BJP</option>
                                <option value="tdp">TDP</option>
                                <option value="ysrcp">YSRCP</option>
                                <option value="others">others</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div   class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="margin-top: 11px;">
                        <div id="family_div">
                           <label for="family" >Family Head</label><br>
                              <label class="">
                                <input type="radio"  name="family" value="Yes" >Yes
                              </label>
                              <label class="">
                                <input type="radio"  name="family" value="No">No
                              </label>

                               </div>

                        </div>
                        <div   class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="margin-top: 11px;">
                            <div id="influencer_div">

                               <label for="influencer">Is a Influencer</label><br>
                                  <label class="">
                                    <input type="radio" id="influencer" name="influencer" value="Yes" >Yes
                                  </label>
                                  <label class="">
                                    <input type="radio" name="influencer" value="No">No
                                  </label>

                                   </div>

                            </div>
                </div>
                <div class="row">
                    <div   class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="margin-top: 11px;">
                        <div id="booth_agent_div">

                           <label for="boothagent">Can be a booth agent</label><br>
                              <label class="">
                                <input type="radio" id="boothagent"name="boothagent" value="Yes" >Yes</label>
                              <label class="">
                                <input type="radio" name="boothagent" value="No">No</label>

                               </div>

                        </div>
                </div>
            <input type="hidden" id="uid" value="">
            </div>

      <div class="row" style="margin-top:12px">
          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style=" text-align: center;margin-top: 20px;">
            <button type="submit" class="submit" id="submit">submit</button>
        </div>
      </div>
     </div>
</div>
</div>
</div>
</div>

<script src="/static/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script src="/static/jquery.simplePagination.js"></script>
<script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>


<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script>
var validate;
var validatevoter_id;
    $('#submit').click(function(){
if (!validate()) {

$(".loader").css("display", "None");
return false;
}
$('.loader').css('display','block')

        var voter_id= $('#voter_id').val();
        var voter_name= $('#voter_name').val();
        var voter_relation= $('#voter_relation').val();

        var gender = $("input[name='gender']:checked").val();
        var age = $('#age').val();
        var community = $('#community').val();
        var sub_caste = $('#sub_caste').val();
        var phone = $('#phone').val();
        var profession = $('#profession').val();
        var party_inclination = $('#party_inclination').val();
        var family = $("input[name='family']:checked").val();
        var influencer = $("input[name='influencer']:checked").val();
        var boothagent = $("input[name='boothagent']:checked").val();
        var uid = $('#uid').val();

        var data = {
            'voter_id':voter_id,
            'voter_name':voter_name,
            'voter_rel_name':voter_relation,
            'gender':gender,
            'age':age,
            'caste_cat':community,
            'caste_group':sub_caste,
            'm_no':phone,
            'occupation':profession,
            'party_inclination':party_inclination,
            'family':family,
            'influencer':influencer,
            'booth_agent':boothagent,
            'uid':uid
        }

        $(".loader").css("display","block");

        $.ajax({
            type: "POST",
            url:"/e_v",
            data:JSON.stringify(data),
            dataType:"json",
            contentType:"application/json",
            success: function (response) {
                $(".loader").css("display","none");
                if (response.status==1) {

                    swal('Success',response.msg,'success')
                    $('#myModal').modal('hide');

                    $("input[name='family']:checked").prop('checked',false);
                    $("input[name='influencer']:checked").prop('checked',false);
                    $("input[name='boothagent']:checked").prop('checked',false);

                }
                else
                {
                    $(".loader").css("display","none");
                    swal('Error',response.msg,'error')
                }
            },
            error:function(response)
            {
                console.log(response.msg)
                $(".loader").css("display","None");
                alert(response.msg)
                return false;
            }

        });

    });


    function get_pb_details(mandal_id){
        var assembly = $("#assembly").val();
        console.log('clicked');
        var data = {
            'constituency_id':assembly,
            'mandal_id':mandal_id,
        }
        $(".loader").css("display","block");
        $.ajax({
            type: "POST",
            url:"/g_m_c",
            data:JSON.stringify(data),
            dataType:"json",
            contentType:"application/json",
            success: function (response) {
                $(".loader").css("display","none");
                if (response.status==1) {
                    result=response.data;
                    console.log(result)



                     var titleArray = [
                        {'title':'Polling booth'},
                        {'title':'Total votes'},
                        {'title':'Male'},
                        {'title':'Female'},
                        {'title':'OC'},
                        {'title':'BC'},
                        {'title':'SC'},
                        {'title':'ST'},
                        {'title':'Minorities'},

                    ];

                    myTable = $('#polling_booths').DataTable( {
                        fixedHeader: true,
                        data:result,
                        destroy: true,
                        "scrollX": true,
                        scrollY:        '100vh',
                        scrollCollapse: false,
                        paging:         true,
                        pageLength:20,
                        "columns": titleArray,
                        dom: 'Bfrtip',
                        buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                        "lengthMenu": [ [10, 25, 50, "All"]]
                    } );
                    $(".loader").css("display","none");

                    $("#pb_table").css("display","block");

                    $(".loader").css("display","none");


                }
                else
                {
                    $(".loader").css("display","none");
                    swal('Error',response.errors,'error')
                }
            },
            error:function(response)
            {
                console.log(response.errors)
                $(".loader").css("display","None");
                alert(response.errors)
                return false;
            }

        });

    }


    function get_voter_details(polling_booth_id){

        var assembly = $("#assembly").val();
        console.log('clicked');
        var data = {
            'constituency_id':assembly,
            'polling_booth_id':polling_booth_id
        }
        $(".loader").css("display","block");
        $.ajax({
            type: "POST",
            url:"/g_v_d",
            data:JSON.stringify(data),
            dataType:"json",
            contentType:"application/json",
            success: function (response) {
                $(".loader").css("display","none");
                if (response.status==1) {
                    result=response.data;
                    console.log(result)

                    var titleArray = [
                        {'title':'Voter ID'},
                        {'title':'Voter Name'},
                        {'title':'Voter Relation'},
                        {'title':'Gender'},
                        {'title':'Age'},
                        {'title':'Community/Category'},
                        {'title':'Subcaste'},
                        {'title':'Mobile No 1'},
                        {'title':'Mobile No 2'},

                    ];

                    myTable = $('#operations_table').DataTable( {
                        fixedHeader: true,
                        data:result,
                        destroy: true,
                        "scrollX": true,
                        scrollY:        '100vh',
                        scrollCollapse: false,
                        paging:         true,
                        pageLength:20,
                        "columns": titleArray,
                        dom: 'Bfrtip',
                        buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                        "lengthMenu": [ [10, 25, 50, "All"]]
                    } );
                    $(".loader").css("display","none");

                }
                else
                {
                    $(".loader").css("display","none");
                    swal('Error',response.errors,'error')
                }
            },
            error:function(response)
            {
                console.log(response.errors)
                $(".loader").css("display","None");
                alert(response.errors)
                return false;
            }

        });



    }

    function show_voter_form(id){

        var data = {
            'id':id,

        }
        $(".loader").css("display","block");
        $.ajax({
            type: "POST",
            url:"/g_v",
            data:JSON.stringify(data),
            dataType:"json",
            contentType:"application/json",
            success: function (response) {
                $(".loader").css("display","none");
                if (response.status==1) {
                    result=response.data;
                    console.log(result)
                    $('#uid').val(id);
                    $('#voter_id').val(result[0]);
                    $('#voter_name').val(result[1]);
                    $('#voter_relation').val(result[2]);

                    $("input[name='gender'][value='"+result[3]+"']").prop("checked",true);
                    $('#age').val(result[4].toString());
                    $('#community').val(result[5]);
                    $('#sub_caste').val(result[6]);
                    $('#phone').val(result[7]);
                    $('#profession').val(result[8]);
                    $('#party_inclination').val(result[9]);

                    $("input[name='family'][value='"+result[10]+"']").prop("checked",true);

                    $("input[name='influencer'][value='"+result[11]+"']").prop("checked",true);

                    $("input[name='boothagent'][value='"+result[12]+"']").prop("checked",true);
                    $('#myModal').modal('show');
                    $(".loader").css("display","none");

                }
                else
                {
                    $(".loader").css("display","none");
                    swal('Error',response.errors,'error')
                }
            },
            error:function(response)
            {
                console.log(response.errors)
                $(".loader").css("display","None");
                alert(response.errors)
                return false;
            }

        });


    }

     function isEmpty(val) {
return (val === undefined || val == null || val.length <= 0) ? true : false;
}

function validatevoter_id(voter_id) {
      var regex = /^[A-Za-z]{2,3}[0-9]*$/g;

      var length = voter_id.length;
      if (length >= 10 && length <= 14) {
        if (regex.test(voter_id)) {
          return true

        }
        else {

          return false;

        }
      }
      else {

        return false;
      }
    }

function validate() {
        $("p").html('');

        var voter_name = $('#voter_name').val();
        var phone_num=$('#phone').val();
        var voter_id=$('#voter_id').val();
        var age=$('#age').val();
        var gender=$("input[name='gender']:checked").val();
        var voter_relation=$('#voter_relation').val();
        var occupation=$('#profession').val();
        var party_inclination=$('#party_inclination').val();
        var family_head=$("input[name='family']:checked").val();
        var influencer=$("input[name='influencer']:checked").val();
        var boothagent=$("input[name='boothagent']:checked").val();


        $("p").remove(".validation");
        if (!validatevoter_id(voter_id)) {

           $("#voter_id").after("<p class='validation' style='color:red;'> Enter valid Voter ID</p>");
           $("#voter_id").focus();

           return false;
           }
       if (isEmpty(voter_name)){

         $("#voter_name").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#voter_name").focus();

         return false;
       }
       if (isEmpty(voter_relation)){

         $("#voter_relation").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#voter_relation").focus();

         return false;
       }
       if (isEmpty(gender)){

         $("#gender_div").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#gender_div").focus();

         return false;
       }
       if (isEmpty(age)){

         $("#age").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#age").focus();

         return false;
       }
       if (isEmpty(phone_num)){

         $("#phone").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#phone").focus();

         return false;
       }
       if (isEmpty(occupation)){

         $("#profession").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#profession").focus();

         return false;
       }
       if (isEmpty(party_inclination)){

         $("#party_inclination").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#party_inclination").focus();

         return false;
       }
       if (isEmpty(family_head)){

         $("#family_div").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#family_div").focus();

         return false;
       }
       if (isEmpty(influencer)){

         $("#influencer_div").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#influencer_div").focus();

         return false;
       }
       if (isEmpty(boothagent)){

         $("#booth_agent_div").after("<p class='validation' style='color:red;'>This Field is Required</p>");
         $("#booth_agent_div").focus();

         return false;
       }


       return true;
        }


    $(document).ready(function(){




        $.getJSON('/static/json/constituency_pc_mand.json', function (data) {
            mandals = data;
            data.forEach(district_data => {
                $('#parliament')
                    .append($("<option></option>")
                        .attr("value", district_data['parliament_constituency_id'])

                        .text(district_data['parliament_constituency_name']));
            });



            var map = {};
            $('#parliament option').each(function () {
                if (map[this.value]) {
                    $(this).remove()
                }
                map[this.value] = true;
            });

        });

        $("#parliament").change(function () {
            var district = $("#parliament").val();

            $('#assembly')
                .find('option')
                .remove()
                .end()
                .append('<option value="" selected>Select Assembly</option>')
                .val('');
            mandals.forEach(assembly_data => {
                if (district == assembly_data['parliament_constituency_id']) {
                    $('#assembly')
                        .append($("<option></option>")
                            .attr("value", assembly_data['constituency_id'])

                            .text(assembly_data['constituency_name'].toLowerCase()));



                }



            });


            var map = {};
            $('#assembly option').each(function () {
                if (map[this.value]) {
                    $(this).remove()

                }
                map[this.value] = true;
            })

        });


        $("#assembly").change(function () {
            var assembly = $("#assembly").val();
            assembly_name = $('#assembly option:selected').text()

            $('#mandal')
                .find('option')
                .remove()
                .end()
                .append('<option value="" selected>Select Mandal</option>')
                .val('');
            mandals.forEach(mandal_data1 => {
                if (assembly == mandal_data1['constituency_id']) {

                    $('#mandal')
                        .append($("<option></option>")
                            .attr("value", mandal_data1['id'])
                            .text(mandal_data1['mandal_name'].toLowerCase()));
                }

            });


            var data = {
                'constituency_id':assembly
            }
            $(".loader").css("display","block");
            $.ajax({
                type: "POST",
                url:"/g_c_c",
                data:JSON.stringify(data),
                dataType:"json",
                contentType:"application/json",
                success: function (response) {
                    $(".loader").css("display","none");
                    if (response.status==1) {
                        result=response.data;
                        console.log(result)



                        var html = "<table class='table table-bordered table-striped'>";
                        html += "<tr>";
                        html += "<th>Mandal</th>";
                        html += "<th>Total votes</th>";
                        html += "<th>Male</th>";
                        html += "<th>Female</th>";
                        html += "<th>OC</th>";
                        html += "<th>BC</th>";
                        html += "<th>SC</th>";
                        html += "<th>ST</th>";
                        html += "<th>Minorities</th>";
                        html += "<th>Polling booths</th></tr>";

                        for(var i=0;i<result.length;i++){
                            html += "<tr>";
                            html += "<td>"+result[i][0]+"</td>";
                            html += "<td>"+result[i][1]+"</td>";
                            html += "<td>"+result[i][2]+"</td>";
                            html += "<td>"+result[i][3]+"</td>";
                            html += "<td>"+result[i][4]+"</td>";
                            html += "<td>"+result[i][5]+"</td>";
                            html += "<td>"+result[i][6]+"</td>";
                            html += "<td>"+result[i][7]+"</td>";
                            html += "<td>"+result[i][8]+"</td>";
                            html += "<td><button onClick='get_pb_details("+result[i][9]+")'>Get Pollingbooth details</button></td></tr>";

                        }

                        html += "</table>";
                        $("#mandal_table").html(html);

                        $("#mandal_table").css("display","block");
                        $(".loader").css("display","none");


                    }
                    else
                    {
                        $(".loader").css("display","none");
                        swal('Error',response.errors,'error')
                    }
                },
                error:function(response)
                {
                    console.log(response.errors)
                    $(".loader").css("display","None");
                    alert(response.errors)
                    return false;
                }

            });



        });





    });


</script>
</body>
</html>