{% extends "admin_layout.html" %}
{% block body %}
 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
<style>
td{
	word-wrap: break-word !important;
	}
</style>
<div class="row">
<div class="row">
<div style="text-align:left;margin:10px 20px 10px 30px;" id="count" ></div>
  <div  style="text-align:right;margin:10px 20px 10px 10px;"> <a href="/getfacilitators"><button class="btn-success">Download As CSV </button></a></div>
  </div>
  <br>
  <div class="datagrid">
    <table width='80%' border='1' id="content" style=" overflow-x: auto !important;padding: 10px !important;
    margin: 10px !important;">
      <thead>
        <tr>
          <th >SI.No:</th>
          <th>Name </th>
          
          <th>Email </th>
          <th>Phone No: </th>
         
          <th>District </th>
           <th>Assembly Constituency</th>
           <th>Parliament Constituency </th>
           <th>Voter ID</th>
           <th>Aadhar ID </th>
           <th>Confirmation </th>
           <th>Missed Call Status </th>
        </tr>
      </thead>
      <tbody id="janaswaram">


      </tbody>
    </table>
  </div>

  </div>
   <br>
<div class="row">
<div id="pagination" class="col-md-5" style=" margin-left: 93px !important;"></div>
<div id="next_slab" class="col-md-2" style="display:none;">
  <a href="#" id="load_next">Load More</a>
</div>
</div>
<script>
var last_page=0;
var page_number=0;
 function mypages(mystr){
        var items = $(mystr+" tbody tr");

                var numItems = items.length;
                
                var perPage = 100;
                $('#fn').html(numItems);

                console.log("cp2")
                items.slice(perPage).hide();

                // now setup pagination
                $("#pagination").pagination({
                    items: numItems,
                    itemsOnPage: perPage,
                    cssStyle: "light-theme",
                    onPageClick: function(pageNumber) { // this is where the magic happens
                        // someone changed page, lets hide/show trs appropriately
                        var showFrom = perPage * (pageNumber - 1);
                        var showTo = showFrom + perPage;

                        items.hide() // first hide everything, then show for the new page
                             .slice(showFrom, showTo).show();
                    }
                });
                console.log(last_page);
                $("#pagination").pagination('selectPage', last_page+1);
                last_page= $("#pagination").pagination('getPagesCount');
          
    }
    $(document).ready(function()
    {

      var index=0;
      var next_marker={};
      var html_str="";
      $(".loader").css("display","block");
       $.ajax({
           type: "GET",
           url: "/getFacilitatorData",
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                data=response.data.children;
                console.log(data)
                var count=response.data.count;
                console.log(count);
             var html_count_str="<h3>Total Facilitators:"+count+"</h3>";
                $("#count").html(html_count_str);
                 $("#next_slab").css('display','block')
                var rows="";
                for (item in data)
                {
                  index=index+1;
                   rows=rows+"<tr class='page'><td>"+index+"</td><td>"+data[item].name+"</td><td>"+data[item].email+"</td><td>"+data[item].mobile+"</td><td>"+data[item].district+"</td><td>"+data[item].assembly+" </td><td>"+data[item].parliament_constituency_name+"</td><td>"+data[item].voter_id+"</td><td>"+data[item].aadhar_id+"</td><td>"+data[item].confirmation+"</td><td>"+data[item].miss_call_status+"</td></tr>";
                   
                }

                 $(rows).appendTo("#content");
           mypages("#content");

 
           
          

                $(".loader").css("display","None");
                 

               } 
               else
               {
 				
         
            $("#next_slab").css('display','None')
          
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.statusText)
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
// end of ajax
      
      
      $("#load_next").click(function()
      {
         $(".loader").css("display","block");
      page_number=page_number+1;
        console.log("hello")
         $.ajax({
           type: "GET",
           url: "/getFacilitatorData?page="+page_number,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                data=response.data.children;

                $("#next_slab").css('display','block')
                var rows="";
                for (item in data)
                {
                   index=index+1;
                  rows=rows+"<tr class='page'><td>"+index+"</td><td>"+data[item].name+"</td><td>"+data[item].email+"</td><td>"+data[item].mobile+"</td>td>"+data[item].district+"</td><td>"+data[item].assembly+" </td><td>"+data[item].parliament_constituency_name+"</td><td>"+data[item].voter_id+"</td><td>"+data[item].aadhar_id+"</td><td>"+data[item].confirmation+"</td><td>"+data[item].miss_call_status+"</td></tr>";
                   
                  
                }
                console.log("hello cp1")
                 $(rows).appendTo("#content");
           mypages("#content");
        
          
                $(".loader").css("display","None");
                

               } 
               else
               {
 				$("#next_slab").css('display','none')
 				 $(".loader").css("display","None");
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.statusText)
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
      
      });
      

      // modal function
     
      //
    })
    </script>
</script>
{% endblock %}