{% extends "admin_layout.html" %}
{% block body %}
 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
 <script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
<style>
@media print
{
  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
}
</style>
<style>
td{
	word-wrap: break-word !important;
	}
  .modal-body {
  overflow-x: auto;
}
.heading{
  text-align:center;
  font-size:16px;
  font-weight:800;
  color:#d81615 !important;
}
</style>

<div class="row" style="text-align:left;margin:10px 20px 10px 30px;">
  <div class="col-md-6 col-sm-8 col-lg-6">
    <div class="row">
<div class="col-md-4 col-sm-4 col-lg-4">
    <label for="mp_constituency"  >Parliament Constituency:  </label>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8">
                      <select name="mp_constituency" id="mp_constituency" class="form-control browser-default "  >
                          
                        <option value="">select Parliament Constituency</option>
                           {% for item in data %}
        <option value="{{item}}"  >{{item}}</option>
    {% endfor %}

    
    </select>

  </div>
  
  </div>
  
  </div>
   <div class="col-md-2 col-sm-4 col-lg-2">
    &nbsp;&nbsp;&nbsp;
    <button type="submit" id="generate_report" class="btn btn-success"> Generate</button>
  </div>
  <div class="col-md-4 col-sm-12 col-lg-4">
  <a href="/downloadfacilitatorsFinalTeam"><button class=" btn btn-success">Download As CSV </button></a>
  </div>
  
  </div>
   <div class="row" style="text-align:left;margin:10px 20px 10px 30px;">
<div class="col-md-2 col-sm-4 col-lg-2">
    <label for="state"  >Select State:  </label>
  </div>
  <div class="col-md-4 col-sm-8 col-lg-4">
                      <select name="state" id="state" class="form-control browser-default "  >
                          
                        <option value="">select state</option>
                          
        <option value="1"  >Andhra Pradesh</option>
        <option value="2"  >Telangana</option>
   

    
    </select>
  </div>
    <div class="col-md-2 col-sm-4 col-lg-2">
    &nbsp;&nbsp;&nbsp;
    <button type="submit" id="generate_state_report" class="btn btn-success"> Generate</button>
  </div>
  </div>
  <br>
<div class="row">

<div style="text-align:left;margin:10px 20px 10px 30px;" id="count" ></div>
</div>
  <br>
  <div class="row datarows">
<div class="datagrid">
    <table width='80%' border='1' id="content" style="padding: 10px !important;
    margin: 10px !important;">
      <thead>
        <tr>
          <th >SI.No:</th>
          <th>Name </th>
          
          <th>Email </th>
          <th>Phone No: </th>
         
          <th>District </th>
           <th>Assembly Constituency</th>
           <th>Parliament Constituency </th>
           <th>Voter ID</th>
           <th>Aadhar ID </th>
           <th>Age </th>
           <th>Gender </th>
           <th>Qualification </th>
           <th>Profession </th>
            <th>Suggested Post </th>
            <th>Status</th>
        </tr>
      </thead>
      <tbody id="facilitators">


      </tbody>
    </table>
  </div>

  </div>
   <br>
<div class="row datarows">
<div id="pagination" class="col-md-5" style=" margin-left: 93px !important;"></div>
<div id="next_slab" class="col-md-2" style="display:none;">
  <a href="#" id="load_next">Load More</a>
</div>
</div>
<div id="classModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        
         <!-- <button type="button" class="btn btn-success"  id="downloadpdf">DOWNLOAD
         
        </button> -->
        <input type="button" onclick="tableToExcel('classTable', 'Facilitators Report')" value="Export to Excel" class="btn btn-success">
         <input type="button" value="Print Report" id="print_report" class="btn btn-success">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h4 class="modal-title" id="report_heading" style="text-align:center">
              Report
            </h4>
      </div>
      <div class="modal-body">
        <table id="classTable" class="table table-bordered" style="color:black;">
          <thead>
          </thead>
          <tbody>
            <tr id="firstrow">
              <td>
                <table id="statustable" class="table table-bordered"><thead>
                  <tr >
                    <td colspan="3" class="heading"> Attendance Stats</td>
                  </tr>
                  </thead>
                  <tbody id="statustablebody">
                  </tbody>
                </table>
              </td>
              <td></td>
<td> <table id="gendertable" class="table table-bordered">
  <thead>
                  <tr >
                    <td colspan="3" class="heading"> Gender Stats</td>
                  </tr>
                  </thead>
                  <tbody id="gendertablebody">
                  </tbody>
                </table>
</td>
            </tr>
            <tr>
              <!-- //break -->
            </tr>
            <tr id="secondrow">
               <td>
                <table id="professiontable" class="table table-bordered">
                   <thead>
                  <tr >
                    <td colspan="3" class="heading"> Profession wise Stats</td>
                  </tr>
                  </thead>
                  <tbody id="professiontablebody">
                  </tbody>
                </table>
               </td>
               <td></td>
<td> <table id="qualificationtable" class="table table-bordered">
   <thead>
                  <tr >
                    <td colspan="3" class="heading"> Qualification Wise Stats</td>
                  </tr>
                  </thead>
                  <tbody id="qualificationtablebody">
                  </tbody>
                </table>
</td>
            </tr>
            <tr>
              <!-- //break -->
            </tr>
            <tr id="thirdrow">
               <td><table id="assemblytable" class="table table-bordered">
                 <thead>
                  <tr >
                    <td colspan="3" class="heading" id="constituency_text"> assembly wise Stats</td>
                  </tr>
                  </thead>
                  <tbody id="assemblytablebody">
                  </tbody>
                </table></td>
                <td></td>
<td><table id="agewisetable" class="table table-bordered">
  <thead>
                  <tr >
                    <td colspan="3" class="heading"> Age wise Stats</td>
                  </tr>
                  </thead>
                  <tbody id="agewisetablebody">
                  </tbody>
                </table></td>
            </tr>
           
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
var last_page=0;
var page_number=0;
 function mypages(mystr){
        var items = $(mystr+" tbody tr");

                var numItems = items.length;
                
                var perPage = 100;
                $('#fn').html(numItems);

                console.log("cp2")
                items.slice(perPage).hide();

                // now setup pagination
                $("#pagination").pagination({
                    items: numItems,
                    itemsOnPage: perPage,
                    cssStyle: "light-theme",
                    onPageClick: function(pageNumber) { // this is where the magic happens
                        // someone changed page, lets hide/show trs appropriately
                        var showFrom = perPage * (pageNumber - 1);
                        var showTo = showFrom + perPage;

                        items.hide() // first hide everything, then show for the new page
                             .slice(showFrom, showTo).show();
                    }
                });
                console.log(last_page);
                $("#pagination").pagination('selectPage', last_page+1);
                last_page= $("#pagination").pagination('getPagesCount');
          
    }
    $(document).ready(function()
    {

      var index=0;
     
      var html_str="";
      $(".loader").css("display","block");
       $.ajax({
           type: "GET",
           url: "/getfacilitatorsTeam",
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                data=response.data.children;
                console.log(data)
                var count=response.data.count;
                console.log(count);
             var html_count_str="<h3>Total Attended Facilitators:"+count+"</h3>";
                $("#count").html(html_count_str);
                 $("#next_slab").css('display','block')
                var rows="";
                for (item in data)
                {
                  index=index+1;
                   rows=rows+"<tr class='page'><td>"+index+"</td><td>"+data[item].name+"</td><td>"+data[item].email+"</td><td>"+data[item].mobile+"</td><td>"+data[item].district+"</td><td>"+data[item].assembly+" </td><td>"+data[item].parliament_constituency_name+"</td><td>"+data[item].voter_id+"</td><td>"+data[item].aadhar_id+"</td><td>"+data[item].age+"</td><td>"+data[item].gender+"</td><td>"+data[item].qualification+"</td><td>"+data[item].profession+"</td><td>"+data[item].association+"</td><td>"+data[item].status+"</td></tr>";
                   
                }

                 $(rows).appendTo("#content");
           mypages("#content");

 
           
          

                $(".loader").css("display","None");
                 

               } 
               else
               {
 				
         
            $("#next_slab").css('display','None')
          
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.statusText)
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
// end of ajax
      
      
      $("#load_next").click(function()
      {
         $(".loader").css("display","block");
      page_number=page_number+1;
        console.log("hello")
         $.ajax({
           type: "GET",
           url: "/getfacilitatorsTeam?page="+page_number,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                data=response.data.children;

                $("#next_slab").css('display','block')
                var rows="";
                for (item in data)
                {
                   index=index+1;
                  rows=rows+"<tr class='page'><td>"+index+"</td><td>"+data[item].name+"</td><td>"+data[item].email+"</td><td>"+data[item].mobile+"</td><td>"+data[item].district+"</td><td>"+data[item].assembly+" </td><td>"+data[item].parliament_constituency_name+"</td><td>"+data[item].voter_id+"</td><td>"+data[item].aadhar_id+"</td><td>"+data[item].age+"</td><td>"+data[item].gender+"</td><td>"+data[item].qualification+"</td><td>"+data[item].profession+"</td><td>"+data[item].association+"</td><td>"+data[item].status+"</td></tr>";
                   
                  
                }
               
                 $(rows).appendTo("#content");
           mypages("#content");
        
          
                $(".loader").css("display","None");
                

               } 
               else
               {
 				$("#next_slab").css('display','none')
 				 $(".loader").css("display","None");
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.statusText)
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
      
      });
      
      $("#generate_report").click(function()
      {
        var mp_constituency=$("#mp_constituency").val();
       if (!mp_constituency)
       {
        alert('please select Constituency');
        return false;
       }
       $(".loader").css("display","block");
       $.ajax({
           type: "GET",
           url: "/generateMpConstituencyReport?mp_constituency="+mp_constituency,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                var report_str=mp_constituency+" Parliament Constituency Report"

                $("#report_heading").html(report_str);
                $("#constituency_text").html("Assembly Wise Stats")
               
                var data=response.data.children;
                var age_wise={"25-below":0,"26-35":0,"36-45":0,"46-55":0,"56-65":0,"65+":0,"not mentioned":0};
                var age_wise_percentage={"25-below":0,"26-35":0,"36-45":0,"46-55":0,"56-65":0,"65+":0,"not mentioned":0};
                var age_wise_data=data['age_wise']
               for (i = 0; i < age_wise_data.length; i++) {
                
                if(age_wise_data[i].age_range=='0-25')
                {
                  age_wise["25-below"]=age_wise["25-below"]+age_wise_data[i].age_stats;
                  age_wise_percentage["25-below"]=age_wise_percentage["25-below"]+parseFloat(age_wise_data[i].percentage);
                  
                }
                else if(age_wise_data[i].age_range=='26-35')
                {
                  age_wise["26-35"]=age_wise["26-35"]+age_wise_data[i].age_stats;
                  age_wise_percentage["26-35"]=age_wise_percentage["26-35"]+parseFloat(age_wise_data[i].percentage);
                }
                else if(age_wise_data[i].age_range=='36-45')
                {
                  age_wise["36-45"]=age_wise["36-45"]+age_wise_data[i].age_stats;
                   age_wise_percentage["36-45"]=age_wise_percentage["36-45"]+parseFloat(age_wise_data[i].percentage);
                }
                else if(age_wise_data[i].age_range=='46-55')
                {
                  age_wise["46-55"]=age_wise["46-55"]+age_wise_data[i].age_stats;
                   age_wise_percentage["46-55"]=age_wise_percentage["46-55"]+parseFloat(age_wise_data[i].percentage);
                }
                else if(age_wise_data[i].age_range=='56-65')
                {
                  age_wise["56-65"]=age_wise["56-65"]+age_wise_data[i].age_stats;
                  age_wise_percentage["56-65"]=age_wise_percentage["56-65"]+parseFloat(age_wise_data[i].percentage);
                }
                else if(age_wise_data[i].age_range=='65+')
                {
                  age_wise["65+"]=age_wise["65+"]+age_wise_data[i].age_stats;
                  age_wise_percentage["65+"]=age_wise_percentage["65+"]+parseFloat(age_wise_data[i].percentage);
                }
                else if(age_wise_data[i].age_range=='not mentioned')
                {
                 
                  age_wise["not mentioned"]=age_wise["not mentioned"]+age_wise_data[i].age_stats;
                  age_wise_percentage["not mentioned"]=age_wise_percentage["not mentioned"]+parseFloat(age_wise_data[i].percentage);
                }
    
                
               }

               
                
             }
             appendrowstotables(data,age_wise_percentage,age_wise);
              
                
                
             },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });   

      });

 $("#generate_state_report").click(function()
      {
        var state=$("#state").val();
       if (!state)
       {
        alert('please select State');
        return false;
       }
       $(".loader").css("display","block");
       $.ajax({
           type: "GET",
           url: "/generateStateyReport?state="+state,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                if(state==1)
                {
                var report_str=" Andhra Pradesh Report";
                }
                else
                {
              var report_str=" Telangana Report";
                }
                

                $("#report_heading").html(report_str);
                $("#constituency_text").html("Parliament Wise Stats");
               
                var data=response.data.children;
                var age_wise={"25-below":0,"26-35":0,"36-45":0,"46-55":0,"56-65":0,"65+":0,"not mentioned":0};
                var age_wise_percentage={"25-below":0,"26-35":0,"36-45":0,"46-55":0,"56-65":0,"65+":0,"not mentioned":0};
                var age_wise_data=data['age_wise']
               for (i = 0; i < age_wise_data.length; i++) {
                
                if(age_wise_data[i].age_range=='0-25')
                {
                  age_wise["25-below"]=age_wise["25-below"]+age_wise_data[i].age_stats;
                  age_wise_percentage["25-below"]=age_wise_percentage["25-below"]+parseFloat(age_wise_data[i].percentage);
                  
                }
                else if(age_wise_data[i].age_range=='26-35')
                {
                  age_wise["26-35"]=age_wise["26-35"]+age_wise_data[i].age_stats;
                  age_wise_percentage["26-35"]=age_wise_percentage["26-35"]+parseFloat(age_wise_data[i].percentage);
                }
                else if(age_wise_data[i].age_range=='36-45')
                {
                  age_wise["36-45"]=age_wise["36-45"]+age_wise_data[i].age_stats;
                   age_wise_percentage["36-45"]=age_wise_percentage["36-45"]+parseFloat(age_wise_data[i].percentage);
                }
                else if(age_wise_data[i].age_range=='46-55')
                {
                  age_wise["46-55"]=age_wise["46-55"]+age_wise_data[i].age_stats;
                   age_wise_percentage["46-55"]=age_wise_percentage["46-55"]+parseFloat(age_wise_data[i].percentage);
                }
                else if(age_wise_data[i].age_range=='56-65')
                {
                  age_wise["56-65"]=age_wise["56-65"]+age_wise_data[i].age_stats;
                  age_wise_percentage["56-65"]=age_wise_percentage["56-65"]+parseFloat(age_wise_data[i].percentage);
                }
                else if(age_wise_data[i].age_range=='65+')
                {
                  age_wise["65+"]=age_wise["65+"]+age_wise_data[i].age_stats;
                  age_wise_percentage["65+"]=age_wise_percentage["65+"]+parseFloat(age_wise_data[i].percentage);
                }
                else if(age_wise_data[i].age_range=='not mentioned')
                {
                 
                  age_wise["not mentioned"]=age_wise["not mentioned"]+age_wise_data[i].age_stats;
                  age_wise_percentage["not mentioned"]=age_wise_percentage["not mentioned"]+parseFloat(age_wise_data[i].percentage);
                }
    
                
               }

               
                
             }
             appendrowstotables(data,age_wise_percentage,age_wise);
              
                
                
             },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });   

      })

function appendrowstotables(data,age_wise_percentage,age_wise)
{
  
  var statusdata=data['status_wise'];
  var gender_wise=data['gender_wise'];
  var profession_wise=data['profession_wise'];
  var qualification_wise=data['qualification_wise'];
  var assembly_wise=data['assembly_wise'];
  var status_str='';
  var status_total=0;
  for(i=0;i<statusdata.length;i++)
  {
status_total=status_total+statusdata[i]["old_new"];
status_str=status_str+"<tr><td>"+statusdata[i]["status"]+"</td><td>"+statusdata[i]["old_new"]+"</td><td>"+statusdata[i]["percentage"]+"%</td></tr>";
  }
  status_str=status_str+"<tr><td><b>Total</b></td><td>"+status_total+"</td><td></td></tr>";
  
  $("#statustablebody").html(status_str);
  var gender_str='';
  var gender_total=0;
  for(i=0;i<gender_wise.length;i++)
  {
    gender_total=gender_total+gender_wise[i].gender_stats;
gender_str=gender_str+"<tr><td>"+gender_wise[i].gender+"</td><td>"+gender_wise[i].gender_stats+"</td><td>"+gender_wise[i].percentage+"%</td></tr>";
  }
gender_str=gender_str+"<tr><td><b>Total</b></td><td>"+gender_total+"</td><td></td></tr>";
  $("#gendertablebody").html(gender_str);

  var profession_str='';
   var profession_total=0;
  for(i=0;i<profession_wise.length;i++)
  {
    profession_total=profession_total+profession_wise[i].profession_stats;
    if (profession_wise[i].profession=="")
    {
      profession_wise[i].profession="Not Mentioned"
    }
profession_str=profession_str+"<tr><td>"+profession_wise[i].profession+"</td><td>"+profession_wise[i].profession_stats+"</td><td>"+profession_wise[i].percentage+"%</td></tr>";
  }
profession_str=profession_str+"<tr><td><b>Total</b></td><td>"+profession_total+"</td><td></td></tr>";
  $("#professiontablebody").html(profession_str);
  var qualification_str='';
  var qualification_total=0;
  for(i=0;i<qualification_wise.length;i++)
  {
    qualification_total=qualification_total+qualification_wise[i].qualification_stats;
    if (qualification_wise[i].qualification=="")
    {
      qualification_wise[i].qualification="Not Mentioned"
    }
qualification_str=qualification_str+"<tr><td>"+qualification_wise[i].qualification+"</td><td>"+qualification_wise[i].qualification_stats+"</td><td>"+qualification_wise[i].percentage+"%</td></tr>";
  }
  qualification_str=qualification_str+"<tr><td><b>Total</b></td><td>"+qualification_total+"</td><td></td></tr>";

  $("#qualificationtablebody").html(qualification_str);
  var assembly_str='';
  var assembly_total=0;
  for(i=0;i<assembly_wise.length;i++)
  {
    assembly_total=assembly_total+assembly_wise[i].assembly_stats;
assembly_str=assembly_str+"<tr><td>"+assembly_wise[i].assembly+"</td><td>"+assembly_wise[i].assembly_stats+"</td><td>"+assembly_wise[i].percentage+"%</td></tr>";
  }
assembly_str=assembly_str+"<tr><td><b>Total</b></td><td>"+assembly_total+"</td><td></td></tr>";
  $("#assemblytablebody").html(assembly_str);

  var age_str='';
  var age_total=0;
  for (var key in age_wise) {
    age_total=age_total+age_wise[key];
       age_str=age_str+"<tr><td>"+key+"</td><td>"+age_wise[key]+"</td><td>"+parseFloat(age_wise_percentage[key]).toFixed(2)+"%</td></tr>";
     }
    age_str=age_str+"<tr><td><b>Total</b></td><td>"+age_total+"</td><td></td></tr>";


  
 

  $("#agewisetablebody").html(age_str);

$(".loader").css("display","None");
                $('#classModal').modal('show')
}

var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$("#print_report").click(function() {
  
        var divToPrint = document.getElementById('classTable');
        
        var htmlToPrint = '' +'<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />';
        //  var htmlToPrint = '' +
        // '<style type="text/css" media="print">' +
        // 'table th, table td {' +
        // 'border:1px solid #000;' +
        // 'padding:0.5em;' +
        // 'text-align:center'+
        // '}' +
        // '</style>';
         htmlToPrint += divToPrint.outerHTML;
    newWin = window.open("");
    newWin.document.write(htmlToPrint);
        newWin.print();
        newWin.close();
   
    })

});



var tableToExcel = (function() {
  var uri = 'data:application/vnd.ms-excel;base64,'
    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
  return function(table, name) {
    if (!table.nodeType) table = document.getElementById(table)
    var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
    window.location.href = uri + base64(format(template, ctx))
  }
})()
    </script>
</script>
{% endblock %}