{% extends "admin_layout.html" %}
{% block body %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.0/dist/bootstrap-float-label.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!--  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
    <script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>
    <style>

 

img{
  max-width:200px;
  max-height:200px;
}


#add{
  font-family: Ramabhadra,sans-serif;
    font-size: 27px;
    font-weight: 500 !important;
    color:#d81615;
}
      label{
       font-family: Ramabhadra,sans-serif;
    font-size: 20px;
    font-weight: 500 !important;
    padding-right: 20px;
      }
        @media (max-width: 415px){
          
           
             .row_container{
      width: 100%!important;
    }
    .xs-hidden{
      display:none!important;
    }
    .playstore{
      display:none!important;
    }
    .googleplay{
      display:none!important;
    }
    .login_image{
     display:none;
   }
   .login_form{
    width: 100%;
   }
   
  
 
 
   .form_container
   {
    max-width: 90%;
    margin: 15px auto;
    background: #fff;
    border-radius: 0;
    border: 1px solid #d92027;
    padding: 10px 10px 10px 10px;
   }
  
   .form-control{
       width:100% !important;
       border-radius: 1px;   
        border-color: cadetblue;
   }
  
  
  }

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
 
   .row_container{
     width:100%!important
   }
}
.form-control
{
    width:85%;  
    border-radius: 1px; 
       border-color: cadetblue;
}

  @media only screen and (min-width :768px) {

   .form_container
   {
    max-width: 70%;
    margin: 15px auto;
    background: #fff;
    border-radius: 0;
    border: 1px solid #d92027;
    padding: 10px 10px 10px 10px;
   }
 
  }
  @media only screen and (min-width :1024px){
    
  }
  @media (min-width:1281px){
 
  }
    .loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
        

        .fa {
            padding: 3px !important;
            font-size: 22px !important;
            width: 30px !important;
            text-align: center !important;
            text-decoration: none !important;
            margin: 3px !important;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-home {
            background: #bb0000;
            color: white;
        }

      

        .loader {
            position: fixed;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            margin: 0 auto;
            z-index: 100;
            display: none;
        }

        .spinner {
            margin: 0 auto;
            width: 100px;
            margin-top: 10%;
            height: 100px;
        }

        .submit {
            background: #d61f26;
            border: 0;
            padding: 8px 30px;
            color: #fff;
            margin: 10px 5px 0;
          /* font-family: Ramabhadra,sans-serif; */
            font-size: 18px;
            letter-spacing: .5px;
            position: relative;
            /*margin-left: 24px;*/
        }

      

      

        .social-media {
            text-align: center;
            margin-top: 25px;
        }

    








    </style>

</head>

<body id="img1">
    <div class="loader">
        <div class="spinner">
            <svg width='48px' height='48px' xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100"
                preserveAspectRatio="xMidYMid" class="uil-hourglass">
                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                <g>
                    <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z"
                        class="glass"></path>
                    <clipPath id="uil-hourglass-clip1">
                        <rect x="15" y="20" width="70" height="25" class="clip">
                            <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0"
                                keyTimes="0;0.5;1"></animate>
                            <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45"
                                keyTimes="0;0.5;1"></animate>
                        </rect>
                    </clipPath>
                    <clipPath id="uil-hourglass-clip2">
                        <rect x="15" y="55" width="70" height="25" class="clip">
                            <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25"
                                keyTimes="0;0.5;1"></animate>
                            <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55"
                                keyTimes="0;0.5;1"></animate>
                        </rect>
                    </clipPath>
                    <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)"
                        fill="#ffab00" class="sand"></path>
                    <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)"
                        fill="#ffab00" class="sand"></path>
                    <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite"
                        dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                </g>
            </svg>
        </div>
    </div>
    <div class="wrapper" style="height:60px;width:100%;position:fixed;top:0;
    z-index:1000;box-shadow: 0 3px 5px #607D8B;background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                    <img src="static/img/sena2.png" style="width:48px;margin: 6px 6px 6px 6px;margin-top:6px">
                </div>
                <div class=" car xs-hidden col-xs-4 col-sm-2 col-md-4 col-lg-5">
                    <h3>Janasena</h3>
                </div>


                <div class="social-icons col-xs-9 col-sm-8 col-md-6 col-lg-6" style="text-align:right;
            margin-top: 18px;">
                    <a href="https://janasenaparty.org/">
                        <i class="fa fa-home"></i>
                    </a>
                    <a href="https://www.facebook.com/janasenaparty/" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/Janasenaparty/" target="_blank" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/Janasenaparty?lang=en" target="_blank" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/Janasenaparty" target="_blank" class="fa fa-youtube"></a>
                  
                </div>

            </div>
        </div>
    </div>

    <div class="container row_container" id="form_container" style="width:80%">
        <h3 style="text-align: center;    color: #d81615;
                margin-top: 95px;">Mana Nudi Mana Nadi</h3>


        <div style="margin-top: 40px">

            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <label>India</label>
                    <div class="login_field">
                        <input class="form-control" type="text" id="india" name="india">
                    </div>
                </div>
               <!--  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <label>Overseas</label>
                    <div class="login_field">
                        <input class="form-control" type="text" id="overseas" name="overseas">
                    </div>
                </div> -->
                <div class="col-4" style="margin-top: 12px">
                    <button type="submit" class="submit" id="submit_login">SUBMIT</button>
                </div>

            </div>











        </div>
        <script>

$(document).ready(function(){

           var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

            function isEmpty(val) {
                return (val === undefined || val == null || val.length <= 0) ? true : false;
            }

            function validate() {
                $("p").html('');


                var india = $('#india').val();   



                $("p").remove(".validation");

                if (isEmpty(india)) {

                    $("#india").after("<p class='validation' style='color:red;'>This Field is Required</p>");
                    $("#india").focus();

                    return false;
                }



                return true;
            }




            //     $("input[type='file']").on("change", function () {
            //  if(this.files[0].size > 2000000) {
            //    alert("Please upload file less than 2MB. Thanks!!");
            //    $(this).val('');
            //  }
            // });



            $('#submit_login').click(function () {
                if (!validate()) {

                    $(".loader").css("display", "None");
                    return false;
                }
                $('.loader').css('display', 'block')
                var india = $('#india').val();
                

              


  $.ajax({
           url: "/test_data_mnmn?india="+india,
                   
                    type: 'POST',
                   
                    crossDomain: true,
                    contentType: "false",
                    datatype:'json',
           success: function (response) {
            console.log(response)
            response = JSON.parse(response)
            
               if (response.status == "1") {
                $(".loader").css("display","None");
                console.log(response)
              swal("Success","Details saved","success")
               
            location.reload()
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                     
                    return false;
                   
               }
           },
           error:function(response)
           {
          
            $(".loader").css("display","None");
            swal("Error", "Something wrong. please check your internet ", 'error');
             return false;
           }
           
       });


            })


})
        </script>

{% endblock %}
