
{% extends "admin_layout.html" %}
{% block body %}
<style>.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }</style>
<div>
  
  <div class="datagrid" width="80%" style="margin:20px;border:none !important">
    <h3 style="text-align:center">Payment Gateways</h3>
    <br>
    <table width='' border='1' id="content" style="padding:10px;">
      <thead>
        <tr>
          <th>SI.No:</th>
          <th>Gateway Name </th>
          <th>Status </th>
          
          
        </tr>
      </thead>
      <tbody id="gatewaystable">
 {% for gateway in data %}
        <tr>
          <td class="gateway_class">{{gateway.seq_id}}</td>
          <td>{{gateway.name}}</td>
<td>{{gateway.status}}</td>


        </tr>
    {% endfor %}

      </tbody>
    </table>
    <br>
<a href="#" id="change_gateway" style="font-size:20px;text-align:center">Change Gateway</a>


  </div>
  <div  class="modal fade" role="dialog" id="gatewaysmodal">
  <div class="modal-dialog">
<div class="modal-content " >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Gateway</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-3" style="float:left">
     <label for="gateways: " style="float:right;margin-top:9px;"> Choose Gateway  :</label>
     </div>
            <div class="col-md-6">
       <select class="form-control" id="gateways">
        <option value="">Select  Payment Gateway</option>
      {% for gateway in data %}

     
       <option value="{{gateway.seq_id}}">{{gateway.name}}</option>
       
{% endfor %}
  
</select>
    </div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-success" id="gate_way_change" >Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  </div>


<script>
 var csrftoken = $('meta[name=csrf-token]').attr('content')
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
$("#change_gateway").click(function()
{
  $('#gatewaysmodal').modal('show');
});
$("#gate_way_change").click(function()
{
  var selected_val=$("#gateways").val();
  console.log(selected_val)
  $.ajax({
           type: "POST",
           url: "/changepaymentgateway?id="+selected_val,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                $('#gatewaysmodal').modal('hide');
                alert("changed successfully");

                 } 
               else
               {
 
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });

});

 
</script>


 {% endblock %}

  
		 
		  







 

  