{% extends "admin_layout.html" %}
{% block body %}
<style>.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>


<div class="row " style="margin:20px">


   
        <div class="row">
            <h2 style="text-align:center;color:cornflowerblue">Gram Panchayats Information</h2>
            <div class=" row dis">
                <div class="col-md-2 col-lg-2 col-sm-12">
                </div>
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="form-group">
                    <label for="district"> Select District</label>
                    <select name="district" id="district" class="form-control" required="">
                        <option value="" selected="">Select District</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="form-group">
                    <label for="mandals">Mandal</label>
                    <select name="mandals" id="mandal" class="form-control" required="">
                        <option value="" selected="">Select Mandal</option>
                    </select>
                </div>
            </div>
        
            <div class="col-md-3 col-lg-3 col-sm-12">
            <button type="submit" class="btn btn-primary" id="search" style="margin-top:23px">search</button>
        </div>
    </div>

            <div class="row userdetails">
                <br>
                <br>

                <div class="row datagrid" id="table_div" style="display:none;margin: 20px;
    overflow-x: scroll;">
                    <table id="operations_table" class="table table-striped table-bordered ">
                        <thead>
                            <tr>
                                <th>S.NO</th>
                              
                                <th>Mandal</th>
                                <th>Panchayat </th>
                                <th>General</th>
                                <th>Minority </th>
                                <th>BC</th>
                                <th>OBC </th>
                                <th>SC</th>
                                <th>ST</th>
                                <th> Headed BY Women</th>
                                <th>Total Members</th>
                                <th>View Wards</th>
                            </tr>
                        </thead>

                        <tbody id="operations_body">

                        </tbody>
                    </table>
                </div>
            </div>
                <button type="submit" class="btn btn-primary" id="back"  style="text-align:right;display:none">Back</button>
            </div>

       
        <div class="gram row">
            <div class="row userdetails1">
                <br>
                <br>

                <div class="row datagrid" id="table_div1" style="display:none;margin: 20px;
    overflow-x: scroll;">
                    <table id="operations_table1" class="table table-striped table-bordered ">
                        <thead>
                            <tr>
                                
                                <th>Name</th>
                                <th>Age</th>
                                <th>Caste Category </th>
                                <th>Gender</th>
                                <th>Qualification </th>
                                <th>Occupation</th>
                                <th>Ward Name </th>
                                <th>Reservation</th>

                            </tr>
                        </thead>

                        <tbody id="operations_body1">

                        </tbody>
                    </table>
                </div>

            </div>
       
    </div>

 </div>





<script>
 
    var myTable;
    var myTable1;

     myTable1 = $('#operations_table1').DataTable({

data: [],

columns: [
 
    { data: "name" },
    { data: "age" },
    { data: "caste" },
    { data: "gender" },
    { data: "qualification" },
    { data: "occupation" },
    { data: "ward" },
    { data: "reservation" },
  
],

});

    
    myTable = $('#operations_table').DataTable({

        data: [],

        columns: [
            { data: "seq_id" },
          
            { data: "mandal" },
            { data: "panchayat" },
            { data: "general" },
            { data: "minority" },
            { data: "backward" },
            { data: "obc" },
            { data: "sc" },
            { data: "st" },
            { data: "headed_women" },
            { data: "elected_members" },

            {
                data: null,
                defaultContent: '<a class="btn btn-info btn-sm  editor_edit" href=#/ > Wards </a>'
            }

        ],

    });
var data;

    var districts;
    $(document).ready(function () {
        $('#operations_table').on('click', 'a.editor_edit', function (e) {
            e.preventDefault();
           
            var currentRow = $(this).closest("tr");

            $('tr').removeClass('active');
            // removes all highlights from tr's

            $(currentRow).addClass('active');

            var seq_id = currentRow.find("td:eq(0)").text();
          
          

            $.ajax({
                type: 'GET',
                url: "/grampanchayat_wards?id=" + seq_id,

                processData: false,
                contentType: false,
                success: (function (response) {

                    var responsedata = JSON.parse(response);
                    console.log(responsedata)
                    $(".loader").css("display", "none")
                    $("#table_div1").css('display', 'block')
                    $('#table_div').css('display', 'none')
                    $('#back').css('display','block')
                    $('.dis').css('display','none');
                            $('#search').css('display','none')
                   
                            myTable1.clear().draw()
                            myTable1.rows.add(responsedata['data']).draw()
                }),
                error: (function (response) {
                    $("#table_div1").css('display', 'none')
                    $(".loader").css("display", "none")
                    

                })
            });

        })

        $.getJSON('/static/json/district.json', function (data) {
            districts = data;
            
            $('#district')
                .find('option')
                .remove()
                .end()
                .append('<option value="" selected>Select District</option>')
                .val('');
            $.each(districts, function (i, val) {
                
                $('#district').append($('<option>', {
                    text: i
                }));
            });


        })

        $("#district").change(function () {
            var district = $("#district").val();

            if (!district) {
                return false;
            };
            $.each(districts, function (i, val) {

                if (district == i) {

                    $('#mandal')
                        .find('option')
                        .remove()
                        .end()
                        .append('<option value="" selected>Select Mandal</option>')
                        .val('');
                    $.each(districts[i], function (ai, al) {

                        $('#mandal').append($('<option>', {

                            text: al.mandal

                        }));
                    });
                }

            });


        });
        $("#search").click(function (e) {
            $.getJSON('/static/json/panchayats.json', function (data) {


                var district = $("#district").val();
                var mandal = $("#mandal").val();
                if (data[district]) {

                    $.each(data[district], function (i, mdata) {

                        if (mdata[mandal]) {
                            $("#table_div").css('display','block')
                            
                            $('.dis').css('display','block');
                            $('#search').css('display','block')
                           

                            myTable.clear().draw()
                            myTable.rows.add(mdata[mandal][0]).draw()
                         
                        }
                        else{
                            $(".loader").css("display", "none")
                    
                        }

                    })
                }


            })
        })

$('#back').click(function(){
    $('.dis').css('display','block');
    $('#table_div').css('display','block');
    $('#back').css('display','none');
    $('#table_div1').css('display','none');
    $('#search').css('display','block')
  
    
})



})

</script>

{% endblock %}
