{% extends "admin_layout.html" %}
{% block head %}


 
 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />

 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />

<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <!-- date picker plugins -->

 <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
<!-- date picker plugins -->
<style>
.modal-backdrop.in {
   
    opacity: 0 !important;
}
</style>
{% endblock %}
{% block body %}

<div  class="modal fade" role="dialog" id="suggestionmodal">
  <div class="modal-dialog">
<div class="modal-content " >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Suggestion</h4>
        </div>
        <div class="modal-body">
            <p id="suggestiontext"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

 <div class='row'>
  
 <div class="col-md-1">
     <label for="Policy: " align="right" style="margin-top: 9px !important;
    float: right !important;">Policy:</label>

  </div>
   
    <div class="col-md-4">
      
                      <select name="policy" class="form-control browser-default " style="border:1px " id="policy" required>
                           <option value="" selected class="selectone" >Select Policy</option>
                        
                        <option value="Land Acquisition"  class="landacquisition"  >Land Acquisition</option>
                        <option value="Mining - Issues"  class="minningissues">Mining &amp; related issues</option>
                        <option value="Agriculture"  class="agriculture">Agriculture</option>
                        <option value="Startups and Innovation" class="StartupsandInnovation">Startups and Innovation</option>
                        <option value="Science and Technology " class="ScienceandTechnology">Science and Technology </option>
                        <option value="Fitness and Martial Arts" class="FitnessandMartialArts">Fitness and Martial Arts</option>
                        <option value="Caste based occupations and related issues " class="Castebasedoccupationsandrelatedissues">Caste based occupations &amp; related issues </option>
                        <option value="Naxalism" class="Naxalism">Naxalism</option>
                        
                        <option value="Health Care" class="HealthCare">Health Care</option>
                        <option value="Senior Citizens and pensioners issues" class="SeniorCitizensandpensionersissues">Senior Citizens and pensioners issues</option>
                        
                        <option value="Self Employment and Vocational training " class="SelfEmploymentandVocationaltraining">Self Employment and Vocational training </option>
                        <option value="Civil Rights and Liberties" class="CivilRightsandLiberties">Civil Rights and Liberties</option>
                        <option value="Horticulture" class="Horticulture">Horticulture</option>
                        <option value="Sports and Infrastructure" class="SportsandInfrastructure">Sports and Infrastructure</option>
                        <option value="Agriculture Credit and Rural Banking" class="AgricultureCreditandRuralBanking">Agriculture Credit and Rural Banking</option>
                        <option value="Urban Planning and Rural development" class="UrbanPlanningandRuraldevelopmen">Urban Planning and Rural development</option>
                        <option value="Poultry, Dairy and Animal husbandry " class="PoultryDairyandAnimalhusbandry">Poultry, Dairy and Animal husbandry </option>
                        <option value="Social welfare and related issues" class="Socialwelfareandrelatedissues">Social welfare and related issues</option>
                        <option value="Tribal welfare and issues" class="Tribalwelfareandissues">Tribal welfare and issues</option>
                        <option value="Liquor and Excise policy " class="LiquorandExcisepolicy">Liquor and Excise policy </option>
                        <option value="Culture and Arts" class="CultureandArts">Culture and Arts</option>
                        <option value="Public Transportation and Safety " class="PublicTransportationandSafety">Public Transportation and Safety </option>
                        <option  value="Corruption" class="Corruption">Corruption</option>
                        <option  value="Demographic Dividend and Employment opportunities" class="DemographicDividendandEmploymentopportunities">Demographic Dividend and Employment opportunities</option>
                        <option  value="Law and Order" class="LawandOrder">Law and Order</option>
                        <option  value="Tourism" class="Tourism">Tourism</option>
                        <option  value="Industrialization" class="Industrialization">Industrialization</option>
                        <option  value="Woman Safety and Empowerment" class="WomanSafetyandEmpowerment">Woman Safety and Empowerment</option>
                        <option  value="Irrigation" class="Irrigation">Irrigation</option>
                        <option  value="Education" class="Education">Education</option>

                      </select>
    </div>
    
    
    <div class="col-md-2 col-lg-2">
      <button type="button" class="btn btn-success" id="filter">Filter</button>
    </div>
  
   
  </div>
   <div class="row datagrid" style="margin: 20px 20px 20px 20px;">
    <table id="operations_table" class="display " cellspacing="0" width="100%" >
      <thead>
        <tr>
         
         
          <th>User  Name </th>
          
          <th>User Email </th>
          <th>User mobile </th>
          
          <th>Policy </th>
          <th>Suggestion </th>
           <th>Attachment </th>
          
             <th>issue/suggestion </th>
              <th>Attachment url </th>
        </tr>
      </thead>
      <tbody id="content">


      </tbody>
    </table>
  </div>

<script>
var myTable;
  $(document).ready(function()
    {
var query="";
myTable = $('#operations_table').DataTable( {
  //  rowCallback: function(row, data, index){
   
  //   if(data.further_process=='yes'){
  //      $(row).css('color', 'white ');
  //     $(row).css('background-color', '#8bc34a');
     
  //   }
   
  // },
                  data:[],
                  
                  
      





                  columns: 
       [
       {data: 'Name'},
      
     {data: "email"},
      
       
        {data: "Phone"},
        {data: "Policy"},
         {
            "data": "Suggestion",
          "render": function(d,t,r){
            return "<button class='suggestion btn-info' value='"+r['Suggestion']+"'>open</button>"
          }
        },

        

        {
    "data": "Attachment",
    "render": function(data, type, row) {
      if(data!='NA')
      {
         return "<a href="+data+" download>Download</a>";
      }
      else
      {
        return '<span>NA</span>';
      }
        
    }
     },
      {data: "Suggestion",
        "visible": false},
        {data: "Attachment",
        "visible": false},
           
    
    
  
   ], 

                  dom: 'Bfrtip',buttons: [{
           extend: 'excel',
          
           exportOptions: {
                columns: [0,1,2,3,6,7]
            }
       } ],
                "lengthMenu": [ [10, 25, 50, "All"]]} );


function isEmpty(value) {
  return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
}

$("#filter").click(function()
{
  $(".loader").css("display","block");
  $("#next_slab").css('display','None')
var policy=$("#policy").val();


if (!isEmpty(policy) )
{
query="Policy eq '"+policy+"'";
}


else
{
  alert("please select any one policy");
  return false;
}



query_data={query:query}
$.ajax({
           type: "GET",
           url: "/getFilteredData",
           dataType: "json",
           data:query_data,
           ContentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                data=response.data.children.rows;
                 myTable.clear().draw()
                 myTable.rows.add( data ).draw()
                  
                  $("#table_div").css("display","block");
               
              
              
                $(".loader").css("display","None");
                

               } 
               else
               {
 
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
           
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
})


  $('#operations_table tbody').on('click', '.suggestion', function() {

 
     $("#suggestiontext").html("");
     var suggestion=$(this).val();

    $("#suggestiontext").html(suggestion);

     $('#suggestionmodal').modal('show');
   });
})

</script>
  {% endblock %}