 <!DOCTYPE html>
<html>
<head>

    <title>JANASENA Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
 <!-- <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!--  // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>
    
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

 <script src="/static/assets/js/cookies.js"></script>
    <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
    <script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>



    <script src="/static/jquery.simplePagination.js"></script>
    <link href="/static/simplePagination.css" type="text/css" rel="stylesheet"/>

<script type="text/javascript" src="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet"  href="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" />

 <link rel="stylesheet" type="text/css" href="https://rawgit.com/flatlogic/awesome-bootstrap-checkbox/master/awesome-bootstrap-checkbox.css">

 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" />

 <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Ramabhadra&amp;subset=telugu" rel="stylesheet">


<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 
<style>
.multiselect-container div.checkbox {
  margin: 0;
}

  @media print {
          body * {
            visibility: hidden;
          }

          #printable_div * {
            visibility: visible;
            overflow: visible;
            
          }
        .print_div:last-child {
     page-break-after: auto;}
          #mainPage * {
            display: none;
          }
          .modal {
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            padding: 0;
            min-height: 550px;
            visibility: visible;
            /**Remove scrollbar for printing.**/
            overflow: visible !important;
            border:none;
          }
          .modal-dialog {
            visibility: visible !important;
            /**Remove scrollbar for printing.**/
            overflow: visible !important;
          }
          .modal-footer{
            display:None;
          }
        #photo_url{
          position: absolute;
          margin-left: 450px;
          margin-top: -150px


        }
        #head{
          color:#d81615!important;
        }

}
@media (min-width: 768px) {
      .modal-xl {
        width: 80%;
       max-width:1200px;
      }
    }

body{
   font-family: Ramabhadra,sans-serif;
}
.multiselect-container label {
  margin: 0;
  white-space: nowrap;
}

.multiselect-container div.checkbox {
  padding: 5px 15px 5px 35px;
}
.loader
{
  z-index:1051 !important;
}

.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
#operations_table th:nth-child(6)
{
  width:120px !important;
} 
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
.role_btn
{
  margin-left:30px !important;
}
.photo_zoomimg {
 border: none;
 margin: 0 auto;
}
.table_header
{
  margin-bottom:20px !important;
}
.photo_zoomimg:hover {
 -webkit-transform: scale(3.0);
 -moz-transform: scale(3.0);
 -o-transform: scale(3.0);
 transform: scale(3.0);
 transition: all 0.3s;
 -webkit-transition: all 0.3s;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
   /* height: 500px;*/
    overflow-y: auto;
        margin: 20px;
    padding: 20px;
   
}
.modal-body span
{
 font-size: 14px !important;
    font-weight: 550 !important;
}
.heading p{
  font-size: 18px;
    font-weight: 600;
}
.sub_heading
{
 font-size: 16px;
    font-weight: 600;
  }

.modal-body span
{
 font-size: 16px !important;
    font-weight: 550 !important;
}


</style>
</head>
<body>
  <div class="loader">
                <div class="spinner">
                    <svg width='48px' height='48px' xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100"
                         preserveAspectRatio="xMidYMid" class="uil-hourglass">
                        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                        <g>
                            <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10"
                                  d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z"
                                  class="glass"></path>
                            <clipPath id="uil-hourglass-clip1">
                                <rect x="15" y="20" width="70" height="25" class="clip">
                                    <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite"
                                             vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                                    <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite"
                                             vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                                </rect>
                            </clipPath>
                            <clipPath id="uil-hourglass-clip2">
                                <rect x="15" y="55" width="70" height="25" class="clip">
                                    <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite"
                                             vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                                    <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite"
                                             vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                                </rect>
                            </clipPath>
                            <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z"
                                  clip-path="url(#uil-hourglass-clip1)" fill="#ffab00" class="sand"></path>
                            <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z"
                                  clip-path="url(#uil-hourglass-clip2)" fill="#ffab00" class="sand"></path>
                            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50"
                                              repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50"
                                              keyTimes="0;0.7;1"></animateTransform>
                        </g>
                    </svg>
                </div>
            </div>
<div class="container well ">
<div class="row">
<!-- target modal --> 
<div id="printable_div"  class="row ">
<div class="modal fade printable  " id="details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl" >
    <div class="modal-content">
     

      <div class="modal-body" id="target_body" >
        <div >
           <h1 id="head" style="text-align: center; color: #d81615;
                ">జనసేన అభ్యర్ధిత్వానికి బయోడేటా ఫారం</h1>
         <div class="form-group row" >
           <div class="col-md-12 col-lg-12 col-sm-12">
          <p class="sub_heading">పోటీ చేయదలచినది : <span id="aspirant_locations" ></span></p>
           </div>
           
         </div>
        <div class="row heading">
            <p >వ్యక్తిగత వివరాలు :</p>
           </div>
          <div class="form-group row" >
            <div class="col-md-6 col-lg-6 col-sm-12" >
           <p class="sub_heading">పూర్తి పేరు: <span id="name"></span></p>
            <p class="sub_heading">తండ్రి / భర్త పేరు: <span id="relation_name"></span></p>
           <p class="sub_heading">పుట్టిన తేదీ: <span id="dob"></span></p>
           <p class="sub_heading">పుట్టిన ప్రాంతం:   <span id="birth_place"></span></p>
          
          </div>

          <div class="col-md-6 col-lg-6 col-sm-12" >
            <img  id="photo_url" width="150" height="150">
            </div>
          </div>
          <div class="row heading">
            <p>విద్యార్హత :</p>
           </div>
          <div class="form-group row" style="border:1px solid black;padding: 10px;">
             <p class="sub_heading">పదవ తరగతి చదివిన స్కూలు మరియు ప్రాంతము: <span id="school_and_place"></span></p>
             <p class="sub_heading">మీ అధిక విద్యార్హత: <span id="highest_qualification"></span></p>
             <p class="sub_heading">వృత్తి: <span id="occupation"></span></p>

           </div> 
           <div class="row heading">
            <p>చిరునామా :</p>
           </div>
            <div class="form-group row" style="border:1px solid black;padding: 10px;">
               <p class="sub_heading">ప్రస్తుత చిరునామా : <span id="present_address"></span></p>
                <p class="sub_heading">శాశ్వత చిరునామా : <span id="permanent_address"></span></p>
                 <div class="form-group row" >
            <div class="col-md-6 col-lg-6 col-sm-12">
          
           <p class="sub_heading">మొబైల్ నెంబర్ : <span id="phone"></span></p>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <p class="sub_heading">ఇమెయిల్ ఐడి: <span id="email"></span></p>
            </div>
          </div>
            </div>
             <div class="row heading">
            <p class="sub_heading">జనసేన పార్టీతో మీకు గల అనుబంధం :</p>
           </div>
              <div class="form-group row" style="border:1px solid black;min-height:100px ;padding:10px;min-height:150px">
               <p class="sub_heading">జనసేన ఐడి నెంబర్: <span id="membership_id"></span></p>
                <p class="sub_heading">పార్టీ కోసం ఏ ప్రాంతంలో అయినా పనిచేస్తున్నారా : <br> 
వివరములు : <br> <span id="relation_with_janasena"></span></p>
                
            </div>
             <div class="row heading">
            <p class="sub_heading">మీ నియోజకవర్గంలో ప్రాధాన్యత క్రమంలో ప్రజా సమస్యల వివరాలు ...?</p>
           </div>
            <div class="form-group row" >
               <div style="border:1px solid black;padding: 10px;min-height:80px;"><span id="issues_in_assembly" ></span></div>
                
                
            </div>
             <div class="row heading">
            <p class="sub_heading">పూర్వ రాజకీయ అనుభవం :</p>
           </div>
            <div class="form-group row" style="border:1px solid black;padding: 10px;">
               <p class="sub_heading">పార్టీ  : <span id="prev_exp_party"></span></p>
                <p class="sub_heading">చేపట్టిన పదవి : <span id="role"></span></p>
                 <p class="sub_heading">పదవీకాలం: <span id="duration"></span></p>
                 <p class="sub_heading">ఇతర పార్టీ నాయకులతో గల సన్నిహిత సంబంధాలు , బంధుత్వం : <span id="relation_with_other_party_leaders"></span></p>
                
            </div>
             <div class="row heading">
            <p class="sub_heading">ప్రజా జీవితంలో మీరు సాధించిన విజయాలు ...?</p>
           </div>
            <div class="form-group row" >
              <div style="border:1px solid black;padding:10px;min-height:80px;"><span id="achievements"></span></div>
               
                
            </div>
             <div class="row heading">
            <p class="sub_heading">ఎలక్షన్ కమిషన్ నిబంధనలకు వ్యతిరేకంగా ఉండే కేసులు ఏమైనా ఉన్నాయా ....? ఉంటే పేర్కొనండి . (వివరాలు గోప్యంగా ఉంచబడును):</p>
           </div>
             <div class="form-group row" >
               <div style="border:1px solid black;padding: 10px;min-height:80px;"><span id="criminal_cases" ></span></div>
               
                
            </div>
             <div class="row heading">
            <p class="sub_heading">Comments :</p>
           </div>
             <div class="form-group row heading" >
               <div style="border:1px solid black;padding: 10px;min-height:80px;"><span id="remarks"></span></div>
               
                
            </div>
            
         
          </div>
      </div>
      <div class="modal-footer">
       <button id="btnPrint" type="button" class="btn btn-default">Print</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

       
      </div>
    </div>
  </div>
</div>
</div>

	
	




    <div class="row" style="margin-top: -31px !important;">
        <h1 style="text-align:center; color:#d81615">Aspirants Biodata Forms</h1>
    </div>
    <br>

<div class="row">
                <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
                  <label> Parliament</label>
                  <div class="login_field">
                      <select name="parliament" id="parliament" class="form-control" required=""
                              style="   border-radius: 1px;    border-color: cadetblue;">
                          <option value="" selected="">Select Parliament</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
                <label> Assembly</label>
                <div class="login_field">
                    <select name="assembly" id="assembly" class="form-control" required=""
                            style="   border-radius: 1px;    border-color: cadetblue;">
                        <option value="" selected="">Select Assembly</option>
                    </select>
                </div>
                </div>
                <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
               <label>Application Status</label><br>
                        <select name="further_process" id="further_process" class="form-control" required=""
                                                        style="   border-radius: 1px;    border-color: cadetblue;">
                                                    <option value="" selected="">Select Status</option>
                                                      <option value="further process" >further process</option>
                                                      <option value="may be further process" >may be further process</option>
                                                      <option value="no" >no further process</option>
                                                </select>
                
                      </div>
                  <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
                     <button type="button"  id="filter" class="btn btn-success" style="width:122px;height:38px;    margin-top: 23px;">Filter</button>
                     </div>

         </div>
<br>
<br>
<div class="row" id="table_div" >


<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
	<table id="operations_table" class="display " cellspacing="0"   >
   
        <thead class="table_header">
            <tr >
          
          <th>SI No</th>
          <th>name </th>
          <th>phone </th>
           <th>Caste </th>
           <th>locations</th>
           <th>Further Process</th>
            <th>photo</th>
           
            
          
          <th>Full Details </th>
           
        </tr>
        </thead>
       
        <tbody id="operations_body">

        </tbody>
    </table>
 
</div>

  </div>
 <script type="text/javascript">

var myTable;
var result;
$(document).ready(function()
{

    var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

 $.getJSON('/static/json/constituency_pc_mand.json', function (data) {
    mandals = data;
    data.forEach(district_data => {
    $('#parliament')
        .append($("<option></option>")
        .attr("value", district_data['parliament_constituency_name'])

        .text(district_data['parliament_constituency_name']));
    });



      var map = {};
    $('#parliament option').each(function () {
            if (map[this.value]) {
              $(this).remove()
            }
            map[this.value] = true;
        });

    });

     $("#parliament").change(function () {
      var district = $("#parliament").val();

      $('#assembly')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Assembly</option>')
        .val('');
      mandals.forEach(assembly_data => {
        if (district == assembly_data['parliament_constituency_name']) {
            $('#assembly')
            .append($("<option></option>")
              .attr("value", assembly_data['constituency_name'])

              .text(assembly_data['constituency_name'].toLowerCase()));



        }





      });


      var map = {};
      $('#assembly option').each(function () {
        if (map[this.value]) {
          $(this).remove()

        }
        map[this.value] = true;
      })

    });


      $("#assembly").change(function () {
      var assembly = $("#assembly").val();
      assembly_name = $('#assembly option:selected').text()

      $('#mandal')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Mandal</option>')
        .val('');
      mandals.forEach(mandal_data1 => {
        if (assembly == mandal_data1['constituency_id']) {

          $('#mandal')
            .append($("<option></option>")
              .attr("value", mandal_data1['id'])
              .text(mandal_data1['mandal_name'].toLowerCase()));
        }

      });



    });

 myTable = $('#operations_table').DataTable( {
  //  rowCallback: function(row, data, index){
   
  //   if(data.further_process=='yes'){
  //      $(row).css('color', 'white ');
  //     $(row).css('background-color', '#8bc34a');
     
  //   }
   
  // },
                  data:[],
                  
                  
      
                  columns: 
       [{data: 'seq_id'},
       {data: 'name'},
      
     {data: "mobile"},
      {data: "caste"},
       
        {data: "locations"},
        {data: "further_process"},
        {
    "data": "photo_url",
    "render": function(data, type, row) {
      if(data!='')
      {
        return '<img src="'+data+'" width=100 height=100  class="photo_zoomimg" />';
      }
      else
      {
        return '<span>No photo</span>';
      }
        
    }
     },
         
     {
            "targets": -1,
            "data": null,
            "defaultContent": "<button class='target btn-info'>View</button>"
        }

    
  
   ],

                  dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]} );





 $.ajax({
           type: "POST",
           url:"/jsp_aspirants_details",
          
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
             $(".loader").css("display","none");
               if (response.status=='1') {
                result=response.data;
               console.log(result)
               
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  
                  $("#table_div").css("display","block");
                
                  
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });







    $("#filter").click(function()
{
var parliament=$("#parliament").val();
var assembly=$("#assembly").val()
var further_process=$("#further_process").val();
var data={};
data['parliament']=parliament;
data['assembly']=assembly;
data['further_process']=further_process;
console.log(data)
$(".loader").css("display","block");
    $.ajax({
           type: "POST",
           url:"/jsp_aspirants_details?parliament="+parliament+"&assembly="+assembly+"&further_process="+further_process,
             data:data,
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
             $(".loader").css("display","none");
               if (response.status=='1') {
                result=response.data;
               console.log(result)
               
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  
                  $("#table_div").css("display","block");
                
                  
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });

})



$("#operations_table tbody").on( 'click', 'button', function () {

 
var currentRow=$(this).closest("tr"); 

    $('tr').removeClass('active');
     var seq_id=currentRow.find("td:eq(0)").text()
    
     
       
    
      $(".loader").css("display","block");
    $.ajax({
           type: "GET",
           url:"/jsp_aspirants_details_by_id?seq_id="+seq_id,
                      
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.status=='1') {
                
var full_details=response.data;
$("span").html("");
      $("#aspirant_type").html(full_details.aspirant_type)
      $("#aspirant_locations").html(full_details.locations)
       $("#name").html(full_details.name)
       $("#relation_name").html(full_details.relation_name)
       $("#dob").html(full_details.dob)
       $("#birth_place").html(full_details.birth_place)
       $("#education").html(full_details.education)
        $("#school_and_place").html(full_details.school_and_place)
        $("#highest_qualification").html(full_details.higher_education)
          $("#occupation").html(full_details.occupation)
          $("#present_address").html(full_details.current_address)
          $("#permanent_address").html(full_details.permenant_address)
          $("#phone").html(full_details.mobile)
          $("#email").html(full_details.email)
          $("#photo_url").attr('src',full_details.photo_url)
          $("#membership_id").html(full_details.membership_id)
          $("#relation_with_janasena").html(full_details.relationship_with_janasena)
          $("#issues_in_assembly").html(full_details.issues_in_assembly)
           $("#prev_exp_party").html(full_details.prev_exp_party)
            $("#role").html(full_details.role)
            $("#duration").html(full_details.duration)
             $("#relation_with_other_party_leaders").html(full_details.relationship_with_other_party_leaders)
             $("#criminal_cases").html(full_details.criminal_cases)
             
$("#achievements").html(full_details.achievements)
$("#remarks").html(full_details.remarks)


              
                  $(".loader").css("display","none");

               $('#details').modal('show');

                  
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });


 
 
  

         // get current row 
        
});

 
 
	 

});

document.getElementById("btnPrint").onclick = function () {
    printElement(jQuery('#printable_div').html());
}

function printElement(data) {
  
   

mywindow= window.open("");
 mywindow.document.write('<html><head><title></title>');
  

    mywindow.document.write('<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />'); 
    mywindow.document.write('<link href="https://nivedika.janasenaparty.org/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />');
    mywindow.document.write('<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css" />');
    mywindow.document.write('<link href="https://fonts.googleapis.com/css?family=Ramabhadra&amp;subset=telugu" rel="stylesheet" type="text/css" />');
    mywindow.document.write('<style type="text/css">body{font-family: Ramabhadra,sans-serif;}.modal-body{height: 500px;overflow-y: auto;margin: 20px;padding: 20px;}.modal-body span{font-size: 14px !important;font-weight: 550 !important;}.heading p{font-size: 18px;font-weight: 600;}.sub_heading{font-size: 16px;font-weight: 600;}.modal-body span{font-size: 16px !important;font-weight: 550 !important;}</style></head><body class="print_div">');


   
   mywindow.document.write(data);
    mywindow.document.write('</body></html>');
   
      
 mywindow.close()
   
     window.print();

 

}

</script>
</body>
</html>