
{% extends "admin_layout.html" %}
{% block body %}

<link href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<!--      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
 -->
<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

     <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>

  <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script> -->


 <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />




<style>
.DTFC_LeftBodyWrapper{
  top:21px!important;
}

.photo_zoomimg {
 border: none;
 margin: 0 auto;
}
.table_header
{
  margin-bottom:20px !important;
}
.photo_zoomimg:hover {
 -webkit-transform: scale(3.0);
 -moz-transform: scale(3.0);
 -o-transform: scale(3.0);
 transform: scale(3.0);
 transition: all 0.3s;
 -webkit-transition: all 0.3s;
}

#operations_table_filter{
float:right!important;
}

.loader
{
  z-index:1051 !important;
}
    .modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
@media (min-width: 1200px){
.container {
  width:1039px
}
}
#receipt_url{
width: 100%;
   
    max-width: 350px;
    height: 100%;
    max-height: 400px;
}
</style>

<body>
    <div class="container-fluid">
        
        <h2 style="text-align:center;color:cornflowerblue">Kriya Member</h2>

        <div class="row" style="margin-top: 22px;">
  <div class="col-md-3 col-lg-3 col-sm-3">
    <label for="state_filter">Date</label>
      <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px 5px 10px; border: 1px solid #ccc;color:#337ab7 ">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
      <span></span> <b class="caret"></b>
      </div>
  </div>
  <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                            <div class="login_field">
                                <label for="state_filter">state</label>
                                <select name="state_filter" id="state_filter" class="form-control" required="">
                                    <option value="" selected="" >Select state</option>
                                    <option value="1" >Andhra Pradesh</option>
                                    <option value="2">Telangana</option>


                                </select>
                            </div>
                        </div>
                         <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                            <div class="login_field">
                                <label for="district_filter"> District</label>
                                <select name="district_filter" id="district_filter" class="form-control" required="">
                                    <option value="" selected="">Select District</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                        <div class="login_field">
                                <label for="assembly_constituency_filter">Assembly</label>
                                <select name="assembly_constituency_filter" id="assembly_constituency_filter" class="form-control"
                                    required="">
                                    <option value="" selected="">Select Constituency</option>
                                </select>
                            </div>
                          </div>

  <div class="col-md-2 col-lg-2 col-sm-2" style="margin-top: 23px";>
  
      
<button type="button" class="btn btn-success " id="filter">Filter</button>

</div>
</div>

<div class="row" id="telangana_reports" style="display:none">
  <div class="col-md-3 col-lg-3 col-sm-3"></div>
<div class="col-md-3 col-lg-2 col-sm-6" style="margin-top:18px;margin-right: 64px">
  <a href="/kriya_reports_assembly_wise_telangana" id="report7" class="btn btn-info" role="button" target="_blank"> Telangana Assembly wise counts</a>
</div>
<div class="col-md-3 col-lg-2 col-sm-6" style="margin-top:18px;margin-right: 50px">
  <a href="/telangana_kriya_reports_assembly_wise_top_five" id="report8" class="btn btn-info" role="button" target="_blank">Telangana Assembly wise top 5</a>
</div>
<div class="col-md-3 col-lg-2 col-sm-6" style="margin-top:18px">
  <a href="/kriya_reports_state_wise_top_five_telangana" id="report9" class="btn btn-info" role="button" target="_blank">Telangana State wise top 5</a>
</div>


</div>

<div class="row" id="ap_first_phase">
  <div class="col-md-3 col-lg-3 col-sm-3"></div>
<div class="col-md-2 col-lg-2 col-sm-6" style="margin-top:18px">
  <a href="/kriya_reports_assembly_wise" id="report1" class="btn btn-info" role="button" target="_blank">Assembly wise counts</a>
</div>
<div class="col-md-2 col-lg-2 col-sm-6" style="margin-top:18px">
  <a href="/kriya_reports_assembly_wise_top_five" id="report2" class="btn btn-info" role="button" target="_blank">Assembly wise top 5</a>
</div>
<div class="col-md-2 col-lg-2 col-sm-6" style="margin-top:18px">
  <a href="/kriya_reports_state_wise_top_five" id="report3" class="btn btn-info" role="button" target="_blank">State wise top 5</a>
</div>


</div>
<div class="row" id="ap_second_phase">
  <div class="col-md-3 col-lg-3 col-sm-3"></div>
   
   <div class="col-md-3 col-lg-3 col-sm-6" style="margin-top:18px">
  <a href="/kriya_reports_assembly_wise_phase_3" id="report4" class="btn btn-danger" role="button" target="_blank">Assembly wise counts 3 Phase</a>
</div>
<div class="col-md-3 col-lg-3 col-sm-3" style="margin-top:18px">
  <a href="/kriya_reports_assembly_wise_top_five_phase_3" id="report5" class="btn btn-danger" role="button" target="_blank">Assembly wise top 5 third Phase</a>
</div>
<div class="col-md-3 col-lg-3 col-sm-3" style="margin-top:18px">
  <a href="/kriya_reports_state_wise_top_five_phase_3" id="report6" class="btn btn-danger" role="button" target="_blank">State wise top 5 third Phase</a>
</div>

  </div>




        <div class="row">
            <div class="md-4">

  <div class="modal fade" id="targetModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="text-align: center">Kriya Member</h4>
        </div>
        <div class="modal-body" style="padding:0px">
           <div class="col-md-12 col-md-offset-2">
                                <div class="userdetails" style="color:black"><br>
                                 
                       
                                  <h5 style="font-weight:300; padding:0; margin:0; line-height:2em;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12" >
                                      <h4>Photo</h4>
                                      <img id="photo_url" width="150" height="150">
                                      </div>
                                      <div class="col-md-6 col-lg-6 col-sm-12" >
                                      <h4>Aadhar Card</h4>
                                      <img id="aadhar_url" width="150" height="150">
                                      </div>
                                    </div>

                                      <tr>
                                        <td class="text-red" width="38%"><label for="aadhar_number" class="aadhar_number udetails">Aadhar Number:</label></td>
                                        <td><span id="aadhar_number"  class="namevoter udetails"  ></span></td>
                                      </tr>
                                      <tr>
                                        <td  class="text-red" width="38%"><label for="address" class="udetails text-red">Address:</label></td>
                                        <td><span id="address"  class="address"   ></span></td>
                                      </tr>
                                      <tr>
                                        <td  class="text-red" width="38%"><label for="member_state" class="udetails text-red">State:</label></td>
                                        <td><span id="member_state"  class="member_state"   ></span></td>
                                      </tr>
                                      <tr>
                                        <td class="text-red"><label for="member_constituency_name" class="udetails text-red">constituency Name:</label></td>
                                        <td class="black-text"><span id="member_constituency_name"  class="udetails"  ></span></td>
                                      </tr>
                                      <tr>
                                        <td class="text-red"><label for="member_district_name" class="udetails text-red">district Name</label></td>
                                        <td class="black-text"><span id="member_district_name"  class="udetails"  ></span></td>
                                      </tr>
                                      <tr>
                                        <td class="text-red"><label for="email" class="udetails text-red">email:</label></td>
                                        <td class="black-text"><span id="email"  class="email"   ></span></td>
                                      </tr>
                                      <tr>
                                        <td class="text-red"><label for="gender" class="udetails text-red">Gender:</label></td>
                                        <td class="black-text"><span id="gender"  class="udetails"   ></span></td>
                                      </tr>
                                      <tr>
                                        <td class="text-red"><label for="mobile" class="udetails text-red">Mobile:</label></td>
                                        <td class="black-text"><p id="mobile"  class="udetails"   ></p></td>
                                      </tr>
                          
                          
                                      <tr>
                                        <td class="text-red"><label for="name" class="udetails text-red">Name:</label></td>
                                        <td class="black-text"><span id="name"  class="udetails"  ></span></td>
                                      </tr>
                                      <tr>
                                        <td class="text-red"><label for="nominee_aadhar_number" class="udetails text-red">Nominee Aadhar number:</label></td>
                                        <td class="black-text"><span id="nominee_aadhar_number"  class="udetails"  ></span></td>
                                      </tr>
                                      <tr>
                                        <td class="text-red"><label for="nominee_name" class="udetails text-red">Nominee Name:</label></td>
                                        <td class="black-text"><span id="nominee_name"  class="udetails"  ></span></td>
                                      </tr>
                                      <tr>
                                        <td class="text-red"><label for="payment_mode" class="udetails text-red">Payment Mode:</label></td>
                                        <td class="black-text"><span id="payment_mode"  class="udetails"  ></span></td>
                                      </tr>
                                      <tr>
                                        <td class="text-red"><label for="payment_id" class="udetails text-red">Payment ID:</label></td>
                                        <td class="black-text"><span id="payment_id"  class="udetails"  ></span></td>
                                      </tr>
                                       <tr>
                                        <td class="text-red"><label for="payment_status" class="udetails text-red">Payment Status:</label></td>
                                        <td class="black-text"><span id="payment_status"  class="udetails"  ></span></td>
                                      </tr>
                                    </table>
                                  </h5>
                         
                        </div>
                     
                      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

      </div>
</div>


            <div class="col m8 s12 userdetails">
                <br>
                <br>

                <div class="row" id="table_div">
                    <table id="operations_table" class="table table-striped table-bordered nowrap" style="width:100%!important;">
                        <thead>
                            <tr style="background-color: #337ab7;
                            color: white;">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Gender</th>
                                <th>State</th>
                                <th>district</th>
                                <th>Assembly</th>
                                <th>Aadhar number</th>
                                <th>Nominee Name</th>
                                <th>Nominee aadhar</th>
                                <th>DOB</th>
                                <th>JSP ID</th>
                                <th>Payment Date</th>
                                <th>Payment Status</th>
                                <th>PaymentID</th>
                                <th>Working mode</th>
                                <th>Payment Verification</th>
                                <th>Volunteer Added </th>
                                <th>Remarks</th>
                                <th>payment Receipt</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                
                              
                                
                            </tr>
                        </thead>

                        <tbody id="operations_body" style="color:black">

                        </tbody>
                    </table>
                </div>
            </div>
            
       


<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true" role="document">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   Update Member Details
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <div class="form-horizontal" role="form">
                    <div class="row">
                        

                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>Nominee Name</label>
                            <div class="login_field">
                              <input  type="hidden" id="member_id" name="memebr_id">
                              <input class="form-control" type="text" id="member_nominee_name" name="member_nominee_name">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>Nominee Aadhar</label>
                            <div class="login_field">
                              <input class="form-control" type="text" id="nominee_aadhar" name="nominee_aadhar"  onkeypress="return isNumeric(event)">
                            </div>
                          </div>
                           <div class="col-md-2 col-lg-2" style="margin-top: 24px;">
                        <button type="button" class="btn btn-success" id="nominee_update_details">Update</button>
                      </div>
                    </div>
                    
                     


                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>Name</label>
                            <div class="login_field">
                              <input class="form-control" type="text" id="member_details_name" name="member_details_name">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>Aadhar</label>
                            <div class="login_field">
                              <input class="form-control" type="text" id="member_details__aadhar" name="member_details__aadhar"  onkeypress="return isNumeric(event)">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>Email</label>
                            <div class="login_field">
                              <input class="form-control" type="text" id="member_details_email" name="memeber_details_email">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>Mobile</label>
                            <div class="login_field">
                              <input class="form-control" type="text" id="member_details__mobile" name="member_details__mobile"  onkeypress="return isNumeric(event)">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <div class="login_field">
                                <label for="state">state</label>
                                <select name="state" id="state" class="form-control selectpicker" required="">
                                    <option value="" selected="">Select state</option>
                                    <option value="1">Andhra Pradesh</option>
                                    <option value="2">Telangana</option>


                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <div class="login_field">
                                <label for="district"> District</label>
                                <select name="district" id="district" class="form-control selectpicker" required="">
                                    <option value="" selected="">Select District</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <div class="login_field">
                                <label for="assembly_constituency">Assembly</label>
                                <select name="assembly_constituency" id="assembly_constituency" class="form-control selectpicker"
                                    required="">
                                    <option value="" selected="">Select Constituency</option>
                                </select>
                            </div>
                        </div>
                        <div  class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <div id="gender_div">
                       <label for="gender"></label><br>
                          <label class="">
                            <input type="radio" name="gender" value="Female" >Female
                          </label>
                          <label class="">
                            <input type="radio" name="gender" value="Male">Male
                          </label></br>
                       </div>   
                    </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                                <label>Address</label>
                                <div class="login_field">
                                  <input class="form-control" type="text" id="member_details_address" name="personal_details_address">
                                </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                                <label>Payment Mode</label>
                                <div class="login_field">
                                  <input class="form-control" type="text" id="member_details_payment_mode" name="personal_details_payment_mode">
                                </div>
                              </div>

                        </div>
                        <div class="row">
                         
                               <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                                <label>Date of Birth</label>
                                 <div id="filterDate2">
          
          <!-- Datepicker as text field -->         
                            <div class="input-group date" data-date-format="dd.mm.yyyy">
                              <input  type="text" class="form-control" id="dob" name="dob" placeholder="yyyy-mm-dd">
                              <div class="input-group-addon" >
                                <span class="glyphicon glyphicon-th"></span>
                              </div>
                            </div>
                            
                          </div>    
                                
                          </div>

                             </div>
                             <div class="row">
                              <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                <h4>Remarks</h4>
                              <textarea name="remarks" id="remarks" rows="10" cols="30"></textarea>
                            </div>
                            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                <label>UPI ID</label>
                                <div class="login_field">
                                  <input class="form-control" type="text" id="upi_id" name="upi_id">
                                </div>
                              </div>
                              <div class="col-md-2 col-lg-2" style="margin-top: 24px;">
                            <button type="button" class="btn btn-success" id="payment_update_details">Update</button>
                          </div>
                             </div>
                             <div class="row">
                              <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                                <div class="col-md-6 col-lg-6 col-sm-12" >
                                      <h4>Aadhar Card</h4>
                                      <img id="aadhar_url_date_of_birth" class="photo_zoomimg" width="150" height="150">
                                      </div>
                              </div>
                        <div class="col-md-2 col-lg-2" style="margin-top: 24px;">
                            <button type="button" class="btn btn-success" id="member_update_details">Update</button>
                          </div>
                        </div>
                        <div class="row">
                           
                        </div>
                        
                 </div>
               </div>
             </div>
           </div>
         </div>
       
         
       

                 <div class="row">
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title" style="text-align: center">Payment Receipt</h4>
                            </div>
                            <div class="modal-body">
                                <img  src=" " id="receipt_url" class="photo_zoomimg" >
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                 </div>
                
           


            
            
            <!-- Modal Footer -->
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
               
            </div> -->
    



</body>





<script>
     function validateMobileNo(mobile) {
            var mobileregex = /^[6-9]{1}[0-9]{9}$/g;


            var length = mobile.length;
            if (length == 10) {
                if (mobileregex.test(mobile)) {
                    return true;
                }
                else {
                    return false;
                }
            }
            else {
                return false;
            }

        }
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength)
        }

function isNumeric(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9\b]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
 
    var myTable;  
    var data;
    var result
var openreceipt;
   

var start_date;
var end_date;


$(function() {

    var start = moment().subtract(1, 'days');
    var end = moment();
    
    function cb(start, end) {
      

        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        start_date=start.format('YYYY-MM-DD');
        end_date=end.format('YYYY-MM-DD');
        

    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 2 Days': [moment().subtract(1, 'days'), moment()],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 15 Days': [moment().subtract(14, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')]
        
        }
    }, cb);

    cb(start, end);
    
});








$(document).ready(function () {

 var districts_filter;
            var assembly_constituencies;
            $.getJSON('static/json/membership/districts.json', function (data) {
                districts_filter = data;

            });
            $.getJSON('static/json/membership/constituencies.json', function (data) {
                assembly_constituencies_filter = data;

            });
           

            $("#state_filter").change(function () {
                var state = $("#state_filter").val();



                var districts_data = districts[state]


                $('#district_filter')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select District</option>')
                    .val('');
                $('#constituency_filter')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select Constituency</option>')
                    .val('');
                $.each(districts_data, function (i, val) {
                    $('#district_filter').append($('<option>', {
                        value: val.id,
                        text: val.district_name
                    }));
                });


            })

            $("#district_filter").change(function () {
                var district = $("#district_filter").val();
                console.log(district)
                if (!district) {
                    return false;
                };
                $.each(assembly_constituencies, function (i, val) {
                    console.log(i)
                    if (district == i) {
                        console.log(district)
                        $('#assembly_constituency_filter')
                            .find('option')
                            .remove()
                            .end()
                            .append('<option value="" selected>Select Constituency</option>')
                            .val('');
                        $.each(val, function (akey, avalue) {

                            $('#assembly_constituency_filter').append($('<option>', {
                                value: avalue.constituency_id,
                                text: avalue.constituency_name
                            }));
                        });
                    }

                });
            });
          








  $('.input-group.date').datepicker({format: "yyyy-mm-dd"}); 




 openreceipt=function(url){
    console.log(url)
    $('#receipt_url').attr('src',url);
    $('#myModal').modal()
  }


 
var districts;
            var assembly_constituencies;
          $.getJSON('static/json/membership/districts.json', function (data) {
                districts = data;

            });
            $.getJSON('static/json/membership/constituencies.json', function (data) {
                assembly_constituencies = data;

            });
         
         

   
    
    $('#state').change(function (e) {

        var state_id = e.target.value;
        var d = districts[state_id];
        $('#district').html('');
        $.each(d, function (i, val) {

            $('#district').append($("<option></option>").attr("value", val.id).text(val.district_name));


        });
       
        
        $('#district').change(function (dis_e) {

            var district_id = dis_e.target.value;
            var local_ac = assembly_constituencies[district_id];

            $('#assembly_constituency').html('');
            $.each(local_ac, function (i1, val1) {
                $('#assembly_constituency').append($("<option data-stateid='" + val1.state_id + "'></option>").attr("value", val1.constituency_id).text(val1.constituency_name));
            });
           
           
        });
    }); 

        function load_data(data)
{
  $(".loader").css("display","block");
    $.ajax({
        
           type: "GET",
           url:"/get_kriya_members",
                     
            dataType:"json",
           contentType:"application/json",
           success: function (response) {
              
               console.log(response)
           
               if (response.status=='success') {
                
                 result=response.response;
               
               
                 myTable.clear().draw()
                 myTable.rows.add(result).draw()
                  
                  $("#table_div").css("display","block");
                
                
                  $(".loader").css("display","none");
                
                  
                  }
                else
                {
        //           $(".loader").css("display","none");
        // swal('Error',response.error,'error')
                }
               },
        error:function(response)
           {
            console.log(response.error)
            $(".loader").css("display","None");
            alert(response.error)
             return false;
           }
           
       });
}
myTable = $('#operations_table').DataTable({

   data: [],
   columns: [
        {data:"id"},
       { data: "name" },
       { data: "mobile" },
       { data: "gender" },
       {
                         "targets": -2,

                    "data": null,
                    "render": function(data, type, row){
                        if(data['state']=='1'){
                          return "Andhrapradesh"
                        }
                       else{
                        return "Telangana"
                       }
                       
                   }

                    },
       
       { data: "district_name" },
       { data: "constituency_name" },
       { data: "aadhar_number" },
       { data: "nominee_name" },
       { data: "nominee_aadhar_number" },
       { data: "dob" },
       {data:"jsp_id"},
       { data: "payment_date" },
        {data:"payment_status"},
        {data:"payment_id"},
        {data:"how_much_time_can_you_spend_for_party_activities"},
        {data:"payment_verified"},
        {data:"added_by"},
        {data:"remarks"},
       {
       "render": function(data, type, row) {
      console.log(data)
      console.log(row)
      if(row['payment_status']=='Success'){
        return '<button class=" btn-info" onclick="openreceipt(\''+row['payment_url']+'\')">Show Receipt</button>';
      }
    
    else{
              return "PayemntPending"
    }
}
       
       },   

       {
                         "targets": -2,

                    "data": null,
                    "render": function(data, type, row){
                        console.log(row)
                       return "<button class='view btn-success'><span class='glyphicon glyphicon-eye-open'></span></button>"
                     
                   }

                    },
                    {
                        "targets": -2,
                data: null,
                
                "render": function(data, type, row){
                        console.log(row)
                       return "<button class='editor btn-warning'> <span class='glyphicon glyphicon-pencil'></span></button>"

                       
                       
                   }
            },
            {
                        "targets": -2,
                data: null,
                
                "render": function(data, type, row){
                        console.log(row)
                       return "<button class='delete btn-danger'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button> "
                       
                   }
            }

   ],
   dom: 'Bfrtip',
    pageLength: 20,
   buttons: [
       'copyHtml5',
       'excelHtml5',
       'csvHtml5',
       'pdfHtml5',

   ],
   "pagingType": "full_numbers",
       "scrollX":        true,
        "scrollCollapse": true,
        "fixedColumns":   {
        "leftColumns": 3,

      }

});
load_data();



          

// View details member
            $('#operations_table').on('click', '.view', function (e) {
        e.preventDefault();
        var value= $(this).closest('tr').find('td')[0].innerHTML
    $(".loader").css("display","block")
      

    $.ajax({
       
       type: "GET",
       url:"https://nivedika.janasenaparty.org/get_kriya_member_details?id=" +value,            
        dataType:"json",
       contentType:"application/json",
       success: function (response) {
          
        var responsedata =response;
              $('.loader').css('display','None');
           if(responsedata.status=='success'){
              
            var data=responsedata.response;
           console.log(data)
            $("#aadhar_number").html(data["aadhar_number"]);
                $("#address").text(data["address"]);
                $("#member_constituency_name").text(data["constituency_name"]);

                $("#member_district_name").text(data["district_name"]);
                $("#gender").text(data["gender"]);
                $("#email").text(data["email"]);
                $("#mobile").text(data["mobile"]);
                $("#name").text(data["name"]);
                $("#nominee_aadhar_number").text(data["nominee_aadhar_number"]);
                $("#nominee_name").text(data["nominee_name"]);
                $("#payment_mode").text(data["payment_mode"]);
                
                $('#payment_status').text(data["payment_status"]);
                $('#photo_url').attr("src",data.photo);
                $('#payment_id').text(data['payment_id'])
                $('#aadhar_url').attr("src",data.aadhar_card)
                if(data["state"]=='1')
                {
                    $("#member_state").text("Andhra Pradesh");
                }
                else
                {
                    $("#member_state").text("Telangana");
                }
 $('#targetModal').modal('show')
           }
        console.log(response)
        


$(".loader").css("display","none")
// swal("success",response.response.message,"success")
$(".loader").css("display","none")
},
error:function(response)
           {
            // console.log(response.error)
            $(".loader").css("display","None");
            swal('Error',"something wrong. please reload page and try again",'error')
             return false;
           }


          })


    });  


    // Edit details 

    $('#operations_table').on('click', '.editor', function (e) {

    e.preventDefault();
        var value= $(this).closest('tr').find('td')[0].innerHTML
    $(".loader").css("display","block")
      id = value;

    $.ajax({
       
       type: "GET",
       url:"https://nivedika.janasenaparty.org/get_kriya_member_details?id=" +value,            
        dataType:"json",
       contentType:"application/json",
       success: function (response) {
        
        var responsedata =response;
              $('.loader').css('display','None');
           if(responsedata.status=='success'){
              
            var data=responsedata.response;
           
                $("#member_id").val(data["id"])
                $("#member_nominee_name").val(data['nominee_name']);
                $("#nominee_aadhar").val(data["nominee_aadhar_number"]);
                $("#member_details_name").val(data["name"]);
                $("#member_details__mobile").val(data["mobile"]);
                $("#member_details__aadhar").val(data["aadhar_number"]);
                $("#member_details_email").val(data["email"]);
                $("#upi_id").val(data['payment_id'])
                 $('#aadhar_url_date_of_birth').attr("src",data.aadhar_card);
                 $('#dob').val(data["dob"])
                 $('#state').val(data["state"]).change();
                 $('#remarks').val(data["remarks"]);
                // if(data["state"]=='1')
                // {

                //     $("#state").val(1);
                // }
                // else
                // {
                //     $("#state").val(2);
                // }
                $("#district").val(data["district_id"]).change();
                $("#assembly_constituency").val(data["constituency_id"]).change();
                

                if(data["gender"]=='male'){
                   $("input[name=gender][value=" + data['gender'] + "]").prop('checked', true);
                 
                }
                else{
                  $("input[name=gender][value=" + data['gender'] + "]").prop('checked', true);
                }
                $("#member_details_address").val(data["address"]);
                $("#member_details_payment_mode").val(data["payment_mode"]);
               
                $('#myModalHorizontal').modal()
              
           }
        console.log(response)
        


$(".loader").css("display","none")
// swal("success",response.response.message,"success")
$(".loader").css("display","none")
},
error:function(response)
           {
            // console.log(response.error)
            $(".loader").css("display","None");
            // swal('Error',"something wrong. please reload page and try again",'error')
             return false;
           }


          })
    })


        //   Memberdetails Update

$('#member_update_details').click(function(e){
  e.preventDefault();
          $(".loader").css("display", "block")
               
                
                var id = $("#member_id").val();
                var email = $("#member_details_email").val();
                var name = $("#member_details_name").val();
                var aadhar = $("#member_details__aadhar").val();
                var state = $('#state').val();
                var constituency = $('#assembly_constituency').val();
                var district = $('#district').val();
                var mobile = $('#member_details__mobile').val();
                var address = $('#member_details_address').val();
                var payment_mode = $('#member_details_payment_mode').val();
                var gender = $("input[name='gender']:checked").val();
                var upi_id =$('#upi_id').val();
                var dob=$('#dob').val();
                var remarks=$('textarea#remarks').val();

                var data={}
                data["id"] =id
                    data['email']=email
                    data['fullname']=name,
                    data['mobile']=mobile,
                    data['state']=state,
                    data['constituency_id']=constituency,
                    data['district_id']=district,
                    data['address']=address,
                    data['payment_mode']=payment_mode
                    data['gender']=gender
                    data['aadhar_number']=aadhar
                    data['payment_id']=upi_id
                    data['dob']=dob
                    data['remarks']=remarks


    $.ajax({
                    url: "https://nivedika.janasenaparty.org/update_member_details",
                    data: JSON.stringify(data),
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/json",
                  
                    success: function (response) {
                        $(".loader").css("display", "None");
                        console.log(response)
                   
                        if (response.status == 'success') {
                            swal({
                                title: "Your Details Have Been Submitted Successfully",
                                icon: "success",
                                type: "success",
                                confirmButtonText: "OK",

                            });
                        } else {

                            $(".loader").css("display", "None");
                            swal('Error', response.response.message, 'error');
                            return false;

                        }

                    },
                    error: function (response) {

                        $(".loader").css("display", "None");
                        swal('Error', 'something wrong', 'error');
                        return false;
                    }

                });
})

// Update Nominee Details

$('#nominee_update_details').click(function(){

$(".loader").css("display", "none")

      var id = $("#member_id").val();
      var nominee_name = $("#member_nominee_name").val();
      var nominee_aadhar = $("#nominee_aadhar").val();
      
      var data={}
          data["id"]= id
          data['nominee_name']=nominee_name,
          data['nominee_aadhar_number']=nominee_aadhar


$.ajax({
          url: "https://nivedika.janasenaparty.org/update_member_nominee_details",
          data: JSON.stringify(data),
          type: 'POST',
          dataType: "json",
          contentType: "application/json",
        
          success: function (response) {
              $(".loader").css("display", "None");
              console.log(response)
         
              if (response.status == 'success') {
                  swal({
                      title: "Your Details Have Been Submitted Successfully",
                      icon: "success",
                      type: "success",
                      confirmButtonText: "OK",

                  });
              } else {

                  $(".loader").css("display", "None");
                  swal('Error', response.response.message, 'error');
                  return false;

              }

          },
          error: function (response) {

              $(".loader").css("display", "None");
              swal('Error', 'something wrong', 'error');
              return false;
          }

      });
})
           

//    Delete Member   


$('#operations_table').on('click', '.delete', function (e) {

e.preventDefault();
    var value= $(this).closest('tr').find('td')[0].innerHTML
$(".loader").css("display","block")
  

$.ajax({
   
   type: "GET",
   url:"https://nivedika.janasenaparty.org/delete_kriya_member_details?id=" +value,            
    dataType:"json",
   contentType:"application/json",
   success: function (response) {
     
    var responsedata =response;
          $('.loader').css('display','None');
       
    console.log(response)
    


$(".loader").css("display","none")
swal("success",response.response.message,"success")

$(".loader").css("display","none")
},
error:function(response)
       {
        // console.log(response.errors)
        $(".loader").css("display","None");
        swal('Error',"something wrong. please reload page and try again",'error')
         return false;
       }


      })
})
// $("#filter").click(function()

// {
//   var district=$('#district_filter').val()
//   var assembly=$('#assembly_constituency_filter').val()
//   var data={from_date:start_date,to_date:end_date};
//   filtered_data(data);

// })



// Get by date

// function filtered_data(data)
// {
//   $(".loader").css("display","block");
//    $.ajax({
//            type: "POST",
//            url:"/get_kriya_members",
//           data:JSON.stringify(data),
//            dataType:"json",
//            contentType:"application/json",
//            success: function (response) {
//             console.log(response)

//                if (response.status=='success') {
//                 console.log(response.response)

//                     var result=response.response;
                   
//                      myTable.clear().draw()
//                  myTable.rows.add(result).draw()
//                   $(".loader").css("display","none");


//                   }
//                 else
//                 {
//                   $(".loader").css("display","none");
//         // swal('Error',response.response.error,'error')
//                 }
//                },
//         error:function(response)
//            {
//             // console.log(response.response.error)
//             $(".loader").css("display","None");
//             // alert(response.response.error)
//              return false;
//            }

//        });
// }

 $("#filter").click(function()
{
  var date={from_date:start_date,to_date:end_date};
 
var state_filter=$("#state_filter").val();
var assembly_filter=$("#assembly_constituency_filter").val()
var district_filter=$("#district_filter").val();
var data={};
var url;
if(state_filter)
  data['state']=state_filter
if(district_filter)
  data['district_id']=district_filter;
if(assembly_filter)
  data['assembly_id']=assembly_filter
if(start_date){
  data['from_date']=start_date
  data['to_date']=end_date


}


if(!data){
window.alert("please select any one")
  return 
}

console.log(data)
$(".loader").css("display","block");
    $.ajax({
           type: "POST",
           url:"/get_kriya_members",
             data:JSON.stringify(data),
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
             $(".loader").css("display","none");
               if (response.status=='success') {
                result=response.response;
               console.log(result)
               
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  
                  $("#table_div").css("display","block");
                
                  
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.error,'error')
                }
               },
        error:function(response)
           {
            console.log(response.error)
            $(".loader").css("display","None");
            alert(response.error)
             return false;
           }
           
       });

})

$('#payment_update_details').click(function(){

$(".loader").css("display", "none")

      var id = $("#member_id").val();
      var payment_id = $("#upi_id").val();
     
      
      var data={}
          data["id"]= id
          data['payment_id']=payment_id,
          


$.ajax({
          url: "https://nivedika.janasenaparty.org/update_kriya_member_payment_details",
          data: JSON.stringify(data),
          type: 'POST',
          dataType: "json",
          contentType: "application/json",
        
          success: function (response) {
              $(".loader").css("display", "None");
              console.log(response)
         
              if (response.status == 'success') {
                  swal({
                      title: "Your Details Have Been Submitted Successfully",
                      icon: "success",
                      type: "success",
                      confirmButtonText: "OK",

                  });
              } else {

                  $(".loader").css("display", "None");
                  swal('Error', response.response.message, 'error');
                  return false;

              }

          },
          error: function (response) {

              $(".loader").css("display", "None");
              swal('Error', 'something wrong', 'error');
              return false;
          }

      });
})


        $('#state_filter').change(function(){
        if($('#state_filter').val() == '1') {
            $('#ap_first_phase').css('display','block');
            $('#ap_second_phase').css('display','block');
            $('#telangana_reports').css('display','none'); 
        } else {
            $('#telangana_reports').css('display','block'); 
            $('#ap_first_phase').css('display','none'); 
            $('#ap_second_phase').css('display','none');
        } 
    });

})

</script>

{% endblock %}