
{% extends "admin_layout.html" %}
{% block body %}


  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>


<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />


<style>

.btn-tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 300px;
  margin: auto;
  display: block;
  border: 2px solid #555;
  &:hover, 
    &:focus {
      color: lighten(#555, 20%);
      border-color: lighten(#555, 20%);
    }
}

/* input file style */

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
    .icon:before {
      //font-awesome
      content: "\f093";
    }
    &.has-file {
      .icon:before {
        //font-awesome
        content: "\f00c";
        color: #5AAC7B;
      }
    }
  }
}





.loader
{
  z-index:1051 !important;
}


</style>


<body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
   <div class="form-group">
  <input type="file" name="file" id="file" class="input-file">
  <label for="file" class="btn btn-tertiary js-labelFile">
    <i class="fa fa-upload"></i>
    <span class="js-fileName">Choose a file</span>
  </label>
</div>

</div>
<div class="col-md-2">
  <button type="button" class="btn btn-success " id="upload">upload</button>
</div>
<div class="row">
  
  <div class="col-md-12 col-md-offset-2">
                                <div class="userdetails" style="color:black;display: none"><br>
                                 
                       
                                  <h5 style="font-weight:300; padding:0; margin:0; line-height:2em;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      

                                      <tr>
                                        <td class="text-red" width="38%"><label for="mapped" class="mapped udetails">Mapped:</label></td>
                                        <td><span id="mapped"  class="namevoter udetails"  ></span></td>
                                      </tr>
                                      <tr>
                                        <td  class="text-red" width="38%"><label for="total" class="udetails text-red">Total:</label></td>
                                        <td><span id="total"  class="total"   ></span></td>
                                      </tr>
                                      <tr>
                                        <td  class="text-red" width="38%"><label for="url" class="udetails text-red">Url:</label></td>
                                        <td><a id="url"  class="url" ></a></td>
                                      </tr>
                                      
                                    </table>
                                  </h5>
                         
                        </div>
                     
                      </div>
</div>
</div>

       </div>

</body>





<script>
$(document).ready(function () {
    $("#upload").click(function () {
      var formData =new FormData();
       

        formData.append('file', $('input[type=file]')[0].files[0]); 

        $.ajax({
            type: "POST",
            url: "https://nivedika.janasenaparty.org/map_kriya_member_payment_status",
            data:formData,
            contentType: false,
            processData: false,
           success: function (response) {
            console.log(response)
            var responsedata =response;

               if (responsedata.status=='success') {
                console.log(response.response)

                var data=responsedata.response;
                $('.userdetails').css("display","block")
                $("#total").text(data["total"]);
                $("#mapped").text(data["mapped"]);
                $("#url").text(data["url"])
                  
                  $(".loader").css("display","none");


                  }
                else
                {
                  $(".loader").css("display","none");
        // swal('Error',response.response.error,'error')
                }
               },
        error:function(response)
           {
            $('.userdetails').css("display","none")
            // console.log(response.response.error)
            $(".loader").css("display","None");
            // alert(response.response.error)
             return false;
           }

        });
    });


(function() {
  
  'use strict';

  $('.input-file').each(function() {
    var $input = $(this),
        $label = $input.next('.js-labelFile'),
        labelVal = $label.html();
    
   $input.on('change', function(element) {
      var fileName = '';
      if (element.target.value) fileName = element.target.value.split('\\').pop();
      fileName ? $label.addClass('has-file').find('.js-fileName').html(fileName) : $label.removeClass('has-file').html(labelVal);
   });
  });

})();

});
    

</script>

{% endblock %}