
{% extends "admin_layout.html" %}
{% block body %}


  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>


<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />


<style>





#operations_table_filter{
float:right!important;
}
@media (min-width: 1200px){
.container {
  width:1039px
}
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}




.loader
{
  z-index:1051 !important;
}
    .modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

</style>


<body>
    <div class="container">
      <div class="row">
        
        <h2 style="text-align:center;color:cornflowerblue">State wise Top five Report</h2>
 <div class="col m8 s12 userdetails">
                <br>
                <br>

                <div class="row" id="table_div">
                    <table id="operations_table" class="table table-striped table-bordered" style="width:100%!important;">
                        <thead>
                            <tr style="background-color: #337ab7;
                            color: white;">
                                <th>District</th>
                                <th>Constituency</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Total members Added</th>
                                <th>Pending</th>
                                
                            </tr>
                        </thead>

                        <tbody id="operations_body" style="color:black">

                        </tbody>
                    </table>
                </div>
            </div>
</div>

    


      </div>
    </body>
    <script type="text/javascript">
  var myTable;
    var myTable1;

     myTable = $('#operations_table').DataTable({

data: [],

columns: [
 
    
    { data: "district_name" },
    { data: "constituency_name" },
    { data: "name" },
    { data: "mobile" },
    { data: "completed" },
    { data: "pending" },
   
  
],
 dom: 'Bfrtip',
   buttons: [
       'copyHtml5',
       'excelHtml5',
       'csvHtml5',
       'pdfHtml5'
   ],

});

    
 

 $(document).ready(function () {


           $.ajax({
        
           type: "GET",
           url:"https://nivedika.janasenaparty.org/get_state_wise_top_five_telangana",
                     
            dataType:"json",
           contentType:"application/json",
           success: function (response) {
              
               console.log(response)
           
               if (response.status=='success') {
                
                 result=response.response;
               
               
                 myTable.clear().draw()
                 myTable.rows.add(result).draw()
                  
                  $("#table_div").css("display","block");
                
                
                  $(".loader").css("display","none");
                
                  
                  }
                else
                {
        //           $(".loader").css("display","none");
        // swal('Error',response.error,'error')
                }
               },
        error:function(response)
           {
            console.log(response.error)
            $(".loader").css("display","None");
            alert(response.error)
             return false;
           }
           
       })
       })

       
</script>

{% endblock %}