
{% extends "admin_layout.html" %}
{% block body %}




 



<style>
.DTFC_LeftBodyWrapper{
  top:21px!important;
}

#operations_table_filter{
float:right!important;
}
@media (min-width: 1200px){
.container {
  width:1039px
}
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






.loader
{
  z-index:1051 !important;
}
    .modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

</style>


<body>
    <div class="container">
        
        <h2 style="text-align:center;color:cornflowerblue">Kriya volunteer</h2>

        <div class="row">
          
          <div class="col-md-4 col-lg-4 col-sm-6">
    
      <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px 5px 10px; border: 1px solid #ccc;color:#337ab7 ">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
      <span></span> <b class="caret"></b>
      </div>
  </div>
  
</div>

        

        <!-- <div class="row">
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <div class="login_field">
                                <label for="state_filter">state</label>
                                <select name="state_filter" id="state_filter" class="form-control" required="">
                                    <option value="" selected="">Select state</option>
                                    <option value="1">Andhra Pradesh</option>
                                   


                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <div class="login_field">
                                <label for="district_filter"> District</label>
                                <select name="district_filter" id="district_filter" class="form-control" required="">
                                    <option value="" selected="">Select District</option>
                                </select>
                            </div>
                        </div>
                         <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <div class="login_field">
                                <label for="assembly_constituency_filter">Assembly</label>
                                <select name="assembly_constituency_filter" id="assembly_constituency_filter" class="form-control"
                                    required="">
                                    <option value="" selected="">Select Constituency</option>
                                </select>
                            </div>
                        </div>
                          <button type="button" class="btn btn-success" id="filter_assembly">Filter</button>
                    </div>

 -->
       <!--  <div class="row">
           <div class="col-md-4 col-lg-4 col-sm-6">
    
      <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px 5px 10px; border: 1px solid #ccc;color:#337ab7 ">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
      <span></span> <b class="caret"></b>
      </div>
  </div>

        </div> -->
        <div class="row">
                       <div class="col-md-8"></div>

            <div class="col-md-4">
            <!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal" style="float:right">
   Add volunteer
</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">
                   Add volunteer
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <div class="form-horizontal" role="form">
                    <div class="row">
                        
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>Name</label>
                            <div class="login_field">
                              <input class="form-control" type="text" id="name" name="name">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>Mobile</label>
                            <div class="login_field">
                              <input class="form-control" type="text" id="mobile" name="mobile" oninput="maxLengthCheck(this)" maxlength="10" onkeypress="return isNumeric(event)">
                            </div>
                          </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <div class="login_field">
                                <label for="state">state</label>
                                <select name="state" id="state" class="form-control" required="">
                                    <option value="" selected="" >Select state</option>
                                    <option value="1" >Andhra Pradesh</option>
                                    <option value="2">Telangana</option>


                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <div class="login_field">
                                <label for="district"> District</label>
                                <select name="district" id="district" class="form-control" required="">
                                    <option value="" selected="">Select District</option>
                                </select>
                            </div>
                        </div>
                         
                    </div>
                    <div class="row">
                       <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <div class="login_field">
                                <label for="assembly_constituency">Assembly</label>
                                <select name="assembly_constituency" id="assembly_constituency" class="form-control"
                                    required="">
                                    <option value="" selected="">Select Constituency</option>
                                </select>
                            </div>
                        </div>
                         <div class="col-md-2 col-lg-2" style="margin-top: 24px;">
                        <button type="button" class="btn btn-success" id="submit">Submit</button>
                      </div>
                    </div>
                  
                
                 
                </div>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
               
            </div>
        </div>
    </div>
    </div>
  </div>



            <div class="col m8 s12 userdetails">
                <br>
                <br>

                <div class="row" id="table_div">
                    <table id="operations_table" class="table table-striped table-bordered" style="width:100%!important;">
                        <thead>
                            <tr style="background-color: #337ab7;
                            color: white;">
                                <th>Name</th>
                                <th>ID</th>
                                <th>Mobile</th>
                                <th>State</th>
                                <th>district</th>
                                <th>Assembly</th>
                                <th>Total completed</th>
                                <th>Total Pending</th>
                                <th id="by_date">By Date</th>
                                <th>Action</th>
                                <th>Status</th>
                                <th>Delete</th>
                               
                                
                            </tr>
                        </thead>

                        <tbody id="operations_body" style="color:black">

                        </tbody>
                    </table>
                </div>
            </div>
            
       
        
</div>




</body>





<script>

var start_date;
var end_date;

$(function() {

    var start = moment().subtract(1, 'days');
    var end = moment();
    
    function cb(start, end) {
      

        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        start_date=start.format('YYYY-MM-DD');
        end_date=end.format('YYYY-MM-DD');
        

    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 2 Days': [moment().subtract(1, 'days'), moment()],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 15 Days': [moment().subtract(14, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')]
        
        }
    }, cb);

    cb(start, end);
    
});





    
     function validateMobileNo(mobile) {
            var mobileregex = /^[6-9]{1}[0-9]{9}$/g;


            var length = mobile.length;
            if (length == 10) {
                if (mobileregex.test(mobile)) {
                    return true;
                }
                else {
                    return false;
                }
            }
            else {
                return false;
            }

        }
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength)
        }

function isNumeric(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9\b]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
 
    var myTable;  
    var data;
    var result
  var  changestatus ;
    $(document).ready(function () {
      
      changestatus = function(id,status)
      {
        if (status=='Activate'){
          status='Active'
        }
        else if (status=='Suspend'){
          status='Suspended'
        }
        $(".loader").css("display","block")
                $.ajax({

                type: "POST",
                url:"https://nivedika.janasenaparty.org/activate_deactivate_kriya_volunteer",
                data:JSON.stringify({"id":id,"status":status}),             
                dataType:"json",
                contentType:"application/json",
                success: function (response) {
                console.log(response)


                $(".loader").css("display","none")
                swal("success",response.response.message,"success")
                $(".loader").css("display","none")
                // window.location.href="https://nivedika.janasenaparty.org/kriya_volunteers";
                },
                error:function(response){
                $(".loader").css("display","none")

                return false
                }


              })

      }

         function load_data(data)
{
  $(".loader").css("display","block");
    $.ajax({
        
           type: "GET",
           url:"https://nivedika.janasenaparty.org/get_kriya_volunteers",
           data:data,             
            dataType:"json",
           contentType:"application/json",
           success: function (response) {
              
               
           
               if (response.status=='success') {
                
                result =response.response;
               console.log(result)
               $("#by_date").text("yesterday");
                 myTable.clear().draw()
                 myTable.rows.add(result).draw()
                  
              
                
                
                  $(".loader").css("display","none");
                
                  
                  }
                else
                {
        //           $(".loader").css("display","none");
        // swal('Error',response.error,'error')
                }
               },
        error:function(response)
           {
            // console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
}
myTable = $('#operations_table').DataTable({
   "aaSorting": [[ 3, "asc" ],[4,"asc"],[5,"desc"]],

   data: [],
   columns: [
       { data: "name" },
      {data:"id"},
       { data: "mobile" },
       {
                         "targets": -2,

                    "data": null,
                    "render": function(data, type, row){
                        if(data['state']=='1'){
                          return "Andhrapradesh"
                        }
                       else{
                        return "Telangana"
                       }
                       
                   }

                    },
       { data: "district_name" },
       { data: "constituency_name" },
       { data: "completed" },
       { data: "pending"},
       { data: "filter_by_date" },
      


     {
                         "targets": -2,

                    "data": null,
                    "render": function(data, type, row){
                        console.log(row)
                       return "<button class='editor_edit btn-info'>Send</button>"
                       
                   }

                    },

                     {
                         "targets": -2,

                    "data": null,
                    "render": function(data, type, row){
                        console.log(row['status'])
                        if(row['status'] == 'Active'){
                            var action ='Suspend'
                            return '<button class=" btn-info" onclick="changestatus(\''+row['id']+'\',\''+action+'\')">Suspend</button>'
                           // return `<label class="switch">
                           //        <input type="checkbox" checked class='myslider'>
                           //        <span class="slider"></span>
                           //      </label>` 
                        }
                        else{
                            var action = 'Activate'
                            return '<button class=" active btn-info" onclick="changestatus(\''+row['id']+'\',\''+action+'\')">Activate</button>'
                            // return `<label class="switch">
                            //       <input type="checkbox" class='myslider'>
                            //       <span class="slider"></span>
                             //   </label>`
                            }

                       
                   }

                    },

                    
        {
                        "targets": -2,
                data: null,
                
                "render": function(data, type, row){
                        console.log(row)
                       return "<button class='delete btn-danger'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button> "
                       
                   }
            },




                    



                    

   ],
   dom: 'Bfrtip',
   pageLength: 20,
   buttons: [
       'copyHtml5',
       'excelHtml5',
       'csvHtml5',
       'pdfHtml5'
   ],

});
load_data(data);




$('.myslider').click(

 function(){

   console.log($(this).prop('checked'));
   var status=$(this).prop('checked')?'Active':'Pending';
   var value= $(this).closest('tr').find('td')[1].innerHTML
   $.ajax({
        
           type: "POST",
           url:"https://nivedika.janasenaparty.org/activate_deactivate_kriya_volunteer",
           data:JSON.stringify({"id":value,"status":status}),             
            dataType:"json",
           contentType:"application/json",
           success: function (response) {
            console.log(response)


  $(".loader").css("display","none")
swal("success",response.response.message,"success")
$(".loader").css("display","none")
},
error:function(response){
    $(".loader").css("display","none")

    return false
}


              })

 }
);

$('#operations_table').on('click','.editor_edit',function(e){
    e.preventDefault()

    var value= $(this).closest('tr').find('td')[1].innerHTML
    $(".loader").css("display","block")


 $.ajax({
        
           type: "POST",
           url:"https://nivedika.janasenaparty.org/send_kriya_volunteer_app",
           data:JSON.stringify({"id":value}),             
            dataType:"json",
           contentType:"application/json",
           success: function (response) {
            console.log(response)


  $(".loader").css("display","none")
swal("success",response.response.message,"success")
$(".loader").css("display","none")
},
error:function(response){
    $(".loader").css("display","none")

    return false
}


              })
})




            var districts;
            var assembly_constituencies;
            $.getJSON('static/json/membership/districts.json', function (data) {
                districts = data;

            });
            $.getJSON('static/json/membership/constituencies.json', function (data) {
                assembly_constituencies = data;

            });
            $.getJSON('static/json/membership/mandals.json', function (data) {
                mandals = data;

            });

            $("#state").change(function () {
                var state = $("#state").val();



                var districts_data = districts[state]


                $('#district')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select District</option>')
                    .val('');
                $('#constituency')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select Constituency</option>')
                    .val('');
                $.each(districts_data, function (i, val) {
                    $('#district').append($('<option>', {
                        value: val.id,
                        text: val.district_name
                    }));
                });


            })

            $("#district").change(function () {
                var district = $("#district").val();
                console.log(district)
                if (!district) {
                    return false;
                };
                $.each(assembly_constituencies, function (i, val) {
                    console.log(i)
                    if (district == i) {
                        console.log(district)
                        $('#assembly_constituency')
                            .find('option')
                            .remove()
                            .end()
                            .append('<option value="" selected>Select Constituency</option>')
                            .val('');
                        $.each(val, function (akey, avalue) {

                            $('#assembly_constituency').append($('<option>', {
                                value: avalue.constituency_id,
                                text: avalue.constituency_name
                            }));
                        });
                    }

                });
            });
            $("#assembly_constituency").change(function () {
                var assembly = $("#assembly_constituency").val();
                var district = $("#district").val();

                $('#mandal')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select Mandal</option>')
                    .val('');
                mandals.forEach(mandal_data1 => {

                    if (district == mandal_data1['district_id']) {
                        if (assembly == mandal_data1['constituency_id']) {



                            $('#mandal')
                                .append($("<option></option>")
                                    .attr("value", mandal_data1['id'])
                                    .text(mandal_data1['mandal_name'].toLowerCase()));
                        }
                    }

                });


            });








var districts_filter;
            var assembly_constituencies_filter;
            $.getJSON('static/json/membership/districts.json', function (data) {
                districts_filter = data;

            });
            $.getJSON('static/json/membership/constituencies.json', function (data) {
                assembly_constituencies_filter = data;

            });
           

            $("#state_filter").change(function () {
                var state = $("#state_filter").val();



                var districts_data_filter = districts[state]


                $('#district_filter')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select District</option>')
                    .val('');
                $('#constituency_filter')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select Constituency</option>')
                    .val('');
                $.each(districts_data_filter, function (i, val) {
                    $('#district_filter').append($('<option>', {
                        value: val.id,
                        text: val.district_name
                    }));
                });


            })

            $("#district_filter").change(function () {
                var district = $("#district_filter").val();
                console.log(district)
                if (!district) {
                    return false;
                };
                $.each(assembly_constituencies_filter, function (i, val) {
                    console.log(i)
                    if (district == i) {
                        console.log(district)
                        $('#assembly_constituency_filter')
                            .find('option')
                            .remove()
                            .end()
                            .append('<option value="" selected>Select Constituency</option>')
                            .val('');
                        $.each(val, function (akey, avalue) {

                            $('#assembly_constituency_filter').append($('<option>', {
                                value: avalue.constituency_id,
                                text: avalue.constituency_name
                            }));
                        });
                    }

                });
            });
       
























            function isEmpty(val) {
                return (val === undefined || val == null || val.length <= 0) ? true : false;
            }
            function validate() {


                $(".validation").html('');
                $("p").remove(".validation");
                var name = $("#name").val();
                var mobile = $('#mobile').val();
                // var email = $("#email").val();
                var state = $('#state').val();
                var district = $('#district').val();
                var constituency = $('#assembly_constituency').val();
              

                if (isEmpty(name)) {

                    $("#name").after("<p class='validation' style='color:red;'>This Field is Required</p>");
                    $("#name").focus();

                    return false;
                }

                if (isEmpty(mobile)) {

                    $("#mobile").after("<p class='validation' style='color:red;'>This Field is Required</p>");
                    $("#mobile").focus();

                    return false;
                }
                // if (isEmpty(email)) {

                //     $("#email").after("<p class='validation' style='color:red;'>This Field is Required</p>");
                //     $("#email").focus();

                //     return false;
                // }
                if (isEmpty(state)) {

                    $("#state").after("<p class='validation' style='color:red;'>This Field is Required</p>");
                    $("#state").focus();

                    return false;
                }
                if (isEmpty(district)) {

                $("#district").after("<p class='validation' style='color:red;'>This Field is Required</p>");
                $("#district").focus();

                return false;
                }
                if (isEmpty(constituency)) {

                $("#assembly_constituency").after("<p class='validation' style='color:red;'>This Field is Required</p>");
                $("#assembly_constituency").focus();

                return false;
                }
              
             

                return true;
            }


            $('#submit').click(function () {
                if (!validate()) {

                $(".loader").css("display", "none")
                return false;
                }
              
                var name = $("#name").val();
                var state = $('#state').val();
                var constituency = $('#assembly_constituency').val();
                var district = $('#district').val();
                var mobile = $('#mobile').val();
               
var data={}
  
    data['name']=name,
    data['mobile']=mobile,
    data['state']=state,
    data['constituency_id']=constituency,
    data['district_id']=district,
  


                    $.ajax({
                    url: "https://nivedika.janasenaparty.org/addkriyavolunteer",
                    data: JSON.stringify(data),
                    type: 'POST',
                    dataType: "json",
                    crossDomain: true,
                    contentType: "application/json",
                  
                    success: function (response) {
                        $(".loader").css("display", "None");
                        console.log(response)
                   
                        if (response.status == 'success') {
                        $(".loader").css("display","none")
                        swal("success",response.response.message,"success")

                        $(".loader").css("display","none")
                        
                        } else {

                            $(".loader").css("display", "None");
                            swal('Error', response.response.message, 'error');
                            return false;

                        }

                    },
                    error: function (response) {

                        $(".loader").css("display", "None");
                        swal('Error', 'something wrong', 'error');
                        return false;
                    }

                });
                   
            })

$('#operations_table').on('click', '.delete', function (e) {

e.preventDefault();
    var value= $(this).closest('tr').find('td')[1].innerHTML
$(".loader").css("display","block")
  

$.ajax({
   
   type: "GET",
   url:"https://nivedika.janasenaparty.org/delete_kriya_volunteer_details?id=" +value,            
    dataType:"json",
   contentType:"application/json",
   success: function (response) {
     
    var responsedata =response;
          $('.loader').css('display','None');
       
    console.log(response)
    


$(".loader").css("display","none")
swal("success",response.response.message,"success")

$(".loader").css("display","none")
},
error:function(response)
       {
        // console.log(response.errors)
        $(".loader").css("display","None");
        swal('Error',"something wrong. please reload page and try again",'error')
         return false;
       }


      })
})






$("#filter").click(function()
{
  var data={from_date:start_date,to_date:end_date};
  filtered_data(data);

})



// Get by date

function filtered_data(data)
{
  $(".loader").css("display","block");
   $.ajax({
           type: "POST",
           url:"https://nivedika.janasenaparty.org/get_kriya_volunteers",
          data:JSON.stringify(data),
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
            console.log(response)

               if (response.status=='success') {
                console.log(response.response)

                    var result=response.response;
                    var col_header = data.from_date.toString()+" to "+data.to_date.toString()
                   $("#by_date").text(col_header);
                     myTable.clear().draw()
                 myTable.rows.add(result).draw()
                  $(".loader").css("display","none");


                  }
                else
                {
                  $(".loader").css("display","none");
        // swal('Error',response.response.error,'error')
                }
               },
        error:function(response)
           {
            // console.log(response.response.error)
            $(".loader").css("display","None");
            // alert(response.response.error)
             return false;
           }

       });
}



    
})

</script>

{% endblock %}