{% extends "admin_layout.html" %}
{% block body %}
<style>
label,span{
  font-weight: bold;
    color: #3F51B5;
}.loader
{
  z-index:1051 !important;
}
.card{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   transition: 0.3s;
   min-width: 40%;
   border-radius: 5px;
 }

    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
<div class="container">

    <div class="row">
       
      <div class="col-md-5 col-md-offset-3 col-lg-5 col-lg-offset-3">
        <h5 style="
      text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: #3F51B5;
    font-size: 18px;
    margin-top: 40px;
    padding-bottom: 20px;">Search Membership Details </h5>
    <div class="form-inline" id="searchForm" method="post">
        <div class="row clearfix">
        <span>Search With:</span> 
        <label ><input type="radio" name="number" value="phno" checked>Phone </label> &nbsp;&nbsp;
        <label ><input type="radio" name="number" value="membid">Membership ID</label></div>
       
        <div class="row clearfix" style="padding-top: 20px;">
         <label  id="phno">Enter phone number:</label>
            <input type="text" class="form-control" name="serachForm" value="" id =text placeholder="Enter Here">
        <button type="button" class="btn btn-primary" id="btn" >Fetch</button>
        <p><span>please add country code before phone number like 91XXXXXXX91</span></p>
    </div>
         </div>
     </div>

 </div>

 <div class="userdetails" style="display:none;color:black"><br>
        
        <br>
        <div class="card">
          <div class="card-body">
        <h5 style="font-weight:300; padding:0; margin:0; line-height:2em;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="dis">
            <tr>
              <td class="text-red" width="38%"><label for="name" class="namevoter ">Name:</label></td>
              <td><span id="name"  class="namevoter"  ></span></td>
            </tr>
            <tr>
              <td  class="text-red" width="38%"><label for="mobile" class="namevoter text-red">Mobile:</label></td>
              <td><span id="mobile"  class="namevoter" ></span></td>
            </tr>
             <tr>
              <td class="text-red"><label for="jsp_id" class="udetails text-red">JSPID:</label></td>
              <td class="black-text"><p id="jsp_id"  class="udetails"   ></p></td>
            </tr>
            <!-- <tr>
              <td class="text-red"><label for="age" class="udetails text-red">AGE:</label></td>
              <td class="black-text"><span id="age"  class="udetails"   ></span></td>
            </tr> -->
            <tr>
              <td class="text-red"><label for="aadhar_number" class="udetails text-red">Aadhar Number:</label></td>
              <td class="black-text"><span id="aadhar_number"  class="udetails"  ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="district_name" class="udetails text-red">District Name:</label></td>
              <td class="black-text"><span id="district_name"  class="udetails"  ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="constituency_name" class="udetails text-red">Constituency Name:</label></td>
              <td class="black-text"><span id="constituency_name"  class="udetails" ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="email" class="udetails text-red">Email</label></td>
              <td class="black-text"><span id="email"  class="udetails"  ></span></td>
            </tr>
            
            <tr>
              <td class="text-red"><label for="gender" class="udetails text-red">Gender:</label></td>
              <td class="black-text"><span id="gender"  class="udetails"   ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="address" class="udetails text-red">Address:</label></td>
              <td class="black-text"><p id="address"  class="udetails"   ></p></td>
            </tr>
            <tr>
              <td class="text-red"><label for="working_with_janasena_from_year_and_month" class="udetails text-red">Working with Janasena:</label></td>
              <td class="black-text"><span id="working_with_janasena_from_year_and_month"  class="udetails"  ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="which_principles_are_you_aware_of" class="udetails text-red">Principles:</label></td>
              <td class="black-text"><p id="which_principles_are_you_aware_of"  class="udetails"   ></p></td>
            </tr>
          
            
            
          </table>
        </h5>
          </div>
        </div>
        </div>
       
   
</div>

                
                   

<script type="text/javascript">
    $(document).ready(function () {
   

        $("input[type=radio][name=number]").on('change', function () {
            var selectedValue = $("input[name='number']:checked").val();
            if (selectedValue == 'phno') {
                $("#phno").html("Enter phone number");


            }
            else {
                $("#phno").html("Enter Membership ID");

            }
        });
                $('#btn').on('click', function () {
                  debugger;
                    var fd = new FormData();
                    var selectedValue = $("input[name='number']:checked").val();
                    if (selectedValue == 'phno') {
                        var phone = $("#text").val();
                        fd.append("value", phone);
                        fd.append("type", "mobile");
                    }
                    else{
                        var member = $("#text").val();
                        fd.append("value", member);
                        fd.append("type", "jsp_id");
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/searchActiveMember',
                        data:fd,
                        processData: false,
                        contentType: false,
                        success: (function (response) {
                            var responsedata = JSON.parse(response);
                            console.log(responsedata)
                                        if (responsedata.data.status == '1') {
                                  $(".userdetails").css("display","block")
                                  var children = responsedata.data.children;
                                           console.log(children)
                                  $("#name").text(children["name"]);
                                  $("#mobile").text(children["mobile"]);
                                  $("#jsp_id").text(children["jsp_id"]);
                                  $("#age").text(children["age"]);
                                  $("#email").text(children["email"]);
                                  $("#gender").text(children["gender"]);
                                  $("#aadhar_number").text(children["aadhar_number"]);
                                  $("#district_name").text(children["district_name"]);
                                  $("#constituency_name").text(children["constituency_name"]);
                                  $("working_with_janasena_from_year_and_month").text(children["working_with_janasena_from_year_and_month"]);
                                  $("#address").text(children["address"]); 
                                  
                                  $("#which_principles_are_you_aware_of").text(children["which_principles_are_you_aware_of"])
              }

             else
              {
                $(".userdetails").css("display","None")
                swal('Info',responsedata.errors[0],'info')
              }
            }),
                                       
              
               error:function(response)
           {
           
           
            $(".loader").css("display","None");
            swal('Error',"something wrong. please reload page and try again",'error')
            return false;
           }

                                    
                                });
                            })


        });
</script>

{% endblock %}