
{% extends "admin_layout.html" %}
{% block body %}


  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />


<style>





#operations_table_filter{
float:right!important;
}
@media (min-width: 1200px){
.container {
  width:1039px
}
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






.loader
{
  z-index:1051 !important;
}
    .modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

</style>


<body>
    <div class="container">
        
        <h2 style="text-align:center;color:cornflowerblue">Kriya Members Report</h2>
                    <div class="row">
                            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <div class="login_field">
                                <label for="state">state</label>
                                <select name="state" id="state" class="form-control" required="">
                                    <option value="" selected="" >Select state</option>
                                    <option value="1" >Andhra Pradesh</option>
                                    <option value="2">Telangana</option>


                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <div class="login_field">
                                <label for="district"> District</label>
                                <select name="district" id="district" class="form-control" required="">
                                    <option value="" selected="">Select District</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                        <div class="login_field">
                                <label for="assembly_constituency">Assembly</label>
                                <select name="assembly_constituency" id="assembly_constituency" class="form-control"
                                    required="">
                                    <option value="" selected="">Select Constituency</option>
                                </select>
                            </div>
                          </div>
                           <div class="col-md-2 col-lg-2" style="margin-top: 24px;">
                        <button type="button" class="btn btn-success" id="submit">Submit</button>
                      </div>
                         
                    </div>   

</div>


            <div class="col m8 s12 userdetails">
                <br>
                <br>

                <div class="row" id="table_div">
                    <table id="operations_table" class="table table-striped table-bordered" style="width:100%!important;">
                        <thead>
                            <tr style="background-color: #337ab7;
                            color: white;">
                                 <th>Male Count</th>
                                <th>Female Count</th>
                                <th>Age Upto25</th>
                                <th>Age Upto26-30</th>
                                <th>Age Upto31-40</th>
                                <th>Age Upto41-45</th>
                                <th>Above 45</th>
                                <th>Total count</th>
                               
                                
                            </tr>
                        </thead>

                        <tbody id="operations_body" style="color:black">

                        </tbody>
                    </table>
                </div>
            </div>


              <div class="col m8 s12 userdetails">
                <br>
                <br>

                <div class="row" id="table_div">
                    <table id="operations_table1" class="table table-striped table-bordered" style="width:100%!important;">
                        <thead>
                            <tr style="background-color: #337ab7;
                            color: white;">
                                <th>Male Count</th>
                                <th>Female Count</th>
                                <th>Age Upto25</th>
                                <th>Age Upto26-30</th>
                                <th>Age Upto31-40</th>
                                <th>Age Upto41-45</th>
                                <th>Above 45</th>
                                <th>Total count</th>
                                <th>District Name</th>
                               
                                
                            </tr>
                        </thead>

                        <tbody id="operations_body1" style="color:black">

                        </tbody>
                    </table>
                </div>
            </div>
            
       
        
</div>
</div>

</body>





<script>
 
    
    var result
    $(document).ready(function () {

    debugger;
      // $(".loader").css("display","block");
    $.ajax({
           type: "POST",
           url:"https://nivedika.janasenaparty.org/kriya_members_reports",
           data:data,
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
              
               if (response.data.status=="1") {
                
                result =response.data.children.state;
               console.log(result)
                
                 myTable.clear().draw()
                 myTable.rows.add([result]).draw()
                
                  
                  // $(".loader").css("display","none");
                
                  
                  }
                else
                {
        //           $(".loader").css("display","none");
        // swal('Error',response.error,'error')
                }
               },
        error:function(response)
           {
            // console.log(response.errors)
            // $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });

      
    var myTable;
    var data;
    myTable = $('#operations_table').DataTable({
   "aaSorting": [[ 3, "asc" ],[4,"asc"],[5,"desc"]],

   data: [],
   columns: [
       { data: 'male_cnt' },
       { data: 'female_cnt'},
       { data: 'age_upto_25' },
       { data: 'age_26_to_30' },
       { data: 'age_31_40' },
       { data: 'age_41_45' },
       { data: 'age_above_45'},
       { data: 'total'},
   ],
   dom: 'Bfrtip',
   pageLength: 20,
   buttons: [
       'copyHtml5',
       'excelHtml5',
       'csvHtml5',
       'pdfHtml5'
   ],

});


 $.ajax({
           type: "POST",
           url:"https://nivedika.janasenaparty.org/kriya_members_reports",
           data:data,
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
              
               if (response.data.status=="1") {
                
                result =response.data.children.state;
               console.log(result)
                
                 myTable.clear().draw()
                 myTable.rows.add([result]).draw()
                
                  
                  // $(".loader").css("display","none");
                
                  
                  }
                else
                {
        //           $(".loader").css("display","none");
        // swal('Error',response.error,'error')
                }
               },
        error:function(response)
           {
            // console.log(response.errors)
            // $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });

      
  









            var districts;
            var assembly_constituencies;
            $.getJSON('static/json/membership/districts.json', function (data) {
                districts = data;

            });
            $.getJSON('static/json/membership/constituencies.json', function (data) {
                assembly_constituencies = data;

            });
            $.getJSON('static/json/membership/mandals.json', function (data) {
                mandals = data;

            });

            $("#state").change(function () {
                var state = $("#state").val();



                var districts_data = districts[state]


                $('#district')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select District</option>')
                    .val('');
                $('#constituency')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select Constituency</option>')
                    .val('');
                $.each(districts_data, function (i, val) {
                    $('#district').append($('<option>', {
                        value: val.id,
                        text: val.district_name
                    }));
                });


            })

            $("#district").change(function () {
                var district = $("#district").val();
                console.log(district)
                if (!district) {
                    return false;
                };
                $.each(assembly_constituencies, function (i, val) {
                    console.log(i)
                    if (district == i) {
                        console.log(district)
                        $('#assembly_constituency')
                            .find('option')
                            .remove()
                            .end()
                            .append('<option value="" selected>Select Constituency</option>')
                            .val('');
                        $.each(val, function (akey, avalue) {

                            $('#assembly_constituency').append($('<option>', {
                                value: avalue.constituency_id,
                                text: avalue.constituency_name
                            }));
                        });
                    }

                });
            });
            $("#assembly_constituency").change(function () {
                var assembly = $("#assembly_constituency").val();
                var district = $("#district").val();

                $('#mandal')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select Mandal</option>')
                    .val('');
                mandals.forEach(mandal_data1 => {

                    if (district == mandal_data1['district_id']) {
                        if (assembly == mandal_data1['constituency_id']) {



                            $('#mandal')
                                .append($("<option></option>")
                                    .attr("value", mandal_data1['id'])
                                    .text(mandal_data1['mandal_name'].toLowerCase()));
                        }
                    }

                });


            });








var districts_filter;
            var assembly_constituencies_filter;
            $.getJSON('static/json/membership/districts.json', function (data) {
                districts_filter = data;

            });
            $.getJSON('static/json/membership/constituencies.json', function (data) {
                assembly_constituencies_filter = data;

            });
           

            $("#state_filter").change(function () {
                var state = $("#state_filter").val();



                var districts_data_filter = districts[state]


                $('#district_filter')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select District</option>')
                    .val('');
                $('#constituency_filter')
                    .find('option')
                    .remove()
                    .end()
                    .append('<option value="" selected>Select Constituency</option>')
                    .val('');
                $.each(districts_data_filter, function (i, val) {
                    $('#district_filter').append($('<option>', {
                        value: val.id,
                        text: val.district_name
                    }));
                });


            })

            $("#district_filter").change(function () {
                var district = $("#district_filter").val();
                console.log(district)
                if (!district) {
                    return false;
                };
                $.each(assembly_constituencies_filter, function (i, val) {
                    console.log(i)
                    if (district == i) {
                        console.log(district)
                        $('#assembly_constituency_filter')
                            .find('option')
                            .remove()
                            .end()
                            .append('<option value="" selected>Select Constituency</option>')
                            .val('');
                        $.each(val, function (akey, avalue) {

                            $('#assembly_constituency_filter').append($('<option>', {
                                value: avalue.constituency_id,
                                text: avalue.constituency_name
                            }));
                        });
                    }

                });
            });
       


$('#submit').click(function(){
debugger;
  var state=$('#state').val()
  var district=$('#district').val()
  var assembly_constituency=$('#assembly_constituency').val()
var data={}
var url=""

if (data=='assembly'){
url="https://nivedika.janasenaparty.org/kriya_members_reports?district"+district
}
else{
  url="https://nivedika.janasenaparty.org/kriya_members_reports?assembly"+assembly_constituency
}
data['district']=district
data['assembly']=assembly_constituency
    var myTable1;
    var data;
    myTable1 = $('#operations_table1').DataTable({
   "aaSorting": [[ 3, "asc" ],[4,"asc"],[5,"desc"]],

   data: [],
   columns: [
       { data: 'male_cnt' },
       { data: 'female_cnt'},
       { data: 'age_upto_25' },
       { data: 'age_26_to_30' },
       { data: 'age_31_40' },
       { data: 'age_41_45' },
       { data: 'age_above_45'},
       { data: 'total'},
       { data:'district_name'}
   ],
   dom: 'Bfrtip',
   pageLength: 20,
   buttons: [
       'copyHtml5',
       'excelHtml5',
       'csvHtml5',
       'pdfHtml5'
   ],

});

 $.ajax({
           type: "POST",
           url:url,
           data:data,
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
              
               if (response.data.status=="1") {
                
                result1 =response.data.children;
               console.log(result1)
                
                 myTable1.clear().draw()
                 myTable1.rows.add(result1).draw()
                
                  
                  // $(".loader").css("display","none");
                
                  
                  }
                else
                {
        //           $(".loader").css("display","none");
        // swal('Error',response.error,'error')
                }
               },
        error:function(response)
           {
            // console.log(response.errors)
            // $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });


})

})

</script>

{% endblock %}