
{% extends "admin_layout.html" %}
{% block body %}


 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
   <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script> -->
<link href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.bootstrap.min.css" rel="stylesheet">

 <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />





<style>
.DTFC_LeftBodyWrapper{
  top:21px!important;
}

.photo_zoomimg {
 border: none;
 margin: 0 auto;
}
.table_header
{
  margin-bottom:20px !important;
}
.photo_zoomimg:hover {
 -webkit-transform: scale(3.0);
 -moz-transform: scale(3.0);
 -o-transform: scale(3.0);
 transform: scale(3.0);
 transition: all 0.3s;
 -webkit-transition: all 0.3s;
}

#operations_table_filter{
float:right!important;
}

.loader
{
  z-index:1051 !important;
}
    .modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
@media (min-width: 1200px){
.container {
  width:1039px
}
}
#receipt_url{
width: 100%;
   
    max-width: 350px;
    height: 100%;
    max-height: 400px;
}
</style>

<body>
  <div class="container-fluid">
        
        <h2 style="text-align:center;color:cornflowerblue">Kriya Member</h2>

 
       <div class="row"  >
         {% block querybuilder %}
          {% include 'querybuilder.html' %}
           
         {% endblock %}
      </div>





       
</div>


           
       




</body>





<script>
     function validateMobileNo(mobile) {
            var mobileregex = /^[6-9]{1}[0-9]{9}$/g;


            var length = mobile.length;
            if (length == 10) {
                if (mobileregex.test(mobile)) {
                    return true;
                }
                else {
                    return false;
                }
            }
            else {
                return false;
            }

        }
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength)
        }

function isNumeric(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9\b]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
 
    var myTable;  
    var data;
    var result
var openreceipt;
   

var start_date;
var end_date;


$(function() {

    var start = moment().subtract(1, 'days');
    var end = moment();
    
    function cb(start, end) {
      

        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        start_date=start.format('YYYY-MM-DD');
        end_date=end.format('YYYY-MM-DD');
        

    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 2 Days': [moment().subtract(1, 'days'), moment()],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 15 Days': [moment().subtract(14, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')]
        
        }
    }, cb);

    cb(start, end);
    
});







var report_id = "kriya_members";
var filters_url = "/admin/kriyaMembersFilters";

$(document).ready(function () {
  var current_filters = [];
  
  
  
});


 
// function load_data(data)
// {
  
//   var tables = $('#operations_table').DataTable({

//    "pagingType": "full_numbers",   

//     columns: data.columns,
     
//    "processing": true,
//     "ServerSide": true, 
//    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
//    "paging": true,
//    "bLengthChange" : true,
  
//   "ajax": function (data, callback) {
//      var param = {};
//      console.log(data,callback)
//     if(data.draw == undefined){
//       param.draw= 1;
//       param.start=1;
//       param.length=10;

//     }
//     else{

//         param.draw = data.draw;
//         param.start = data.start;
//         param.length = data.length;
        
//         if(data.rules){
//           param.rules = data.rules;
//         }


//     }
//     param.page = param.start / param.length + 1; 
        
        
//         var paramString = JSON.stringify(param);
//         console.log(paramString)
//          $(".loader").css("display","block");
//         $.ajax({
//             type: "POST",
//              url: "/admin/getDatabyquery/"+report_id, // write the actual routing
//             data: paramString,
//             dataType: 'json',
//             "dataSrc": "children",
//              success: function (response) {
//               if(response.data.status=="1"){
//                 var res = response.data.children;
//                 var returnData = {};
//                  returnData.draw = res.draw+1; // counter
//                  returnData.recordsTotal = res.recordsTotal; // return all the recording data
//                  returnData.recordsFiltered = res.recordsFiltered; // record after filtration
//                  returnData.data = res.data; // data object
//                 console.log(res);
//                 callback(returnData);
//                  $(".loader").css("display","none");

//               }
//               else{
//                 $(".loader").css("display","none");
//                 alert(response.errors)
//               }
                
//             },
//             error: function () {
//               $(".loader").css("display","none");
//                alert ( 'something wrong . please try after some time');
//             }
//         })
//     }


// });



    
// }


          
    

</script>

{% endblock %}