{% extends "admin_layout.html" %}
{% block head %}


 
 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />

 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />

<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <!-- date picker plugins -->

 <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
<!-- date picker plugins -->

{% endblock %}
{% block body %}
<div class="row">
<h1 style="text-align:center;color:#d81615">Shatagni Magazine Subscriptions</h1>
</div>
<br>
<br>
<!-- <div class="row ">
  <div class="col-md-4 col-lg-4 col-sm-6">
    
      <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px 5px 10px; border: 1px solid #ccc;color:#337ab7 ">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
      <span></span> <b class="caret"></b>
      </div>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-6">
  
      
<button type="button" class="btn btn-success " id="filter">Filter</button>

</div>
</div> -->
<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
	<table id="subscriptions_table" class="display " cellspacing="0" width="100%" >
        <thead>
            <tr>


          <th> Name </th>
          <th>Phone</th>
          <th>Email</th>
          <th>Transaction ID</th>
          <th>Plan</th>
          
          <th>Quantity</th>
          <th>Start Date</th>
            <th>End Date</th>
          <th>Address</th>
           
          
            


        </tr>
        </thead>

        <tbody id="donations_body">


        </tbody>
    </table>
</div>
<script>
// var start_date;
// var end_date;

// $(function() {

//     var start = moment().subtract(1, 'days');
//     var end = moment();
    
//     function cb(start, end) {
      

//         $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
//         start_date=start.format('YYYY-MM-DD');
//         end_date=end.format('YYYY-MM-DD');
        

//     }

//     $('#reportrange').daterangepicker({
//         startDate: start,
//         endDate: end,
//         ranges: {
//            'Today': [moment(), moment()],
//            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
//            'Last 2 Days': [moment().subtract(1, 'days'), moment()],
//            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
//            'Last 15 Days': [moment().subtract(14, 'days'), moment()],
//            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
//            'This Month': [moment().startOf('month'), moment().endOf('month')]
        
//         }
//     }, cb);

//     cb(start, end);
    
// });
var myTable;
$(document).ready(function()
{

 

 var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});


    myTable = $('#subscriptions_table').DataTable( {
                  data:[],
                  columns: [

     {data: "name"},
      {data: "phone"},
      {data: "email"},
       {data: "transaction_id"},
       {data: 'subscription_plan'},
        {data: 'quantity'},
        
        {data: 'start_date'},
        {data: 'end_date'},
        {data: 'address'}
         



  
   ],
   "order": [],
                  dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]

              } );

filtered_data({});


    
});
function filtered_data(data)
{
  $(".loader").css("display","block");
   $.ajax({
           type: "POST",
           url:"/shatagni_magazine_subscriptions",
          data:data,
           dataType:"json",
           contentType:"application/json",
           success: function (response) {

               if (response.status=='1') {

                   result=response.data;
                     myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  $(".loader").css("display","none");


                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }

       });
}
</script>

{% endblock %}