{% extends "admin_layout.html" %}
{% block body %}
<style>
table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; // ***********add this
  word-wrap:break-word; // ***********and this
}
p {
    margin: 0 0 10px;
    color: #069;
    font-weight: 600;
    font-size: 14px;
   
}
</style>
<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

 <div class="row ">
  <div class="col-md-3 col-lg-3 col-sm-6">
    <p>Total Missedcalls: {{missedcalls_count}}</p>
   
  </div>
    <div class="col-md-3 col-lg-3 col-sm-6">
     <p>Missed Calls To Be Converted: {{missedcalls_data['T']}} </p>
   
  </div>
  <div class="col-md-3 col-lg-3  col-sm-6">
    <p>Expired Missedcalls: {{missedcalls_data['E']}}</p>
  </div>
  <div class="col-md-3 col-lg-3  col-sm-6">
    <p>International Numbers: {{missedcalls_data['I']}}</p>
  </div>
  <div class="col-md-4 col-lg-4  col-sm-6">
    <p>Other States: {{missedcalls_data['OS']}}</p>
  </div>
  <div class="col-md-4 col-lg-4  col-sm-6">
    <p>NOT ANSWERED: {{missedcalls_data['NA']}}</p>
  </div>
  <div class="col-md-4 col-lg-4  col-sm-6">
    <p>MissedCalls + Memberships: {{membership_data.total + missedcalls_data['T']}}</p>
  </div>
 
 </div>
 <br><br>
<div class="row ">
	<div class="col-md-4 col-lg-4 col-sm-6">
		
   
		
			<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px 5px 10px; border: 1px solid #ccc;color:#337ab7 ">
			<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
			<span></span> <b class="caret"></b>
			</div>
	</div>
	<div class="col-md-3 col-lg-3 col-sm-6">
	
      
<button type="button" class="btn btn-success " id="filter">Filter</button>

</div>
</div>
<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
  <table id="summeryreporttable" class="display " cellspacing="0" width="100%" >
        <thead>
          <tr id="thead">
          <th width="10%">Date</th>
          <th>Missed calls</th>
          <th>Missed Calls To Be Converted</th>
          <th>Memberships (WEB)</th>
          <th>Memberships (APP)</th>
          <th>Memberships (CALL CENTER)</th> 
          <th> Memberships (OFFLINE)</th>
          <th>Memberships (CONTACTS DB)</th>
          <th>Total Memberships</th>
        </tr>
        </thead>
       <tfoot> <tr>
<th width="10%"></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th> 
          <th> </th>
          <th></th>
          <th></th>
       </tr>
       <tr><td>Grand Total</td>
         <td>{{missedcalls_count}}</td>
          <td>{{missedcalls_to_be_converted}} </td>
          <td>{{membership_data.website}}</td>
          <td>{{membership_data.app}}</td>
          <td>{{membership_data.call_center}}</td>
          <td>{{membership_data.offline}}</td>
          <td>{{membership_data.contacts_db}}</td>
          <td>{{membership_data.total }}</td>
       </tr>
       </tfoot>
    </table>


</div>


<script type="text/javascript">
var start_date;
var end_date;
var selected_state;
var myTable;
$(function() {

    var start = moment().subtract(6, 'days');
    var end = moment();
    
    function cb(start, end) {
    	

        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        start_date=start.format('YYYY-MM-DD');
        end_date=end.format('YYYY-MM-DD');
        

    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 15 Days': [moment().subtract(14, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')]
        
        }
    }, cb);

    cb(start, end);
    
});




var states=[];
var districts=[];
var assemblies=[];
var parliament_constituencies=[];
var json_data=[];
myTable = $('#summeryreporttable').DataTable( {

   footerCallback: function ( row, data, start, end, display ) {

            var api = this.api();
 
            // converting to interger to find total
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
            
            // computing column Total of the complete result 
            var col1_Total = api
                .column( 1)
                .data()
                .reduce( function (a, b) {

                    return intVal(a) + intVal(b);
                }, 0 );
        
      var col2_Total = api
                .column( 2 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
        
            var col3_Total = api
                .column( 3 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
        
       var col4_Total = api
                .column( 4 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
        
       var col5_Total = api
                .column( 5 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
       var col6_Total = api
                .column( 6 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

         var col7_Total = api
                .column( 7 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
           var col8_Total = api
                .column( 8 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
            // Update footer by showing the total with the reference of the column index 
      $( api.column( 0 ).footer() ).html('Total');
            $( api.column( 1 ).footer() ).html(col1_Total);
            $( api.column( 2 ).footer() ).html(col2_Total);
            $( api.column( 3 ).footer() ).html(col3_Total);
            $( api.column( 4 ).footer() ).html(col4_Total);
            $( api.column( 5 ).footer() ).html(col5_Total);
            $( api.column( 6 ).footer() ).html(col6_Total);
            $( api.column( 7 ).footer() ).html(col7_Total);
            $( api.column( 8 ).footer() ).html(col8_Total);
        },
       

                  data:[],
                  columns: [
      
     
      {data: "time_range"},
     
      {data:"missed_calls"},
      {data:"missed_calls_to_be_converted"},
     
       {data: 'web_memberships'},
        {data: 'app_memberships'},
          {data: 'call_center_memberships'},
    {data: "offline_memberships"},
    {data: "contacts_mapping_memberships"},
    {data: "memberships"}
   
    ],
   
  
    

                  dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [20, 25, 50, "All"]]} );

      $(document).ready(function()
      {
      	
 
      	data={start_date:start_date,end_date:end_date}
      	getfiltereddata(data);
      	  
$("#filter").click(function()
{
	
	data={start_date:start_date,end_date:end_date}
      	getfiltereddata(data);
})
function getfiltereddata(data)
      {
         $(".loader").css("display","block");
      	$.ajax({
           type: "POST",
           url:"/membershipreports",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
         
               if (response.data.status=='1') {
               
                var result=response.data.children;
               	 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  $(".loader").css("display","none");

               	}
               	else
               	{
                   $(".loader").css("display","none");
				alert(response.errors)
               	}
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
      }


      

 
      //
      });


  

    </script>
{% endblock %}