
{% extends "admin_layout.html" %}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% block body %}
<style>.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }</style>
<div>
  <div class="row">
    <div class="col-md-9">
      </div >
       <div class="col-md-3">
       
        <button type="button" class="btn btn-primary" id='csvdownload' >DOWNLOAD AS CSV</button>
      </div >

  </div >
  <br>
  <div class="datagrid">
    <table width='' border='1' id="content">
      <thead>
        <tr>
          <th>SI.No:</th>
          <th>membership_id </th>
          <th>Name </th>
          
          <th>Email </th>
          <th>mobile </th>
          
           <th>District </th>
           <th>Constituency </th>
          <th>Edit Role</th>
<th>Delete</th>



        </tr>
      </thead>
      <tbody id="janaswaram">


      </tbody>
    </table>
  </div>

  </div>





 <!--  <div class="modal hide" id="suggestionmodal">
 <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Suggestion</h3>
  </div>
    <div class="modal-body">
        <p id="suggestiontext"></p>
        
    </div>
</div> -->
  <br>
<div class="row">
<div id="pagination" class="col-md-6"></div>
<div id="next_slab" class="col-md-2" style="display:none;">
  <a href="#" id="load_next">Load More</a>
</div>
</div>
<script>
var last_page=0;
 function mypages(mystr){
        var items = $(mystr+" tbody tr");

                var numItems = items.length;
                console.log(numItems);
                var perPage = 100;
                $('#fn').html(numItems);

                
                items.slice(perPage).hide();

                // now setup pagination
                $("#pagination").pagination({
                    items: numItems,
                    itemsOnPage: perPage,
                    cssStyle: "light-theme",
                    onPageClick: function(pageNumber) { // this is where the magic happens
                        // someone changed page, lets hide/show trs appropriately
                        var showFrom = perPage * (pageNumber - 1);
                        var showTo = showFrom + perPage;

                        items.hide() // first hide everything, then show for the new page
                             .slice(showFrom, showTo).show();
                    }
                });
                
                $("#pagination").pagination('selectPage', last_page+1);
                last_page= $("#pagination").pagination('getPagesCount');
          
    }
    $(document).ready(function()
    {
       var csrftoken = $('meta[name=csrf-token]').attr('content')
      $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
 var filteredusers=[];
      var index=0;
      var next_marker={};
      var html_str="";
      $(".loader").css("display","block");
       $.ajax({
          type: "GET",
          url: "/getJspmembers",
          dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                data=response.data.children;
                  
                  filteredusers=data;
    
               
                var rows="";
                for (item in data)
                {
                  console.log(item)
                  index=index+1;
                   
                  rows=rows+"<tr class='page'><td>"+index+"</td><td>"+data[item].name+"</td><td>"+data[item].email+"</td><td>"+data[item].phone+"</td><td>"+data[item].voter_id+"</td><td>"+data[item].address+"</td><td>"+data[item].age+"</td><td>"+data[item].gender+"</td><td>"+data[item].district_name+" </td><td class='membership_id'>"+data[item].membership_id+"</td><td>"+data[item].relationship_name+"</td><td><button class='delete' value='"+data[item].membership_id+"' >Delete</delete></td></tr>";
                   
                }

                 $(rows).appendTo("#content");
           // mypages("#content");

 
         

                $(".loader").css("display","None");
                 

               } 
               else
               {
 
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.statusText)
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
// end of ajax
      
      $('body').on('click', '.delete', function() 
      {
        var r = confirm("Are you sure?");
    if (r == true) { 

var membership_id=$(this).val();
console.log(membership_id)
var data={membership_id:membership_id};
$.ajax({
           type: "DELETE",
            url: "/deleteMembership",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
            if(response.data.status=='1')
            {
              $(this).closest ('tr').remove ();
            }

        
},
error:function(response)
           {
            console.log(response.errors)
                       alert(response.errors)
             return false;
           }
         });

    } else {

        return false;
    }
        

      })
     
      
 $('#csvdownload').click(function(){

 

    
        var p = [];
        $.each(filteredusers,function(index,value){
            var alp ={};
            var j = filteredusers[index];








//            console.log(j);
            alp.Name=j.name
            alp.Phone=j.phone
            alp.email=j.email
            alp.voter_id=j.voter_id
            alp.address=j.address
alp.district=j.district
alp.relationship_name=j.relationship_name
            alp.age=j.age
            alp.gender=j.gender
            alp.membership_id=j.membership_id
            
            

            p.push(alp);
        });
        
        JSONToCSVConvertor(p,"Report",true);
    
})

    //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
    function JSONToCSVConvertor(JSONData, ReportTitle, ShowLabel) {
    var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
    
    var CSV = '';    
    //Set Report title in first row or line
    
    // CSV += ReportTitle + '\r\n\n';

    //This condition will generate the Label/Header
    if (ShowLabel) {
        var row = "";
        
        //This loop will extract the label from 1st index of on array
        for (var index in arrData[0]) {
            
            //Now convert each value to string and comma-seprated
            row += index + ',';
        }

        row = row.slice(0, -1);
        
        //append Label row with line break
        CSV += row + '\r\n';
    }
    
    //1st loop is to extract each row
    for (var i = 0; i < arrData.length; i++) {
        var row = "";
        
        //2nd loop will extract each column and convert it in string comma-seprated
        for (var index in arrData[i]) {
            row += '"' + arrData[i][index] + '",';
        }

        row.slice(0, row.length - 1);
        
        //add a line break after each row
        CSV += row + '\r\n';
    }

    if (CSV == '') {        
        alert("Invalid data");
        return;
    }   
    var currentdate = new Date();
var datetime_string =  currentdate.getDate() + "_" + (currentdate.getMonth()+1) + "_" + currentdate.getFullYear() + " _" + currentdate.getHours() + "_" + currentdate.getMinutes() + "_" + currentdate.getSeconds();
    //Generate a file name
    var fileName = "janasena_";
    //this will remove the blank-spaces from the title and replace it with an underscore
    fileName += datetime_string;   
    
    //Initialize file format you want csv or xls
    var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);
    
    // Now the little tricky part.
    // you can use either>> window.open(uri);
    // but this will not work in some browsers
    // or you will not get the correct file extension    
    
    //this trick will generate a temp <a /> tag
    var link = document.createElement("a");    
    link.href = uri;
    
    //set the visibility hidden so it will not effect on your web-layout
    link.style = "visibility:hidden";
    
    link.download = fileName + ".csv";
    //this part will append the anchor tag and remove it after automatic click
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
    
}
 //  end of download csv function
      //
    })
function deleteMembership(id)
{
  console.log(id);
  return true;
}
    </script>
 {% endblock %}

  
     
      







 

  