{% extends "admin_layout.html" %}
{% block head %}
<script type="text/javascript" src="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet"  href="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" />

 <link rel="stylesheet" type="text/css" href="https://rawgit.com/flatlogic/awesome-bootstrap-checkbox/master/awesome-bootstrap-checkbox.css">
 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" />




<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 
<style>
.multiselect-container div.checkbox {
  margin: 0;
}

.multiselect-container label {
  margin: 0;
  white-space: nowrap;
}

.multiselect-container div.checkbox {
  padding: 5px 15px 5px 35px;
}
.loader
{
  z-index:1051 !important;
}
</style>
{% endblock %}
{% block body %}
<div class="container well ">


    <div class="row" style="margin-top: -31px !important;">
        <h1 style="text-align:center">NRI VOlunteers</h1>
    </div>
    <br>

<br>
<div class="row advanced_filters" >
		<div class="col-md-3 col-lg-3 col-sm-12">
		<label for="report_level" style="color:#337ab7" >Region Level:</label>
			<select class="custom-select" id="report_level" style="background: #fff;cursor: pointer; padding: 6px 10px 5px 5px;border: 1px solid #ccc;color: #337ab7;margin-left: 10px;">
    			<option selected value="">Select One</option>
			 
			  <option value="district" >District</option>
			  
			  <option value="assembly">Assembly</option>
			 
			</select>
		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" id="district_div" style="display:none">
			<label for="value_select" style="color:#337ab7" >Select District :</label>
			<select class="custom-select" id="district_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
    </select>
		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" id="value_div" style="display:none">
			<label for="value_select" style="color:#337ab7" >Select :</label>
			<select class="custom-select" id="value_select" style="background: #fff;
    cursor: pointer;
    padding: 6px 10px 5px 5px;
    border: 1px solid #ccc;
    color: #337ab7;
    margin-left: 10px;">
    </select>

		</div>
		<div class="col-md-3 col-lg-3  col-sm-12" >
		<button type="button" class="btn btn-success " id="advanced_filter_btn" style="margin-right:20px;width:100px;font-weight:800">Filter</button>
		</div>
	</div>
	<br>
</div>

<div class="row" id="table_div" style="display:none">
<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
  <table id="operations_table" class="display " cellspacing="0" width="100%" >
        <thead>
            <tr>
      
  
          
          <th>District </th>
          <th>Assembly </th>
           <th>Name </th>
          <th>age</th>
          <th>email</th>
           <th>country</th>
           <th>Phone </th>
            
          <th>city </th>
          <th>profession</th>
          <th>skills</th>
          <th>work as a volunteer</th>
          <th>Full/Part Time</th>
           <th>Work in Abroad</th>
        </tr>
        </thead>
       
        <tbody id="operations_body">

        </tbody>
    </table>
</div>



  </div>
 <script type="text/javascript">
var states=[];
var districts=[];
var assemblies=[];
var parliament_constituencies=[];
var mandals=[];
var polling_booths=[];
var json_data=[];
var myTable;
var result;
var query_data;
$(document).ready(function()
{
var text_max = 160;


  
    var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

function load_data(data)
{
  $(".loader").css("display","block");
    $.ajax({
           type: "GET",
           url:"/nri_volunteersdata",
           data:data,             
            dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.status=='1') {
                
                 result=response.data;
               
               
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  
                  $("#table_div").css("display","block");
                
                
                  $(".loader").css("display","none");
                
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
}
 myTable = $('#operations_table').DataTable( {
                  data:[],
                  columns: 
       [
      
     {data: "district_name"},
      {data: "constituency_name"},
      {data: "name"},
      
      {data: "age"},


      {data: 'email'},
        {data: 'country'},
        {data: 'phone'},
         {data: 'city'},
          {data: 'profession'},
    
    {data: "skills"},
    {data: "work_as_volunteer"},
    {data: "ful_time_or_part_time"},
    {data: "work_in_abroad"},


  
   ],
                  dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]} );

 load_data({});

	 
$("#report_level").change(function()
{
	if($(this).val()=='state')
	{
		$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select state</option>')
        .val('');
		$.each(states, function( index, value ) {
  			 $('#value_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#value_div").css("display","block");
		$("#district_div").css("display","none");
	}
	else if($(this).val()=='district')
	{
		$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
		$.each(districts, function( index, value ) {
  			 $('#value_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#value_div").css("display","block");
		$("#district_div").css("display","none");
	}
	
	else if($(this).val()=='assembly')
	{

		$('#district_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
		$.each(districts, function( index, value ) {
  			 $('#district_select').append($("<option></option>").attr("value",value).text(value)); 
		});
		$("#district_div").css("display","block");
		$('#value_div').css("display","none");
	}
  else if($(this).val()=='mandal')
  {

    $('#district_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select district</option>')
        .val('');
    $.each(districts, function( index, value ) {
         $('#district_select').append($("<option></option>").attr("value",value).text(value)); 
    });
    $("#district_div").css("display","block");
    $('#value_div').css("display","none");
  }
})

$("#advanced_filter_btn").click(function()
{

var selected_ages=[];
var selected_genders=[];
var selected_posts=[];
var selected_categories=[];
	var region_level=$("#report_level").val();
	var selected_value='';
	var district='';
	var data={}
	if(region_level)
	{
	if(region_level=='assembly')
	{

		var district=$("#district_select").val();
		var assembly=$("#value_select").val();
		if(assembly)
		{
				
			data={district:district,assembly:assembly}
		}
		else
		{
			swal('Error','please select assembly ','error');
			return false;
		}
		
	}

	else
	{
		selected_value=$("#value_select").val();
		if (selected_value)
		{
			
				data={district:selected_value}
		}
		else
		{
			swal('Error','please select districte','error');
			return false;
		}

	}
}

	
	load_data(data);
	
   

		
	
});


$('#district_select').change(function()
{
	var district=$(this).val();
  if ($("#report_level").val()=='assembly')
{


	var assemblies=[];
	$('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Assembly</option>')
        .val('');
	 $.each(json_data,function(i,val){
	 	if(val.district_name===district)
	 	{
	 		selected_state=val.state;
	 		 $('#value_select').append($("<option></option>").attr("value",val.constituency_id).text(val.constituency_name)); 
	 	}

	 	 });
	 $('#value_div').css("display","block");
}
else if ($("#report_level").val()=="mandal")
{
  $('#value_select')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Mandal</option>')
        .val('');
   $.each(mandals,function(key,val){
   
    if(key==district)
    {
       $.each(val,function(i,value){
      // selected_state=val.state;
       $('#value_select').append($("<option></option>").attr("value",value.seq_id).text(value.mandal_name)); 
     });
    }

     });
   $('#value_div').css("display","block");
}


});

$.getJSON('/static/json/mandals.json',function(data){
            mandals=data;
          });
$.getJSON('/static/json/constituencies.json',function(data){
            json_data=data;
            $.each(data,function(i,val){
  
 if(states.indexOf(data[i].state) === -1){
        states.push(data[i].state);        
    } 
    if(districts.indexOf(data[i].district_name) === -1){
        districts.push(data[i].district_name);        
    }       
  });
	
 	
        }).error(function(){
            console.log('error');
        });

    $.getJSON('/static/json/parliament_constituencies.json',function(data){
            parliament_json_data=data;
            $.each(data,function(i,val){
  
           if(states.indexOf(data[i].state) === -1){
                  parliament_constituencies.push(data[i].parliament_constituency_name);        
              } 
                   
            });
            
            
                  }).error(function(){
                      console.log('error');
                  });

  }); 
   
function isEmpty(value) {
  return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
}


</script>
{% endblock %}