
{% extends "admin_layout.html" %}
{% block body %}
<style>.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }</style>
<div>
  
  <div class="datagrid">
    <table width='' border='1' id="content">
      <thead>
        <tr>
          <th>SI.No:</th>
          <th>Name </th>
          
          <th>Email </th>
          <th>mobile </th>
          <th>Country </th>
          <th>City </th>
          <th>Profession </th>
           <th>Facebook </th>
           <th>Twitter </th>
        </tr>
      </thead>
      <tbody id="janaswaram">


      </tbody>
    </table>
  </div>

  </div>





 <!--  <div class="modal hide" id="suggestionmodal">
 <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Suggestion</h3>
  </div>
    <div class="modal-body">
        <p id="suggestiontext"></p>
        
    </div>
</div> -->
  <br>
<div class="row">
<div id="pagination" class="col-md-6"></div>
<div id="next_slab" class="col-md-2" style="display:none;">
  <a href="#" id="load_next">Load More</a>
</div>
</div>
<script>
var last_page=0;
 function mypages(mystr){
        var items = $(mystr+" tbody tr");

                var numItems = items.length;
                console.log(numItems);
                var perPage = 100;
                $('#fn').html(numItems);

                
                items.slice(perPage).hide();

                // now setup pagination
                $("#pagination").pagination({
                    items: numItems,
                    itemsOnPage: perPage,
                    cssStyle: "light-theme",
                    onPageClick: function(pageNumber) { // this is where the magic happens
                        // someone changed page, lets hide/show trs appropriately
                        var showFrom = perPage * (pageNumber - 1);
                        var showTo = showFrom + perPage;

                        items.hide() // first hide everything, then show for the new page
                             .slice(showFrom, showTo).show();
                    }
                });
                
                $("#pagination").pagination('selectPage', last_page+1);
                last_page= $("#pagination").pagination('getPagesCount');
          
    }
    $(document).ready(function()
    {

      var index=0;
      var next_marker={};
      var html_str="";
      $(".loader").css("display","block");
       $.ajax({
           type: "GET",
           url: "/getNriData",
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                data=response.data.children.rows;
                next_marker=response.data.children.next_marker;
                var rows="";
                for (item in data)
                {
                  index=index+1;
                   rows=rows+"<tr class='page'><td>"+index+"</td><td>"+data[item].name+"</td><td>"+data[item].email+"</td><td>"+data[item].mobile_num+"</td><td>"+data[item].country+"</td><td>"+data[item].city+"</td><td>"+data[item].profession+"</td><td>"+data[item].facebook_id+" </td><td>"+data[item].twitter_handle+"</td></tr>";
                   
                }

                 $(rows).appendTo("#content");
           mypages("#content");

 
           if (next_marker!={})
           {
            
            $("#next_slab").css('display','block')
           }
           else
           {
            $("#next_slab").css('display','None')
           }
          

                $(".loader").css("display","None");
                 

               } 
               else
               {
 
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.statusText)
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
// end of ajax
      
      
      $("#load_next").click(function()
      {
         $(".loader").css("display","block");
       token=JSON.stringify(next_marker)
        console.log("hello")
         $.ajax({
           type: "GET",
           url: "/getNriData?next_marker="+token,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                data=response.data.children.rows;
                next_marker=response.data.children.next_marker;
                var rows="";
                for (item in data)
                {
                   index=index+1;
                   rows=rows+"<tr class='page'><td>"+index+"</td><td>"+data[item].name+"</td><td>"+data[item].email+"</td><td>"+data[item].mobile_num+"</td><td>"+data[item].country+"</td><td>"+data[item].city+"</td><td>"+data[item].profession+"</td><td>"+data[item].facebook_id+" </td><td>"+data[item].twitter_handle+"</td></tr>";
                   
                  
                }

                 $(rows).appendTo("#content");
           mypages("#content");
         if (Object.keys(next_marker).length > 0) 
           {
            
            $("#next_slab").css('display','block')
           }
           else
           {
            $("#next_slab").css('display','None')
           }
          
                $(".loader").css("display","None");
                

               } 
               else
               {
 
                    alert(response.errors);
                    return false;
               }
                },
           error:function(response)
           {
            console.log(response.statusText)
            $(".loader").css("display","None");
            alert(response.statusText)
             return false;
           }
           
       });
      
      });
      

      // modal function
      $('body').on('click', '.suggestion', function() {

 
     $("#suggestiontext").html("");
     var suggestion=$(this).val();

    $("#suggestiontext").html(suggestion);

     $('#suggestionmodal').modal('show');
   });
      //
    })
    </script>
 {% endblock %}

  
		 
		  







 

  