 <!DOCTYPE html>
<html>
<head>

    <title>JANASENA Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
 <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--  // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>
     <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

 <script src="/static/assets/js/cookies.js"></script>
    <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
    <script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>



    <script src="/static/jquery.simplePagination.js"></script>
    <link href="/static/simplePagination.css" type="text/css" rel="stylesheet"/>

<script type="text/javascript" src="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet"  href="https://rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" />

 <link rel="stylesheet" type="text/css" href="https://rawgit.com/flatlogic/awesome-bootstrap-checkbox/master/awesome-bootstrap-checkbox.css">

 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" />




<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <script type="text/javascript" src="/static/js/internalsms.js"></script>
<style>
.multiselect-container div.checkbox {
  margin: 0;
}

.multiselect-container label {
  margin: 0;
  white-space: nowrap;
}

.multiselect-container div.checkbox {
  padding: 5px 15px 5px 35px;
}
.loader
{
  z-index:1051 !important;
}
#operations_table
{
  table-layout:fixed;
}
#operations_table th:nth-child(6)
{
  width:110px !important;
} 
#operations_table th:nth-child(7)
{
  width:200px !important;
} 
#operations_table th:nth-child(4)
{
  width:140px !important;
} 
#operations_table th:nth-child(8)
{
  width:200px !important;
} 
.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
.role_btn
{
  margin-left:30px !important;
}
.photo_zoomimg {
 border: none;
 margin: 0 auto;
}
.table_header
{
  margin-bottom:20px !important;
}
.photo_zoomimg:hover {
 -webkit-transform: scale(3.0);
 -moz-transform: scale(3.0);
 -o-transform: scale(3.0);
 transform: scale(3.0);
 transition: all 0.3s;
 -webkit-transition: all 0.3s;
}
</style>
</head>
<body>
  <div class="loader">
                <div class="spinner">
                    <svg width='48px' height='48px' xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100"
                         preserveAspectRatio="xMidYMid" class="uil-hourglass">
                        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                        <g>
                            <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10"
                                  d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z"
                                  class="glass"></path>
                            <clipPath id="uil-hourglass-clip1">
                                <rect x="15" y="20" width="70" height="25" class="clip">
                                    <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite"
                                             vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                                    <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite"
                                             vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                                </rect>
                            </clipPath>
                            <clipPath id="uil-hourglass-clip2">
                                <rect x="15" y="55" width="70" height="25" class="clip">
                                    <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite"
                                             vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                                    <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite"
                                             vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                                </rect>
                            </clipPath>
                            <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z"
                                  clip-path="url(#uil-hourglass-clip1)" fill="#ffab00" class="sand"></path>
                            <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z"
                                  clip-path="url(#uil-hourglass-clip2)" fill="#ffab00" class="sand"></path>
                            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50"
                                              repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50"
                                              keyTimes="0;0.7;1"></animateTransform>
                        </g>
                    </svg>
                </div>
            </div>
<div class="container well ">
<div class="row">
<!-- target modal -->	

	
	




    <div class="row" style="margin-top: -31px !important;">
        <h1 style="text-align:center; color:#d81615">Parliament Committee Portal</h1>
    </div>
    <br>

<div class="row">
                <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
                  <label> Parliament</label>
                  <div class="login_field">
                      <select name="parliament" id="parliament" class="form-control" required=""
                              style="   border-radius: 1px;    border-color: cadetblue;">
                          <option value="" selected="">Select Parliament</option>
                      </select>
                  </div>
              </div>
              
                <!--  <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
                <label> Role</label>
                <div class="login_field">
                    <select name="role" id="role" class="form-control" required=""
                            style="   border-radius: 1px;    border-color: cadetblue;">
                        <option value="" selected="">Select Role</option>
                         <option value="executive committee" >Executive Committee</option>
                          <option value="working committee" >Working Committee</option>
                          <option value="aspirant" >Aspirant</option>
                          <option value="cadre" >Cadre</option>
                    </select>
                </div>
                </div> -->
              
               

                  <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
                     <button type="button"  id="filter" class="btn btn-success" style="width:122px;height:38px;    margin-top: 23px;">Filter</button>
                     </div>

         </div>
<br>
<br>
<div class="row" id="table_div" >


<div class="row datagrid" style="margin: 20px 20px 20px 20px;">
	<table id="operations_table" class="display " cellspacing="0"   style="table-layout:fixed">
    <tr style="display:none"><td> <a  href="" id="pdf_downloader" download style="display:none"></a></td></tr>
        <thead class="table_header">
            <tr >
          
          <th>SI No</th>
          <th>Parliament </th>
          <th>Assembly </th>
          <th>name</th>
            <th>Mobile</th>
           <th>Caste</th>
            <th>photo</th>
           
             <th >Designation</th>
            

       
          
           <th>age </th>
            
          <th>Gender </th>
        
         <th>JSP ID</th>
        
          
         
           
        </tr>
        </thead>
       
        <tbody id="operations_body">

        </tbody>
    </table>
  <div class="row" id="pdf_receipt_div" style="display":"none">

   <iframe id="pdf_file" frameborder="0"></iframe>
   
  </div>
</div>

  </div>
 <script type="text/javascript">

var myTable;
var result;
$(document).ready(function()
{

    var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
var selected_skills=[];

 $.getJSON('/static/json/constituency_pc_mand.json', function (data) {
    mandals = data;
    data.forEach(district_data => {
    $('#parliament')
        .append($("<option></option>")
        .attr("value", district_data['parliament_constituency_name'])

        .text(district_data['parliament_constituency_name']));
    });



      var map = {};
    $('#parliament option').each(function () {
            if (map[this.value]) {
              $(this).remove()
            }
            map[this.value] = true;
        });

    });








    $("#filter").click(function()
{
var parliament=$("#parliament").val();


var data={};
data['parliament']=parliament;

console.log(data)
$(".loader").css("display","block");
    $.ajax({
           type: "POST",
           url:"/parliament_committee_details",
             data:JSON.stringify(data),
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
             $(".loader").css("display","none");
               if (response.status=='1') {
                result=response.data;
               console.log(result)
               
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  
                  $("#table_div").css("display","block");
                
                  
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });

})




 
	  myTable = $('#operations_table').DataTable( {
                  data:[],
                 
                  columns: 
       [{data: 'seq_id'},
       {data: 'parliament'},
      
     {data: "assembly"},
      {data: "name"},
       {data: "phone"},
        {data: "caste"},
       
        {
    "data": "image_url",
    "render": function(data, type, row) {
      if(data!='')
      {
        return '<img src="'+data+'" width=100 height=100  class="photo_zoomimg" />';
      }
      else
      {
        return '<span>No photo</span>';
      }
        
    }
     },
         
          
            
       {data: "designation"},
      
          {data: 'age'},

    
    {data: "gender"},

  
   {data: "membership_id"}

    
    
     

    
  
   ],
                  dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]} );




});



</script>
</body>
</html>