<html>
<head>
<meta charset='UTF-8'>
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
<style>
    body{

background: #ffffff;
        
    }
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
</style>
    
</head>
<body>
    
    <div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 50px">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <div class="account-wall">
                 <p style="text-align: center; margin-top: 50px; margin-bottom: 10px;"><img src="static/img/logo.png" width="100px" /></p>
                 {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="alert alert-success">
                            <ul class="flashes">
                            {% for message in messages %}
                              <li style="color:red;">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% endwith %}
                <form class="form-signin" method="post">
                    <h2 style="text-align:center">Reset Password!</h2>
                  <span style="color:red;">Password Must be 8 Characters Long</span>   
                <input type="password" id='newpass' name='newpass' class="form-control newp" placeholder="New Passowrd" required autofocus>
                <input type="password" id='confirmpass' name='confirmpass' class="form-control confirmp" placeholder="Password" required>
                <span class='errormsg' style="Display:None; color:red;"> They Don't Match</span>
                <button class="btn btn-lg btn-primary btn-block" id="cpsubmit" type="submit" disabled>
                    Go!</button>
                
                <a href="/admin" class="pull-right need-help">Login </a><span class="clearfix"></span>
                </form>


            </div>

        </div>
    </div>
</div>
    
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script>
 $(document).ready(function(){

 $('.confirmp, .newp').keyup(function(){

    var newpass = $("#newpass").val();
    var confirmpass = $("#confirmpass").val();
    
   
    passOne = newpass;
    passTwo = confirmpass;
    
    checkAndChange();
  
     });

var checkAndChange = function()
  {
    
    if(passOne.length < 8){
      $('.errormsg').text('password must be 8 Characters Long');
       $('.errormsg').show();
      $('#cpsubmit').attr('disabled',true);
    }
    else
    {
          if(passOne == passTwo){
           $('.errormsg').hide();

          $('#cpsubmit').attr('disabled',false);


          }
          else
          {
            $('#cpsubmit').attr('disabled',true);
          $('.errormsg').text('They Dont match');
          $('.errormsg').show();
          }
}
      
  }
});
 </script>   
</html>