{% extends "admin_layout.html" %}
{% block body %}
<style>
label,span{
  font-weight: bold;
    color: #3F51B5;
}.loader
{
  z-index:1051 !important;
}

    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>


<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
<div class="container">
  

  <!-- change photo modal -->
  <div class="modal fade " id="change_photo_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center">
        <h5 class="modal-title" id="exampleModalLabel"> Upload Passport Photo </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="target_body" style="text-align:center">
       
          <div class="form-group" style="text-align:center">
           <p >Name: <span id="photo_name"></span></p>
           <p >Membership ID: <span id="photo_membership_id"></span></p>
           
           
          </div>
          <div class="form-group row" style="text-align:center;margin:30px">
           
            <label for="photo_file" class="form-control-label">Choose File:</label>
             <input type="file" id="photo_file"  name="photo_file" accept="image/*">
            
         </div>
          <div class="row">
             <button type="button" id="update_photo" class="btn btn-primary">Submit</button>
       
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
       
      </div>
      <div class="modal-footer">
       
       

       
      </div>
    </div>
  </div>
</div>
  <!-- end of change photo modal -->
    <!-- target modal -->   
<div class="modal fade " id="targetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center">
        <h5 class="modal-title" id="exampleModalLabel"> Delete Membership </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="target_body" style="text-align:center">
       
          <div class="form-group" style="text-align:center">
           <p >Name: <span id="name"></span></p>
           <p >Membership ID: <span id="membership_id"></span></p>
           
           
          </div>
          <div class="form-group row" style="text-align:center;margin:30px">
           
            <label for="target_number" class="form-control-label">Reason For Deletion:</label>
             
            <textarea rows="2" cols="100" class="form-control" id="reason"></textarea>
         </div>
          <div class="row">
             <button type="button" id="delete_membership" class="btn btn-primary">Submit</button>
       
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
       
      </div>
      <div class="modal-footer">
       
       

       
      </div>
    </div>
  </div>
</div>

<!-- target modal -->
    <div class="row">
       
      <div class="col-md-5 col-md-offset-3 col-lg-5 col-lg-offset-3">
        <h5 style="
      text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: #3F51B5;
    font-size: 18px;
    margin-top: 40px;
    padding-bottom: 20px;">Search Membership Details </h5>
    <form class="form-inline" id="searchForm" method="post">
        <div class="row clearfix">
        <span>Search With:</span> 
        <label ><input type="radio" name="number" value="phno" checked>Phone </label> &nbsp;&nbsp;
        <label ><input type="radio" name="number" value="membid">Membership ID</label></div>
       
        <div class="row clearfix" style="padding-top: 20px;">
         <label  id="phno">Enter phone number:</label>
            <input type="text" class="form-control" name="serachForm" value="" id =text placeholder="Enter Here">
        <button type="button" class="btn btn-primary" id="btn" >Fetch</button>
        <p><span>please add country code before phone number like 91XXXXXXX91</span></p>
    </div>
         </form>
     </div>
 </div>
        <div class="row userdetails"><br>
            <br>
       
            <div class="row datagrid" id="table_div" style="margin: 20px 20px 20px 20px;display:none">
           
            <table id="operations_table" class="table table-striped table-bordered ">
                <thead>
                <tr>
                  <th>Name </th>
                    <th>Father/Husband</th>
                    <th>Age </th>
                    <th>PS No </th>
                    <th>Gender </th>
                    <th>Qualification </th>
                    <th>Mobile</th>
                    <th>Email </th>
                    <th>achievement</th>
                    <th>assembly </th>
                    <th>Parliament </th>
                    <th>JSP ID </th>
                    <th>Voter ID</th>
                    <th>Photo </th>
                    <th>Change Photo </th>

                    <th>Delete</th>

                </tr>
                </thead>

                <tbody id="operations_body">

                </tbody>
            </table>
        </div>
        </div>
   
</div>

                
                   

<script type="text/javascript">
    $(document).ready(function () {
        myTable = $('#operations_table').DataTable( {
            data:[],
            columns:[
              {data: 'name'},
                {data: 'relationship_name'},
                {data: "age"},
                {data: 'polling_station_id'},
                {data: "gender"},
                {data: 'qualification'},
                {data: "phone"},
                {data: "email"},
                {data: 'achievement'},
                {data: "constituency_name"},
                {data: "parliament_constituency_name"},
                {data: "membership_id"},
                 {data: "voter_id"},
               {
    "data": "image_url",
    "render": function(data, type, row) {
        return '<img src="'+data+'" width=100 height=100 />';
    }
},
 {
            "targets": -1,
            "data": null,
            "defaultContent": "<button class='photo btn-info'>Change Photo</button>"
        },
                {
            "targets": -1,
            "data": null,
            "defaultContent": "<button class='target btn-info'>Delete</button>"
        }],
        dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]


            } );

        $("input[type=radio][name=number]").on('change', function () {
            var selectedValue = $("input[name='number']:checked").val();
            if (selectedValue == 'phno') {
                $("#phno").html("Enter phone number");


            }
            else {
                $("#phno").html("Enter Membership ID");

            }
        });
                $('#btn').on('click', function () {
                    var fd = new FormData();
                    var selectedValue = $("input[name='number']:checked").val();
                    if (selectedValue == 'phno') {
                        var phone = $("#text").val();
                        fd.append("value", phone);
                        fd.append("type", "p");
                    }
                    else {
                        var member = $("#text").val();
                        fd.append("value", member);
                        fd.append("type", "m");
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/searchMember',
                        data:fd,
                        processData: false,
                        contentType: false,
                        success: (function (response) {
                            var responsedata = JSON.parse(response);
                            console.log(responsedata)
                                        if (responsedata.data.status == '1') {
                                            var children = responsedata.data.children;

                                            myTable.clear().draw()
                                            myTable.rows.add( children ).draw()

                                            $("#table_div").css("display","block");
                                        }
                                        else{
                                          errors:(response.error)
                                        }

                                    })
                                });
                            })


$("#operations_table tbody").on( 'click', 'button', function () {

 
  var currentRow=$(this).closest("tr"); 

    $('tr').removeClass('active');
     // removes all highlights from tr's
    
    $(currentRow).addClass('active');
         
         var name=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
         var membership_id=currentRow.find("td:eq(12)").text();
        if($(this).hasClass("photo"))
       {
        $("#photo_name").text(name)
         $("#photo_membership_id").text(membership_id);
          $('#change_photo_modal').modal('show');

       }
else
{
 $("#name").text(name)
         $("#membership_id").text(membership_id);
         $("#reason").val("");
 
          $('#targetModal').modal('show');
}
        

         // get current row 
        
});


$("#update_photo").click(function()
{


     // adds the highlight to this row
 
    var file=$("#photo_file")[0].files[0];
    var membership_id=$("#photo_membership_id").text();
    
    var formData = new FormData();
    formData.append('file', file);
    formData.append('membership_id',membership_id);
      $(".loader").css("display","block");
    $.ajax({
           type: "POST",
           url:"/saveMemberProfileImageApp",
             data:formData,
           contentType: false, //need this
      processData: false, //need this
      cache: false,
           success: function (response) {
              console.log(response)
              response=JSON.parse(response)
               if (response.data.status=='1') {
                
                 $('#change_photo_modal').modal('hide');
               
                swal('Success',"photo uploaded Successfully",'success')
                  $(".loader").css("display","none");
                  
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert("something wrong")
             return false;
           }
           
       });
 
})

$("#delete_membership").click(function()
{


     // adds the highlight to this row
 
    var reason=$("#reason").val();
    var membership_id= $(this).closest('tr').find('td')[12].innerHTML
    // var membership_id=$("#membership_id").text();
    
    data={membership_id:membership_id,reason:reason}
    console.log(data)
    //  ajax function here
      $(".loader").css("display","block");
    $.ajax({
           type: "POST",
           url:"/deleteMembership",
           data:JSON.stringify(data),             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.status=='1') {
                
                 $('#targetModal').modal('hide');
                 myTable.row('.active').remove().draw( false );
                swal('Success',"Membership Deleted Successfully",'success')
                  $(".loader").css("display","none");
                  
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert("something wrong")
             return false;
           }
           
       });
 
})
        });
</script>

{% endblock %}