{% extends "admin_layout.html" %}
{% block body %}

  <style>

  #custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
  }

  #custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  #custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .search-query:focus + button {
    z-index: 3;
  }
</style>
</head>

	{% include 'loader.html' %}
<div class="container">

	<h4 style= "
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: #3F51B5;
   font-size:18px;
    margin-top: 40px;
    padding-bottom: 20px;
">Search with  Photo Identity Card Number</h4>
  <div class="row">
   
    	<div class="col-md-6 col-md-offset-4 col-xs-12 form-inline">
      <label class="info" style="font-weight:bold;color: #3F51B5;"> Enter Voter ID:</label>
      <input type="text" name="voter_id_val" id="voter_id_val" class="form-control"  placeholder="Enter Valid Voter ID" style="text-transform:uppercase">
       <input type="button" value="Fetch" id="btn" class="btn btn-primary" >
  		</div>
     </div>
     <div class="col-md-12 col-md-offset-4">
      <div class="userdetails" style="display:none;color:black"><br>
        <h5 style="color:#d81615;">Below are the details as per your Voter ID</h5>
        <br>
        <div class="card">
          <div class="card-body">
        <h5 style="font-weight:300; padding:0; margin:0; line-height:2em;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="text-red" width="38%"><label for="voter_id" class="namevoter ">Voter Id:</label></td>
              <td><span id="voter_id"  class="namevoter"  ></span></td>
            </tr>
            <tr>
              <td  class="text-red" width="38%"><label for="voter_name" class="namevoter text-red"> Voter Name:</label></td>
              <td><span id="voter_name"  class="namevoter"   ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="relation_name" class="udetails text-red">Relation Name:</label></td>
              <td class="black-text"><span id="relation_name"  class="udetails"  ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="relation_type" class="udetails text-red">Relation Type</label></td>
              <td class="black-text"><span id="relation_type"  class="udetails"  ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="age" class="udetails text-red">AGE:</label></td>
              <td class="black-text"><span id="age"  class="udetails"   ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="gender" class="udetails text-red">Gender:</label></td>
              <td class="black-text"><span id="gender"  class="udetails"   ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="house_no" class="udetails text-red">H.NO:</label></td>
              <td class="black-text"><p id="house_no"  class="udetails"   ></p></td>
            </tr>


            <tr>
              <td class="text-red"><label for="part_no" class="udetails text-red">Polling Booth ID:</label></td>
              <td class="black-text"><span id="part_no"  class="udetails"  ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="section_name" class="udetails text-red">Booth Address:</label></td>
              <td class="black-text"><span id="section_name"  class="udetails"  ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="constituency_name" class="udetails text-red">Assembly Constituency:</label></td>
              <td class="black-text"><span id="constituency_name"  class="udetails"  ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="district_name" class="udetails text-red">District:</label></td>
              <td class="black-text"><span id="district_name"  class="udetails"  ></span></td>
            </tr>
            <tr>
              <td class="text-red"><label for="state" class="udetails text-red">state:</label></td>
              <td class="black-text"><span id="state"  class="udetails"  ></span></td>
            </tr>
          </table>
        </h5>
          </div>
        </div>
        </div>

    </form>

    <script type="text/javascript">
        $(document).ready(function() {
        	var csrftoken = $('meta[name=csrf-token]').attr('content')
        	$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
          $('#btn').on('click', function () {
          $("p").remove(".validation");
            var data = $('#voter_id_val').val();
            console.log(data)
            if(data=='')
            {
            	$("#voter_id_val").parent().append("<p class='validation' style='color:red;text-align:center'>Enter Valid Voter ID</p>");
				$("#voter_id_val").focus();
            	return false;
            }
            	$('.loader').css('display','block');
            $.ajax({
              type: 'POST',
              url: '/searchVoterID?voter_id=' + data,
            success: function (response) {
              var responsedata =JSON.parse(response);
              $('.loader').css('display','None');
              if(responsedata.data.status=='1')
              {
                var children=responsedata.data.children;
                $("#voter_id").html(children.voter_id);
                $("#voter_name").html(children.voter_name);
                $("#relation_name").html(children["relation_name"]);
                $("#relation_type").html(children["relation_type"]);

                $("#age").html(children["age"]);
                $("#gender").html(children["sex"]);
                $("#house_no").html(children["house_no"]);
                $("#constituency_name").html(children["constituency_name"]);
                $("#district_name").html(children["district_name"]);
                if(children["state"]=='1')
                {
                	$("#state").html("Andhra Pradesh");
                }
                else
                {
                	$("#state").html("Telangana");
                }
                
                $("#section_name").html(children["section_name"]);
                $("#part_no").html(children["part_no"]);
                $(".userdetails").css("display","inline-block")
              }
             else
              {
              	$(".userdetails").css("display","None")
                swal('Info',responsedata.errors[0],'info')
              }

            },
            error:function(response)
           {
           
           
            $(".loader").css("display","None");
            swal('Error',"something wrong. please reload page and try again",'error')
            return false;
           }
          });
        })
 })
      </script>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>
{% endblock %}