<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/volunteer/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/volunteer/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/volunteer/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/volunteer/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/volunteer/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/volunteer/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/volunteer/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/volunteer/css/mine.css">
<!--===============================================================================================-->
</head>
<body>
    {% include 'loader.html' %}
    <div class="row">
    <button class="tablink" onclick="openPage('total', this, 'red')" id="defaultOpen">Total</button>
<button class="tablink" onclick="openPage('today', this, 'green')"  >Today</button>
<button class="tablink" onclick="openPage('datewise', this, 'grey')" >Date Wise</button>
 <a href="{{url_for('admin_dash.logout')}}" class="tablink"><button   >Logout</button></a>

    <div class='tabcontent' id='total'>
        <div class='row mybox'>
        <div class='col-md-4 col-sm-6 col-lg-4 col-xs-6 my_heading'>Total Memberships with Details:<span id='total_memberships'></span></div>
        <div class='col-md-4 col-sm-6 col-lg-4 col-xs-6 my_heading'>App Downloads:<span id='app_downloads'></span></div>
        <div class='col-md-4 col-sm-6 col-lg-4 col-xs-6 my_heading'>Referral Memberships:<span id='referral'></span></div>
        
    </div>

        <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
                <h3 style="text-align:center;color:#d81615">TOP 50 Active Volunteers</h3>
				<div class="table100 ver1 m-b-110">

					<div class="table100-head">

						<table>
							<thead>
								<tr class="row100 head">
                                    <th class="cell100 column1">SI.No</th>
                                    <th class="cell100 column2">District</th>
                                    <th class="cell100 column3">Constituency</th>
                                    <th class="cell100 column4">Name</th>
                                   
                                    <th class="cell100 column5">Count</th>
                                    <th class="cell100 column6">Membership id</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody id='top_10'>
								

							</tbody>
						</table>
					</div>
				</div>

				
			</div>
		</div>
	</div>
    </div>

    <div class='tabcontent' id='today'>
        <div class='row mybox'>
             <div class='col-md-4 col-sm-6 col-lg-4 col-xs-6 my_heading'>Today Memberships with Details:<span id='today_memberships'></span></div>
              <div class='col-md-4 col-sm-6 col-lg-4 col-xs-6 my_heading'>Today App Downloads:<span id='today_downloads'></span></div>
            <div class='col-md-4 col-sm-6 col-lg-4 col-xs-6 my_heading'>Referral Memberships:<span id='today_referrals'></span></div>
           
           
             

        </div>
    
        <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
                <h3 style="text-align:center;color:#d81615">TOP 50 Active Volunteers</h3>
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
                        
						<table class="table">
							<thead>
								<tr class="row100 head">
                                    <th class="cell100 column1">SI.No</th>
									<th class="cell100 column2">District</th>
									<th class="cell100 column3">Constituency</th>
									<th class="cell100 column4">Name</th>
                                   
                                    <th class="cell100 column5">Count</th>
                                    <th class="cell100 column6">Membership id</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody id='top_today_10'>
								

							</tbody>
						</table>
					</div>
				</div>

				
			</div>
		</div>
	</div> 
   
    </div>
     <!-- end of today -->
    <div class='tabcontent' id='datewise'>
        <div class='row mybox'>
                
        <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <h3 style="text-align:center;color:#d81615">Date Wise Counts</h3>
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        
                        <table class="table">
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">SI.No</th>
                                    <th class="cell100 column2">Date</th>
                                    <th class="cell100 column3">Membership With Details</th>
                                    <th class="cell100 column4">App Downloads</th>
                                   
                                    <th class="cell100 column5">Referral Memberships</th>
                                   
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody id='datewise_body'>
                                

                            </tbody>
                        </table>
                    </div>
                </div>

                
            </div>
        </div>
    
    </div>
    
  </div>
       
	
	
    
    


<!--===============================================================================================-->	
	<script src="static/volunteer/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/volunteer/vendor/bootstrap/js/popper.js"></script>
	<script src="static/volunteer/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/volunteer/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/volunteer/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>

        function openPage(pageName, elmnt, color) {
    // Hide all elements with class="tabcontent" by default */
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Remove the background color of all tablinks/buttons
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }

    // Show the specific tab content
    document.getElementById(pageName).style.display = "block";

    // Add the specific color to the button used to open the tab content
    elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
                
                
			})
            
            
            var get_data = function(){
                $('.loader').css("display","block");
                var url = '/admin/getPowerchamps'
                var tm = $('#total_memberships');
                var ad = $('#app_downloads');
                var ref = $('#referral');
                var top10 = $('#top_10');
//              Today


                var today_referrals = $('#today_referrals');
                var today_downloads = $('#today_downloads');
                var today_memberships = $('#today_memberships');
               
                var top_today_10 = $('#top_today_10');
                var date_wise_div=$("#datewise_body");
                
                $.ajax({
                    url: url, 
                    success: function(result){
                        var response = JSON.parse(result);
                        if (response.data.status=='0')
                        {
                            
                            $('.loader').css("display","none");
                            return false;
                        }
                        
                        var children = response.data.children;
                        var datewise_data=children.datewise_data;
                        var total_memberships_count = children['total']['total_memberships'];
                        var app_downloads = children['total']['total_app_installs'];
                        var referral_members = children['total']['top_ten_referrals'];
                        
                        var total_ref = children['total']['total_memberships_through_app'];
                        
                        var data_today = children['today']['top_ten_referrals'];

                        
                        var t2html = '';
                        var d2html='';
                        tm.html(total_memberships_count);
                        ad.html(app_downloads);
                        ref.html(total_ref);
                        
//                        today
                        today_referrals.html(children['today']['total_memberships_through_app']);
                        today_downloads.html(children['today']['total_app_installs']);
                        today_memberships.html(children['today']['today_total_memberships']);
                        // today_missedcalls.html(children['today']['today_total_missedcalls'])
                        var table_html = ""
                        for(var i = 0; i<referral_members.length;i++){
                            table_html += `
                                <tr class="row100 body">
                                    <td class="cell70 column1">{index}</td>
									<td class="cell70 column2">{district}</td>
									<td class="cell70 column3">{constituency}</td>
									
									<td class="cell70 column4">{name}</td>
                                   
									<td class="cell70 column5">{count}</td>
                                    <td class="cell70 column6">{membership_id}</td>
								</tr>

                            `.replace('{index}',i+1) 
                            .replace('{district}',referral_members[i]['district_name'])
                            .replace('{constituency}',referral_members[i]['constituency_name'])
                            .replace('{polling_station}',referral_members[i]['polling_station'])
                            .replace('{name}',referral_members[i]['name'])
                            
                            .replace('{count}',referral_members[i]['count'])
                            .replace('{membership_id}',referral_members[i]['membership_id'])
                        }

                        for(var i = 0; i<data_today.length;i++){
                            t2html += `
                                <tr class="row100 body">
                                 <td class="cell70 column1">{index}</td>
									<td class="cell70 column2">{district}</td>
									<td class="cell70 column3">{constituency}</td>
									
									<td class="cell70 column4">{name}</td>
									<td class="cell70 column5">{count}</td>
                                    
                                    <td class="cell70 column6">{membership_id}</td>
								</tr>
                            `.replace('{index}',i+1) 
                            .replace('{district}',data_today[i]['district_name'])
                            .replace('{constituency}',data_today[i]['constituency_name'])
                            .replace('{polling_station}',data_today[i]['polling_station'])
                            .replace('{name}',data_today[i]['name'])
                            
                            .replace('{count}',data_today[i]['count'])
                            .replace('{membership_id}',data_today[i]['membership_id'])
                        }
                        var d2_html;
                        d2_html=date_wise_table(datewise_data);
                        date_wise_div.html(d2_html);
                        top10.html(table_html);
                        top_today_10.html(t2html);
                        
                     $('.loader').css("display","none");   
                        
                    }
                });
            }
            
            get_data();
		});
			
		function date_wise_table(datewise_data)
        {
            var d2html='';
            for(var i = 0; i<datewise_data.length;i++){
                            d2html += `
                                <tr class="row100 body">
                                <td class="cell70 column1">{index}</td>
                                 <td class="cell70 column2">{date}</td>
                                    <td class="cell70 column3">{memberships}</td>
                                    <td class="cell70 column4">{app_downloads}</td>
                                    
                                    <td class="cell70 column5">{referrals}</td>
                                    
                                </tr>
                            `.replace('{index}',i+1) 
                            .replace('{date}',datewise_data[i]['date'])
                            .replace('{memberships}',datewise_data[i]['memberships'])
                            .replace('{app_downloads}',datewise_data[i]['downloads'])
                            .replace('{referrals}',datewise_data[i]['referrals'])
                            
                        }
                        return d2html;

        }
	</script>
<!--===============================================================================================-->
	<script src="static/volunteer/js/main.js"></script>

</body>
</html>