
{% extends "admin_layout.html" %}
{% block body %}
<style>
/*.changepassword{  
  display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:300%;
    z-index:1000;
    background-color:rgba(0,0,0,0.8);
 } */

</style>
<div class="changepassword">

    <div class="row" >
    <div class="col-xs-6 col-md-6 col-sm-12 col-xs-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Create  New Office</h3>
      </div>
      <div class="panel-body">
        <form>
        
        <input class="form-control " type="text"  id='location_name' placeholder="Location Name "  required><br>
         <select name="district" id="district" class="form-control " required>
          {% for item in data %}
        <option value="{{item}}">{{item }}</option>
    {% endfor %}
</select><br>
  <select name="assembly" id="assembly" class="form-control " required>
         
        <option value="">Select Assembly Constituency</option>
   
  
  
</select><br>
         <input class="form-control " type="text"  id='address' placeholder="Enter New Office Address " required><br>
       
        <input class="btn btn-primary form-control" id='submitofficelocation'  type="submit">
       
</form>
      </div>

    </div>
    </div>
    </div>

</div>
<script>
 var csrftoken = $('meta[name=csrf-token]').attr('content');
 $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
$(document).ready(function(){




$('#submitofficelocation').click(function()
{
  
  
  var location_name=$("#location_name").val();
  var district=$("#district").val();
  var assembly=$("#assembly").val();
  var address=$("#address").val();

  data={location_name:location_name,district:district,assembly:assembly,address:address}
 $.ajax({
                    url: "/createOfficeLocation",
                    type: "POST",
                    data:data,
                    dataType: 'json',
                    success: function(result){ 
                     
                     
                        if(result.data.status=='1')
                            {
                               
                             alert('New OfficeLocation Created Successfully ');

                           
window.location.href="{{url_for('.createOfficeLocation')}}";

                }
                else{
                alert(result.errors);
                
                }
                }
                });  


});


$("#district").change(function()
{
  var district=$("#district").val();
  $.ajax({
           type: "GET",
           url: "/getAssemblyConstituencies?district="+district,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
          $('#assembly')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
                var constituency_list=response.data.children;
          $.each(constituency_list, function (i, item) {
          $('#assembly').append($('<option>', { 
          value: item.assembly,
          text : item.assembly 
          }));
          });

                // constituency
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });

})
})
</script>
{% endblock %}