
{% extends "admin_layout.html" %}
{% block body %}
<style>


</style>
<div class="changepassword">

    <div class="row" >
    <div class="col-xs-6 col-md-6 col-sm-12 col-xs-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Create  Admin</h3>
      </div>
      <div class="panel-body">
        <form id="frontdescform" name="frontdescform">
        <span style="color:red;">Password Must be 8 Characters Long</span>
        <input class="form-control " type="text"  id='firstname' placeholder="First Name "  required><br>
         <input class="form-control " type="text"  id='lastname' placeholder="last name " required><br>
        <input class="form-control" type="email" id='email' placeholder="User Email" required><br>
        <input class="form-control " type="password" id='password'  placeholder="password" required><br>
        <input class="form-control " type="text" id='mobile'  placeholder="Mobile Number" required><br>
        <select name="location_id" id="location_id" class="form-control " required>
          {% for location in data %}
        <option value="{{location.seq_id}}">{{location.office_name}}</option>
    {% endfor %}
  
  
  
</select><br> <br>
        
       
        <input class="btn btn-primary form-control" id='submitfrontdesk'  type="submit">
       
</form>
      </div>

    </div>
    </div>
    </div>

</div>
<script>
var csrftoken = $('meta[name=csrf-token]').attr('content');
 $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
$(document).ready(function(){




$('#frontdescform').submit(function(e)
{
  e.preventDefault();
  console.log("hello submitted");
  var password=$('#password').val();
  if (password.length<8)
  {
alert("password should be 8 characters Long")
return false;
  }
  var firstname=$("#firstname").val();
  var lastname=$("#lastname").val();
  var email=$("#email").val();
  var mobile=$("#mobile").val();
  var location_id=$("#location_id").val();

  data={uname:email,first_name:firstname,last_name:lastname,password:password,location_id:location_id,mobile:mobile}
 $.ajax({
                    url: "/createFrontDeskUser",
                    type: "POST",
                    data:data,
                    dataType: 'json',
                    success: function(result){ 
                     
                     
                        if(result.data.status=='1')
                            {
                               
                             alert('FrontDesk Person Created Successfully ');

                           
window.location.href="{{url_for('.createFrontDeskUser')}}";

                }
                else{
                alert(result.errors);
                return false;
                
                }
                }
                });  


});

})
</script>
{% endblock %}