{% extends "visitors/frontdesk_layout.html" %}

{% block body %}
 {% include "visitors/loader.html" %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/assets/css/sweetalert.css">

<style>
</style>
 <div class="row container" style="margin:-20px 20px 20px 20px;padding:10px 10px 10px 10px;">
 	<h1 style="text-align:center">Today Visitors List</h1>
<div class="clearfix"></div>

	<table class="table table-responsive" style="color:black;">
		 <thead>
    <tr>
      <th>S.No</th>
      <th> Name:</th>
      <th>Mobile</th>
      <th>Email</th>
      <th> District</th>
      <th>Assembly</th>
      <th>Gender</th>
      
      <th>Category</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
  	 {% for item in data %}
  	 <tr>
  	 	<td>{{loop.index}}</td>
  	 	<td>{{item.name}}</td>
      <td>{{item.mobile}}</td>
      <td>{{item.email}}</td>
      <td> {{item.district}}</td>
      <td>{{item.assembly}}</td>
      <td>{{item.gender}}</td>
      
      {% if item.category=='V'  %}
      <td>Visitor</td>
      <td></td>
       {% elif item.category=='P'  %}
        <td>Phone Call</td>
      <td></td>
      {% elif item.category=='I'  %}
      <td>Issue</td>

          {% if item.file_url   %}
           <td><a href="{{item.file_url}}">open</a></td>
          
           {% else  %}
           <td> No Attachment</td>
            {% endif %}
       {% elif item.category=='L'  %}
      <td>Letter</td>

        {% if item.file_url  %}
         <td><a href="{{item.file_url}}">open</a></td>
        
         {% else  %}
         <td> No Attachment</td>
          {% endif %}
      {% else  %}
       <td>Reference</td>
       {% if item.file_url  %}
       <td><a href="{{item.file_url}}">open</a></td>
      
       {% else  %}
       <td> No Attachment</td>
        {% endif %}
      {% endif %}
     
      
  	 </tr>
  	  {% endfor %}
  </tbody>
 
</table>
 	</div>


{% endblock %}