{% extends "visitors/frontdesk_layout.html" %}

{% block body %}
 {% include "visitors/loader.html" %}


 <meta name="csrf-token" content="{{ csrf_token() }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/assets/css/sweetalert.css">
<style>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}
input[type=number] {
    -moz-appearance:textfield;
}
label
{
  color:black !important;
}
</style>
 
<script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>

 
       
        <div class="row container" style="margin:-20px 20px 20px 20px;padding:10px 10px 10px 10px;">
          <!-- border:1px solid;border-color:#d81615; -->
        

        
          <h1 style="text-align:center">Visitors Form</h1>
          <div class="clearfix"></div>
          <div class=" row col-md-offset-2 col-lg-offset-2; ">

   {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="alert alert-success">
                            <ul class="flashes">
                            {% for message in messages %}
                              <li style="color:red;">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% endwith %}
    <form role="form" name="visitors_form" method="post" enctype="multipart/form-data">
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
          <label class="col-md-2 col-lg-2 col-sm-10" for="category"> Category: </label>
            <label class="col-md-2 col-lg-2 col-sm-10">
                <input  type="radio" name="category" value="V" checked> Visitor</label>
                <label class="col-md-3 col-lg-2 col-sm-10">
                 <input  type="radio" name="category" value="P" >Phone</label>
                 <label class="col-md-2 col-lg-1.5 col-sm-10">
                <input type="radio" name="category" value="I"> Issue</label>
                 <label class="col-md-2 col-lg-2 col-sm-10">
                <input type="radio" name="category" value="R"> Ref
            </label>
             <label class="col-md-2 col-lg-2 col-sm-10">
                <input type="radio" name="category" value="L"> Letter
            </label>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <label for="name">Visitor Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Visitor's Name" required maxlength="50">
           
        </div>
        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <label for="email">Email address(optional):</label>
             <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" maxlength="50">
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <label for="mobile">Phone Number:</label>
            <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Phone Number" required maxlength="10"  onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)">
        </div>
        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <label for="voter_id">Voter ID(optional):</label>
            <input type="text" class="form-control" id="voter_id" placeholder="Enter Voter ID" name="voter_id">
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <label for="voter_id">Gender:</label>
            <select class="form-control" id="gender" name="gender" required>
                    <option selected value=""  >
                        Select Gender:
                    </option>
                    <option value="Male">
                        Male
                    </option>
                    <option value="Female">
                        Female
                    </option>
                    <option value="Transgender">
                        Transgender
                    </option>
                </select>

        </div>
        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <label for="age">Age:</label>
            <input type="number" class="form-control" id="age" placeholder="Enter Age" min="1"  max="100" name="age">
        </div>
        
        <div class="clearfix"></div>
        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <label for="voter_id">District:</label>
            <select class="form-control" id="district" name="district" required>
                    <option selected value="" >
                        Select District:
                    </option>
                        
                      {% for item in data %}
        <option value="{{item}}"  >{{item}}</option>
    {% endfor %}
                </select>

        </div>
        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <label for="voter_id">Assembly Constituency:</label>
            <select class="form-control" id="assembly" name="assembly" required>
                    <option selected value="" >
                        Select Assembly:
                    </option>
                   
                </select>

        </div>
         <div class="clearfix"></div>
         <div class="form-group col-xs-10 col-sm-10 col-md-8 col-lg-8">
            <label for="remarks">Remarks/Issue/Notes(optional):</label>
            <textarea class="input-xlarge span6" id="remarks" name="remarks" rows="6" style="width:100%">
    </textarea>
        </div>
         <div class="clearfix"></div>
        <div class="form-group col-xs-10 col-sm-10 col-md-4 col-lg-4" id="file_div" style="display:none">
            <label for="file">Upload File :</label>
            <input type="file" id="file" name="file" >
            <p class="help-block">upload issue/reference/letter file(image or document).</p>
        </div>
        <div class="clearfix"></div>
         <div class="form-group col-xs-10 col-sm-10 col-md-6 col-lg-6" >
            <label for="membership_check">
           
                 <input  type="radio" name="membership_check" value="true" >Like To Become a member :</label>
        </div>
        <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4" style="text-align: right;">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    <div class="clearfix"></div>

    <br /><br />
  
</div>

         

         
 </div>

 <script>
  
 function maxLengthCheck(object) {
 
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  console.log(object.maxLength)
  } 
function isNumeric (evt) {
 
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    console.log(key)
    var regex = /[0-9\b]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }  
 $(document).ready(function()
 {
  var csrftoken = $('meta[name=csrf-token]').attr('content');
 $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
 $('input[type=radio][name=category]').change(function() {
        if (this.value == 'V' || this.value == 'P' ) {
            $("#file_div").css("display","none");
            $("#file").removeAttr("required");
        }
        else if(this.value == 'L')
        {
          $("#file_div").css("display","block");
          $("#file").attr("required","required")

        }
        else {
$("#file_div").css("display","block");
$("#file").removeAttr("required");
        }
       
    });

 // get assemblies
$("#district").change(function()
{
  var district=$("#district").val();
  $.ajax({
           type: "GET",
           url: "/getAssemblyConstituencies?district="+district,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
          $('#assembly')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .append('<option value="NA" >Not Available</option>')
        .val('');
                var constituency_list=response.data.children;
          $.each(constituency_list, function (i, item) {
          $('#assembly').append($('<option>', { 
          value: item.assembly,
          text : item.assembly 
          }));
          });

                // constituency
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });

})
 // end of event
 });
 </script>
          {% endblock %}