{% extends "admin_layout.html" %}

{% block body %}
 {% include "visitors/loader.html" %}
  
  <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
 
  <script src="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/development/src/js/bootstrap-datetimepicker.js"></script>
  
<link rel="stylesheet" href="/static/assets/css/sweetalert.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/build/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
<style>
/**
 * Datetimepicker for Bootstrap v3 - Modified
 * https://github.com/Eonasdan/bootstrap-datetimepicker/ 
 */

.date_div{
  display:none;
}
</style>

 <div class="row container datagrid" style="margin:-20px 20px 20px 20px;padding:10px 10px 10px 10px;">

 	<h1 style="text-align:center">Office Visitors List</h1>
<div class="clearfix "></div>
<!-- filters row -->
  <div class="row">
    <div class="form-group col-xs-10 col-sm-4 col-md-2 col-lg-2">
            <label for="voter_id">District:</label>
            <select class="form-control" id="district" name="district" required>
                    <option selected value="" >
                        Select District:
                    </option>
                        
                      {% for item in districts %}
        <option value="{{item}}"  >{{item}}</option>
    {% endfor %}
                </select>

        </div>

        <div class="form-group col-xs-10 col-sm-4 col-md-2 col-lg-2">
            <label for="assembly">Assembly Constituency:</label>
            <select class="form-control" id="assembly" name="assembly" required>
                    <option selected value="" >
                        Select Assembly:
                    </option>
                   
                </select>

        </div>
         <label class="col-md-2 col-lg-2 col-sm-10">
                <input  type="radio" name="category" value="today" > Today's Visitors</label>
                <label class="col-md-2 col-lg-2 col-sm-10">
                 <input  type="radio" name="category" value="yesterday" > Yesterday's Visitors</label>
                 <label class="col-md-2 col-lg-2 col-sm-10">
                 <input  type="radio" name="category" value="custom" > Custom </label>
        
  </div>
  <div class="clearfix "></div>
  <div class="row">
     
          <div class="form-group date_div col-xs-10 col-sm-6 col-md-3 col-lg-3"> <!-- <label for="fromdate" >From Date</label>
           <div class="input-group form-group DateDemo" id="fromdate">
           
           
                <input type="text"  name="fromdate" data-format="YYYY-MM-DD
                " placeholder="from date" value="" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-green" type="button"><i class="icon-calendar"></i></button>
                </span>
           </div> -->
               <label for="startdate" class="control-label">StartDate</label>
           <div class="input-group date" id="startdate">
                                <input type="text" class="form-control"  id="from_date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon-calendar glyphicon"></span>
                                </span>
                            </div>

 </div>
  <div class="form-group  date_div col-xs-10 col-sm-4 col-md-3 col-lg-3"> 
    <!--  <label for="todate" >To Date</label>

            <div class="input-group DateDemo" id="todate">
             
                <input type="text"  name="todate" data-format="YYYY-MM-DD" value=""  placeholder="to date"  class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-green" type="button"><i class="icon-calendar"></i></button>
                </span>
            </div> -->
                <label for="enddate">EndDate</label>
                      
                       
                            <div class="input-group date" id="enddate">
                                <input type="text" id="to_date" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon-calendar glyphicon"></span>
                                </span>
                            </div>
 </div>
<div class="form-group col-xs-10 col-sm-4 col-md-2 col-lg-2" style="margin-top:22px;">

  <input type="submit" class="btn btn-success" id="filter" />
  </div>
  <div class="form-group col-xs-10 col-sm-4 col-md-2 col-lg-2" style="margin-top:22px;">
    <input type="reset" class="btn btn-success" id="reset" />
  </div>
           
             
  
  

  </div>
  <!-- End of filters row -->
  <div class="datagrid" style="width=95%">
	<table class="table table-responsive" id="visitors_table" style="color:black;">
		 <thead>
    <tr>
      <th>S.No</th>
      <th> Name:</th>
      <th>Mobile</th>
      <th>Email</th>
      <th> District</th>
      <th>Assembly</th>
       <th>Visited Location</th>
      <th>Gender</th>
      
      <th>Category</th>
      <th>File</th>

    </tr>
  </thead>
  <tbody id="visitors_body">
  	 {% for item in data %}
  	 <tr>
  	 	<td>{{loop.index}}</td>
  	 	<td>{{item.name}}</td>
      <td>{{item.mobile}}</td>
      <td>{{item.email}}</td>
      <td> {{item.district}}</td>
      <td>{{item.assembly}}</td>
      <td>{{item.office_name}}</td>
      <td>{{item.gender}}</td>
      
      {% if item.category=='V'  %}
      <td>Visitor</td>
      <td></td>
      {% elif item.category=='P'  %}
      <td>Phone Call</td>
      <td></td>
      {% elif item.category=='I'  %}
      <td>Issue</td>

       {% if item.file_url  %}
         <td><a href="{{item.file_url}}">open</a></td>
        
         {% else  %}
         <td> No Attachment</td>
          {% endif %}
      {% elif item.category=='L'  %}
      <td>Letter</td>

       {% if item.file_url  %}
         <td><a href="{{item.file_url}}">open</a></td>
        
         {% else  %}
         <td> No Attachment</td>
          {% endif %}
      {% else  %}
       <td>Reference</td>
        {% if item.file_url  %}
         <td><a href="{{item.file_url}}">open</a></td>
        
         {% else  %}
         <td> No Attachment</td>
          {% endif %}
      {% endif %}
     
      
  	 </tr>
  	  {% endfor %}
  </tbody>
 
</table>
</div>
 	</div>
<script>
$(document).ready(function()
{
  $('input[type=radio][name=category]').change(function() {
        if (this.value == 'custom'  ) {
            $(".date_div").css("display","block");
            
        }
        
        else {
 $(".date_div").css("display","none");
        }
       
    });

  $("#district").change(function()
{
  var district=$("#district").val();
  $.ajax({
           type: "GET",
           url: "/getAssemblyConstituencies?district="+district,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
          $('#assembly')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
                var constituency_list=response.data.children;
          $.each(constituency_list, function (i, item) {
          $('#assembly').append($('<option>', { 
          value: item.assembly,
          text : item.assembly 
          }));
          });

                // constituency
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });

});

     $('#startdate').datetimepicker().on('dp.change', function (e) {
     
                var incrementDay = moment(new Date(e.date));
                incrementDay.add(0, 'days');
                $('#enddate').data('DateTimePicker').minDate(incrementDay);
                $(this).data("DateTimePicker").hide();
            });

            $('#enddate').datetimepicker().on('dp.change', function (e) {
              
                var decrementDay = moment(new Date(e.date));
                decrementDay.subtract(0, 'days');
                $('#startdate').data('DateTimePicker').maxDate(decrementDay);
                 $(this).data("DateTimePicker").hide();
            });

   $('#startdate,#enddate').datetimepicker({
                useCurrent: false,
                minDate: moment()
            });


   $("#filter").click(function()
   {
    var data={};
    var from_date,to_date;
    var radio_value=$('input[type=radio][name=category]:checked').val();
    var district=$("#district").val();
    var assembly=$("#assembly").val();
    if(radio_value )
    {
       if (radio_value=='custom')
    {
      radio_value='range';
      from_date=$("#from_date").val();
      to_date=$("#to_date").val();
      if(!from_date || !to_date)
      {
        alert("please select FromDate and EndDate");
        return false;
      }
      data['filter_type']='range';
      data['from_date']=from_date.split(" ",1)[0];
      data['to_date']=to_date.split(" ",1)[0];
    }
    else
    {
      data['filter_type']=radio_value;
    }
    }
   
   
    if (district)
    {
      data['district']=district;
    }
    if (assembly)
    {
      data['assembly']=assembly;
    }
    console.log(data);
    if(jQuery.isEmptyObject(data))
    {
      alert ("please select any one Filter");
      return false;
    }
 $.ajax({
           type: "GET",
           url: "/getVisitorsData",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                
                $('#visitors_table').find('tbody').empty();
                var rows='';
                var index=0;
                var data=response.data.children;
                for (item in data)
                {
                  index=index+1;
                  rows=rows+"<tr class='page'><td>"+index+"</td><td>"+data[item].name+"</td><td>"+data[item].mobile+"</td><td>"+data[item].email+"</td><td>"+data[item].district+"</td><td>"+data[item].assembly+" </td><td>"+data[item].office_name+"</td><td>"+data[item].gender+"</td><td>"+data[item].category+"</td><td>"+data[item].file_url+"</td></tr>";
                }
        $('#visitors_table').find('tbody').append(rows);

                // constituency
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
   
   }); 
})
</script>

{% endblock %}