@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
@charset "utf-8";

/****
 css by Akdesign
 ***/
@font-face {
  font-family: 'BebasneueBold';
  src: url('../fonts/BEBASNEUEBOLD.ttf'); /* IE9 Compat Modes */
 
}
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue.otf'); /* IE9 Compat Modes */
 
}
p.democraticText{
	font-family: 'BebasNeue';
	text-align: right;
    font-size: 1.25em;
}
p.mobileNmber{
	font-family: 'BebasNeue';
	font-size: 2em;
    color: red;
    font-weight: 100;

}
.socialicon-pos.socialIcons{
	margin: 0 !important;
	    float: left!important;
}
.redBox4{
	float: right;
}
hr.hrLine2,
hr.hrLine3 {
	width:16%;
}
nav>ul>li>a{
	font-family: 'BebasneueBold';
}
.desktop nav .dropdown ul{
	z-index: 10;
}
.desktop .container nav{
	width:100%;
}
.desktop nav>ul{
	margin-left: 19%;
}
.desktop nav>ul>li{
	text-align: center;
	width:100%;
	    border-bottom: 2px solid black;
}
nav>ul>li>ul>li{
	background: white;
	border-bottom: 2px solid black;
}

.desktop nav>ul>.line3{

}

/*akdesign css end*/

/***
 css in page
 ***/
 .social-roll {
	height: 30px;
	width: 30px;
	margin: 0 5px;
	border-radius: 15px;
	float: right;
	  transition: all ease 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: initial;
}
.social-roll:hover {
	background-position: 0px -30px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
	border-radius: 15px;
}

.google-hover {
	background-image:url(../images/g_plus-gray-circle.png);
}
.google-hover:hover {
	background-image:url(../images/g_plus-red-circle.png);
	
}
.facebook-hover {
	background-image:url(../images/fb-gray-circle.png);
}
.facebook-hover:hover {
	background-image:url(../images/fb-blue-circle.png);
}
.twitter-hover {
	background-image:url(../images/twitter-gray-circle.png);
}
.twitter-hover:hover {
	background-image:url(../images/twitter-blue-circle.png);
}
.linkedin-hover {
	background-image: url(../images/lnkdin-gray-circle.png);
}
.linkedin-hover:hover {
	background-image: url(../images/lnkdin-blue-circle.png);
}
.youtube-hover {
	background-image: url(../images/youtube-gray-circle.png);
}
.youtube-hover:hover {
	background-image: url(../images/youtube-red-circle.png);
}
._css3m{display:none}
body {
	
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;
}
/* CSS Document */

#body,html {
	
	margin:0px;
	padding:0px;
	
}
.frstHeader {
	background-color: #000;
	height: 30px;
	padding: 0px;
	margin: 0px;
}
.header {
	background-color:#f5f5f5;
	height:80px;
	/*padding:10px 0 25px 10px;*/
}
.jnsPpl {
	background-image: url(../images/header-ppl-image.jpg);
	background-repeat:repeat-x;
	height:113px;
	padding:0px; !important
	margin:0px; !important
}
.redLine {
	background-image: url(../images/redtag_logo_container.png);
	background-repeat:repeat-x;
	height:51px;
	width: 70%;
    margin-top: 95px;
    margin-left: -15px;
    float: left;
}
.redLine2 {
	background-image: url(../images/redtag_logo_container_extension.png);
	background-repeat:repeat-x;
	height:65px;
	width: 31%;
    /* max-width: 100%; */
    margin-top: 95px;
    margin-left: 0px;
    float: left;
	}
.container {
	width:100%;
	height:auto;
	align:center;
	margin:0 auto;
}
.logo {
	margin: -126px 0 0 0; !important
	-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.8);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}
.logoTxt {
	    margin: -10px 0 0 105px;
	}
.democraticTxt {
	font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    font-size: 12px;
    position: absolute;
    margin: -95px 0 0 670px;
}
.democraticRedTxt {
	color:#F00;
}
.follwUs {
	font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    font-size: 12px;
    position: absolute;
    margin: -58px 0 0 632px;
}
.mobileNmbr {
	font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    font-size: 40px;
    float: right;
    position: absolute;
    margin: -126px 0 0 635px;
}
.socialIcons {
	float: right !important;
    margin: -65px -198px 0 0;
}
.hrLine {
	margin: 140px 0 20px 611px;
    border: 1px solid #000;
    width: 57%;
}
.hrLine2 {
	margin: 35px 0 20px 0;
    border: 1px solid #000;
    width: 15%;
}
.hrLine3 {
	margin: -13px 0 20px 225px;
    border: 1px solid #000;
    width: 15%;
}
.hrLine3 {
	margin: -13px 0 20px 225px;
    border: 1px solid #000;
    width: 15%;
}
.hrLine4 {
	margin: 0 0 20px 613px;
    border: 1px solid #000;
    width: 57%;
}
.hrLine5 {
	margin: 20px 0 20px 611px;
    border: 1px solid #000;
    width: 57%;
}
.line1 {
    width: 15px;
    height: 87px;
    border-bottom: 2px solid black;
    -webkit-transform: translateY(-20px) translateX(5px) rotate(45deg);
    position: absolute;
    /* top: -20px; */
    margin: 82px 0 0 624px;
}
.line2 {
        width: 15px;
        height: 87px;
        border-bottom: 2px solid #000;
        -webkit-transform:
            translateY(20px)
            translateX(5px)
            rotate(45deg);
        position: absolute;
        /*top: -33px;
        left: -13px;*/
		margin: -110px 0 0 239px;
}
.line3 {
        width: 15px;
        height: 87px;
        border-bottom: 2px solid #000;
        -webkit-transform:
            translateY(20px)
            translateX(5px)
            rotate(45deg);
        position: absolute;
        /*top: -33px;
        left: -13px;*/
		margin: -110px 0 0 464px;
}
.line4 {
    width: 15px;
    height: 87px;
    border-bottom: 2px solid black;
    -webkit-transform: translateY(-20px) translateX(5px) rotate(45deg);
    position: absolute;
    /* top: -20px; */
    margin: -58px 0 0 628px;
}
.line5 {
    width: 15px;
    height: 87px;
    border-bottom: 2px solid black;
    -webkit-transform: translateY(-20px) translateX(5px) rotate(45deg);
    position: absolute;
    /* top: -20px; */
    margin: -38px 0 0 624px;
}
.houseIcon {
	margin: -1px 0 0 295px;
	float:left;
	cursor:pointer;
	padding:8px;
	border:1px solid #000;
	border-radius:5px 5px 0 0;
}
.langClass {
	display: flex;
	list-style:none;
	float:left;
}
.listItems {
	font-size: 11px;
	color: #000;
	cursor: pointer; 
	font-weight:bold;
}
.listItems:hover {
	font-size: 11px;
	color: #d91516;
	cursor: pointer; 
	font-weight:bold;
}

.redBox {
    height: auto;
    background: #d91516;
    position: relative;
}
.redBox:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 10px solid white;
    border-left: 10px solid #d91516;
    width: auto;
}
.redBox2 {
    height: auto;
    background: #d91516;
    position: relative;
	width:30%;
}
.redBox2:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 10px solid white;
    border-left: 10px solid #d91516;
    width: auto;
}
.redBox3 {
    height: auto;
    background: #d91516;
    position: relative;
	width:52%;
}
.redBox3:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 10px solid white;
    border-left: 10px solid #d91516;
    width: auto;
}
.redBox4 {
    height: auto;
    background: #d91516;
    position: relative;
	width:70%;
}
.redBox4:before {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    border-bottom: 10px solid white;
    border-right: 10px solid #d91516;
    width: auto;
}
.redBoxTxt {
	font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    width: 121%;
    line-height: 1.8em;
    padding: 16px 8px 10px 0px;
}
.janaSwaramTxt {
	font-family: cursive;
    font-style: italic;
    font-size: 25px;
    color: #d91516;
    font-weight: bold;
}
.janaSwaramBlkTxt {
	font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
	margin: -12px 0 0 0;
}
.janaSwaramRedTxt {
	font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0 0 0;
    color: #d91516;
}
.formTxt {
	font-size: 12px;
    padding: 0 21px 0 5px;
    color: #fff;
    margin: 0 0 0 4px;
    height: auto;
	display:inline-block;
}
.form-control {
	margin: -6px 0 0 0;
}
.formBox {
	margin: -60px 0 0 0;
}
.uddanamBlkTxt {
	font-family: cursive;
    font-style: italic;
    font-size: 29px;
    color: #000;
    font-weight: bold;
	margin:8px 0 0 0;
}
.uddanamTnyBlkTxt {
	font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
	margin: 5px 0 0 0;
}
.uddanamBlkSmlTxt {
	font-family: cursive;
    font-style: italic;
    font-size: 22px;
    color: #000;
    font-weight: bold;
    margin: 45px 0 0 0;
    text-align: right;
}
.uddanamPic {
	width: 100%;
    padding: 15px 0 15px 0;
}
.uddanamCont {
	padding:9px 0;
}
.uddanamRgtDiv {
	margin: 62px 0 0 0;
}
.uddanamRedDiv {
	height: auto;
    background: #d91516;
    position: relative;
	width:30%;
}
.downRedBox {
	margin: 40px 0 0 0;
	height:165px;
}
.uddanamTlguBlkTxt {
	font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
	margin: 5px 0 0 0;
	text-align:right;
	line-height:1.8em;
}
.blkBigTxt {
	font-family: sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    width: 100%;
    line-height: 1.8em;
    padding: 16px 8px 5px 0px;
	font-variant: all-caps;
}
.blkBigTxt2 {
	font-family: sans-serif;
    font-size: 11px;
    color: #000;
    font-weight: bold;
    width: 100%;
    line-height: 1.8em;
    padding: 0 8px 5px 0px;
	font-variant: all-caps;
}
.whitBigTxt {
	font-family: sans-serif;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    width: 103%;
    line-height: 1.8em;
    padding: 16px 8px 5px 0px;
	font-variant: all-caps;
}
.janasenaTinyIcon {
	float:left;
	padding:15px 0;
}
.janasenaTinyIconMrgn {
	margin: 26px 0 0 65px;
}
.mediaScrnPic {
	width: 100%;
    padding: 0 0 15px 0;
}
.mediaContnt {
	padding:5px 0 24px 0;
	margin: -14px 0;
}
.mediaScrnMrgn {
	margin: 10px 0 0 0;
}
.phtoGalrySctn {
	margin: 25px 0 0 0;
}
.eradicateHdrTxt {
	font-family: sans-serif;
    font-size: 18px;
    color: #d91516;
    text-align: center;
    font-weight: bold;
    line-height: 0.99em;
    margin: 71px 0 0 0;
    padding: 0 10px 0 10px;
}
.eradicatePara {
	margin: 3px 0 0 0;
    text-align: center;
}
.nivoSldrMrgn {
	margin: -72px 0 0 0;
}
.jrnyWithJnsn {
	font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 0.99em;
    margin: 71px 0 0 0;
    padding: 0 10px 0 10px;
}
.ldrToCadr{ 
	font-family: cursive;
    font-style: italic;
    font-size: 40px;
    color: #000;
    font-weight: bold;
    line-height: 0.9em;
    margin: 51px 0 0 0;
}
.telguRedTxt {
	color: #d91516;
    font-weight: 500;
}
.morLnk {
	font-family: sans-serif;
    font-size: 12px;
    color: #d91516;
    font-weight: bold;
	text-decoration:none;
	cursor:pointer;
}
.morLnk:hover {
	font-family: sans-serif;
    font-size: 12px;
    color: #a94442;
    font-weight: bold;
	text-decoration:none;
	cursor:pointer;
}
.morLnk:visited {
	font-family: sans-serif;
    font-size: 12px;
    color: #a94442;
    font-weight: bold;
	text-decoration:none;
	cursor:pointer;
}
.morLnk:active {
	font-family: sans-serif;
    font-size: 12px;
    color: #a94442;
    font-weight: bold;
	text-decoration:none;
	cursor:pointer;
}
.janasenaBox {
	padding: 15px 0 0 15px;
    font-size: 12px;
	line-height:1.3em;
}
.janasenaBoxWhiteTxt {
	color:#fff;
}
.moreBox {
	margin: 0 0 0 14px;
    padding: 2px;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}
.moreBox:hover {
	margin: 0 0 0 14px;
    padding: 2px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}
.rightDivRedBoxMrgn {
	margin: -70px 0 0 0;
}
.navigationMrgn {
	margin: -20px 0 0 77px;;
}
.redBox4Mrgn {
	margin: 15px 0 15px 0;
}
.launchSpchImg {
	display: inline-block;
    margin: 0 0 0 3px;
}
.menu-bg {
	background-color:#f4511e;
	width:100%;
}
.clearfix{
	clear:both;	
}
.welcome-text {
	font-family: 'Dosis', sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#f4511e;
	padding:5px 0 5px 15px;
}
.p {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:14px;
	color:#333;
	text-align:justify;
	line-height:1.8em;
	padding:5px;
	margin-right:25px;
}
.p-link {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:14px;
	color:#333;
	text-align:justify;
	line-height:1.8em;
	padding:5px;
	margin-right:25px;
	text-decoration:none;
}
.p-link:hover {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:14px;
	color:#ff6600;
	text-align:justify;
	line-height:1.8em;
	padding:5px;
	margin-right:25px;
	text-decoration:underline;
}
#hr {
	border-top: dotted 1px #f4511e;
	clear:both;
}
.black-box {
	background-color:#333;
	width:100%;
}
/* Top Works */
.top-works {
	padding:20px 0px 20px 0px;
	color:white;
	text-align:center;
	background-image:url(../images/top-works_bg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}
.big-letter {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	background-color:#f4511e;
	width:25%;
	height:25%;
	padding-left:5px;
	text-align:center;
}

.small-text {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#f5f5f5;
	text-align:justify;
}

.downbar-header {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#ff6600;
	padding:15px 0 0 0;
	margin-top:5px;
}
.product-link {
	font-family: 'Abel', sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#6f6f6f;
	text-decoration:none;
}
.product-link:hover {
	font-family: 'Abel', sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#ff6600;
	text-decoration:none;
}
.content-text2 {
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	text-align:justify;
	color:#f5f5f5;
	line-height:1.8em;
}
.footer-bg {
	background-color:#d91516;
	height:60px auto;
}

.footer-text {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	padding:8px 0 0 0;
	margin:8px 0 0 0;
}

.footer-lnk {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	padding:5px 0 0 0;
	margin:5px 0 0 0;
}
.footer-lnk:hover {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:underline;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	padding:5px 0 0 0;
	margin:5px 0 0 0;
}

@media screen and (min-width: 480px) {
	.logo {
		margin: -126px 0 0 0;
	-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.8);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
	}
}