{% extends "admin_layout.html" %}

{% block head%}
<style>
    #msmm{
        color: black;
        font-size: 15px;
        margin-left: 20px;
        width:95%;
    }
    table, th, td{
        border: 1px solid black;
    }
    th, td {
        text-align: center;
    }
    th{
        background-color: #d81615;
        color: white;
    }

</style>
{% endblock%}
{% block body %}
Total Count
<table class="table table-striped" id="msmm">

</table>
<script>
    $(document).ready(function(){
        var url='/janasenatarangam/get_jt_details';
        var tbl = $("#msmm");
        $.ajax({
            "type":"GET",
            "url":url,
            "success":function(data){


            data = JSON.parse(data);
            table_data = data['data'];
            total_data = data['total'];
            var html = "";
            html = html + "<tr>";
            html = html+ "<th>Date</th>"
            html= html+"<th> Janatarangam Missed Call Count</th>";
            html= html+"<th> Janatarangam Members</th>";
            html= html+"<th> Previous Missed Call Count</th>";
            html= html+"<th> Previous Members</th>";

            html= html+"<th>Total Count</th>";
            html = html + "</tr>";
            var grand_total = 0;
            var grand_missed_calls = 0;
            var grand_jt_members = 0;
            var grand_prev_missedcalls= 0;
            var grand_prev_members = 0;

            for(i=0;i < table_data.length;i++){
                html+="<tr>"
                var dt = table_data[i]["date"];
                var jt_missedcalls = table_data[i]["jt_missedcalls"];
                var jt_members = table_data[i]["jt_members"];
                var prev_missedcalls = table_data[i]["prev_missedcalls"];
                var total = total_data[i]['total'];
                var prev_members = total - prev_missedcalls - jt_members -jt_missedcalls;

                html = html+"<td>"+dt+"</td>";
                html= html+"<td>"+jt_missedcalls+"</td>";
                html= html+"<td>"+jt_members+"</td>";
                html= html+"<td>"+prev_missedcalls+"</td>";
                html= html+"<td>"+prev_members+"</td>";
                html= html+"<td>"+total+"</td>";
                html= html+"</tr>";
                grand_missed_calls = grand_missed_calls + jt_missedcalls
                grand_jt_members = grand_jt_members + jt_members
                grand_prev_missedcalls = grand_prev_missedcalls + prev_missedcalls
                grand_prev_members = grand_prev_members + prev_members
                grand_total = grand_total + total;
            }
            html = html +"<tr>"
            html = html+"<td>Grand Total</td>";

                html= html+"<td>"+grand_missed_calls+"</td>";
                html= html+"<td>"+grand_jt_members+"</td>";
                html= html+"<td>"+grand_prev_missedcalls+"</td>";
                html= html+"<td>"+grand_prev_members+"</td>";
                html= html+"<td>"+grand_total+"</td>";
                html= html+"</tr>";
            tbl.html(html);

            }
        });
    });
</script>
{% endblock %}