{% extends "admin_layout.html" %}
{% block head %}
<style>
.inp
{
  width:80% !important;
  text-transform: capitalize;
}
.select2-container
{
  width:90%;
  
}
.jumbotron p{
  color:blue;
  margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}
p span
{
  color:black;

}
</style>




<link rel="stylesheet" href="static/assets/css/sweetalert.css">
<script type="text/javascript" src="static/assets/js/sweetalert.js"></script>

<link rel="stylesheet" href="http://select2.github.io/select2/select2-3.5.1/select2.css">
        <script src="http://select2.github.io/select2/select2-3.5.1/select2.js"></script>
         
{% include 'loader.html' %}
{% endblock %}
{% block body %}

<div class=" container jumbotron" id="new_books_form_div" style="width:80%">

<h2 style="text-align:center;color:red" > Received Booklets</h2>

  <div class="row">
  <label><span style="color:blue"> Select Search Type:</span></label>
    <label for="jsp_no" style="color:blue"><input type="radio" name="search_text" id="jsp_no" value="M"  checked>JSP ID</label>
    <label for="phone" style="color:blue;margin-left:30px"><input type="radio"   name="search_text" value="P" >PHONE</label>
    <label for="book_det" style="color:blue;margin-left:30px"><input type="radio"  name="search_text" value="B">Booklet Number</label>
  </div >
  <div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <label for="search_value" style="color:blue;">Enter Value:</label>
    <input type="text" class="form-control"  placeholder="ENTER JSP ID" id="search_value" name="search_value" style="width:240px;">
  </div>
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <button type="submit"  id="submit" class="btn btn-primary" style="margin-top:24px;">Submit</button>
  </div>
  </div>


    
    <div class="row">
      <div id="full_data" style="display:none;margin-top:44px">
       <div class="row"> 
      <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" >
        <p>NAME:<span id="name"></span></p>
        <p >JSP ID:<span id="jsp_id"></span></p>
        <p >PLACE:<span id="place"></span></p>
        <p >DISTRICT:<span id="district"></span></p>
         </div>
         <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" >
        <p >CONSTITUENCY:<span id="constituency"></span></p>
        <p >PHONE NUMBER:<span id="phone"></span></p>
        <p >DATE:<span id="date"></span></p>
        <p >Books To Be Received:<span id="books_to_be_colelcted"></span></p>
      </div>
      </div>
      <div class="row" >
        <form id="collection_form">
      <label for="multipleSelectExample" style="color:#26A69A;font-size:16px;font-weight:600">Book Numbers:</label>
         <select id="multipleSelectExample" data-placeholder="Select Book Numbers" multiple required>
         </select>
          <p><span >No Of Booklets:</span><span id="count">0</span>
      </div>
      <input type="submit"  id="check_details" class="btn btn-primary" style="margin-top:30px; width:100px;" value="submit" />
    </form>
      </div>
    </div>
  
</div>
  <script>

$(document).ready(function() {
var jsp_id ;
 $(document).keypress( function(event){ 
  if (event.which == '13') 
    { event.preventDefault(); } });

  $("input[type=radio][name=search_text]").on('change', function () {
    var selectedValue = $("input[name='search_text']:checked").val();
    if (selectedValue == 'M') {
      $('#search_value').attr('placeholder', "ENTER JSP ID");


    }
    else if (selectedValue == 'P') {
      $('#search_value').attr('placeholder', "ENTER PHONE");

    }
    else if(selectedValue == 'B'){
      $('#search_value').attr('placeholder', "ENTER BOOK DETAILS");

    }
  });


  $('#submit').on('click', function () {

    var search_type= $("input[name='search_text']:checked").val();;
    var search_value=$("#search_value").val();
     if (search_type && search_value)
     {
       $('.loader').css("display","block"); 

    $.ajax({
      type: "GET",
      url:  "https://janasenaparty.org/get_issed_books",
      dataType: "json",
      data:{search_type:search_type,search_value:search_value},
      contentType: "application/json",
      success: function (response) 
      {
              if (response.status=='1')
              {
                $('.loader').css("display","none"); 
                 jsp_id = response['data']["jsp_id"]
                    $('#name').html(response['data']["issued_to_name"]);
                    $('#jsp_id').html(response['data']["jsp_id"]);
                    $('#phone').html(response['data']["phone"]);
                    $('#district').html(response['data']["district_name"]);
                    $('#constituency').html(response['data']["constituency_name"]);
                   
                    $('#date').html(response['data']["date"]);
                    $('#place').html(response['data']["place"]);
                    var issued_books=response['data']["value"]
                    $("#books_to_be_colelcted").html(issued_books.length)
                    $('#multipleSelectExample').html('');

                   $.each(issued_books, function (i1, val1) {
                  $('#multipleSelectExample').append($("<option ></option>").attr("value", val1).text(val1));
                });
                   $("#multipleSelectExample").select2();
                  
                    $("#full_data").css("display","block");
                    }


                    else
                    {
                       $('.loader').css("display","none"); 
                       swal("Error",response.errors[0],'error');
                  return false;
                    }
             
            
      },
      error:function(response)
      {
         $('.loader').css("display","none"); 
           swal("Error",response.errors[0],'error');
          return false;
      }
    });

     }
     else
     {
      swal("Error","please enter value",'error');
      return false;
     }
    
  })

//  form submit  

$('#collection_form').submit( function (e) {

    e.preventDefault();

    var data={}
 
      data['jsp_id'] = jsp_id;
     
      data['books'] =$('#multipleSelectExample').val();
  console.log(data);
  $.ajax({
    type: "POST",
    url:  "/books_collection_portal",
    data: JSON.stringify(data),
    dataType: "json",
    contentType: "application/json",
    success: function (response) {
    
   if(response.status=='1')
          {
             $('.loader').css("display","none"); 
                swal({
                title: "Books Collection Details Saved Successfully",
                icon:"success",
                text: "",
                type: "success",
                showCancelButton: false,
                
                confirmButtonText: "OK",
                closeOnConfirm: false
                },
               function()
               {
                location.reload();
               });
            }
            else
            {
              swal("Error",response.errors[0],"error")
             $('.loader').css("display","none"); 
            }
      
          },
          error:function(response){
            swal("Error",response.errors[0],"error")
                               $('.loader').css("display","none"); 
          }

        })
  })

// 
$("#multipleSelectExample").on('change.select2',function(e)
{
  if($("#multipleSelectExample").val())
  $("#count").html($("#multipleSelectExample").val().length)

else

  $("#count").html("0");

})

})
  </script>

  {% endblock %}