{% extends "admin_layout.html" %}
{% block head %}
<style>
.inp
{
	width:80% !important;
	text-transform: capitalize;
}
.select2-container
{
	width:90%;
	
}
</style>

<script src="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="static/assets/css/sweetalert.css">
<script type="text/javascript" src="static/assets/js/sweetalert.js"></script>

<link rel="stylesheet" href="http://select2.github.io/select2/select2-3.5.1/select2.css">
        <script src="http://select2.github.io/select2/select2-3.5.1/select2.js"></script>
         
{% include 'loader.html' %}
{% endblock %}
{% block body %}

<div class=" container jumbotron" id="new_books_form_div" style="width:80%">
	<h3 style="text-align:center">Books Enroll Form</h3>
<form id="book_enroll" >
   
      <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12">
        <label for="name" style="color:blue">Name</label>
        <input type="text" class="form-control inp" id="name" name="name" placeholder="Enter Name" style="width:359px;;"required>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-6">
        <label for="jsp_id" style="color:blue"> JSP Id</label>
        <input type="text" class="form-control inp" required id="jsp_id" placeholder="Enter JSP ID" name="jsp_id" style="width:359px;">
      </div>
    

  <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12">
    <label for="phno" style="color:blue"> Phone NO</label>
    <input type="text" class="form-control inp" required id="phno" placeholder="Enter Phone Number" name="phno" style="width:359px;">
  </div>
  

      
      <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12">
        <label for="date" style="color:blue">Date</label>
          <input id="datepicker" width="290" />
      </div>
   
     
      <div class=" col-xs-12 col-sm-12 col-md-12">
      	 <label for="book_details" style="color:blue;">Book Number:</label>
      	  <select id="multipleSelectExample" data-placeholder="Select Book Numbers" multiple  required >
        
      </div>
   
    <div class=" col-xs-12 col-sm-4 col-md-3 col-md-offset-4 col-lg-offset-4">
      <input type="submit"  id="submit" class="btn btn-success" style="width:100px;margin-top:30px" value="submit">
    </div>

  </form>
</div>

</div>





</div>


	<script>
	var today = new Date().getFullYear()+'-' +(new Date().getMonth()+1)+'-' + new Date().getDate();
 $('#datepicker').datepicker({
      uiLibrary: 'bootstrap',
       format:'yyyy-mm-dd',
       value:today
    });

 
 $(document).ready(function()
	{
		$.ajax({
    type: "GET",
    url:  "/get_collected_books",
   
    dataType: "json",
    contentType: "application/json",
    success: function (data) {
 		$('#multipleSelectExample').html('');

    	 $.each(data, function (i1, val1) {
      $('#multipleSelectExample').append($("<option ></option>").attr("value", val1).text(val1));
    });
    	 $("#multipleSelectExample").select2();
    }

	})


	
	$(document).keypress( function(event){ if (event.which == '13') { event.preventDefault(); } });


	

  $('#book_enroll').submit( function (e) {

    e.preventDefault();

    var data={}


      data['name']=$("#name").val();
      data['phone']=$("#phno").val();
      data['jsp_id'] = $("#jsp_id").val();
     
      data['books'] =$('#multipleSelectExample').val();
     
      data['date'] =  $('#datepicker').datepicker().value();
    

    console.log(data)
 

  $.ajax({
    type: "POST",
    url:  "/books_enroll_portal",
    data: JSON.stringify(data),
    dataType: "json",
    contentType: "application/json",
    success: function (response) {
    
   if(response.status=='1')
	        {
	        	 $('.loader').css("display","none"); 
                swal({
                title: "Books Enrolled Details saved Successfully",
                icon:"success",
                text: "",
                type: "success",
                showCancelButton: false,
                
                confirmButtonText: "OK",
                closeOnConfirm: false
                },
               function()
               {
                location.reload();
               });
            }
            else
            {
            	swal("Error",response.errors[0],"error")
             $('.loader').css("display","none"); 
            }
      
			    },
			    error:function(response){
						swal("Error",response.errors[0],"error")
			                         $('.loader').css("display","none"); 
			    }

		    })
  })


});

 </script>
 {% endblock %}