<br><br>
<div class="col-md-12 col-lg-12" style="border:1px solid #d81615;padding:15px;margin-top:20px;">
      <div class="col-md-4 col-lg-4 col-sm-4">
        
          <label for="quantity" style="color:blue">Quantity</label>
          <input type="text" class="form-control inp" id="quantity"  placeholder="Enter Quantity">
        

      </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
        
          <label for="start" style="color:blue">Starting Number</label>
          <input type="text" class="form-control inp" id="start" placeholder="Enter Starting Number">
        
        </div>
    <div class="col-md-4 col-lg-4 col-sm-4">
    <button  class="btn btn-primary" id="generate" style="margin-top: 24px;">Generate</button>
    </div>
 </div>
<script>
function generate_range (start, quantity) {
    
    var arr = [];
    delta=50;
    start=parseInt(start)
   
    for (var i = 0; i < quantity; i++ ) {
      
      var temp=i * delta + start;
     
        arr.push(pad(temp,9));
    };
    return arr;
}
function pad(num, len) { return ("00000000" + num).substr(-len) };
</script>