{% extends "admin_layout.html" %}
{% block head %}
<style>
.inp
{
	width:80% !important;
	text-transform: capitalize;
}
.select2-container
{
	width:90%;
	
}
</style>

<script src="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="static/assets/css/sweetalert.css">
<script type="text/javascript" src="static/assets/js/sweetalert.js"></script>

<link rel="stylesheet" href="http://select2.github.io/select2/select2-3.5.1/select2.css">
        <script src="http://select2.github.io/select2/select2-3.5.1/select2.js"></script>
         
{% include 'loader.html' %}
{% endblock %}
{% block body %}

<div class=" container jumbotron" id="new_books_form_div" style="width:80%">
	<h3 style="text-align:center">Booklets Issued</h3>
<form id="book_det" >
   
      <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12">
        <label for="name" style="color:blue">Name</label>
        <input type="text" class="form-control inp" id="name" name="name" placeholder="Enter Name" style="width:359px;;"required>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-6">
        <label for="jsp_id" style="color:blue"> JSP Id</label>
        <input type="text" class="form-control inp" required id="jsp_id" placeholder="Enter JSP ID" name="jsp_id" >
      </div>
    

  <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12">
    <label for="phno" style="color:blue"> Phone NO</label>
    <input type="text" class="form-control inp" required id="phno" placeholder="Enter Phone Number" name="phno" >
  </div>
  
<div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12">
        <label for="issue_method" style="color:blue">IssueMethod</label>
        <select id="issue_method" name="issue_method" class="form-control inp" required>
          <option selected value="">Select Method</option>
          <option value="By Hand">By Hand</option>
          <option value="Courier">By Courier</option>

        </select>
      </div>
      <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12 consignment" style="display:none">
        <label for="consignment" style="color:blue">Consignment Number</label>
            <input type="text" class="form-control inp" required id="consignment" placeholder="Enter Consignment" name="consignment" >
      </div>
      <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12">
        <label for="district" style="color:blue">Districts</label>
        <select id="district" name="district" class="form-control inp">
          <option selected values="">Select District</option>
        </select>
      </div>
      <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12">
        <label for="constituency" style="color:blue">constituency</label>
        <select id="constituency" name="constituency"class="form-control inp">
          <option selected values="">Select Constituency</option>
        </select>
      </div>

<div class=" col-xs-12 col-sm-4 col-md-6">
    <label for="place" style="color:blue"> Address/Place</label>
    <input type="text" class="form-control inp" required id="place" placeholder="Enter Place" name="place" >
  </div>
   
      
      <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12">
        <label for="date" style="color:blue">Date</label>
          <input id="datepicker" width="290" />
      </div>
   
     
      <div class=" col-xs-12 col-sm-12 col-md-12">
      	 <label for="book_details" style="color:blue;">Book Numbers</label>
      	  <select id="multipleSelectExample" data-placeholder="Select Book Numbers" multiple></select>
           <p><span >No Of Booklets:</span><span id="count">0</span>

        
      </div>
   
    <div class=" col-xs-12 col-sm-4 col-md-3 col-md-offset-4 col-lg-offset-4">
      <input type="submit"  id="submit" class="btn btn-success" style="width:100px;margin-top:30px" value="submit">
    </div>

  </form>
</div>

</div>





</div>


	<script>
	var today = new Date().getFullYear()+'-' +(new Date().getMonth()+1)+'-' + new Date().getDate();
 $('#datepicker').datepicker({
      uiLibrary: 'bootstrap',
       format:'yyyy-mm-dd',
       value:today
    });

 
 $(document).ready(function()
	{
		$.ajax({
    type: "GET",
    url:  "/get_stock_books",
   
    dataType: "json",
    contentType: "application/json",
    success: function (data) {
 		$('#multipleSelectExample').html('');

    	 $.each(data, function (i1, val1) {
      $('#multipleSelectExample').append($("<option ></option>").attr("value", val1).text(val1));
    });
    	 $("#multipleSelectExample").select2();
    }

	})


	
	$(document).keypress( function(event){ if (event.which == '13') { event.preventDefault(); } });


	var districts = [];
  var ac;
  var data={}

  $.getJSON('/static/offline_memberships/json/membership/districts.json', function (data) {
    districts = data;
    var distDropDown = $('#district');
    $.each(districts,function(i,dist){
    	
    	if(i<="2"){


      $.each(dist, function (j, val) {

        distDropDown.append($("<option></option>").attr("value", val.id).text(val.district_name));
      });
	      }
    })
  });
  $.getJSON('/static/offline_memberships/json/membership/constituencies.json', function (data) {
    ac = data;
  });

  $('#district').change(function (dis_e) {

    var district_id = dis_e.target.value;

    var local_ac = ac[district_id];
    var constdrodown = $('#constituency')
    $('#constituency').html('');

    $('#constituency').append('<option value="" selected>Select Constituency</option>')
    $.each(local_ac, function (i1, val1) {
      constdrodown.append($("<option data-stateid='" + val1.state_id + "'></option>").attr("value", val1.constituency_id).text(val1.constituency_name));
    });
  })


  $('#book_det').submit( function (e) {

    e.preventDefault();

    var data={}


      data['name']=$("#name").val();
      data['phno']=$("#phno").val();
      data['jsp_id'] = $("#jsp_id").val();
      data['district'] =$("#district").val();
      data['constituency'] =$("#constituency").val();
      data['book_details'] =$('#multipleSelectExample').val();
      data['issue_method'] =$("#issue_method").val();
      if (data['issue_method']=='Courier')
      {
        data['consignment']=$("#consignment").val();
      }
      else
      {
        data['consignment']='';
      }
      data['date'] =  $('#datepicker').datepicker().value();
      data['place'] =  $('#place').val();

    console.log(data)
 

  $.ajax({
    type: "POST",
    url:  "/issue_offline_books",
    data: JSON.stringify(data),
    dataType: "json",
    contentType: "application/json",
    success: function (response) {
    
   if(response.status=='1')
	        {
	        	 $('.loader').css("display","none"); 
                swal({
                title: "Books Issued Details saved Successfully",
                icon:"success",
                text: "",
                type: "success",
                showCancelButton: false,
                
                confirmButtonText: "OK",
                closeOnConfirm: false
                },
               function()
               {
                location.reload();
               });
            }
            else
            {
            	swal("Error",response.errors[0],"error")
             $('.loader').css("display","none"); 
            }
      
			    },
			    error:function(response){
						swal("Error",response.errors[0],"error")
			                         $('.loader').css("display","none"); 
			    }

		    })
  })

$("#issue_method").change(function()
{
  var value=$("#issue_method").val();
  if (value=='Courier')
  {
    $(".consignment").css("display","block");
    $("#consignment").prop('required',true)
  }
  else{
     $(".consignment").css("display","none")
    $("#consignment").prop('required',false)
  }
});

$("#multipleSelectExample").on('change.select2',function(e)
{
  if($("#multipleSelectExample").val())
  $("#count").html($("#multipleSelectExample").val().length)

else

  $("#count").html("0");

})
});

 </script>
 {% endblock %}