<div class="row" style="padding-left: 20px;">

    <div class="form-group row  " >
        <div class="form-group col-xs-3 col-md-3 col-lg-3 col-sm-12">
            <label class="control-label" for="report_level" >Region Level:</label>
            <select class="form-control" id="report_level"
                    >
                <option selected value="">Select One</option>
                <option value="state">State</option>
                <option value="district">District</option>

                <option value="assembly">Assembly</option>
               
            </select>
        </div>
        <div class="form-group col-xs-3 col-md-3 col-lg-3 " id="district_div" style="display:none">
            <label class="control-label" for="district_select" style="color:#337ab7">Select District :</label>
            <select class="form-control" id="district_select" >
            </select>
        </div>
        <div class="form-group col-xs-3 col-md-3 col-lg-3  col-sm-12" id="value_div" style="display:none">
            <label class="control-label" for="value_select" style="color:#337ab7">Select Value:</label>
            <select class="form-control" id="value_select" >
            </select>

        </div>

          
    </div>
    <div class="form-group col-xs-12 col-md-12 col-lg-12 col-md-offset-4 col-lg-offset-4" style="padding-top:20px;">
            <button type="button" class="btn btn-success " id="region_filter_btn"
                    style="font-weight:800">Filter
            </button>
    </div>
        
</div>
   <div id="report_div"></div>     

  <script src="/static/js/report_level.js"></script>