{% extends "admin_layout.html" %}
{% block head %}
<style>
   .modal {
    position: fixed !important;
    top: 44px !important;
    left:100px;
}
.modal-header {
    background: #2e3b42;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    /* padding: 20px 0 10px 0px; */
    border: none;
    text-align: left;
    /* font-size: 2em; */
    height: 60px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.close {
    color: #fff;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.modal-header .close {
    margin-top: -13px !important;
    font-size: 21px !important;
     text-shadow: 0 1px 0 #fff !important;
}
</style>
{% include 'datatable_plugins.html' %}
 

{% endblock %}
{% block body %}

<div class="modal fade " id="region_report_Modal" >
  <div class="modal-dialog modal-xs modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" > Region Wise Report </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="region_body">
       
          {% include 'admin/books_portal/region_wise_report.html' %}
       
      </div>
     
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-3 col-lg-3 col-sm-6" >Received from Vendor: {{summary.total_books}} 
	</div>
  <div class="col-md-3 col-lg-3 col-sm-6" >Issued: {{summary.issued}} 
  </div>
  <div class="col-md-3 col-lg-3 col-sm-6" id="books_enrolled">  
     Balance Stock: {{summary.books_stock}}
  </div>
	<div class="col-md-3 col-lg-3 col-sm-6" id="books_issued">  To Be Received:{{summary.to_be_received}}
	</div>
	<div class="col-md-3 col-lg-3 col-sm-6" id="books_collected">  Data Entry Pending: {{summary.data_entry_pending}}
	</div>
	<div class="col-md-3 col-lg-3 col-sm-6" id="books_enrolled">  
		Data Entry Completed : {{summary.data_entry_completed}}
	</div>
</div>
<!-- <div class="row">
 
              <a href="#" id="region_report" style ="
    padding: 20px;
    font-weight: 800;
    text-transform: uppercase;
"> Click here for Region Wise Report</a>

             </div> -->

<br>
<br>
<div id="books_summary_div">
<div class="row">
                <div class="col-md-4">
                    <label for="type" style="color:#080322;font-size: 18px;
                                                                    font-family: sans-serif;padding-left:9px">Regional Level:</label>
                    <select class=" btn btn-primary"  style="font-size:12px" id="type" >
                        <option value=""  selected>Select Region Level</option>
                        <option value="state">State</option>
                        <option value="district">District</option>
                        <option value="assembly">Assembly</option>
                        
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="value_select" style="color:#080322;font-size: 18px;
                                                                    font-family: sans-serif;padding-left:9px">Select Region:</label>
                    <select class=" btn btn-primary"  style="font-size:12px" id="value" >
                        <option value=""  selected>Select State</option>
                        
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="button"  id="filter" class="btn btn-primary" style="width:122px;height:38px;margin-top:-2px;">Filter</button>
                </div>
            </div>
            

<div class="row datagrid" style="margin: 20px 20px 20px 20px;" >
	<table id="books_summary_table" class="display " cellspacing="0" width="100%" >
        <thead >
           <tr id="thead">
            <th>District </th>
            <th>issued </th>
            <th>To Be Collected </th>
            <th>Data Entry Pending </th>
            <th>Data Entry Completed </th>
           </tr>
        </thead>
<tbody></tbody>
       
        <tfoot > <tr id="tfoot">
<th width="10%"></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          
       </tr></tfoot>
    </table>
</div>
</div>

</div>


	</div>

	<script>
 
var myTable;
	$(document).ready(function()
	{

    var columns_all_data={};
columns_all_data['state']=[{data:'state'},{data:"issued"},{data:"to_be_received"},{data:"data_entry_pending"},{data:"data_entry_completed"}];
columns_all_data['district']=[{data:'district_name'},{data:"issued"},{data:"to_be_received"},{data:"data_entry_pending"},{data:"data_entry_completed"}];
columns_all_data['assembly']=[{data:'constituency_name'},{data:"issued"},{data:"to_be_received"},{data:"data_entry_pending"},{data:"data_entry_completed"}];

var columns_ind_data={};
columns_ind_data['state']=[{data:'district_name'},{data:"issued"},{data:"to_be_received"},{data:"data_entry_pending"},{data:"data_entry_completed"}];
columns_ind_data['district']=[{data:'constituency_name'},{data:"issued"},{data:"to_be_received"},{data:"data_entry_pending"},{data:"data_entry_completed"}];
columns_ind_data['assembly']=[{data:'constituency_name'},{data:"issued"},{data:"to_be_received"},{data:"data_entry_pending"},{data:"data_entry_completed"}];
var dataObject = {
    columns: columns_all_data['district'],
    data: []
  }; 

		$(".loader").css("display","block");

		// summary table
			myTable = $('#books_summary_table').DataTable( {
        bSort: false,

   footerCallback: function ( row, data, start, end, display ) {

            var api = this.api();
 
            // converting to interger to find total
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
            var colCount = api.columns()[0].length;
            console.log(colCount)
            var col_5_Total;
            // computing column Total of the complete result 
            if(colCount==5)
            {
              var col1_Total = api
                .column(1)
                .data()
                .reduce( function (a, b) {

                    return intVal(a) + intVal(b);
                }, 0 );
        
            }
            else
            {
              var col5_Total = api
                .column(5)
                .data()
                .reduce( function (a, b) {

                    return intVal(a) + intVal(b);
                }, 0 );
            }
            
      var col2_Total = api
                .column( 2 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
        
            var col3_Total = api
                .column( 3 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
        
       var col4_Total = api
                .column( 4 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
        
       
       
            // Update footer by showing the total with the reference of the column index 
      $( api.column( 0 ).footer() ).html('Total');
            if (colCount==5)
            {
              $( api.column( 1 ).footer() ).html(col1_Total);
            $( api.column( 2 ).footer() ).html(col2_Total);
            $( api.column( 3 ).footer() ).html(col3_Total);
            $( api.column( 4 ).footer() ).html(col4_Total);
            }
            else
            {
              $( api.column( 1 ).footer() ).html("");
            $( api.column( 2 ).footer() ).html(col2_Total);
            $( api.column( 3 ).footer() ).html(col3_Total);
            $( api.column( 4 ).footer() ).html(col4_Total);
            $( api.column( 5 ).footer() ).html(col5_Total);
            }
           
            
            
        },
       


			data:[],
			columns: dataObject.columns,
			"order": [],
			dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
			"lengthMenu": [ [10, 25, 50, "All"]]

			});

var regions={'state':[{"id":"1","text":"Andhra Pradesh"},{"id":"2","text":"Telangana"}],
'district':[],'assembly':[]};

 $.getJSON('/static/json/membership/constituencies.json',function(data){
            
             $.each(data,function(key,val){
      if(key<=parseInt("23"))
      {
        $.each(val,function(k,kval){
         
                 regions['assembly'].push(kval);
         }); 
      }
               
    });
  
  });
  
 $.getJSON('/static/json/membership/districts.json',function(data){
    $.each(data,function(key,val){
      if(key<=parseInt("2"))
      {
        $.each(val,function(k,kval){
         
                regions['district'].push(kval);
         }); 
      }
               
    });
  });
    
   

   $("#type").change(function()
{
  console.log(regions)
var type=$(this).val();
console.log(type)
var value_data=regions[type];
console.log(value_data);
$('#value')
        .find('option')
        .remove()
        .end()
        .append('<option value="all" selected>All</option>')
        .val('');
        if(type=='state')
        {
          $.each(value_data, function( index, value ) {
     
         $('#value').append($("<option></option>").
          attr("value",value.id).text(value.text)); 
    });
        }
          else if(type=='district')
          {
             $.each(value_data, function( index, value ) {
     
         $('#value').append($("<option></option>").
          
          attr("value",value.id).text(value.district_name));

          });
        }
        else if(type=='assembly')
          {
             $.each(value_data, function( index, value ) {
     
         $('#value').append($("<option></option>").
          
          attr("value",value.constituency_id).text(value.constituency_name).attr("data-state",value.state_id));
});
          }
          
    


  })

function get_filtered_data(type,value)
{
var api_url="/get_offline_books?type="+type+"&value="+value;
if(type=='assembly')
{
state_id=$("#value option:selected").attr("data-state");
api_url=api_url+"&state_id="+state_id
}
  if(type)
  {
    if(value)
    {
      if(value=='all')
      {
        dataObject.columns=columns_all_data[type];

      }
      else
      {

        dataObject.columns=columns_ind_data[type]

      }

       $(".loader").css("display","block");

    $.ajax({
           type: "GET",
           url:api_url,
           
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.status=='1') {
                var th_headings="";
                var tf_headings;
                $.each(dataObject.columns, function( index, value ) {
                  
                  th_headings=th_headings+"<th>"+value['data']+"</th>";
                  tf_headings=tf_headings+"<th></th>";

                }) ;

                

                 if ( $.fn.dataTable.isDataTable('#books_summary_table' ) ) {

                   myTable.destroy();
               }

                          $("#thead").html(th_headings);
                          $("#tfead").html(tf_headings);
                          
                          result=response.data;
                          myTable = $('#books_summary_table').DataTable( {
                          
                          bSort: false,
   footerCallback: function ( row, data, start, end, display ) {

            var api = this.api();
 
            // converting to interger to find total
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
            var colCount = api.columns()[0].length;
            console.log(colCount)
            var col_5_Total;
            // computing column Total of the complete result 
            if(colCount==5)
            {
              var col1_Total = api
                .column(1)
                .data()
                .reduce( function (a, b) {

                    return intVal(a) + intVal(b);
                }, 0 );
        
            }
            else
            {
              var col5_Total = api
                .column(5)
                .data()
                .reduce( function (a, b) {

                    return intVal(a) + intVal(b);
                }, 0 );
            }
            
      var col2_Total = api
                .column( 2 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
        
            var col3_Total = api
                .column( 3 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
        
       var col4_Total = api
                .column( 4 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
        
       
       
            // Update footer by showing the total with the reference of the column index 
      $( api.column( 0 ).footer() ).html('Total');
            if (colCount==5)
            {
              $( api.column( 1 ).footer() ).html(col1_Total);
            $( api.column( 2 ).footer() ).html(col2_Total);
            $( api.column( 3 ).footer() ).html(col3_Total);
            $( api.column( 4 ).footer() ).html(col4_Total);
            }
            else
            {
              $( api.column( 1 ).footer() ).html("");
            $( api.column( 2 ).footer() ).html(col2_Total);
            $( api.column( 3 ).footer() ).html(col3_Total);
            $( api.column( 4 ).footer() ).html(col4_Total);
            $( api.column( 5 ).footer() ).html(col5_Total);
            }
           
            
            
        },
       
        data:[],
        columns: dataObject.columns,

     
      "order": [],
      dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
      "lengthMenu": [ [10, 25, 50, "All"]]

      });
                          
                   
                           myTable.clear().draw()
                          myTable.rows.add( result ).draw()
                // myTable.column(':contains(memberships)').data().sum();
                 
                  $(".loader").css("display","none");
                  
                  }
                else
                {
                  $(".loader").css("display","none");
              swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });
    }
    else
  {
    swal("Error","Please select  one region value","error")
    return false;
  }
  }
  else
  {
    swal("Error","Please select  one region type","error")
    return false;
  }

}

$("#filter").click(function()
{

  var type=$("#type").val();
  var value=$("#value").val();
  var state_id='';
get_filtered_data(type,value)
  
});
get_filtered_data('district','all')


		// end of summary table
 
   // $.ajax({
   //         type: "GET",
   //         url:"/get_offline_books",
          
   //         dataType:"json",
   //         contentType:"application/json",
   //         success: function (response) {

   //             if (response.status=='1') {

   //                  var result=response.data;
                   
   //                   myTable.clear().draw()
   //               myTable.rows.add( result ).draw()
   //                $(".loader").css("display","none");


   //                }
   //              else
   //              {
   //                $(".loader").css("display","none");
   //      swal('Error',response.errors,'error')
   //              }
   //             },
   //      error:function(response)
   //         {
   //          console.log(response.errors)
   //          $(".loader").css("display","None");
   //          alert(response.errors)
   //           return false;
   //         }

   //     });
	

	})
	</script>
{% endblock %}