{% extends "admin_layout.html" %}
{% block head %}
<style>
.inp
{
	width:80% !important;
	text-transform: capitalize;
}
.bootstrap-tagsinput
{
	width:90%;
	
}
</style>
<link rel="stylesheet" href="/static/membership_books/css/bootstrap-tagsinput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="/static/membership_books/js/bootstrap-tagsinput.js"></script>
<script src="/static/membership_books/js/bootstrap-tagsinput-angular.js"></script>
<script src="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="static/assets/css/sweetalert.css">
<script type="text/javascript" src="static/assets/js/sweetalert.js"></script>
{% include 'loader.html' %}
{% endblock %}
{% block body %}

<div class=" container jumbotron" id="new_books_form_div" style="width:80%">
	<h3 style="text-align:center">Received From Vendor</h3>

	<form id="vendor" >
  
      <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
      	 <label for="recevier_name" style="color:blue">Recevier Name</label>
    <input type="text" class="form-control inp" required id="recevier_name" placeholder="Enter Receiver Name" name="recevier_ph" >
       
      </div>
      <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
         <label for="delivery_name" style="color:blue">Delivery Name</label>
        <input type="text" class="form-control inp" required id="delivery_name" placeholder="Delivery Person  Name" name="delivery_name" >
      </div>
      <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label for="delivery_ph" style="color:blue">Delivery Phone NO</label>
        <input type="text" class="form-control inp" required id="delivery_ph" placeholder="Enter Phone Number" name="delivery_ph" >
      </div>
   
  
  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6" >
    <label for="book_type" style="color:blue">Book Type</label>
    <select id="book_type" name="book_type" class="form-control inp" required >
      <option  value="">Select Book Type</option>
      <option value="Active" selected>Active</option>
      <option value="Primary">Primary</option>
          </select>
  </div>
  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label for="book_lng" style="color:blue">Book Language</label>
    <select id="book_lng" name="book_lng" class="form-control inp" required>
      <option  value="">Select Language</option>
      <option value="Telegu" selected>Telegu</option>
      <option value="English">English</option>
      <option value="Hindi">Hindi</option>
      <option value="Urdu">Urdu</option>
    </select>
  </div>
  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
  	 <label for="datepicker" style="color:blue">Date</label>
         <input id="datepicker" width="290" />
      
      </div>


   
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="tags" style="color:blue;">Book Numbers</label>
     
        <input type="text" value="" data-role="tagsinput" id="tags"  required>
        <p><span >No Of Booklets:</span><span id="count">0</span>
     
    </div>
    
    <div class=" col-xs-12 col-sm-4 col-md-12 col-lg-12 col-md-offset-4 col-lg-offset-4">
      <button type="submit"  id="submit" class="btn btn-success" style="width:100px;margin-top:30px">Submit</button>
    </div>

  </form>
  {% include '/admin/books_portal/generate_book_numbers.html' %}
</div>
<script>
 $('#datepicker').datepicker({
      uiLibrary: 'bootstrap',
       format:'yyyy-mm-dd'
    });
 $(document).ready(function()
	{

	
	$(document).keypress( function(event){ if (event.which == '13') { event.preventDefault(); } });

	$('#vendor').submit( function(e){
		 $('.loader').css("display","block"); 
    	e.preventDefault()
    	var data={}
   
		data['date'] =  $('#datepicker').datepicker().value();
		data['delivery_ph'] = $("#delivery_ph").val();
		data['delivery_name'] = $("#delivery_name").val();
		data['recevier_name'] = $("#recevier_name").val();
		data['book_type'] = $("#book_type").val();
		data['book_lng'] = $("#book_lng").val();
		data['tags'] = $("#tags").tagsinput('items');
		    console.log(data)
 

		  $.ajax({
		    type: "POST",
		    url:  "/entry_offline_books",
		    data: JSON.stringify(data),
		    dataType: "json",
		    contentType: "application/json",
		    success: function (response) {
			if(response.status=='1')
	        {
	        	 $('.loader').css("display","none"); 
                swal({
                title: "Books Saved Successfully",
                icon:"success",
                text: "",
                type: "success",
                showCancelButton: false,
                
                confirmButtonText: "OK",
                closeOnConfirm: false
                },
               function()
               {
                location.reload();
               });
            }
            else
            {
            	swal("Error",response.errors[0],"error")
             $('.loader').css("display","none"); 
            }
      
			    },
			    error:function(response){
						swal("Error",response.errors[0],"error")
			                         $('.loader').css("display","none"); 
			    }
			})
	});

$("#generate").click(function()
{
  var quantity=$("#quantity").val();
  var start=$("#start").val();
  
  var booklets=generate_range(start,quantity)
  booklets.map(function(book)
  {
    $("#tags").tagsinput('add',book)
  })
  $("#tags").tagsinput('refresh')
})

});
$('#tags').on('itemAdded', function(event) {

  $("#count").html($("#tags").tagsinput('items').length)
});
$('#tags').on('itemRemoved', function(event) {

  $("#count").html($("#tags").tagsinput('items').length)
});

</script>
{% endblock %}