


@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
	font-family: 'Dhurjati';
	src: url('../fonts/Dhurjati.eot?#iefix') format('embedded-opentype'), url('../fonts/Dhurjati.woff') format('woff'), url('../fonts/Dhurjati.ttf') format('truetype'), url('../fonts/Dhurjati.svg#Dhurjati') format('svg');
	font-weight: normal;
	font-style: normal;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input[type=number] {
    -moz-appearance:textfield;
}
@font-face {
	font-family: 'Ramabhadra';
	src: url('../fonts/Ramabhadra.eot?#iefix') format('embedded-opentype'), url('../fonts/Ramabhadra.woff') format('woff'), url('../fonts/Ramabhadra.ttf') format('truetype'), url('../fonts/Ramabhadra.svg#Ramabhadra') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NTR';
	src: url('../fonts/NTR.eot?#iefix') format('embedded-opentype'), url('../fonts/NTR.woff') format('woff'), url('../fonts/NTR.ttf') format('truetype'), url('../fonts/NTR.svg#NTR') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: #2e3b42;
}
h1, h2, h3, h5, p {
	margin: 0px;
}
html.cover {
	height: 100%;
	margin-top: 0 !important;
}
.cover body {
	height: 100%;
	vertical-align: top;
}
.content_wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
.cover_container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.cover_inner {
	padding: 63px 0 32px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 20% top;
	background-image: url(../images/img_president_lg.png)
}
.dontation {
	border: #587783 solid 2px;
}
.dontation .header {
	background-image: url(../images/bg_logo.png);
	background-repeat: repeat-x;
	background-position: left center;
	padding: 15px;
	margin-bottom: 15px;
}
.dontation .header .logo {
	text-align: left;
}
.dontation .header .title {
	background: #2e3b42;
	padding: 5px 10px;
	margin: 8px 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	border: #fff solid 1px;
	color: #fff;
}
.content {
	text-align: center;
	font-size: 1em;
	margin-bottom: 5px;
}
.content h2 {
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 30px;
	padding: 0 30px;
	font-family: 'NTR';
	color: #fff;
}

.content p.sign {
	padding: 20px 10px;
	text-align: center;
	border-bottom: #999 solid 1px;
}
.content h1 {
	margin-bottom: 10px;
	font-size: 1.8em;
	line-height: 30px;
	padding: 0 30px;
	font-family: 'Ramabhadra';
	color: #fff;
}
.content h1 span {
	font-size: 1.8em;
	font-family: 'Dhurjati';
	padding-top: 15px;
	display: block;
}
.btn_donate {
}
.btn_primary {
	cursor: pointer;
	background: #e9232a;
	border: none;
	border-radius: 0px;
	outline: none;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
}
.btn_primary:hover {
	cursor: pointer;
	color: #e9232a;
	background-color: #fff;
	border-color: #fff;
}
.btn_primary:focus, .btn_primary.focus {
	cursor: pointer;
	color: #e9232a;
	background-color: #fff;
	border-color: #fff;
	outline: none;
}
.socialshare {
	font-family: 'Oswald', sans-serif;
}
.socialshare ul {
	list-style-type: none;
	padding: 0;
	margin: 3px 0;
	text-align: right;
}
.socialshare ul li:first-child {
	margin: 2px 8px 5px 0;
	float: left;
	text-align:left;
}
.socialshare ul li:nth-child(2) {
	margin: 5px 8px 5px 0;
}
.socialshare ul li:first-child a {
	font-size: 1.5em;
	color: #00aeef;
}
.socialshare ul li {
	list-style: none;
	display: inline-block;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
}
.socialshare ul li.badge {
	background: rgba(255,255,255, .8);
	padding: 4px;
	margin-botton:5px;
}
.socialshare ul li a {
	color: #cc0000;
	font-size: 1em;
	line-height: 15px;
	padding: 3px 8px;
	text-shadow: none;
	width: 26px;
}
.links {
	padding: 15px 0;
}
.links ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.links ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}
.links ul li a {
	color: #00aeef;
	padding: 5px;
	display: block;
	text-decoration: underline;
}
.modal-content {
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
}
.pulse {
	cursor: pointer;
	box-shadow: 0 0 0 rgba(255,0,0, 0.8);
	animation: pulse 2s infinite;
}
.pulse:hover {
}
 @-webkit-keyframes pulse {
 0% {
 -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0.8);
}
 70% {
 -webkit-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
}
 100% {
 -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
}
}
@keyframes pulse {
 0% {

 -moz-box-shadow: 0 0 0 0 rgba(255,0,0, 0.8);
 box-shadow: 0 0 0 0 rgba(255,0,0, 0.8);
}
 70% {
 -moz-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
 box-shadow: 0 0 0 10px rgba(255,0,0, 0);
}
 100% {
 -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0 0);
 box-shadow: 0 0 0 0 rgba(255,0,0, 0);
}
}
.modal-body {
	padding: 25px;
	max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.modal-body p{
	margin-bottom: 15px;
}

.modal-body h5{
	margin-bottom: 5px;
}

.modal-header {
	background: #2e3b42;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    /* padding: 20px 0 10px 0px; */
    border: none;
    text-align: left;
    /* font-size: 2em; */
    height: 60px;
}
.modal-title{
	font-size: 1.8em;
	float: left;
}

.close{
	color: #fff;
}

.close span{
	font-size: 1.6em;
}
.btn_next {
	color: #fff;
	padding: 3px 15px;
	border: none;
	background: #d92027;
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
.btn_cancel {
	color: #fff;
	padding: 3px 15px;
	border: none;
	background: #2e3b42;
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
/**
 *
 * Float label Style
 *
 */

.float-label-control {
	position: relative;
	margin-bottom: 35px;
}
 .float-label-control ::-webkit-input-placeholder {
color: transparent;
}
 .float-label-control :-moz-placeholder {
color: transparent;
}
 .float-label-control ::-moz-placeholder {
color: transparent;
}
 .float-label-control :-ms-input-placeholder {
color: transparent;
}
 .float-label-control input:-webkit-autofill,  .float-label-control textarea:-webkit-autofill {
background-color: transparent !important;
-webkit-box-shadow: 0 0 0 1000px white inset !important;
-moz-box-shadow: 0 0 0 1000px white inset !important;
box-shadow: 0 0 0 1000px white inset !important;
}
.float-label-control input, .float-label-control textarea, .float-label-control label {
	font-size: 1.6em;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.float-label-control input:focus,  .float-label-control textarea:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom-width: 2px;
	padding-bottom: 0;
}
.float-label-control textarea:focus {
	padding-bottom: 4px;
}
.float-label-control input, .float-label-control textarea {
	display: block;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	padding: 0.1em 0em 1px 0em;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #aaa;
	outline: none;
	margin: 0px;
	background: none;
	font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.float-label-control textarea {
	padding: 0.1em 0em 5px 0em;
}
.float-label-control label {
	position: absolute;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	top: -1.2em;
	left: 0.08em;
	color: #2e3b42;
	z-index: 0;
	font-size: 1em;
	-moz-animation: float-labels 200ms none ease-out;
	-webkit-animation: float-labels 200ms none ease-out;
	-o-animation: float-labels 200ms none ease-out;
	-ms-animation: float-labels 200ms none ease-out;
	-khtml-animation: float-labels 200ms none ease-out;
	animation: float-labels 200ms none ease-out; /* There is a bug sometimes pausing the animation. This avoids that.*/
	animation-play-state: running !important;
	-webkit-animation-play-state: running !important;
}
.float-label-control input.empty + label,  .float-label-control textarea.empty + label {
	top: 0.1em;
	font-size: 1.5em;
	animation: none;
	-webkit-animation: none;
}
.float-label-control input:not(.empty) + label,  .float-label-control textarea:not(.empty) + label {
	z-index: 1;
	color: #00aeef;
}
.float-label-control input:not(.empty):focus + label,  .float-label-control textarea:not(.empty):focus + label {
	    color: #00aeef;
}
.float-label-control.label-bottom label {
	-moz-animation: float-labels-bottom 300ms none ease-out;
	-webkit-animation: float-labels-bottom 300ms none ease-out;
	-o-animation: float-labels-bottom 300ms none ease-out;
	-ms-animation: float-labels-bottom 300ms none ease-out;
	-khtml-animation: float-labels-bottom 300ms none ease-out;
	animation: float-labels-bottom 300ms none ease-out;
}
.float-label-control.label-bottom input:not(.empty) + label,  .float-label-control.label-bottom textarea:not(.empty) + label {
	top: 3em;
}
.float-label-control ul.select-dropdown {
	width: 100% !important;
	max-height: 150px;
	overflow: auto;
}
.float-label-control ul.select-dropdown.show {
	display: block !important;
}
.float-label-control ul.select-dropdown li a {
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #d3d3d3
}
.float-label-control ul.select-dropdown li a:hover {
	font-weight: bolder;
}
.float-label-control ul.select-dropdown li a.hide {
	display: none;
}
 @keyframes float-labels {
 0% {
color: #aaa;
top: 0.1em;
font-size: 1.5em;
}
    /*10% {  top: -0.1em; font-size: 1.43em; }*/
    20% {
top: -0.3em;
font-size: 1.37em;
}
    /*30% { top: -0.3em; font-size: 1.30em;}*/
    /*40% { top: -0.4em; font-size: 1.23em;}*/
    50% {
top: -0.6em;
font-size: 1.16em;
}
    /*60% { top: -0.6em; font-size: 1.09em;}*/
    /*70% { top: -0.7em; font-size: 1.02em;}*/
    80% {
top: -1.0em;
font-size: 0.95em;
}
    /*90% { top: -0.9em; font-size: 0.88em;}*/
    100% {
top: -1.2em;
font-size: 0.85em;
}
}
 @-webkit-keyframes float-labels {
 0% {
opacity: 1;
color: #aaa;
top: 0.1em;
font-size: 1.5em;
}
 20% {
font-size: 2.5em;
opacity: 1;
}
 30% {
top: 0.1em;
font-size: 2.5em;
opacity: 1;
}
 40% {
top: 0.1em;
font-size: 2.5em;
opacity: 1;
}
 50% {
top: 0.1em;
font-size: 2.5em;
opacity: 1;
}
 60% {
top: 0.1em;
font-size: 2.5em;
opacity: 1;
}
 70% {
top: 0.1em;
font-size: 2.5em;
opacity: 1;
}
 80% {
top: 0.1em;
font-size: 2.5em;
opacity: 1;
}
 90% {
top: 0.1em;
font-size: 2.5em;
opacity: 1;
}
 100% {
top: -1em;
opacity: 1;
}
}
 @keyframes float-labels-bottom {
 0% {
opacity: 1;
color: #aaa;
top: 0.1em;
font-size: 1.5em;
}
 20% {
font-size: 2.5em;
opacity: 1;
}
 30% {
top: 0.1em;
}
 50% {
opacity: 0;
font-size: 0.85em;
}
 100% {
top: 3em;
opacity: 1;
}
}
 @-webkit-keyframes float-labels-bottom {
 0% {
opacity: 1;
color: #aaa;
top: 0.1em;
font-size: 1.5em;
}
 20% {
font-size: 2.5em;
opacity: 1;
}
 30% {
top: 0.1em;
}
 50% {
opacity: 0;
font-size: 0.85em;
}
 100% {
top: 3em;
opacity: 1;
}
}
.form_container {
	padding: 60px 20px;
	background: #f2f2f2;
	color: #2e3b42;
	font-family: 'Open Sans', sans-serif;
	background-image: url(../images/bg_form.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
}
.form_container h1 {
	margin-bottom: 30px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
.form_container h2 {
	margin-bottom: 15px;
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
}
.form_container .radio-inline, .checkbox-inline {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	margin-bottom: 25px;
}
.form_container .container {
}
.form_container .form_content {
	border: #ffffff solid 1px;
	padding: 30px 25px;
	background: rgba(255,255,255,.8);
	-webkit-box-shadow: 0px 0px 58px -13px rgba(46,59,66,0.6);
	-moz-box-shadow: 0px 0px 58px -13px rgba(46,59,66,0.6);
	box-shadow: 0px 0px 58px -13px rgba(46,59,66,0.6);
}
.button-wrap {
	position: relative;
	text-align: center;
	top: 50%;
	margin-top: -2.5em;
}
/*@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}*/

.button-label {
	display: inline-block;
	padding:.6em 1.5em;
	margin: 0.5em;
	cursor: pointer;
	color: #292929;
	background: #efefef;
	border: #c8d3d9 solid 1px;
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button-label.sm {
	padding: .7em 1.5em;
}
.button-label.sm h1 {
	font-size: 1em;
}
.button-label h1 {
	font-size: 1.4em;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	margin: 0px;
}
.button-label:hover {
	background: #d6d6d6;
	color: #101010;
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}
.button-label:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
/*@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}*/

.yes-button:checked + .button-label {
	background: #2ECC71;
	color: #efefef;
}
.yes-button:checked + .button-label:hover {
	background: #29b765;
	color: #e2e2e2;
}
.no-button:checked + .button-label {
	background: #D91E18;
	color: #efefef;
}
.no-button:checked + .button-label:hover {
	background: #c21b15;
	color: #e2e2e2;
}
.maybe-button:checked + .button-label {
	background: #4183D7;
	color: #efefef;
}
.maybe-button:checked + .button-label:hover {
	background: #2c75d2;
	color: #e2e2e2;
}
.hidden {
	display: none;
}
.form-group h5 {
	margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
}

.form-check {
	margin-bottom: 30px;
}
.form-check label {
	position: relative;
	cursor: pointer;
	color: #666;
}
.form-check .label-text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}
.form-check input[type="checkbox"], .form-check input[type="radio"] {
	position: absolute;
	right: 9000px;
}
/*Check box*/
.form-check input[type="checkbox"] + .label-text:before {
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	width: 1em;
	display: inline-block;
	font-size: 20px;
	top: 2px;
	position: relative;
}
.form-check input[type="checkbox"]:checked + .label-text:before {
	content: "\f14a";
	color: #2980b9;
	animation: effect 250ms ease-in;
	font-size: 20px;
	top: 2px;
	position: relative;
}
.form-check input[type="checkbox"]:disabled + .label-text {
	color: #aaa;
}
.form-check input[type="checkbox"]:disabled + .label-text:before {
	content: "\f0c8";
	color: #ccc;
}
 @keyframes effect {
 0% {
transform: scale(0);
}
 25% {
transform: scale(1.3);
}
 75% {
transform: scale(1.4);
}
 100% {
transform: scale(1);
}
}
.captcha {
	margin-bottom: 30px;
}
.modalbox.success, .modalbox.error {
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	padding: 25px 25px 15px;
	text-align: center;
}
.modalbox.success.animate .icon, .modalbox.error.animate .icon {
	-webkit-animation: fall-in 0.75s;
	-moz-animation: fall-in 0.75s;
	-o-animation: fall-in 0.75s;
	animation: fall-in 0.75s;
}
.modalbox.success h1, .modalbox.error h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-top: 20px;
}
.modalbox.success p, .modalbox.error p {
	font-family: 'Open Sans', sans-serif;
}
.modalbox.success button, .modalbox.error button, .modalbox.success button:active, .modalbox.error button:active, .modalbox.success button:focus, .modalbox.error button:focus {
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	margin-top: 15px;
	width: 80%;
	background: transparent;
	color: #4caf50;
	border-color: #4caf50;
	outline: none;
}
.modalbox.success button:hover, .modalbox.error button:hover, .modalbox.success button:active:hover, .modalbox.error button:active:hover, .modalbox.success button:focus:hover, .modalbox.error button:focus:hover {
	color: #fff;
	background: #4caf50;
	border-color: transparent;
}
.modalbox.success .icon, .modalbox.error .icon {
	position: relative;
	margin: 0 auto;
	/* margin-top: -75px;*/
	background: #4caf50;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.modalbox.success .icon span, .modalbox.error .icon span {
	postion: absolute;
	font-size: 1.8em;
	color: #fff;
	text-align: center;
	padding-top: 20px;
}
.modalbox.error button, .modalbox.error button:active, .modalbox.error button:focus {
	color: #f44336;
	border-color: #f44336;
}
.modalbox.error button:hover, .modalbox.error button:active:hover, .modalbox.error button:focus:hover {
	color: #fff;
	background: #f44336;
}
.modalbox.error .icon {
	background: #f44336;
}
.modalbox.error .icon span {
	padding-top: 20px;
}
.center {
	float: none;
	margin-left: auto;
	margin-right: auto;/* stupid browser compat. smh */
}
.center .change {
	clearn: both;
	display: block;
	font-size: 10px;
	color: #ccc;
	margin-top: 10px;
}
@-webkit-keyframes fall-in {
 0% {
 -ms-transform: scale(3, 3);
 -webkit-transform: scale(3, 3);
 transform: scale(3, 3);
 opacity: 0;
}
 50% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
 opacity: 1;
}
 60% {
 -ms-transform: scale(1.1, 1.1);
 -webkit-transform: scale(1.1, 1.1);
 transform: scale(1.1, 1.1);
}
 100% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
}
}
@-moz-keyframes fall-in {
 0% {
 -ms-transform: scale(3, 3);
 -webkit-transform: scale(3, 3);
 transform: scale(3, 3);
 opacity: 0;
}
 50% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
 opacity: 1;
}
 60% {
 -ms-transform: scale(1.1, 1.1);
 -webkit-transform: scale(1.1, 1.1);
 transform: scale(1.1, 1.1);
}
 100% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
}
}
@-o-keyframes fall-in {
 0% {
 -ms-transform: scale(3, 3);
 -webkit-transform: scale(3, 3);
 transform: scale(3, 3);
 opacity: 0;
}
 50% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
 opacity: 1;
}
 60% {
 -ms-transform: scale(1.1, 1.1);
 -webkit-transform: scale(1.1, 1.1);
 transform: scale(1.1, 1.1);
}
 100% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
}
}
@-webkit-keyframes plunge {
 0% {
 margin-top: -100%;
}
 100% {
 margin-top: 25%;
}
}
@-moz-keyframes plunge {
 0% {
 margin-top: -100%;
}
 100% {
 margin-top: 25%;
}
}
@-o-keyframes plunge {
 0% {
 margin-top: -100%;
}
 100% {
 margin-top: 25%;
}
}
@-moz-keyframes fall-in {
 0% {
 -ms-transform: scale(3, 3);
 -webkit-transform: scale(3, 3);
 transform: scale(3, 3);
 opacity: 0;
}
 50% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
 opacity: 1;
}
 60% {
 -ms-transform: scale(1.1, 1.1);
 -webkit-transform: scale(1.1, 1.1);
 transform: scale(1.1, 1.1);
}
 100% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
}
}
@-webkit-keyframes fall-in {
 0% {
 -ms-transform: scale(3, 3);
 -webkit-transform: scale(3, 3);
 transform: scale(3, 3);
 opacity: 0;
}
 50% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
 opacity: 1;
}
 60% {
 -ms-transform: scale(1.1, 1.1);
 -webkit-transform: scale(1.1, 1.1);
 transform: scale(1.1, 1.1);
}
 100% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
}
}
@-o-keyframes fall-in {
 0% {
 -ms-transform: scale(3, 3);
 -webkit-transform: scale(3, 3);
 transform: scale(3, 3);
 opacity: 0;
}
 50% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
 opacity: 1;
}
 60% {
 -ms-transform: scale(1.1, 1.1);
 -webkit-transform: scale(1.1, 1.1);
 transform: scale(1.1, 1.1);
}
 100% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
}
}
@keyframes fall-in {
 0% {
 -ms-transform: scale(3, 3);
 -webkit-transform: scale(3, 3);
 transform: scale(3, 3);
 opacity: 0;
}
 50% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
 opacity: 1;
}
 60% {
 -ms-transform: scale(1.1, 1.1);
 -webkit-transform: scale(1.1, 1.1);
 transform: scale(1.1, 1.1);
}
 100% {
 -ms-transform: scale(1, 1);
 -webkit-transform: scale(1, 1);
 transform: scale(1, 1);
}
}
@-moz-keyframes plunge {
 0% {
 margin-top: -100%;
}
 100% {
 margin-top: 15%;
}
}
@-webkit-keyframes plunge {
 0% {
 margin-top: -100%;
}
 100% {
 margin-top: 15%;
}
}
@-o-keyframes plunge {
 0% {
 margin-top: -100%;
}
 100% {
 margin-top: 15%;
}
}
@keyframes plunge {
 0% {
 margin-top: -100%;
}
 100% {
 margin-top: 15%;
}
}
.thankyou{
	position: relative;
}

.thankyou p.thankyoumsg{
	margin-top: 40px;
	font-size: 1.5em;
	font-family: 'NTR';
}

.thankyou p.thankyoumsg span{
	margin-top: 40px;
	font-size: 1.5em;
		font-family: 'Dhurjati';
	color: #cc0000;

}
.thankyou h1{
	margin: 0px 0 0px 0!important;
	padding: 0px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Oswald', sans-serif !important;
	color: #4caf50;

}

.captcha {
	margin-bottom: 30px;
}
.modalbox.success, .modalbox.error {
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	padding: 0px 15px;
	text-align: center;
}
.modalbox.success.animate .icon, .modalbox.error.animate .icon {
	-webkit-animation: fall-in 0.75s;
	-moz-animation: fall-in 0.75s;
	-o-animation: fall-in 0.75s;
	animation: fall-in 0.75s;
}
.modalbox.success h1, .modalbox.error h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-top: 20px;
}
.modalbox.success p, .modalbox.error p {
	font-family: 'Open Sans', sans-serif;
}
.modalbox.success button, .modalbox.error button, .modalbox.success button:active, .modalbox.error button:active, .modalbox.success button:focus, .modalbox.error button:focus {
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	margin-top: 15px;
	width: 80%;
	background: transparent;
	color: #4caf50;
	border-color: #4caf50;
	outline: none;
}
.modalbox.success button:hover, .modalbox.error button:hover, .modalbox.success button:active:hover, .modalbox.error button:active:hover, .modalbox.success button:focus:hover, .modalbox.error button:focus:hover {
	color: #fff;
	background: #4caf50;
	border-color: transparent;
}
.modalbox.success .icon, .modalbox.error .icon {
position: absolute;
    margin: 0 auto;

    background: #4caf50;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: 0;
    right: 0;
}
.modalbox.success .icon span, .modalbox.error .icon span {
	postion: absolute;
	font-size: 1.8em;
	color: #fff;
	text-align: center;
	padding-top: 20px;
}
.modalbox.error button, .modalbox.error button:active, .modalbox.error button:focus {
	color: #f44336;
	border-color: #f44336;
}
.modalbox.error button:hover, .modalbox.error button:active:hover, .modalbox.error button:focus:hover {
	color: #fff;
	background: #f44336;
}

.modalbox.success .icon{
	top: 155px;

}
.modalbox.error .icon {
	background: #f44336;
	margin-top: -75px;
}
.modalbox.error .icon span {
	padding-top: 20px;
}
.center {
	float: none;
	margin-left: auto;
	margin-right: auto;/* stupid browser compat. smh */
}

.center .change {
	clearn: both;
	display: block;
	font-size: 10px;
	color: #ccc;
	margin-top: 10px;
}.modalbox dl{
	border: #f1f1f1 solid 1px;
	padding: 15px 5px;
	background: #f8f8f8;
}
.modalbox dt{
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

.modalbox dd{
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #0066cc;
}
#residence_confirm_div
{
margin-bottom:30px;
}

.validation{
	color: red;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1.1em;
}

.float-label-control span{
	font-family: 'Oswald', sans-serif;
    text-align: left;

    font-weight: 300;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.g-recaptcha{
	text-align: center;
}

.g-recaptcha div{
	text-align: center;
	margin: 0 auto;
}



