

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */



/* Portrait */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 568px)  and (orientation: portrait) {
.content {
	margin-top: 210px;
}
.sr{
	    margin-top: 12px;
}
.bt{
		margin-top: 15px!important;
	}
	#step_1_next1{
		margin-top: 15px!important;
	}
.dr{
	    margin-left: 44px!important;
}
.content_wrapper {
	background-position: center 20%;
	background-image: url(../images/img_president.png);
	background-size: 75%;
}
.dontation .header {
	background-position: left 40px;
	margin-bottom: 5px;
}
.cover_inner {
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	padding: 15px 5px;
}
.dontation .header .logo {
	text-align: center;
	margin-bottom: 15px;
}
.dontation .header .title {
	font-size: 1.75em;
}
.dontation .header {
	padding-left: 0px;
	padding-right: 0;
}
.content {
	margin-bottom: 15px;
}
.content h2, .content h1 {
	padding: 0 10px;
}
.content h1 span {
	font-size: 1.5em;
}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */



/* Portrait */
@media only screen  and (min-device-width: 375px)  and (max-device-width: 667px)  and (orientation: portrait) {
.content {
	margin-top: 252px;
}
.dr{
	    margin-left: 44px!important;
}
.bt{
		margin-top: 15px!important;
	}
	#step_1_next1{
		margin-top: 15px!important;
	}
.sr{
	    margin-top: 12px;
}
.content_wrapper {
	background-position: center 22%;
	background-image: url(../images/img_president.png);
	background-size: 75%;
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */



/* Portrait */
@media only screen  and (min-device-width: 414px)  and (max-device-width: 736px)  and (orientation: portrait) {
.content {
	margin-top: 266px;
}

#step_1_next1{
		margin-top: 15px!important;
	}
.dr{
	    margin-left: 44px!important;
}
.content_wrapper {
	background-position: center 22%;
	background-image: url(../images/img_president.png);
	background-size: 75%;
}
}

/* ----------- iPhone X ----------- */



/* Portrait */
@media only screen  and (min-device-width: 375px)  and (max-device-width: 812px)  and (orientation: portrait) {
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen  and (min-device-width: 768px)  and (max-device-width: 1024px)  and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 1) {
.content_wrapper {
	background-size: 40%;
	background-position: left top;
}
.cover_container {
	vertical-align: top;
}
.content h2, .content h1 {
	padding: 0 15px;
}
.content h2 {
	font-size: 1.2em;
}
}

/* Landscape */
@media only screen  and (min-device-width: 768px)  and (max-device-width: 1024px)  and (orientation: landscape)  and (-webkit-min-device-pixel-ratio: 1) {
.content_wrapper {
	background-position: 5% top;
	background-size: 30%;
}
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */



/* Portrait */
@media only screen  and (min-device-width: 768px)  and (max-device-width: 1024px)  and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 2) {
.content_wrapper {
	background-position: 5% top;
	background-size: 30%;
}
}

/* Landscape */
@media only screen  and (min-device-width: 768px)  and (max-device-width: 1024px)  and (orientation: landscape)  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen  and (min-device-width: 1024px)  and (max-device-width: 1366px)  and (-webkit-min-device-pixel-ratio: 2) {
.content_wrapper {
	background-position: 5% top;
	background-size: 30%;
}
}
