/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media (max-width:415px){
	.dr{ margin-left: 47px!important;}

#step_1_next1{
		margin-top: 15px!important;
	}
    
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
h1.maintitle {
	line-height: 32px;
}
.dr{
	    margin-left: 44px!important;
}
#step_1_next1{
		margin-top: 15px!important;
	}
.tax {
	position: absolute;
	right: 10px;
	top: -3px;
}
.form_content .button-label {
	width: 100%;
}
.content {
	margin-top: 210px;
}
.cover_inner {
	background-position: center 20%;
	background-image: url(../images/img_president.png);
	background-size: 75%;
	background-attachment: scroll;
}
.dontation .header {
	background-position: left 40px;
	margin-bottom: 5px;
}
.cover_inner {
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	padding: 15px 5px;
}
.dontation .header .logo {
	text-align: center;
	margin-bottom: 15px;
}
.dontation .header .title {
	font-size: 1.75em;
}
.dontation .header {
	padding-left: 0px;
	padding-right: 0;
}
.content {
	margin-bottom: 15px;
}
.content h2, .content h1 {
	padding: 0 10px;
}
.content h1 span {
	font-size: 1.5em;
}
.modal-body {
	padding: 30px 15px;
}
}


/* Landscape */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 568px)  and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
.form_content .button-label {
	width: 100%;
}
.dr{
	    margin-left: 44px!important;
}

#step_1_next1{
		margin-top: 15px!important;
	}
.content {
	margin-top: 210px;
}
.cover_inner {
	background-position: center 20%;
	background-image: url(../images/img_president.png);
	background-size: 45%;
	background-attachment: scroll;
}
.dontation .header {
	background-position: left 40px;
	margin-bottom: 5px;
}
.cover_inner {
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	padding: 15px 5px;
}
.dontation .header .logo {
	text-align: center;
	margin-bottom: 15px;
}
.dontation .header .title {
	font-size: 1.75em;
}
.dontation .header {
	padding-left: 0px;
	padding-right: 0;
}
.content {
	margin-bottom: 15px;
}
.content h2, .content h1 {
	padding: 0 10px;
}
.content h1 span {
	font-size: 1.5em;
}
.modal-body {
	padding: 30px 15px;
}
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
.content {
	margin-top: 270px;
}
.dr{
	    margin-left: 44px!important;
}
#step_1_next1{
		margin-top: 15px!important;
	}

.cover_inner {
	background-position: center 20%;
	background-image: url(../images/img_president.png);
	background-size: 75%;
}
}


/* Landscape */
@media only screen  and (min-device-width: 375px)  and (max-device-width: 667px)  and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
.form_content .button-label {
	width: 100%;
}
.dr{
	    margin-left: 44px!important;
}
#step_1_next1{
		margin-top: 15px!important;
	}
.content {
	margin-top: 250px;
}
.cover_inner {
	background-position: center 20%;
	background-image: url(../images/img_president.png);
	background-size: 45%;
	background-attachment: scroll;
}
.dontation .header {
	background-position: left 40px;
	margin-bottom: 5px;
}
.cover_inner {
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	padding: 15px 5px;
}
.dontation .header .logo {
	text-align: center;
	margin-bottom: 15px;
}
.dontation .header .title {
	font-size: 1.75em;
}
.dontation .header {
	padding-left: 0px;
	padding-right: 0;
}
.content {
	margin-bottom: 15px;
}
.content h2, .content h1 {
	padding: 0 10px;
}
.content h1 span {
	font-size: 1.5em;
}
.modal-body {
	padding: 30px 15px;
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
.content {
	margin-top: 266px;
}
.dr{
	    margin-left: 44px!important;
}

#step_1_next1{
		margin-top: 15px!important;
	}
.cover_inner {
	background-position: center 20%;
	background-image: url(../images/img_president.png);
	background-size: 75%;
}
}


/* Landscape */
@media only screen  and (min-device-width: 414px)  and (max-device-width: 736px)  and (-webkit-min-device-pixel-ratio: 3)  and (orientation: landscape) {
.form_content .button-label {
	width: 100%;
}
.dr{
	    margin-left: 44px!important;
}

#step_1_next1{
		margin-top: 15px!important;
	}
.content {
	margin-top: 275px;
}
.cover_inner {
	background-position: center 20%;
	background-image: url(../images/img_president.png);
	background-size: 45%;
	background-attachment: scroll;
}
.dontation .header {
	background-position: left 40px;
	margin-bottom: 5px;
}
.cover_inner {
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	padding: 15px 5px;
}
.dontation .header .logo {
	text-align: center;
	margin-bottom: 15px;
}
.dontation .header .title {
	font-size: 1.75em;
}
.dontation .header {
	padding-left: 0px;
	padding-right: 0;
}
.content {
	margin-bottom: 15px;
}
.content h2, .content h1 {
	padding: 0 10px;
}
.content h1 span {
	font-size: 1.5em;
}
.modal-body {
	padding: 30px 15px;
}
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
.cover_inner {
	background-size: 40%;
	background-position: left top;
}
.dr{
	    margin-left: 44px!important;
}

#step_1_next1{
		margin-top: 15px!important;
	}
.cover_container {
	vertical-align: top;
}
.content h2, .content h1 {
	padding: 0 12px;
}
.content h2 {
	font-size: 1.2em;
}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
.cover_inner {
	background-position: 5% top;
	background-size: 30%;
}
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
.cover_inner {
	background-position: 5% top;
	background-size: 30%;
}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen  and (min-device-width: 1366px)  and (max-device-width: 1366px)  and (orientation: landscape)  and (-webkit-min-device-pixel-ratio: 2) {
.cover_inner {
	background-position: 7% center;
	background-size: 20%;
}
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen  and (min-device-width: 1024px)  and (max-device-width: 1024px)  and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 2) {
.cover_inner {
	background-position: 7% top;
	background-size: 25%;
}
}
