{% extends "admin_layout.html" %}
{% block head%}
<link href="/static/css/jquery.contextMenu.min.css" rel="stylesheet">
<link href="/static/css/tree_ui_mine.css" rel="stylesheet">
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block body %}
<div class="row">
    <button id='cr_button' class="btn col-md-4 cr_grp" style="margin-left:15px;">Create Group Type</button>

</div>
<div class='row' >
    <div class="col-md-4 treeview" id="tree2">
    </div>
    <div class="col-md-8" id="roles"></div>
</div>
<div class="group_pop modal fade" role="dialog" id="group_pop_modal">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create Group Type</h4>
      </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6" >
                    <div class="form-group">
                      <label for="group_name">Group Type Name:</label>
                      <input type="text" class="form-control" id="group_name">
                        <input type="hidden" id="parent_path">
                    </div>



                </div>
                <button class="btn grp_submit col-md-3">Submit</button>
            </div>
            <div class>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="roles_modal">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create Role</h4>
      </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6" >
                    <div class="form-group">
                      <label for="role_name">Role Name:</label>
                      <input type="text" class="form-control" id="role_name">
                        <input type="hidden" id="group_type_id">
                    </div>
                    <div class="form-group">
                      <label for="max_count">Maximum Members:</label>
                      <input type="text" class="form-control" id="max_count" value="1">

                    </div>



                </div>
                <button class="btn col-md-3" id="role_submit">Submit</button>
            </div>
            <div class>
        </div>
    </div>
    </div>
</div>
<script src="/static/js/bootstrap-treeview.min.js"></script>
<script src="/static/js/jquery.contextMenu.min.js"></script>
<!--<script src="/static/js/jquery.contextMenu.min.js.map"></script>-->
<script src="/static/js/init.js"></script>
<script src="/static/js/mytree.js"></script>
<script>
    $(document).ready(function(){
    init_csrf('{{csrf_token()}}');


        var tree_array = []
        var get_tree = function(){
        var url = '/group_type_tree'
        var data = {}
        data.csrf_token = '{{csrf_token()}}';
        $('.loader').css('display','block');
                $.ajax({
                  type: "POST",
                  url: url,
                  data: data,
                  success: function(response){
                    console.log(response);

                    tree_array = JSON.parse(response).data.children;
                    if(tree_array.length == 0){
                        $('#cr_button').show();
                    }
                    else{
                        $('#cr_button').hide();
                        regen_tree(tree_array, '#tree2');
                    }
                    $('.loader').css('display','none');
                  },

                });

        }
        get_tree();




        var group_pop = $('#group_pop_modal');

        $('.cr_grp').click(function(){
            group_pop.modal('show');
        });
        $('.grp_submit').click(function(){
            var group_name = $('#group_name').val();
            var url = '/group_type/create'
            var data = {}
            data.parent_path = group_pop.find('#parent_path').val();
            data.group_name = group_name;
            data.csrf_token = '{{csrf_token()}}';
            $('.loader').css('display','block');
                $.ajax({
                  type: "POST",
                  url: url,
                  data: data,

                  success: function(response){
                    console.log(response);
                    group_pop.find('#parent_path').val('');
                    $('.loader').css('display','none');
                    $('#group_name').val('')
                    group_pop.modal('toggle');
                    get_tree();
                  }
                });

            });
    });

</script>
{% endblock %}