<html>
<head>
<meta charset='UTF-8'>
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<style>
    body{

background: #ffffff;

    }
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
</style>

</head>
<body>

    <div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 50px">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <div class="account-wall">
                 <p style="text-align: center; margin-top: 50px; margin-bottom: 10px;"><img src="/static/img/logo.png" width="100px" /></p>
                 {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="alert alert-success">
                            <ul class="flashes">
                            {% for message in messages %}
                              <li style="color:red;">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% endwith %}
                <form class="form-signin" method="post">
                 <h2 style="text-align:center">Login</h2>
                    <div class="form-group">
                        <label for="username">Phone</label>
                        <input type="text" id='username' name='username' class="form-control" required>
                    </div>

                    <div class="form-group" id="passformgp">
                        <label for="password">Password</label>
                        <input type="password" id='password' name='password' class="form-control" placeholder="Password"
                               required>
                    </div>

                <button class="btn btn-lg btn-primary btn-block" id="check">

                    Go!</button>
                    <button class="btn btn-lg btn-primary btn-block" id="login" type="submit">login</button>
                <a href="/group/forgotlaPassword" class="pull-right need-help">Forgot Password? </a><span class="clearfix"></span>
                </form>


            </div>

        </div>
    </div>
    <div class="loader hidden">
                <div class="spinner"> <svg width='48px' height='48px' xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-hourglass">
                  <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                  <g>
                  <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z" class="glass"></path>
                  <clipPath id="uil-hourglass-clip1">
                      <rect x="15" y="20" width="70" height="25" class="clip">
                      <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <clipPath id="uil-hourglass-clip2">
                      <rect x="15" y="55" width="70" height="25" class="clip">
                      <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)" fill="#ffab00" class="sand"></path>
                  <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)" fill="#ffab00" class="sand"></path>
                  <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                </g>
                  </svg> </div>
              </div>
</div>

<script src="/static/js/jquery-2.1.0.min.js"></script>
<script src="/static/js/sweetalert.min.js"></script>

<script src="/static/js/lalogin/login.js"></script>
</body>

</html>