 <style class="cp-pen-styles">@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);
body{
    margin: 0;
    background: #fff;
    overflow:hidden;
    width:100%;
  
}

canvas {
    left: 50%;
    position: absolute;
    top :50%;
    transform :translate( -50%, -50% );
}

    .card{
        background: #fff;
        box-shadow:0 1px 2px #aaa;
        color:gray;
        cursor: pointer;
    }
    .card:hover{
        background: #f8f8f9;
        box-shadow:0 1px 10px #aaa;
    }
    .map{
        
    }
    
    
.inputs{
    border: none;
    padding: 10px;
    text-align: center;
    height: 50px;
    width: 100%;
    border:2px solid #eaeaea;
    outline:none;
}
.inputs:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
.inputs:focus{
    border-color:#4d90fe;
}

.inputs[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height:50px;
}
.inputs[type="submit"]:hover {
    cursor: pointer;
}
</style>
 <div class="container" style="height: 100%; overflow-y: scroll">
 	 <main>
  <div class="row" style="margin-top: 50px;">

 	<h1>Hello Referrals</h1>
 	<p>{{current_user.name}}</p>
 	<p>{{current_user.membership_id}}</p>
 	<p>{{current_user.voter_id}}</p>
 	<p>{{current_user.phone}}</p>
 </div>
   </main>
  
<div class="wraploading" ng-show="hidedata.loadingscrren"><div class="loader"></div></div>