 <style class="cp-pen-styles">@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);
body{
    margin: 0;
    background: #fff;
    overflow:hidden;
    width:100%;
  
}

canvas {
    left: 50%;
    position: absolute;
    top :50%;
    transform :translate( -50%, -50% );
}

    .card{
        background: #fff;
        box-shadow:0 1px 2px #aaa;
        color:gray;
        cursor: pointer;
    }
    .card:hover{
        background: #f8f8f9;
        box-shadow:0 1px 10px #aaa;
    }
    .map{
        
    }
    
    
.inputs{
    border: none;
    padding: 10px;
    text-align: center;
    height: 50px;
    width: 100%;
    border:2px solid #eaeaea;
    outline:none;
}
.inputs:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
.inputs:focus{
    border-color:#4d90fe;
}

.inputs[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height:50px;
}
.inputs[type="submit"]:hover {
    cursor: pointer;
}
</style>
 <div class="container" style="height: 100%; overflow-y: scroll">
 	 <main>
    <div class="row" style="margin-top: 50px;">
        <p style="text-align:right">Add New Activity</p>
     </div>   
  <div class="row" style="margin-top: 50px;">

 	 <div class="col-xs-3 col-md-2 col-sm-3" style="background: #4DB6AC; height: 95%; overflow-y: scroll; box-shadow: 0 0 4px rgba(0,0,0,.14) ,0 4px 8px rgba(0,0,0,.28); z-index: 2">
        <div class="row userhover" ng-repeat="activity in activities " ng-click="getactivity(activity.seq_id )" >
               
                <div  style="padding-top: 10px" >
                    <p style="padding-bottom:0; color: white; margin-bottom: 0px">[[activity.activity_name]]</p>
                </div>
            </div>
     </div>
     <div class="col-xs-9 col-md-10 col-sm-9" >
        <p>Add/edit activities coming soon</p>
        <div class='row'>
             <div class='col-md-6 col-sm-12 col-lg-6'>
                            <p>Activity Title  :</p>
                            <input class="form-control" type="text" my-maxlength="30" placeholder="Activity Title" ng-model='activity_title' name="title" required/>

            </div> 
            <div class='col-md-6 col-sm-12 col-lg-6'>
                            <p>Activity Tag  :</p>
                            <select class="form-control" ng-model='generic_notification_category' name="category" required>
                              <option value=''> Select Tag</option>
                              
                                <option value=[[tag.seq_id]] ng-repeat="tag in activity_tags">[[tag.name]]</option>
                                  </select> 

            </div>                
</div>
<div class='row'>
     <p>Activity Description :</p>
                           
                            <div text-angular="text-angular" ta-toolbar="ramarray" name="htmlcontent1" ng-model="activity_text" ></div>
</div>
     </div>
 </div>
   </main>
  
<div class="wraploading" ng-show="hidedata.loadingscrren"><div class="loader"></div></div>