 <html>

<head>
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="viewport" content="width=device-width, initial-scale=1">




 <style>
label,input
{
  font-size: 18px !important;
    font-weight: 600 !important;
    
}

@media only screen and (min-width: 601px){
  .container {
    width: 100% !important;
}
 .canvas{border:1px solid red;}
         .card-container
{
   text-align: center;
   margin-bottom: 2.5em;
   margin-top:2 em;
}
.canvas
{
   border: 1px solid #d81615;
   /*background-color: #fff;*/
  /* background-image: url("/static/img/idcardbg.jpeg");*/
   -moz-box-shadow: 3px 3px 8px #222;
   -webkit-box-shadow: 3px 3px 8px #222;
   box-shadow: 3px 3px 8px #222;
}
.title
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 2.2em;
   margin: 1em;
}
.info
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 1.2em;
   margin: 0.25em;
}



}

@media only screen and (min-width: 993px){
  .container {
    width: 75% !important;
}

/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: verdana;
    font-weight: 400;
    line-height: 0.1;
    color: inherit;
}*/
 .canvas{border:1px solid red;}
         .card-container
{
   text-align: center;
   margin-bottom: 2.5em;
   margin-top:2 em;
}
.canvas
{
   border: 1px solid #d81615;
   /*background-color: #fff;*/
  /* background-image: url("/static/img/idcardbg.jpeg");*/
   -moz-box-shadow: 3px 3px 8px #222;
   -webkit-box-shadow: 3px 3px 8px #222;
   box-shadow: 3px 3px 8px #222;
}
.title
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 2.2em;
   margin: 1em;
}
.info
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 1.2em;
   margin: 0.25em;
}



}


  #rcorners1 {
    border-radius: 5px;
    border: 2px solid #d81615;
    padding: 5px; 
    width: 315px;
    height: 480px; 
     text-align: center;

}
body{
    margin: 0;
    background: #fff;
    overflow:hidden;
    width:100%;
  
}
      </style>

</style>
  </head>
  

<body>
  <img id="qrious" style="display:none">
  <div class="container" align="center" style="height: 100%; overflow-y: scroll;">
    
    <div class="row" style="margin-top: 50px;">
 
      
        
  <div  id="id_card_div" >
  
  

            <div class="row"   align="center">
            <div class="card-container" id="rcorners1">
            <canvas id="canvas_display" class="canvas_display" width="300" height="464" ></canvas>
             <canvas id="canvas_download" class="canvas_download" width="750" height="542" style="display:None"></canvas>
            </div>
            <div class="row" align="center">
               <button id="upload_image"  class="btn" title="Upload Your Photo">Change Photo</button>

            <a id="download"><button class="btn" > Download </button></a>
            

           
            </div>
            </div>
  </div>


    

  <div class="row" id="image_div"  style="display:none;margin-left:10px !important;font-size:12px !important;" >
      
  
  <div class="col-md-3 col-lg-3   ">
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12" style="tex-align:center" >
    <h5 style="tex-align:center">Please Keep your Photo In Red Color Box and then Crop</h5>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-6 ">
         <label for="upload">
        <i class="fa fa-file-image-o fa-3x red-text" aria-hidden="true" style="cursor:pointer;" title="choose file"></i>
        </label>
        <input type="file" class=" js-loadfile" id="upload" name="upload" accept="image/*" style="display:none;" /></i>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-6">
        <label for="camera">
        <i class="fa fa-camera-retro fa-3x red-text" aria-hidden="true" style="cursor:pointer;" title="Take Photo"></i>
    
        <input type="button" class="btn" id="camera" name="camera"  style="display:none;" />
      </div>
    </div>
    <div class="row" >
      <button class="btn js-reset" >Reset</button>
      <button class="btn js-crop" disabled>Crop</button>
    
      <button class="btn save" id="save" disabled>Save</button>
      <button class="btn skip_profile" id="skip_profile" >Skip </button>
    </div>

    <div class="crop-wrapper row ">
      
      <div class="overlay">
        <div class="overlay-inner">
        </div>
      </div>
      <img class="resize-image" id="member_image"  src="/static/img/Placeholder1.jpg" alt="upload image and resize to red color square box" accept="image/*" >
    </div>
    <div class="row" id="camera_div" style="display:none">
      <div class="row"  id="camera_image"> </div>
      <div class="row" style="text-align:center">
       <input type="button" class="btn" value="Take Snapshot" id="take_snapshot" >
      </div>
    </div>
  </div>  

  <div class="col-lg-3 col-md-3  ">
  </div>

     
   </div>
    </div>
  </div>

  </div>
 
    </div>
  </div>
  <div class="wraploading" ng-show="hidedata.loadingscrren"><div class="loader"></div></div>
</body>
</html>