 <style class="cp-pen-styles">@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);
body{
    margin: 0;
    background: #fff;
    overflow:hidden;
    width:100%;
  
}

canvas {
    left: 50%;
    position: absolute;
    top :50%;
    transform :translate( -50%, -50% );
}

    .card{
        background: #fff;
        box-shadow:0 1px 2px #aaa;
        color:gray;
        cursor: pointer;
    }
    .card:hover{
        background: #f8f8f9;
        box-shadow:0 1px 10px #aaa;
    }
    .map{
        
    }
    
    
.inputs{
    border: none;
    padding: 10px;
    text-align: center;
    height: 50px;
    width: 100%;
    border:2px solid #eaeaea;
    outline:none;
}
.inputs:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
.inputs:focus{
    border-color:#4d90fe;
}

.inputs[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height:50px;
}
.inputs[type="submit"]:hover {
    cursor: pointer;
}
</style>
 <div class="container" style="height: 100%; overflow-y: scroll">
 	 <main>
  <div class="row" style="margin-top: 100px;">

 	<div class="row" ng-show="old_profile_details">
                <div class="row"  style="padding: 10px;margin-left: 30px">
                   
                    <h2 align="center" style="color: #26A69A;text-align:center">PROFILE </h2>
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <p style="color: #26A69A; text-align:left"> Name</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[profile_data.name]]</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <p style="color: #26A69A; text-align:left">Phone Number</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[profile_data.phone]]</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <p style="color: #26A69A; text-align:left">Membership ID:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[profile_data.membership_id]]</p>
                        </div>
                        </div>
                         <hr>
                       
                    
                   
                    <div class="row">
                         <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">[[profile_data.relation_type]]</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[profile_data.relationship_name]]</p>
                        </div>
                         <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">Age:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[profile_data.age]]</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">Gender</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[profile_data.sex]]</p>
                        </div>
                       
                    </div>
                     <div class="row">
                         <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">Voter ID:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[profile_data.voter_id]]</p>
                            <div class="row" ng-show="voter_div">
                            <a  id="voteriddiv"><p style="color: red; text-align:left" ng-click="showvotersdiv()"> Click to Update Your Voter ID</p></a>
                            
                        </div>
                        </div>
                         <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">Polling Stattion Id:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[profile_data.polling_station_id]]</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">Polling Station Address:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[profile_data.polling_station_name]]</p>
                        </div>
                         <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">Email:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[profile_data.email]]</p>
                        </div>
                       
                    </div>

                    <hr>

 							
                   
</div>
            </div>

            <div class="voter_details" ng-show="voter_details_div" >
               <div class="form-group">
    <label for="voterid">Voter ID:</label>
    <input type="text" maxlength="14" ng-model="voterid" class="form-control" id="voterid">
  </div>
  
  <button type="submit" class="btn btn-default"  ng-click="check_voter_id()" >Submit</button>
  <button type="submit" class="btn btn-default"  ng-click="cancel()" >Cancel</button>

            </div>

            <!-- new voter details div -->

            <div class="row" ng-show="new_voter_details">
                <div class="row"  style="padding: 10px;margin-left: 30px">
                   
                    <h2 align="center" style="color: #26A69A;text-align:center">Below  Details are as Per Voter ID </h2>
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <p style="color: #26A69A; text-align:left"> Name</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[voter_data.voter_name]]</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <p style="color: #26A69A; text-align:left">age</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[voter_data.age]]</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <p style="color: #26A69A; text-align:left">Gender:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[voter_data.sex]]</p>
                        </div>
                        </div>
                         <hr>
                    
                    <div class="row">
                         <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">[[voter_data.relation_type]]:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[voter_data.relation_name]]</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">Polling Stattion Id:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[voter_data.part_no]]</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">Polling Station Address:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[voter_data.section_name]]</p>
                        </div>
                       
                    </div>
                   <div class="row">
                         <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">Constituency Name</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[voter_data.constituency_name]]</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                            <p style="color: #26A69A; text-align:left">District Name:</p>
                            <p style="color: #848484; text-align: left; font-size: 17px">[[voter_data.district_name]]</p>
                        </div>

                        
                       
                    </div>
                    <div class="row">
                      <button type="submit" class="btn btn-default"  ng-click="confirm_voter_id()" >Confirm</button>
                    <button type="submit" class="btn btn-default"  ng-click="cancelconfirmation()" >Cancel</button> 
                    </div>

                    <hr>

                            
                   
</div>
            </div>

            <!--  end of voter details div -->
 	
 </div>
   </main>
  
<div class="wraploading" ng-show="hidedata.loadingscrren"><div class="loader"></div></div>