  <style class="cp-pen-styles">@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);
body{
    margin: 0;
    background: #fff;
    overflow:hidden;
    width:100%;
  
}

canvas {
    left: 50%;
    position: absolute;
    top :50%;
    transform :translate( -50%, -50% );
}

    .card{
        background: #fff;
        box-shadow:0 1px 2px #aaa;
        color:gray;
        cursor: pointer;
    }
    .card:hover{
        background: #f8f8f9;
        box-shadow:0 1px 10px #aaa;
    }
    .map{
        
    }
    
    
.inputs{
    border: none;
    padding: 10px;
    text-align: center;
    height: 50px;
    width: 100%;
    border:2px solid #eaeaea;
    outline:none;
}
.inputs:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
.inputs:focus{
    border-color:#4d90fe;
}

.inputs[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height:50px;
}
.inputs[type="submit"]:hover {
    cursor: pointer;
}
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

</style>
 <div class="container" style="height: 100%; overflow-y: scroll">
 		 <main>
  <div class="row" style="margin-top: 50px;">

<table align="center">
	<tr>
		<th>Index</th>
		<th>Name</th>
		<th>Relation Type</th>
		<th>Relation Name</th>
		<th>Gender</th>
		<th>Age</th>
	</tr>
  <tr ng-repeat="x in referrals">
   
    <td>[[$index+1]]</td>
		<td>[[x.name]]</td>
		<td>[[x.relation_type]]</td>
		<td>[[x.relation_name]]</td>
		<td>[[x.sex]]</td>
		<td>[[x.age]]</td>
  </tr>
</table>






 </div>
   </main>
 </div>