 <style class="cp-pen-styles">@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);
body{
    margin: 0;
    background: #fff;
    overflow:hidden;
    width:100%;
  
}



.inputs[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    height:50px;
}

</style>
 <div class="container" style="height: 100%;padding-left:10px;padding-right:10px; overflow-y: scroll">
 	 <main>
        <div class="col-md-3 col-lg-3"></div>
         <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        
  <div class="row" style="margin-top: 100px;">
    <h5 style="text-align: center;
    font-weight: 800;
    color: #d81615;"> Create New PIN</h5>
    <span style="color:red">Create 6 Digit PIN and use this pin  to login from next time </span>
  <div class="form-group">
    <label for="password">6 Digit PIN:</label>
    <input type="password" maxlength="6" allow-only-numbers  class="form-control" id="pin">
  </div>
  <div class="form-group">
    <label for="pwd">Confirm PIN:</label>
    <input type="password" maxlength="6" allow-only-numbers   class="form-control" id="confirmpin">
  </div>
  
  <button type="submit" class="btn btn-default" id="savepin">Submit</button>
                  
</div>
</div>
<div class="col-md-3 col-lg-3"></div>
            </div>
 	
 
   </main>

  
<div class="wraploading" ng-show="hidedata.loadingscrren"><div class="loader"></div></div>

