
{% extends "shatagni/subscription_layout.html" %}

{% block body %}

<style>
.heading h2 strong {
    color: #ce2127;
}
.proceedBtn {
    width: 300px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0px;
}
.paySelectBox {
    margin: 0px;
    padding: 20px;
    padding-bottom: 15px;
    overflow: hidden;
    background: #f1f1f1;
}
.paySelectBox h2 {
    margin: 0px;
    padding: 10px 0 20px 0;
    font-size: 22px;
    color: #262835;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.paySelectBox p {
    margin: 0px;
    padding: 0px 0 5px 0;
    font-size: 15px;
    color: #262835;
    line-height: 28px;
}
.heading {
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    float: left;
    margin-top: -35px;
}
.heading h2 {
    font: 700 30px/45px 'Roboto Slab', serif;
    color: #000;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 14px;
}
.userDetailArea {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.userInfoBox {
    margin: 60px 0 45px 0;
    padding: 0px;
}
.userDetailArea.first ul {
    min-height: 290px;
}
.userDetailArea ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 1px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
}
.userDetailArea h2 {
    margin: 0px;
    padding: 15px 0px;
    background: #262835;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.userDetailArea ul li {
    margin: 0px;
    padding: 16px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    overflow: hidden;
}
.userDetailArea .valueText {
    display: block;
    width: 47%;
    float: left;
}
.userDetailArea .valueDetail {
    display: block;
    float: left;
    width: 52%;
}
.proceed input[type="submit"] {
    font: 700 23px/35px 'Roboto Slab', serif;
    color: #fff;
    cursor: pointer;
    border: 0;
    background-color: #13bb17;
    padding: 1px 30px;
}
 .proceed {
    width: 152px;
    margin: 20px auto 0;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/static/img/Preloader_10.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

</style>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
<script type="text/javascript">
$(window).load(function() {
  console.log("sssss")
    $(".loader").fadeOut("slow");
});
</script>


<div class="container" style="margin-top: 65px;">
  <div class="loader"></div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="heading">
        <h2>Order <strong>Summary</strong></h2>
      </div>
    </div>
  </div>
  
  <!--end Heading -->
  
  <div class="userInfoBox">
            
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="userDetailArea first">
          <h2>Your Subscription Details</h2>
          <ul>
            <li> <span class="valueText">Order Number</span> <span class="valueDetail">{{data.transaction_id}}</span> </li>
            <li> <span class="valueText">Amount</span> <span class="valueDetail">Rs. {{data.amount}} </span> </li>
            <li> <span class="valueText">Product</span> <span class="valueDetail">Shatagni Magazine</span> </li>
            <li> <span class="valueText">Subsciption Duration</span>
              {% if data.plan==1 %}
             <span class="valueDetail">{{data.plan}}Year</span>
             {% else %}
             <span class="valueDetail">{{data.plan}}Years</span>
             {% endif %}
              </li>
           
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="userDetailArea">
          <h2>Personal Information</h2>
          <ul>
            <li> <span class="valueText">Name</span> <span class="valueDetail">{{data.name}}</span> </li>
            
           
           
            
            <li> <span class="valueText">Address</span> <span class="valueDetail"><p>{{data.address}}</p></span> </li>
            <li> <span class="valueText">State</span> <span class="valueDetail">{{data.state}}</span> </li>
            <li> <span class="valueText">City</span> <span class="valueDetail">{{data.city_town}}</span> </li>
            
            <li> <span class="valueText">Pin </span> <span class="valueDetail">{{data.pincode}}</span> </li>
            <li> <span class="valueText">Mobile</span> <span class="valueDetail">{{data.phone}}</span> </li>
            <li> <span class="valueText">E-mail</span> 
              <span class="valueDetail"><p>{{data.email}}</p></span> </li>
            
          </ul>
        </div>
      </div>
     
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="clearfix"></div>
      
         {% if data.payment_mode=='online' %}
         <div class="proceed">
      <form action="/subscription_status" method="POST">
        <input type="hidden" id="csrf_token" name="csrf_token"  value="{{ csrf_token() }}">
<!-- Note that the amount is in paise = 50 INR -->
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="{{data.razorpay_key}}"
    data-order_id="{{data.order_id}}"
    data-amount="{{data.amount_paisa}}"
    data-buttontext="Proceed To Pay"
    data-name="JanaSena Party"
    data-description="Shatagni Magazine Subscription"
    data-image="https://janasenaparty.org/static/img/logo.png"
    data-prefill.name="{{data.name}}"
    data-prefill.email="{{data.email}}"
    data-theme.color="#d81615"
></script>
<input type="hidden" value="Hidden Element" name="hidden">
</form>
  </div>
 {% else %}
 <div class="paySelectBox">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Your payment details</h2>
        <p>Please send your Cheque / Demand Draft in the name of:</p>
        <p><b>JANASENA PARTY,</b> <br>
             SHATAGNI MAGAZINE SUBSCRIPTION DEPARTMENT, <br>
              1-90/1 plot, HITECH City, No.20, Kavuri Hills Rd, Madhapur, Hyderabad, 500081<br>
              <br></p>
      </div>
    </div>
  </div>
 <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="proceedBtn">
      <input type="image" src="/static/img/printform.gif" vspace="10" onclick="javascript:window.print()" name="image2">          
      </div>
    </div>
  </div>
     {% endif%}
       
         
      
    
    
    </div>
  </div>
 
    
  
</div>
</div>
{% include 'shatagni/scroll.html' %}

{% endblock %}