{% extends "shatagni/shatagni_layout.html" %}
{% block body %}


<div class="row active" id="magazine_div" style="display:none">
{% include 'shatagni/product.html' %}
</div> 


<script>

$(document).ready(function()
{
	$(".loader").css("display","block");
	$.ajax({
      type: "POST",
      url: "/shatagni/profile",
      dataType:"json",
      
       
      success: function (response) {
        console.log(response)
      	
       if(response.status=='1')
       {
       	profile=response.profile;
        
       	profile_status=profile.status;
       	$(".loader").css("display","none")
       	
       	if (profile_status=='F')
       	{
       		 $(".loader").css("display","none")
        
		window.location="/shatagni/profile";

       	
       	}
        else
        {
            $(".loader").css("display","none")
          $("#magazine_div").css("display","block");
        }
 
        
       
       }
      

     }
       
    })

	
})
</script>
{% endblock  %}