
<style>
.loader
{
  z-index:10000 !important;
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}
.form-control{
  width:100% !important
}
@media only screen and  ( max-width: 600px) {
.panel-login
{
  margin-left: 10%;
  margin-top:40%;
}
  

}
@media only screen and (min-width: 600px )  {
.panel-login
{
  margin-left: 20%;
  margin-top:20%;
}
}

@media only screen and (min-width : 768px)  {
.panel-login
{
  margin-left: 25%;
  margin-top:20%;
}
  

}

</style>
<div class="panel panel-login" style="width: 80%;
    ">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="active" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a href="#" id="register-form-link">Register</a>
            </div>
          </div>
          <div style="display:none" id="error_div">
            <div class="alert alert-danger" id="error_message"></div>
            <div class="alert alert-success" id="success_message"></div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
        	
          <div class="row">
            <div class="col-lg-12 login_div">

              <form id="login-form" action="#" method="post" role="form" style="display: block;">

                <div class="form-group" style="position:relative">
                  <input type="text" name="phone" id="phone" tabindex="1" class="form-control" maxlength="10" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" placeholder="10 Digit Mobile Number" required style="padding-left:40px;" >
                  <span style="position: absolute;
    display: inline-block;
    bottom: 10px;padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #c2c2c2;
    font-size:16px;
    bottom: 9px;">+91</span>
                </div>
                 <div class="form-group input-group">
                  <input type="password" name="password" id="password1" tabindex="2" class="form-control"   placeholder="Enter Password" required>
                   <span class="input-group-btn">
                <button class="btn btn-primary " style="height: 45px" id="forgot-password"  type="button">Forgot?</button>
              </span>
                  
                </div>
               
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                    </div>
                  </div>
                </div>
              
               </form>
                
               <form id="reset_password_form" style="display:none">

               
                    <div class="form-group" style="position:relative">
                  <input type="text" name="phone" id="forgot_phone" tabindex="1" class="form-control" maxlength="10" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" placeholder="10 Digit Mobile Number" required style="padding-left:40px;" >
                  <span style="position: absolute;
                  display: inline-block;
                  bottom: 10px;padding-left: 5px;
                  padding-right: 5px;
                  border-right: 1px solid #c2c2c2;
                  font-size:16px;
                  bottom: 9px;">+91</span>
                </div>
                  <div class="form-group input-group">
                    <input type="text" name="text" id="otp1" tabindex="2" class="form-control"   placeholder="Enter OTP" required>
                     <span class="input-group-btn">
                       <button class="btn btn-primary " style="height: 45px" id="forgot_resend" type="button">Resend!</button>
                    </span>
                  </div>
                  <div class="form-group">
                    <input type="password" name="forgot_password" id="forgot_password" tabindex="2" class="form-control"   placeholder="Enter Password" required>
                  </div>
                  <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" name="continue-submit" id="forgot-submit" tabindex="4" class="form-control btn btn-register" value="Submit">

                  </div>
              
               
               </form>
              </div>   
              <div id="register-form"  style="display: none;">
                <div class="form-group" style="position:relative">
                  <input type="text" name="register_phone" id="register_phone" tabindex="1" class="form-control" placeholder="Enter Mobile Number" maxlength="10" autocomplete="off" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" style="padding-left:40px;">
                  <span style="position: absolute;
    display: inline-block;
    bottom: 10px;padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #c2c2c2;
    font-size:16px;
    bottom: 9px;">+91</span>
                </div>
                <div class="magzaine" id="mag" style="display:none">
                <div class="input-group form-group" >
                  <input type="text" name="otp" id="otp" tabindex="1" class="form-control" placeholder="Enter otp" onkeypress="return isNumeric(event)"  onkeypress="return isNumeric(event)" maxlength="6"  oninput="maxLengthCheck(this)">
                   <span class="input-group-btn">
                <button class="btn btn-primary" style="height: 45px" id="resend" type="button">Resend!</button>
              </span>
                  
                </div>

                <div class="form-group">
                  <input type="password" name="set-password" id="set-password" tabindex="2" class="form-control" placeholder="setPassword">
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                    	
                      <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now" >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                    	<input type="submit" name="continue-submit" id="continue-submit" tabindex="4" class="form-control btn btn-register" value="Continue">
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  } 

  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9\b]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }           

function validateOTPLength(otp)
{
  var regex = /^[0-9]{6}$/g;
  
  var length=otp.length;
  if(length==6){
    if(regex.test(otp))
    {
      return true;
     
    }
    else
    {
      return false;
      
    }

}
else
{
   return false;
  
}
}
function validateMobileNoLength(mobile)
{
  var mobileregex = /^[6-9]{1}[0-9]{9}$/g;
  
  
  var length=mobile.length;
  if(length==10){
    if(mobileregex.test(mobile))
    {
      return true;
    }
  else
  {
    return false;
  }
    
}
else
{
  return false;
}

}
$(document).ready(function() {
  

    $('#login-form-link').click(function (e) {
      $("#login-form").delay(100).fadeIn(100);
      $("#register-form").fadeOut(100);
      $("#reset_password_form").fadeOut(100);
      $('#register-form-link').removeClass('active');
      $(this).addClass('active');
      e.preventDefault();
    });
    $('#register-form-link').click(function (e) {
      $("#register-form").delay(100).fadeIn(100);
      $("#login-form").fadeOut(100);
      $("#reset_password_form").fadeOut(100);
      $('#login-form-link').removeClass('active');
      $(this).addClass('active');
      e.preventDefault();
    });

 
  $('#continue-submit').click(function ()
  {
    
    var otp_url = '/shatagni/register';
     var mobile_nr = $('#register_phone').val();
      if(!validateMobileNoLength(mobile_nr))
      {
        
        display_error_message("Enter Valid Mobile Number")
        return false;
      }
     $(".loader").css("display","block");

      var data= {phone:"91"+mobile_nr};
      console.log(data)
       $.ajax({
      type: "POST",
      url: otp_url,
      dataType:"json",
       data:data,
       ContentType:"application/json",
      success: function (response) {
        
       if(response.status=='1')
       {
        display_success_message("otp sent .please check your phone")
        $('#register_phone').attr("disabled","disabled")
        $(".loader").css("display","none");
        $('#continue-submit').css("display","none");
        $('#mag').show();
      
        

       }
       else
       {
        $('#register_phone').removeAttr("disabled")
         $(".loader").css("display","none");
       
         display_error_message(response.errors)
        return false;
       }
      },
      error: function (response) {
        $('#register_phone').removeAttr("disabled")
         $(".loader").css("display","none");
         display_error_message("something wrong. please try again")
        return false;
      }
    })
     
   
  })

  $('#register-submit').click(function (e) 
  {
    var phone=$('#register_phone').val();
    var otp=$("#otp").val();
    var password=$("#set-password").val()
    if(!validateMobileNoLength(phone))
    {
      
      display_error_message("Enter Valid Mobile Number")
      return false;
    }
    if(!validateOTPLength(otp))
    {
      display_error_message("Enter Valid OTP")
      
      return false;
    }
    if(password)
    {
      if(password.length<6)
      {
        display_error_message("password must be 6 characters long")
      return false;
      }
    }
    else
    {
      display_error_message("password must be 6 characters long")
        return false;
    }
    var data={

        phone:"91"+phone,password:password,otp:otp
      };
     
    $(".loader").css("display","block");
    $.ajax({
      type: "POST",
      url: "/shatagni/verify_otp",
       dataType:"json",
       data:data,
       ContentType:"application/json",
      success: function (response) {
        console.log(data)
        if(response.status=='1')
        {
          $(".loader").css("display","none");
           window.location=response.redirect_uri;
        }
        else
        {
          $(".loader").css("display","none");
         display_error_message(response.errors)
 
        return false;
        }
      },
      error: function (response) {
        $(".loader").css("display","none");
        display_error_message("something wrong. please try again")
        return false;
      }
    })
  });


  $('#resend').click(function(e){
    
    var mobile_nr = $('#register_phone').val();

    var data={phone:"91"+mobile_nr}
    $.ajax({
      type: "POST",
      url: "/shatagni/resend_otp",
      dataType:"json",
       data:data,
       ContentType:"application/json",
      success: function (response) {
        if(response.status=='1')
        {
          display_success_message("otp sent .please check your phone")
      
        return true;
        }
        else
        {
          $(".loader").css("display","none");
         display_error_message(response.errors)
 
        return false;
        }
      },
      error: function (response) {
        $(".loader").css("display","none");
         
 display_error_message("something wrong. please try again")
        return false;
      }
    })
  })

  $("#login-form").submit(function(e)
  {
    e.preventDefault();
   
    var phone=$("#phone").val();
    var password=$("#password1").val();
  if(!validateMobileNoLength(phone))
    {
      display_error_message("Enter Valid Mobile Number")
      
     
      return false;
    }
     if(password)
    {
      if(password.length<6)
      {
        display_error_message("password must be 6 characters long");
        
      return false;
      }
    }
    else
    {
      display_error_message("password must be 6 characters long")
     
        return false;
    }
      var data={

        phone:phone,password:password
      };
 $(".loader").css("display","block");
 $.ajax({
      type: "POST",
      url: "/shatagni/login",
      dataType:"json",
       data:data,
       ContentType:"application/json",
      success: function (response) {
        if(response.status=='1')
        {
           $(".loader").css("display","none");
           window.location=response.redirect_url;
        }
        else
        {
          $(".loader").css("display","none");
          display_error_message(response.errors)
 
        
        return false;
        }
      },
      error: function (response) {
        $(".loader").css("display","none");
       
 display_error_message("something wrong. please try again")
       
        return false;
      }
    })

  

  })


function display_error_message(error_msg)
{
   $("#error_message").html(error_msg);
   $("#success_message").css("display","none");
  $("#error_div").css("display","block");

setTimeout(function() {
  $('#error_div').fadeOut('fast');
}, 10000);
}
function display_success_message(success_msg)
{
   $("#success_message").html(success_msg);
    $("#error_message").css("display","none");
  $("#error_div").css("display","block");

setTimeout(function() {
  $('#error_div').fadeOut('fast');
}, 10000);

}




$("#forgot-password").click(function () {

  var phone=$("#phone").val();
  if(!validateMobileNoLength(phone))
  {
    display_error_message("please enter your phone Number");
    return false;
  }

  
  var otp_url = '/shatagni/resend_otp';
  var mobile_nr = $('#phone').val();
  var data = {phone: "91" + mobile_nr}
  $(".loader").css("display","block");
  $.ajax({
    type: "POST",
    url: otp_url,
    dataType: "json",
    data: data,
    ContentType: "application/json",
    success: function (response) {
     if(response.status=="1")
     {
      $("#forgot_phone").val(mobile_nr);
      $("#forgot_phone").attr("disabled","disabled");

      $("#login-form,#register-form").fadeOut(100);
      $("#reset_password_form").delay(100).fadeIn(100);
      display_success_message("otp sent .please check your phone");
      $(".loader").css("display","none");
     }
     else
     {

        display_error_message(response.errors);
         $(".loader").css("display","none");
         return false;
     }



    },
    error: function (response) {
 display_error_message("something wrong.please try again");
         $(".loader").css("display","none");
         return false;
    }

  })
})

  $('#reset_password_form').submit(function (e) {
    e.preventDefault();
    var phone=$("#forgot_phone").val();
   var otp=$("#otp1").val();
   var password=$("#forgot_password").val();

    if(!validateMobileNoLength(phone))
    {
      
      display_error_message("Enter Valid Mobile Number")
      return false;
    }
    if(!validateOTPLength(otp))
    {
      display_error_message("Enter Valid OTP")
      
      return false;
    }
    if(password)
    {
      if(password.length<6)
      {
        display_error_message("password must be 6 characters long")
      return false;
      }
    }
    else
    {
      display_error_message("password must be 6 characters long")
        return false;
    }
    var data={

        phone:"91"+phone,password:password,otp:otp
      };
     console.log(data)
    $(".loader").css("display","block");
    $.ajax({
      type: "POST",
      url: "/shatagni/verify_otp",
       dataType:"json",
       data:data,
       ContentType:"application/json",
      success: function (response) {
        console.log(response)
        if(response.status=='1')
        {
          $(".loader").css("display","none");
           window.location=response.redirect_uri;
        }
        else
        {
          $(".loader").css("display","none");
         display_error_message(response.errors)
 
        return false;
        }
      },
      error: function (response) {
        console.log()
        $(".loader").css("display","none");
        display_error_message("something wrong. please try again")
        return false;
      }
    })
   
  })


 $('#forgot_resend').click(function(e){
    
    var mobile_nr = $('#forgot_phone').val();

    var data={phone:"91"+mobile_nr}
    $.ajax({
      type: "POST",
      url: "/shatagni/resend_otp",
      dataType:"json",
       data:data,
       ContentType:"application/json",
      success: function (response) {
        if(response.status=='1')
        {
          display_success_message("otp sent .please check your phone")
      
        return true;
        }
        else
        {
          $(".loader").css("display","none");
         display_error_message(response.errors)
 
        return false;
        }
      },
      error: function (response) {
        $(".loader").css("display","none");
         
 display_error_message("something wrong. please try again")
        return false;
      }
    })
  })
})
</script>