<style>

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.p{
  margin-right:14px;
  padding-left: 33px;
}
}
@media only screen and  ( max-width: 768px) {
.product_desc
{


  margin-top:10px;
  
}
  

}
@media only screen and (min-width: 600px )  {
.product_desc
{
  
  padding:20px
}
}

@media only screen and (min-width : 768px)  {
.product_desc
{
  
  padding:20px
}
  

}

</style>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<div class="container">
<div class="row" style="margin-top:20px;margin-top: 20px;
    margin-right: 0px !important;
    margin-left: 0px !important;">
  <div class="col-xs-12 col-sm-4 col-md-4 ">
    <div class="card">
     
        <img src="/static/img/Shathagni.jpg" class="card-img-top"  style="    height: 440px;
    width: 330px;"/>
     
      <div class="card-content">
        <h6 class="card-title">
       1 Year Subscription - Rs 500.00
        </h6>
        <h6 class="card-title">3 Years Subscription - Rs 1250.00</h6>
      </div>
      
    </div>
  </div>
  <div class="col-md-8 col-xs-12 col-sm-8 col-lg-8 product_desc"  >
    <div class="row" style="padding:0px;">
      <div class="col-md-4 col-sm-3 col-xs-4 col-lg-3">
          <h3>Plan</h3>
        <div class="radio">
          <label><input type="radio" name="plan" id="Plan_1" value="1" checked>1 Year </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-3">
          <h3>Quantity</h3>
        <input type="number" id="quant_1"  value="1" min="1"  class="form-control quantity">
      </div>
      <div class="col-md-4 col-sm-5 col-xs-4 col-lg-3">
         <h3>Price</h3>
        <p style="font-size: 17px;margin-top: 8px" > Rs <span id="plan_1_price">500.00</span></p>
      </div>
    </div>
    <div class="row" style="margin-top:25px;padding:0px;">
      <div class="col-md-4 col-sm-3 col-xs-4 col-lg-3">
       
      <div class="radio">
        <label><input type="radio" value="3" name="plan" id="Plan_2">3 Years </label>
      </div>
    </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-3">
        
        <input type="number"  id="quant_2" min="1" value="1" disabled class="form-control quantity">
      </div>
      <div class="col-md-4 col-sm-5 col-xs-4 col-lg-3">
       <p style="font-size: 17px; margin-top: 9px;" >Rs<span id="plan_2_price">1250.00</span></p>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-md-offset-3 col-lg-offset-3 " style="margin-top:55px">
      {% if session['logged_in'] %}
      <button type="submit" class="btn btn-success" id="buy">Subscribe</button>
      {% else %}
      
      <button type="submit" class="btn btn-danger" > <a href="#" style="color:white;font-size:15px;font-weight:bold" data-toggle="modal" data-target="#login-modal">Login & Signup To Subscribe</a></button>
      {% endif %}
    </div>

     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h3>Descripition</h3>
    <p style="font-size: 17px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor neque nisl, quis sodales sapien fermentum vel. Pellentesque lectus dolor, facilisis id lacus at, vestibulum gravida erat. Nunc blandit tincidunt nisi, ut ultricies orci faucibus vel. In suscipit semper libero, a eleifend nunc aliquam at. Aenean ornare, nibh id tincidunt euismod, mauris massa vulputate mi, congue accumsan lacus nisl eget orci. Nulla laoreet elit felis, quis iaculis libero pellentesque nec. Donec tempus auctor dapibus. Vestibulum vehicula interdum sodales.</p>
</div>
  </div>


 


</div>
</div>
<script>
$(document).ready(function() {
  $("input[type=radio][name=plan]").on('change', function () {
    var plan=$("input[name='plan']:checked").val();
    if(plan==1)
    {
      $("#quant_1").removeAttr("disabled");
      $("#quant_2").attr("disabled","disabled");

    }
    else
    {
     $("#quant_2").removeAttr("disabled");
      $("#quant_1").attr("disabled","disabled"); 
    }
  });
  

  $('.quantity').on( 'change', function(){

     var plan=$("input[name=plan]:checked").val();
     console.log(plan)
     if(plan==1)
     {
      var tot = " "+(500 * $(this).val())+".00";
      $('#plan_1_price').html(tot);
     }
     else
     {
      var tot= " "+(1250*$(this).val())+".00";
      $('#plan_2_price').html(tot);
     }

    
  });
 
$('#buy').click(function(){

  var plan=$("input[name='plan']:checked").val();
  var quantity=0;
  if(plan=="1")
  {
quantity=$("#quant_1").val();
  }
  else
  {
   quantity=$("#quant_2").val(); 
  }
  if(quantity<1)
  {
     swal("Error","qunatity should be greater than 0","error");
     return false;
  }
  var data={plan:plan,quantity:quantity}
  console.log(data)
  $(".loader").css("display","block");
  $.ajax({
    type: "POST",
    url: "/shatagni/subscribe",
    data: JSON.stringify(data),
    dataType: "json",
    contentType: "application/json",
    success: function (response) {
      console.log(response)
      if(response.status=="1")
      {
        $(".loader").css("display","none");
         var data=response.data;
                         var options = {
                          order_id:data.orderid,
                          key: data.key,
                          amount: data.amount,
                          name: "JanaSena Party",
                          contact:data.phone,
                          email:data.email,
                          description: 'Shatagni Magazine Subscription',
                          image: "https://janasenaparty.org/static/img/logo.png",
                          handler: demoSuccessHandler,
                          prefill: {
                                "name": data.name,
                                "email": data.email,
                                "contact":data.phone,
                                    },
                           
                          theme: {
                                "color": "#d81615"
                            }

                        }
                        window.r = new Razorpay(options);

                      r.open()
                      } 
                      else
                      {
                        $(".loader").css("display","none");
                        swal("Error",response.errors,"error");
                        return false;

      }
    },
    error: function (response) {
      console.log(response)
$(".loader").css("display","none");
                        swal("Error",response.errors,"error");
                        return false;
    }
  })
})
})

function demoSuccessHandler(transaction) {
   $(".loader").css("display","block");
  var form = $(document.createElement('form'));
$(form).attr("action", "/shatagni/subscription_status");
$(form).attr("method", "POST");

var input = $("<input>")
    .attr("type", "hidden")
    .attr("name", "razorpay_payment_id")
    .val(transaction.razorpay_payment_id );


$(form).append($(input));

form.appendTo( document.body )

$(form).submit();
 // $(".loader").css("display","none");
}
</script>