{% extends "shatagni/shatagni_layout.html" %}
{% block body %}
<style>
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.col-sm-4{
  padding-left: 0!important;
  padding-right: 0!important;
}
}
</style>
<div class="container active" id="profile_div">
  <div class="card" style="margin-top:24px;height:auto">
    <h1 style="text-align:center; color:cadetblue;">Profile</h1>
    <div class="container" id="add">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <p>Name:<span id="name"></span></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <p>Mobile Number:<span id="phno"></span></p>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
        <p>Email:<span id="email"></span></p>
      </div>
    </div>
    </div>
    <div class="container" id="address_details">
     
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <span style="
    font-size: 20px;
    font-weight: 600;color:cadetblue;
">Address</span>
      <button type="button" class="btn btn-primary btn-sm" id="edit_add">
          <span class="glyphicon glyphicon-edit"></span> Edit 
        </button>
        </div>
        
     
     
      	<p id="address"></p>
     

    </div>

	</div>
</div>



  
<div class=" container edit_address active" id="edit_address" style="display:none">
	<div class="card" >
	<form id="address_form">
	<div class="row">
    <h3 style="text-align:center;color:cadetblue;">Edit Address:</h3>
		<div class="col-md-3 col-xs-12 col-sm-6 col-lg-4 ">
            <div class="form-group">
              <label for="e_house_no">House No:</label>
              <input type="text" class="form-control" id="e_house_no"required required>
            </div>
          </div>
            <div class="col-md-3 col-xs-12 col-sm-6 col-lg-4 ">
              <div class="form-group">
                <label for="e_street_village">Street/Village:</label>
                <input type="text" class="form-control" id="e_street_village"required>
              </div>
            </div>
         <div class="col-md-3 col-xs-12 col-sm-6 col-lg-4 ">
            <div class="form-group">
              <label for="e_city_town">City/Town:</label>
              <input type="text" class="form-control" id="e_city_town" required>
            </div>

          </div>
          
         
        </div>
          <div class="row">
          
              <div class="col-md-3 col-xs-12 col-sm-6 col-lg-4 ">
                <div class="form-group">
                  <label for="e_pincode">Pincode:</label>
                  <input type="text" class="form-control" id="e_pincode" required>
                </div>
          </div>
              <div class="col-md-3 col-xs-12 col-sm-6 col-lg-4 ">
                <div class="form-group">
                  <label for="e_state" >State</label>
                  <select id="e_state" name="e_state" class="form-control" required>
                    <option value="" selected="select_category">Select State</option>
                    <option  value="Andhra Pradesh">Andhra Pradesh </option>
                     <option  value="Telangana">Telangana</option>
                     <option  value="Tamil Nadu">Tamil Nadu</option>
                      <option  value="Karnataka">Karnataka</option>
                    <option  value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option  value="Assam">Assam </option>
                    <option  value="Bihar">Bihar</option>
                    <option  value="Chhatisgarh">Chhatisgarh </option>
                    <option  value="Goa">Goa</option>
                    <option  value="Gujarat">Gujarat</option>
                    <option  value="Haryana">Haryana</option>
                    <option  value="Himachal Pradesh">Himachal Pradesh </option>
                    <option  value="Jhammu Kashmir">Jhammu & Kashmir</option>
                    <option  value="Jharkhand">Jharkhand </option>
                   
                    <option  value="Kerla">Kerla </option>
                    <option  value="Madhya Pradesh">Madhya Pradesh</option>
                    <option  value="Maharashtra">Maharashtra </option>
                    <option  value="Manipur">Manipur</option>
                    <option  value="Meghalaya">Meghalaya </option>
                    <option  value="Mizoram">Mizoram</option>
                    <option  value="Nagaland">Nagaland </option>
                    <option  value="Odisha">Odisha</option>
                    <option  value="Punjab">Punjab</option>
                    <option  value="Rajasthan">Rajasthan</option>
                    <option  value="Sikkim">Sikkim</option>
                    
                    <option  value="Tripura">Tripura</option>
                    <option  value="Uttarakhand">Uttarakhand</option>
                    <option  value="Uttar Pradesh">Uttar Pradesh</option>
                    <option  value="West Bengal">West Bengal</option>

                  </select>
                </div>
              </div>
                 <div class="col-md-3 col-xs-12 col-sm-6 col-lg-4 ">
              <div class="form-group">
                <label for="e_landmark">LandMark:</label>
                <input type="text" class="form-control" id="e_landmark">
              </div>
            </div>

          </div>
          <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-md-offset-4 col-lg-offset-4 " >
          <input type="submit" class="btn btn-success" id="e_sub" style="width:100px;" value="Submit">
          <input type="cancel" class="btn btn-danger" id="e_cancel" style="width:100px;" value="Cancel">

        </div>
        </div>
    </form>
    </div>
    </div>
   
<div class="row active" id="profile_fill">
{% include 'shatagni/shatagni_profile.html' %}
</div>

<script>

$(document).ready(function()
{
$(".loader").css("display","block")
$.ajax({
      type: "POST",
      url: "/shatagni/profile",
      dataType:"json",
      
      success: function (response) {
        console.log(response)
       if(response.status=='1')
       {
        profile=response.profile;
        profile_status=profile.status;
        if (profile_status=='T')
        {
          

          $("#name").html(profile.name);
          $("#phno").html(profile.phone);
          $("#email").html(profile.email);
          $("#address").html(profile.address);
          $(".active").hide();
          $("#profile_div").css("display","block");


        }
        else
        {
          $(".active").hide();
          $("#profile_fill").css("display","block");

        }   
        $(".loader").css("display","none");

       }
       else
       {
        $(".loader").css("display","none")
        alert("something wrong.please try again");
       }
      },
      error: function (response) {
        $(".loader").css("display","none")
        alert("something wrong.please try again");
      }
    }) 

  $('#edit_add').click(function (e) {
    $("#e_house_no").val(profile.house_no);
$("#e_street_village").val(profile.street_village);
$("#e_city_town").val(profile.city_town);
$("#e_pincode").val(profile.pincode);
$("#e_state").val(profile.state);
$("#e_landmark").val(profile.landmark);
   
    $(".active").hide();
     $('#edit_address').css('display', 'block');

  })
  $("#e_cancel").click(function()
  {
     $(".active").hide();
          $("#profile_div").css("display","block");
  })

  $('#address_form').submit(function (e) {
    e.preventDefault();
  $(".loader").css("display","block")
var house_no=$("#e_house_no").val();
var street_village=$("#e_street_village").val();
var city_town=$("#e_city_town").val();
var pincode=$("#e_pincode").val();
var state=$("#e_state").val();
var landmark=$("#e_landmark").val();
   var data={house_no:house_no,street_village:street_village,city_town:city_town,pincode:pincode,state:state,landmark:landmark}

    $.ajax({
      type: "POST",
      url: "/shatagni/change_address",
      data: JSON.stringify(data),
      dataType: "json",
      contentType: "application/json",
      success: function (response) {
        if(response.status=='1')
          {
            $(".loader").css("display","none")
             swal({
                title: "Address Changed Successfully",
                icon:"success",
                text: "",
                type: "success",
                showCancelButton: false,
                
                confirmButtonText: "OK",
                closeOnConfirm: false
                },
               function()
               {
                location.reload();
               });

          }
          else
          {
            $(".loader").css("display","none")
            swal('Error',response.errors,'error');
            return false;
          }
      },
      error: function (response) {
        $(".loader").css("display","none")
       swal('Error',response.errors,'error');
            return false;

      }
    })
  })
  
 $('#profile_form').submit(function(e){
  $(".loader").css("display","block")
  e.preventDefault();
  var name=$('#p_name').val();
  var house_no=$('#p_house_no').val();
  var street_village=$('#p_street_village').val();
  var landmark=$('#p_landmark').val();
  var state=$('#p_state').val();
  var phno=$('#p_phno').val();
  var city_town =$('#p_city_town').val();
  var pincode=$('#p_pincode').val();
  var email=$('#p_email').val();
  var data={name:name,
      house_no:house_no,
      street_village:street_village,
      landmark:landmark,
      state:state,
      phno:phno,
      city_town:city_town,
      pincode:pincode,
      email:email}
  $.ajax({
    type: "POST",
    url: "/shatagni/update_profile",
    data: JSON.stringify(data),
    dataType: "json",
    contentType: "application/json",
    success: function (response) {
      if(response.status=='1')
      {
        $(".loader").css("display","none")
          swal({
                title: "Details Updated Successfully",
                icon:"success",
                text: "",
                type: "success",
                showCancelButton: false,
                
                confirmButtonText: "OK",
                closeOnConfirm: false
                },
               function()
               {
                location.reload();
               });

      }
      else
      {
        $(".loader").css("display","none")
       swal('Error',response.errors,'error');
        return false;
      }
    },
    error: function (response) {
      $(".loader").css("display","none")
   swal('Error',response.errors,'error');
        return false;
    }
  })
})

})
</script>
{% endblock  %}