 <link rel="stylesheet" href="/static/shatagni/css/scroll.css">
 <style>
 .termscond .mCSB_scrollTools .mCSB_dragger {
    width: 15px;
    left: 0px;
}
 </style>
  
<div class="container-fluid ">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <p>For further information on subscription, please<br>
            contact our <strong>Subscription Department</strong> <br>magazine@janasenaparty.org
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <p class="borNone"><strong>JANASENA PARTY: </strong><br>
            1-90/1 Plot, HITECH City No-20, Kavuri Hills Rd,<br>
             Madhapur, Hyderabad, 500081 </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="heading">
        <h2 class="pos1 " style="text-align: center;">Terms &amp; <strong style=color:#DC143C>Conditions</strong></h2>
      </div>
    </div>
  

   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="termscond mCustomScrollbar _mCS" id="scroll">
      <div id="mCSB" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0">
      <div id="mCSB_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
        <p>Persons who are 18 or above are eligible to participate</p>
        <p>Rates &amp; offer valid in India only</p>
        <p>Allow 3-4 weeks for processing of your subscription</p>
        <p>Free assured subscription gift will reach you within 8 - 10 weeks of commencement of your subscription</p>
        <p>Any request for cancellation of your subscription will not be entertained once your free gift has been dispatched</p>
        <p>Specific colours , models , variants and features of the guaranteed free assured gifts/lucky draw prizes are subject to change depending on availability of the stock with the manufacturer. In case of unavailability of stock you will be informed about it &amp; will be given similar value alternate gifts.</p>
        <p>The free subscription gifts may be covered by a guarantee/ warranty as per the manufacturer of the product. Any warranty/guarantee claims will need to be taken up directly with the manufacturer, India Today shall not be liable for any claims made on this account and shall not replace any gifts etc</p>
        <p>Payment can be made only through credit card, cheque, demand draft and not cash</p>    
        
      </div>
      <div id="mCSB_scrollbar_vertical" class="mCSB_scrollTools mCSB_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">

      
        </div>
        </div>
    </div>
    </div>
</div>
<script src="/static/shatagni/js/scroll.js"></script>
<script>
 (function($){
        $(window).on("load",function(){
            $(".mCustomScrollBox").mCustomScrollbar();
        });
    })(jQuery);
  </script>
