<html>
<head>
	
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <Title>JANASENA PARTY</TITLE>
     <link rel="icon" type="image/png" href="/static/img/favicon.png">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<link href="static/donations/css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="/static/assets/css/sweetalert.css">
<script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>

<link href="/static/shatagni.css" rel="stylesheet" >
<script src="/static/js/shatagni.js"></script>
<style>
@media only screen and (max-width: 768px) {
  .menu{
    float:left;
  }
  }
 @media only screen and (min-device-width : 768px) {
 .menu{ float:right;
 }
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" style="background-color: #d23121;border-color:#d23121">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/static/img/logo.png" alt="logo" style="width:50px;margin-top:-15px;">
      </a>

    </div>
    <div class="collapse navbar-collapse">
      
      <ul class="nav navbar-nav menu">
        {% if session['logged_in'] %}
        <li ><a href="/shatagni/profile" style="color:white;">Profile</a></li>
        <li><a href="/shatagni/dashboard" style="color:white;">Shatagni Magzine</a></li>
        <li><a href="/shatagni/subscriptions" style="color:white;">Your Subscribtions </a></li>
        <li><a href="/shatagni/logout" style="color:white;">Logout </a></li>
        {% else %}
        <li><a href="https://janasenaparty.org" style="color:white;font-size:15px;font-weight:bold"><i class="fas fa-home"></i> <span class="hidden-xs">Go to JanaSena Home Page</span></a></li>

        <li><a href="#" style="color:white;font-size:15px;font-weight:bold" data-toggle="modal" data-target="#login-modal">Login & Signup </a></li>
        {% endif %}
       </ul> 
    </div>
  
  </div>

</nav>
<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
         
          {% include 'shatagni/login.html' %}

    </div>
  </div>
</div>
{% include 'loader.html' %}
 {% block body %}


        {% endblock %}
	</body>
	<script>
	var profile_status;
	</script>
	</html>