
<div class="container">
<div class="card" >

  <h1 style="text-align: center;color:cadetblue;">Fill Your Details</h1>
  <form id="profile_form">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="form-group">
        <label for="p_name">Name:</label>
        <input type="text" class="form-control" id="p_name" required>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="form-group">
        <label for="p_email">Email:</label>
        <input type="text" class="form-control" id="p_email">
      </div>
    </div>
    </div>

  <h1 style="text-align:center;color:cadetblue;">Delivery Address</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="form-group">
        <label for="p_house_no">House No:</label>
        <input type="text" class="form-control" id="p_house_no" required>
      </div>
    </div>
     <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="form-group">
        <label for="p_street_village">Street/village:</label>
        <input type="text" class="form-control" id="p_street_village" required>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="form-group">
        <label for="p_city_town">City/Town:</label>
        <input type="text" class="form-control" id="p_city_town" required>
      </div>
    </div>
   
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="form-group">
        <label for="p_state" >State</label>
        <select id="p_state" name="p_state" class="form-control">
          <option value="" selected="select_category">Select State</option>
          <option  value="Andhra Pradesh">Andhra Pradesh </option>
          <option  value="Telangana">Telangana</option>
          <option  value="Tamil Nadu">Tamil Nadu</option>
          <option  value="karnataka">Karnataka</option>
          <option  value="Assam">Assam </option>
          <option  value="Bihar">Bihar</option>
          <option  value="Chhatisgarh">Chhatisgarh </option>
          <option  value="Goa">Goa</option>
          <option  value="Gujarat">Gujarat</option>
          <option  value="Haryana">Haryana</option>
          <option  value="Himachal Pradesh">Himachal Pradesh </option>
          <option  value="Jhammu Kashmir">Jhammu & Kashmir</option>
          <option  value="Jharkhand">Jharkhand </option>

          <option  value="Kerla">Kerla </option>
          <option  value="Madhya Pradesh">Madhya Pradesh</option>
          <option  value="Maharashtra">Maharashtra </option>
          <option  value="Manipur">Manipur</option>
          <option  value="Meghalaya">Meghalaya </option>
          <option  value="Mizoram">Mizoram</option>
          <option  value="Nagaland">Nagaland </option>
          <option  value="Odisha">Odisha</option>
          <option  value="Punjab">Punjab</option>
          <option  value="Rajasthan">Rajasthan</option>
          <option  value="Sikkim">Sikkim</option>
          <option  value="Tripura">Tripura</option>
          <option  value="Uttarakhand">Uttarakhand</option>
          <option  value="Uttar Pradesh">Uttar Pradesh</option>
          <option  value="West Bengal">West Bengal</option>

        </select>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="form-group">
        <label for="p_pincode">Pincode:</label>
        <input type="text" class="form-control" id="p_pincode" required>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="form-group">
        <label for="p_landmark">Land mark:</label>
        <input type="text" class="form-control" id="p_landmark" required>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
      <button type="submit" class="btn btn-danger" id="p_sub" style="margin-top:21px;margin-bottom:40px;background-color:#d23121;">Submit</button>

    </div>
  </div>
</form>
  </div>
</div>