{% extends "shatagni/shatagni_layout.html" %}
{% block body %}
<style>
.table>thead>tr>th{
  border-bottom:none !important
}
.table>tbody>tr>td{
  border-top:none !important
}
</style>
<div class="container" >
  
    <h2 style="text-align:center;color:lightseagreen;">Your Subscriptions</h2>
    <table class="table" style="margin-top:25px;margin-left:25px">
      <thead>
      <tr>
        <th>Plan</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Quantity</th>
        <th>Transaction ID</th>
      </tr>
      </thead>
<tbody>
{% for item in data %}
<tr>
	{% if item.subscription_plan==1 %}
		<td >1 year Subscription</td>
	{% else %}
		<td >3 years Subscription</td>
	{% endif %}
  <td>{{item.subscription_start_date}}</td>
  <td>{{item.subscription_end_date}}</td>
  <td>{{item.quantity}}</td>
  <td>{{item.trasaction_id}}</td>
</tr>
{% endfor %}
</tbody>
    </table>

</div>
{% endblock %}