<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content=" JanaSena Party Shatagni Magazine Subscription " />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="TQ0G4PCiAgF96GsS1qHrnme8hY-7UMJqCRdynL041A4" />
<Title>JANASENA PARTY</TITLE>

     <link rel="icon" type="image/png" href="/static/img/favicon.png">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
    


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
 <link rel="stylesheet" href="/static/shatagni/css/datatable.css">
<link rel="stylesheet" href="/static/shatagni/css/responsive.css">
<style>
 @media (max-width: 768px){
    .xs-hidden{
      display:none!important;
    }
  }
 @media (min-width: 768px){
    .xs-hidden{
      display:block!important;
    }
  }

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-home{
background: #bb0000;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa {
  padding: 3px !important;
  font-size: 22px !important;
  width: 30px !important;
  text-align: center !important;
  text-decoration: none !important;
  margin: 3px !important;
}

.wrapper{

    background: #fff;
    border-bottom: 2px solid #e7e7e7;
    /*border-bottom-width: 1px;*/
    border-bottom-style: solid;
    border-bottom-color: rgb(231, 231, 231);

  
}

.lrpad{ 
   background-image: url(/static/img/footer.jpg);
  min-height: 289px;
    background-size: 100% !important;
    background-position: center;

    
    background-repeat: no-repeat;
  } 


</style>
</head>	
<body>
<div class="wrapper" style="height:60px;width:100%;position:fixed;top:0;
z-index:1000;box-shadow: 0 3px 5px #607D8B;">
  <div class=container>
    <div class="row" >
      <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
        <img src="/static/img/sena2.png" style="width:79px;margin: 6px 6px 6px 6px;margin-top:6px/;"> 
      </div>
       <div class="xs-hidden col-xs-4 col-sm-4 col-md-4 col-lg-5">
        <h3 >JanaSena <span style="color:#da2826">Magazine</span></h3>
      </div>

      <div class="social-icons col-xs-9 col-sm-6 col-md-6 col-lg-6" style="text-align:right;
        margin-top: 18px;">
         <a href="https://janasenaparty.org/" ><i class="fa fa-home"></i></a>
         <a href="https://www.facebook.com/janasenaparty/" target="_blank" class="fa fa-facebook"></a>
         <a href="https://www.instagram.com/Janasenaparty/" target="_blank" class="fa fa-instagram"></a>
         <a href="https://twitter.com/Janasenaparty?lang=en" target="_blank" class="fa fa-twitter"></a>
         <a href="https://www.youtube.com/Janasenaparty" target="_blank" class="fa fa-youtube"></a>
      </div>
    </div>
 </div>
</div>
{% block body %}


{% endblock %}

<div class="container-fluid lrpad">
  <div class="footerarea" style="height:235px">
    <div class="container">
      <div class="col-xs-7">
        <p style="float:left;color:white;font-size:16px" class="copy_right"> © Copyright 2018 JanaSena Party. All Rights Reserved.</p> 
      </div>
    </div>
  </div>
</div>
</body>
</html>

	
