{% extends "shatagni/subscription_layout.html" %}

{% block body %}

 
  
  
  

<style>
.details div em {
    background: url(/static/img/star.png) no-repeat 0 0;
    width: 7px;
    height: 6px;
    position: absolute;
    top: 18px;
    left: 28px;
}
.heading {
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    float: left;
    
}
.heading h2 {
    font: 700 30px/45px 'Roboto Slab', serif;
    color: #000;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 14px;

}
.heading em {
    font: 12px/20px 'Roboto Slab', serif;
    color: #d22128;
    position: absolute;
   
    left: 50%;
    margin-left: -50px;
    bottom: -40px;
}
.heading h2 strong {
    color: #ce2127;
}
.details div input, .details div select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #cacaca;
    width: 100%;
    box-sizing: border-box;
    padding: 11px 0 11px 22px;
    font: 300 15px/25px 'Roboto Slab', serif;
    color: #989898;
}
.proceed input[type="submit"] {
    font: 700 23px/35px 'Roboto Slab', serif;
    color: #fff;
    cursor: pointer;
    border: 0;
    background-color: #13bb17;
    padding: 1px 30px;
}
 .proceed {
    width: 152px;
    margin: 20px auto 0;
}


</style>
 

<script>
        function isNumberKey(evt){
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  } 
 </script>

<div class=" container" style="margin-top:40px; padding:10px;" >
  
    <div class="heading" >
      <h2 style="text-align:center;">Subscribe to <strong style="color:  #da2826">JanaSena Shatagni Magazine</strong></h2>
    </div>
</div>
 <form name="ite" id="ite" onsubmit="return validate()" action="/subscription" method="post" >
<div class="maz container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bordlft">
      <div class="deskBor prnt_img">
            <h3>PRINT</h3>
            <figure> <img src="/static/img/shatagni.jpg" alt="" ></figure>
          </div>
          <div class="delivery">
            <div class="box" style="min-height:102px !important">
          <h3>1 Year Or 24 Issues</h3>
          <ul>
            <li style="display:block;color:teal">Subscription<span style="float:right;width:71%">Rs:430</span></li>
            <li style="display:block;color:teal">Postal Charges<span style="float:right;width:71%">Rs:170</span></li>
            <li style="display:block;color:teal"">Total Amount<span style="float:right;width:71%">Rs:600</span></li>
          </ul>
             <!--  <ul>
                <li>
                  <div class="radio">
                    <input type="radio" autocomplete="off" name="plan" id="1year" value="1" checked>
                    <label for="1year"> 1 Year <span class="outer"> <span class="inner">Rs 600</span> </span> <em>Rs 500</em> </label>
                  </div>
                </li>
                <li>
                  <div class="radio">
                    <input type="radio" autocomplete="off" name="plan" id="3year" value="3">
                    <label for="3year"> 3 Years <span class="outer"> <span class="inner">Rs 1800</span> </span> <em>Rs 1250</em> </label>
                  </div>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bgGryMob" >
          <div class="priRtBox">
            <h3>PRINT +  Digital</h3>
            <ul>
              <li><img src="/static/img/shatagni.jpg" alt="" ></li>
              <li><img src="/static/img/plus-icon.png" alt=""></li>
              <li class="ipad"><img src="/static/img/shatagni.jpg" alt="" height="199" width="151"></li>
            </ul>
          </div>
          <div class="delivery">
            <div class="box" style="min-height:102px !important">
              <h3>Launching Soon</h3>
            </div>
          </div>
        </div>
        </div>
</div>
   



  <div class="container" >
   
      <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
<div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="heading ">
          <h2 class="pos">Enter Your <strong>Information</strong></h2>
          <em>( * Mandatory field )</em> </div>
      </div>
    </div>
    <div class="row details" style="margin-top: 60px">
     
        <div class=" form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <em></em>
          <input type="text" name="name" placeholder="Name" maxlength="50" required>
        </div>
       
       
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"><em></em>
          <input type="text" name="mobile" placeholder="Mobile No." id="mobile" maxlength="10" oninput="maxLengthCheck(this)" onkeypress="return isNumberKey(event)" required>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <input type="text" name="email" id="email" placeholder="Email" maxlength="50">
        </div>
       
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"><em></em>
          <input type="text" name="address" placeholder="Full Address (H.No,Street/Village)" maxlength="300" required>
        </div>
         <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"><em></em>
           <input type="text" name="city_town" placeholder="City/Town/District" maxlength="200" required>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"><em></em>
          <select name="state" id="state"  autocomplete="off" required>
            <option value="">Select State</option>
            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands </option>
            <option value="Andhra Pradesh">Andhra Pradesh </option>
            <option value="Telangana">Telangana </option>
             <option value="Tamil Nadu">Tamil Nadu </option>
             <option value="Karnataka">Karnataka </option>
            <option value="Kerala">Kerala </option>
            <option value="Arunachal Pradesh">Arunachal Pradesh </option>
            <option value="Assam">Assam </option>
            <option value="Bihar">Bihar </option>
            <option value="Chandigarh">Chandigarh </option>
            <option value="Chhattisgarh">Chhattisgarh </option>
            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli </option>
            <option value="Daman and Diu">Daman and Diu </option>
            <option value="Delhi">Delhi </option>
            <option value="Goa">Goa </option>
            <option value="Gujarat">Gujarat </option>
            <option value="Haryana">Haryana </option>
            <option value="Himachal Pradesh">Himachal Pradesh </option>
            <option value="Jammu and Kashmir">Jammu and Kashmir </option>
            <option value="Jharkhand">Jharkhand </option>
            
            <option value="Lakshadweep">Lakshadweep </option>
            <option value="Madhya Pradesh">Madhya Pradesh </option>
            <option value="Maharashtra">Maharashtra </option>
            <option value="Manipur">Manipur </option>
            <option value="Meghalaya">Meghalaya </option>
            <option value="Mizoram">Mizoram </option>
            <option value="Nagaland">Nagaland </option>
            <option value="Orissa">Orissa </option>
            <option value="Pondicherry">Pondicherry </option>
            <option value="Punjab">Punjab </option>
            <option value="Rajasthan">Rajasthan </option>
            <option value="Sikkim">Sikkim </option>
           
            
            <option value="Tripura">Tripura </option>
            <option value="Uttarakhand">Uttarakhand </option>
            <option value="Uttar Pradesh">Uttar Pradesh </option>
            <option value="West Bengal">West Bengal </option>
          </select>
        </div>
       
       
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"><em></em>
          <input type="text" name="pincode" placeholder="Pincode" maxlength="6" id="pincode" onkeypress="return isNumberKey(event)" oninput="maxLengthCheck(this)" >
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <em></em>
        <select name="payment_mode" id="payment_mode"  autocomplete="off" required>
            <option value="">Select Payment Mode</option>
            <option value="online">Online Payment </option>
            <option value="cheque">Cheque </option>
            <option value="demand draft">Demand Draft </option>
        </select>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="clearfix"></div>
      <div class="proceed">
          <input type="submit" value="Proceed">
        </div>
     </div>
    </div>
 
 </div>
 </form>

 

{% include 'shatagni/scroll.html' %}
 
  <script>
function validatepincodeLength(pincode)
{
  var regex = /^[1-9]{1}[0-9]{5}$/g;
  
  var length=pincode.length;
  if(length==6){
    if(regex.test(pincode))
    {
      return true;
     
    }
    else
    {
      return false;
      
    }

}
else
{
   return false;
  
}
}
function validateemail(email)
{

  var regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/g;
  
    if(regex.test(email))
    {
      return true;
     
    }
    else
    {
      return false;
      
    }

}



function validateMobileNoLength(mobile)
{
  var mobileregex = /^[6-9]{1}[0-9]{9}$/g;
  
  
  var length=mobile.length;
  if(length==10){
    if(mobileregex.test(mobile))
    {
      return true;
    }
  else
  {
    return false;
  }
    
}
else
{
  return false;
}

}
    function validate()
    {
       
        var mobile=$("#mobile").val();
        var email=$("#email").val();
        var pincode=$("#pincode").val();
        console.log(mobile,email,pincode)
        if(!validateMobileNoLength(mobile))
        {
            alert("invalid mobile.")
            return false;
            
        }
        
        if(!validatepincodeLength(pincode))
        {
            alert("invalid pincode.")
            return false;
        }
        

        if(email)
        {
            if (!validateemail(email))
            {
                alert("please enter valid email.")
            return false;
            }
            
        }

        return true;


    }
  </script>
  {% endblock %}