
<style>
 @media (min-width: 320px){
    .h3{
      display:none!important;
    }
  }
 
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-home{
background: #bb0000;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa {
  padding: 3px;
  font-size: 22px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px;
}

.wrapper{

    background: #fff;
    border-bottom: 2px solid #e7e7e7;
    /*border-bottom-width: 1px;*/
    border-bottom-style: solid;
    border-bottom-color: rgb(231, 231, 231);

  
}

.lrpad{
  background-image: url(/img/footer.jpg)

}

</style>
	

<div class="wrapper" style="height:60px;width:100%;position:fixed;top:0">
  <div class=container>
    <div class="row" >
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
        <img src="img/sena2.png" style="width:79px;margin: 6px 6px 6px 6px;margin-top:6px/;"> 
      </div>
       <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5">
        <h3 >JanaSena <span style="color:#da2826">Magzine</span></h3>
      </div>

      <div class="social-icons col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:right;
        margin-top: 18px;">
         <a href="https://janasenaparty.org/" target="_blank"><i class="fa fa-home"></i></a>
         <a href="https://www.facebook.com/janasenaparty/" target="_blank" class="fa fa-facebook"></a>
         <a href="https://www.instagram.com/Janasenaparty/" target="_blank" class="fa fa-instagram"></a>
         <a href="https://twitter.com/Janasenaparty?lang=en" target="_blank" class="fa fa-twitter"></a>
         <a href="https://www.youtube.com/Janasenaparty" target="_blank" lass="fa fa-youtube"></a>
      </div>
    </div>
 </div>
</div>


	

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		

<div class="container-fluid lrpad">
  <div class="footerarea" style="height:235px">
    <div class="container">
      <div class="row">
        <p style="float:left;color:white;margin-top:100px"> © Copyright 2018 JanaSena Party. All Rights Reserved.</p> 
      </div>
    </div>
  </div>
</div>

	
