
{% extends "shatagni/subscription_layout.html" %}
{% block body %}

<link rel="icon" type="image/png" href="/static/img/favicon.png">
<!-- Bootstrap -->
<link href="/static/donations/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/donations/css/custom.css" rel="stylesheet">
<link href="/static/donations/css/mediaqueries.css" rel="stylesheet">

<style>
h3
{
  margin-top:20px !important;
  margin-bottom:10px !important;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/static/img/Preloader_10.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

</style>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
<script type="text/javascript">
$(window).load(function() {
  console.log("sssss")
    $(".loader").fadeOut("slow");
});
</script>
<div class="loader"></div>
<div class="content_wrapper">
  <div class="cover_container">

    <div class="form_container">

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 form_content">
            <div class="modalbox success  center animate">
         <!-- <div class="icon"> <span class="glyphicon glyphicon-ok"></span> </div> -->
        <div class="thankyou">
          <!-- <h1>Success!</h1> -->
          <div class="icon" style="margin-top:-200px;"> <span class="glyphicon glyphicon-ok"></span> </div>
          
          
         
          
        </div>
      
      <dl>
  
        <dt>Amount</dt>
  <dd>Rs.{{payment.transaction_amount}}/-</dd>
        <dt>Transaction ID</dt>
  <dd>{{payment.transaction_id}}</dd>
</dl>
             
              <!--/.icon-->
              <div class="col-xs-12" style="text-align:left">
             <h4>Note:</h4>
<ul class="notes">


<li>For any queries regarding Subscription email us at magazine@janasenaparty.org.</li>
</ul>


              </div>


            <!--/.success--> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




{% endblock  %}