{% extends "shatagni/subscription_layout.html" %}
{% block body %}

<!-- Bootstrap -->
<link href="/static/donations/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/donations/css/custom.css" rel="stylesheet">
<link href="/static/donations/css/mediaqueries.css" rel="stylesheet">
<style>
h3
{
  margin-top:20px !important;
  margin-bottom:10px !important;
}
</style>
<div class="content_wrapper">
  <div class="cover_container">

    <div class="form_container">
      <h1>Shatagni Magazine Subscription</h1>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 form_content">

            <div class="modalbox error center animate" >
              <div class="icon"> <span class="glyphicon glyphicon-thumbs-down"></span> </div>
              <!--/.icon-->
             <h1>Oh no!</h1>
              <p>Oops! Something went wrong, <br>
                you should try again.</p>

                <p>If money deducted from your account<br>
                    Email us details  <br>
                    such as amount, name , email ID, date of transaction and mode of payment.<br>
                 at magazine@janasenaparty.org </p>

                <button type="button" class=" btn"><a href="/shatagni/dashboard">Try again</a></button>
              </div>
            <!--/.success-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




{% endblock  %}