
<html>

<head>
<meta name="csrf-token" content="{{ csrf_token() }}">
  </head>
  <style>

body {
    min-height:100%;
    background-color: #fff;
}

.text-center{
  text-align: center;
}

.space-bot{
  margin-bottom: 15px;
}

.space-top{
  margin-top: 15px;
}
.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
/* Title */

h1 {
    color: red;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}
label{
	color: #d81615;
}


/* Sign Up */

.container {
    max-width: 400px;
    max-height: 100px;
    margin-top: 10px;
}

.alert-danger{
	text-align: center;
}

.signup-screen ,.detals_screen {
	  padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: black;
}

.btn{
  border-radius: 4px;
  background-color: #d81615 !important;
}



.proceed{
  background-color: #d81615;
}

.proceed:hover{
  background-color: #d81615;
}

.proceed:focus{
  background-color: #d81615;
}


.input-group {
    width:100%;
}

.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}

/* Error Box */

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  border-color: #e85a71;
  background-color:  #e85a71;
  color: white;
  
}

.help-block {
    font-size: 12px;
    color: white
}


</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="./assets/css/sweetalert.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="./assets/js/sweetalert.js"></script>
<script>
var myApp = angular.module("myApp", []);
myApp.controller("RegisterCtrl", function ($scope) {
	

});

function validateMobileNoLength()
{
	
	var mobile_num=$("#phone_number_web").val();
	var length=mobile_num.length;
	if(length==10){
		$("#voter_div").css("display","block");
		$("#button_div").css("display","block")


}
else
{
	$("#voter_div").val("");
		
	$("#voter_div").css("display","None");
		$("#button_div").css("display","None")

}

	}

</script>
<script>

$(document).ready(function(){
var otp_count=0;
   var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

	$("#proceed_next").click(function()
	{
     $(".loader").css("display","block");

		var voter_id=$("#voterid").val();

  var phone_number=$("#phone_number_web").val();

data={mobile_num:phone_number,voter_id:voter_id}

 $.ajax({
           type: "POST",
           url: "/verifyMemberDetails",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
              
              swal("otp has been sent ","to your mobile number successfully","success")
    $("#voterid").prop("readonly",true);
$("#phone_number_web").prop("readonly",true);
          

$("#otp_div").css("display","block");
$("#proceed_next").css("display","None");

$("#verify_div").css("display","block");


$(".loader").css("display","None");

                
               } else {
                   
                    $(".loader").css("display","None");
                    // alert(response.errors);
                    swal('Error',response.errors,'error')

                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response.statusText)
            $(".loader").css("display","None");
            swal(response.errors,'','error')
             return false;
           }
           
       });




	})


$("#verify").click(function()
  {
     $(".loader").css("display","block");

    var voter_id=$("#voterid").val();

  var phone_number=$("#phone_number_web").val();
var otp=$("#otp").val();

var data={otp:otp,voter_id:voter_id,phone_number:phone_number}
 $.ajax({
           type: "GET",
           url: "/getVoterDetails",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
               // alert("otp verified successfully.  Fetching your details");
               swal("otp verified successfully!", " Fetching your details", "success")
$(".membership_form").css("display","None");
                  $("#phone").val(phone_number);
                  $("#voter_id").val(voter_id);
                  $("#name").val(response.data.children.Name);
                   $("#relation").val(response.data.children["Father/Husband Name"]);
                    $("#address").val(response.data.children.House_No);
                     $("#age").val(response.data.children.Age);
                     $("#gender").val(response.data.children.Sex);
                      $("#booth").val(response.data.children["Booth No"]);
                     $("#section_id").val(response.data.children.Section_id);
                 $(".loader").css("display","None");
              console.log(response.data.children)
               $(".detals_screen").css("display","block");

                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
             swal("Error",response.errors,"error");
             return false;
           }
           
       });

  
 
  })

 $("#resendotp").click(function()
      {
        if(otp_count<3)
        {


        
         $(".loader").css("display","block");
          var phone_number=$("#phone_number_web").val();
          data={mobile_num:phone_number};
          $.ajax({
           type: "POST",
           url: "/resendOTP",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                otp_count=otp_count+1;
               // alert("otp verified successfully.  Fetching your details");
               swal("otp Resent  successfully!", " Check Your Phone", "success")
 $(".loader").css("display","None")
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
        }
        else{
           $("#resendotptag").css("display","None");
          swal("Error",'OTP can be resend only three times only ',"error");

          return false;
        }  
      })  
	
})
</script>
<body ng-controller="RegisterCtrl" ng-app="myApp">
 <div class="">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h3 style="color:#d81615;">Membership Form</h3>
           <div class="divider "></div>
         </div>
         <div class="membership_form">
           <form class="form-register" method="post" name="register" novalidate>
           	<div class="row">
	            <div class="input-field col-md-6 col-lg-6 col-sm-12">
              <input name="phone_number_web" id="phone_number_web" type="tel" ng-model="phone_number_web" placeholder="Enter Mobile Number"  minlength="10" maxlength="10" autocomplete="off" pattern="[6-9]{1}[0-9]*" class="fs-36 hidden-xs ng-pristine ng-valid ng-empty ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-touched" mobile-number-only=""  onkeyup="validateMobileNoLength()" autofocus="" required style="border-bottom-color: #d81615;" />
              <label for="phone_number_web" style="color: #d81615;">Phone Number:</label>

            </div>
            </div>

             <p class="alert alert-danger" ng-show="form-register.phone_number_web.$error.minlength || form.phone_number_web.$invalid">Enter Valid Mobile Number.</p>
             <div class="row">
            <div class="input-field col-md-6 col-lg-6 col-sm-12 " id="voter_div" style="display:none">
            	
              <input id="voterid" name="voterid"  ng-model="voterid" type="text" minlength="10" maxlength="10" pattern="[A-Za-z]{3}[0-9]*" class="validate" ng-show="phone_number_web" placeholder="Enter Your Voter Id" required style="border-bottom-color: #d81615;">
               <label for="voterid" style="color: #d81615;">Voter Id:</label>
              <p class="alert alert-danger" ng-show="form-register.voterid.$error.minlength || form.voterid.$invalid">Please Enter Valid Voter Id.</p>
             </div>
             <div class="space-top text-center col-md-6 col-lg-6 col-sm-12" id="button_div"  style="display:none">
               <button ng-disabled="form-register.$invalid" class=" btn proceed" id="proceed_next">
              Request OTP
               </button>
             
              </div>
            </div>
            
             
              
             </form>

             <form name="otpform" class="form-otpform">
             <div class="row">
             <div class="input-field col-md-6 col-lg-6 col-sm-12 " id="otp_div" style="display:none">
              
              <input id="otp" name="otp"  ng-model="otp" type="text" minlength="6" maxlength="6" pattern="[0-9]*" class="validate"  placeholder="Enter OTP Here"  style="border-bottom-color: #d81615;" required>
               <label for="otp" style="color: #d81615;">OTP:</label>
              <p class="alert alert-danger" ng-show="form-otpform.otp.$error.minlength || form.otpform.otp.$invalid">Please Enter Valid OTP.</p>
              <p id="resendotptag"><a href="#" id="resendotp" style="float:right;">Resend OTP</a></p>
             </div>
              <div class="space-top text-center col-md-6 col-lg-6 col-sm-12" id="verify_div"  style="display:none">
               <button ng-disabled="form-otpform.$invalid" class=" btn verify" id="verify">
              Verify OTP
               </button>
             
              </div>

</div>
         </form>    
             
        </div>
             
           <!-- </div>
           </div>
        -->
        <div class="loader">
                <div class="spinner"> <svg width='48px' height='48px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-hourglass">
                  <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                  <g>
                  <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z" class="glass"></path>
                  <clipPath id="uil-hourglass-clip1">
                      <rect x="15" y="20" width="70" height="25" class="clip">
                      <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <clipPath id="uil-hourglass-clip2">
                      <rect x="15" y="55" width="70" height="25" class="clip">
                      <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)" fill="#ffab00" class="sand"></path>
                  <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)" fill="#ffab00" class="sand"></path>
                  <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                </g>
                  </svg> </div>
              </div>
          <div class="clearfix">&nbsp;<br>
              </div>
        <div class="detals_screen " style="display:None;">
          <form name="details_form" class="form-details_form"  method="post" action="/jspMembership1" >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        	<div class="row">
        		<div class="col-md-6 col-lg-6 col-sm-12">
        		<label for="voter_id" style="color: #d81615;">Voter Id:</label>
        		<input type="text" id="voter_id" name="voter_id" style="border-bottom-color: #d81615;" readonly>
        		</div>
        		<div class="col-md-6 col-lg-6 col-sm-12">
        		<label for="phone" style="color: #d81615;">Phone Number :</label>
        		<input type="text" id="phone" name="phone" style="border-bottom-color: #d81615;" readonly>
        		</div>
        	</div>
          
        	<div class="row">
        		<div class="col-md-6 col-lg-6 col-sm-12">
        		<label for="name" style="color: #d81615;">Name :</label>
        		<input type="text" id="name" name="name" style="border-bottom-color: #d81615;" required readonly>
        		</div>
             <p class="alert alert-danger" ng-show="form.details_form.name.$invalid">Please Enter Name.</p>
        		<div class="col-md-6 col-lg-6 col-sm-12">
        		<label for="relation" style="color: #d81615;">Father/Husband :</label>
        		<input type="text" id="relation" name="relation" style="border-bottom-color: #d81615;" required readonly>
        		</div>
             <p class="alert alert-danger" ng-show="form.details_form.relation.$invalid">Please Enter Relation.</p>
        	</div>
        	<div class="row">
        		<div class="col-md-6 col-lg-6 col-sm-12">
        		<label for="address" style="color: #d81615;">Address :</label>
        		<input type="text" id="address" name="address" style="border-bottom-color: #d81615;" required readonly>
        		</div>
            <p class="alert alert-danger" ng-show="form.details_form.address.$invalid">Please Enter Address.</p>
        		<div class="col-md-6 col-lg-6 col-sm-12">
        		<label for="town" style="color: #d81615;">Town/Village :</label>
        		<input type="text" id="town" name="town" style="border-bottom-color: #d81615;" required readonly>
        		</div>
            <p class="alert alert-danger" ng-show="form.details_form.town.$invalid">Please Enter town.</p>
        	</div>
        	<div class="row">
        		<div class="col-md-6 col-lg-6 col-sm-12">
        		<label for="age" style="color: #d81615;">AGE :</label>
        		<input type="text" id="age" name="age" style="border-bottom-color: #d81615;" required readonly>
        		</div>
        		<div class="col-md-6 col-lg-6 col-sm-12">
        		<label for="gender" style="color: #d81615;">Gender :</label>
        		<input type="text" id="gender" name="gender" style="border-bottom-color: #d81615;" required readonly>
        		</div>
        	</div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
            <label for="booth" style="color: #d81615;">Polling Station Id :</label>
            <input type="text" id="booth" name="booth" style="border-bottom-color: #d81615;" readonly>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
            <label for="section_id" style="color: #d81615;">Constituency ID :</label>
            <input type="text" id="section_id" name="section_id" style="border-bottom-color: #d81615;" readonly>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
            <label for="name" style="color: #d81615;">Email :</label>
            <input type="email" id="email" name="email" style="border-bottom-color: #d81615;">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
            <label for="relation" style="color: #d81615;">Reference Id :</label>
            <input type="text" id="reference" name="reference" style="border-bottom-color: #d81615;">
            </div>
          </div>
           <div class="row">
            <input type="submit" class="btn btn-danger membership_submit" ng-disabled="form-details_form.$invalid" id="membership_submit" style="float:right;" value="Submit">
           <!--  <button ng-disabled="form-otpform.$invalid" class=" btn verify" id="verify">
              Verify OTP
               </button> -->
           </div>

</form>
        </div>
        </div>
      
        </div>
    </div>
</body>
</html>
<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->