<div class="section1">
  <div><div class="adM">
  </div><p>
      Dear {{name}},
  </p>
  <p>
      Thank you for your support for <span class="il">JanaSenaParty. You can remit your donation to us into the following account.  
  </p>
  <div>Reference Number: {{transaction_id}}<br>            
      Beneficiary Name:  <span class="il">JanaSena Party</span>  
      <br>
      Beneficiary Account No: 30061010011894
      <br>
      Beneficiary Address : Plot NO-12, Road NO-72,  PrashasanNagar , Jubilee Hills, Hyderabad, Telangana -500033.
      <br>
      Beneficiary Bank Name and Address: Syndicate Bank, 
      <div style="padding-left:240px">
          Banjara Hills, Hyderabad
          <br>
         
      </div>
  </div>
  <br>
  <p>Syndicate Bank SWIFT Code:   SYNBINBB 122 </p>
  <p>
      In the NARRATION/REMARKS column, kindly fill the respective 'Reference Number' (as mentioned above) and your 'Indian passport number', failing to which the transaction can not be accepted.
  </p>
  <p>
      In the PURPOSE column, kindly write 'Donation'.
  </p>
  
  <p>
      You will receive an email of confirmation once the <span class="il">JanaSena Party </span> has accepted your donation.
  </p>
  <p>
      Should you have any problems, please email us at <a href="mailto:donations@janasenaparty.org" target="_blank">donations@janasenaparty.org</a> with subject as 'Remittance Problems' or call us at +91-8978930303.
  </p>
  <p>
      Jai Hind
  </p>
  <p>
      <span class="il">Janasena Party
  </p>
  <br>
  <label> please contact your bank if you need any help </label>
  <br>
  <br>
  </div>
</div>