
<p>Dear {{donar_name}},</p>

<p>Thank you for donating to Janasena Party and being part of the movement to bring Fair Politics & Strong Civil Society.</p>

<p>
Please consider this letter as a receipt for your contribution of Rs.{{amount}}/- . Donation Receipt Number {{receipt_id}} on Date {{date}}.</p>

<p>Thanks for Donating to Janasena Party.</p>


<p>Best Regards, </p>
<p>Janasena Party</p>  


<p>1. The Registration number of the Party is '56/118/2014/PPS-I.' and the PAN number is AACAJ2057M. </p>
<p>2. Donations to JSP, except those in cash, are exempt under Income Tax Act 1961, u/s 80GGB/80GGC. </p>

<p>4. For any queries regarding donation email us at donations@janasenaparty.org.</p>

