{% extends "admin_layout.html" %}
{% block body %}


<style>
.loader
{
  z-index:1051 !important;
}
</style>


 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
   <div class="container">
        <div class="row">
            <div class="form-inline" id="searchForm" style="text-align: center">
                <label>Enter Phone Number</label>
                <input type="text" class="form-control" name="phone" value="" id=phone placeholder="Search">
                <button type="submit" class="btn btn-primary" id="fetch">Fetch</button>
                <div class="col m8 s12 userdetails">
                    <br>
                    <br>

                    <div class="row datagrid" style="margin: 20px 20px 20px 20px;" id="table_div" >
                        <table id="operations_table" class="table table-striped table-bordered ">
                            <thead>
                                <tr>

                                    <th>Name </th>
                                    <th>Email</th>
                                    <th>Phone </th>
                                    <th>Transaction Id</th>
                                    <th>Amount </th>
                                    <th>Date</th>
                                    <th>send</th>
                                    <th>Download</th>
                                </tr>
                            </thead>

                            <tbody id="operations_body">

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    </div>
        <script type="text/javascript">

        

           var myTable;
        

         $(document).ready(function () {
         	myTable = $('#operations_table').DataTable({
                data: [],

                columns: [
                    { data: "donar_name" },
                    { data: "email" },
                    { data: "phone" },
                    { data: "transaction_id" },
                    { data: "transaction_amount" },
                    { data: "date" },
                    {
                    	 "targets": -2,

            		"data": null,
            		"render": function(data, type, row){
            			console.log(row)
                       return "<button class='editor_edit btn-info'>Send</button>"
                       
                   }

                    },

    {
                   
                         "targets": -1,
                    "data": null,
                    "render": function(data, type, row){
                        console.log(row)
                      
                       return "<button class='download btn-info'><a href='/download_donation_receipt?transaction_id="+row.transaction_id +"'>Download</button>"
                   }

                    }

                    ],
                     dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]


            });
          
            $("#fetch").on('click', function () {
                var fr = $('input[name="phone"]').val();
                $(".loader").css("display", "block")
                $.ajax({
                    type: 'GET',
                    url: "/donation_details_by_phone?phone=" + fr,
                   
                    dataType: "json",
           
           				ContentType:"application/json",

                    success: function (response) {
                        var responsedata =response;
                       		console.log(responsedata)
                        if (responsedata.status == '1') {
                            $(".loader").css("display", "none")
                            var children = responsedata.data;
                          
                           myTable.clear().draw()
                           myTable.rows.add(children ).draw()

                            $("#table_div").css("display", "block")
                        }
                        else {
                            $(".loader").css("display", "none")
                            errors: (response.error)
                            swal("Error", "Something wrong", "error");
                        }
                    },
                     error:function(response)
           {
            
            $(".loader").css("display","None");
           swal('Error',response.errors,'error');
             return false;
         }
          

                });
            });



					$('#operations_table').on('click', '.editor_edit', function (e) {
					e.preventDefault();

					var value = $(this).closest('tr').find('td')[3].innerHTML

					console.log(value)
					$(".loader").css("display", "block")
					$.ajax({
					type: 'GET',
					url: "/donations_emailreceipt?transaction_id=" + value,
					processData: false,
					contentType: false,
					success: function (response) {

					var responsedata = JSON.parse(response);
                    
					console.log(responsedata)
					$(".loader").css("display", "none")
					swal("Sent", "Succesfully sent", "success");
					$(".loader").css("display", "none")

					},
					 error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }

					});
					        });
 });
    </script>
    {% endblock %}