{% extends "layout.html" %}

{% block body %}
<style>
.borderless td, .borderless th {
    border: none !important;
}
.borderless table {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-bottom-style: none !important;
}
</style>
<link rel="icon" type="image/png" href="/static/img/favicon.png">
<div class="col l9 m12 s12">
<div class="summaryheading" style="background-color:rgba(82, 199, 153, 1);;text-align:center;color:white;padding-top: 10px;padding-bottom:10px;"><h3 style="font-size:24px;">Dear {{payment.donar_name}},</h3>

<span style="font-size:16px;">
Janasena Party will be grateful to people like you who make our work and mission possible through your support.</span>
</div>
<div class="payment_summary row " style="text-align:center;margin-top:30px;">
	
	<div class="col m3 l3  ">
		
	</div>
	<div class="col m6 s12 l6 table-responsive">
		<h3>Payment Summary</h3>
		 <table class="table borderless">
		 	<tr>
		 		<td>Person Name</td>
		 		<td>{{payment.donar_name}}</td>
		 	</tr>
		 	<tr>
		 		<td>Date</td>
		 		<td>{{payment.date}}</td>
		 	</tr>
		 	<tr>
		 		<td>Receipt Number</td>
		 		<td>{{payment.transaction_id}}</td>
		 	</tr>
		 	<tr>
		 		<td>Amount</td>
		 		<td>Rs.{{payment.transaction_amount}}</td>
		 	</tr>

		 </table>
		
		</div>
	
	<div class="col m3 l3 ">
		
	</div>
	</div>

 

<div style="text-align:left;margin:15px 10px 10px 15px;">




<h3>Note:</h3>
<p>1.Your donation would be used for building the party organization and meeting operational expenses.</p>
<p>2.We Have Sent  the Receipt and Donation Certificate  To Your Email. .Haven't received our email ? try your Spam folder.</p>
<p>3. The Registration number of the Party is '56/118/2014/PPS-I.' and the PAN number is AACAJ2057M. </p>
<p>4. Donations to JSP, except those in cash, are exempt under Income Tax Act 1961, u/s 80GGB/80GGC. </p>
<p>5. Your contact information (email & phone number) may be used by party for its organizational activities. </p>
<p>6. For any queries regarding donation Call us at 040-23545990 or email us at accounts@janasenaparty.org.</p>
	</div>
	{% endblock %}