
{% extends "layout.html" %}

{% block body %}
<link rel="icon" type="image/png" href="{{url_for('static',filename='/img/favicon.png')}}">
<script></script>
<style>
.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
.predefined-denomination-btn{
  background-color: white !important;
  color:black !important;
  font-size: small;
  border:1px solid #d81615;
  padding: 0 10px 0 10px;
    width: unset;
}
a{
  font-size:20px;
  color:#d81615;

}
a:hover, a:active {font-size: 150%;}

.selected-btn
{
   background-color:#d81615 !important;
  color:white !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input[type=number] {
    -moz-appearance:textfield;
}
</style>
   <style type="text/css">
      .jforms input { border:1px solid #d81615 !important; border-radius:3px; margin:0 !important;}
      textarea{  border-radius:3px; border:1px solid #d81615 !important; }

      .labels { font-size:.8rem !important; color:#fff;  background:#d81615 url(../img/home-boxes-rt-tp-white.png) no-repeat right top; padding:3px 20px 3px 10px; position:relative; bottom:3px !important;}
      </style>
<div class="col l9 m12 s12">
  <h3 style="text-align:center;color:#d81615">MAKE A DONATION</h3>
  <div class="row">
      <div class="col l4 m4 s4">
        <a href="#" id="online_donate" > Donation Form</a>
    </div>
     <div class="col l4 m4 s4">
       <a href="#" id="donate_options"> Donation Options</a>
    </div>
     <div class="col l4 m4 s4">
       <a href="#" id="donate_faq">Donation FAQ</a>
    </div>
    </div>
  <hr>
  <div class="container">

    <div class="row donation_divs active" id="donation_divs" >
    <!--<form class="jforms" method="post" enctype="multipart/form-data" autocomplete="off" onSubmit="return validateform();">-->
               {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="alert alert-success">
                            <ul class="flashes">
                            {% for message in messages %}
                              <li style="color:red;">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% endwith %}
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                 <div class="row form-row-margin"  id="indian_resident_div" style="padding:5px;margin-top:20px" >

                      <label  class="remainder" style="font-size: 20px !important;color: #d81615;margin-left: 10px;"> Are you residing in India?  </label>
                       <label class="radio-inline" style="font-size:20px !important;color: black;">
                      <input type="radio" name="indian_resident" value="yes"  style="margin:5px 5px 5px 5px !important;opacity: 1;position: relative;left: 0px;">Yes
                    </label>
                    <label class="radio-inline" style="font-size:20px !important;color: black;">
                      <input type="radio" name="indian_resident" value="no" style="margin:5px 5px 5px 5px !important;opacity: 1;position: relative;left: 0px;">No
                    </label>


                    </div>

                    <div class="row" id="nri_div" style="display:None">
                      <p>Thanks for your interest. As per current indian law, you need to be an Indian citizen residing in India to donate to the Janasena Party. We will update you if there is any change.  Please <a href="/" > click here</a> to go to our home page and stay connected to the party.</p>
                    </div>
                <div class="row" style="padding-right:20px;padding-left:20px;display:none" id="donation_form_div" >
                  <div class="row" >
                  <div class="alert alert-danger form-row-margin" style="padding-right:20px;padding-left:15px;"><span style="color:red">* </span> Fill this form for donating via national or international Credit or Debit Card, NetBanking (Indian Banks only) or through supported Wallets.</div>
                 </div>
               <!--  <div class="col l6 m6 s12" style="padding-right:60px;"> -->
                  <div class="row form-row-margin" >

                    <div class="form-group col l6 m6 s12" style="margin-top:20px" >
                      <label for="name" class="labels name"> Name </label>
                      <input type="text" name="name" class="form-control" maxlength="50" id="name" placeholder="Enter Your Full Name"  required>
                    </div>
                    <div class="form-group col l6 m6 s12" style="margin-top:20px">
                      <label for="fathername" class="labels name"> Father Name </label>
                      <input type="text" name="fathername" class="form-control" maxlength="50" id="fathername" placeholder="Enter Your Father Name"  required>
                    </div>
                  </div>
                  <div class="row form-row-margin" >
                     <div class="form-group  col l6 m6 s12" style="margin-top:20px" >
                      <label for="mobile" class="labels phoneno"  > Phone Number </label>
                      <input type="number" name="mobile" class="form-control" maxlength="10" id="mobile" placeholder="Enter Your 10 Digit Mobile Number" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" onkeyup="validateMobileNoLength()"  required>
                      <p id="valid_phone" class="alert alert-danger" style="display:none;color:red;">Enter Valid Phone Number.</p>
                    </div>
                    <div class="form-group  col l6 m6 s12" style="margin-top:20px" >
                      <label for="email" class="labels email"> Email </label>
                      <input type="email" name="email" class="form-control" id="email" maxlength="50" placeholder="Lets Stay Connected"  required>
                    </div>

                  </div>
                   <div class="row form-row-margin" >
                    <div class="form-group  col l6 m6 s12" style="margin-top:20px" >
                      <label for="mobile" class="labels phoneno"  >  Select Country:</label>
                    <select id="country" name ="country" style="border:1px solid #d81615;" class="form-control browser-default" required></select>
                       </div>
                        <div class="form-group  col l6 m6 s12" style="margin-top:20px" >
                      <label for="mobile" class="labels phoneno"  >  Select State:</label>
                    <select id="state" name ="state" style="border:1px solid #d81615;" class="form-control browser-default" required></select>
                       </div>
                    </div>


                  <div class="row form-row-margin " style="margin-top:20px" >
                    <div class="form-group col l12 m12 s12 ">
                   <label for="address" class=" labels address"> Full Address:</label>
                      <textarea class="form-control" rows="4" cols="50" maxlength="2000" required aria-required="true" id="address" placeholder="Full Address" name="address"  ></textarea>
                  </div>
                  </div>

                  <div class="row form-row-margin">


                      <div class="col l3 m3 s12"  style="margin-bottom:5px">
                         <label for="denominations" style="color: #d81615; font-weight: 800;font-size: 14px;"   >Select Amount Range (INR): </label>
                    </div>
                     <div class="col l3 m3 s6" style="margin-top: 10px;">

                       <span class="btn predefined-denomination-btn" id="1" >₹10 - ₹1999</span>
                    </div>
                     <div class="col l3 m3 s6" style="margin-top: 10px;">
                       <span class="btn predefined-denomination-btn" id="2"  >₹2000 - ₹49,999</span>
                    </div>
                     <div class="col l3 m3 s6" style="margin-top: 10px;">
                       <span class="btn predefined-denomination-btn" id="3" > >= ₹50,000 </span>
                    </div>


                    </div>

                    <div class="form-group  row " id="amount_div" style="display:None;padding:5px;"   >
                      <label for="amount" class=" labels amount" > AMOUNT(INR): </label>
                     <input type="number" name="amount" class="form-control" max="" min="" id="amount" placeholder="Enter Amount" onkeypress="return isNumeric(event)"   required>
                    </div>
                    <div class="row " id="payment_method_div" style="margin-left:0px;margin-top:20px"  >
                      <label for="payment_method" class=" labels amount" > Payment Mode: </label>

                    <select id="payment_method" name ="payment_method" style="border:1px solid #d81615;" class="form-control browser-default" required>
                      <option value="card" selected>Net Banking, Debit Card, Credit Card</option>
                      <option value="paytm" >PayTm</option>
                      <option value="whatsapp" >WhatsApp</option>

                    </select>
                    </div>

                    <div class="row form-row-margin"  id="pancard_div" style="padding:5px;display:none;margin-top:20px" >

                      <label for="pancard" class=" labels pancard" > PANCARD NUMBER: </label>
                    <input type="text" name="pancard" maxlength="15" class="form-control"  id="pancard" placeholder="Enter Your Pancard Number"   >
                   <span> <span style="color:red">*</span>Pancard Number is Mandatory for the Amount From Rs.2000  Onwards</span>
                    </div>
                     <div class="row form-row-margin"  id="monthly_remainder" style="padding:5px;margin-top:20px" >

                      <label for="remainder" class="remainder" style="font-size: 20px !important;color: #d81615;margin-left: 10px;"> Are you interested in getting monthly reminder for donation? </label>
                       <label class="radio-inline" style="font-size:20px !important;color: black;">
                      <input type="radio" name="remainder" value="yes" checked style="margin:5px 5px 5px 5px !important;opacity: 1;position: relative;left: 0px;">Yes
                    </label>
                    <label class="radio-inline" style="font-size:20px !important;color: black;">
                      <input type="radio" name="remainder" value="no" style="margin:5px 5px 5px 5px !important;opacity: 1;position: relative;left: 0px;">No
                    </label>


                    </div>
                    <div class="row" style="display:none" id="email_form" style="margin-top:20px" > <span><span style="color:red">*</span>For the Amount 50,000 Rs and Above  we will Email you the form .please sign it and Send us back at accounts@janasenaparty.org    </span></div>
                    <div class="row form-row-margin" style="padding-right:20px;padding-left:15px;">
                   <input id="confirmation" type="checkbox" name="confirmation"  class="filled-in checkbox-orange" required style="position: relative !important;left: 0px !important;opacity: 1 !important;" />
            <span> &nbsp; I declare that I am an Indian citizen and residing in India, above 18 years of age and am making this contribution voluntarily from legally earned personal funds or Explainable Sources. I also permit Janasena Party to communicate with me using my phone and/or email specified above. The particulars and statements made above are correct to the best of my knowledge and belief.</span>
        </div>
              <div class="row form-row-margin">
                <div class="col l6 m6 s12" style="float:left;margin-left: -15px;">
                  <div class="g-recaptcha" data-sitekey="6LcZQhIUAAAAANQ7XJPTY3hBIcNYOwKZ7OhHus8f" data-theme="light"></div>
                </div>
                <div class="col l6 m6 s12" style="text-align:left; padding:0;"> <br>
                  <input type="button" class="btn red darken-3 z-depth-0" value="Donate" onclick="validateform()">
                </div>
                <br>
                <br>
              </div>
            </div>
            <!--</form>-->
          </div>
          <div class="row" id="instructions" style="display:none">

    <div class="row" style="margin: 10px 2px">
        <div class="col m10 s10 l10">
            <p>
                Indian citizens can make their tax-deductible donation to the JanaSena Party from their Indian and Foreign accounts.<p>
                    <h5><strong>Donation Options available from Indian Accounts: </strong></h5>
                    <p>Online donation via Net Banking, Credit Card, Debit Card, Wallets (e.g. MobiKwik, Airtel Money, Freecharge,Ola Money etc.), UPI (Unified Payment Interface), Cash card,  Sending Cheque or Demand Draft. </p>


                    <hr />
                   <!--  <h5><strong>Donate Online</strong></h5>
                    <p>
                        <a href="/donations">Click here to donate online</a> via national or international Credit Card / Debit Card, Net Banking (Indian banks only) or Wallets (e.g. MobiKwik, Airtel Money, Freecharge, etc.), UPI, and Cash card. Simply follow this link and keep your credit card/debit card/Net Banking details ready.
                    </p>
                    <hr /> -->


                    <h5><strong>Donate Through Cheque/Demand Draft</strong></h5>
                    You can send your Cheque/Demand Draft* in the favour of 'Janasena Party' (* Payable at Hyderabad) with your name, phone number, complete postal address, PAN number and e-mail address (if available) to the address mentioned below:<br />
                    <br />
                    <strong>Janasena Party</strong>
                    <br />
                    Plot no:12, Road No:72, Prashasan nagar
                    <br />
                    Jubilee Hills,

                    Hyderabad -500033<br />
                    INDIA<br />
                    <br />
                    While sending Demand Draft, please include a valid government-approved photo ID.
                    <hr />
                    <h4><strong>Legal Clarification</strong></h4>
            Income of and/or contribution to a political party registered under Section 29-A of Representation of People Act 1951 are exempt under Section 13-A and 80GGB/ 80GGC respectively. For this purpose, no registration/certification is required under IT Act 1961.
Therefore, registration certificate issued by Election Commission of India and PAN allotted by Income Tax Department are the only two documents which enable a registered political party to collect contributions. You can find our registration number and PAN number below.

PAN: AACAJ2057M
Registration No: '56/118/2014/PPS-I.


        </div>
</div>
          </div>
          <div class="row" id="faq" style="display:none">
           <div class="row" style="margin:10px 2px">
    <div class="col l12 m12 s12" style="font-family: 'Open Sans', sans-serif; font-size:14px; font-weight:400">
      <div class="panel-group" id="accordion">
          <div class="faqHeader"><h5>Answers to Frequently Asked Questions</h5></div>
<!-- Start generated faq -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                      1. What are the methods I can use to donate to Janasena Party online?
                    </a>
                </h4>
            </div>
            <div id="collapse0" class="panel-collapse collapse in">
                <div class="panel-body">
                  You can donate online via national or international Credit Card/Debit Card or Net Banking (Indian Banks only) and Wallet. The Wallet option covers wallets such as MobiKwik, Airtel Money, Freecharge,Ola Money etc. as well as UPI (Unified Payments Interface) and Cash cards.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                      2. Can I donate through cheques/demand drafts. If yes, how?
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  You can send your Cheque/Demand Draft* in the favour of 'Janasena Party' (*Payable at Hyderabad) with your name, phone number, complete postal address, PAN number and e-mail address (if available) to the address mentioned below:<br>Janasena Party<br> <br>Plot no:12, Road No:72, Prashasan Nagar
                    <br />
                    Jubilee Hills,
                    Hyderabad -500033<br />
                    INDIA<br /><br><br/>While sending Demand Draft, please include a valid government-approved photo ID.
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                      3. Are my donations eligible for tax deductions?
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  All donations except cash are eligible for tax deductions under Section 80 GGB/GGC of the Income Tax Act, 1961.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                      4. Who can donate to Janasena Party?
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  Donor should be an Indian citizen and living in India .
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                      5. How do I know that my donation has been received?
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  In case of online donations, a receipt is sent at the registered email address after every successful transaction. For Cheques / DD / cash donations, the receipt is sent by post or hand delivery as the case may be.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                      6. I have more questions on donations. How do I get more help?
                    </a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                  One can e-mail us at accounts@janasenaparty.org or call us at +91-7288040505.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                      7. What payment gateways do you use?
                    </a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                   we use instamojo payment gateway.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                      8. What security measures do you have in place?
                    </a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                  The donation process is behind 128 bit SSL encryption. Our Payment gateway partners are PCI compliant. PCI compliance is the international minimum standard to be followed by all payment providers for security.  As soon as an online donation is made and is successful, donors get an email and sms from Janasena Party.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                      9. Do you store my credit card information?
                    </a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                  No. The Janasena Party servers do not store any credit/debit card related information with them.
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                      10. I had a failed transaction - what does it mean? Who do I get in touch with?
                    </a>
                </h4>
            </div>
            <div id="collapse16" class="panel-collapse collapse">
                <div class="panel-body">
                  You can email us at accounts@janasenaparty.org or call us at +91-7288040505.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                      11. I had a failed transaction but money has been taken from my card/bank account. What do I need to do?
                    </a>
                </h4>
            </div>
            <div id="collapse17" class="panel-collapse collapse">
                <div class="panel-body">
                  You can email us at accounts@janasenaparty.org or call us at +91-7288040505.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18">
                      12. I have no transaction number or email but money has been taken from the account.
                    </a>
                </h4>
            </div>
            <div id="collapse18" class="panel-collapse collapse">
                <div class="panel-body">
                   Email us at accounts@janasenaparty.org with details such as amount, name of donor, email ID, date of transaction and mode of payment.
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20">
                      13. I made a donation. I need a receipt for tax filing purposes.
                    </a>
                </h4>
            </div>
            <div id="collapse20" class="panel-collapse collapse">
                <div class="panel-body">
                  Mail us at accounts@janasenaparty.org with details such as amount, name of donor, email id, date of transaction and mode of payment.
                </div>
            </div>
        </div>
<!-- End generated faq -->
      </div>
    </div>
  </div>

            </div>

          </div>

  </div>

      </div>
<a href="" id="instamojo" style="display:none">

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{url_for('static',filename='js/countries.js')}}"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://js.instamojo.com/v1/checkout.js"></script>

              <script>
              populateCountries("country", "state");
               function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}
function validatepan(pannumber){
  var re= /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;
  return re.test(pannumber);
}
  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /^[0-9\b]+$/;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }
        function validateform(){
          var name=document.getElementById("name").value;
         if( name.trim().length==0)
         {
          alert("Name Field Must not be empty.")
          return false;
         }
           var email=document.getElementById("email").value;
         if( email.trim().length==0)
         {
          alert("Email Field Must Not be empty.")
          return false;
         }
         if(!validateEmail(email))
         {
          alert("Please Enter Valid Email ID");
          return false;
         }
         var amount=document.getElementById("amount").value;
         if(amount>=2000)
         {
            var pancard=document.getElementById("pancard").value;
        if( pancard.trim().length==0)
         {
          alert("Pancard Number Field Must Not Be Empty.")
          return false;
         }
         else
         {
          if (!validatepan(pancard))
          {
            alert("please enter valid PANCARD Number")
            return false;
          }


         }

         }

          var mobile=document.getElementById("mobile").value;
       if( mobile.trim().length==0)
         {
          alert("mobile Field Should not be empty.")
          return false;
         }
         if (!validateMobileNoLength())
         {
          alert("please enter valid Mobile Number");
          return false;
         }
          <!--var captcha_response = 1;-->
          var captcha_response = grecaptcha.getResponse();
          if(captcha_response.length == 0)
          {
              // Captcha is not Passed
              alert('Please verify google captcha')
              return false;
          }
          else
          {
            console.log('I am here');
              var formdata=new FormData();

              var name=document.getElementById("name").value;
              var email=document.getElementById("email").value;
              var amount=document.getElementById("amount").value;
              var pancard=document.getElementById("pancard").value;
              var mobile=document.getElementById("mobile").value;
              var fathername=document.getElementById("fathername").value;
              var country1=document.getElementById("country").value;
              var state=document.getElementById("state").value;
              var address=document.getElementById("address").value;
              data = {};
              data['csrf_token']='{{ csrf_token() }}';
              data['name'] = name;
              data['fathername'] = fathername;
              data['email'] = email;
              data['amount'] = amount;
              data['pancard'] = pancard;
              data['mobile']=mobile;
              data['country']=country1;
              data['state']=state;
              data['address']=address;
              <!--Make ajax call-->
              <!--&lt;!&ndash;ajax call success &ndash;&gt;-->
              <!--{-->
               $(".loader").css("display","block");
               $.ajax({
                   method:'POST',
                   url: "/donations/jspdonations",
                   data:data,
                   success: function(response){
                       $(".loader").css("display","none");
                       console.log(response);
                       response = JSON.parse(response);
                            var payment_url=response['payment_url'];
                            console.log(payment_url);
                       Instamojo.open(payment_url);

                    },
                    errors:function(response){
                        console.log(response);
                    }

                });


              <!--}-->
              <!--End ajax call-->


              return true;

          }
      }

$(".predefined-denomination-btn").click(function()
{
   $(".predefined-denomination-btn").removeClass("selected-btn");
    $(this).addClass("selected-btn");
var btn_id=$(this).attr('id');
console.log(btn_id);
$("#amount_div").css("display","block");
pancard_div
email_form
var min=1;
var max=500000;
if (btn_id==1)
{
  // 10
  min=10;
  max=1999;
  $("#pancard_div").css("display","None");
  $("#email_form").css("display","None");
}
else if (btn_id==2)
{
  min=2000;
  max=49999;

  $("#pancard_div").css("display","block");
   $("#email_form").css("display","None");
}
else{
  min=50000;
  max=500000;
  $("#pancard_div").css("display","block");
  $("#email_form").css("display","block");

}
    $("#amount").attr({
   "max" : max,
   "min" : min
});


})
    function validateMobileNoLength()
{
  var regex = /^[7-9]{1}[0-9]{9}$/g;
  var mobile_num=$("#mobile").val();
  var length=mobile_num.length;
  if(length==10){
    if(regex.test(mobile_num))
    {
      $("#valid_phone").css("display","None");
      return true;
    }
    else
    {
      $("#valid_phone").css("display","block");
      return false;
    }


}
else
{
  $("#valid_phone").css("display","None");

 return false;

}

  }

  $('input[type=radio][name=indian_resident]').change(function() {
    console.log(this.value)
        if (this.value == 'no') {
            $("#nri_div").css("display","block");
              // $("#indian_resident_div").css("display","none");
               $("#donation_form_div").css("display","none");
        }
        else {
             $("#nri_div").css("display","none");
              $("#indian_resident_div").css("display","none");
              $("#donation_form_div").css("display","block");
        }
    });

$("#online_donate").click(function()
{
  $("#donation_divs").css("display","block")
  $("#instructions").css("display","none")
  $("#faq").css("display","none")



})
$("#donate_options").click(function()
{
 $("#donation_divs").css("display","none")
  $("#instructions").css("display","block")
  $("#faq").css("display","none")
})
$("#donate_faq").click(function()
{
 $("#donation_divs").css("display","none")
  $("#instructions").css("display","none")
  $("#faq").css("display","block")
})




      </script> 
      

<script>
var payment_url="{{payment_url}}";
  Instamojo.open(payment_url);
</script>
		
      




{% endblock %}