<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content=" JanaSena Party is an Indian political party in the states of Andhra Pradesh and Telangana, founded by actor turned politician Pawan Kalyan on 14 March 2014. Jana Sena means People’s Army in Telugu" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" type="image/png" href="/static/img/favicon.png">


<!-- InstanceBeginEditable name="doctitle" -->
<title>Janasena Party</title>
		<link rel="stylesheet" href="static/css/bootstrap.min.css"  >
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
		<script src="static/js/bootstrap.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script> 
		<script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
	<style>
	hr{
		margin-top: 10px !important;
    margin-bottom: 10px !important;
	}
	.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
	</style>	
		
</head>
<body>
	<div class="container"  style="background-color:#fff;padding:15px; margin-top:50px;border:1px solid #cecece;max-width:600px;min-width:300px;"  >

		<div class="row">
       
            
            <p style="color: #d81615;text-align: center;">Janasena party will be grateful to people like you who make our work and mission possible through your support. We received with thanks the sum of ₹ {{payment.transaction_amount}}<br>
</p>
<p style="color: #d81615;font-weight: bold; margin: 10px;text-align: center;">Payment Summary</p>
        
    </div>

<div class="row" id="receipt_div">
		<div class="row" style="background-color:#d81615;height:30px;padding:0 30 0 30px !important">
		</div>
		<div class="clearfix">&nbsp;
          </div>
	<div class="row">
<div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
		<h4 style="font-size:15px;font-weight: 800;color:#d81615">Janasena&nbsp;Party</h4>
		<p style="padding-left:10px">Plot No.12, Road No.72, Prashasan Nagar,</p><p> Jubilee Hills, Hyderabad, Telangana 500033</p>
		</div>
		<div class="col-md-4 col-sm-4 col-lg-4 col-xs-4" style="text-align: right;">
		<img src="https://janasenaparty.org/static/img/logo.png" style="height:80px;width:80px;text-align:right" >
		</div>
		

	</div>
<div class="clearfix">&nbsp;</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
		<h4 style="font-size:15px;font-weight: 800;">BILL To:</h4>
		<p style="padding-left:10px;">{{payment.donar_name}}</p>
		<p style="padding-left:10px;">{{payment.address}}</p>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6" style="padding-top:20px;text-align:right" >
			<br>
		<p style="font-size:15px;font-weight: 800;">RECEIPT #</span> {{payment.transaction_id}}</p>
		<p style="font-size:15px;font-weight: 800;">RECEIPT DATE :</span>{{payment.date}}</p>
		</div>
		

	</div>
 
<div class="clearfix">&nbsp;
          </div>

<div class="row">
	<hr style="height:-0.5em;border:1px solid #000;">
		<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
		<h3 style="font-size:15px;font-weight: 800;">Receipt Total:</h3>
		
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6" >
			
		<h3 style="font-size:15px;font-weight: 800;text-align:right">₹ {{payment.transaction_amount}}</h3>
		
		</div>
		<hr style="height:-0.5em;border:1px solid #000;">

	</div>
<div class="clearfix">&nbsp;
          </div>
  <div class="row">
  	<h3 style="font-size:15px;font-weight: 800;padding-left:10px">TERMS & CONDITIONS:
</h3>
  	<p style="padding-left:10px">This is Online Generated Receipt . No Signature Required</p>
  </div>        
<div class="row" style="background-color:#d81615;height:30px ;padding:0 30 0 30px !important">
		</div>
</div>
<div class="clearfix">&nbsp;
          </div>
 <div class="row" style="text-align:center">
 	 <a id="prinDIV" href="#"><input type='button'   value='Download' > </a>
                
            </div>
	</div>
	
	<div class="row" id="previewImage" style="display:none">
    </div>
</body>
</html>
<script>
$(document).ready(function()
{
var element = $("#receipt_div"); // global variable
var getCanvas; 
	 html2canvas(element, {
         onrendered: function (canvas) {
                $("#previewImage").append(canvas);
                getCanvas = canvas;
                console.log(getCanvas);
             }
         });

	$("#prinDIV").on('click', function () {
	
	 console.log("hiiiii")
    var imgageData = getCanvas.toDataURL("image/png");
    // Now browser starts downloading it instead of just showing it
    var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
    $("#prinDIV").attr("download", "your_pic_name.png").attr("href", newData);
	});


})


</script>