<style>
.tooltip_cls .tooltip > .tooltip-inner {background-color: #2e3b42;}

</style>
<div class="col-xs-12 col-sm-6" >

              <div class="form-group float-label-control">
                <label for="name">First Name</label>
                <input type="text" class="form-control" placeholder="First Name" id="name" name="name" onkeypress="return isalphabet(event)">
              </div>
            </div>
             <div class="col-xs-12 col-sm-6" >

              <div class="form-group float-label-control">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" id="last_name" name="last_name" onkeypress="return isalphabet(event)">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12">
              <div class="form-group float-label-control">
                <label for="fathername">Father/Mother Name</label>
                <input type="text" class="form-control" placeholder="Father Name" id="fathername" name="fathername" onkeypress="return isalphabet(event)" >
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control">
                <label for="mobile">Phone Number</label>
                <input type="number" class="form-control"  id="mobile" name="mobile" maxlength="10"  placeholder="10 Digit Mobile Number" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)"  required>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control">
                <label for="email">Email ID</label>
                <input type="email" class="form-control" placeholder="Email ID" id="email" name="email" required>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group float-label-control" >
                <label for="state">State</label>
                <select class="form-control" id="state" name="state" onChange="statechange(this)">

                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Telangana">Telangana</option>
                   <option value="Tamil Nadu">Tamil Nadu</option>
                   <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                   <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option><option value="Bihar">Bihar</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                  <option value="Daman and Diu">Daman and Diu</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>

                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Orissa">Orissa</option>
                  <option value="Pondicherry">Pondicherry</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>

                  <option value="Tripura">Tripura</option>

                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttaranchal">Uttaranchal</option>
                  <option value="West Bengal">West Bengal</option>
                </select>
              </div>
            </div>

              <div class="col-xs-12 col-sm-6 districts_div" style="display:none">
                 <div class="form-group float-label-control" >
                    <label for="district">District</label>
                    <select class="form-control" id="district" name="district">



                    </select>
                 </div>
              </div>
              <div class="col-xs-12 col-sm-6 districts_div" style="display:none">
                <div class="form-group float-label-control" >
                    <label for='constituency'> Constituency </label>
                    <select class="form-control" id="constituency" name="constituency">


                    </select>
                 </div>
              </div>

            <div class="col-xs-12">
              <div class="form-group float-label-control">
                <label for="address">Full Address</label>
                <textarea class="form-control" placeholder="Full Address" rows="2" name="address" id="address" required></textarea>
              </div>
            </div>
            
             
            <div class="col-xs-12 col-sm-6 "  >
              <button  class="btn_next" id="step_1_next">One time Donation</button>
            </div>

            <div class="col-xs-12 col-sm-6  bt " >
             <!--  <button  class="btn_next sr" id="step_1_next1" >Automatic Recurring Donation</button> -->
             <button  class="btn_next sr" id="step_1_next1" >Automatic Recurring Donation <i class="fa fa-info-circle tooltip_cls" data-toggle="tooltip" data-placement="auto" data-html="true"  title=" It is an automated payment collection system that requires a one-time approval from the user via the authentication transaction. Following points explain how a subscription works:

1.The user’s approval is sought before recurring payments are collected. This approval process works just like any normal payments with the 3D Secure authentication step. This is what we refer to as authentication transaction.
2.Once the authentication transaction is successfully completed, the card is automatically charged at the start of every billing cycle.
For every recurring payment, an receipt is generated that includes user and subscription details ."></i></button>
    
            </div>
           