<div class="col-xs-12 " id="step2_amount">
              <div class="form-group">
                <h2>Select Amount Range</h2>
                <input class="hidden radio-label predefined-denomination-cls yes-button" type="radio" name="predefined-denomination-btn" value="1" id="1" checked="checked"/>
                <label class="button-label" for="1">
                <h1>₹10 - ₹1999</h1>
                </label>
                <input class="hidden radio-label predefined-denomination-cls" type="radio" name="predefined-denomination-btn" value="2" id="2"/>
                <label class="button-label" for="2">
                <h1>₹2,000 - ₹19,999</h1>
                </label>
                <input class="hidden radio-label predefined-denomination-cls" type="radio" name="predefined-denomination-btn" value="3" id="3"/>
                <label class="button-label" for="3">
                <h1>₹20,000 and Above</h1>
                </label>
              </div>
            </div>
            <div class="col-xs-12 ">
              <div class="col-md-6 col-md-push-3 amount_field">
              <div class="form-group float-label-control amount_field">
                <label for="amount">Enter Amount</label>
                <input type="number" class="form-control" placeholder="Amount" name="amount" id="amount" onkeypress="return isNumeric(event)" >
              </div>
            </div>
            </div>
             <div class="col-xs-12 " id="pancard_div" style="display:none">
              <div class="col-md-6 col-md-push-3 ">
              <div class="form-group float-label-control ">
                <label for="PanCard">Pancard</label>
                <input type="text" class="form-control" placeholder="PanCard" id="pancard" name="pancard" >
                <span style="color:#fff; font-size:0.75em" > <span style="color:red">* </span>Pancard Details are Mandatory for the Amount  Rs.2,000/-  Onwards</span>
              </div>
              </div>
            </div>
            <p id="email_form" style="display:none;color:#fff"><span>*For the Amount Rs.20,000 and Above we will send  the form to your email,  please sign it and Send us back at donations@janasenaparty.org </span></p>
             <div class="col-xs-12" id="five_lakhs_above_div" style="display:none;color:#fff">
            <p ><span>*We don’t accept online donations for amounts 500,000 and above. Please send a cheque or a DD to <br>
Janasena Party <br>
Plot No.12, Rd Number 1, Prashasan Nagar, Jubilee Hills, Hyderabad, Telangana 500033 </span></p>
    </div>
            <div class="col-xs-12">
              <div class="form-group">
                <h5>Are you interested in getting  reminder for donation?</h5>
                <input class="hidden radio-label remainder_cls yes-button" type="radio" id="remainder_yes" name="remainder" value="yes" checked="checked"/>
                <label class="button-label sm" for="remainder_yes">
                <h1>Yes</h1>
                </label>
                <input class="hidden radio-label remainder_cls" type="radio" id="remainder_no" name="remainder" value="no" />
                <label class="button-label sm" for="remainder_no">
                <h1>No</h1>
                </label>
              </div>
            </div>
            <div class="col-xs-12">
              <div  style="text-align:left !important;font-size: 14px;line-height: 20px;font-weight: 400;color: #fff;padding: 10px;">
                <label>
                  <input type="checkbox" name="desclaimer" id="desclaimer">
                  <span class="label-text"> 
                    I declare that I am an Indian citizen above 18 years of age and I am making this contribution voluntarily from legally earned personal
                    funds or Explainable Sources.<br>
                    <div id="above_50k" style="display:none">
                    I can provide  hard copy of the confirmation letter for donation
                    whenever party requires and I have no objection to provide the details by the
                    janasena party to the income tax department and election commission as per the laws of india.
                    <br>
                    I also permit Janasena Party to communicate with me using my
                    phone and/or email specified above.
                    The particulars and statements made above are correct to the best of my knowledge
                    and belief.</div></span> </label>
              </div>
            </div>
            
            <div class="col-xs-12 clearfix ">
              <div class="col-md-6 col-md-push-3 amount_field">
              <div style="border-bottom:1px solid #aaa">
                <span class="form-inline" id="jscaptchatext" style="font-size: 20px;color:white"></span>
            
                <input type="number"  id="jscaptchainput"  style="width: 50%;
  font-family: 'Open Sans', sans-serif;
  padding: 0.1em 0em 1px 0em;
  border: none;
  border-radius: 0px;
  color:white;
  font-size:20px;
  outline: none;
  margin: 0px;
  background: none;"/>
          </div>
                <p  id="captcha_error" style="color:#d81615; font-size:1em;">Please enter above captcha 
                </p>
              
               </div>
             
            
            </div>
            <div class="col-xs-6 text-left">
              <button class="btn_next" id="step_2_back">Back</button>
            </div>
            <div class="col-xs-6 text-right">
              <button class="btn_next" id="step_2_next">NEXT</button>
            </div>
    </div>