<!DOCTYPE html>
<html lang="en" class="cover">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>JanaSena Donations</title>

<!-- Bootstrap -->
  <link rel="icon" type="image/png" href="static/img/favicon.png">
<link href="static/donations/css/bootstrap.min.css" rel="stylesheet">
<link href="static/donations/css/custom1.css" rel="stylesheet">
<link href="static/donations/css/mediaqueries.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="content_wrapper">
  <div class="cover_container">
    <div class="cover_inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4"> </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="share">
              <div class="socialshare">
                <ul>
                  <li><a href="https://janasenaparty.org"><i class="fas fa-home"></i> <span class="hidden-xs">Go to JanaSena Home Page</span></a></li>
                  <li>Share Us On </li>
                  <li class="badge"><a href="https://www.facebook.com/janasenaparty/" target="_blank"><i class="fab fa-facebook-f" ></i></a></li>
                  <li class="badge"><a href="https://twitter.com/Janasenaparty?lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li class="badge"><a href="https://www.instagram.com/Janasenaparty" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li class="badge"><a href="https://www.youtube.com/Janasenaparty" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="dontation clearfix">
              <div class="header clearfix">
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                  <div class="logo"><img src="static/donations/images/logo.png" width="210" height="68" alt=""/></div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 hidden-xs">
                  <div class="title ">Donations</div>
                </div>
                {% include 'donations/options.html' %}
                <div class="btn_donate col-xs-12 col-sm-6 col-sm-push-3 hidden-sm hidden-md hidden-lg">
                  <button  class="pulse btn btn_primary btn-lg btn-block top_div_button">Donate</button>
                </div>
              </div>
              <div class="content clearfix">
               
                <h1> అందరి అభివృద్ధి కోసం... సామాజిక సమతుల్యం కోసం పొరాడే జనసేనకు...<br>
                  <span>నా వంతు సహకారం</span> </h1>
                <div class="btn_donate col-xs-12 col-sm-6 col-sm-push-3">
                  <button  class="pulse btn btn_primary btn-lg btn-block top_div_button">Donate</button>
                </div>
              </div>
            </div>
            <div class="links">
              <ul>
                <li class="col-xs-6 text-center"><a href="#" data-toggle="modal" data-target="#options_modal">Donation Options</a></li>
                <li class="col-xs-6 text-center"><a href="#" data-toggle="modal" data-target="#donationfaq">Donation FAQ's</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form_container">
      <h1>Donation Form</h1>
       {% include 'loader.html' %}
      <div class="container" id="form_div">

        <div class="row" id="step1">
          <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 form_content" >
            <div class="row" id="residence_confirm_div">
            <div class="col-xs-12" >
              <div class="form-group">
                <h2>Are you an Indian citizen?</h2>
                <input class="hidden radio-label yes-button" type="radio" name="residence_confirm" value="yes" id="yes-button" checked="checked"/>
                <label class="button-label" for="yes-button">
                <h1>Yes</h1>
                </label>
                <input class="hidden radio-label no-button" type="radio" name="residence_confirm" value="no" id="no-button"/>
                <label class="button-label" for="no-button">
                <h1>No</h1>
                </label>
              </div>
            </div>
              </div>
          <div class="row" id="form_step_1_div">
            <div class="col-xs-12 col-sm-12">
              <div class="form-group float-label-control" >
                <label for="country">Country of Residence</label>
                <select class="form-control " id="country" name="country" onChange="countrychange(this)" >
                 {%include 'donations/countries.html' %}
                </select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 states_div" style="display:none">
              <div class="form-group float-label-control" >
                <label for="state">State</label>
                <select class="form-control " id="state" name="state" onChange="statechange(this)"  >

                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Telangana">Telangana</option>
                   <option value="Tamil Nadu">Tamil Nadu</option>
                   <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                   <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option><option value="Bihar">Bihar</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                  <option value="Daman and Diu">Daman and Diu</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>

                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Orissa">Orissa</option>
                  <option value="Pondicherry">Pondicherry</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>

                  <option value="Tripura">Tripura</option>

                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttaranchal">Uttaranchal</option>
                  <option value="West Bengal">West Bengal</option>
                </select>
              </div>
            </div>

              <div class="col-xs-12 col-sm-6 districts_div" style="display:none">
                 <div class="form-group float-label-control" >
                    <label for="district">District</label>
                    <select class="form-control" id="district" name="district">



                    </select>
                 </div>
              </div>
              <div class="col-xs-12 col-sm-6 districts_div" style="display:none">
                <div class="form-group float-label-control" >
                    <label for='constituency'> Constituency </label>
                    <select class="form-control" id="constituency" name="constituency">


                    </select>
                 </div>
              </div>
            <div class="col-xs-12 col-sm-6" >

              <div class="form-group float-label-control">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" placeholder="Full Name" id="name" name="name" onkeypress="return isalphabet(event)">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control">
                <label for="fathername">Father Name</label>
                <input type="text" class="form-control" placeholder="Father Name" id="fathername" name="fathername" onkeypress="return isalphabet(event)" >
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control">
                <label for="mobile">Phone Number</label>
                <input type="number" class="form-control"  id="mobile" name="mobile" maxlength="10"  placeholder="10 Digit Mobile Number" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)"  required>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control">
                <label for="email">Email ID</label>
                <input type="email" class="form-control" placeholder="Email ID" id="email" name="email" required>
              </div>
            </div>

            

            <div class="col-xs-12">
              <div class="form-group float-label-control">
                <label for="address">Full Address</label>
                <textarea class="form-control" placeholder="Full Address" rows="3" name="address" id="address" required></textarea>
              </div>
            </div>
            <div class="col-xs-6 text-left">
              <!--<button class="btn_cancel">Back</button>-->
            </div>
            <div class="col-xs-6 text-right">
              <button  class="btn_next" id="step_1_next">NEXT</button>
            </div>
           </div>
            <div class="row" id="nri_content" style="display:none">
              <span class="label-text" style="font-size:20px">
                Thanks for your interest. As per current Indian Regulation,
you need to be an Indian citizen  to donate to the JanaSena Party.
We will update you if there is any change in Regulation. However, you can still contribute your time by being a volunteer with JanaSena Party.

                <p>click here to <a href="https://janasenaparty.org"> <span class="hidden-xs">Go to JanaSena Home Page</span></a> and stay connected to the party</p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="step2" style="display:none">

          <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 form_content">
            <div class="col-xs-12">
              <div class="form-group">
                <h2>Select Amount Range</h2>
                <input class="hidden radio-label predefined-denomination-cls yes-button" type="radio" name="predefined-denomination-btn" value="1" id="1" checked="checked"/>
                <label class="button-label" for="1">
                <h1>₹10 - ₹1999</h1>
                </label>
                <input class="hidden radio-label predefined-denomination-cls" type="radio" name="predefined-denomination-btn" value="2" id="2"/>
                <label class="button-label" for="2">
                <h1>₹2000 - ₹49,999</h1>
                </label>
                <input class="hidden radio-label predefined-denomination-cls" type="radio" name="predefined-denomination-btn" value="3" id="3"/>
                <label class="button-label" for="3">
                <h1>₹50,000 and Above</h1>
                </label>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group float-label-control">
                <label for="amount">Enter Amount</label>
                <input type="number" class="form-control" placeholder="Amount" name="amount" id="amount" onkeypress="return isNumeric(event)" onkeyup="return checkAmountRange(this)">
              </div>
            </div>
             <div class="col-xs-12 " id="pancard_div" style="display:none">
              <div class="form-group float-label-control">
                <label for="PanCard">Pancard</label>
                <input type="text" class="form-control" placeholder="PanCard" id="pancard" name="pancard" >
                <span> <span style="color:red">*</span>Pancard Details are Mandatory for the Amount  Rs.2000/-  Onwards</span>
              </div>
            </div>
            <div class="col-xs-12 " id="passport_div" style="display:none">
              <div class="form-group float-label-control">
                <label for="passport">Passport</label>
                <input type="text" class="form-control" placeholder="passport" id="passport" name="passport" >
                <span> <span style="color:red">*</span>Passport Details are Mandatory for people residing outside of India</span>
              </div>
            </div>
            <p id="email_form" style="display:none"><span>*For the Amount 20,000 Rs and Above we will Email you the form. please sign it and send us back at donations@janasenaparty.org </span></span></p>
            <div class="col-xs-12">
              <div class="form-group">
                <h5>Are you interested in getting monthly reminder for donation?</h5>
                <input class="hidden radio-label remainder_cls yes-button" type="radio" id="remainder_yes" name="remainder" value="yes" checked="checked"/>
                <label class="button-label sm" for="remainder_yes">
                <h1>Yes</h1>
                </label>
                <input class="hidden radio-label remainder_cls" type="radio" id="remainder_no" name="remainder" value="no" />
                <label class="button-label sm" for="remainder_no">
                <h1>No</h1>
                </label>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-check">
                <label>
                  <input type="checkbox" name="desclaimer" id="desclaimer">
                  <span class="label-text"> I declare that I am an Indian citizen,
                    above 18 years of age and am making this contribution voluntarily from legally earned personal
                    funds or Explainable Sources and can provide  hard copy of the confirmation letter of donation
                    whenever party requires and has no objection to provide the details by the
                    janasena party to the income tax department and election commission as per the laws of india.
                    I also permit Janasena Party to communicate with me using my
                    phone and/or email specified above.
                    The particulars and statements made above are correct to the best of my knowledge
                    and belief.</span> </label>
              </div>
            </div>
            <div class="col-xs-12 clearfix">
              <div class="g-recaptcha" data-sitekey="6LcZQhIUAAAAANQ7XJPTY3hBIcNYOwKZ7OhHus8f" data-theme="light" ></div>
            <span id="click_confirmation" class="alert alert-danger" style="display:none;">Please verify captcha.</span>
            </div>
            <div class="col-xs-6 text-left">
              <button class="btn_next" id="step_2_back">Back</button>
            </div>
            <div class="col-xs-6 text-right">
              <button class="btn_next" id="step_2_next">NEXT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="" id="instamojo" style="display:none">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="static/donations/js/bootstrap.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://js.instamojo.com/v1/checkout.js"></script>
<script>

var select_field_updater = function(placeholder){
  var $sf = $(placeholder);
  var $ulup = $(placeholder+'-dropdown');


  var $opt = $sf.find('option');
  var rows = [];
  $opt.each(function($i, $opt){
                            var $ic = $opt.getAttribute('data-icon');
                            $ic = ($ic) ? '<i class="'+ $ic +'"></i> '  : '';
                            var $ht = '<li>'+
                                        '<a href="#" data-option="'+$opt.value+'">'+
                                            $ic + $opt.text
                                        '</a>'+
                                    '</li> '
                            rows.push($ht);
                        });

  $ulup.html(rows)

}
 function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}
function validatepan(pannumber){
  var re= /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;
  return re.test(pannumber);
}

$( "#amount" ).keyup(function() {
$("p").remove(".validation");
var amount_range=$('input:radio[name=predefined-denomination-btn]:checked').val();
var min;
var max;
if(amount_range==1)
{

min=10;
max=1999;
}
else if(amount_range==2)
{
min=2000;
max=49999;
}
else
{
min=50000;
max=500000;
}


  if($('#amount').val()<min || $('#amount').val()>max ){
$("#amount").parent().append("<p class='validation' style='color:red;'>amount should be between "+min+" and "+max+"</p>");
  }
  else{
$("#amount").parent().remove(".validation");
  }
  });

function isalphabet (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /^[a-zA-z\b\s]+$/;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }

  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /^[0-9\b]+$/;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }
  function validateMobileNo()
{
  var regex = /^[6-9]{1}[0-9]{9}$/g;
  var mobile_num=$("#mobile").val();
  var length=mobile_num.length;
  if(length==10){
    if(regex.test(mobile_num))
    {

      return true;
    }
    else
    {

      return false;
    }


}
else
{


 return false;

}

  }

var districts;
var assembly_constituencies;
var data;
var update_districts;
var actions;
<!--start of document ready function-->
$(document).ready(function()
{


$.getJSON('/static/json/membership/districts.json',function(data){
  districts=data;

});
$.getJSON('/static/json/membership/constituencies.json',function(data){
  assembly_constituencies=data;

});

$(".top_div_button").click(function() {
   $('html,body').animate({
       scrollTop: $("#form_div").offset().top},
       'slow');
});


 $('input:radio[name=residence_confirm]').change(function() {
        if (this.value == 'no') {
            $("#form_step_1_div").css("display","none");
            $("#nri_content").css("display","block");
        }
        else  {
            $("#form_step_1_div").css("display","block");
            $("#nri_content").css("display","none");
        }
    });




$("#district").change(function()
  {
  $("#constituency-styled").val('');
  var district=$("#district").val();

  if (!district)
  {
    return false;
  };
 $.each(assembly_constituencies,function(i,val){

  if(district==i)
  {

    $('#constituency')
        .find('option')
        .remove()
        .end();
          var rows='';
        $.each(val, function (akey,avalue) {

        rows +="<option value='"+avalue.constituency_id+"'>"+avalue.constituency_name+"</option>"


          });
         $('#constituency').html(rows);
        select_field_updater('#constituency');



  }

 });



});


<!--amount buttons function-->

$('input:radio[name=remainder]').change(function()
{
   $(".remainder_cls").removeClass("yes-button");
    $(this).addClass("yes-button");

 });

$('input:radio[name=predefined-denomination-btn]').change(function()
{
  var min=1;
var max=500000;
   $(".predefined-denomination-cls").removeClass("yes-button");
    $(this).addClass("yes-button");
  var btn_id=$(this).val();
  var country=$("#country").val();
  if(country=="IN")
  {
    $("#passport_div").css("display","None");
    if (btn_id==1)
{

  min=10;
  max=1999;
  $("#pancard_div").css("display","None");
$("#email_form").css("display","none");
}
else if (btn_id==2)
{
  min=2000;
  max=49999;
$("#email_form").css("display","none");
  $("#pancard_div").css("display","block");

}
else{
  min=50000;
  max=500000;

  $("#email_form").css("display","block");
  $("#pancard_div").css("display","block");


}


  }
  else
  {
    $("#pancard_div").css("display","none");
    $("#passport_div").css("display","block");
  }



    $("#amount").attr({
   "max" : max,
   "min" : min
});
});
<!--  end of amount buttons functions-->
<!-- next and back button actions-->
$("#step_1_next").click(function()
{
 if(validate_step_1())
 {
$("#step1").css("display","none");
$("#step2").css("display","block");
}
else
{
return false;
}
});
<!-- ajax call to submit data to server -->
$("#step_2_next").click(function()
{
  if(validate_step_2())
  {
    var name=document.getElementById("name").value;
              var email=document.getElementById("email").value;
              var amount=document.getElementById("amount").value;
              var pancard=document.getElementById("pancard").value;
              var mobile=document.getElementById("mobile").value;
              var fathername=document.getElementById("fathername").value;

              var state=document.getElementById("state-styled").value;
              var address=document.getElementById("address").value;
              var country='india';
              var district='';
              var constituency='';
              var remainder_status=$('input:radio[name=remainder]:checked').val();
              if(state=='Andhra Pradesh' || state=='Telangana')
               {

                district=$("#district").val();

                constituency=$("#constituency").val();
              }
              data = {};
              data['csrf_token']='{{ csrf_token() }}';
              data['name'] = name;
              data['fathername'] = fathername;
              data['email'] = email;
              data['amount'] = amount;
              data['pancard'] = pancard;
              data['mobile']=mobile;
              data['country']=country;
              data['state']=state;
              data['address']=address;
             data['district']=district;
             data['constituency']=constituency;
             data['remainder']=remainder_status;

               $(".loader").css("display","block");
               $.ajax({
                   method:'POST',
                   url: "/jspdonations",
                   data:data,
                   success: function(response){
                       $(".loader").css("display","none");
                       console.log(response);
                       response = JSON.parse(response);
                            var payment_url=response['payment_url'];
                            console.log(payment_url);
                       Instamojo.open(payment_url);

                    },
                    errors:function(response){
                        console.log(response);
                    }

                });





              return true;


    }
    else
    {
    return false;
    }
});
<!-- end of ajax call -->

function validatepan(pannumber){
  var re= /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;
  return re.test(pannumber);
}
function validate_step_1()
{
$("p").remove(".validation");
var name=$("#name").val();
var fathername=$("#fathername").val();
var mobile=$("#mobile").val();
var email=$("#email").val();
var address=$("#address").val();
var country=$("#country-styled").val();
var district='';
var constituency='';
var state='';

console.log(country)


if(isEmpty(country))
{
  <!--$("#country-styled").css("border-bottom", "1px solid red");-->
$("#country-styled").parent().append("<p class='validation' style='color:red;'>This Field is required</p>");
$("#state-styled").focus();
return false;
}
else
{
  if(country=='INDIA')
  {
    state=$("#state-styled").val();
    console.log(state)
    if(isEmpty(state))
{
<!--$("#state-styled").css("border-bottom", "1px solid red");-->
$("#state-styled").parent().append("<p class='validation' style='color:red;'>This Field is required</p>");
$("#state-styled").focus();
return false;
}
if(state=='Andhra Pradesh' || state=='Telangana')
 {

  district=$("#district-styled").val();
  if(isEmpty(district))
  {
  <!--$("#district-styled").css("border-bottom", "1px solid red");-->
    $("#district-styled").parent().append("<p class='validation' style='color:red;'>This Field is required</p>");
    $("#district-styled").focus();
    return false;
  }
  constituency=$("#constituency-styled").val();

  if(isEmpty(constituency))
  {
      <!--$("#constituency-styled").css("border-bottom", "1px solid red");-->
      $("#constituency-styled").parent().append("<p class='validation' style='color:red;'>This Field is required</p>");
    $("#constituency-styled").focus();
    return false;
   }
 }
  }

}
if(isEmpty(name))
{
$("#name").css("border-bottom", "1px solid red");
<!--$("#name").parent().append("<p class='validation' style='color:red;'>This Field is Required</p>");-->
$("#name").focus();

return false;
}
if(isEmpty(fathername))
{
<!--$("#fathername").css("border-bottom", "1px solid red");-->
$("#fathername").parent().append("<p class='validation' style='color:red;'>This Field is Required</p>");
$("#fathername").focus();
return false;
}
if(!validateMobileNo(mobile))
{
<!--$("#mobile").css("border-bottom", "1px solid red");-->
$("#mobile").parent().append("<p class='validation' style='color:red;'>Invalid Mobile Number</p>");
$("#mobile").focus();
return false;
}

if(!validateEmail(email))
{
<!--$("#email").css("border-bottom", "1px solid red");-->
$("#email").parent().append("<p class='validation' style='color:red;'>Invalid Email</p>");
$("#email").focus();
return false;

}


if(isEmpty(address))
{
<!--$("#address").css("border-bottom", "1px solid red");-->
$("#address").parent().append("<p class='validation' style='color:red;'>This Field is required</p>");
$("#address").focus();
return false;
}

return true;
}

function validate_step_2()
{
$("p").remove(".validation");
var amount=$("#amount").val();
var amount_range=$('input:radio[name=predefined-denomination-btn]:checked').val();
console.log(amount_range);
if(amount_range==1)
{
if(amount<10 || amount>2000)
{
  <!--$("#amount").css("border-bottom", "1px solid red");-->
   $("#amount").focus();
   $("#amount").parent().append("<p class='validation' style='color:red;'>amount should be between 10 and 2000</p>");


  return false;
}
}
else if(amount_range==2)
{
if(amount<2000 || amount>50000)
{
  <!--$("#amount").css("border-bottom", "1px solid red");-->
   $("#amount").focus();
    $("#amount").parent().append("<p class='validation' style='color:red;'>amount should be between 2000 and 50000</p>");


  return false;
}
var pancard=$("#pancard").val();
if(!validatepan(pancard))
{
 $("#pancard").css("border-bottom", "1px solid red");
  $("#pancard").focus();
  $("#pancard").parent().append("<p class='validation' style='color:red;'>invalid pancard. Please Check</p>");

  return false;
  }
}
else
{
if(amount<50000 || amount>500000)
{
  <!--$("#amount").css("border-bottom", "1px solid red");-->
   $("#amount").parent().append("<p class='validation' style='color:red;'>amount should be between 50000 and 500000</p>");

  return false;
}
var pancard=$("#pancard").val();
if(!validatepan(pancard))
{
 <!--$("#pancard").css("border-bottom", "1px solid red");-->
  $("#pancard").focus();
  $("#pancard").parent().append("<p class='validation' style='color:red;'>invalid pancard. Please Check</p>");
  return false;
  }
}

if(!$("#desclaimer").is(':checked'))
{
<!--$("#desclaimer").css("border-bottom", "1px solid red");-->
  $("#desclaimer").focus();
  $("#desclaimer").parent().append("<p class='validation' style='color:red;'>Please confirm the Desclaimer</p>");
return false;
}
 var captcha_response = grecaptcha.getResponse();
          if(captcha_response.length == 0)
          {
              // Captcha is not Passed
              alert('Please verify google captcha')
              return false;
          }
return true;

}
$("#step_2_back").click(function()
{
$("#step1").css("display","block");
$("#step2").css("display","none");

})
function isEmpty(val){
    return (val === undefined || val == null || val.length <= 0) ? true : false;
}
<!-- end of back and next button actions-->
update_districts=function(state_id)
{
 var districts_data=districts[state_id]
$("#district-styled").val('');
$("#constituency-styled").val('');

    $('#districts')
        .find('option')
        .remove()
        .end();

        $('#constituency')
        .find('option')
        .remove()
        .end();
        var rows='';
        $.each(districts_data, function (i,val) {

        rows +="<option value='"+val.id+"'>"+val.district_name+"</option>"


          });
         $('#district').html(rows);
        select_field_updater('#district');
        $('.districts_div').css("display","block");
}

});
 <!--end of document ready function-->
   function countrychange(event)
{

  var country=event.value;

  if(country=='IN')
  {
$("#passport_div").css("display","none");
     $('.states_div').css("display","block");

    }
  else
  {
    $("#pancard_div").css("display","none");
    $("#passport_div").css("display","block");
    $('.states_div').css("display","none");
  }
  select_field_updater("#country");

};
  function statechange(event)
{

  var state=event.value;


  if(state=='Andhra Pradesh' || state=='Telangana')
  {
      var state_id=1;
      if (state=='Andhra Pradesh')
      {
      state_id='1';
      }
      else
      {
      state_id='2';
      }
      update_districts(state_id);

    }
  else
  {
    $('.districts_div').css("display","none");
  }

};





  (function ($) {
    $.fn.floatLabels = function (options) {

        // Settings
        var self = this;
        var settings = $.extend({}, options);


        // Event Handlers
        function registerEventHandlers() {
            // self.on('input keyup change focus', 'input, textarea', function () {
            //     actions.swapLabels(this);
            // });
            self.on('focusin', 'input, textarea', function () {
                actions.addFocus(this);
            });

            self.on('focusout', 'input, textarea', function () {
                actions.removeFocus(this);
            });

            self.on('mousedown', '.select-dropdown li a', function(){

                actions.selectValue(this);
            });

            self.on('keyup', 'select + input', function(){
                actions.dropdownFilter(this);

            });

        }


        // Actions
        actions = {
            initialize: function() {
                self.each(function () {
                    var $this = $(this);
                    var $label = $this.children('label');
                    var $field = $this.find('input,textarea').first();

                    if ($this.children().first().is('label')) {
                        $this.children().first().remove();
                        $this.append($label);
                    }

                    var placeholderText = ($field.attr('placeholder') && $field.attr('placeholder') != $label.text()) ? $field.attr('placeholder') : $label.text();

                    $label.data('placeholder-text', placeholderText);
                    $label.data('original-text', $label.text());

                    if ($field.val() == '') {
                        $field.addClass('empty')
                    }
                });
            },

            changeSelectFields: function () {
                self.each(function () {
                    var $this = $(this);

                    var $selectFields = $this.find('select');

                    if ($selectFields.length){
                        $selectFields.hide();
                        $selectedFieldID = $selectFields.attr('id');
                        $selectFields.after('<input type="text" class="form-control replaced-select-field" id="'+$selectedFieldID+'-styled">');
                        $options = $selectFields.find('option');
                        $styledElements = Array();
                        $options.each(function($i, $option){
                            $icon = $option.getAttribute('data-icon');
                            $icon = ($icon) ? '<i class="'+ $icon +'"></i> '  : '';
                            $html = '<li>'+
                                        '<a href="#" data-option="'+$option.value+'">'+
                                            $icon + $option.text
                                        '</a>'+
                                    '</li> '
                            $styledElements.push($html);
                        });
                        $styledElements ='<ul class="dropdown-menu select-dropdown" id="'+$selectedFieldID+'-dropdown">' + $styledElements.join(' ') + '</ul>' ;
                        $this.append($styledElements)
                    }

                });
            },

            selectValue: function(dropdown_elemet){

                $dropdown_elemet = $(dropdown_elemet);

                $relatedSelectFiled = $dropdown_elemet.parents('.select-dropdown').siblings('select');

                $relatedInputFiled = $dropdown_elemet.parents('.select-dropdown').siblings('input');

                $relatedSelectFiled.val($dropdown_elemet.data('option'));

                $relatedInputFiled.val($.trim($dropdown_elemet.text()));
                  $relatedSelectFiled.change();
            },

            dropdownFilter: function(inputField){
                $inputField = $(inputField);

                $relatedDDField  = $inputField.siblings('.select-dropdown');
                $options = $relatedDDField.find('a');
                $options.each(function(i, option){
                    $option = $(option);
                    if($.trim($option.text().toLowerCase()).search($.trim($inputField.val()).toLowerCase()) === -1){
                        $option.addClass('hide');
                    }else{
                        $option.removeClass('hide');
                    }
                });
            },

            swapLabels: function (field) {
                var $field = $(field);
                var $label = $(field).siblings('label').first();
                var isEmpty = Boolean($field.val());
                if (isEmpty) {
                    $field.removeClass('empty');
                    $label.text($label.data('original-text'));
                }
                else {
                    $field.addClass('empty');
                    $label.text($label.data('placeholder-text'));
                }
            },

            addFocus: function (field) {
                var $field = $(field);
                var $label = $(field).siblings('label').first();
                // var isEmpty = Boolean($field.val());
                $field.removeClass('empty');
                $label.text($label.data('original-text'));
                if($field.hasClass('replaced-select-field')){
                    $field.siblings('ul.select-dropdown').addClass('show');
                }
            },

            removeFocus: function (field) {
                var $field = $(field);
                var $label = $(field).siblings('label').first();
                var isEmpty = Boolean($field.val());
                if(isEmpty){
                    $field.removeClass('empty');
                    $label.text($label.data('placeholder-text'));
                }else{
                     $field.addClass('empty');
                    $label.text($label.data('original-text'));
                }
                if($field.hasClass('replaced-select-field')){
                    $field.siblings('ul.select-dropdown').removeClass('show');
                }
            }
        };


        // Initialization
        function init() {
            registerEventHandlers();

            actions.initialize();
            actions.changeSelectFields();
            self.each(function () {
                actions.swapLabels($(this).find('input,textarea').first());
            });
        }
        init();

        return this;
    };
})(jQuery);

$(function () {
    $('.float-label-control').floatLabels();
});
  </script>
  <script>
var payment_url="{{payment_url}}";
  Instamojo.open(payment_url);
</script>

</body>
</html>