<!DOCTYPE html>
<html lang="en" class="cover">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>JanaSena Donations</title>


  <link rel="icon" type="image/png" href="static/img/favicon.png">
<link href="static/donations/css/bootstrap.min.css" rel="stylesheet">
<link href="static/donations/css/custom2.css" rel="stylesheet">
<link href="static/donations/css/mediaqueries1.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<link href="static/donations/css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="/static/assets/css/sweetalert.css">

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>
<body>
 
<div class="content_wrapper">
  <div class="cover_container">
    <div class="cover_inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4"> </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="share">
              <div class="socialshare">
                <ul>
                  <li><a href="https://janasenaparty.org"><i class="fas fa-home"></i> <span class="hidden-xs">Go to JanaSena Home Page</span></a></li>
                  <li>Follow Us On </li>
                  <li class="badge"><a href="https://www.facebook.com/janasenaparty/" target="_blank"><i class="fab fa-facebook-f" ></i></a></li>
                  <li class="badge"><a href="https://twitter.com/Janasenaparty?lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li class="badge"><a href="https://www.instagram.com/Janasenaparty" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li class="badge"><a href="https://www.youtube.com/Janasenaparty" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="dontation clearfix">
             <div class="header clearfix">
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                  <div class="logo"><img src="static/donations/images/logo.png" width="210" height="68" alt=""/> </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 hidden-xs">
                  <div class="title "><span class="animated tada pull-right tax"><img src="static/img/img_tax.png" width="60" height="60" alt=""/></span>
Donations</div>
                </div>
                {% include 'loader.html' %}
                {% include 'donations/options.html' %}
                <div class="btn_donate col-xs-12 col-sm-6 col-sm-push-3 hidden-sm hidden-md hidden-lg">
                  <button  class=" btn btn_primary btn-lg btn-block top_div_button">Donate<span class="animated tada pull-right tax"><img src="static/img/img_tax.png" width="60" height="60" alt=""/></span>
</button>
                </div>
              </div>
              <div class="content clearfix">
                <h1 class="maintitle"> అందరి అభివృద్ధి కోసం, సామాజిక సమతుల్యం కోసం పోరాడే జనసేన పార్టీకి <br>
                  <span>నా వంతు సహకారం</span></h1>

     
      
      <div class="col-xs-12 form_content" id="form_div">

        <div class="row" id="step1">
        
            <div class="col-xs-12" id="residence_confirm_div">
              <div class="form-group">
                <h2>Are you an Indian Citizen Residing in India?</h2>
                <input class="hidden radio-label yes-button" type="radio" name="residence_confirm" value="yes" id="yes-button" checked="checked"/>
                <label class="button-label" for="yes-button">
                <h1>Yes</h1>
                </label>
                <input class="hidden radio-label no-button" type="radio" name="residence_confirm" value="no" id="no-button"/>
                <label class="button-label" for="no-button">
                <h1>No</h1>
                </label>
              </div>
            
              </div>
          <div class="row" id="form_step_1_div">
            {% include 'donations/ind_step1_form.html' %}
           </div>
            
         
        </div>
      </div>

      <div class="row form_content" id="step2" style="display:none">

         {% include 'donations/ind_step2.html' %}

  </div>
     <div class="row form_content" id="recurring_step2" style="display:none">

         {% include 'donations/recurring_step_2.html' %}

  </div>
 
 
      
  
          
      <div class="links clearfix" style="padding-top:10px !important">
      <ul>
        <li class="col-xs-6 text-center"><a href="#" data-toggle="modal" data-target="#options_modal">Donation Options</a></li>
        <li class="col-xs-6 text-center"><a href="#" data-toggle="modal" data-target="#donationfaq">Donation FAQ's</a></li>
      </ul>
      </div>
    </div>  
  </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
<a href="" id="instamojo" style="display:none">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="/static/js/captcha1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="static/donations/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>
<script src="/static/assets/js/intlTelInput.min.js"></script>

<script src="https://js.instamojo.com/v1/checkout.js"></script>
<script>


const intlPhoneNumber = function(countryCode) {
  // get the country data from the plugin
  const countryData = $.fn.intlTelInput.getCountryData();
  const telInput = $("#nri_mobile");
  const telInputLabel = telInput.parents(".form-group").find("label");
  const countryDropdown = $("#country");
  const phonePrefix = $('#nri_mobile');
  const fullPhoneNumber = $('#phone-number-full');
  const errorMsg = $("#error-msg");
  const initCountry = countryCode || 'us';
   let pattern = '';
    pattern = new RegExp("[0-9]", "g");
  
  
   
  const reset = function() {
    
    // telInput.removeClass("has-error");
    telInputLabel.removeClass("has-error");
    errorMsg.addClass("hidden-xs-up");
  };

  // populate the country dropdown with intl-tel-input countries data
 
  $.each(countryData, function(i, country) {
//    console.log(country.name)

    var country_name=(country.name).split("(",1)
//    console.log(country_name)  

    countryDropdown.append($("<option></option>").attr("value", country.iso2).text(country_name[0]));
  });

  // init plugin for formatting placeholders
  telInput.intlTelInput({
    allowDropdown: false,
    initialCountry: initCountry,
    utilsScript: "/static/assets/js/utils.js"
  });
  
    // set dropdowns initial value
  const initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;
  let dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
  
  countryDropdown.val(initialCountry);
  // phonePrefix.text("+" + dialCode);
    // phonePrefix.val("+" + dialCode);

  // init format
  // telInput.formatter({
  //   'pattern': pattern
  // });  
  
  // // delete intl-tel-input items that aren't needed
  $('.flag-container').remove();
  $('.intl-tel-input').replaceWith(function() {
    return $('#nri_mobile', this);
  });

  // set placeholder
 

  // on blur: validate
  telInput.blur(function() {
    // reset states
    reset();

    if ($.trim(telInput.val())) {
      // if number is not valid
      if (telInput.intlTelInput("isValidNumber")) {
        // set hidden input to dial code + inputted number
        fullPhoneNumber.val(telInput.intlTelInput("getSelectedCountryData").dialCode + telInput.val());
      } else {
        // set error states
        // telInput.addClass("has-error");
        // telInputLabel.addClass("has-error");
        errorMsg.removeClass("hidden-xs-up");
        //clear hidden input val
        fullPhoneNumber.val("");
      }
    }
  });

  // on keyup / change flag: reset
  telInput.on("keyup change", reset);

  // listen to the country dropdown for changes.
  // updates placeholder and prefix when changed
  countryDropdown.change(function() {
    // Update Placeholder via plugin - so we can get the example number + format
    
    telInput.intlTelInput("setCountry", $(this).val());
    // Update Dial Code Prefix
    dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
    // phonePrefix.text("+" + dialCode);
    phonePrefix.val("+" + dialCode);
    phonePrefix.removeClass("empty")
   
   
    
  });


}


intlPhoneNumber();


var select_field_updater = function(placeholder){
  var $sf = $(placeholder);
  var $ulup = $(placeholder+'-dropdown');


  var $opt = $sf.find('option');
  var rows = [];
  $opt.each(function($i, $opt){
                            var $ic = $opt.getAttribute('data-icon');
                            $ic = ($ic) ? '<i class="'+ $ic +'"></i> '  : '';
                            var $ht = '<li>'+
                                        '<a href="#" data-option="'+$opt.value+'">'+
                                            $ic + $opt.text
                                        '</a>'+
                                    '</li> '
                            rows.push($ht);
                        });

  $ulup.html(rows)

}
 function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}
function validatepan(pannumber){
  var re= /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;
  return re.test(pannumber);
}

$( "#amount" ).keyup(function() {
$("p").remove(".validation");
var amount_range=$('input:radio[name=predefined-denomination-btn]:checked').val();
var min;
var max;
if(amount_range==1)
{

min=10;
max=1999;
}
else if(amount_range==2)
{
min=2000;
max=19999;
}
else
{
min=20000;
max=500000;
}

if($('#amount').val()>=50000)
{
  $("#above_50k").css("display","block");
}
else
{
   $("#above_50k").css("display","none");
}

if($('#amount').val()>500000)
{
  $("#five_lakhs_above_div").css("display","block");
}
else
{
   $("#five_lakhs_above_div").css("display","none");
}

  if($('#amount').val()<min || $('#amount').val()>max ){
$("#amount").parent().append("<p class='validation' style='color:red;'>amount should be between "+min+" and "+max+"</p>");
  }
  else{
$("#amount").parent().remove(".validation");
  }
  });
$( "#amount1" ).keyup(function() {
$("p").remove(".validation");
var amount_range=$('input:radio[name=recurring-denomination-btn]:checked').val();
var min;
var max;
if(amount_range=="r1")
{

min=10;
max=1999;
}
else if(amount_range=="r2")
{
min=2000;
max=19999;
}
else
{
min=20000;
max=500000;
}
if($('#amount1').val()>500000)
{
  $("#recurring_five_lakhs_above_div").css("display","block");
}
else
{
   $("#recurring_five_lakhs_above_div").css("display","none");
}

if($('#amount1').val()>=50000)
{
  $("#rec_above_50k").css("display","block");
}
else
{
   $("#rec_above_50k").css("display","none");
}



  if($('#amount1').val()<min || $('#amount1').val()>max ){
$("#amount1").parent().append("<p class='validation' style='color:red;'>amount should be between "+min+" and "+max+"</p>");
  }
  else{
$("#amount1").parent().remove(".validation");
  }
  });

$( "#nri_amount" ).keyup(function() {
$("p").remove(".validation");
var amount_range=$('input:radio[name=nri_predefined]:checked').val();
var min;
var max;
if(amount_range==1)
{

min=10;
max=1999;
}
else if(amount_range==2)
{
min=2000;
max=19999;
}
else
{
min=20000;
max=500000;
}

if($('#nri_amount').val()>=50000)
{
  $("#nri_above_50k").css("display","block");
}
else
{
   $("#nri_above_50k").css("display","none");
}

  if($('#nri_amount').val()<min || $('#nri_amount').val()>max ){
$("#nri_amount").parent().append("<p class='validation' style='color:red;'>amount should be between "+min+" and "+max+"</p>");
  }
  else{
$("#nri_amount").parent().remove(".validation");
  }
  });


$("#next_instruction").click(function(){
  $("#nri_step1_form").css('display','block');
  $("#instructions").css('display','none');

})

$("#previous").click(function(){
  $("#instructions").css('display','block')
  $("#nri_step1_form").css('display','none')
})



function isalphabet (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /^[a-zA-z\b\s]+$/;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }

  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /^[0-9\b]+$/;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }
  function validateMobileNo()
{
  var regex = /^[6-9]{1}[0-9]{9}$/g;
  var mobile_num=$("#mobile").val();
  var length=mobile_num.length;
  if(length==10){
    if(regex.test(mobile_num))
    {

      return true;
    }
    else
    {

      return false;
    }


}
else
{


 return false;

}

  }

var districts;
var assembly_constituencies;
var data;
var update_districts;
var actions;
<!--start of document ready function-->
$(document).ready(function()
{
$('[data-toggle="tooltip"]').tooltip();   

$.getJSON('/static/json/membership/districts.json',function(data){
  districts=data;

});
$.getJSON('/static/json/membership/constituencies.json',function(data){
  assembly_constituencies=data;

});

$(".top_div_button").click(function() {
   $('html,body').animate({
       scrollTop: $("#form_div").offset().top},
       'slow');
});


 $('input:radio[name=residence_confirm]').change(function() {
        if (this.value == 'no') {

            window.location.href="/nri_donations";
        }
        else  {
            $("#form_step_1_div").css("display","block");
            $("#nri_content").css("display","none");
        }
    });

// var country=$('select[name="country"] option:selected').text();
    
//     $("#country").val(country);
      
//   $("#country").change(function()
//   {

//        var country=$('select[name="country"] option:selected').text();
    
//     $("#country").val(country);
  
//   })



$("#district").change(function()
  {
  $("#constituency-styled").val('');
  var district=$("#district").val();

  if (!district)
  {
    return false;
  };
 $.each(assembly_constituencies,function(i,val){

  if(district==i)
  {

    $('#constituency')
        .find('option')
        .remove()
        .end();
          var rows='';
        $.each(val, function (akey,avalue) {

        rows +="<option value='"+avalue.constituency_id+"'>"+avalue.constituency_name+"</option>"


          });
         $('#constituency').html(rows);
        select_field_updater('#constituency');



  }

 });



});


<!--amount buttons function-->

$('input:radio[name=remainder]').change(function()
{
   $(".remainder_cls").removeClass("yes-button");
    $(this).addClass("yes-button");

 });
$('input:radio[name=nri_remainder]').change(function()
{
   $(".remainder_cls").removeClass("yes-button");
    $(this).addClass("yes-button");

 });
$('input:radio[name=payment_option]').change(function()

{
  $(".payment_option-cls").removeClass("yes-button");
    $(this).addClass("yes-button");
    if($(this).val()=='ind')
    {
       $("#nri_step2_foreign_amount").css("display","none")
      $("#nri_step2_ind_amount").css("display","block")

    }
    else
    {
      $("#nri_step2_ind_amount").css("display","none")
$("#nri_step2_foreign_amount").css("display","block")

    }
});


$('input:radio[name=predefined-denomination-btn]').change(function()
{
  console.log("hello")
  $(".validation").remove();
   $(".predefined-denomination-cls").removeClass("yes-button");
    $(this).addClass("yes-button");
    console.log($(this))
  var btn_id=$(this).val();
console.log(btn_id);
var min=1;
var max=500000;
if (btn_id==1)
{

  min=10;
  max=1999;
  $("#recurring_pancard_div").css("display","None");
  $("#pancard_div").css("display","None");
$("#email_form").css("display","none");
}
else if (btn_id==2)
{
  min=2000;
  max=19999;
  $("#recurring_pancard_div").css("display","None");
$("#email_form").css("display","none");
  $("#pancard_div").css("display","block");

}
else if(btn_id==3){
  min=20000;
  max=500000;
$("#recurring_pancard_div").css("display","None");
  $("#email_form").css("display","block");
  $("#pancard_div").css("display","block");




}

    $("#amount").attr({
   "max" : max,
   "min" : min
});
    
});

$('input:radio[name=recurring-denomination-btn]').change(function()
{
  $(".validation").remove();
   $(".recurring-denomination-cls").removeClass("yes-button");
    $(this).addClass("yes-button");
    console.log($(this))
  var btn_id=$(this).val();
console.log(btn_id);

var min=1;
var max=500000;

if (btn_id=="r1")
{
  min=10;
  max=1999;
$("#pancard_div").css("display","None");
$("#email_form").css("display","none");
$("#recurring_pancard_div").css("display","None");
}
else if (btn_id=="r2")
{
  min=2000;
  max=19999;
$("#email_form").css("display","none");
  $("#pancard_div").css("display","none");
  $("#recurring_pancard_div").css("display","block");

}
else{
  min=20000;
  max=500000;

  
  $("#pancard_div").css("display","none");
  $("#recurring_pancard_div").css("display","block");
  $("#email_form").css("display","block");




}

$("#amount1").attr({
   "max" : max,
   "min" : min
});
    
});



$('input:radio[name=nri_predefined]').change(function()
{
  $("#nri_amount").parent().remove(".validation");
  console.log("hellooo");
   $(".nri_predefined-denomination-cls").removeClass("yes-button");
    $(this).addClass("yes-button");
  var btn_id=$(this).val();
console.log(btn_id)
var min=1;
var max=500000;
if (btn_id==1)
{

  min=10;
  max=1999;
  $("#nri_pancard_div").css("display","None");
$("#nri_email_form").css("display","none");
}
else if (btn_id==2)
{
  min=2000;
  max=19999;
$("#nri_email_form").css("display","none");
  $("#nri_pancard_div").css("display","block");

}
else{
  min=20000;
  max=500000;

  $("#nri_email_form").css("display","block");
  $("#nri_pancard_div").css("display","block");


}
    $("#nri_amount").attr({
   "max" : max,
   "min" : min
});
});


<!--  end of amount buttons functions-->
<!-- next and back button actions-->
$("#step_1_next").click(function()
{
 if(validate_step_1())
 {
 $('html,body').animate({
       scrollTop: $("#form_div").offset().top},
       'slow');
$("#step1").css("display","none");
$("#nri_step2").css("display","none");
$("#recurring_step2").css("display","none");

$("#step2").css("display","block");

}
else
{
return false;
}
});
$('#step_1_next1').click(function(){
   if(validate_step_1())
 {
 $('html,body').animate({
       scrollTop: $("#form_div").offset().top},
       'slow');
$("#step1").css("display","none");
$("#nri_step2").css("display","none");

$("#step2").css("display","none");
$("#recurring_step2").css("display","block");

}
else
{
return false
}
})

$("#nri_step_1_next").click(function()
{
  console.log("hello")
 if(validate_nri_step_1())
 {
 $('html,body').animate({
       scrollTop: $("#form_div").offset().top},
       'slow');
$("#step1").css("display","none");
$("#step2").css("display","none");
$("#nri_step2").css("display","block");

}
else
{
return false;
}
});
<!-- ajax call to submit data to server -->

$("#step_2_next").click(function()
{
  if(validate_step_2())
  {
            var name=document.getElementById("name").value;
              var last_name=document.getElementById("last_name").value;
              var email=document.getElementById("email").value;
              var amount=document.getElementById("amount").value;
              var pancard=document.getElementById("pancard").value;
              var mobile=document.getElementById("mobile").value;
              var fathername=document.getElementById("fathername").value;

              var state=document.getElementById("state-styled").value;
              var address=document.getElementById("address").value;
              var country='india';
              var district='';
              var constituency='';
              var remainder_status=$('input:radio[name=remainder]:checked').val();
              if(state=='Andhra Pradesh' || state=='Telangana')
               {

                district=$("#district").val();

                constituency=$("#constituency").val();
              }
              data = {};
              data['csrf_token']='{{ csrf_token() }}';
              data['name'] = name;
              data['fathername'] = fathername;
              data['last_name'] = last_name;
              data['email'] = email;
              data['amount'] = amount;
              data['pancard'] = pancard;
              data['mobile']=mobile;
              data['country']=country;
              data['state']=state;
              data['address']=address;
             data['district']=district;
             data['constituency']=constituency;
             data['remainder']=remainder_status;
              
               $(".loader").css("display","block");
               $.ajax({
                   method:'POST',
                   url: "/donations",
                   data:data,
                   success: function(response){
                       $(".loader").css("display","none");
                      
                        response = JSON.parse(response);
                        console.log(response)
                      if(response.status==1)
                      {
                       
                     
                          var payment_url=response['payment_url'];
                            
                          Instamojo.open(payment_url);
                      
                    }
                      else
                      {
                        
                         $(".loader").css("display","none");
                         alert(response.errors[0])
                      }
                      

                       

                    },
                    errors:function(response){
                      alert("something wrong")
                      $(".loader").css("display","none");
                        
                    }

                });





              return true;


    }
    else
    {
    return false;
    }
});
<!-- end of indian rupees ajax call -->
$("#step_2_next1").click(function()
{
  if(validate_recurring_step_2())
  {
    console.log("VALIDATION COMPLETED")
            var name=document.getElementById("name").value;
              var last_name=document.getElementById("last_name").value;
              var email=document.getElementById("email").value;
              var amount=document.getElementById("amount1").value;
              var pancard=document.getElementById("recurring_pancard").value;
              var mobile=document.getElementById("mobile").value;
              var fathername=document.getElementById("fathername").value;

              var state=document.getElementById("state-styled").value;
              var address=document.getElementById("address").value;
              var country='india';
              var interval=1;
              var period = $('input:radio[name=billing-frequency-btn]:checked').val();

              var district='';
              var constituency='';
             
              if(state=='Andhra Pradesh' || state=='Telangana')
               {

                district=$("#district").val();

                constituency=$("#constituency").val();
              }
              data = {};
              data['csrf_token']='{{ csrf_token() }}';
              data['name'] = name;
              data['fathername'] = fathername;
              data['last_name'] = last_name;
              data['email'] = email;
              data['amount'] = amount;
              data['pancard'] = pancard;
              data['mobile']=mobile;
              data['country']=country;
              data['state']=state;
              data['address']=address;
             data['district']=district;
             data['constituency']=constituency;
            data['interval']=interval;
             data['period'] =period;
             console.log(data)
               $(".loader").css("display","block");
               $.ajax({
                   method:'POST',
                   url: "/recurring_donation",
                   data:data,
                   success: function(response){
                       $(".loader").css("display","none");
                      
                        response = JSON.parse(response);
                        console.log(response)
                      if(response.status==1)
                      {
                       
                     
                         var data=response.data;
                         var options = {
                          subscription_id:data.subscription_id,
                          subscription_card_change:0,
                          key: data.razor_pay_key,
                          amount: data.amount,
                          name: data.plan_name,
                          description:data.plan_description,
                          contact:data.customer_phone,
                          email:data.customer_email,
                          description: 'JanaSena Donations',
                          image: "https://janasenaparty.org/static/img/logo.png",
                           handler: function (response){
   
     
                            window.location="/activate_recurring_donations?subscription_id="+response.razorpay_subscription_id+"&payment_id="+response.razorpay_payment_id+"&signature="+response.razorpay_signature
                            },
                          prefill: {
                                "name": data.customer_name,
                                "email": data.customer_email,
                                "contact":data.customer_phone,
                                    },
                           notes: {
                          "note_key": "JANASENA PARTY DONATIONS",
                            },
                          theme: {
                                "color": "#d81615"
                            }

                        }
                        window.r = new Razorpay(options);

                      r.open()
                      } 
                    
                      
                    
                      else
                      {
                        
                         $(".loader").css("display","none");
                         alert(response.errors[0])
                      }
                      

                       

                    },
                    errors:function(response){
                      alert("something wrong")
                      $(".loader").css("display","none");
                        
                    }

                });





              return true;


    }
    else
    {
    return false;
    }
});
// end of recurring payments ajax call
$("#nri_step_2_next").click(function()
{
    var payment_option=$('input:radio[name=payment_option]:checked').val();
  if (payment_option=='ind')
  {
    
      if(validate_nri_step_2())
      {
            
            var name=document.getElementById("nri_name").value;
              var last_name=document.getElementById("nri_last_name").value;
              var email=document.getElementById("nri_email").value;
               var passport=document.getElementById("passport").value;
              var mobile=document.getElementById("nri_mobile").value;
              mobile=mobile.replace("+","");
              var nri_address=document.getElementById("nri_address").value;
               var country=document.getElementById("country-styled").value;
             var passport_file='';
              var visa_file='';
             
              
              var remainder_status=$('input:radio[name=nri_remainder]:checked').val();
              var amount=document.getElementById("nri_amount").value;
              var pancard=document.getElementById("nri_pancard").value;
          console.log(payment_option,name,last_name,country,mobile,passport,country,remainder_status,amount,pancard)

         $(".loader").css("display","block");
          fd = new FormData();
          var csrf_value='{{ csrf_token() }}';
           fd.append( 'csrf_token',  csrf_value);
            fd.append( 'payment_option', payment_option );
          fd.append( 'name', name );
          fd.append( 'last_name', last_name );
          fd.append( 'remainder_status', remainder_status );
          fd.append( 'email', email );
          fd.append( 'passport', passport );
          fd.append( 'mobile', mobile );
          fd.append( 'nri_address', nri_address );
          fd.append( 'country', country );
          fd.append( 'amount', amount );
          fd.append( 'pancard', pancard );
           
          
          fd.append( 'passport_file', $("#scan_copy_1")[0].files[0] );
          // fd.append( 'visa_file', $("#scan_copy_2")[0].files[0] );
               $.ajax({
                   method:'POST',
                   url: "/nri_donations",
                   data:fd,
                    processData: false,
                    contentType: false,
                   success: function(response){
                       $(".loader").css("display","none");
                      
                        response = JSON.parse(response);
                        console.log(response)
                      if(response.status==1)
                      {
                       
                     
                          var payment_url=response['payment_url'];
                            
                          Instamojo.open(payment_url);
                      
                    }
                      else
                      {
                        
                         $(".loader").css("display","none");
                         alert(response.errors[0])
                      }
                      


                    },
                    errors:function(response){
                      alert("something wrong. please try again ")
                      $(".loader").css("display","none");
                        
                    }

                });




      }
      else
      {
     
       
        return false;
      }

  }
  else
  {
              $(".loader").css("display","block");
            var name=document.getElementById("nri_name").value;
              var last_name=document.getElementById("nri_last_name").value;
              var email=document.getElementById("nri_email").value;
              var passport=document.getElementById("passport").value;
              var mobile=document.getElementById("nri_mobile").value;
              mobile=mobile.replace("+","");
              var nri_address=document.getElementById("nri_address").value;
               var country=document.getElementById("country-styled").value;
            

              fd = new FormData();
          var csrf_value='{{ csrf_token() }}';
           fd.append( 'csrf_token',  csrf_value);
            fd.append( 'payment_option', payment_option );
          fd.append( 'name', name );
          fd.append( 'last_name', last_name );
         
          fd.append( 'email', email );
          fd.append( 'passport', passport );
          fd.append( 'mobile', mobile );
          fd.append( 'nri_address', nri_address );
          fd.append( 'country', country );
          
          fd.append( 'pancard', pancard );
          
          
          fd.append( 'passport_file', $("#scan_copy_1")[0].files[0] );
          // fd.append( 'visa_file', $("#scan_copy_2")[0].files[0] );
               $.ajax({
                   method:'POST',
                   url: "/nri_donations",
                   data:fd,
                    processData: false,
                    contentType: false,
                   success: function(response){
                       $(".loader").css("display","none");
                      
                        response = JSON.parse(response);

                        console.log(response)
                      if(response.status==1)
                      {

                        $("#nri_donor_name").html(name)
                        $("#nri_donor_reference_id").html(response.transaction_id)
                        
                      
                        $("#nri_step2").css("display","none");
                        $("#nri_step3").css("display","block");


              //           swal({
              //   title: "we have been sent an email with Reference ID and Bank Details. ",
              //   text:"please check and complete the process" ,
              //   type: "success",
                
              //   confirmButtonText: "OK",
              //   closeOnConfirm: true
              // },
              // function(){
              
              //   window.location.reload()
              // });
                        
                        
                      
                    }
                      else
                      {
                        
                         $(".loader").css("display","none");
                         alert(response.errors[0])
                      }
                      


                    },
                    errors:function(response){
                      alert("something wrong")
                      $(".loader").css("display","none");
                        
                    }

                });




  }
   

})
<!-- end of NRI ajax call -->
function validate_step_1()
{
$("p").remove(".validation");
var name=$("#name").val();
var fathername=$("#fathername").val();
var mobile=$("#mobile").val();
var email=$("#email").val();
var address=$("#address").val();
var state=$("#state-styled").val();
var district='';
var constituency='';
var last_name=$("#last_name").val();


function validatepan(pannumber){
  var re= /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;
  return re.test(pannumber);
}
if(isEmpty(name))
{
$("#name").css("border-bottom", "1px solid red");
<!--$("#name").parent().append("<p class='validation' style='color:red;'>This Field is Required</p>");-->
$("#name").focus();

return false;
}

if(isEmpty(last_name))
{
$("#last_name").css("border-bottom", "1px solid red");
<!--$("#last_name").parent().append("<p class='validation' style='color:red;'>This Field is Required</p>");-->
$("#last_name").focus();

return false;
}
if(isEmpty(fathername))
{
<!--$("#fathername").css("border-bottom", "1px solid red");-->
$("#fathername").parent().append("<p class='validation' style='color:red;'>This Field is Required</p>");
$("#fathername").focus();
return false;
}
if(!validateMobileNo(mobile))
{
<!--$("#mobile").css("border-bottom", "1px solid red");-->
$("#mobile").parent().append("<p class='validation' style='color:red;'>Invalid Mobile Number</p>");
$("#mobile").focus();
return false;
}

if(!validateEmail(email))
{
<!--$("#email").css("border-bottom", "1px solid red");-->
$("#email").parent().append("<p class='validation' style='color:red;'>Invalid Email</p>");
$("#email").focus();
return false;

}
if(isEmpty(state))
{
<!--$("#state").css("border-bottom", "1px solid red");-->
$("#state").parent().append("<p class='validation' style='color:red;'>This Field is required</p>");
$("#state").focus();
return false;
}


if(isEmpty(address))
{
<!--$("#address").css("border-bottom", "1px solid red");-->
$("#address").parent().append("<p class='validation' style='color:red;'>This Field is required</p>");
$("#address").focus();
return false;
}

return true;
}
function validatepassport(passport_number){
  var re= /^([a-zA-Z]){1,2}([0-9]){7}?$/;
  return re.test(passport_number);
}
function validate_nri_step_1()
{
$("p").remove(".validation");
var name=$("#nri_name").val();
var nri_address=$("#nri_address").val();
var mobile=$("#nri_mobile").val();
var email=$("#nri_email").val();

var country=$("#country-styled").val();

var last_name=$("#nri_last_name").val();
var passport_number=$("#passport").val()

console.log(name,mobile,email,country,last_name,passport_number)
if(isEmpty(name))
{
$("#nri_name").css("border-bottom", "1px solid red");
<!--$("#nri_name").parent().append("<p class='validation' style='color:red;'>This Field is Required</p>");-->
$("#nri_name").focus();

return false;
}

if(isEmpty(last_name))
{
$("#nri_last_name").css("border-bottom", "1px solid red");
<!--$("#nri_last_name").parent().append("<p class='validation' style='color:red;'>This Field is Required</p>");-->
$("#nri_last_name").focus();

return false;
}
if(isEmpty(nri_address))
{
<!--$("#nri_address").css("border-bottom", "1px solid red");-->
$("#nri_address").parent().append("<p class='validation' style='color:red;'>This Field is Required</p>");
$("#nri_address").focus();
return false;
}
if(mobile.length<5)
{
<!--$("#nri_mobile").css("border-bottom", "1px solid red");-->
$("#nri_mobile").parent().append("<p class='validation' style='color:red;'>Invalid Mobile Number</p>");
$("#nri_mobile").focus();
return false;
}

if(!validateEmail(email))
{
<!--$("#nri_email").css("border-bottom", "1px solid red");-->
$("#nri_email").parent().append("<p class='validation' style='color:red;'>Invalid Email</p>");
$("#nri_email").focus();
return false;

}
if(isEmpty(country))
{
<!--$("#country").css("border-bottom", "1px solid red");-->
$("#country").parent().append("<p class='validation' style='color:red;'>This Field is required</p>");
$("#country").focus();
return false;
}

if(!validatepassport(passport_number))
{
<!--$("#passport").css("border-bottom", "1px solid red");-->
$("#passport").parent().append("<p class='validation' style='color:red;'>Enter Valid Passport Number</p>");
$("#passport").focus();
return false;
}

if($("#scan_copy_1")[0].files.length==0)
{
$("#scan_copy_1").css("border-bottom", "1px solid red");
$("#scan_copy_1").parent().append("<p class='validation' style='color:red;'>please upload scan copy of Passport</p>");
$("#scan_copy_1").focus();
return false;
}
var passport_file_size = $("#scan_copy_1")[0].files[0].size/1024/1024;
passport_file_size = passport_file_size.toFixed(2);
if(passport_file_size>2)
{
$("#scan_copy_1").css("border-bottom", "1px solid red");
$("#scan_copy_1").parent().append("<p class='validation' style='color:red;'>too big, maximum file size is 2MB </p>");
$("#scan_copy_1").focus();
return false;
}
// if($("#scan_copy_2")[0].files.length==0)
// {
// <!--$("#scan_copy_2").css("border-bottom", "1px solid red");-->
// $("#scan_copy_2").parent().append("<p class='validation' style='color:red;'>please upload scan copy of VISA</p>");
// $("#scan_copy_2").focus();
// return false;
// }

// var visa_file_size = $("#scan_copy_2")[0].files[0].size/1024/1024;
// visa_file_size = visa_file_size.toFixed(2);
// if(visa_file_size>2)
// {
// $("#scan_copy_2").css("border-bottom", "1px solid red");
// $("#scan_copy_2").parent().append("<p class='validation' style='color:red;'>too big, maximum file size is 2MB </p>");
// $("#scan_copy_2").focus();
// return false;
// }
return true;
}

function validate_step_2()
{
$("p").remove(".validation");
var amount=$("#amount").val();
var amount_range=$('input:radio[name=predefined-denomination-btn]:checked').val();
console.log(amount_range);
if(amount_range==1)
{
if(amount<1 || amount>2000)
{
  <!--$("#amount").css("border-bottom", "1px solid red");-->
   $("#amount").focus();
   $("#amount").parent().append("<p class='validation' style='color:red;'>amount should be between 10 and 2000</p>");


  return false;
}
}
else if(amount_range==2)
{
if(amount<2000 || amount>20000)
{
  <!--$("#amount").css("border-bottom", "1px solid red");-->
   $("#amount").focus();
    $("#amount").parent().append("<p class='validation' style='color:red;'>amount should be between 2000 and 20,000</p>");


  return false;
}
var pancard=$("#pancard").val();
if(!validatepan(pancard))
{
 $("#pancard").css("border-bottom", "1px solid red");
  $("#pancard").focus();
  $("#pancard").parent().append("<p class='validation' style='color:red;'>invalid pancard. Please Check</p>");

  return false;
  }
}
else
{
if(amount<20000 || amount>500000)
{
  <!--$("#amount").css("border-bottom", "1px solid red");-->
   $("#amount").parent().append("<p class='validation' style='color:red;'>amount should be between 20,000 and 5,00,000</p>");

  return false;
}
var pancard=$("#pancard").val();
if(!validatepan(pancard))
{
 <!--$("#pancard").css("border-bottom", "1px solid red");-->
  $("#pancard").focus();
  $("#pancard").parent().append("<p class='validation' style='color:red;'>invalid pancard. Please Check</p>");
  return false;
  }
}

if(!$("#desclaimer").is(':checked'))
{
<!--$("#desclaimer").css("border-bottom", "1px solid red");-->
  $("#desclaimer").focus();
   $("#desclaimer").parent().append("<p class='validation' style='color:red;'>please confirm the declaration</p>");
return false;
}
if(!validate_captcha())
          {
            $("#jscaptchainput").focus();
              // alert("please enter captcha");
              
              return false;
          }
 
 
return true;

}
function validate_recurring_step_2()
{
$("p").remove(".validation");
// var interval=$("#recurring_payment_interval").val()
var period = $('input:radio[name=billing-frequency-btn]:checked').val();



if(isEmpty(period) )
{

$("#frequency_div").append("<p class='validation' style='color:red;text-align: center;'>This Field is Required</p>");
$("#frequency_div").focus();

return false;
}
var amount=$("#amount1").val();
var amount_range=$('input:radio[name=recurring-denomination-btn]:checked').val();
console.log(amount_range);
if(amount_range=="r1")
{
if(amount<1 || amount>2000)
{
  <!--$("#amount1").css("border-bottom", "1px solid red");-->
   $("#amount1").focus();
   $("#amount1").parent().append("<p class='validation' style='color:red;'>amount should be between 10 and 2000</p>");


  return false;
}
}
else if(amount_range=="r2")
{
if(amount<2000 || amount>20000)
{
  <!--$("#amount1").css("border-bottom", "1px solid red");-->
   $("#amount1").focus();
    $("#amount1").parent().append("<p class='validation' style='color:red;'>amount should be between 2000 and 20,000</p>");


  return false;
}
console.log("cp3")
var pancard=$("#recurring_pancard").val();
if(!validatepan(pancard))
{
 $("#recurring_pancard").css("border-bottom", "1px solid red");
  $("#recurring_pancard").focus();
  $("#recurring_pancard").parent().append("<p class='validation' style='color:red;'>invalid pancard. Please Check</p>");

  return false;
  }
}
else
{
if(amount<20000 || amount>500000)
{
  <!--$("#amount1").css("border-bottom", "1px solid red");-->
   $("#amount1").parent().append("<p class='validation' style='color:red;'>amount should be between 20,000 and 5,00,000</p>");

  return false;
}
console.log("cp4")
var pancard=$("#recurring_pancard").val();
if(!validatepan(pancard))
{
 <!--$("#recurring_pancard").css("border-bottom", "1px solid red");-->
  $("#recurring_pancard").focus();
  $("#recurring_pancard").parent().append("<p class='validation' style='color:red;'>invalid pancard. Please Check</p>");
  return false;
  }
}
console.log("cp5")
if(!$("#recur_desclaimer").is(':checked'))
{
<!--$("#recur_desclaimer").css("border-bottom", "1px solid red");-->
  $("#recur_desclaimer").focus();
   $("#recur_desclaimer").parent().append("<p class='validation' style='color:red;'>please confirm the declaration</p>");
return false;
}
console.log("cp6")
if(!validate_captcha2())
          {
            $("#jscaptchainput1").focus();
              // alert("please enter captcha");
              
              return false;
          }
 
 console.log("cp7")
return true;

}
// end of indian step  2
function validate_nri_step_2()
{
$("p").remove(".validation");
var amount=$("#nri_amount").val();
var amount_range=$('input:radio[name=nri_predefined]:checked').val();
console.log(amount_range);
if(amount_range==1)
{
if(amount<1 || amount>2000)
{
  <!--$("#nri_amount").css("border-bottom", "1px solid red");-->
   $("#nri_amount").focus();
   $("#nri_amount").parent().append("<p class='validation' style='color:red;'>amount should be between 10 and 2000</p>");


  return false;
}
}
else if(amount_range==2)
{
if(amount<2000 || amount>20000)
{
  <!--$("#nri_amount").css("border-bottom", "1px solid red");-->
   $("#nri_amount").focus();
    $("#nri_amount").parent().append("<p class='validation' style='color:red;'>amount should be between 2000 and 20,000</p>");


  return false;
}

}
else
{
if(amount<20000 || amount>500000)
{
  <!--$("#nri_amount").css("border-bottom", "1px solid red");-->
   $("#nri_amount").parent().append("<p class='validation' style='color:red;'>amount should be between 20,000 and 5,00,000</p>");

  return false;
}

}

if(!$("#nri_desclaimer").is(':checked'))
{
<!--$("#nri_desclaimer").css("border-bottom", "1px solid red");-->
  $("#nri_desclaimer").focus();
   $("#nri_desclaimer").parent().append("<p class='validation' style='color:red;'>please confirm the declaration</p>");
return false;
}
if(!validate_captcha1())
          {
            $("#nri_jscaptchainput").focus();
              // alert("please enter captcha");
              
              return false;
          }
 
 
return true;

}

//  end of nri step 2
$("#step_2_back").click(function()
{
$("#step1").css("display","block");
$("#step2").css("display","none");

})

$("#step_2_back1").click(function()
{
$("#step1").css("display","block");
$("#recurring_step2").css("display","none");

})


$("#nri_step_2_back").click(function()
{
$("#step1").css("display","block");
$("#nri_step2").css("display","none");

})
function isEmpty(val){
    return (val === undefined || val == null || val.length <= 0) ? true : false;
}
<!-- end of back and next button actions-->
update_districts=function(state_id)
{
 var districts_data=districts[state_id]
$("#district-styled").val('');
$("#constituency-styled").val('');

    $('#districts')
        .find('option')
        .remove()
        .end();

        $('#constituency')
        .find('option')
        .remove()
        .end();
        var rows='';
        $.each(districts_data, function (i,val) {

        rows +="<option value='"+val.id+"'>"+val.district_name+"</option>"


          });
         $('#district').html(rows);
        select_field_updater('#district');
        $('.districts_div').css("display","block");
}


$('input:radio[name=billing-frequency-btn]').change(function () {

  $(".billing-frequency-cls").removeClass("yes-button");
  $(this).addClass("yes-button");
  var btn_id = $(this).val();
  console.log(btn_id)
});
});
 <!--end of document ready function-->
  function statechange(event)
{

  var state=event.value;


  if(state=='Andhra Pradesh' || state=='Telangana')
  {
      var state_id=1;
      if (state=='Andhra Pradesh')
      {
      state_id='1';
      }
      else
      {
      state_id='2';
      }
      update_districts(state_id);

    }
  else
  {
    $('.districts_div').css("display","none");
  }

};





  (function ($) {
    $.fn.floatLabels = function (options) {

        // Settings
        var self = this;
        var settings = $.extend({}, options);


        // Event Handlers
        function registerEventHandlers() {
            // self.on('input keyup change focus', 'input, textarea', function () {
            //     actions.swapLabels(this);
            // });
            self.on('focusin', 'input, textarea', function () {
                actions.addFocus(this);
            });

            self.on('focusout', 'input, textarea', function () {
                actions.removeFocus(this);
            });

            self.on('mousedown', '.select-dropdown li a', function(){

                actions.selectValue(this);
            });

            self.on('keyup', 'select + input', function(){
                actions.dropdownFilter(this);

            });

        }


        // Actions
        actions = {
            initialize: function() {
                self.each(function () {
                    var $this = $(this);
                    var $label = $this.children('label');
                    var $field = $this.find('input,textarea').first();

                    if ($this.children().first().is('label')) {
                        $this.children().first().remove();
                        $this.append($label);
                    }

                    var placeholderText = ($field.attr('placeholder') && $field.attr('placeholder') != $label.text()) ? $field.attr('placeholder') : $label.text();

                    $label.data('placeholder-text', placeholderText);
                    $label.data('original-text', $label.text());

                    if ($field.val() == '') {
                        $field.addClass('empty')
                    }
                });
            },

            changeSelectFields: function () {
                self.each(function () {
                    var $this = $(this);

                    var $selectFields = $this.find('select');

                    if ($selectFields.length){
                        $selectFields.hide();
                        $selectedFieldID = $selectFields.attr('id');
                        $selectFields.after('<input type="text" class="form-control replaced-select-field" id="'+$selectedFieldID+'-styled">');
                        $options = $selectFields.find('option');
                        $styledElements = Array();
                        $options.each(function($i, $option){
                            $icon = $option.getAttribute('data-icon');
                            $icon = ($icon) ? '<i class="'+ $icon +'"></i> '  : '';
                            $html = '<li>'+
                                        '<a href="#" data-option="'+$option.value+'">'+
                                            $icon + $option.text
                                        '</a>'+
                                    '</li> '
                            $styledElements.push($html);
                        });
                        $styledElements ='<ul class="dropdown-menu select-dropdown" id="'+$selectedFieldID+'-dropdown">' + $styledElements.join(' ') + '</ul>' ;
                        $this.append($styledElements)
                    }

                });
            },

            selectValue: function(dropdown_elemet){

                $dropdown_elemet = $(dropdown_elemet);

                $relatedSelectFiled = $dropdown_elemet.parents('.select-dropdown').siblings('select');

                $relatedInputFiled = $dropdown_elemet.parents('.select-dropdown').siblings('input');

                $relatedSelectFiled.val($dropdown_elemet.data('option'));

                $relatedInputFiled.val($.trim($dropdown_elemet.text()));
                  $relatedSelectFiled.change();
            },

            dropdownFilter: function(inputField){
                $inputField = $(inputField);

                $relatedDDField  = $inputField.siblings('.select-dropdown');
                $options = $relatedDDField.find('a');
                $options.each(function(i, option){
                    $option = $(option);
                    if($.trim($option.text().toLowerCase()).search($.trim($inputField.val()).toLowerCase()) === -1){
                        $option.addClass('hide');
                    }else{
                        $option.removeClass('hide');
                    }
                });
            },

            swapLabels: function (field) {
                var $field = $(field);
                var $label = $(field).siblings('label').first();
                var isEmpty = Boolean($field.val());
                if (isEmpty) {
                    $field.removeClass('empty');
                    $label.text($label.data('original-text'));
                }
                else {
                    $field.addClass('empty');
                    $label.text($label.data('placeholder-text'));
                }
            },

            addFocus: function (field) {
                var $field = $(field);
                var $label = $(field).siblings('label').first();
                // var isEmpty = Boolean($field.val());
                $field.removeClass('empty');
                $label.text($label.data('original-text'));
                if($field.hasClass('replaced-select-field')){
                    $field.siblings('ul.select-dropdown').addClass('show');
                }
            },

            removeFocus: function (field) {
                var $field = $(field);
                var $label = $(field).siblings('label').first();
                var isEmpty = Boolean($field.val());
                if(isEmpty){
                    $field.removeClass('empty');
                    $label.text($label.data('placeholder-text'));
                }else{
                     $field.addClass('empty');
                    $label.text($label.data('original-text'));
                }
                if($field.hasClass('replaced-select-field')){
                    $field.siblings('ul.select-dropdown').removeClass('show');
                }
            }
        };


        // Initialization
        function init() {
            registerEventHandlers();

            actions.initialize();
            actions.changeSelectFields();
            self.each(function () {
                actions.swapLabels($(this).find('input,textarea').first());
            });
        }
        init();

        return this;
    };
})(jQuery);

$(function () {
    $('.float-label-control').floatLabels();
});
  </script>
  <script>
var payment_url="{{payment_url}}";
  Instamojo.open(payment_url);
</script>
// <script>
</script>



</body>
</html>