{% extends "layout.html" %}

{% block body %}
<style>
label
{
  color: #d81615 !important;
  font-size:16px !important;
  font-weight:800 !important;
  padding:0 10 0 5px;
}
p{
  font-size:16px !important; 
  color:black !important;
  text-align:left !important;
  padding:0 10 0 5px;
}
.right_alignment{
  text-align:right !important;
  color:#d81615 !important;
  font-size:16px !important;
  font-weight:800 !important;
  padding:0 10 0 5px;
}
.razorpay-payment-button{
      background-color: #d81615;
    padding: 10px;
    color: white;
}
</style>
<div class="col l9 m12 s12">
    <div class="container"  style="text-align:center !important;">
    
    <h3>please wait! Your Payment is Processing...<br>
    Do not press Refresh or Back Button. </h3>
  

<script src="https://js.instamojo.com/v1/checkout.js"></script>
<script>
var payment_url="{{payment_url}}";
  Instamojo.open(payment_url); 
</script>

 



</div>
</div>


{% endblock %}