{% extends "admin_layout.html" %}
{% block body %}
<style>
.loader
{
  z-index:1051 !important;
}
</style>

<link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <div class="modal fade " id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center">
        <h5 class="modal-title" id="exampleModalLabel"> Edit Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="target_body" style="margin:25px!important">
     
          <form class="donation_form" name="donation_form" id="donation_form" method="post" autocomplete="off"  >
         <div class="row form-group" >
               
                <input type="text" name="transaction_id" class="form-control" maxlength="50" id="transaction_id" style="display:none"  required>
                      <label for="name" class="labels name">Donar Name :</label>
                      <input type="text" name="name" class="form-control" maxlength="50" id="name" placeholder="Enter Your Full Name"  required>
                   
                   
                  </div>
                  
                  <div class="row form-group"  >
                    
                   <label for="address" class=" labels address"> Full Address:</label>
                      <textarea class="form-control" rows="4" cols="50" maxlength="2000"   id="address" placeholder="Full Address" name="address"  ></textarea>
                 
                  </div>
                   <div class="row form-group"  >
        <label for="donation_type" class=" labels donation_type"> Payment Type:</label>
                <select name="donation_type" id="donation_type" class="form-control " required>
           <option value="" selected>Select Option</option>
        <option value="Cash" selected>Cash</option>
        <option value="Cheque">Cheque</option>
        <option value="Draft">Draft</option>
        <option value="Neft">Neft</option>
    
            </select><br> <br>
            </div>
             <div class="row form-group" style="display:none" id="date_div">
               <label for="ref_date" class="labels date">Date: </label>
                      <input type="text" name="cash_date" class="form-control" maxlength="50" class="cash_details" id="cash_date" placeholder="Enter Date DD-MM-YY"  >
             </div>
             <div class="row form-group" style="display:none" id="cheque_div">
              
              <p><label >Cheque/Draft/NEFT Details:</label></p>
           
              <div class="col-md-4 col-sm-12 col-lg-4">
                 <label for="ref_number" class="labels number">Number: </label>
                      <input type="text" name="ref_number" class="form-control" maxlength="50" class="cheque_details" id="ref_number" placeholder="Reference Number"  >
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4">
                 <label for="ref_date" class="labels date">Date: </label>
                      <input type="text" name="ref_date" class="form-control" maxlength="50" class="cheque_details" id="ref_date" placeholder="Enter Date DD-MM-YY"  >
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4">
                 <label for="ref_bank_name" class="labels ">Bank Name: </label>
                      <input type="text" name="ref_bank_name" class="form-control" maxlength="50" class="cheque_details" id="ref_bank_name" placeholder="Enter Bank Name"  >
              </div>
             </div>
         
                    <div class="form-group  row " id="amount_div"    >
                      <label for="amount" class=" labels amount" > AMOUNT(INR): </label>
                     <input type="number" name="amount" class="form-control" max="" min="" id="amount" placeholder="Enter Amount" onkeyup="convertNumberToWords(this.value)"   required>
                    </div>
                 <div class="form-group  row "     >
                      <label for="amount_in_words" class=" labels amount" > Amount in Words: </label>
                     <input type="text" name="amount_in_words" class="form-control"   id="amount_in_words"   required>
                    </div>

          <div class="row">
             <input type="submit" class="btn btn-success" value="Submit" style="float:right" id="submit">
       
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
          <div class="row" id="pdf_receipt_div" style="display":"none">

        <iframe id="pdf_file" frameborder="0"></iframe>
   
  </div>
      </div>
      <div class="modal-footer">
       
       

       
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12">
  </div>

    <div class="col-md-3 col-lg-3 col-sm-6 pull-right">
   <button class="btn btn-success "><a href="/manualDonations" >  Donation Form</a></button>
 
</div>

</div>
<div class="row datarows">
  <h1 style="text-align:center; padding:10px 10px 10px 10px">Offline Donations </h1>
<div class="datagrid" style="margin: -20px 20px 20px 20px;">
	<table id="donations_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
         
          <th>Transaction ID </th>
          
          <th>Name </th>
          <th>Address </th>
         <th> Amount </th>
       
          <th>Payment Type </th>
          
           <th>Ref Number</th>
           <th>Ref Date </th>
           <th>Ref Bank </th>
           <th>Receipt </th>
             <th> Edit </th>
           
        </tr>
        </thead>
        
        <tbody id="facilitators_body">
        	


                    </tbody>
    </table>
    
  </div>

  </div>
  <script>
var edit_details;
function convertNumberToWords(amount) {
    var words = new Array();
    words[0] = '';
    words[1] = 'One';
    words[2] = 'Two';
    words[3] = 'Three';
    words[4] = 'Four';
    words[5] = 'Five';
    words[6] = 'Six';
    words[7] = 'Seven';
    words[8] = 'Eight';
    words[9] = 'Nine';
    words[10] = 'Ten';
    words[11] = 'Eleven';
    words[12] = 'Twelve';
    words[13] = 'Thirteen';
    words[14] = 'Fourteen';
    words[15] = 'Fifteen';
    words[16] = 'Sixteen';
    words[17] = 'Seventeen';
    words[18] = 'Eighteen';
    words[19] = 'Nineteen';
    words[20] = 'Twenty';
    words[30] = 'Thirty';
    words[40] = 'Forty';
    words[50] = 'Fifty';
    words[60] = 'Sixty';
    words[70] = 'Seventy';
    words[80] = 'Eighty';
    words[90] = 'Ninety';
    amount = amount.toString();
    var atemp = amount.split(".");
    var number = atemp[0].split(",").join("");
    var n_length = number.length;
    var words_string = "";
    if (n_length <= 9) {
        var n_array = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0);
        var received_n_array = new Array();
        for (var i = 0; i < n_length; i++) {
            received_n_array[i] = number.substr(i, 1);
        }
        for (var i = 9 - n_length, j = 0; i < 9; i++, j++) {
            n_array[i] = received_n_array[j];
        }
        for (var i = 0, j = 1; i < 9; i++, j++) {
            if (i == 0 || i == 2 || i == 4 || i == 7) {
                if (n_array[i] == 1) {
                    n_array[j] = 10 + parseInt(n_array[j]);
                    n_array[i] = 0;
                }
            }
        }
        value = "";
        for (var i = 0; i < 9; i++) {
            if (i == 0 || i == 2 || i == 4 || i == 7) {
                value = n_array[i] * 10;
            } else {
                value = n_array[i];
            }
            if (value != 0) {
                words_string += words[value] + " ";
            }
            if ((i == 1 && value != 0) || (i == 0 && value != 0 && n_array[i + 1] == 0)) {
                words_string += "Crores ";
            }
            if ((i == 3 && value != 0) || (i == 2 && value != 0 && n_array[i + 1] == 0)) {
                words_string += "Lakhs ";
            }
            if ((i == 5 && value != 0) || (i == 4 && value != 0 && n_array[i + 1] == 0)) {
                words_string += "Thousand ";
            }
            if (i == 6 && value != 0 && (n_array[i + 1] != 0 && n_array[i + 2] != 0)) {
                words_string += "Hundred and ";
            } else if (i == 6 && value != 0) {
                words_string += "Hundred ";
            }
        }
        words_string = words_string.split("  ").join(" ");
    }
    
    $("#amount_in_words").val( words_string+" Rupees Only");
}

  $(document).ready(function() {

 var csrftoken = $('meta[name=csrf-token]').attr('content')
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
     $("#donation_type").change(function()
    {
      if($(this).val()!='Cash')
        {
          $("#cheque_div").css('display','block');
           $("#date_div").css('display','none');
            $('.cash_details').prop('required',false);

          $('.cheque_details').prop('required',true);

        }
        else
        {
          $('.cheque_details').prop('required',false);
           $('.cash_details').prop('required',true);
          $("#cheque_div").css('display','none')
           $("#date_div").css('display','block');
        }
    })

   $("#donations_table tbody").on( 'click', 'button', function () {

 
  var currentRow=$(this).closest("tr"); 

    $('tr').removeClass('active');
     // removes all highlights from tr's
    
    $(currentRow).addClass('active');
         
         var name=currentRow.find("td:eq(1)").text(); // get current row 1st TD value
         var address=currentRow.find("td:eq(2)").text();
         var amount=currentRow.find("td:eq(3)").text();
         var payment_type=currentRow.find("td:eq(4)").text();

         var date=currentRow.find("td:eq(6)").text();
         var ref_number=currentRow.find("td:eq(5)").text();
         var ref_bank=currentRow.find("td:eq(7)").text();
         var transaction_id=currentRow.find("td:eq(0)").text();
         if(payment_type!='Cash')
        {
          $("#cheque_div").css('display','block');
           $("#date_div").css('display','none');
            $('.cash_details').prop('required',false);

          $('.cheque_details').prop('required',true);

        }
        else
        {
          $('.cheque_details').prop('required',false);
           $('.cash_details').prop('required',true);
          $("#cheque_div").css('display','none')
           $("#date_div").css('display','block');
        }
         $("#name").val(name);
      $("#address").val(address);
      $("#amount").val(amount);
      $("#donation_type").val(payment_type);
   
      $("#transaction_id").val(transaction_id);

      if(payment_type!='Cash')
      {
        $("#ref_number").val(ref_number);
        $("#ref_date").val(date);
        $("#ref_bank_name").val(ref_bank);
        
      }
      else
      {
        $("#cash_date").val(date);
         
      }
         convertNumberToWords(amount)
 $('#editModal').modal('show');
         // get current row 
        
});

$("#donation_form").submit(function(e)
    {
      e.preventDefault();
      $("#submit").attr("disabled","disabled");


               $(".loader").css("display","block");
      var data;
      var name=$("#name").val();
      var address=$("#address").val();
      var amount=$("#amount").val();
      var payment_type=$("#donation_type").val();
      var amount_in_words=$("#amount_in_words").val();
      var transaction_id=$("#transaction_id").val();
      if(payment_type!='Cash')
      {
        var number=$("#ref_number").val();
        var date=$("#ref_date").val();
        var bank=$("#ref_bank_name").val();
         data={name:name,address:address,amount:amount,payment_type:payment_type,amount_in_words:amount_in_words,number:number,date:date,bank:bank,transaction_id:transaction_id}
      }
      else
      {
        var date=$("#cash_date").val();
         data={name:name,address:address,amount:amount,payment_type:payment_type,amount_in_words:amount_in_words,date:date,transaction_id:transaction_id}
      }

        $.ajax({
           type: "POST",
           url: "/update_manual_donations",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            
                   
            console.log(response)
               if (response.data.status=='1') {
        var url=response.data.children.url;
        var transaction_id=response.data.children.transaction_id;
        var message="Details  is updated Successfully. Trn Id is: "+transaction_id;
        swal('Success',message,'success');
                $("#submit").removeAttr("disabled");
                $("#pdf_file").attr('src',url )
                $("#pdf_receipt_div").css("display","block");
                $(".loader").css("display","None");
                $("form")[0].reset();
             //window.location.href="/manualDonations";
                
               } else {
                    $("#submit").removeAttr("disabled");
                    $(".loader").css("display","None");
                    swal('Error',response.errors,'error');
                    return false;
                   
               }
           },
           error:function(response)
           {
            $("#submit").removeAttr("disabled");
            $(".loader").css("display","None");
           swal('Error',response.errors,'error');
             return false;
           }
           
       });


    })
// update_manual_donations
     myTable = $('#donations_table').DataTable( {
                  data:[],
                  columns:[
    {data: 'seq_id'},
     {data: "donar_name"},
      {data: "address"},
    {data: "amount"},
    {data: "payment_type"},
    {data: 'reference_number'},
    {data: "reference_date"},
    {data: "reference_bank"},
    {data: function ( data, type, full ) {
     

                     return '<a href="' + data.receipt_url + '" download>Download</a>'}
                   },

      {
            "targets": -1,
            "data": null,
            "defaultContent": "<button class='edit btn-info'>Edit</button>"
        
     }],
                  dom: 'Bfrtip',buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                "lengthMenu": [ [10, 25, 50, "All"]]} );


  $(".loader").css("display","block");
    $.ajax({
           type: "POST",
           url:"/getManualDonations",
                       
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                result=response.data.children;
               console.log(result)
               
                 myTable.clear().draw()
                 myTable.rows.add( result ).draw()
                  
                 
                  $(".loader").css("display","none");
                  ;
                  
                  }
                else
                {
                  $(".loader").css("display","none");
        swal('Error',response.errors,'error')
                }
               },
        error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
            alert(response.errors)
             return false;
           }
           
       });


} );
  
  </script>
{% endblock %}