
{% extends "admin_layout.html" %}

{% block body %}
{% include "loader.html" %}
<style>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}
input[type=number] {
    -moz-appearance:textfield;
}
</style>
<link rel="icon" type="image/png" href="/static/img/favicon.png">

  
<div class="row" style="padding-right:20px;padding-left:20px;" >
  <h3 style="text-align:center;color:#d81615">Offline Donation Form</h3>
  <hr>
  <div class="container" style="width:70%" id="form_div">
    <form class="donation_form" name="donation_form" id="donation_form" method="post" autocomplete="off"  >
              {% include "flash_message.html" %}
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <div class="row form-group" >
               
                      <label for="name" class="labels name">Donar Name :</label>
                      <input type="text" name="name" class="form-control" maxlength="50" id="name" placeholder="Enter Your Full Name"  required>
                   
                   
                  </div>
                  
                  <div class="row form-group"  >
                    
                   <label for="address" class=" labels address"> Full Address:</label>
                      <textarea class="form-control" rows="4" cols="50" maxlength="2000"   id="address" placeholder="Full Address" name="address"  ></textarea>
                 
                  </div>
                   <div class="row form-group"  >
        <label for="donation_type" class=" labels donation_type"> Payment Type:</label>
                <select name="donation_type" id="donation_type" class="form-control " required>
           <option value="" selected>Select Option</option>
        <option value="Cash" selected>Cash</option>
        <option value="Cheque">Cheque</option>
        <option value="Draft">Draft</option>
        <option value="Neft">Neft</option>
    
            </select><br> <br>
            </div>
             <div class="row form-group" style="display:none" id="date_div">
               <label for="ref_date" class="labels date">Date: </label>
                      <input type="text" name="cash_date" class="form-control" maxlength="50" class="cash_details" id="cash_date" placeholder="Enter Date DD-MM-YY"  >
             </div>
             <div class="row form-group" style="display:none" id="cheque_div">
              
              <p><label >Cheque/Draft/NEFT Details:</label></p>
           
              <div class="col-md-4 col-sm-12 col-lg-4">
                 <label for="ref_number" class="labels number">Number: </label>
                      <input type="text" name="ref_number" class="form-control" maxlength="50" class="cheque_details" id="ref_number" placeholder="Reference Number"  >
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4">
                 <label for="ref_date" class="labels date">Date: </label>
                      <input type="text" name="ref_date" class="form-control" maxlength="50" class="cheque_details" id="ref_date" placeholder="Enter Date DD-MM-YY"  >
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4">
                 <label for="ref_bank_name" class="labels ">Bank Name: </label>
                      <input type="text" name="ref_bank_name" class="form-control" maxlength="50" class="cheque_details" id="ref_bank_name" placeholder="Enter Bank Name"  >
              </div>
             </div>
         
                    <div class="form-group  row " id="amount_div"    >
                      <label for="amount" class=" labels amount" > AMOUNT(INR): </label>
                     <input type="number" name="amount" class="form-control" max="" min="" id="amount" placeholder="Enter Amount" onkeyup="convertNumberToWords(this.value)"   required>
                    </div>
                 <div class="form-group  row "     >
                      <label for="amount_in_words" class=" labels amount" > Amount in Words: </label>
                     <input type="text" name="amount_in_words" class="form-control"   id="amount_in_words"   required>
                    </div>
                   
              <div class="row form-row-margin">
                <div class="col-md-6 col-lg-6 col-sm-12" style="float:left;margin-left: -15px;">
                 <!--  <div class="g-recaptcha" data-sitekey="6LcZQhIUAAAAANQ7XJPTY3hBIcNYOwKZ7OhHus8f" data-theme="light"></div> -->
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12" style="text-align:left; padding:0;"> <br>
                  <input type="submit" class="btn btn-success" value="Submit" style="float:right" id="submit">
                </div>
                </div>
                <br>
                <br>
            
            </form>
   
  </div> 
  <div class="row" id="pdf_receipt_div" style="display":"none">

   <iframe id="pdf_file" frameborder="0"></iframe>
   
  </div>

      </div>  

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 

		<script src='https://www.google.com/recaptcha/api.js'></script> 

    <script>
    $(document).ready(function()
          {
             
            var csrftoken = $('meta[name=csrf-token]').attr('content')
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
    $("#donation_type").change(function()
    {
      if($(this).val()!='Cash')
        {
          $("#cheque_div").css('display','block');
           $("#date_div").css('display','none');
            $('.cash_details').prop('required',false);

          $('.cheque_details').prop('required',true);

        }
        else
        {
          $('.cheque_details').prop('required',false);
           $('.cash_details').prop('required',true);
          $("#cheque_div").css('display','none')
           $("#date_div").css('display','block');
        }
    })
    $("#donation_form").submit(function(e)
    {
      e.preventDefault();
      $("#submit").attr("disabled","disabled");


               $(".loader").css("display","block");
      var data;
      var name=$("#name").val();
      var address=$("#address").val();
      var amount=$("#amount").val();
      var payment_type=$("#donation_type").val();
      var amount_in_words=$("#amount_in_words").val();

      if(payment_type!='Cash')
      {
        var number=$("#ref_number").val();
        var date=$("#ref_date").val();
        var bank=$("#ref_bank_name").val();
         data={name:name,address:address,amount:amount,payment_type:payment_type,amount_in_words:amount_in_words,number:number,date:date,bank:bank}
      }
      else
      {
        var date=$("#cash_date").val();
         data={name:name,address:address,amount:amount,payment_type:payment_type,amount_in_words:amount_in_words,date:date}
      }

        $.ajax({
           type: "POST",
           url: "/manualDonations",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            
                   
            console.log(response)
               if (response.data.status=='1') {
        var url=response.data.children.url;
        var transaction_id=response.data.children.transaction_id;
        var message="Your Transaction is Saved Successfully. Trn Id is: "+transaction_id;
        swal('Success',message,'success');
                $("#submit").removeAttr("disabled");
                $("#pdf_file").attr('src',url )
                $("#pdf_receipt_div").css("display","block");
                $(".loader").css("display","None");
                $("form")[0].reset();
             //window.location.href="/manualDonations";
                
               } else {
                    $("#submit").removeAttr("disabled");
                    $(".loader").css("display","None");
                    swal('Error',response.errors,'error');
                    return false;
                   
               }
           },
           error:function(response)
           {
            $("#submit").removeAttr("disabled");
            $(".loader").css("display","None");
           swal('Error',response.errors,'error');
             return false;
           }
           
       });


    })
  });
function convertNumberToWords(amount) {
    var words = new Array();
    words[0] = '';
    words[1] = 'One';
    words[2] = 'Two';
    words[3] = 'Three';
    words[4] = 'Four';
    words[5] = 'Five';
    words[6] = 'Six';
    words[7] = 'Seven';
    words[8] = 'Eight';
    words[9] = 'Nine';
    words[10] = 'Ten';
    words[11] = 'Eleven';
    words[12] = 'Twelve';
    words[13] = 'Thirteen';
    words[14] = 'Fourteen';
    words[15] = 'Fifteen';
    words[16] = 'Sixteen';
    words[17] = 'Seventeen';
    words[18] = 'Eighteen';
    words[19] = 'Nineteen';
    words[20] = 'Twenty';
    words[30] = 'Thirty';
    words[40] = 'Forty';
    words[50] = 'Fifty';
    words[60] = 'Sixty';
    words[70] = 'Seventy';
    words[80] = 'Eighty';
    words[90] = 'Ninety';
    amount = amount.toString();
    var atemp = amount.split(".");
    var number = atemp[0].split(",").join("");
    var n_length = number.length;
    var words_string = "";
    if (n_length <= 9) {
        var n_array = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0);
        var received_n_array = new Array();
        for (var i = 0; i < n_length; i++) {
            received_n_array[i] = number.substr(i, 1);
        }
        for (var i = 9 - n_length, j = 0; i < 9; i++, j++) {
            n_array[i] = received_n_array[j];
        }
        for (var i = 0, j = 1; i < 9; i++, j++) {
            if (i == 0 || i == 2 || i == 4 || i == 7) {
                if (n_array[i] == 1) {
                    n_array[j] = 10 + parseInt(n_array[j]);
                    n_array[i] = 0;
                }
            }
        }
        value = "";
        for (var i = 0; i < 9; i++) {
            if (i == 0 || i == 2 || i == 4 || i == 7) {
                value = n_array[i] * 10;
            } else {
                value = n_array[i];
            }
            if (value != 0) {
                words_string += words[value] + " ";
            }
            if ((i == 1 && value != 0) || (i == 0 && value != 0 && n_array[i + 1] == 0)) {
                words_string += "Crores ";
            }
            if ((i == 3 && value != 0) || (i == 2 && value != 0 && n_array[i + 1] == 0)) {
                words_string += "Lakhs ";
            }
            if ((i == 5 && value != 0) || (i == 4 && value != 0 && n_array[i + 1] == 0)) {
                words_string += "Thousand ";
            }
            if (i == 6 && value != 0 && (n_array[i + 1] != 0 && n_array[i + 2] != 0)) {
                words_string += "Hundred and ";
            } else if (i == 6 && value != 0) {
                words_string += "Hundred ";
            }
        }
        words_string = words_string.split("  ").join(" ");
    }
    
    $("#amount_in_words").val( words_string+" Rupees Only");
}
    </script>       



{% endblock %}