<div class="section1"  style="padding-left: 30px;
    color: white;
    text-align: left;
    font-size: 16px;">
  <div><div class="adM">
  </div><p style="font-size: 18px;">
      Dear <span id="nri_donor_name" ></span>,
  </p>
 
   <h4 >
      Thank you for your support for <span class="il">JanaSenaParty. You can remit your donation to us into the following account.  
  </h4>
   <br>  
  <div>
    <p style="font-size: 18px;"> Reference Number: <span id="nri_donor_reference_id"></span></p>
             
      Beneficiary Name:  <span class="il">JanaSena Party</span>  
      <br>
      Beneficiary Account No: 30061010011894
      <br>
      IFSC CODE:SYNB0003006
      
       <br>
        Syndicate Bank SWIFT Code:   SYNBINBB 122 
        <br>
      Beneficiary Address : Plot NO-12, Road NO-72,  PrashasanNagar , Jubilee Hills, Hyderabad, Telangana -500033.
      <br>
      Beneficiary Bank Name and Address: Syndicate Bank,  Banjara Hills, Hyderabad
     
      </div>
  </div>
  <br>
 
  <p>
      In the NARRATION/REMARKS column, kindly fill the respective 'Reference Number' (as mentioned above) and your 'Indian passport number', failing to which the transaction can not be accepted.
  </p>
  <p>
      In the PURPOSE column, kindly write 'Donation'.
  </p>
  
  
  <p>
      Should you have any problems, please email us at <a href="mailto:donations@janasenaparty.org" target="_blank">donations@janasenaparty.org</a> with subject as 'Remittance Problems' or call us at +91-8978930303.
  </p>
  
  
  
  <p> please contact your bank if you need any help in remittance process </p>
  <br>
  <br>
  </div>
