

<div class="col-xs-12 col-sm-6" >


              <div class="form-group float-label-control">
                <label for="nri_name">First Name</label>
                <input type="text" class="form-control" placeholder="First Name" id="nri_name" name="nri_name" onkeypress="return isalphabet(event)">
              </div>
            </div>
             <div class="col-xs-12 col-sm-6" >

              <div class="form-group float-label-control">
                <label for="nri_last_name">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" id="nri_last_name" name="nri_last_name" onkeypress="return isalphabet(event)">
              </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-12">
              <div class="form-group float-label-control">
                <label for="nri_fathername">Father/Mother Name</label>
                <input type="text" class="form-control" placeholder="Father Name" id="nri_fathername" name="nri_fathername" onkeypress="return isalphabet(event)" >
              </div> -->
            <!-- </div> -->
            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control" >
                <label for="country">Country</label>
                <select class="form-control" id="country" name="country" >

                  
                </select>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control">
                <label for="nri_mobile">Phone </label>
                <input type="nri_mobile" class="form-control"  id="nri_mobile" name="nri_mobile"   required>
              </div>
               <!-- onkeypress="return isNumeric(event)"  -->
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control">
                <label for="nri_email">Email ID</label>
                <input type="nri_email" class="form-control" placeholder="Email ID" id="nri_email" name="email" required>
              </div>
            </div>

            

              <div class="col-xs-12 col-sm-6 " >
                 <div class="form-group float-label-control" >
                    <label for="passport">passport Number</label>
                    <input type="text" class="form-control" placeholder="Passport Number" id="passport" name="passport"  >
                    
                 </div>
              </div>
              <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control" >
                <label for="nri_dr_no">D-NO</label>
                <input type="text"  name="nri_dr_no" id="nri_dr_no">

              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control" >
                <label for="nri_street">Village/street</label>
                <input type="text"  name="nri_street" id="nri_street">

              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control" >
                <label for="nri_city">City</label>
                <input type="text"  name="nri_city" id="nri_city">

              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control" >
                <label for="nri_pincode">Pincode</label>
                <input type="text"  name="nri_pincode" id="nri_pincode">

              </div>
            </div>
             <div class="col-xs-12 col-sm-6">
              <div class="form-group float-label-control" >
                <label for="nri_state">State</label>
                <select class="form-control" id="nri_state" name="nri_state">

                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Telangana">Telangana</option>
                   <option value="Tamil Nadu">Tamil Nadu</option>
                   <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                   <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option><option value="Bihar">Bihar</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                  <option value="Daman and Diu">Daman and Diu</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Orissa">Orissa</option>
                  <option value="Pondicherry">Pondicherry</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>

                  <option value="Tripura">Tripura</option>

                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttaranchal">Uttaranchal</option>
                  <option value="West Bengal">West Bengal</option>
                </select>
              </div>
            </div>
             <div class="col-xs-12 col-sm-6" id="nri_pancard_div" >
             
              <div class="form-group float-label-control ">
                <label for="nri_PanCard">Pancard</label>
                <input type="text" class="form-control" placeholder="Pancard" id="nri_pancard" name="nri_pancard" >
               
              </div>
            
            </div>
            <div class="row" >
              <div class="col-xs-12 col-sm-12 " style="margin-top:20px !important;" >
                <div class="form-group float-label-control_file" >
                    <label for='scan_copy_1' style="padding-left:10px !important;">indian passport scan copy  </label>
                   <input type="file"  name="scan_copy_1" id="scan_copy_1">
                 </div>
              </div>
              
             <!--  <div class="col-xs-12 col-sm-6">
                <div class="form-group float-label-control_file">
                  <label for="scan_copy_2">visa/permanent residence scan copy </label>
                  <input type="file"  name="scan_copy_2" id="scan_copy_2">
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-xs-6 text-left">
                <button  class="btn_next" id="previous">BACK</button>
              </div>
              <div class="col-xs-6 text-right">
                <button  class="btn_next" id="nri_step_1_next">NEXT</button>
              </div>
            </div>
           <!--  <div class="col-xs-6 text-left">

            <a href="#" id="previous" style=" color: #00aeef;
    padding: 5px;
    display: block;
    text-decoration: underline;">Instructions</a>
          </div> -->