<div class="col-xs-12">
  <div class="nri_step2_amount_option">
       <div class="form-group">
                <h2 style="color: white;margin-bottom: 15px;">Choose Payment Option</h2>
                <input class="hidden radio-label payment_option-cls yes-button" type="radio" name="payment_option" value="ind" id="ind" checked="checked"/>
                <label class="button-label" for="ind">
                <h1> Pay Through Indian Banks in Rupees</h1>
                </label>
                <input class="hidden radio-label payment_option-cls" type="radio" name="payment_option" value="foreign" id="foreign"/>
                <label class="button-label" for="foreign">
                <h1>Other Option </h1>
                </label>
                </div>

   </div> 

    <div class="nri_step2_ind_amount" id="nri_step2_ind_amount">
        <div class="col-xs-12 " id="step2_amount">
              <div class="form-group">
                <h2 style="color: white;margin-bottom: 15px;">Select Amount Range</h2>
                <input class="hidden radio-label nri_predefined-denomination-cls yes-button" type="radio" name="nri_predefined" value="1" id="n1" checked="checked"/>
                <label class="button-label" for="n1">
                <h1>₹10 - ₹1999</h1>
                </label>
                <input class="hidden radio-label nri_predefined-denomination-cls" type="radio" name="nri_predefined" value="2" id="n2"/>
                <label class="button-label" for="n2">
                <h1>₹2,000 - ₹19,999</h1>
                </label>
                <input class="hidden radio-label nri_predefined-denomination-cls" type="radio" name="nri_predefined" value="3" id="n3" />
                <label class="button-label" for="n3">
                <h1>₹20,000 and Above</h1>
                </label>
              </div>
            </div>
            <div class="col-xs-12 ">
              <div class="col-md-6 col-md-push-3 amount_field">
              <div class="form-group float-label-control amount_field">
                <label for="nri_amount">Enter Amount</label>
                <input type="number" class="form-control" placeholder="Amount" name="nri_amount" id="nri_amount" onkeypress="return isNumeric(event)" >
              </div>
            </div>
            </div>
             <!-- <div class="col-xs-12 " id="nri_pancard_div" style="display:none">
              <div class="col-md-6 col-md-push-3 ">
              <div class="form-group float-label-control ">
                <label for="nri_PanCard">Pancard (optional)</label>
                <input type="text" class="form-control" placeholder="Pancard (optional)" id="nri_pancard" name="nri_pancard" >
               
              </div>
              </div>
            </div> -->
            
            <p id="nri_email_form" style="display:none;color:#fff"><span>*For the Amount Rs.20,000 and Above we will send  the form to your email,  please sign it and Send us back at donations@janasenaparty.org </span></span></p>
            

    </div>  

       <div class="col-xs-12">
              <div class="form-group">
                <h5>Are you interested in getting  reminder for donation?</h5>
                <input class="hidden radio-label remainder_cls yes-button" type="radio" id="nri_remainder_yes" name="nri_remainder" value="yes" checked="checked"/>
                <label class="button-label sm" for="nri_remainder_yes">
                <h1>Yes</h1>
                </label>
                <input class="hidden radio-label remainder_cls" type="radio" id="nri_remainder_no" name="nri_remainder" value="no" />
                <label class="button-label sm" for="nri_remainder_no">
                <h1>No</h1>
                </label>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-check" style="text-align:left !important">
                <label>
                  <input type="checkbox" name="nri_desclaimer" id="nri_desclaimer">
                  <span class="label-text"> 
                    I declare that I am an Indian citizen above 18 years of age and I am making this contribution voluntarily from legally earned personal
                    funds or Explainable Sources.<br>
                    <div id="nri_above_50k" style="display:none">
                    I can provide  hard copy of the confirmation letter for donation
                    whenever party requires and I have no objection to provide the details by the
                    janasena party to the income tax department and election commission as per the laws of india.
                    <br>
                    I also permit Janasena Party to communicate with me using my
                    phone and/or email specified above.
                    The particulars and statements made above are correct to the best of my knowledge
                    and belief.</div></span> </label>
              </div>
            </div> 
            
            <div class="col-xs-12 clearfix ">
              <div class="col-md-6 col-md-push-3 amount_field">
              <div style="border-bottom:1px solid #aaa">
                <span class="form-inline" id="nri_jscaptchatext" style="font-size: 20px;color:white"></span>
            
                <input type="number"  id="nri_jscaptchainput"  style="width: 50%;
  font-family: 'Open Sans', sans-serif;
  padding: 0.1em 0em 1px 0em;
  border: none;
  border-radius: 0px;
  color:white;
  font-size:20px;
  outline: none;
  margin: 0px;
  background: none;"/>
          </div>
                <p  id="nri_captcha_error1" style="color:white; font-size:1em;">Please enter above captcha 
                </p>
              
               </div>
             
            
            </div>
            <div class="col-xs-6 text-left">
              <button class="btn_next" id="nri_step_2_back">Back</button>
            </div>
            <div class="col-xs-6 text-right">
              <button class="btn_next" id="nri_step_2_next">SUBMIT</button>
            </div>
    

  </div>