
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Janasena Party</title>
<style>
table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

td {
    border: none;
}
</style>
</head>

<body>
<table  style="font-family:Arial, Helvetica, sans-serif;border:none">
  <tr>
    <td width="100" align="left"></td>
    <td align="left">&nbsp;</td>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="100" align="left"><img src="https://www.janasenaparty.org/static/img/jenasena_logo.png" width="85" alt=" " /></td>
    <td width="481" align="left"><p style="padding:0; margin:0;font-size:25px;color:#d81615"><strong>JANASENA PARTY</strong></p>
      <p style="font-size:14px;">Plot No.12, Road No.72, Prashasan Nagar,Jubilee Hills, Hyderabad, Telangana 500033. Phone: 040-23545990</p></td>
    <td width="209" align="left" valign="top"><p><strong>Regn No</strong>.-56/118/2014/PPS-I, Dated:24-11-2014<br />
        <strong>PAN</strong>-AACAJ2057M</p></td>
  </tr>
  <tr>
    <td width="100" align="left"></td>
    <td colspan="2" align="left"></td>
  </tr>
  <tr>
    <td colspan="3" align="center"><hr /></td>
  </tr>
  <tr>
    <td colspan="3" align="center" style="font-size:32px;">Donation Receipt</td>
  </tr>
  <tr>
    <td colspan="2" align="left" style="padding-left:15px;font-size:16px">
      <strong> Receipt No. :</strong>
    {{payment.transaction_id}}</td>
    <td align="right" style="padding-right:15px; font-size:16px"><strong>Date :</strong> {{payment.date}}</td>
  </tr>
  <tr>
    <td colspan="3" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" align="left"><br>
    <table   style="font-size:12px;  padding:10px   ;">
      <tr>
        <td width="30%"><strong>Received with thanks from</strong></td>
        <td colspan="3">{{payment.donar_name}}</td>
      </tr>
      <tr>
        <td width="30%"><strong>Resident of</strong></td>
        <td colspan="3">{{payment.address}}</td>
      </tr>
      <tr>
        <td><strong>Phone</strong></td>
        <td width="48%">{{payment.phone}}</td>
        
        </tr>
      <tr>
         <td><strong>Receipt Number</strong></td>
        <td>{{payment.transaction_id}}</td>
        <td width="20%"><strong>Country</strong></td>
        <td width="22%">{{payment.country}}</td>
        </tr>
      <tr>
       <td><strong>Payment Method</strong></td>
       <td>{{payment.payment_method}}</td>
        <td width="15%"><strong>Email</strong></td>
        <td width="35%">{{payment.email}}</td>
      </tr>
      <tr>
        <td><strong>Amount:</strong></td>
        <td colspan="3"> towards voluntary contribution to Party fund. <span style="border:1px solid #ccc; padding:3px 10px; font-size:18px;"><strong>Rs.{{payment.transaction_amount}}</strong></span> </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" align="left" style="font-size:11px; font-style:italic; padding-left:25px; line-height:20px;"><strong>Notes:</strong><br />
      1. This is a computer generated receipt and does not require a signature.<br />
      2. Donation, except through cash, is exempt from Income Tax U/S 80GGB/GGC of Income Tax Act, 1961. </td>
  </tr>
  <tr>
    <td colspan="3" align="left">&nbsp;</td>
  </tr>
</table>
</body>
</html>
