<div class="modal fade" id="options_modal" tabindex="-1" role="dialog" aria-labelledby="Donation Options" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Donation Options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <p>
                Indian citizens above 18 years of age can  donate to the JanaSena Party .<p>
                    <h5><strong>Donation Options available from Indian Accounts: </strong></h5>
                    <p>Online donation via Net Banking, Credit Card, Debit Card, Wallets (e.g. MobiKwik, Airtel Money, Freecharge,Ola Money etc.), UPI (Unified Payment Interface),  Sending Cheque or Demand Draft. </p>
                    <div style="text-align:center; margin-top:10px;">
                  <h5><strong>You can even donate through NEFT or RTGS using the follwing Details.</strong></h5><br>
                    <p style="font-weight:600">Syndicate Bank Details:</p>

                     <p>Account Name    :  Janasena Party</p>
                     <p>Account No      :  30061010011894</p>
                     <p>Bank Name       :  Syndicate Bank</p>
                     <p>Branch Name     :  Banjara Hills, Hyderabad</p>
                     <p>IFSC Code       :  SYNB 0003006</p>
                     </div>

                   <!--  <h5><strong>Donation Options available from Foreign Accounts: </strong></h5> -->
                    <p> </p>



                    <hr />


                    <h5><strong>Donate Through Cheque/Demand Draft</strong></h5>
                    You can send your Cheque/Demand Draft* in the favour of 'Janasena Party' (* Payable at Hyderabad) with your name, phone number, complete postal address, PAN number and e-mail address (if available) to the address mentioned below:<br />
                    <br />
                    <strong>Janasena Party</strong>
                    <br />
                    Plot no:12, Road No:72, Prashasan nagar
                    <br />
                    Jubilee Hills,

                    Hyderabad -500033<br />
                    INDIA<br />
                    <br />
                    While sending Demand Draft, please include a valid government-approved Photo ID.
                    <hr />
                    <h4><strong>Tax Exemption</strong></h4>
            Income of and/or contribution to a political party registered under Section 29-A of Representation of People Act 1951 are exempt under Sections 13-A and 80 GGB / 80 GGC of Income  Tax Act ,1961  respectively for income earned in india only. For this purpose, no registration/certification is required under IT Act 1961. Therefore, registration certificate issued by Election Commission of India and PAN allotted by Income Tax Department are the only two documents which enable a registered political party to collect contributions. 
            You can find our registration number and PAN number below.
            PAN: AACAJ2057M 
            Registration with ECI vide No: '56/118/2014/PPS-I, Dated:24-11-2014 .
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="donationfaq" tabindex="-1" role="dialog" aria-labelledby="Donations FAQ" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Donations FAQ">Donations FAQ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                      1. What are the methods I can use to donate to Janasena Party online?
                    </a>
                </h4>
            </div>
            <div id="collapse0" class="panel-collapse collapse in">
                <div class="panel-body">
                  You can donate online  Credit Card/Debit Card or Net Banking (Indian Banks only) and Wallet. The Wallet option covers wallets such as MobiKwik, Airtel Money, Freecharge,Ola Money etc. as well as UPI (Unified Payments Interface) and Cash cards. 
                  
                </div>
            </div>
        </div>




              <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                      2. Can I donate through NEFT or RTGS. If yes, how?
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                   You can  donate through NEFT or RTGS using the follwing Details.
                    <br />
                    <p style="font-weight:600">Syndicate Bank Details:</p>

                     <p>Account Name    :  Janasena Party</p>
                     <p>Account No      :  30061010011894</p>
                     <p>Bank Name       :  Syndicate Bank</p>
                     <p>Branch Name     :  Banjara Hills, Hyderabad</p>
                     <p>IFSC Code       :  SYNB 0003006</p>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                      3. Can I donate through cheques/demand drafts. If yes, how?
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  You can send your Cheque/Demand Draft* in the favour of 'Janasena Party' (*Payable at Hyderabad) with your name, phone number, complete postal address, PAN number and e-mail address (if available) to the address mentioned below:<br>Janasena Party<br> <br>Plot no:12, Road No:72, Prashasan Nagar
                    <br />
                    Jubilee Hills,
                    Hyderabad -500033<br />
                    INDIA<br /><br><br/>While sending Demand Draft, please include a valid government-approved photo ID.
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                      4. Are my donations eligible for tax deductions?
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  Yes,  All donations except cash are eligible for tax deductions under Section 80 GGB / 80 GGC of the Income Tax Act, 1961 for income earned in India.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                      5. Who can donate to Janasena Party?
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  Donor should be an Indian citizen and above 18 years of age.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                      6. How do I know that my donation has been received?
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  In case of online donations, a receipt is sent at the registered email address after every successful transaction. For Cheques / DD  donations, the receipt is sent by post or hand delivery as the case may be.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                      7. I have more questions on donations. How do I get more help?
                    </a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                  One can e-mail us at donations@janasenaparty.org .
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                      8. What payment gateways do you use?
                    </a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                   we use instamojo payment gateway.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                      9. What security measures do you have in place?
                    </a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                  The donation process is behind 128 bit SSL encryption. Our Payment gateway partners are PCI compliant. PCI compliance is the international minimum standard to be followed by all payment providers for security.  As soon as an online donation is made and is successful, donors get an email and sms from Janasena Party.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                      10. Do you store my payment related information?
                    </a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                 No. Janasena Party does not store payment related information of the donar.
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                      11. I had a failed transaction - what does it mean? Who do I get in touch with?
                    </a>
                </h4>
            </div>
            <div id="collapse16" class="panel-collapse collapse">
                <div class="panel-body">
                  You can email us at donations@janasenaparty.org .
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                      12. I had a failed transaction but money has been taken from my card/bank account. What do I need to do?
                    </a>
                </h4>
            </div>
            <div id="collapse17" class="panel-collapse collapse">
                <div class="panel-body">
                  You can email us at donations@janasenaparty.org .
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18">
                      13. I have no transaction number or email but money has been taken from the account.
                    </a>
                </h4>
            </div>
            <div id="collapse18" class="panel-collapse collapse">
                <div class="panel-body">
                   Email us at donations@janasenaparty.org with details such as amount, name of donor, email ID, date of transaction and mode of payment to check with payment gateway provider for further action.
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20">
                      14. I made a donation. I need a receipt for tax filing purposes.
                    </a>
                </h4>
            </div>
            <div id="collapse20" class="panel-collapse collapse">
                <div class="panel-body">
                  Mail us at donations@janasenaparty.org with details such as amount, name of donor, email id, date of transaction and mode of payment for sending receipt to registered email.
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>