
<!DOCTYPE html>
<html lang="en" class="cover">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>JanaSena Donations</title>
<link rel="icon" type="image/png" href="static/img/favicon.png">
<!-- Bootstrap -->
<link href="static/donations/css/bootstrap.min.css" rel="stylesheet">
<link href="static/donations/css/custom.css" rel="stylesheet">
<link href="static/donations/css/mediaqueries.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="content_wrapper">
  <div class="cover_container">

    <div class="form_container">

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 form_content">
            <div class="modalbox success  center animate">
         <!-- <div class="icon"> <span class="glyphicon glyphicon-ok"></span> </div> -->
        <div class="thankyou">
          <!-- <h1>Success!</h1> -->
          <div class="icon" style="margin-top:-50px;"> <span class="glyphicon glyphicon-ok"></span> </div>
          
          
          <p><img src="/static/donations/images/img_president.png" width="180" height="153" alt=""/></p>
          <p class="thankyoumsg">అందరి అభివృద్ధి కోసం సామాజిక సమతుల్యం కోసం పోరాడే జనసేన పార్టీకి<br><span>మీ సహకారానికి ధన్యవాదములు</span></p>
          
        </div>
      
      <dl>
  <dt>Name</dt>
  <dd>{{payment.donar_name}}</dd>
        <dt>Amount</dt>
  <dd>Rs.{{payment.transaction_amount}}/-</dd>
        <dt>Transaction ID</dt>
  <dd>{{payment.transaction_id}}</dd>
   <dt>Transaction Date</dt>
  <dd>{{payment.date}}</dd>
</dl>
              <button type="button" class="btn"><a href="https://janasenaparty.org" class="btn_next"><i class="fas fa-home"></i> <span class="hidden-xs">Go to JanaSena Home Page</span></a></button>
              <!--/.icon-->
              <div class="col-xs-12" style="text-align:left">
             <h4>Note:</h4>
<ul class="notes">
<li> Donations to JSP, except those in cash, are exempt under Income Tax Act 1961, u/s 80GGB/80GGC.</li>
<li>The Receipt was sent To Your Email.</li>
<li>For any queries regarding donation email us at donations@janasenaparty.org.</li>
</ul>


              </div>


            <!--/.success--> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="static/donations/js/bootstrap.min.js"></script>

</body>
</html>