
  <div class="form-group row">

                      <div class="form-group" id="frequency_div">
                        <h4 style="color:white">I Like to Donate</h4>

                        <input class="hidden radio-label billing-frequency-cls" type="radio" name="billing-frequency-btn"
                          value="weekly" id="weekly" />
                        <label class="button-label" for="weekly">
                          <h5>Weekly</h5>
                        </label>

                        <input class="hidden radio-label billing-frequency-cls" type="radio" name="billing-frequency-btn"
                          value="monthly" id="monthly" />
                        <label class="button-label" for="monthly">
                          <h5>Monthly</h5>
                        </label>
                        <input class="hidden radio-label billing-frequency-cls" type="radio" name="billing-frequency-btn"
                          value="yearly" id="yearly" />
                        <label class="button-label" for="yearly">
                          <h5>Yearly</h5>
                        </label>

                        </div>
                    </div>

   
               <div class="form-group">
                <h2 style="color:white">Select Amount Range</h2>
                <input class="hidden radio-label recurring-denomination-cls yes-button" type="radio" name="recurring-denomination-btn" value="r1" id="r1" checked="checked"/>
                <label class="button-label" for="r1">
                <h1>₹10 - ₹1999</h1>
                </label>
                <input class="hidden radio-label recurring-denomination-cls" type="radio" name="recurring-denomination-btn" value="r2" id="r2"/>
                <label class="button-label" for="r2">
                <h1>₹2,000 - ₹19,999</h1>
                </label>
                <input class="hidden radio-label recurring-denomination-cls" type="radio" name="recurring-denomination-btn" value="r3" id="r3"/>
                <label class="button-label" for="r3">
                <h1>₹20,000 and Above</h1>
                </label>
              </div>
            
            
            
            <div class="col-md-6 col-md-push-3 amount_field">
              <div class="form-group float-label-control amount_field">
                
                <input type="number" class="form-control empty" placeholder=" Billing Amount" name="amount" id="amount1" onkeypress="return isNumeric(event)" max="1999" min="10" autocomplete="off">
              <label for="amount1">Billing Amount</label></div>
            </div>

  
      <div class="col-xs-12 " id="recurring_pancard_div" style="display:none">
              <div class="col-md-6 col-md-push-3 ">
              <div class="form-group float-label-control ">
                <label for="recurring_pancard">Pancard</label>
                <input type="text" class="form-control" placeholder="PanCard" id="recurring_pancard" name="pancard" >
                <span style="color:#fff; font-size:0.75em" > <span style="color:red">* </span>Pancard Details are Mandatory for the Amount  Rs.2,000/-  Onwards</span>
              </div>
              </div>
            </div>
            <div class="col-xs-12" id="recurring_five_lakhs_above_div" style="display:none;color:#fff">
            <p ><span>*We don’t accept online donations for amounts 500,000 and above. Please send a cheque or a DD to <br>
Janasena Party <br>
Plot No.12, Rd Number 1, Prashasan Nagar, Jubilee Hills, Hyderabad, Telangana 500033 </span></p>
    </div>
            <div class="col-xs-12">
              <div  style="text-align:left !important;font-size: 14px;line-height: 20px;font-weight: 400;color: #fff;padding: 10px;">
                <label>
                  <input type="checkbox" name="recur_desclaimer" id="recur_desclaimer" >
                  <span class="label-text" style="line-height: 22px;"> 
                    I declare that I am an Indian citizen above 18 years of age and I am making this contribution voluntarily from legally earned personal
                    funds or Explainable Sources.<br>
                    <span style="color:cornflowerblue;font-size: 15px;">Note:</span>
                    &nbsp; <span>I understand that my card
                      will be charged Rs.5 refunable amount during
                      subscription. Once subscribed, the Rs.5 will be refunded back and the actual donation
                      amount will be charged</span>
                 </span>


                    <div id="rec_above_50k" style="display:none">
                    I can provide  hard copy of the confirmation letter for donation
                    whenever party requires and I have no objection to provide the details by the
                    janasena party to the income tax department and election commission as per the laws of india.
                    <br>
                    I also permit Janasena Party to communicate with me using my
                    phone and/or email specified above.
                    The particulars and statements made above are correct to the best of my knowledge
                    and belief.</div> </label>
              </div>
            </div>
            <div class="col-xs-12">
                      <h4 style="color:cornflowerblue;text-align: left; padding: 0 0 0 0px;">Note: <span style="color:white">
                          Subscription payments are only supported on Master card and Visa Credit Cards.</span></h4>

                    </div>
            <div class="col-xs-12 clearfix ">
              <div class="col-md-6 col-md-push-3 amount_field">
              <div style="border-bottom:1px solid #aaa">
                <span class="form-inline" id="jscaptchatext1" style="font-size: 20px;color:white"></span>
            
                <input type="number"  id="jscaptchainput1"  style="width: 50%;
  font-family: 'Open Sans', sans-serif;
  padding: 0.1em 0em 1px 0em;
  border: none;
  border-radius: 0px;
  color:white;
  font-size:20px;
  outline: none;
  margin: 0px;
  background: none;"/>
          </div>
                <p  id="captcha_error1" style="color:#d81615; font-size:1em;">Please enter above captcha 
                </p>
              
               </div>
             
            
            </div>
            <div class="col-xs-6 text-left">
              <button class="btn_next" id="step_2_back1">Back</button>
            </div>
            <div class="col-xs-6 text-right">
              <button class="btn_next" id="step_2_next1">NEXT</button>
            </div>
   