<!DOCTYPE html>
<html>
<head>
    <title>JANASENA PARTY</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-HzUaiJdCTIY/RL2vDPRGdEQHHahjzwoJJzGUkYjHVzTwXFQ2QN/nVgX7tzoMW3Ov" crossorigin="anonymous">
<link rel="icon" type="image/png" href="/static/img/favicon.png">
    <style type="text/css">
        html, body{
            margin: 0;
            left: 0;
            top: 0;
            background: white;
            overflow-x: hidden;
        }
        .logo-wrapper{
            padding: 20px;
        }
        .custom-button{
            background: #3AC6FC;
            border: none;
            box-shadow: none;
        }
        .borderbots{
            border-bottom: 3px solid #3AC6FC;
        }
        .maxmargin{
            padding: 10px;
        }
        .shadow{
            box-shadow: 0 0 4px #e5e5e5;
        }
        h2{
            color: #3AC6FC;

        }
        h6{
            color: #3AC6FC;
            font-weight: bold;
        }
        h5{
            color: #3AC6FC;
            font-weight: bold;
        }
        /*p{
            color: grey;
            font-weight: bold;
        }*/
        .bubbles > span{
            margin: 8px;
            padding: 8px;
            float: left;
            text-align: center;
        }
        .pignose-calendar{
            box-shadow: none !important;
            border: none !important;
        }
        .table>tbody>tr>td{
        border: none;
        /*text-align: center;*/
        }
    </style>
</head>
<body>
<div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12" style="background: #EFEFEF">
            <div class="row ">
                <div class=" logo-wrapper col-md-3 col-sm-6 col-lg-3" style="text-align:center">
                <a href="https://janasenaparty.org"><img src="static/img/logo.png" width="100px;" align="center"></a>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <h3 style="color: #d81615;text-align: center; font-weight: bold;">JANASENA PARTY</h3> 
            </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
               
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;" id="receipt_div">
    <div class="row">
       
            
            <p style="color: #d81615;text-align: center;">Your Payment Successfully Done.<br>
You will also receive a confirmation email.</p>
<p style="color: #d81615;font-weight: bold; margin: 10px;text-align: center;">Payment Summary</p>
        
    </div>
   
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12" style="padding: 0px ; font-size:14px">
            <div class="table-responsive" style="border: none">
                <div class="col-md-3 col-sm-12 col-lg-3"></div>
                <div class="col-md-6 col-sm-12 col-lg-6">
              <table class="table borderless" style="text-align:left">

                <tbody>
                     <tr>
                    <td style="background: #F4F4F4">ORDER ID :</td><td>{{ payment.transaction_id }}</td>
                  </tr>
                   <tr>
                    <td style="background: #F4F4F4">Amount :</td><td>{{ payment.transaction_payment }}</td>
                  </tr>
                  <tr>
                    <td style="background: #F4F4F4">Name</td><td>{{ payment.donar_name }}</td>
                  </tr>
                  <tr>
                    <td style="background: #F4F4F4">Email</td><td>{{ payment.email  }}</td>
                  </tr>
                  <tr>
                    <td style="background: #F4F4F4">Mobile Number</td><td>{{ payment.phone  }}</td>
                  </tr>
                  
                 <tr>
                    <td style="background: #F4F4F4">Address:</td><td><p>{{ payment.address  }}</p></td>
                  </tr>
                
                </tbody>
              </table>
               </div>
              <div class="col-md-3 col-sm-12 col-lg-3"></div>
            </div>
            
        </div>
    </div>
    <div class="row" style="text-align:center">
                <input type='button' id='btn'  value='Print' onclick='printDiv();'> 
            </div>
    </div>
</body>
</html>

<script>
function printDiv() 
{

  var divToPrint=document.getElementById('receipt_div');

  var newWin=window.open('','Print-Window');

  newWin.document.open();

  newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

  newWin.document.close();

  setTimeout(function(){newWin.close();},10);

}
</script>