

{% extends "layout.html" %}
{% block title %}Unauthorised Access{% endblock %}
{% block body %}
  <h1>You don't have permission to access This Page .</h1>
  <p>Please Contact Admin.
  <p><a href="{{ url_for('website.index') }}">go Home</a>
{% endblock %}