<!DOCTYPE html>
<html>
<head>

    <title>JANASENA Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
   
  
 <link rel="stylesheet" type="text/css" href="/static/css/datagrid.css" />


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" /> -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
  <script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>
    
      
      <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap.min.js"></script>
      
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
    
   
     <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

     <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
     
   <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script> -->
    <!--  query builder cdns -->


  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder@2.5.2/dist/css/query-builder.default.min.css">
  <script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder@2.5.2/dist/js/query-builder.standalone.min.js"></script>
  
<!--   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css">
  <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css">
  <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"> -->

  <link href="https://querybuilder.js.org/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <script src="https://querybuilder.js.org/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <style>
.show{
  display:block;
}
.hide{
  display:none;
}

.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
.myactiveclass{}
.mypassiveclass{}

.navbar-inverse{
    background-color: #2E353D !important;
    border-color: #2E353D !important;
    padding-right:10px;
    color:#eceff1 ;
}
}

  .nav-side-menu {
  <!--overflow: auto;-->
  overflow-y: scroll;
  overflow-x:hidden;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  <!--position: fixed;-->
  top: 0px;
  width: 100%;
  max-height: 800px;
  color: #e1ffff;
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
  color: #D9F6F6;
}


}

    </style>
    {% block head%}
    {% endblock%}
</head>

<body class='container-fluid' style="background-color: #2E353D;
    min-height: 800px;">

<div class="row" >
            <div class="navbar navbar-inverse navbar-fixed-top" role="banner" style="margin-bottom:0px">
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            {% if current_user.urole=='AD' %}
                            <a href="/createAdmin"> Create New One</a>

                        </li>
                        <li class="dropdown">

                            <a href="{{url_for('admin_dash.createCategory')}}">Create Category</a>
                        </li>
                        <li class="dropdown">

                            <a href="{{url_for('admin_dash.changePasswordAdmin')}}">Change Password</a>
                        </li>
                        <li class="dropdown">
                            <a href="{{url_for('admin_dash.logout')}}" >Logout</a>

                        </li>
                        {% else %}
                        <li class="dropdown">

                            <a href="{{url_for('admin_dash.changePasswordAdmin')}}">Change Password</a>
                        </li>
                        <li class="dropdown">
                            <a href="{{url_for('admin_dash.logout')}}" >Logout</a>

                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
<div class="row" style="margin-top:50px;">


    <div class="col-md-2" style="max-height:800px; overflow-y:scroll;overflow-x:hidden;">
        <!-- Logo -->

        <div class="nav-side-menu row" style="padding-left:5px;">
            <div class="row ">
                <img src="/static/img/logo.png" id='image' style="width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;"/>
            </div>

            <div class="row">
                <div class="menu-list col-md-12" style="display: block; ">
                <ul id="menu-content" class="menu-content out">
                    <!-- Main menu -->
                    <li class=" profile">
                        <!-- menu profile quick info -->
                        <div class="profile">

                            <div class="profile_info">
                                <h5 class="col-md-offset-2" style="color:#fff !important">Welcome {{current_user.fname}}</h5>

                            </div>
                        </div>
                        <br>

                    </li>

                      {% for menu in session['menus'] %}
             
                   {% if menu.get('target')=='_blank' %}
                  
                     <li><i class="fa fa-dashboard fa-lg"></i><a href="{{ menu.get('service_url')}}" id="group" target="_blank"> {{menu.get('service_name')}}</a>
                    </li>
                    {% else %}
                     <li><i class="fa fa-dashboard fa-lg"></i><a href="{{ menu.get('service_url')}}" id="group" > {{menu.get('service_name')}}</a>
                    </li>
                    {% endif %}
               
            {% endfor %}
                 
                   

                    </ul>
            </div>
            </div>



        </div>
    </div>

<div class="page-content col-md-10" style="background-color:#f7f7f7 !important;color:#d81615 !important; overflow-x: hidden;">





        <div class="row" style="background-color:#f7f7f7 !important;color:#d81615 !important;min-height:800px;">
    
<div class="clearfix">&nbsp;<br>
            </div>
            {% include 'loader.html' %}

         


            {% block body %}
            {% block querybuilder %}
             

            {% endblock %}


            {% endblock %}
        </div>
    </div>
</div>
<div class="row">
    <footer>
    <div class="container">

        <div class="copy text-center">
            Copyright 2019 <a href='#'>JANASENA PARTY</a>
        </div>

    </div>
</footer>
</div>
{% block scripts%}
<script src="/static/assets/js/custom.js"></script>
{% endblock %}
</body>
</html>