
<style>
 .captcha-textbox {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px 4px; 
}

.captcha-textbox li {
    display: inline-block;
    list-style: none;
    margin-left: 5px;   
}

.captcha-textbox input {
    background: none;
    border: none;
    width:90%;
    border: none;
}
</style>

<label for="ebcaptchainput"> Solve This Problem:</span>
           
         
          <ul class="captcha-textbox">
            <li> <span class="form-inline" id="ebcaptchatext" ></span></li>
   
            <li> <input type="number" class="textbox" id="ebcaptchainput" required data-error="Please solve the math problem."/></li>
          </ul>
          <div  id="captcha_error" style="display:none;color:#d81615;">Please solve the above math problem
          </div>


          <script src="/static/js/captcha.js"></script>