{% extends "layout.html" %}

{% block body %}
<style>
.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}
input[type=number] {
    -moz-appearance:textfield;
}
</style>
  <style type="text/css">
		  .jforms input { border:1px solid #d81615 !important; border-radius:3px; margin:0 !important;}
		  textarea{ height:125px; border-radius:3px; border:1px solid #d81615 !important; }
		  .attach {width:94%; padding:5px;}
		  .labels { font-size:.8rem !important; color:#fff;  background:#d81615 url(../img/home-boxes-rt-tp-white.png) no-repeat right top; padding:3px 20px 3px 10px; position:relative; bottom:3px !important;}
		  </style>
<div class="col l9 m12 s12">
	<form class="jforms" method="post" enctype="multipart/form-data" autocomplete="off" onSubmit="return validateform();" style="margin-top:20px">
		 <div class="row form-row-margin">
		 	<h4 style="color:#d81615;text-align:center">JanaSena Party Facilitator Form</h4>
		 </div>
		 				<div class="row" style="padding-right:30px;">
                       
                        <h6>Based on the responsibilities described in the email, are you interested to join as JanaSena Facilitator?</h6>
                        <p><h6>సమన్వయకర్తలుగా పనిచేయటం మీకు సమ్మతమేనా?</h6></p> 
                       
                        </div>
		 				 <div class="form-group checkbox_group row">
                        
                         <div class="col l4 m4 s12" style="padding-right:30px;">
                        <input type="radio"  name="confirmation" value="yes" id="yes"   /> <label for="yes" style="color: black;font-weight: 600;">YES / సమ్మతం </label> &nbsp;
                        </div>
                         <div class="col l4 m4 s12" style="padding-right:30px;">
                        <input type="radio"   name="confirmation" value="no" id="no"  class="filled-in checkbox-orange"/><label  for="no" style="color: black;font-weight: 600;">NO / సమ్మతం కాదు </label> &nbsp;
                        </div>
                        
                        
                         
                       
                    </div>
		 			
                    <div class="form-row-margin row">
                    	 <div class="col l6 m6 s12" style="margin:30px 0 0 0;">
                      <label for="voter_id" class="labels name"> Voter ID: </label>
                      <input type="text" name="voter_id" class="form-control" id="voter_id" placeholder="Tell Us Your Voter ID" minlength="10" maxlength="14"   >

                    </div>
                   <div class="col l6 m6 s12" style="margin:30px 0 0 0;">
                  
                      <label for="aadhar_id" class="labels email"> Aadhar Number: </label>
                      <input type="number" name="aadhar_id" class="form-control" id="aadhar_id" placeholder="Enter Your Aadhar Id here"  maxlength="12" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)"  >
                    </div>
                 </div>
                   <div class="row form-row-margin">
                <div class="col l6 m6 s12" style="float:left">
                  <div class="g-recaptcha" data-sitekey="6LcZQhIUAAAAANQ7XJPTY3hBIcNYOwKZ7OhHus8f" data-theme="light"></div>
                </div>
                <div class="col l6 m6 s12" style="text-align:center; padding:0;"> <br>
                  <input type="submit" class="btn red darken-3 z-depth-0" value="Submit">
                </div>
                <br>
                <br>
              </div>


	</form>
	</div>
	 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 
		<script src='https://www.google.com/recaptcha/api.js'></script>
	<script>
function maxLengthCheck(object) {
	console.log('hello')
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  console.log(object.maxLength)
  } 
function isNumeric (evt) {
	console.log('hello')
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    console.log(key)
    var regex = /[0-9\b]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }  
function validatevoter_id()
{
  var regex = /^[A-Za-z]{2,3}[0-9]*$/g;
  var voter_id=$("#voter_id").val();
  var length=voter_id.length;
  if(length>=10 && length<=14){
    if(regex.test(voter_id))
    {
    	console.log("validated")
      return true;
      
    }
    else
    {
    	console.log(" not validated")
      return false;
      
    }
      
   
    

  

}


  } 


	 function validateform(){

	 	var voter_id=$("#voter_id").val();
              console.log(voter_id);
              if (voter_id!='')
              {
              	if(!validatevoter_id()){
              		alert("please enter valid Voter ID");
              		return false;
              	}
              }

              var aadhar_id=$("#aadhar_id").val();
              console.log(aadhar_id)
              if (aadhar_id!='')
              {
              	if(aadhar_id.length!=12)
              	{
              		alert("please enter valid Aadhar ID");
              		return false;
              	}
              	
              } 

	 	 var confirmation = $('input[name=confirmation]:checked').val();
            
        
            if (!confirmation) {

                alert("Please Select Yes or No! ");
                return false;
             
              }
                       var captcha_response = grecaptcha.getResponse();
          if(captcha_response.length == 0)
          {
              // Captcha is not Passed
              alert('Please verify google captcha')
              return false;
          }
          else
          {
             
              $(".loader").css("display","block");
              return true;
              
          }
      }
	</script>
	{% endblock %}