<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>JanaSena Party</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=" Janasena Membership is started as announced by Janasena chief Pawan Kalyan Interested people can join Janasena party by filling the Janasena Membership form" />
<meta name="title" content=" Janasena Membership | Janasena membership form| Join Janasena party" />
<meta name="keywords" content=" Janasena Membership enrolment form, Janasena membership form, Join Janasena party, Janasena Indian political party, Join Janasena party as a member, Join Janasena political party" />
  <!-- Latest compiled and minified CSS -->
   <meta name="csrf-token" content="{{ csrf_token() }}">
  <link rel="icon" type="image/png" href="/static/img/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ramabhadra&amp;subset=telugu" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  

  <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
  <script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>
  <style>
      label{
       font-family: Ramabhadra,sans-serif;
    font-size: 20px;
    font-weight: 500 !important;
      }
    .fa {
      padding: 3px !important;
      font-size: 22px !important;
      width: 30px !important;
      text-align: center !important;
      text-decoration: none !important;
      margin: 3px !important;
    }
    .submit{
      background: #d61f26;
    border: 0;
    padding: 8px 30px;
    color: #fff;
    margin: 10px 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
    position: relative;
    }
  
    .fahover {
      opacity: 0.7;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-home {
      background: #bb0000;
      color: white;
    }
   
.radio-inline{
margin-left: 0px!important
}
 @media (max-width: 415px){
    .xs-hidden{
      display:none!important;
    }
    .playstore{
      display:none!important;
    }
    .googleplay{
      display:none!important;
    }
    .border{
      width:95%!important
    }
    .input_field{
      width: calc(100% - 1px)!important;
    }
    .row-container{
      width: 100%!important;
    }
      .container
    {
      width:95% !important;
    }
    select 
    {
      width:100% !important;
    }
    label{
      margin-top: 10px !important;
    }
   
 }
 
 input_field:first-letter {
    text-transform: uppercase;
}
 .input_field {
      width: calc(100% - 50px);
      border: 1px solid #d5d4d4;
      /* margin: 0 16px; */
      float: left;
      height: 30px;

      padding: 17px 10px;
      border-color: cadetblue;
    }

    #submit_login{
      background: #d61f26;
    border: 0;
    padding: 8px 30px;
    color: #fff;
    margin: 10px 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
    position: relative;
    margin-left: 24px;
    }
    .form-control.volun{
    padding: 23px 15px;
    color: #2a2a2a;
    background-color: #fff;
    border: 2px solid #dadfe6;
    border-radius: 4px;
    font-size: 15px;
    width: 100%;
    border-color: #a94442
}


.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-1.active{background-color: #006FFC;color: white;}
.btn-default.btn-off-1.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-2.active{background-color: #00D590;color: white;}
.btn-default.btn-off-2.active{background-color: #A7A7A7;color: white;}

.btn-default.btn-on-3.active{color: #5BB75B;font-weight:bolder;}
.btn-default.btn-off-3.active{color: #DA4F49;font-weight:bolder;}

.btn-default.btn-on-4.active{background-color: #006FFC;color: #5BB75B;}
.btn-default.btn-off-4.active{background-color: #DA4F49;color: #DA4F49;}

 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
   .row-container{
     width:100%!important
   }
   .googleplay,.playstore
   {
    display:none !important;
   }


 }

 .loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display : none;
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
  </style>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90631816-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1618598754905043'); 
fbq('track', 'PageView');
</script>

<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=1618598754905043&ev=PageView
&noscript=1"/>
</noscript>



</head>

<body>
  <div class="loader">
    <div class="spinner"> <svg width='48px' height='48px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid" class="uil-hourglass">
        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
        <g>
          <path fill="none" stroke="#53c31a" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z"
            class="glass"></path>
          <clipPath id="uil-hourglass-clip1">
            <rect x="15" y="20" width="70" height="25" class="clip">
              <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0"
                keyTimes="0;0.5;1"></animate>
              <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
            </rect>
          </clipPath>
          <clipPath id="uil-hourglass-clip2">
            <rect x="15" y="55" width="70" height="25" class="clip">
              <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25"
                keyTimes="0;0.5;1"></animate>
              <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
            </rect>
          </clipPath>
          <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)" fill="#e0e0d0"
            class="sand"></path>
          <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)" fill="#e0e0d0"
            class="sand"></path>
          <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite"
            dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
        </g>
      </svg> </div>
  </div>
  <div class="wrapper" style="height:60px;width:100%;position:fixed;top:0;
    z-index:1000;box-shadow: 0 3px 5px #607D8B;background-color: white;">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
           <a href="https://janasenaparty.org/"><img src="/static/img/sena2.png" style="width:50px;margin: 6px 6px 6px 6px;margin-top:6px"> </a>
        </div>
        <div class=" car xs-hidden  col-sm-3 col-md-5 col-lg-5">
          <h3>JanaSena {{data.district_name}} District</h3>
        </div>
        <div class="social-icons col-xs-9 col-sm-8 col-md-6 col-lg-6" style="text-align:right;
            margin-top: 18px;">
          <a href="https://janasenaparty.org/">
            <i class="fa fa-home"></i>
          </a>
          <a href="https://www.facebook.com/janasenaparty/" target="_blank" class="fa fa-facebook"></a>
          <a href="https://www.instagram.com/Janasenaparty/" target="_blank" class="fa fa-instagram"></a>
          <a href="https://twitter.com/Janasenaparty?lang=en" target="_blank" class="fa fa-twitter"></a>
          <a href="https://www.youtube.com/Janasenaparty" target="_blank" class="fa fa-youtube"></a>
          <a class="googleplay" href="https://play.google.com/store/apps/details?id=com.janasena.powerchamp" target="_blank">
            <img src="/static/img/google_play.png" style="max-height:28px;">
          </a>
          <a class="playstore" href="https://itunes.apple.com/in/app/janasainyam/id1378013905?mt=8" target="_blank">
            <img src="/static/img/app-store.png" style="max-height:28px">
          </a>
        </div>
      </div>
    </div>
  </div>
  {% block body %}
       
        

        {% endblock %}

  </body>

</html>