
{% extends "admin_layout.html" %}


{% block body %}
<body>
<div class="panel panel-primary" style="margin:20px;">
	<div class="panel-heading">
        	<h3 class="panel-title">Employee Registration Form</h3>
	</div>
<div class="panel-body">
    <form>
<div class="col-md-12 col-sm-12">
	<div class="form-group col-md-6 col-sm-6">
            <label for="name">Name*	</label>
            <input type="text" class="form-control input-sm" id="name" placeholder="">
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="email">Email*</label>
            <input type="email" class="form-control input-sm" id="email" placeholder="">
        </div>

        <div class="form-group col-md-6 col-sm-6">
            <label for="mobile">Mobile*</label>
            <input type="text" class="form-control input-sm" id="mobile" placeholder="">
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="department">Department*</label>
            <select name="department" id="department" class="form-control browser-default ">
<option value="">select Department</option>
<option value="IT">IT Department</option>
<option value="Social Media">Social Media </option>

<option value="Media">Media </option>
<option value="Accounts">Accounts</option>
<option value="Administration">Administration</option>
<option value="Front Desk">Front Desk</option>
<option value="Security">Security</option>


            </select>

        </div>

	
	
	<div class="form-group col-md-6 col-sm-6">
            <label for="city">City*</label>
            <input type="text" class="form-control input-sm" id="city" placeholder="">
        </div>
	
	<div class="form-group col-md-6 col-sm-6">
            <label for="state">State*</label>
           <select name="department" id="department" class="form-control browser-default ">
<option value="">select State</option>
<option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Telangana">Telangana</option>
</select>
        </div>
        <div class="form-group ">
	      <label for="address">Address*</label>
	      <textarea class="form-control input-sm" id="address" rows="3"></textarea>
	   </div>
	   <div class="form-group ">
	    <label for="photo">Photo*</label>
	    <input type="file" id="photo" accept="image/*">
	    <p class="help-block">Please upload individual photo.</p>
	</div>


	
</div>




<div class="col-md-12 col-sm-12">
	<div class="form-group col-md-3 col-sm-3 pull-right" >
			<input type="submit" class="btn btn-primary" value="Submit"/>
	</div>
</div>
</form>
</div>
</body>
{% endblock %}