{% extends "layout.html" %}


{% block body %}

<body>
<div class="panel panel-primary" style="margin:50px;">
	<div class="panel-heading">
        	<h5 class="panel-title" style="text-transform:capitalize">Invalid Details Given</h5>
	</div>

	</div>
</body>


{% endblock %}