<!DOCTYPE html>
<html>
<head>

    <title>JANASAINYAM Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- Bootstrap -->
    <!--    <link href="static/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
       --> <!-- styles -->
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--  // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>
   
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">


    



    


    <style>

    </style>
    {% block head%}

    {% endblock%}
</head>

<body class='container-fluid pull-right' style="background-color: #2E353D;
    min-height: 800px;">


           
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark"  style="margin-bottom:0px">

                    
                     <ul class="navbar-nav ml-auto">
                         <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
       Welcome {{current_user.fname}}
      </a>
                   
                         <div class="dropdown-menu">
                              <a class='dropdown-item' href="/changePasswordjanasainyam">Change Password</a>
                                 <a class='dropdown-item' href="/janasainyamlogout">Logout</a>
        
      </div>
                     
                    </li>
                </ul>
                   
                </nav>
           
           
<div class="row">
    <div class="col-md-2 col-lg-2 col-xs-4 col-sm-4">
           

           
                
                <div class="menu-list " style="display: block; ">
                    <ul id="menu-content" class="menu-content out" style="padding-left: 0px;">
                        <!-- Main menu -->
                        <li class=" profile">
                            <!-- menu profile quick info -->
                            <div class="profile">
                                 <div class="row ">
                    <img src="/static/img/logo.png" id='image' style="width: 100px;
                    height: 100px;
                    margin-left: 50px;
                    margin-top: 20px;
                    margin-bottom: 25px;"/>
                    </div>
                               
                            </div>
                            <br>
                            </li>

                         <li><a href="/offlineMemberships" id="membership"> Offline Memberships </a></li>
                        <li><a href="/edit_offline" id="membership"> Edit Membership  </a></li>
                        <li><a href="/offlineMembershipsissues" id="membership">  Membership Issues </a></li>
                         <li><a href="/call_center_form?cid=1" id="membership" target="_blank" >  Call Center Form  </a></li>


                    </ul>
                </div>
           
            </div>



        




   


    <div class="page-content col-md-10 col-lg-10 col-xs-8 col-sm-8" style="background-color:#f7f7f7 !important;color:#d81615 !important; overflow-x: auto;">




            {% block body %}

            {% endblock %}
        
    </div>
</div>

{% block scripts%}
<script src="/static/assets/js/custom.js"></script>
{% endblock %}
</body>
</html>