<!DOCTYPE html>

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content=" JanaSena Party is an Indian political party in the states of Andhra Pradesh and Telangana, founded by actor turned politician Pawan Kalyan on 14 March 2014. Jana Sena means People’s Army in Telugu" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="TQ0G4PCiAgF96GsS1qHrnme8hY-7UMJqCRdynL041A4" />
<meta name="csrf-token" content="{{ csrf_token() }}">

<!-- InstanceBeginEditable name="doctitle" -->
<title>Janasena Party</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" href="{{url_for('static',filename='assets/nav/css/reset.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='assets/nav/css/style.css')}}">
<link rel="icon" type="image/png" href="{{url_for('static',filename='img/favicon.png')}}">
<script src="{{url_for('static',filename='assets/nav/js/modernizr.js')}}"></script><!-- Modernizr -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 
<script src="{{url_for('static',filename='assets/js/jquery.timeago.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/prism.js')}}"></script>

<!-- <script src="static/assets/js/init.js"></script>  -->
<script src="{{url_for('static',filename='assets/nav/js/jquery-2.1.4.js')}}"></script>
<script src="{{url_for('static',filename='assets/nav/js/jquery.menu-aim.js')}}"></script>
<script src="{{url_for('static',filename='assets/nav/js/main.js')}}"></script>
<link href="{{url_for('static',filename='assets/css/prism.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='assets/css/ghpages-materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90631816-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1618598754905043'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=1618598754905043&ev=PageView
&noscript=1"/>
</noscript>

<script>
      window.fbMessengerPlugins = window.fbMessengerPlugins || {
        init: function () {
          FB.init({
            appId            : '1678638095724206',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.10'
          });
        }, callable: []
      };
      window.fbAsyncInit = window.fbAsyncInit || function () {
        window.fbMessengerPlugins.callable.forEach(function (item) { item(); });
        window.fbMessengerPlugins.init();
      };
      setTimeout(function () {
        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) { return; }
          js = d.createElement(s);
          js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      }, 0);
      </script>
<style>

/*.fb_iframe_widget iframe
{
height:124pt !important;
}*/
.fb_iframe_widget iframe.fb_customer_chat_bounce_in
{
  height:300pt !important;
}
.messages ._4xko {
    max-width: 65% !important;
font-size:11pt !important;
}
</style>
<!-- End Facebook Pixel Code -->
</head>

<body>
<header class="cd-main-header show-on-medium-and-down"> 
  <a href="javascript:void(0);" class="cd-nav-trigger"><span></span></a>
</header>
<section class="no-padding" style="background:url(/static/img/top-header-bgr.png) repeat-x;">
  <div
        class="fb-customerchat"
        page_id="273833329682616"
        ref="">
      </div>
  <div class="row">
      <div class="col l4 m12 s12 center-align"><a href="/"> <img src="/static/img/jenasena_logo.png" class="responsive-img" alt="Jana Sena Party Logo" style="position:relative; top:45px;"></a> </div>
    
    <div class="col l4 m12 s12 black-text"> 
   <div style="position:relative; top:150px; " class="hide-on-med-and-down">
              
        <span style="font-size:16px; font-weight:800;color:#d81615;">Follow Our Social Stream </span>
    <a href="https://www.facebook.com/janasenaparty/" target="_blank"><i class="fa fa-facebook white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/Janasenaparty?lang=en" target="_blank"><i class="fa fa-twitter white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/Janasenaparty" target="_blank"><i class="fa fa-instagram white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;
    <a href="https://www.youtube.com/Janasenaparty" target="_blank"><i class="fa fa-youtube white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>

    </div>
     </div>
    <div class="col l4 m12 s12 right-align no-padding hide-on-med-and-down"> <img src="static/img/rt-header-bit.png" height="162" alt=" "> </div>
  </div>
</section>
<main class="cd-main-content" style="padding:0 !important;margin-top: 45px;">
  <section>
    <div class="container">
      <div class="row">
        <div class="col l3 m12 s12">
          <nav class="cd-side-nav z-depth-0">
            <ul style="font-family: 'Bree Serif', serif;">
              <li class="center-align"> <a href="/" style="background:none !important;"><i class="fa fa-home fa-2x"></i></a> </li>
              <li> <a href="/about">Party</a></li>
             
                
                <li> <a href="/membership" style="color:#d81615">Membership</a></li>
                <li> <a href="/membershipint" style="color:#d81615">NRI Membership</a></li>
                <li> <a href="/memberlogin" style="color:#d81615">Member Login</a></li>
                 <li> <a href="https://events.janasenaparty.org" style="color:#d81615">EVENTS</a></li>
                 
               
              

              <li class="has-children"> <a href="javascript:void(0);">Issues</a>
                <ul>
                <li><a href="/APSpecialStatusIssue">AP Special Status</a></li>
                  <li><a href="/UddanamKidneyIssue">Uddanam</a></li>
                  <li style="border-bottom:none;"><a href="/BhimavaramAcquaFoodparkIssue">Aqua Food Park</a></li>
                </ul>
              </li>
             

              <li> <a href="/janaswaram">Janaswaram</a></li>
              <li> <a href="/NRIConnect">NRI Connect</a></li>
              
              <li> <a href="/media">Media</a></li>
              <li> <a href="/contact">Contact Us</a></li>
              <li><a>&nbsp;</a></li>
            </ul>
          </nav>
        </div>
        {% block body %}
       
        

        {% endblock %}
        <!-- InstanceBeginEditable name="body" -->
      
      </div>
     
      <script src="https://www.jqueryscript.net/demo/Responsive-Auto-rotating-Banner-Carousel-Plugin-With-jQuery-jtaCarousel/jtaCarousel.js"></script>
     
      
      <style type="text/css">
    .home-red-box { background:#d81615 url(static/img/home-boxes-lt-bt-white.png) no-repeat left bottom; text-align:center; height:125px; font-weight:600; margin:0 0 10px 0; padding:5px; color:#fff;}
    ul.banner {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}


/* jtaCarousel */

.jtaCarousel {
  position: relative;
  overflow: hidden;
}

.banner-controls {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-prev-position {
  left: 0;
  padding-left: .75em;
}

.banner-next-position {
  right: 0;
}

.banner-control-button {
  border-radius: 100%;
  font-size: 2em;
  color: white;
  cursor: pointer;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.banner-control-button:hover { opacity: .5; }

.banner {  width: calc(100% * 5);
}

.banner-item {
  float: left;
  width: calc(100% / 5);
}

@media only screen and (max-width: 768px) {
  .banner-item > div {
  background-size: cover;
  background-position: 50% 50%;
  height: 208px;
  line-height: 200px;
  font-size: 2em;
  color: #fff;

}
.side_red_bar
{
  display:none;
}
  }
@media only screen and (min-width: 768px) {
 .banner-item > div {
  background-size: cover;
  background-position: 50% 50%;
  height: 396px;
  line-height: 200px;
  font-size: 2em;
  color: #fff;

}
.side_red_bar
{
  display:block;
}
  }


.banner-location {
  position: absolute;
  z-index: 2;
  bottom: .75em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .75em;
  line-height: 1;
  cursor: default;
}

.banner-indicator {
  position: relative;
  top: 0;
  display: inline-block;
  width: .75em;
  height: .75em;
  border-radius: 100%;
  margin-left: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}

.banner-indicator:first-child { margin-left: 0; }

.banner-indicator.selected {
  background-color: white;
  cursor: auto;
}
    </style>
      <!-- InstanceEndEditable --></div>
    </div>
  </section>
</main>
<section class="black" style="padding:30px;">
    <div class="container">
      <span id="siteseal" style="text-align:left"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=Pnh7m2PlO5iUSzegRdTwYMWD0duQNKUpWsQegMABjvRdvVohswTU8sAFl94O"></script></span>
      <div class="row"><br>
        <div class="col l12 m12 s12 grey-text center-align">&copy; Copyright 2018 Janasena Party. All Rights Reserved. </div>
      <!--  <div class="col l4 m4 s12 grey-text center-align"> </div> -->
        <br><br>
        <p style="font-size:11px;" class="grey-text center-align"><a href="/privacy" target="_blank" class="red-text">Privacy Policy</a> | <a href="/disclaimer" target="_blank" class="red-text">Disclaimer</a></p> <br>
        <div class="col l12 m12 s12 white-text center-align"><a href="https://www.facebook.com/janasenaparty/" target="_blank"><i class="fa fa-2x fa-facebook footer-social red-text"></i></a><a href="https://twitter.com/janasenaparty?lang=en" target="_blank"><i class="fa fa-2x fa-twitter footer-social red-text"></i></a><a href="https://www.instagram.com/Janasenaparty" target="_blank"><i class="fa fa-2x fa-instagram footer-social red-text" ></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/janasenaparty" target="_blank"><i class="fa fa-2x fa-youtube footer-social red-text"></i></a></div><br>
<br>

      </div>
    </div>
  </section>


</body>
</html>