{% extends "admin_layout.html" %}


{% block body %}


<div class="venue_form" style="margin:30px !important;">
    
    <div class="row" style="margin-top:-50px" >
    <div class="col-xs-4  col-md-4 col-lg-4 col-sm-12 ">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Applicant Details</h3>
      </div>
      <div class="panel-body">
        <form name="attendance_form" id="attendance_form" >
          <label for="category" >Select One:</label>
          <label class="radio-inline"><input type="radio" name="category" value="mobile" checked>Mobile</label>
<label class="radio-inline">
  <input type="radio" name="category" value="email">Email</label>
<label class="radio-inline"><input type="radio" name="category" value="aadhar_id">Aadhar ID</label>
<label class="radio-inline"><input type="radio" name="category" value="voter_id">Voter ID</label>
        
                      <br> 
        <label for="search_value"  > Enter Search Value : </label>           
        <input class="form-control " type="text" name='search_value' id='search_value' placeholder="Enter Here "     ><br>
         <br>
        <!-- <label for="voter_id"  > Voter ID: </label>           
        <input class="form-control " type="text" name='voter_id' id='voter_id' placeholder="Enter Voter ID: "    ><br> -->
        
        <!-- <br>  -->
        
       <div class="row">
       	<div class="col-md-6 col-sm-6">
        <input class="btn btn-success form-control float-right" id='submitattendance'  type="submit" value="Fetch">
       </div>
       <div class="col-md-6 col-sm-6">
        <input class="btn btn-default form-control float-left" id='reset'  type="reset">
       </div>
       </div>
       <br>
       <a href="#" id="new_facilitator"  style="font-weight:800;text-align:right;color:#d81615 !important;">New Facilitator</a>
</form>
      </div>

    </div>
    </div>
 <div class="col-xs-8 col-md-8 col-lg-8 col-sm-12  " id="details_div" style="display:none">
<form name="details_form" id="details_form" >
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="mobile">Mobile:</label>
            <p id="mobile"></p>
           
        </div>
       
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="email">Email:</label>
           <p id="email"></p>
           
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="name">Name:</label>
           <p id="name"></p>
           
        </div>
      

       
        <div class="clearfix"></div>
         <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="age">AGE:</label>
            <p id="age"></p>
           
        </div>
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="gender">Gender:</label>
          <p id="gender"></p>
           
        </div>
       
 
       
        <div class="clearfix"></div>
        
   <div class="clearfix"></div>
        
         <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="district">district:</label>
            <p id="district"></p>
        </div>
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="assembly">Assembly:</label>
            <p id="assembly"></p>
            
           
        </div>
       
 <div class="clearfix"></div>
      
   <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="alloted_post">Alloted Post:</label>
             <select name="alloted_post" id="alloted_post" class="form-control browser-default "  >
                          
<option value="">select Alloted Post</option>
{% for post in data %}
<option value="{{post.seq_id}}">{{post.post_name}}</option>

{% endfor %}
                        


<!-- <option value="Division Level">Division Level</option>
<option value="District Level">District Level</option>
<option value="Assembly Level">Assembly Level</option>
<option value="Parliament Level">Parliament Level</option>
 <option value="Speaker Selected">Speaker Selected</option>
 <option value="Analyst Selected">Analyst Selected</option> 
 <option value="ContentWriter Selected">ContentWriter Selected</option> 

 <option value="Speaker OnHOld">Speaker OnHOld</option>     
 <option value="Analyst OnHOld">Analyst OnHOld</option> 
 <option value="ContentWriter OnHOld">ContentWriter OnHOld</option> -->     


                     
                      </select>
            
           
        </div>    
       
       
        
<br>
<input type="submit" class="btn btn-success" id="form_submitted" value="Save" style="float:right;margin-right: 60px;width: 125px;font-size: 16px;font-weight: 600;">
 </div>
</form>
    </div>

</div>
<script>
var status='O';
var form_id;
var mobile;
$(document).ready(function(){
 var csrftoken = $('meta[name=csrf-token]').attr('content')
	$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
$("#new_facilitator").click(function()
{
  $("#attendance_form").trigger('reset');
 $("#details_form").trigger('reset');
   $("#details_div").css("display","block");
   status='N';
})
// 
// $("#district").change(function()
// {
//   var district=$("#district").val();
//   update_assemblies(district,'');

// });
function update_assemblies(district,assembly)
{
  console.log(district,assembly);
  $.ajax({
           type: "GET",
           url: "/getAssemblyConstituencies?district="+district,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
          $('#assembly')
        .find('option')
        .remove()
        .end()
        .append('<option value="" >Select Constituency</option>')
        .val('');
                var constituency_list=response.data.children;
          $.each(constituency_list, function (i, item) {
          $('#assembly').append($('<option>', { 
          value: item.assembly.toLowerCase(),
          text : item.assembly .toLowerCase()
          }));
          });
 

                // constituency
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
}
// 
$("#reset").click(function()
{
	 $("#details_div").css("display","none")
});


$('#details_form').submit(function(e)
{
  e.preventDefault();
	 $(".loader").css("display","block");
  
  var post=$("#alloted_post").val();
  if (post=='')
  {
    alert("please select post");
    return false;
  }
  

  data={form_id:form_id,mobile:mobile,alloted_post:post}
  console.log(data);
 $.ajax({
                    url: "/postallotments",
                    type: "POST",
                    data:data,
                    dataType: 'json',
                    success: function(result){ 
                     
                     console.log(result)
                        if(result.data.status=='1')
                            {
                            	var form_id=result.data.form_id;
                            $(".loader").css("display","none");
                             $("#details_div").css("display","none")
                            $("#attendance_form").trigger('reset');
                             
                            swal("success","updated Facilitator Details. ");
                            
                          $("#details_form").trigger('reset');


                }
                else{
                swal('Error',result.errors,'error');
                 $(".loader").css("display","none");

                
                }
                }
                });  


});


// getting details 

$('#attendance_form').submit(function(e)
{
	 $(".loader").css("display","block");
   e.preventDefault();
   var url="";
   var category=$('input[type=radio][name=category]:checked').val();
   var searchvalue=$("#search_value").val();
   console.log(category,searchvalue);
   if(!searchvalue)
   {
    swal('Error',"please enter search value ",'error');
    $(".loader").css("display","none");
    return false;
   }
   if (category=='mobile')
   {
    url="/getfacilitatorDetails?mobile="+searchvalue
   }
   else if (category=='email')
   {
url="/getfacilitatorDetails?email="+searchvalue
   }
   else if (category=='voter_id')
   {
url="/getfacilitatorDetails?voter_id="+searchvalue
   }
   else if (category=='aadhar_id')
   {
url="/getfacilitatorDetails?aadhar_id="+searchvalue
   }
  console.log(url);
 $.ajax({
                    url:url ,
                    type: "GET",
                    
                    dataType: 'json',
                    success: function(result){ 
                     
                     console.log(result)
                        if(result.data.status=='1')
                            {
                            	var row=result.data.children;
                              form_id=row['seq_id']
                              mobile=row['mobile']
                            	$("#name").text(row['name']);
								$("#email").text(row['email']);
								$("#mobile").text(row['mobile']);
								
								$("#assembly").text(row['assembly']);
                $("#age").text(row['age']);
               $("#gender").text(row['gender']);

                  $("#district").text(row['district']); 
								   
                           $("#details_div").css("display","block")
                            $(".loader").css("display","none");


                }
                else{
                swal('Error',result.errors,'error');
                 $(".loader").css("display","none");

                
                }
                }
                });  


});

})
</script>

{% endblock %}
