<script src="/static/jquery.twbsPagination.js"></script>
<div class="container" style="width:90% !important">
<div class="row">
	<div id="builder"></div>
	<div class="btn-group" style="float:right">
	      <button class="btn btn-warning" id="btn-reset">Reset</button>
	      <button class="btn btn-success" id="btn-set">Set Default Rules</button>
        <button class="btn btn-info" id="btn-export">Export</button>
	      <button class="btn btn-primary" id="btn-get">Filter</button>
	</div>	
</div>
<br>
<div class="row datagrid" id="table_div" >
  <table id="query_builder_table" class="table table-striped table-bordered nowrap" style="width:100%!important;"> 
    
      <tbody id="query_builder_table_body" style="color:black">

      </tbody>
  </table>
  <div id="paging_content"></div>
  
  <ul id="query_builder_pagination" class="pagination-sm"></ul>
</div>
</div>
<script>
  var query_builder_table;
  var $pagination = $('#query_builder_pagination');
 var pagination_obj ={totalRecords :0,recPerPage : 10,page : 1,totalPages :0,"initiate_paging":false}
   var tableMetaData = [];
   var current_filters = [];
  $(document).ready(function(){
    
    var metadata_url = "/admin/getTablemetadata/"+report_id;   
  
     $.when( getMasterData() ).then(function() {
      
      
       $('#builder').queryBuilder({
          allow_groups:false,
          plugins: {
            'bt-tooltip-errors': {  // All options supported by the bootstrap tooltips plugin
              container: 'body', 
              html: true, 
              placement: 'auto'
            }
          },
          filters:[ {
            id: 'default',
            label: 'id',
            type: 'string',
           
          }]  

      });
     
      getQueryBuilderFilters(filters_url);


    
  }); 




function getTableMetadata(url){
   $(".loader").css("display","block");
 $.ajax({
       type: "GET",
       url:url,          
       dataType:"json",
       contentType:"application/json",
       success: function (response) {

           if (response.data.status=='1') {
                $(".loader").css("display","none");

                tableMetaData = response.data.metadata;               
                console.log("tableMetaData done",tableMetaData);
                load_query_builder_table(tableMetaData);
                

              }
            else
            {
               $(".loader").css("display","none");
              swal('Error',response.errors,'error')
              
             
            }
          },
      error:function(response)
       {
        console.log(response.errors)
        $(".loader").css("display","None");
        alert(response.errors)
         
       }

   });

}

  getTableMetadata(metadata_url) ;
  
    
    function load_query_builder_table(metadata){
 
  console.log("loading table",metadata)
  // console.log($('#query_builder_table').DataTable())
     query_builder_table = $("#query_builder_table").DataTable({              
          columns:metadata, 
           dom: 'Bfrtip',
            pageLength: 10,
            paging:false,
            bInfo : false,
          buttons:[],
          order:[[1,"asc"] ],                      
          "lengthMenu": [ [10, 25, 50, "All"]]
        });
        pagination_obj.initiate_paging = true;
        load_data();
        
 }
  

  $('#btn-export').on('click', function() {

    var result = $('#builder').queryBuilder('getRules');
    
    
    if (!$.isEmptyObject(result)) {
      result = update_operators(result);
      result["report_id"]="kriya_membership";
      export_filter_result(result)
      
    }
    else{
      alert("please add some rules to export")
    }
  });
  $('#builder').on('afterUpdateRuleValue.queryBuilder', function(e, rule) {
  if (rule.filter.plugin === 'datepicker') {
    rule.$el.find('.rule-value-container input').datepicker('update');
  }
});
  $('#builder').on('afterUpdateRuleValue.queryBuilder', function(e, rule,previousValue) {
    console.log(rule)
   if(rule.filter.has_dependent_filters==true){    
    if(rule.filter.filter_name == "state" || rule.filter.filter_name == "district" ){
       var dependent_props = rule.filter.dependent_filters_props;
       setTimeout(function(){ addorUpdateDependentFilter(rule,rule.filter.filter_name,dependent_props) }, 100);
    }
   }

});
  $('#btn-reset').on('click', function() {
  $('#builder').queryBuilder('reset');
});

$('#btn-set').on('click', function() {
  $('#builder').queryBuilder('setRules', rules_basic);
});


$('#btn-get').on('click', function() {
    var result = $('#builder').queryBuilder('getRules');
    
    if (!$.isEmptyObject(result)) {
      current_filters = update_operators(result).rules;
      pagination_obj.initiate_paging = true;
      load_data();
      
    }
    else{
      alert("please add atleast one rule")
    }
  });
    
  })

function load_data()
{
  
   
       var params = {};
       params.rules = current_filters;
       params.page = pagination_obj.page;
       params.length = pagination_obj.recPerPage;
    var paramString = JSON.stringify(params);
    console.log(paramString)
     $(".loader").css("display","block");
    $.ajax({
        type: "POST",
         url: "/admin/getDatabyquery/"+report_id, // write the actual routing
        data: paramString,
        dataType: 'json',
        contentType:'application/json',        
         success: function (response) {
          if(response.data.status=="1"){
            var res = response.data.children;
            pagination_obj.totalRecords = res.recordsTotal;
            pagination_obj.totalPages = Math.ceil(res.recordsTotal/pagination_obj.recPerPage)

             query_builder_table.clear().draw()
             query_builder_table.rows.add( res.data ).draw()
             if(res.recordsTotal>0){
              if(pagination_obj.initiate_paging) {               
                $pagination.twbsPagination('destroy');
                apply_pagination();
               }
               var paging_content ="<p >Showing  "+ res.start+ " to "+res.end+"  of "+res.recordsTotalStr+" Records.</p>";
               $("#paging_content").html(paging_content);

             }
             else{
                $pagination.twbsPagination('destroy');
                $("#paging_content").text("no records Found");
             }
             
           
             $(".loader").css("display","none");

          }
          else{
            $(".loader").css("display","none");
            alert(response.errors)
          }
            
        },
        error: function () {
          $(".loader").css("display","none");
           alert ( 'something wrong . please try after some time');
        }
    })


    
}
 

function export_filter_result(data){

  $(".loader").css("display","block");
    $.ajax({
        
           type: "POST",
           url:"/admin/exportReport",
              data:JSON.stringify(data),       
            dataType:"json",
           contentType:"application/json",
           success: function (response) {
              
               console.log(response)
             $(".loader").css("display","none");
               if (response.data.status=='1') {
               
                
                 alert(response.data.message);
                  
                  }
           
               },
        error:function(response)
           {
            console.log(response.error)
            $(".loader").css("display","None");
            alert(response.error)
             return false;
           }
           
       });
}
var rules_basic;

var operators = {"equal":"eq",
"not_equal":"ne",
"in":"in",
"not_in":"not_in",
"less":"lt",
"less_or_equal":"le",
"greater":"gt",
"greater_or_equal":"ge",
"between":"<>",
"not_between":"not_between",
"begins_with":"ilike",
"not_begins_with":"% not like",
"contains": "like",
"not_contains":"not any",
"ends_with":"ends_with",
"not_ends_with":"not_ends_with",
"is_empty":"is_empty",
"is_not_empty":"is_not_empty",
"is_null":"is_null",
"is_not_null":"is_not_null"
}

function update_operators(result){

 var new_rules = [];
$.each(result.rules, (index, item) => {
  $.each(operators, function(key, val) {
   
    if(item.operator === key){
      item.op = val;
      var operator =item.operator;
      
      delete item["operator"];
      new_rules.push(item)
      if(operator == "between" ){
          
          var new_item1  = jQuery.extend({}, item);
          var new_item2 = jQuery.extend({}, item);
          new_item1.op = "ge";
          new_item2.op="le";          
          new_item1.value = item.value[0];
          new_item2.value = item.value[1];          
          delete new_item1["operator"];
          delete new_item2["operator"];      
          delete item["operator"];
          new_rules.splice(-1,1);
          new_rules.push(new_item1);
          new_rules.push(new_item2);
    }
   
  }
    
      
});

});
if(new_rules.length>0){
  result.rules=new_rules;
console.log(result)
 
}
return result;

}


var masterdata = [];
getMasterData =  function( ){      
      $.ajax({
           type: "GET",
           url: "https://janasenaparty.org/api/masterdata",
           dataType: "json",           
           ContentType:"application/json",
           success: function (response) {
          console.log(response)
               if (response.data.status=='1') {
                
                 masterdata = response.data.children;                 
                
                 
              } 
              else{
                swal("Error",response.errors,"error");
                 return false;
              }       
       
           },
           error:function(response)
           {
            
            $(".loader").css("display","None");           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
    };


function getDistrictsByState(id){
  var districts = [];
 $.each(masterdata,(index, item) => {  
   if(item.id == id){
     $.each(item.districts,(index1, district) => {
       var d = {};      
       d[district.id] = district.name;        
       districts.push(d);        
     });
   }
 })
 return districts;
}
function getAssembliesByDistrict(state_id,district_id){
 console.log(state_id,district_id)
 var assemblies = [];
 $.each(masterdata,(index, item) => {  
   if(item.id == state_id){
     
     $.each(item.districts,(index1, district) => {
       
       if(district.id == district_id){
         
         $.each(district.constituencies,(index2, assembly) => {
           
           var d = {};      
           d[assembly.id] = assembly.name;        
           assemblies.push(d);
       });

       }
       
             
     });
   }
})
 
 return assemblies;
}

$('#builder').on('beforeDeleteRule.queryBuilder', function(e, rule) {
 deleteDependentRules(rule) ;
   
});
function deleteDependentRules(rule){
 console.log(rule)
 if(rule.filter && rule.filter.has_dependent_filters==true){    
      if(rule.filter.filter_name == "state" || rule.filter.filter_name == "district" ){
         var dependent_props = rule.filter.dependent_filters_props;
         var removable_filters = [];
         
         if(rule.filter.filter_name == "state"){
            removable_filters = [dependent_props.district_column_name,dependent_props.assembly_column_name]
         }
         else if(rule.filter.filter_name == "district"){
           removable_filters = [dependent_props.assembly_column_name]

         }
           $('#builder').queryBuilder('removeFilter',removable_filters,true);
       
         
      }
 }  


}



function addorUpdateDependentFilter(rule,cur_filter_name,props){
  
  var new_filter ={};
  if(cur_filter_name == 'state' && props.district_level_filter==true){
    
    var districts = getDistrictsByState(rule.value);     
     new_filter= {
        id: props.district_column_name,
        label: 'District',
        type: 'integer',
        input: 'select',
        filter_name:"district",
        parent_value:rule.value,
        has_dependent_filters:props.assembly_level_filter,
        dependent_filters_props:props,
        values: districts,
        operators: ['equal']
    }
   

  }
  else if(cur_filter_name == 'district'){
   new_filter = {
      id: props.assembly_column_name,
      label: 'Assembly',
      type: 'integer',
      input: 'select',
      filter_name:"assembly",
      has_dependent_filters:false,
      parent_value:rule.value,
      dependent_filters_props:props,
      values: getAssembliesByDistrict(rule.filter.parent_value,rule.value),
      operators: ['equal']
  }

  }
  if(new_filter){
    deleteDependentRules(rule) ;
     setTimeout(function(){  $('#builder').queryBuilder('addFilter',new_filter,rule.filter.id); }, 100);
    
  }

}

function getQueryBuilderFilters(url){
  $(".loader").css("display","block");
 $.ajax({
       type: "GET",
       url:url,          
       dataType:"json",
       contentType:"application/json",
       success: function (response) {

           if (response.data.status=='1') {

                var filters = response.data.filters;
                rules_basic = response.data.rules_basic;
                $('#builder').queryBuilder('setFilters', [true],filters);
                $('#builder').queryBuilder('setRules', rules_basic);
              $(".loader").css("display","none");


              }
            else
            {
              $(".loader").css("display","none");
              swal('Error',response.errors,'error')
            }
          },
      error:function(response)
       {
        console.log(response.errors)
        $(".loader").css("display","None");
        alert(response.errors)
         return false;
       }

   });
}
function apply_pagination() {
        console.log(pagination_obj)
        $pagination.twbsPagination({
              totalPages: pagination_obj.totalPages,
              startPage: pagination_obj.page,
              visiblePages: 5,
              onPageClick: function (event, page) {
                    pagination_obj.page = page;
                    pagination_obj.initiate_paging= false;
                    load_data();
              }
        });
  }


</script>
