<button id="rzp-button1">Proceed to Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
  "key": "{{razor_pay_key}}",
  "subscription_id":"{{subscription_id}}",
  "subscription_card_change": 0,
  "name": "{{plan_name}}",
  "description": "{{plan_description}}",
  "image": "http://janasenaparty.org/static/img/logo.png",
  "handler": function (response){
    console.log(response)
      alert(response.razorpay_payment_id,response.razorpay_subscription_id,response.razorpay_signature);
      window.location="/activate_subscription?subscription_id="+response.razorpay_subscription_id+"&payment_id="+response.razorpay_payment_id+"&signature="+response.razorpay_signature
  },
  "prefill": {
      "name": "{{customer_name}}",
      "email": "{{customer_email}}",
      "contact":"{{customer_phone}}"
  },
  "notes": {
      "note_key": "JANASENA PARTY DONATIONS"
  },
  "theme": {
      "color": "#D81615"
  }
};
var rzp1 = new Razorpay(options);

document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>