{% extends "admin_layout.html" %}


{% block body %}


<div class="venue_form" style="margin:30px !important;">
    
    <div class="row" style="margin-top:-50px" >
    <div class="col-xs-4  col-md-4 col-lg-4 col-sm-12 ">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Applicant Details</h3>
      </div>
      <div class="panel-body">
        <form name="attendance_form" id="attendance_form" >
          <label for="category" >Select One:</label>
          <label class="radio-inline"><input type="radio" name="category" value="mobile" checked>Mobile</label>
<label class="radio-inline">
  <input type="radio" name="category" value="email">Email</label>
<label class="radio-inline"><input type="radio" name="category" value="aadhar_id">Aadhar ID</label>
<label class="radio-inline"><input type="radio" name="category" value="voter_id">Voter ID</label>
        
                      <br> 
        <label for="search_value"  > Enter Search Value : </label>           
        <input class="form-control " type="text" name='search_value' id='search_value' placeholder="Enter Here "     ><br>
         <br>
        <!-- <label for="voter_id"  > Voter ID: </label>           
        <input class="form-control " type="text" name='voter_id' id='voter_id' placeholder="Enter Voter ID: "    ><br> -->
        
        <!-- <br>  -->
        
       <div class="row">
       	<div class="col-md-6 col-sm-6">
        <input class="btn btn-success form-control float-right" id='submitattendance'  type="submit" value="Fetch">
       </div>
       <div class="col-md-6 col-sm-6">
        <input class="btn btn-default form-control float-left" id='reset'  type="reset">
       </div>
       </div>
       <br>
       <a href="#" id="new_facilitator"  style="font-weight:800;text-align:right;color:#d81615 !important;">New Facilitator</a>
</form>
      </div>

    </div>
    </div>
 <div class="col-xs-8 col-md-8 col-lg-8 col-sm-12  " id="details_div" style="display:none">
<form name="details_form" id="details_form" >
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="mobile">Mobile:</label>
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter mobile" required maxlength="10">
           
        </div>
       
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" >
           
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name"  required>
           
        </div>
       <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            
            <label for="association"  >Suggested Posts:  </label>
                      <select name="association" id="association" class="form-control browser-default "  >
                          
                        <option value="">select Suggested Posts</option>
                        
<option value="Student Wing">Student Wing</option>
<option value="Youth Wing">Youth Wing</option>
<option value="Women Wing">Women Wing</option>
<option value="Farmer Wing">Farmer Wing</option>
<option value="mandal Level">mandal Level    </option>
<option value="Trade Union wing">Trade Union wing</option>
<option value="Village Level">Village Level</option>
<option value="Town Level">Town Level</option>
<option value="City Level">City Level</option>
<option value="Division Level">Division Level</option>
<option value="District Level">District Level</option>
<option value="Assembly Level">Assembly Level</option>
<option value="Parliament Level">Parliament Level</option>
 <option value="shatagni">shatagni</option> 
 <option value="legal cell">Legal Cell</option>      
                     
                      </select>
          
           
        </div>

       
        <div class="clearfix"></div>
         <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="age">AGE:</label>
            <input type="text" class="form-control" id="age" name="age" placeholder="Enter age"  >
           
        </div>
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="gender">Gender:</label>
           <select name="gender" id="gender" class="form-control browser-default "  required>
                          
                        <option value="">select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Transgender">Transgender</option>
                      </select>
           
        </div>
       
 
       
        <div class="clearfix"></div>
         <div class="form-group ">
        <label for="address">Address:</label>
  <textarea class="form-control" rows="1" id="address" name="address"></textarea></div>
   <div class="clearfix"></div>
        
         <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="district">district:</label>
             <select class="form-control" id="district" name="district" required >
            <option selected value="" >
                        Select district:
                    </option>
                        
                      {% for item in districts %}
        <option value="{{item}}"  >{{item}}</option>
    {% endfor %}

           </select>
        </div>
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="assembly">Assembly:</label>
             <select class="form-control" id="assembly" name="assembly" required>
                    <option selected value="" >
                        Select Assembly:
                    </option>
                   
                </select>
            
           
        </div>
       
 <div class="clearfix"></div>
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="voter_id">Voter ID:</label>
            <input type="text" class="form-control" id="voter_id" name="voter_id" placeholder="Enter voter_id"  >
            
           
        </div>
       
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="aadhar_id">Aadhar ID:</label>
            <input type="text" class="form-control" id="aadhar_id" name="aadhar_id" placeholder="Enter aadhar_id"  >
            
           
        </div>
       
       
        <div class="clearfix"></div>
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="qualification">qualification:</label>
             <select name="qualification" id="qualification" class="form-control browser-default "  >
                          
                        <option value="">select qualification</option>
                      
<option value="Uneducated">Uneducated</option>
<option value="Below 10th Standard">Below 10th Standard</option>
<option value="Intermediate">Intermediate</option>
<option value="Bachelors">Bachelors</option>
<option value="Masters">Masters   </option>
<option value="Phd">Phd</option>

        
                     
                      </select>
            
           
        </div>
        <div class="form-group col-xs-10 col-sm-4  col-md-6 col-lg-6 ">
            <label for="profession">profession:</label>
            <select name="profession" id="profession" class="form-control browser-default "  >
                          
                        <option value="">select profession</option>
                      
<option value="Student">Student</option>
<option value="Unemployed">Unemployed</option>
<option value="farmer">farmer</option>
<option value="Private Service">Private Service</option>
<option value="Govt Service">Govt Service   </option>
<option value="Business">Business</option>
<option value="Self Employed">Self Employed</option>
<option value="Social Worker">Social Worker</option>
<option value="Wage Labour">Wage Labour</option>
<option value="House Wife">House Wife</option>
<option value="political">political</option>


<option value="Others">Others</option>
        
                     
                      </select>
            
           
        </div>
        <div class="clearfix"></div>

<br>
<input type="submit" class="btn btn-success" id="form_submitted" value="Save" style="float:right;margin-right: 60px;width: 125px;font-size: 16px;font-weight: 600;">
 </div>
</form>
    </div>

</div>
<script>
var status='O';
$(document).ready(function(){
 var csrftoken = $('meta[name=csrf-token]').attr('content')
	$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
$("#new_facilitator").click(function()
{
  $("#attendance_form").trigger('reset');
 $("#details_form").trigger('reset');
   $("#details_div").css("display","block");
   status='N';
})
// 
$("#district").change(function()
{
  var district=$("#district").val();
  update_assemblies(district,'');

});
function update_assemblies(district,assembly)
{
  console.log(district,assembly);
  $.ajax({
           type: "GET",
           url: "/getAssemblyConstituencies?district="+district,
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
          $('#assembly')
        .find('option')
        .remove()
        .end()
        .append('<option value="" >Select Constituency</option>')
        .val('');
                var constituency_list=response.data.children;
          $.each(constituency_list, function (i, item) {
          $('#assembly').append($('<option>', { 
          value: item.assembly.toLowerCase(),
          text : item.assembly .toLowerCase()
          }));
          });
 $("select#assembly option")
   .each(function() {
    console.log(this.text);
    this.selected = (this.text == assembly); 
  });

                // constituency
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response.errors)
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
}
// 
$("#reset").click(function()
{
	 $("#details_div").css("display","none")
});


$('#details_form').submit(function(e)
{
  e.preventDefault();
	 $(".loader").css("display","block");
  
  var name=$("#name").val();
  var email=$("#email").val();
  var mobile=$("#mobile").val();
  var voter_id=$("#voter_id").val();
  var aadhar_id=$("#aadhar_id").val();
  var age=$("#age").val();
  var gender=$("#gender").val();
  var profession =$("#profession").val();
  var district=$("#district").val();
  var assembly=$("#assembly").val();
  var address=$("#address").val();
  var qualification=$("#qualification").val();
var association=$("#association").val();
  
console.log(status);
  data={name:name,email:email,mobile:mobile,voter_id:voter_id,aadhar_id:aadhar_id,age:age,gender:gender,profession:profession,district:district,assembly:assembly,address:address,qualification:qualification,association:association,status:status}
  console.log(data);
 $.ajax({
                    url: "/getVenueDetails",
                    type: "POST",
                    data:data,
                    dataType: 'json',
                    success: function(result){ 
                     
                     console.log(result)
                        if(result.data.status=='1')
                            {
                            	var form_id=result.data.form_id;
                            $(".loader").css("display","none");
                             $("#details_div").css("display","none")
                            $("#attendance_form").trigger('reset');
                             
                            swal("success","updated Facilitator Details. \n\n"+"Form ID:"+form_id,"success");
                            
                          $("#details_form").trigger('reset');


                }
                else{
                swal('Error',result.errors,'error');
                 $(".loader").css("display","none");

                
                }
                }
                });  


});


// getting details 

$('#attendance_form').submit(function(e)
{
	 $(".loader").css("display","block");
   e.preventDefault();
   var url="";
   var category=$('input[type=radio][name=category]:checked').val();
   var searchvalue=$("#search_value").val();
   console.log(category,searchvalue);
   if(!searchvalue)
   {
    swal('Error',"please enter search value ",'error');
    $(".loader").css("display","none");
    return false;
   }
   if (category=='mobile')
   {
    url="/getVenueDetails?mobile="+searchvalue
   }
   else if (category=='email')
   {
url="/getVenueDetails?email="+searchvalue
   }
   else if (category=='voter_id')
   {
url="/getVenueDetails?voter_id="+searchvalue
   }
   else if (category=='aadhar_id')
   {
url="/getVenueDetails?aadhar_id="+searchvalue
   }
  console.log(url);
 $.ajax({
                    url:url ,
                    type: "GET",
                    
                    dataType: 'json',
                    success: function(result){ 
                     
                     console.log(result)
                        if(result.data.status=='1')
                            {
                            	var row=result.data.children;
                            	$("#name").val(row['name']);
								$("#email").val(row['email']);
								$("#mobile").val(row['mobile']);
								$("#applying_for").html(row['applying_for']);
								$("#assembly").val(row['assembly']);
                $("#age").val(row['age']);
                $("select#gender option").each(function() {
    
    this.selected = (this.text == row['gender']); 
  });

    $("select#district option").each(function() {
    console.log(this.text);
    this.selected = (this.text == row['district']); 
  });
								// $("#district").val(row['district']);
update_assemblies(row['district'],row['assembly']);
                $("#voter_id").val(row['voter_id']);
                $("#aadhar_id").val(row['aadhar_id']);

                

                      status='O';         
                              
                           $("#details_div").css("display","block")
                            $(".loader").css("display","none");


                }
                else{
                swal('Error',result.errors,'error');
                 $(".loader").css("display","none");

                
                }
                }
                });  


});

})
</script>

{% endblock %}
