
<html>

<head>
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="icon" type="image/png" href="/static/img/favicon.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="static/assets/css/sweetalert.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="/static/css/crop.css" type="text/css" rel="stylesheet" >
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="static/assets/js/sweetalert.js"></script>
  </head>
  <style>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
/* Title */

h1 {
    color: red;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}
label{
  color:#d81615;
  font-weight:800 !important;
}
div {
  margin-bottom:12px !important;

}
.row{
  margin-bottom:0px !important;
}

/* Sign Up */
.alert-danger{
  text-align: center;
}

.detals_screen {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: black;
}

.btn{
  border-radius: 4px;
  background-color: #d81615 !important;
}



.proceed{
  background-color: #d81615;
}

.proceed:hover{
  background-color: #d81615;
}

.proceed:focus{
  background-color: #d81615;
}


.input-group {
    width:100%;
}

.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}

/* Error Box */

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  
}

.help-block {
    font-size: 12px;
    color: white
}






input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=select], textarea.materialize-textarea
{
  height:1.4rem !important;
  margin-bottom:0px !important;
}
select 
{
  height:1.5rem !important;
  margin-bottom:0px !important;
  padding: 0px !important; 
    
     border-radius: 0px !important; 
     border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
.form-group {
    margin-bottom: 0px !important;
}
</style>
<!-- Latest compiled and minified CSS -->


<body ng-controller="RegisterCtrl" ng-app="myApp">
  
<section class="no-padding" style="background:url(/static/img/top-header-bgr.png) repeat-x;">
  <div class="row">
      <div class="col l4 m12 s12 center-align"><a href="/"> <img src="/static/img/jenasena_logo.png" class="responsive-img" alt="Jana Sena Party Logo" style="position:relative; top:45px;"></a> </div>
    <!--<div class="col l2 m12 s12 left-align"> <img src="../img/janasena-party-missed-call-number.png" height="30" alt=" " style="position:relative; top:150px;" class="hide-on-med-and-down"> </div>-->
    <div class="col l4 m12 s12 black-text"> 
   <div style="position:relative; top:150px; " class="hide-on-med-and-down">
              
        <span style="font-size:16px; font-weight:800;color:#d81615;">Follow Our Social Stream </span>
    <a href="https://www.facebook.com/janasenaparty/" target="_blank"><i class="fa fa-facebook white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/Janasenaparty?lang=en" target="_blank"><i class="fa fa-twitter white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/Janasenaparty" target="_blank"><i class="fa fa-instagram white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/Janasenaparty" target="_blank"><i class="fa fa-youtube white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>
    </div>
     </div>
    <div class="col l4 m12 s12 right-align no-padding hide-on-med-and-down"> <img src="static/img/rt-header-bit.png" height="162" alt=" "> </div>
  </div>

</section>


<!-- start container  -->




       
      
{% include 'loader.html' %}
  <div class="container detals_screen " >
  	<h4 style="color:#d81615;text-align:center;">Membership Form</h4>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

          <form name="register" id="register" class="form-register"  method="post"  >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
          <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                        <input type="hidden" name="country" id="country" value="" />
                        <label for="phone-number-country" class="pull-left" style="color: #d81615;font-weight:800 !important;margin-left:3px !important;">
                        Select Country of Residence
                        </label>
                        <select class=" browser-default" id="phone-number-country" name="phone-number-country" autocomplete="off" style="border:none;border-bottom:1px solid #d81615;" required placeholder="select country of residence">
                           
                    </select>
              </div> 
          	 <div class="col-md-4 col-lg-4 col-sm-12">
            <label for="phone_number_web" style="color: #d81615;">Phone Number  :</label>
            <input type="text" name="phone_number_web" id="phone_number_web"   placeholder="Enter Mobile "  minlength="7" maxlength="12" autocomplete="off"    oninput="maxLengthCheck(this)"  autofocus="" required style="border-bottom-color: #d81615; " />
           <p id="valid_phone" class="alert alert-danger" style="display:none;">Enter Valid Mobile Number.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
        	<label for="voterid" style="color: #d81615;">Voter Id :</label>
             <input id="voterid" name="voterid"  type="text" minlength="10" maxlength="14"  onkeyup="validatevoter_id()" class="validate" oninput="maxLengthCheck(this)"  placeholder="Enter Your Voter Id" required style="border-bottom-color: #d81615;">
               
              <p class="alert alert-danger" id="valid_voter_id" style="display:none;" >Please Enter Valid Voter Id.</p>
            </div>
           
          </div>
          
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
            <label for="name" style="color: #d81615;">Name :</label>
            <input type="text" id="name" name="name" placeholder="Enter Your Name as per your voter id" style="border-bottom-color: #d81615;color: #1d1919;" maxlength="50" required >
            </div>
            
           
           <div class="col-md-6 col-lg-6 col-sm-12">
            <label for="name" style="color: #d81615;">Email :</label>
            <input type="email" id="email" maxlength="50" name="email" maxlength="30" style="border-bottom-color: #d81615;" placeholder="Enter Your Email Here" >
            </div>
            
          </div>
           <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
            <label for="age" style="color: #d81615;">AGE :</label>
            <input type="text" id="age" name="age" min="1" max="200" maxlength="3" required style="border-bottom-color: #d81615;color: #1d1919;" onkeypress="return isNumeric(event)" placeholder="Enter Your Age Here" >
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
            
           	
                      <label for="gender" style="color: #d81615;"> Gender :</label>
                      <select name="gender" id="gender" class=" browser-default" style="border-bottom: 1px solid #d81615;" required>
                        <option value="" selected >Select Gender</option>
                        <option value="Male" class="Male">Male</option>
                        <option value="Female" class="Female">Female</option>
                          <option value="Transgender" class="Transgender">Transgender</option>
                       
                      </select>
                    </div>
                  
           </div>
         
         
          <div class="row">
           <div class="col-md-6 col-lg-6 col-sm-12">
            <label for="district" style="color: #d81615;">District :</label>
            <select name="district" id="district" class=" browser-default " style="border-bottom: 1px solid #d81615;" required>
                          
                        

                         <option value="" selected class="selectone" >Select District</option>
                        
                      {% for item in data %}
        <option value="{{item}}"  >{{item}}</option>
    {% endfor %}
                         

                        
                      </select>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12">
           
            <label for="constituency" style="color: #d81615;">Constituency Name :</label>
           <select name="constituency" id="constituency" class=" browser-default " style="border-bottom: 1px solid #d81615;" required>
                        
                         <option value="" selected class="selectone" >Select Constituency</option>

                      </select>
             </div>
            
            
          </div>
         <div class="col-md-6 col-lg-6 col-sm-12" style="float:left;margin-left:-12px !important">
            <div class="g-recaptcha" data-sitekey="6LcZQhIUAAAAANQ7XJPTY3hBIcNYOwKZ7OhHus8f" data-theme="light" ></div>
            <span id="click_confirmation" class="alert alert-danger" style="display:none;">Please verify captcha.</span>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12" style="float:right;">
            <input type="submit"  class="btn btn-danger membership_submit"  id="membership_submit"  value="Proceed Next">
           </div>
           
          

</form>
        </div>
 </div>
<div class="otpdiv container" style="display:none;margin-top:150px;">
	<form name="otpform" id="otpform">
		 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<div class="row">
		<div class="col-md-6 col-sm-12 col-lg-6">

		<h5>6 Digit OTP has been sent to given Email ID.</h5>
		<label for="otp">OTP :</label>
		<input type="number" name="otp" id="otp" ng-model="otp" ng-pattern="/^[0-9]{6}$/g" onkeypress="return isNumeric(event)" onkeyup="validateOTPLength()"  oninput="maxLengthCheck(this)"  placeholder="Please Enter OTP Here" minlength="6" maxlength="6" required>
		<p class="alert alert-danger " id="otp_error" style="display:none">Enter Valid OTP.</p>
		<p id="resendotptag"><a href="#" id="resendotp" style="float:right ; border-bottom:1px dashed;" >Resend OTP</a></p>

	</div>
</div>
<div class="row">
	<div class="col-md-6 col-sm-12 col-lg-6">
		<input type="submit"  class="btn btn-danger otp_submit" ng-disabled="form-otpform.$invalid" id="otp_submit" style="float:left;" value="Verify">
	</div>

</div>
	</form>
</div>

  <!--  -->
</body>

<script src='https://www.google.com/recaptcha/api.js'></script>

<script>

var phone_or_membership_id;  
var country;
var myApp = angular.module("myApp", []);
myApp.controller("RegisterCtrl", function ($scope) {
  

});

 function isEmpty(val){
    return (val === undefined || val == null || val.length <= 0) ? true : false;
}  
$(document).ready(function()
{
   $(".loader").css("display","block")
  
  
   var phone = getUrlParameter('phone');
var voter_id = getUrlParameter('voter_id');
if(phone)
{
$("#phone_number_web").val(phone);

}
if(voter_id)
{
  $("#voterid").val(voter_id);
}
country=getUrlParameter('country');
if(!isEmpty(country))
{
  $("#phone-number-country").val(country);

}
 $(".loader").css("display","none")
var otp_count=0;
   var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

 $("#register").submit(function(e)
 {
  e.preventDefault();

  var captcha_response = grecaptcha.getResponse();
          if(captcha_response.length == 0)
          {
              $("#click_confirmation").css("display","block");
               return false;
          }
  $(".loader").css("display","block")
  
var phone=$("#phone_number_web").val();
var voter_id=$("#voterid").val();
var name=$("#name").val();
var email=$("#email").val();
var age=$("#age").val();
var gender=$("#gender").val();
var district=$("#district").val();
var constituency=$("#constituency").val();
var referral_id='';
var country=$("#country").val();
var country_name=$('select[name="phone-number-country"] option:selected').text();
if(!validateMobileNoLength(phone,country))
{
   swal("Error","please enter valid Mobile or MembershipId ","error");
   $(".loader").css("display","none");
   return false;
}
  if(!validatevoter_id(voter_id))
  {
swal("Error","please enter valid VoterID ","error");
$(".loader").css("display","none");
return false;

}
if(phone_or_membership_id=='p')
{
  phone=country+phone;
}
data={phone:phone,voter_id:voter_id,name:name,email:email,age:age,gender:gender,district:district,constituency:constituency,referral_id:referral_id,mtype:phone_or_membership_id,country:country,country_name:country_name,state_id:"1"}

$.ajax({
           type: "POST",
           url: "/manualMembershipint",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
               $(".loader").css("display","None")
              
        
        
        $(".detals_screen").css("display","None")
        $(".otpdiv").css("display","block");
            
          
        $(".loader").css("display","None")
                
               } 
               else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
       
 });

$("#district").change(function()
  {
  var district=$("#district").val();
 
  if (!district)
  {
    return false;
  };
 $.each(assembly_constituencies,function(i,val){
  if(district===i)
  {
    $('#constituency')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
        $.each(val, function (akey, avalue) {
          $('#constituency').append($('<option>', { 
          value: avalue.constituency_id,
          text : avalue .constituency_name
          }));
          });
  }

 });

 

});



 $("#resendotp").click(function()
      {
        if(otp_count<3)
        {


        
         $(".loader").css("display","block");
          
          $.ajax({
           type: "POST",
           url: "/resendOTPint",
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                otp_count=otp_count+1;
             
               swal("OTP Resent  successfully!", " Check Your Email", "success")
 $(".loader").css("display","None")
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
        }
        else{
           $("#resendotptag").css("display","None");
          swal("Error",'OTP can be resend only three times only ',"error");

          return false;
        }  
      }) 


$("#otpform").submit(function(e)
{
  $(".loader").css("display","block");
           

  var otp=$("#otp").val();
  data={otp:otp} 
            $.ajax({
                       type: "POST",
                       url: "/validateManualOTP",
                       dataType: "json",
                       data:data,
                       ContentType:"application/json",
                       success: function (response) {
                        
                           if (response.data.status=='1') {
                             $(".detals_screen").css("display","None")
                          $(".otpdiv").css("display","none");
                          
                           window.location.replace("/MembershipCard")

                      $(".loader").css("display","None");
           
                           
                           }
                           else
                           {
                            $(".loader").css("display","None");
           
                             swal('Error',response.errors,'error')

                                return false;

                           }
                       }
                   });


})


})

function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  } 
function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9\b]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }     
function validateOTPLength()
{
  var regex = /^[0-9]{6}$/g;
  var otp=$("#otp").val();
  var length=otp.length;
  if(length==6){
    if(regex.test(otp))
    {
      $("#otp_error").css("display","None");
     
    }
    else
    {
      $("#otp_error").css("display","block");
      
    }
 
}
else
{
  $("#otp_error").css("display","None");
  
}

  }
 function validateMobileNoLength(mobile_num,country)
{
  var mobileregex;
  
  if (country=='91')
  {
    mobileregex= /^[6-9]{1}[0-9]{9}$/g;
  }
  else if (country=="1")
  {
    mobileregex= /^[0-9]{10}$/g;
  }
  else
  {
    mobileregex= /^[0-9]*$/g;
  }
   
  var membership_regex=/^jsp+[0-9]{8}$/i;
  
 
  var jsp_str=(mobile_num.substring(0, 3)).toUpperCase()
    if(jsp_str!='JSP')
    {
    if(mobileregex.test(mobile_num))
    {
      $("#valid_phone").css("display","None");
     
              phone_or_membership_id='p';
              return true;
    }
    else
    {
     
      $("#valid_phone").text("Enter valid Mobile Number")
      $("#valid_phone").css("display","block");
      return false;
    }
 
}
else if(jsp_str=='JSP')
{
  if(membership_regex.test(mobile_num))
    {
      $("#valid_phone").css("display","None");
      phone_or_membership_id='m';
              return true;
    }
    else
    {
      
      $("#valid_phone").text("Enter valid MembershipID")
      $("#valid_phone").css("display","block");
      return false;
    }
}
else
{
  $("#valid_phone").css("display","block");
 return false;

}

 

}


  

  function validatevoter_id()
{
  var regex = /^[A-Za-z]{2,3}[0-9]*$/g;
  var voter_id=$("#voterid").val();
  var length=voter_id.length;
  if(length>=10 && length<=14){
    if(regex.test(voter_id))
    {
      $("#valid_voter_id").css("display","None");
      return true;
    }
    else
    {
      $("#valid_voter_id").css("display","block");
      return false;
    }
      
   
    

  

}
else
{
  $("#valid_voter_id").css("display","None");
  
return false;
}

  }  

var assembly_constituencies;
$.getJSON('/static/json/districts.json',function(data){
  assembly_constituencies=data;

});

  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
}; 


</script>
<script src="static/assets/js/intelTellinput3.min.js"></script>
    <script type="text/javascript" src="static/assets/js/jquery.formatter.min.js"></script>
<script>
$(document).ready(function()
{


  var country=$('select[name="phone-number-country"] option:selected').val();
    
    $("#country").val(country);
      
  $("#phone-number-country").change(function()
  {

       var country=$('select[name="phone-number-country"] option:selected').val();
    
    $("#country").val(country);
    
  })

  
});

const intlPhoneNumber = function(countryCode) {
  // get the country data from the plugin
  const countryData = $.fn.intlTelInput.getCountryData();
  const telInput = $("#phone-number");
  const telInputLabel = telInput.parents(".form-group").find("label");
  const countryDropdown = $("#phone-number-country");
  const phonePrefix = $('.phone-number-prefix');
  const fullPhoneNumber = $('#phone-number-full');
  const errorMsg = $("#error-msg");
  const initCountry = countryCode || 'in';
   let pattern = '';
    pattern = new RegExp("[0-9]", "g");
  
  
   
  const reset = function() {
    
    telInput.removeClass("has-error");
    telInputLabel.removeClass("has-error");
    errorMsg.addClass("hidden-xs-up");
  };

  
  
  $.each(countryData, function(i, country) {
//    console.log(country.name)

    var country_name=(country.name).split("(",1)
//    console.log(country_name)  
    if (country_name[0]=='United States')
    {
      countryDropdown.append($("<option selected></option>").attr("value", country.dialCode).text(country_name[0]));
    }
    else
    {
      countryDropdown.append($("<option></option>").attr("value", country.dialCode).text(country_name[0]));
    }
    
  });

  // init plugin for formatting placeholders
  telInput.intlTelInput({
    allowDropdown: false,
    initialCountry: initCountry,
    utilsScript: "/static/assets/js/utils.js"
  });
  
    // set dropdowns initial value
  const initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;
  let dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
  countryDropdown.val(initialCountry);
  phonePrefix.text("+" + dialCode);
    phonePrefix.val("+" + dialCode);

  
  $('.flag-container').remove();
  $('.intl-tel-input').replaceWith(function() {
    return $('#phone-number', this);
  });

  // set placeholder
 

  // on blur: validate
  telInput.blur(function() {
    // reset states
    reset();

    if ($.trim(telInput.val())) {
      // if number is not valid
      if (telInput.intlTelInput("isValidNumber")) {
        // set hidden input to dial code + inputted number
        fullPhoneNumber.val(telInput.intlTelInput("getSelectedCountryData").dialCode + telInput.val());
      } else {
        // set error states
        telInput.addClass("has-error");
        telInputLabel.addClass("has-error");
        errorMsg.removeClass("hidden-xs-up");
        //clear hidden input val
        fullPhoneNumber.val("");
      }
    }
  });

  // on keyup / change flag: reset
  telInput.on("keyup change", reset);

  // listen to the country dropdown for changes.
  // updates placeholder and prefix when changed
  countryDropdown.change(function() {
    // Update Placeholder via plugin - so we can get the example number + format
    
    telInput.intlTelInput("setCountry", $(this).val());
    // Update Dial Code Prefix
    dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
    phonePrefix.text( dialCode);
    phonePrefix.val( dialCode);
   // Use updated placeholder to define formatting pattern
   
    // clear telephone input to prevent validation errors
    telInput.val("");
    // update placeholder to specific
    
  });

//    console.log(fullPhoneNumber)
//    console.log($("#phone_num").val(fullPhoneNumber))
};

// Testing for prepopulation. If country code not supplied: default = 'us'
// const initCountryCode = 'ca'; // uncomment to pass in as param
intlPhoneNumber();
</script>
</html>

