<html>

<head>
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/assets/css/sweetalert.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="/static/assets/js/sweetalert.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="/static/js/QRious.js"></script>
 <style>
label,input
{
  font-size: 18px !important;
    font-weight: 600 !important;
    
}
@media only screen and (min-width: 601px){
  .container {
    width: 100% !important;
}
 .canvas{border:1px solid red;}
         .card-container
{
   text-align: center;
   margin-bottom: 2.5em;
   margin-top:2 em;
}
.canvas
{
   border: 1px solid #d81615;
   /*background-color: #fff;*/
  /* background-image: url("/static/img/idcardbg.jpeg");*/
   -moz-box-shadow: 3px 3px 8px #222;
   -webkit-box-shadow: 3px 3px 8px #222;
   box-shadow: 3px 3px 8px #222;
}
.title
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 2.2em;
   margin: 1em;
}
.info
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 1.2em;
   margin: 0.25em;
}



}

@media only screen and (min-width: 993px){
  .container {
    width: 75% !important;
}

/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: verdana;
    font-weight: 400;
    line-height: 0.1;
    color: inherit;
}*/
 .canvas{border:1px solid red;}
         .card-container
{
   text-align: center;
   margin-bottom: 2.5em;
   margin-top:2 em;
}
.canvas
{
   border: 1px solid #d81615;
   /*background-color: #fff;*/
  /* background-image: url("/static/img/idcardbg.jpeg");*/
   -moz-box-shadow: 3px 3px 8px #222;
   -webkit-box-shadow: 3px 3px 8px #222;
   box-shadow: 3px 3px 8px #222;
}
.title
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 2.2em;
   margin: 1em;
}
.info
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 1.2em;
   margin: 0.25em;
}



}

.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
   #rcorners1 {
    border-radius: 5px;
    border: 2px solid #d81615;
    padding: 5px; 
    width: 315px;
    height: 480px; 
     text-align: center;

}  
@media only screen and (max-width: 768px) {
  .details_container{
    width:100%;overflow:scrool;
  }
#canvas_display
{
  display:block;
}
#canvas_download{
  display:none;
}
#rcorners1 {
    border-radius: 5px;
    border: 2px solid #d81615;
    padding: 5px; 
    width: 315px;
    height: 480px; 
     text-align: center;

}
}
@media only screen and (min-width: 768px) {
  .details_container{
    width:85%;
    overflow:scrool;
  }
#canvas_display
{
  display:none;
}
#canvas_download{
  display:block;
}
#rcorners1 {
    border-radius: 5px;
    border: 2px solid #d81615;
    padding: 5px; 
    width: 768px;
    height: 561px; 
     text-align: center;


}
  }
 

      </style>

</style>
  </head>
  
<script type="text/javascript">
 var qrcode_img;
 function wrapText(context, text, x, y, maxWidth, lineHeight) {
        var words = text.split(' ');
        var line = '';

        for(var n = 0; n < words.length; n++) {
          var testLine = line + words[n] + ' ';
          var metrics = context.measureText(testLine);
          var testWidth = metrics.width;
          if (testWidth > maxWidth && n > 0) {
            context.fillText(line, x, y);
            line = words[n] + ' ';
            y += lineHeight;
          }
          else {
            line = testLine;
          }
        }
        context.fillText(line, x, y);
        return y;
      }

function write_canvas(mode,member_img_url,language)
{
  membership_card_front="/static/img/membership/front.jpg";
  if(language=='English')
  {
    
    membership_card_back="/static/img/membership/english.jpg";
  }
  else if(language=='Hindi')
  {

    
    membership_card_back="/static/img/membership/hindi.jpg";
  
  }
  else
  {
    
    membership_card_back="/static/img/membership/telugu.jpg";
  }
 
  var name="{{name|safe}}";
  // name="Name: "+name;
   var membership_id="{{membership_id|safe}}";
   // membership_id="ID: "+membership_id;
   console.log(name,membership_id);
    var c = document.getElementById("canvas_download");
   
    var ctx = c.getContext("2d");

    var img = new Image()
    var display_canvas=document.getElementById("canvas_display");
    var ctx_display = display_canvas.getContext("2d");

     img.setAttribute('crossOrigin', 'anonymous');
 if(mode=='skip')
{ 

img.onload = function(){

      ctx.drawImage(img, 0, 0,350,542); 
      ctx_display.drawImage(img, 0, 0,300,464);

     ctx.font = " bold 20px bebasneue   ";
          ctx.fillStyle='black';
         
          ctx_display.font = "bold 20px bebasneue   ";
          ctx_display.fillStyle='black';
        
        ctx_display.moveTo(150, 0);
        ctx_display.lineTo(150, 400);
        ctx_display.textAlign="center";
        ctx.moveTo(175, 0);
        ctx.lineTo(175, 500);
        ctx.textAlign="center";
          x=60;
          y=265;
          y=wrapText(ctx, name, 170, y, 280, 20);

          y=y+28;
          ctx.fillStyle='#d81615';
          ctx.fillText(String(membership_id),170,y)
          //  

          x=50;
          y=230;
          y=wrapText(ctx_display, name, 150, y, 250, 20);

          y=y+28;
           ctx_display.fillStyle='#d81615';
          ctx_display.fillText(String(membership_id),150,y)

       


  }
  img.src = membership_card_front;

  }



  else
  {
    var member_img=new Image();
  img.onload = function(){

      ctx.drawImage(img, 0, 0,350,542); 
      ctx_display.drawImage(img, 0, 0,300,464);
member_img.src=member_img_url;
  }
 
img.setAttribute('crossOrigin', 'anonymous');
  img.src = membership_card_front;


   
// ;
member_img.setAttribute('crossOrigin', 'anonymous');
 member_img.onload = function(){



         
    ctx_display.save();
    ctx_display.beginPath();
    ctx_display.arc(148,148, 60, 0, Math.PI * 2, true);
    ctx_display.closePath();
    ctx_display.clip();

    ctx_display.drawImage(member_img, 88,88 ,118, 118);

    ctx_display.beginPath();
    ctx_display.arc(148,148, 60, 0, Math.PI * 2, true);
     ctx_display.lineWidth = 5;
// line color
ctx_display.strokeStyle = '#d81615';
ctx_display.stroke();

    ctx_display.clip();
    ctx_display.closePath();
    ctx_display.restore();

    // downloadable canvas
    ctx.save();
    ctx.beginPath();
    ctx.arc(173,180, 60, 0, Math.PI * 2, true);
    ctx.closePath();
    ctx.clip();

   ctx.drawImage(member_img, 113,120,118,118);

    ctx.beginPath();
    ctx.arc(173,180, 60, 0, Math.PI * 2, true);
    ctx.lineWidth = 5;
// line color
ctx.strokeStyle = '#d81615';
ctx.stroke();

    ctx.clip();
    ctx.closePath();
    ctx.restore();

    // end of downloadble canvas
          ctx.font = " bold 20px bebasneue   ";
          ctx.fillStyle='black';
         
          ctx_display.font = "bold 20px bebasneue   ";
          ctx_display.fillStyle='black';
        
        ctx_display.moveTo(150, 0);
        ctx_display.lineTo(150, 400);
        ctx_display.textAlign="center";
        ctx.moveTo(175, 0);
        ctx.lineTo(175, 500);
        ctx.textAlign="center";
         
          y=275;
          y=wrapText(ctx, name, 170, y, 280, 20);

          y=y+28;
          ctx.fillStyle='#d81615';
          ctx.fillText(String(membership_id),170,y)
          //  

        
          y=235;
          y=wrapText(ctx_display, name, 150, y, 250, 20);

          y=y+28;
           ctx_display.fillStyle='#d81615';
          ctx_display.fillText(String(membership_id),150,y)

 }
 
  }
var qr_img=new Image();
   var back_img = new Image()
      back_img.src = membership_card_back;
    
     
     back_img.setAttribute('crossOrigin', 'anonymous');
     back_img.onload = function(){
     ctx.drawImage(back_img, 400,0,350,542);
      qr_img.src=qrcode_img;


}

    
     qr_img.setAttribute('crossOrigin', 'anonymous');
 qr_img.onload = function(){
     ctx.drawImage(qr_img, 531,63,95,95);
     



}

}


window.onload = function() {
 



var windowHeight = $(window).height();

$('html, body').animate({scrollTop:windowHeight/4}, 700);



   var url_membership_id="{{membership_id|safe}}";
  var name="{{name|safe}}";
  
  var phone="{{phone|safe}}";
   var membership_id="{{membership_id|safe}}";
   var member_img_url="{{img_url|safe}}";
   var language="{{language|safe}}"
   var status="{{status|safe}}";


   var qr = new QRious({
    element: document.getElementById('qr'),
    value: "https://janasenaparty.org/getQRCodeDetails?id="+url_membership_id,
    background: 'white', // background color
    foreground: 'black', // foreground color
    level: 'L', // Error correction level of the QR code (L, M, Q, H)
    mime: 'image/png', // MIME type used to render the image for the QR code
    size: 120 // Size of the QR code in pixels.
})
qrcode_img=qr.toDataURL('image/png');
var mode;
if(member_img_url=='')
{
mode='skip';
}
else
{
  mode='image';
}
write_canvas(mode,member_img_url,name,membership_id,status,language)


$(".loader").css("display","None");




function downloadCanvas(link, canvasId, filename) {
 
    link.href = document.getElementById(canvasId).toDataURL();
    link.download = filename;
    return link.href;
}
function downloadingcanvas()
{
  
  var link=document.getElementById('download');
  var currentdate = new Date();
var datetime_string =  currentdate.getDate() + "_" + (currentdate.getMonth()+1) + "_" + currentdate.getFullYear() + " _" + currentdate.getHours() + "_" + currentdate.getMinutes() + "_" + currentdate.getSeconds();
  var filename="JANASENAPARTY_"+datetime_string+".png";
    downloadCanvas(link, 'canvas_download', filename);
}
document.getElementById('download').addEventListener('click', function() {

  var currentdate = new Date();
var datetime_string =  currentdate.getDate() + "_" + (currentdate.getMonth()+1) + "_" + currentdate.getFullYear() + " _" + currentdate.getHours() + "_" + currentdate.getMinutes() + "_" + currentdate.getSeconds();
  var filename="JANASENAPARTY_"+datetime_string+".png";
   var img_url= downloadCanvas(this, 'canvas_download', filename);
 if(Android)
 {Android.downloadMembership(img_url);}
  
    
}, false);


pdfdownload.addEventListener("click", function() {
  // only jpeg is supported by jsPDF
  var imgData = c.toDataURL();
  var pdf = new jsPDF();

  pdf.addImage(imgData, 'JPEG', 20, 20);
  var download = document.getElementById('download');
    var currentdate = new Date();
var datetime_string =  currentdate.getDate() + "_" + (currentdate.getMonth()+1) + "_" + currentdate.getFullYear() + " _" + currentdate.getHours() + "_" + currentdate.getMinutes() + "_" + currentdate.getSeconds();
  var filename="JANASENAPARTY_"+datetime_string+".pdf";
  pdf.save(filename);
}, false);









}
function print_idcard()
{
    const dataUrl = document.getElementById('canvas_download').toDataURL(); 

let windowContent = '<!DOCTYPE html>';
windowContent += '<html>';
windowContent += '<head><title>Print canvas</title></head>';
windowContent += '<body>';
windowContent += '<img src="' + dataUrl + '">';
windowContent += '</body>';
windowContent += '</html>';

const printWin = window.open('', '', 'width=' + 750 + ',height=' + 542);
printWin.document.open();
printWin.document.write(windowContent); 

printWin.document.addEventListener('load', function() {
    printWin.focus();
    printWin.print();
    printWin.document.close();
    printWin.close();            
}, true);
}
   
</script>
  <body>
    <header class="cd-main-header show-on-medium-and-down"> 
  <a href="javascript:void(0);" class="cd-nav-trigger"><span></span></a>
</header>
<section class="no-padding" style="background:url(/static/img/top-header-bgr.png) repeat-x;">
  <div class="row">
      <div class="col l4 m12 s12 center-align"><a href="/"> <img src="/static/img/jenasena_logo.png" class="responsive-img" alt="Jana Sena Party Logo" style="position:relative; top:45px;"></a> </div>
    <!--<div class="col l2 m12 s12 left-align"> <img src="../img/janasena-party-missed-call-number.png" height="30" alt=" " style="position:relative; top:150px;" class="hide-on-med-and-down"> </div>-->
    <div class="col l4 m12 s12 black-text"> 
   <div style="position:relative; top:150px; " class="hide-on-med-and-down">
              
        <span style="font-size:16px; font-weight:800;color:#d81615;">Follow Our Social Stream </span>
    <a href="https://www.facebook.com/janasenaparty/" target="_blank"><i class="fa fa-facebook white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/Janasenaparty?lang=en" target="_blank"><i class="fa fa-twitter white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/Janasenaparty" target="_blank"><i class="fa fa-instagram white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/Janasenaparty" target="_blank"><i class="fa fa-youtube white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>
    </div>
     </div>
    <div class="col l4 m12 s12 right-align no-padding hide-on-med-and-down"> <img src="/static/img/rt-header-bit.png" height="162" alt=" "> </div>
  </div>
  
</section>
<img id="qrious" style="display:none">
          <div class="loader">
                <div class="spinner"> <svg width='48px' height='48px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-hourglass">
                  <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                  <g>
                  <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z" class="glass"></path>
                  <clipPath id="uil-hourglass-clip1">
                      <rect x="15" y="20" width="70" height="25" class="clip">
                      <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <clipPath id="uil-hourglass-clip2">
                      <rect x="15" y="55" width="70" height="25" class="clip">
                      <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)" fill="#ffab00" class="sand"></path>
                  <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)" fill="#ffab00" class="sand"></path>
                  <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                </g>
                  </svg> </div>
              </div>
          <div class="clearfix">&nbsp;<br>
              </div>
  <div class="container" align="center">
     
    <div class="row">
        <div  id="id_card_div" >
  
            <div class="row"   align="center">
            <div class="card-container" id="rcorners1" align>
            <canvas id="canvas_display" class="canvas" width="300" height="464" ></canvas>
             <canvas id="canvas_download" class="canvas" width="750" height="542" ></canvas>
            </div>
            <div class="row" align="center">
            <a id="download"><button style="font-weight: 800;color: #d81615;border-color: #d81615;"> Download </button></a>
            <button id="pdfdownload" style="font-weight: 800;color: #d81615;border-color: #d81615;display:None">Download as PDF</button>

            <a href="javascript:print_idcard()"><button style="font-weight: 800;color: #d81615;border-color: #d81615;display:None">PRINT</button></a>
            </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>