{% extends "membership_layout.html" %}

{% block body %}
<style>
.submit{ background: #d61f26; border: 0; padding: 8px 30px; color: #fff; margin: 10px 5px 0; text-transform: uppercase; font-size: 13px; letter-spacing: .5px; position: relative; } .form-control{ border-radius: 1px; height:36px; border-color: darkcyan;width:100%;} .captcha-textbox { background-color: #fff; padding: 2px 4px; } .captcha-textbox li { display: inline-block; list-style: none; margin-left: 5px; } .captcha-textbox input { background: none; border: none; border-bottom: 1px solid #d81615; }
</style>

<div class="container " style="border:#587783 solid 2px;
    min-height: 500px;  margin-top: 83px;
    width: 60%;" >

<div class="memb">
      <div class="membership  details_screen clear-fix">
        <h4 style="text-align: center;
                          font-size: 24px; 
                          font-weight: 400;
                          color: #d81615;
                          font-size: 2.60rem;margin-top: 21px;">Membership
          Enrolment Form</h4>
        <div class="membership_form1 " >
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="form-group" >
                <label>Phone Number Or MembershipID</label>
                <input type="text" class="form-control" id="phone_number_web" placeholder="Enter MembershipID or Phone Number">
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" required="">
              </div>
            </div>

           
          </div>
          <div class="row">
             <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="form-group">
                <label>Email (optional)</label>
                <input type="text" class="form-control" id="email" placeholder="Enter email">
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="form-group" >
                <label>Age</label>
                <input type="text" class="form-control" onkeypress="return isNumeric(event)" id="age" placeholder="Enter Age" required="">
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="form-group" >
              <label for="gender">Gender</label>
              <select name="gender" id="gender" class="form-control" required="">
                <option value="" selected="">Select Gender</option>
                <option value="Male" class="Male">Male</option>
                <option value="Female" class="Female">Female</option>
                <option value="Transgender" class="Transgender">Transgender</option>
              </select>
            </div>
          </div>
           
          </div>
          <div class=row>
            <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="form-group" >
                <label for="state">State</label>
                <select name="state" id="state" class="form-control" required="">
                  <option value="" selected="">Select State</option>
                  <option value="1"> AndhraPradesh</option>
                  <option value="2">Telangana</option>
                  <option value="3">Karnataka</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="district"> Select District</label>
                <select name="district" id="district" class="form-control" required="">
                  <option value="" selected="">Select District</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="constituency">Constituency</label>
                <select name="constituency" id="constituency" class="form-control" required="">
                  <option value="" selected="">Select constituency</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
             <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="form-group">
                <label>Referral ID</label>
                <input type="text" class="form-control" id="referral_id" placeholder="Enter Referral ID">
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="form-group" style="margin-left: 15px;">
                <label for="jscaptchainput"> Please enter captcha *:</label>
                <div class="captcha-textbox form-control" style="width:100%;background-color: white;;">
                  <span class="form-inline" id="jscaptchatext" style="font-size: 18px;color:black;padding-left:10px"></span>
                  <input type="text" id="jscaptchainput" style="width: 50%;font-family: 'Open Sans', sans-serif;padding: 0.1em 0em 1px 0em;border: none;border-radius: 0px;color:black;font-size:18px;outline: none;margin: 0px;background: none;" />
                </div>
                <p id="captcha_error" style="display:none;color:#d81615;">Please enter above captcha
                </p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="form-group">
              <button type=submit class="submit" id="membership_submit" style="margin-top:27px">Proceed Next</button></br>
           </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row otpdiv" style="display:none">
    
    
      <div class="membership clear-fix" >
        <h4 style="text-align: center;
                          font-size: 24px; 
                          font-weight: 400;
                          color: #d81615;
                          font-size: 2.60rem;">Verify
          OTP</h4>
        </div>
        <div class="col-md-4 col-lg-4"></div>
        <div class="col-md-4 col-sm-12 col-lg-4" >

          <h5>6 Digit OTP has been sent to given Mobile Number.</h5>
          <label for="otp">OTP :</label>
          <input type="text" class="form-control" name="otp" id="otp" placeholder="Please Enter OTP Here" minlength="6"
            maxlength="6" required="">
          <p class="alert alert-danger " id="otp_error" style="display:none">Enter Valid OTP.</p>
          <p id="resendotptag"><a href="#" id="resendotp" style="float:right ;">Resend OTP</a></p>
          <button type="submit" class="submit" id="otp_submit">Verify</button>
        </div>
      </div>
    </div>
  </div>
   
  

<script>

   function isNumeric(evt) {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
      var regex = /[0-9\b]|\./;
      if (!regex.test(key)) {
        theEvent.returnValue = false;
        if (theEvent.preventDefault) theEvent.preventDefault();
      }
    }
var input_login = $('#jscaptchainput');
var label_login = $('#jscaptchatext');

var randomNr1 = 0;
var randomNr2 = 0;
var totalNr_login = 0;

randomNr1 = Math.floor(Math.random()*10);
randomNr2 = Math.floor(Math.random()*10);
totalNr_login = randomNr1 + randomNr2;
var texti_login = randomNr1+" + "+randomNr2+" = ";

$(label_login).text(texti_login);

function validate_captcha_login()
{
   var nr = $('#jscaptchainput').val();

    if(nr==totalNr_login)
    {
      return true;
    }
    else
    {
       $('#jscaptchainput').focus();
      return false;
    }
}

 




var phone_or_membership_id;  

var districts;
var assembly_constituencies;
$.getJSON('/static/json/membership/districts.json',function(data){
  districts=data;

});
$.getJSON('/static/json/membership/constituencies.json',function(data){
  assembly_constituencies=data;

});
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};  
 function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  } 
function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9\b]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }           


function validateOTPLength()
{
  var regex = /^[0-9]{6}$/g;
  var otp=$("#otp").val();
  var length=otp.length;
  if(length==6){
    if(regex.test(otp))
    {
      $("#otp_error").css("display","None");
     
    }
    else
    {
      $("#otp_error").css("display","block");
      
    }
      
   
    

  

}
else
{
  $("#otp_error").css("display","None");
  
}

  }

function validateMobileNoLength()
{
  var mobileregex = /^[6-9]{1}[0-9]{9}$/g;
  var membership_regex=/^jsp+[0-9]{8}$/i;
  var mobile_num=$("#phone_number_web").val();
  var length=mobile_num.length;
  if(length==10){
    if(mobileregex.test(mobile_num))
    {
     
              phone_or_membership_id='p';
             
              return true;
    }
    else
    {
      
    
      return false;
    }
 
}
else if(length==11)
{
  if(membership_regex.test(mobile_num))
    {
     
      
              phone_or_membership_id="m";
              
              return true;
    }
    else
    {
      
    
      return false;
    }
}
else
{
  
  return false;

}

  }


  function isEmpty(val){
    return (val === undefined || val == null || val.length <= 0) ? true : false;
}
</script>
<script>

$(document).ready(function(){
var otp_count=0;
   var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
var phone_or_membership = getUrlParameter('phone_or_membershipid');
if(!isEmpty(phone_or_membership))
{
$("#phone_number_web").val(phone_or_membership);


}

function validate_email(email)
{
  var re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
if (email == '' || !re.test(email))
{
    
    return false;
}
else
{
  return true;
}
}

function validate()
{
   $(".validation").html('');
$("p").remove(".validation");
  var name=$("#name").val();
var email=$("#email").val();
var age=$("#age").val();
var gender=$("#gender").val();
var district=$("#district").val();
var constituency=$("#constituency").val();
var state_id=$("#state").val();
var referral_id=$("#referral_id").val();

 if (!validateMobileNoLength()){
         
          $("#phone_number_web").after("<br><p class='validation' style='color:red;'>Enter Valid Phone or Membership ID</p>");
          $("#phone_number_web").focus();

          return false;
        }

 if (isEmpty(name)){
         
  $("#name").after("<p class='validation' style='color:red;'>This Field is Required</p>");
  $("#name").focus();

  return false;
}
// if (!validate_email(email)){
         
//   $("#email").after("<p class='validation' style='color:red;'>Enter Valid Email</p>");
//   $("#email").focus();

//   return false;
// }

if (isEmpty(age)) {
         
          $("#age").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#age").focus();

          return false;
        }
        if (isEmpty(gender)) {
         
          $("#gender").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#gender").focus();

          return false;
        }
if (isEmpty(district)) {
         
          $("#district").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#district").focus();

          return false;
        }

  if (isEmpty(constituency)) {
         
          $("#constituency").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#constituency").focus();

          return false;
        }
     if (isEmpty(state_id)) {
         
          $("#state").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#state").focus();

          return false;
        }  

        return true;


}



 $("#membership_submit").click(function(e)
 {
   $(".loader").css("display", "block");
  if(!validate())
  {
    $(".loader").css("display", "None");
return false;
  }
  
  if(!validate_captcha_login())
  {

    $(".loader").css("display", "None");
     swal("Error","please enter captcha",'error');

      return false;

  }
  






var voter_id='';
var name=$("#name").val();
var email=$("#email").val();
var age=$("#age").val();
var gender=$("#gender").val();
var district=$("#district").val();
var constituency=$("#constituency").val();
var state_id=$("#state").val();
var referral_id=$("#referral_id").val();
var phone=$("#phone_number_web").val();
if(phone_or_membership_id=='p')
{
  phone="91"+phone;
}
data={phone:phone,voter_id:voter_id,name:name,email:email,age:age,gender:gender,district:district,constituency:constituency,mtype:phone_or_membership_id,state_id:state_id ,referral_id:referral_id}
$.ajax({
           type: "POST",
           url: "/manualMembership",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
               $(".loader").css("display","None")
              
       
        
        $(".details_screen").css("display","None")
        $(".otpdiv").css("display","block");
            
          
      
                
               }
               else if(response.data.status=='4') 
               {
                 $(".loader").css("display","None")
                 swal("error",response.errors,"Error");
                 return false;
               }
               else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
         
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
       
 })

$("#state").change(function()
{
  var state=$("#state").val();
 
 

var districts_data=districts[state]


$('#district')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select District</option>')
        .val('');
        $('#constituency')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
        $.each(districts_data, function (i,val) {
          $('#district').append($('<option>', { 
          value: val.id,
          text : val.district_name
          }));
          });
  

})

$("#district").change(function()
  {
  var district=$("#district").val();
 console.log(district)
  if (!district)
  {
    return false;
  };
 $.each(assembly_constituencies,function(i,val){
  if(district==i)
  {
    console.log(district)
    $('#constituency')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
        $.each(val, function (akey,avalue) {
         
          $('#constituency').append($('<option>', { 
          value: avalue.constituency_id,
          text : avalue.constituency_name
          }));
          });
  }

 });

 

});



 $("#resendotp").click(function()
      {
        if(otp_count<3)
        {


        
         $(".loader").css("display","block");
          
          $.ajax({
           type: "POST",
           url: "/resendOTP",
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
         
               if (response.data.status=='1') {
                otp_count=otp_count+1;
               // alert("otp verified successfully.  Fetching your details");
               swal("OTP Resent  successfully!", " Check Your Phone", "success")
 $(".loader").css("display","None")
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
           
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
        }
        else{
           $("#resendotptag").css("display","None");
          swal("Error",'OTP can be resend only three times only ',"error");

          return false;
        }  
      }) 

$("#otp_submit").click(function(e)
{
  
           

  var otp=$("#otp").val();
  if(otp.length!=6)
  {
     swal('Error','Please Enter Valid OTP','error')
     return false
  }
  $(".loader").css("display","block");
  data={otp:otp} 
            $.ajax({
                       type: "POST",
                       url: "/validateManualOTP",
                       dataType: "json",
                       data:data,
                       ContentType:"application/json",
                       success: function (response) {
                        
                           if (response.data.status=='1') {
                           

                             $(".detals_screen").css("display","None")
                          $(".otpdiv").css("display","none");
                           window.location.replace("/MembershipCard")
                          $(".loader").css("display","None");
           
                           

                           }
                           else
                           {
                            $(".loader").css("display","None");
           
                             swal('Error',response.errors,'error')

                                return false;

                           }
                       }
                   });


})


  
})

</script>
{% endblock %}