{% extends "membership_layout.html" %}

{% block body %}
<script src="/static/assets/js/intelTellinput3.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery.formatter.min.js"></script>
  <style>
    label{
    font-family: Ramabhadra,sans-serif;
    font-size: 20px;
    font-weight: 500 !important;
  }
 @media (max-width: 415px){
    .xs-hidden{
      display:none!important;
    }
    .playstore{
      display:none!important;
    }
    .googleplay{
      display:none!important;
    }
    .nri_membership{
      width: 100%!important;
    }
     .form-control{
 
  width:95% !important;
}
select {
   width:95% !important;
}
   
 }

 .fahover {
      opacity: 0.7;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-home {
      background: #bb0000;
      color: white;
    }
    .fa {
      padding: 3px !important;
      font-size: 22px !important;
      width: 30px !important;
      text-align: center !important;
      text-decoration: none !important;
      margin: 3px !important;
    }
    .nri_membership{
      border: #587783 solid 2px;
    min-height: 478px;
    margin-top: 50px;
    background-color: white;
    }

    .form-control{
  border-radius: 1px;
  height:36px;
  border-color: darkcyan;
  width:84%
}
.submit{
      background: #d61f26;
    border: 0;
    padding: 8px 30px;
    color: #fff;
    margin: 10px 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
    position: relative;
    
    }
      .nri_membership{
      border: #587783 solid 2px;
    min-height: 478px;
    margin-top: 50px;
    background-color: white;
    }

    .form-control{
  border-radius: 1px;
  height:36px;
  border-color: darkcyan;width:84%;
  width:84%
}
.submit{
      background: #d61f26;
    border: 0;
    padding: 8px 30px;
    color: #fff;
    margin: 10px 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
    position: relative;
    
    }
</style>

<div class="container" style="margin-top:40px">
      <div class="row membership_form" >
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 nri">

          <div class="nri_membership clearfix" style="width:90%;">
            <h4 style="text-align: center; font-size: 24px; margin-top: 19px;font-weight: 400;color: #d81615;font-size: 2.60rem;"
              id="text">Membership
              Enrolment Form</h4>
            <div class="nri" style="margin-top: 37px">
              <div class="row">
                <div class="col-xs-12 col-sm-12" id="login" style="padding-left: 55px;">
                  <div class="form-group">
                     <input type="hidden" name="country" id="country" value="" />
                    <label for="phone-number-country"> Select country</label>
                    <select name="phone-number-country" id="phone-number-country" class="form-control" value='' required="">
                      <option value="" selected="">Select Country</option>
                    </select>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12" style="padding-left: 55px;">

                  <div class="form-group  " id="sx">

                    <label>Phone Number </label>
                    <input type="text" class="form-control" id="phone_number_web" placeholder="Enter Phone Number"
                      maxlength="11" autocomplete="off" oninput="maxLengthCheck(this)">
                   
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12" style="padding-left: 55px;">

                  <div class="form-group " id="sx">
                    <label>Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter Your Email Here"
                      maxlength="50" autocomplete="off" >

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12" style="padding-left: 55px;">
                  <label>Voter ID</label>

                  <input type="text" id="voterid" name="voterid" minlength="10" maxlength="14" 
                    class="form-control" oninput="maxLengthCheck(this)" placeholder="Enter Your Voter Id" 
                    required>

                
                </div>
              </div>
               <div name="otpform" id="otp_div" class="row form-otpform" style=";display:none;padding-left: 55px;">

                     <div class="form-group">
                  <label >OTP :</label>
                  <input id="otp" name="otp" class="form-control" type="text" minlength="6" maxlength="6" 
                    onkeypress="return isNumeric(event)"  
                    placeholder="Enter OTP Here" required>
                     <p id="resendotptag">
                      <a href="#"  id="resendotp" style="float:right;margin-right:50px" >Resend OTP</a></p>
                  <p style="margin:8px;">OTP sent to your Mobile. please check</p>
                  </div>
                 
                 
                
                <div class="space-top text-center " id="verify_div" >
                  <button class="submit" id="verify">
                    Verify OTP
                  </button>
                </div>
              </div>


              <div class="row" id="request_otp_div">
                <div class="col-xs-12 col-sm-12" style="padding-left: 55px;">
                  <div class="form-group">
                    <button type="submit" class="submit" id="proceed_next" style="margin-left:66px ">Request OTP</button><br>
                  </div>
                   <div class="form-group">
                  <a href="/membershipWithNoVoterIDint" id="not_register" style="margin-top:20px;font-size: 18px;margin-left: 64px;">Not a
                    registered Voter? Please click here</a>
                </div>
                </div>
              </div>


               
              </div>
        
          </div>
        </div>
      </div>

      <div style="display:none;border:#587783 solid 2px;
    min-height: 500px;  margin-top: 83px;text-transform:capitalize; margin: auto;width: 80%;margin-top: 50px;" class="detals_screen">
  
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 50px;">
          <h5 style="color:#d81615;">Below are the details as per your Voter ID</h5>
          <br>
          <h5 style="font-weight:300; padding:0; margin:0; line-height:1em;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td  class="text-red" width="38%"><label for="name" class="namevoter text-red">Name:</label></td>
                <td><span id="name"  class="namevoter"   ></span></td>
              </tr>
              <tr>
                <td class="text-red" width="38%"><label for="voter_id" class="namevoter text-red">Voter Id:</label></td>
                <td><span id="voter_id"  class="namevoter"  ></span></td>
              </tr>
            </table>
          </h5>
          
          <h6 class="no-margin" style="font-weight:400;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <!-- <tr>
                <td class="text-red"  width="38%" ><label for="phone" class="udetails text-red"><span id="phone_or_membership_id"></span></label></td>
                <td><span id="phone"  class="udetails"  ></span></td>
              </tr> -->
              <tr>
                <td class="text-red" width="38%"><label for="relation" class="udetails text-red"><span id="relation_type"></span> Name:</label></td>
                <td class="black-text"><span id="relation"  class="udetails"   ></span></td>
              </tr>
              <tr>
                <td class="text-red"><label for="age" class="udetails text-red">AGE:</label></td>
                <td class="black-text"><span id="age"  class="udetails"   ></span></td>
              </tr>
              <tr>
                <td class="text-red"><label for="gender" class="udetails text-red">Gender:</label></td>
                <td class="black-text"><span id="gender"  class="udetails"   ></span></td>
              </tr>
              <tr>
                <td class="text-red"><label for="address" class="udetails text-red">H.NO:</label></td>
                <td class="black-text"><p id="address"  class="udetails"   ></p></td>
              </tr>
              <tr>
                <td class="text-red"><label for="booth" class="udetails text-red">Polling Station No. &amp; <br>
                    Address:</label></td>
                <td class="black-text"><span id="booth_name"  class="udetails"  ></span></td>
              </tr>
              <tr>
                <td class="text-red"><label for="section_name" class="udetails text-red">Constituency Name:</label></td>
                <td class="black-text"><span id="section_name"  class="udetails"  ></span></td>
              </tr>
              <tr>
                <td class="text-red"><label for="town" class="udetails text-red">District</label></td>
                <td class="black-text"><span id="town"  class="udetails"  ></span></td>
              </tr>
            </table>
          </h6>
          <div  style="margin-left:15px;">
           <input type="submit" class="submit"  id="membership_submit" style="float:left; margin-right: 108px;height:2.4em !important" value="Next">
            </div>
        </div>
      </div>
  </div>
    </div>

 <script>
        var phone_or_membership_id='p';
  function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  } 
  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9\b]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }           
function validateEmail(email)
{
  var regexEmail = /\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;

if (regexEmail.test(email)) {
   return true;
} else {
    return false;

}
}
function validateOTPLength()
{
  var regex = /^[0-9]{6}$/g;
  var otp=$("#otp").val();
  var length=otp.length;
  if(length==6){
    if(regex.test(otp))
    {
      $("#otp_error").css("display","None");
     
    }
    else
    {
      $("#otp_error").css("display","block");
      
    }

}
else
{
  $("#otp_error").css("display","None");
  
}

  }

function validatevoter_id()
{
  var regex = /^[A-Za-z]{2,3}[0-9]*$/g;
  var voter_id=$("#voterid").val();
  var length=voter_id.length;
  if(length>=10 && length<=14){
    if(regex.test(voter_id))
    {
      return true;
      
    }
    else
    {
      return false;
      
    }
}
else
{
  return false;
  

}

  }
  function validateinternationalmobile(mobile,country)
  {
    if(mobile.length>6)
    {


      if (country=='91')
        {
          mobileregex= /^[6-9]{1}[0-9]{9}$/g;
        }
        else if (country=="1")
        {
          mobileregex= /^[0-9]{10}$/g;
        }
        else
        {
          mobileregex= /^[0-9]*$/g;
        }
      if(mobileregex.test(mobile))
      {
        return true;
      }
      else{
        return false;
      }
    }
    else
    {
      return false;
    }
  }

 function isEmpty(val){
    return (val === undefined || val == null || val.length <= 0) ? true : false;
}
function validate()
{
    $(".validation").html('');
$("p").remove(".validation");
  var country_code=$("#country").val();
 var country_name=$('select[name="phone-number-country"] option:selected').val();
  var phone=$("#phone_number_web").val();
  var email=$("#email").val();
  var voter_id=$("#voterid").val();
  

 

 if(isEmpty(country_name))
 {
$("#phone-number-country").after("<p class='validation' style='color:red;'>This Field is required</p>");
          $("#phone-number-country").focus();

          return false;

 }
  if(!validateinternationalmobile(phone,country_code))
  {
    $("#phone_number_web").after("<p class='validation' style='color:red;'>This Field is required</p>");
          $("#phone_number_web").focus();

          return false;
  }

   if(!validateEmail(email))
 {
   $("#email").after("<p class='validation' style='color:red;'>Enter Valid Email</p>");
          $("#email").focus();

          return false;
  
 }
 if(!validatevoter_id(voter_id))
 {
   $("#voterid").after("<p class='validation' style='color:red;'>Enter Valid Voter ID</p>");
          $("#voterid").focus();

          return false;
  
 }

return true;

 }

$(document).ready(function()
{
  var otp_count=0;
   var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

  $("#proceed_next").click(function()
  {
   
    var voter_id=$("#voterid").val();

  var phone_number=$("#phone_number_web").val();
 var country_code=$("#country").val();
 var country_name=$('select[name="phone-number-country"] option:selected').text();
 var email=$("#email").val();
 console.log(voter_id,phone_number,country_code,country_name,email)
 if(!validate())
 {

  return false;
 }
 if(phone_or_membership_id=='p')
 {
  
    phone_number=country_code+phone_number;
  }

 
 
  $(".loader").css("display","block");
data={mobile_num:phone_number,voter_id:voter_id,country_name:country_name,email:email}
console.log(country_name)
 $.ajax({
           type: "POST",
           url: "/verifyMemberDetailsint",
           data:JSON.stringify(data),             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                $("#request_otp_div").css("display","None");
              
              // swal("OTP has been sent ","to your mobile number successfully","success")
    $("#voterid").prop("readonly",true);
$("#phone_number_web").prop("readonly",true);
 $("#email").prop("readonly",true);         

$("#otp_div").css("display","block");





$(".loader").css("display","None");

                
               }
               else if (response.data.status=='2')
               {
                          $(".loader").css("display","None");

                              swal({
                title: "Sorry, your voter id is not in our database",
                text:"Please enter your details manually." ,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: false
              },
              function(){
                var phone=$("#phone_number_web").val();
                var country=$("#country").val();
                window.location.replace("/membershipWithNoVoterIDint?phone="+phone+"&voter_id="+voter_id+"&country="+country)
              });
               } 
               else if (response.data.status=='3')
               {
                $(".loader").css("display","None");
                swal('info',response.errors,'info')

                    return false;
               }
               else if (response.data.status=='4')
               {
                $(".loader").css("display","None");
                swal('info',response.errors,'info')

                    return false;
               }
               else {
                   
                    $(".loader").css("display","None");
                    // alert(response.errors);
                    swal('Error',response.errors,'error')

                    return false;
                   
               }
           },
           error:function(response)
           {
            
            $(".loader").css("display","None");
            swal('Error','Please try again','error')
             return false;
           }
           
       });

  })



  var country=$('select[name="phone-number-country"] option:selected').val();
    
    $("#country").val(country);
      
  $("#phone-number-country").change(function()
  {

       var country=$('select[name="phone-number-country"] option:selected').val();
    
    $("#country").val(country);
    
  }) 


$("#verify").click(function()
  {
     $(".loader").css("display","block");

    var voter_id=$("#voterid").val();

  var phone_number=$("#phone_number_web").val();
var otp=$("#otp").val();

var data={otp:otp}
 $.ajax({
           type: "POST",
           url: "/validateOTP",
           data:JSON.stringify(data),             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
               // alert("otp verified successfully.  Fetching your details");
               // swal("OTP verified successfully!", " Fetching your details", "success")
$(".membership_form").css("display","None");
                // if(phone_or_membership_id=='m')
                // {
                //   $("#phone_or_membership_id").text("MembershipID:");
                // }
                // else
                // {
                //   $("#phone_or_membership_id").text("Mobile:");
                // }
                  
                //   $("#phone").html(phone_number);
                  $("#voter_id").html(voter_id);
                  $("#name").html(response.data.children.Name);
                   $("#relation").html(response.data.children["relation_name"]);
                   $("#relation_type").html(response.data.children["relation_type"]);
                    $("#address").html(response.data.children.House_No);
                     $("#age").html(response.data.children.Age);
                     $("#gender").html(response.data.children.Sex);
                      $("#booth").html(response.data.children["Booth No"]);
                      var polling_station_details=response.data.children["Booth No"]+" & "+response.data.children["booth_name"];
                      $("#booth_name").html(polling_station_details);
                     $("#section_id").html(response.data.children["Booth No"]);
                     $("#assembly_id").html(response.data.children["Section_id"]);
                      $("#section_name").html(response.data.children["constituency_name"]);
                     $("#town").html(response.data.children["district_name"]);
                     $("#state").html(response.data.children["state"]);
                 $(".loader").css("display","None");
              console.log(response.data.children)
               $(".detals_screen").css("display","block");

                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response)
            $(".loader").css("display","None");
             swal('Error','Please try again','error')
             return false;
           }
           
       });
 });
$("#membership_submit").click(function(){
$(".loader").css("display","block");
$("#membership_submit").prop('disabled',true);
  var email=$("#email").val();
  var referral_id="";
  var data={email:email,referral_id:referral_id}
  $.ajax({
           type: "POST",
           url: "/membership",
           data:JSON.stringify(data),             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                $(".loader").css("display","none");
                window.location.replace("/MembershipCard")
               }else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response)
            $(".loader").css("display","None");
             swal('Error','Please try again','error')
             $("#membership_submit").prop('disabled',false);
             return false;
           }
           
       });


})

  $("#resendotp").click(function()
      {
        if(otp_count<3)
        {


        
         $(".loader").css("display","block");
          
          $.ajax({
           type: "POST",
           url: "/resendOTPint",
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                otp_count=otp_count+1;
               // alert("otp verified successfully.  Fetching your details");
               swal("OTP Resent  successfully!", " Check Your Email", "success")
              $(".loader").css("display","None")
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
           
            $(".loader").css("display","None");
           
           
             swal('Error','Session Expired.\n Please try again','error')
             return false;
           }
           
       });
        }
        else{
           $("#resendotptag").css("display","None");
          swal("Error",'OTP can be resend only three times only ',"error");

          return false;
        }  
      })  
 
  })

const intlPhoneNumber = function(countryCode) {
  // get the country data from the plugin
  const countryData = $.fn.intlTelInput.getCountryData();
  const telInput = $("#phone-number");
  const telInputLabel = telInput.parents(".form-group").find("label");
  const countryDropdown = $("#phone-number-country");
  const phonePrefix = $('.phone-number-prefix');
  const fullPhoneNumber = $('#phone-number-full');
  const errorMsg = $("#error-msg");
  const initCountry = countryCode || 'in';
   let pattern = '';
    pattern = new RegExp("[0-9]", "g");
  
  
   
  const reset = function() {
    
    telInput.removeClass("has-error");
    telInputLabel.removeClass("has-error");
    errorMsg.addClass("hidden-xs-up");
  };

  
  
  $.each(countryData, function(i, country) {
//    console.log(country.name)

    var country_name=(country.name).split("(",1)
//    console.log(country_name)  
    if (country_name[0]=='United States')
    {
      countryDropdown.append($("<option selected></option>").attr("value", country.dialCode).text(country_name[0]));
    }
    else
    {
      countryDropdown.append($("<option></option>").attr("value", country.dialCode).text(country_name[0]));
    }
    
  });

  // init plugin for formatting placeholders
  telInput.intlTelInput({
    allowDropdown: false,
    initialCountry: initCountry,
    utilsScript: "/static/assets/js/utils.js"
  });
  
    // set dropdowns initial value
  const initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;
  let dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
  countryDropdown.val(initialCountry);
  phonePrefix.text("+" + dialCode);
    phonePrefix.val("+" + dialCode);

  
  $('.flag-container').remove();
  $('.intl-tel-input').replaceWith(function() {
    return $('#phone-number', this);
  });

  // set placeholder
 

  // on blur: validate
  telInput.blur(function() {
    // reset states
    reset();

    if ($.trim(telInput.val())) {
      // if number is not valid
      if (telInput.intlTelInput("isValidNumber")) {
        // set hidden input to dial code + inputted number
        fullPhoneNumber.val(telInput.intlTelInput("getSelectedCountryData").dialCode + telInput.val());
      } else {
        // set error states
        telInput.addClass("has-error");
        telInputLabel.addClass("has-error");
        errorMsg.removeClass("hidden-xs-up");
        //clear hidden input val
        fullPhoneNumber.val("");
      }
    }
  });

  // on keyup / change flag: reset
  telInput.on("keyup change", reset);

  // listen to the country dropdown for changes.
  // updates placeholder and prefix when changed
  countryDropdown.change(function() {
    // Update Placeholder via plugin - so we can get the example number + format
    
    telInput.intlTelInput("setCountry", $(this).val());
    // Update Dial Code Prefix
    dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
    phonePrefix.text( dialCode);
    phonePrefix.val( dialCode);
   // Use updated placeholder to define formatting pattern
   
    // clear telephone input to prevent validation errors
    telInput.val("");
    // update placeholder to specific
    
  });

//    console.log(fullPhoneNumber)
//    console.log($("#phone_num").val(fullPhoneNumber))
};

// Testing for prepopulation. If country code not supplied: default = 'us'
// const initCountryCode = 'ca'; // uncomment to pass in as param
intlPhoneNumber();

        </script>
{% endblock %}