{% extends "layout.html" %}
{% block body %}
<div class="col l9 m12 s12">
	<div class="container">
<h5 style="color:#d81615;text-align:center;">This page will be opened shortly and you will be notified. </h5>
<!-- Every one who gave missed call, will be able to get their e-membership cards from this portal. -->
      

        <br>
        </div>
</div>

	{% endblock %}