
<html>

<head>
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="static/assets/css/sweetalert.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="/static/css/crop.css" type="text/css" rel="stylesheet" >


 
 <style>
@media only screen and (max-width: 768px) {
  .details_container{
    width:100%;overflow:scrool;
  }
}
@media only screen and (min-width: 768px) {
  .details_container{
    width:85%;
    overflow:scrool;
  }
  }
 
label,input
{
  font-size: 14px !important;
    font-weight: 600 !important;
    color:black !important;
    
}
.associations_group label{
  padding-left:25px !important;
  padding-right:30px !important;
}

 .canvas{border:1px solid red;}
 .card-container
{
   text-align: center;
   margin-bottom: 2.5em;
   margin-top:2 em;
}
.canvas_display,.canvas_download
{
   border: 1px solid #d81615;
   /*background-color: #fff;*/
  /* background-image: url("/static/img/idcardbg.jpeg");*/
   -moz-box-shadow: 3px 3px 8px #222;
   -webkit-box-shadow: 3px 3px 8px #222;
   box-shadow: 3px 3px 8px #222;
}
.title
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 2.2em;
   margin: 1em;
}
.info
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 1.2em;
   margin: 0.25em;
}
[type="checkbox"]:checked+label:before
{
  border-right: 2px solid #d81615;
    border-bottom: 2px solid #d81615;
}
#rcorners1 {
    border-radius: 5px;
    border: 2px solid #d81615;
    padding: 5px; 
    width: 365px;
    height: 557px; 
     text-align: center;

}
.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  display:none;
  
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
.row{
  margin-left:0px !important;
  margin-right:0px !important;
}     
      </style>

</style>
  </head>
 




  <body>
    <header class="cd-main-header show-on-medium-and-down"> 
  <a href="javascript:void(0);" class="cd-nav-trigger"><span></span></a>
</header>
<section class="no-padding" style="background:url(/static/img/top-header-bgr.png) repeat-x;">
  <div class="row">
      <div class="col l4 m12 s12 center-align"><a href="/"> <img src="/static/img/jenasena_logo.png" class="responsive-img" alt="Jana Sena Party Logo" style="position:relative; top:20px;"></a> </div>
    <!--<div class="col l2 m12 s12 left-align"> <img src="../img/janasena-party-missed-call-number.png" height="30" alt=" " style="position:relative; top:150px;" class="hide-on-med-and-down"> </div>-->
    <div class="col l4 m12 s12 black-text"> 
   <div style="position:relative; top:150px; padding-left:80px; " class="hide-on-med-and-down">
              
        <span style="font-size:16px; font-weight:800;color:#d81615;">Follow Our Social Stream </span>
    <a href="https://www.facebook.com/janasenaparty/" target="_blank"><i class="fa fa-facebook white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/Janasenaparty?lang=en" target="_blank"><i class="fa fa-twitter white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/Janasenaparty" target="_blank"><i class="fa fa-instagram white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/Janasenaparty" target="_blank"><i class="fa fa-youtube white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>
    </div>
     </div>
    <div class="col l4 m12 s12 right-align no-padding hide-on-med-and-down"> <img src="static/img/rt-header-bit.png" height="162" alt=" "> </div>
  </div>
  
</section>
<br>
          <div class="loader">
                <div class="spinner"> <svg width='48px' height='48px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-hourglass">
                  <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                  <g>
                  <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z" class="glass"></path>
                  <clipPath id="uil-hourglass-clip1">
                      <rect x="15" y="20" width="70" height="25" class="clip">
                      <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <clipPath id="uil-hourglass-clip2">
                      <rect x="15" y="55" width="70" height="25" class="clip">
                      <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)" fill="#d81615" class="sand"></path>
                  <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)" fill="#d81615" class="sand"></path>
                  <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                </g>
                  </svg> </div>
              </div>
          <div class="clearfix">&nbsp;<br>
              </div>
  <div class="container" align="center" style="overflow-y:scrool;">
  
  
    
    {% if session["card_details"]["association_status"] == "F" %}
 <style>
#id_card_div{
  display:none;
} #idcard_desc{
         display:block;
      }
     


      </style>
     

 
       {% else %}
      <style>

      #idcard_desc{
         display:none;
      }
     
#id_card_div{
  display:block;
}
      </style>
       {% endif %}
      <div  id="idcard_desc"  >


  <div class="container details_container" >
    <div class="row">
      <div class="col l5 m12 s12 left-align"> 
       <h2 class="black-text" style="font-size:30px !important;">Congratulations!!!</h2>
        <h5 class="red-text" style="font-size:22px !important;">You are now registered member of Janasena Party!</h5>
       <br>
        <h5 class="red-text" style="font-size:22px !important">Your Membership ID is:</h5>
        <h4 class="black-text" style="font-size:24px !important;">{{membership_id}}</h4>
      </div>
      <div class="col l1 m12 col-sm-12">&nbsp;</div>
      <div class="col l6 m12 s12 left-align associations_group"> 
      
      <h3 class="red-text" style="font-size:22px !important;" >Tell us how you would like to work with Janasena Party?</h3><br>
          <div class="row">
          <input type="checkbox" name="associations" id="checkbox-0" value="email" class="associations" />
          <label for="checkbox-0"><p>Volunteer To Enroll More members</p></label></div>
            <div class="row" id="email_div" style="display:None" >

            <label for="email">Your Email</label>

            <input type="email" name="member_email" id="member_email" maxlength="50" style="margin:0 10 0 20; color:#000 !important;" value="{{email}}" placeholder="Your Email here" required >


            </div>
          
          <input type="checkbox" name="associations" id="checkbox-1" value="Student Wing" class="associations"  />
          <label for="checkbox-1" >Student Wing</label><br>

          <input type="checkbox" name="associations" id="checkbox-2" value="Youth Wing" class="associations" />
          <label for="checkbox-2">Youth Wing</label><br>
          <input type="checkbox" name="associations" id="checkbox-3" value="Women's Wing" class="associations"  />
          <label for="checkbox-3">Women's Wing</label><br>
          <input type="checkbox" name="associations" id="checkbox-4" value="Sevadal" class="associations" />
          <label for="checkbox-4">Sevadal</label><br>
          <input type="checkbox" name="associations" id="checkbox-5" value="Others" class="associations" />

          <label for="checkbox-5" >Others</label><br>
          <select id='other-text' >
            <option>Please select Other Option Below</option>
             <option>other option</option>
              <option>other option</option>
               <option>other option </option>
                <option>other option</option>

          </select>
          <button id="save_associations" class="btn btn-default"  style="margin-right:20px; width:155px ;font-weight: 800;color: #fff; background:#d81615;" >Get Your Card</button>
      </div>
      
    </div>
  </div>

       
      
      </div>
      
     



      
      
    <div class="row card_div" style="overflow-y:scrool;">
        <div  id="id_card_div" >

 
  <img id="qrious" style="display:none">

            <div class="row" id="membership_card_div"  align="center">
            <div class="card-container" id="rcorners1" align>
            <canvas id="canvas_display" class="canvas_display" width="350" height="542" ></canvas>
             <canvas id="canvas_download" class="canvas_download" width="750" height="542" style="display:None"></canvas>
            </div>
            <div class="row" align="center">

            <a id="download"><button title="Download your Card" class="btn"> Download </button></a>
            
            <button id="upload_image"  class="btn" title="Upload Your Photo">Upload Photo</button>
            <button class="share btn" onclick="postCanvasToFacebook()" title="Share in Facebook" style="color: rgb(255, 255, 255); background: rgb(61, 92, 150); border-color: rgb(61, 92, 150);">Post To Facebook</button>
            <!-- <i class="icon icon-facebook push-half--right"> -->
            <!-- <a href="javascript:print_idcard()"><button style="font-weight: 800;color: #d81615;border-color: #d81615;">PRINT</button></a> -->
            </div>
            <div class="row" align="center"><a href="/donations" style="font-weight: 800;color: #d81615;">Do you want to Donate ?</a></div>
            </div>
        </div>
    </div>
   </div>
    <div class="row" id="image_div"  style="display:none;margin-left:10px !important;font-size:12px !important;" >
      
  <div class="row">
  <div class="col-lg-3 col-md-3 col-sm-1 ">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-11" style="tex-align:center" >
    <h3 style="tex-align:center">Please Keep your Photo In Red Color Box and then Crop</h3>
    <div class="row">

    <input type="file" class="btn js-loadfile" id="upload" value="Upload" />

    </div>

    <div class="row" >
      <button class="btn js-reset" >Reset</button>
      <button class="btn js-crop" disabled>Crop</button>
    
    <button class="btn save" id="save" disabled>Save</button>
    <button class="btn skip_profile" id="skip_profile" >Skip </button>
    
    
  </div>
<div class="col-lg-3 col-md-3 ">
  </div>
    <div class="crop-wrapper row ">
      
      <div class="overlay">
        <div class="overlay-inner">
        </div>
      </div>
      <img class="resize-image" id="member_image"  src="/static/img/Placeholder1.jpg" alt="upload image and resize to red color square box" accept="image/*" >
    </div>
</div>



      </div>
    </div>
   
   
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script type="text/javascript" src="static/assets/js/sweetalert.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script> -->
<script src="static/js/base64binary.js"></script> 
<script src="static/js/QRious.js"></script>


<script>
var qrcode_img;
var member_img_url;
if ( XMLHttpRequest.prototype.sendAsBinary === undefined ) {
    XMLHttpRequest.prototype.sendAsBinary = function(string) {
        var bytes = Array.prototype.map.call(string, function(c) {
            return c.charCodeAt(0) & 0xff;
        });
        this.send(new Uint8Array(bytes).buffer);
    };
};

var crop_image_url='';
var orig_src;
var image_target; 
var crop_canvas;
 var $container,
 
  event_state = {},
  constrain = false,
  min_width = 100, // Change as required
  min_height = 100,
  max_width = 800, // Change as required
  max_height = 400,
  init_height=300,
  init_width=300,
  resize_canvas = document.createElement('canvas');
  imageData=null;

var resizeableImage = function(image_target1) {
  // Some variable and settings
  
  orig_src = new Image()
  image_target = $(image_target1).get(0),
 

  init = function(){
  
  //load a file with html5 file api
  $('.js-loadfile').change(function(evt) {
    var files = evt.target.files; // FileList object
    var reader = new FileReader();

    reader.onload = function(e) {
      imageData=reader.result;
      loadData();
    }
    reader.readAsDataURL(files[0]);
  });
  
  //add the reset evewnthandler
  $('.js-reset').click(function() {
    if(imageData)
      loadData();
  });
  

    // When resizing, we will always use this copy of the original as the base
    orig_src.src=image_target.src;

    // Wrap the image with the container and add resize handles
    $(image_target).height(init_height)
  .wrap('<div class="resize-container"></div>')
    .before('<span class="resize-handle resize-handle-nw"></span>')
    .before('<span class="resize-handle resize-handle-ne"></span>')
    .after('<span class="resize-handle resize-handle-se"></span>')
    .after('<span class="resize-handle resize-handle-sw"></span>');

    // Assign the container to a variable
    $container =  $('.resize-container');

  $container.prepend('<div class="resize-container-ontop"></div>');
  
    // Add events
    $container.on('mousedown touchstart', '.resize-handle', startResize);
    $container.on('mousedown touchstart', '.resize-container-ontop', startMoving);
    $('.js-crop').on('click', crop);
  };
  
  loadData = function() {
      
  //set the image target
  image_target.src=imageData;
  orig_src.src=image_target.src;
  
  //set the image tot he init height
  $(image_target).css({
    width:'auto',
    height:init_height
  });
  
  
  //resize the canvas
  $(orig_src).bind('load',function() {
    resizeImageCanvas($(image_target).width(),$(image_target).height());
  });
  };
  
  startResize = function(e){
    e.preventDefault();
    e.stopPropagation();
    saveEventState(e);
    $(document).on('mousemove touchmove', resizing);
    $(document).on('mouseup touchend', endResize);
  };

  endResize = function(e){
  resizeImageCanvas($(image_target).width(), $(image_target).height())
    e.preventDefault();
    $(document).off('mouseup touchend', endResize);
    $(document).off('mousemove touchmove', resizing);
  };

  saveEventState = function(e){
    // Save the initial event details and container state
    event_state.container_width = $container.width();
    event_state.container_height = $container.height();
    
    event_state.container_left = $container.offset().left; 
    event_state.container_top = $container.offset().top;
    event_state.mouse_x = (e.clientX || e.pageX || e.originalEvent.touches[0].clientX) + $(window).scrollLeft(); 
    event_state.mouse_y = (e.clientY || e.pageY || e.originalEvent.touches[0].clientY) + $(window).scrollTop();
  
  // This is a fix for mobile safari
  // For some reason it does not allow a direct copy of the touches property
  if(typeof e.originalEvent.touches !== 'undefined'){
    event_state.touches = [];
    $.each(e.originalEvent.touches, function(i, ob){
      event_state.touches[i] = {};
      event_state.touches[i].clientX = 0+ob.clientX;
      event_state.touches[i].clientY = 0+ob.clientY;
    });
  }
    event_state.evnt = e;
  };

  resizing = function(e){
    var mouse={},width,height,left,top,offset=$container.offset();
    mouse.x = (e.clientX || e.pageX || e.originalEvent.touches[0].clientX) + $(window).scrollLeft(); 
    mouse.y = (e.clientY || e.pageY || e.originalEvent.touches[0].clientY) + $(window).scrollTop();
    
    // Position image differently depending on the corner dragged and constraints
    if( $(event_state.evnt.target).hasClass('resize-handle-se') ){
      width = mouse.x - event_state.container_left;
      height = mouse.y  - event_state.container_top;
      left = event_state.container_left;
      top = event_state.container_top;
    } else if($(event_state.evnt.target).hasClass('resize-handle-sw') ){
      width = event_state.container_width - (mouse.x - event_state.container_left);
      height = mouse.y  - event_state.container_top;
      left = mouse.x;
      top = event_state.container_top;
    } else if($(event_state.evnt.target).hasClass('resize-handle-nw') ){
      width = event_state.container_width - (mouse.x - event_state.container_left);
      height = event_state.container_height - (mouse.y - event_state.container_top);
      left = mouse.x;
      top = mouse.y;
      if(constrain || e.shiftKey){
        top = mouse.y - ((width / orig_src.width * orig_src.height) - height);
      }
    } else if($(event_state.evnt.target).hasClass('resize-handle-ne') ){
      width = mouse.x - event_state.container_left;
      height = event_state.container_height - (mouse.y - event_state.container_top);
      left = event_state.container_left;
      top = mouse.y;
      if(constrain || e.shiftKey){
        top = mouse.y - ((width / orig_src.width * orig_src.height) - height);
      }
    }
  
    // Optionally maintain aspect ratio
    if(constrain || e.shiftKey){
      height = width / orig_src.width * orig_src.height;
    }

    if(width > min_width && height > min_height && width < max_width && height < max_height){
      // To improve performance you might limit how often resizeImage() is called
      resizeImage(width, height);  
      // Without this Firefox will not re-calculate the the image dimensions until drag end
      $container.offset({'left': left, 'top': top});
    }
  }

  resizeImage = function(width, height){
  $(image_target).width(width).height(height);
  };
  
  resizeImageCanvas = function(width, height){
    resize_canvas.width = width;
    resize_canvas.height = height;
    resize_canvas.getContext('2d').drawImage(orig_src, 0, 0, width, height);   
    $(image_target).attr('src', resize_canvas.toDataURL("image/png"));  
  //$(image_target).width(width).height(height);
  };

  startMoving = function(e){
    e.preventDefault();
    e.stopPropagation();
    saveEventState(e);
    $(document).on('mousemove touchmove', moving);
    $(document).on('mouseup touchend', endMoving);
  };

  endMoving = function(e){
    e.preventDefault();
    $(document).off('mouseup touchend', endMoving);
    $(document).off('mousemove touchmove', moving);
  };

  moving = function(e){
    var  mouse={}, touches;
    e.preventDefault();
    e.stopPropagation();
    
    touches = e.originalEvent.touches;
    
    mouse.x = (e.clientX || e.pageX || touches[0].clientX) + $(window).scrollLeft(); 
    mouse.y = (e.clientY || e.pageY || touches[0].clientY) + $(window).scrollTop();
    $container.offset({
      'left': mouse.x - ( event_state.mouse_x - event_state.container_left ),
      'top': mouse.y - ( event_state.mouse_y - event_state.container_top ) 
    });
    // Watch for pinch zoom gesture while moving
    if(event_state.touches && event_state.touches.length > 1 && touches.length > 1){
      var width = event_state.container_width, height = event_state.container_height;
      var a = event_state.touches[0].clientX - event_state.touches[1].clientX;
      a = a * a; 
      var b = event_state.touches[0].clientY - event_state.touches[1].clientY;
      b = b * b; 
      var dist1 = Math.sqrt( a + b );
      
      a = e.originalEvent.touches[0].clientX - touches[1].clientX;
      a = a * a; 
      b = e.originalEvent.touches[0].clientY - touches[1].clientY;
      b = b * b; 
      var dist2 = Math.sqrt( a + b );

      var ratio = dist2 /dist1;

      width = width * ratio;
      height = height * ratio;
      // To improve performance you might limit how often resizeImage() is called
      resizeImage(width, height);
    }
  };

  crop = function(){
    //Find the part of the image that is inside the crop box
    var left = $('.overlay').offset().left- $container.offset().left,
        top =  $('.overlay').offset().top - $container.offset().top,
        width = $('.overlay').width(),
        height = $('.overlay').height();
    
    crop_canvas = document.createElement('canvas');
  
    crop_canvas.width = width;
    crop_canvas.height = height;
  
    crop_canvas.getContext('2d').drawImage(image_target, left, top, width, height, 0, 0, width, height);
  var dataURL=crop_canvas.toDataURL("image/png");
  image_target.src=dataURL;
  orig_src.src=image_target.src;
  
  
  $(image_target).bind("load",function() {
    $(this).css({
      width:width,
      height:height
    }).unbind('load').parent().css({
      top:$('.overlay').offset().top- $('.crop-wrapper').offset().top,
      left:$('.overlay').offset().left- $('.crop-wrapper').offset().left
    })
  });
   $("#save").prop("disabled", false);
    //window.open(crop_canvas.toDataURL("image/png"));
  }

  init();
};

// Kick everything off with the target image
resizeableImage($('.resize-image'));
$("#upload").change(function()
  {

  
    $(".js-crop").prop("disabled",false);
  
  });

function toblob(stuff) {
    var g, type, bi, ab, ua, b, i;
    g = stuff.split(',');
    if (g[0].split('png')[1])
        type = 'png';
    else if (g[0].split('jpeg')[1])
        type = 'jpeg';
    else
        return false;
    bi = atob(g[1]);
    ab = new ArrayBuffer(bi.length);
    ua = new Uint8Array(ab);
    for (i = 0; i < bi.length; i++) {
        ua[i] = bi.charCodeAt(i);
    }
    b = new Blob([ua], {
        type: "image/" + type
    });
    console.log(b);
    return b;
}

$("#skip_profile").click(function()
{

$("#image_div").css("display","none");

  $("#id_card_div").css("display","block");

});

 function dataURItoBlob(dataURI) {
    // convert base64/URLEncoded data component to raw binary data held in a string
    var byteString;
    if (dataURI.split(',')[0].indexOf('base64') >= 0)
      byteString = atob(dataURI.split(',')[1]);
    else
      byteString = unescape(dataURI.split(',')[1]);

    // separate out the mime component
    var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

    // write the bytes of the string to a typed array
    var ia = new Uint8Array(byteString.length);
    for (var i = 0; i < byteString.length; i++) {
      ia[i] = byteString.charCodeAt(i);
    }

    return new Blob([ia], {
      type: mimeString
    });
  }

$('#save').on('click', function()
  {

    
    
    var image_data=crop_canvas.toDataURL("image/png")
   member_img_url=image_data;
   $(".loader").css("display","block");
 
     var blob = dataURItoBlob(image_data);
    var formData = new FormData();
    formData.append('image', blob);

      $.ajax({
           type: "POST",
           url: "/saveMemberProfileImage",
          
          
           data:formData,
           contentType: false, //need this
      processData: false, //need this
      cache: false,
           success: function (response) {
            console.log(response);
            response=JSON.parse(response)
               if (response.data.status=='1') {
                $(".loader").css("display","None");
              // swal("Success","thank you for showing interest","success")
               
               $("#image_div").css("display","none");
                $("#id_card_div").css("display","block");
                
               } else {
                   
                    $(".loader").css("display","None");
                    // swal("Error",response.errors,"error");
                     
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response)
            $(".loader").css("display","None");
             swal('Error','Please try again','error')
             return false;
           }
           
       });


write_image(member_img_url);
// write_canvas('save',member_img_url);
$(".loader").css("display","none");
$("#image_div").css("display","none");
$("#id_card_div").css("display","block");


  });

function write_image(member_img_url)
{
   var c = document.getElementById("canvas_download");
   
    var ctx = c.getContext("2d");

    var img = new Image()
    var display_canvas=document.getElementById("canvas_display");
    var ctx_display = display_canvas.getContext("2d");
    var member_img=new Image();
    member_img.src=member_img_url;
member_img.setAttribute('crossOrigin', 'anonymous');
member_img.onload = function(){



         
    ctx_display.save();
    ctx_display.beginPath();
    ctx_display.arc(173,180, 50, 0, Math.PI * 2, true);
    ctx_display.closePath();
    ctx_display.clip();

    ctx_display.drawImage(member_img, 123,130 ,97, 97);

    ctx_display.beginPath();
    ctx_display.arc(173,180, 50, 0, Math.PI * 2, true);
     ctx_display.lineWidth = 5;
// line color
ctx_display.strokeStyle = '#d81615';
ctx_display.stroke();

    ctx_display.clip();
    ctx_display.closePath();
    ctx_display.restore();

    // downloadable canvas
    ctx.save();
    ctx.beginPath();
    ctx.arc(173,180, 50, 0, Math.PI * 2, true);
    ctx.closePath();
    ctx.clip();

   ctx.drawImage(member_img, 123,130,97,97);

    ctx.beginPath();
    ctx.arc(173,180, 50, 0, Math.PI * 2, true);
    ctx.lineWidth = 5;
// line color
ctx.strokeStyle = '#d81615';
ctx.stroke();

    ctx.clip();
    ctx.closePath();
    ctx.restore();

   
        
        

 }
 


}

function write_canvas(mode,member_img_url)
{
  console.log(member_img_url);
  var name="{{name|safe}}";
  // name="Name: "+name;
   var membership_id="{{membership_id|safe}}";
   // membership_id="ID: "+membership_id;
   console.log(name,membership_id);
    var c = document.getElementById("canvas_download");
   
    var ctx = c.getContext("2d");

    var img = new Image()
    var display_canvas=document.getElementById("canvas_display");
    var ctx_display = display_canvas.getContext("2d");

     img.setAttribute('crossOrigin', 'anonymous');
 if(mode=='skip')
{ 

img.onload = function(){

      ctx.drawImage(img, 0, 0,350,542); 
      ctx_display.drawImage(img, 0, 0,350,542);

     ctx.font = " bold 20px bebasneue   ";
          ctx.fillStyle='black';
         
          ctx_display.font = "bold 20px bebasneue   ";
          ctx_display.fillStyle='black';
        
        ctx_display.moveTo(170, 0);
        ctx_display.lineTo(170, 500);
        ctx_display.textAlign="center";
        ctx.moveTo(175, 0);
        ctx.lineTo(175, 500);
        ctx.textAlign="center";
          x=60;
          y=265;
          y=wrapText(ctx, name, 170, y, 280, 20);

          y=y+28;
          ctx.fillStyle='#d81615';
          ctx.fillText(String(membership_id),170,y)
          //  

          x=60;
          y=265;
          y=wrapText(ctx_display, name, 170, y, 280, 20);

          y=y+28;
           ctx_display.fillStyle='#d81615';
          ctx_display.fillText(String(membership_id),170,y)

       


  }
  img.src = "/static/img/idcard_latest.jpg";

  }



  else
  {
    var member_img=new Image();
  img.onload = function(){

      ctx.drawImage(img, 0, 0,350,542); 
      ctx_display.drawImage(img, 0, 0,350,542);
member_img.src=member_img_url;
  }
 
img.setAttribute('crossOrigin', 'anonymous');
  img.src = "/static/img/idcard_latest.jpg";


   
// ;
member_img.setAttribute('crossOrigin', 'anonymous');
 member_img.onload = function(){



         
    ctx_display.save();
    ctx_display.beginPath();
    ctx_display.arc(173,180, 50, 0, Math.PI * 2, true);
    ctx_display.closePath();
    ctx_display.clip();

    ctx_display.drawImage(member_img, 123,130 ,97, 97);

    ctx_display.beginPath();
    ctx_display.arc(173,180, 50, 0, Math.PI * 2, true);
     ctx_display.lineWidth = 5;
// line color
ctx_display.strokeStyle = '#d81615';
ctx_display.stroke();

    ctx_display.clip();
    ctx_display.closePath();
    ctx_display.restore();

    // downloadable canvas
    ctx.save();
    ctx.beginPath();
    ctx.arc(173,180, 50, 0, Math.PI * 2, true);
    ctx.closePath();
    ctx.clip();

   ctx.drawImage(member_img, 123,130,97,97);

    ctx.beginPath();
    ctx.arc(173,180, 50, 0, Math.PI * 2, true);
    ctx.lineWidth = 5;
// line color
ctx.strokeStyle = '#d81615';
ctx.stroke();

    ctx.clip();
    ctx.closePath();
    ctx.restore();

    // end of downloadble canvas
          ctx.font = " bold 20px bebasneue   ";
          ctx.fillStyle='black';
         
          ctx_display.font = "bold 20px bebasneue   ";
          ctx_display.fillStyle='black';
        
        ctx_display.moveTo(170, 0);
        ctx_display.lineTo(170, 500);
        ctx_display.textAlign="center";
        ctx.moveTo(175, 0);
        ctx.lineTo(175, 500);
        ctx.textAlign="center";
          x=60;
          y=265;
          y=wrapText(ctx, name, 170, y, 280, 20);

          y=y+28;
          ctx.fillStyle='#d81615';
          ctx.fillText(String(membership_id),170,y)
          //  

          x=60;
          y=265;
          y=wrapText(ctx_display, name, 170, y, 280, 20);

          y=y+28;
           ctx_display.fillStyle='#d81615';
          ctx_display.fillText(String(membership_id),170,y)

 }
 




  }
var qr_img=new Image();
   var back_img = new Image()
     back_img.src = "/static/img/idback_latest.jpg";
     back_img.setAttribute('crossOrigin', 'anonymous');
     back_img.onload = function(){
     ctx.drawImage(back_img, 400,0,350,542);
      qr_img.src=qrcode_img;



}

    
     qr_img.setAttribute('crossOrigin', 'anonymous');
 qr_img.onload = function(){
     ctx.drawImage(qr_img, 544,133,60,60);
     



}
console.log(qrcode_img);
}

// end of croping image and saving image



$("#upload_image").click(function()
{
  $("#image_div").css("display","block");
  $("#id_card_div").css("display","none");
   $("body,html").animate({
                scrollTop:  100
           });
})


function postImageToFacebook( authToken, filename, mimeType, imageData,message )
{
    // this is the multipart/form-data boundary we'll use
    var boundary = '----ThisIsTheBoundary1234567890';
   
    // let's encode our image file, which is contained in the var
    var formData = '--' + boundary + '\r\n'
    formData += 'Content-Disposition: form-data; name="source"; filename="' + filename + '"\r\n';
    formData += 'Content-Type: ' + mimeType + '\r\n\r\n';
    for ( var i = 0; i < imageData.length; ++i )
    {
        formData += String.fromCharCode( imageData[ i ] & 0xff );
    }
   formData += '\r\n';
    formData += '--' + boundary + '\r\n';
    formData += 'Content-Disposition: form-data; name="message"\r\n\r\n';
    formData += message + '\r\n'
    formData += '--' + boundary + '--\r\n';

    var xhr = new XMLHttpRequest();
    xhr.open( 'POST', 'https://graph.facebook.com/me/photos?access_token=' + authToken, true );
    xhr.onload = xhr.onerror = function() {
        console.log( xhr.responseText );
    };
    xhr.setRequestHeader( "Content-Type", "multipart/form-data; boundary=" + boundary );
    xhr.sendAsBinary( formData );
};


function postCanvasToFacebook() {
  var canvas = document.getElementById("canvas_download");
  var data = canvas.toDataURL("image/png");
  var encodedPng = data.substring(data.indexOf(',') + 1, data.length);
  var decodedPng = Base64Binary.decode(encodedPng);
  FB.getLoginStatus(function(response) {
    console.log(response)
    console.log(decodedPng)
    if (response.status === "connected") {

    postImageToFacebook(response.authResponse.accessToken, "Jspmembershipcard", "image/png", decodedPng,"#JanaSenaMembership https://janasenaparty.org/membership");
    } 
    else if (response.status === "not_authorized") {
      console.log("hello2");
     FB.login(function(response) {
      postImageToFacebook(response.authResponse.accessToken, "Jspmembershipcard", "image/png", "image/png", decodedPng,"#JanaSenaMembership https://janasenaparty.org/membership");
     }, {scope: "publish_actions"});
    } 
    else {
     FB.login(function(response)  {
      console.log("hello3");
      postImageToFacebook(response.authResponse.accessToken, "Jspmembershipcard", "image/png", decodedPng,"#JanaSenaMembership https://janasenaparty.org/membership");
     }, {scope: "publish_actions"});
    }
   }, {scope: 'publish_actions'});
}


 var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
 function wrapText(context, text, x, y, maxWidth, lineHeight) {
        var words = text.split(' ');
        var line = '';

        for(var n = 0; n < words.length; n++) {
          var testLine = line + words[n] + ' ';
          var metrics = context.measureText(testLine);
          var testWidth = metrics.width;
           context.textAlign="center";
          if (testWidth > maxWidth && n > 0) {
            context.fillText(line, x, y);

            line = words[n] + ' ';
            y += lineHeight;
          }
          else {
            line = testLine;
          }
        }
        context.fillText(line, x, y);
        return y;
      }
 window.fbAsyncInit = function() {
    FB.init({
      appId      : '369960806722573',
      xfbml      : true,
      version    : 'v2.10',
      status: true,
    cookie: true,
    oauth: true
   
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


window.onload = function() {

var membership_id="{{membership_id|safe}}";
 member_img_url="{{img_url|safe}}";
 

  write_canvas("default",member_img_url);

$("body,html").animate({
                scrollTop: 150
           });

//  qrcode generator 


var qr = new QRious({
    element: document.getElementById('qr'),
    value: "https://janasenaparty.org/getMembershipCard?id="+membership_id,
    background: 'white', // background color
    foreground: 'black', // foreground color
    level: 'L', // Error correction level of the QR code (L, M, Q, H)
    mime: 'image/png', // MIME type used to render the image for the QR code
    size: 100 // Size of the QR code in pixels.
})
qrcode_img=qr.toDataURL('image/png');


//  end of qrcode generator

var age="{{age|safe}}";
var gender="{{gender|safe}}";
console.log(gender);
if (gender==='male')
{
$('#checkbox-3').prop('disabled', true);

}



function downloadCanvas(link, canvasId, filename) {
 
    link.href = document.getElementById(canvasId).toDataURL();
    link.download = filename;
}

document.getElementById('download').addEventListener('click', function() {
    var currentdate = new Date();
var datetime_string =  currentdate.getDate() + "_" + (currentdate.getMonth()+1) + "_" + currentdate.getFullYear() + " _" + currentdate.getHours() + "_" + currentdate.getMinutes() + "_" + currentdate.getSeconds();
  var filename="JANASENAPARTY_"+datetime_string+".png";
    downloadCanvas(this, 'canvas_download', filename);

}, false);



$("#enroll_yes").click(function()
{
  $("#email_div").css("display","block");
   $("body,html").animate({
                scrollTop:  $(document).height()
           });
})
$("#enroll_no").click(function()
{
  
  $("#idcard_desc").css("display","none");
  console.log(member_img_url)
  if(member_img_url!='')
  {
    $("#image_div").css("display","none");
  }
  else
  {
    $("#image_div").css("display","block");
    $("#membership_card_div").css("display","none");
  }

  $("#id_card_div").css("display","block");

  
        
        

})
$(".associations").change(function () {
    //check if the selected option is others
    if (this.value === "Others") {
        //toggle textbox visibility
        $("#other-text").toggle();
    }
    if (this.value === "email") {
        //toggle textbox visibility

        $("#email_div").toggle();
    }
  
});

function isEmpty(value) {
  return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
}
$("#skip_associations").click(function(){
  $(".associations_group").css("display","None"); 
$(".powerchamp").css("display","block");
});
function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}
$("#save_associations").click(function(){
  var member_email='';
  var associations='';
  var other_text_status=true;
  var email_status=true;
        $('input[name="associations"]:checked').each(function() {

        console.log(this.value); 

        if(this.value==='Others')
        {
            var other_value=$("#other-text").val();
            if (isEmpty(other_value))
            {
           
            other_text_status=false;
            
            }
            else{
              if (associations==='')
            {
            associations=other_value;
            }
            else{
             associations=associations+','+other_value;

            }
            }
        }
        else if(this.value==='email') {
          var email=$("#member_email").val();
         if(!validateEmail(email))
         {
          email_status=false
          
         }
         else{
          member_email=email;
         }
          

        }

        else{
              if (associations==='')
              {
              associations=this.value;
              }
              else{
              associations=associations+','+this.value;
              }

        }

        });
        if (other_text_status==false)
        {
          swal("Error","Other Value should not be empty","error");
            $(".loader").css("display","none");
            return false;
        }
        if (email_status==false)
        {
           swal("Error","please enter valid email id","error");
            $(".loader").css("display","none");
            return false;
        }
        if (associations=='' && member_email=='')
        {
          $("#idcard_desc").css("display","None");
               $("#id_card_div").css("display","block");
               $("body,html").animate({
                scrollTop:  $(document).height()
           });
               
        }
        else
        {
          $(".loader").css("display","block");
        
          var data;
          if (member_email=='')
        {
          data={associations:associations}
        }
        else
        {
          data={associations:associations,email:member_email}
        }
  console.log(data)
  $.ajax({
           type: "POST",
           url: "/saveMemberAssociation",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
            console.log(response);
               if (response.data.status=='1') {
                $(".loader").css("display","None");
              // swal("Success","thank you for showing interest","success")
               
                $("#idcard_desc").css("display","None");
               $("#id_card_div").css("display","block");
               $("body,html").animate({
                scrollTop:  100
           });
               
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                     
                    return false;
                   
               }
           },
           error:function(response)
           {
            console.log(response)
            $(".loader").css("display","None");
             swal('Error','Please try again','error')
             return false;
           }
           
       });
        }
  

    

   });








}
function print_idcard()
{
    const dataUrl = document.getElementById('canvas_download').toDataURL(); 

let windowContent = '<!DOCTYPE html>';
windowContent += '<html>';
windowContent += '<head><title>Print canvas</title></head>';
windowContent += '<body>';
windowContent += '<img src="' + dataUrl + '">';
windowContent += '</body>';
windowContent += '</html>';

const printWin = window.open('', '', 'width=' + 750 + ',height=' + 542);
printWin.document.open();
printWin.document.write(windowContent); 

printWin.document.addEventListener('load', function() {
    printWin.focus();
    printWin.print();
    printWin.document.close();
    printWin.close();            
}, true);
}
   
</script>
</html>