
<html>

<head>
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="static/assets/css/sweetalert.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="static/assets/js/sweetalert.js"></script>
  </head>
 




<body>
  <header class="cd-main-header show-on-medium-and-down"> 
  <a href="javascript:void(0);" class="cd-nav-trigger"><span></span></a>
</header>
<section class="no-padding" style="background:url(/static/img/top-header-bgr.png) repeat-x;">
  <div class="row">
      <div class="col l4 m12 s12 center-align"><a href="/"> <img src="/static/img/jenasena_logo.png" class="responsive-img" alt="Jana Sena Party Logo" style="position:relative; top:20px;"></a> </div>
    <!--<div class="col l2 m12 s12 left-align"> <img src="../img/janasena-party-missed-call-number.png" height="30" alt=" " style="position:relative; top:150px;" class="hide-on-med-and-down"> </div>-->
    <div class="col l4 m12 s12 black-text"> 
   <div style="position:relative; top:150px; padding-left:80px; " class="hide-on-med-and-down">
              
        <span style="font-size:16px; font-weight:800;color:#d81615;">Follow Our Social Stream </span>
    <a href="https://www.facebook.com/janasenaparty/" target="_blank"><i class="fa fa-facebook white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/Janasenaparty?lang=en" target="_blank"><i class="fa fa-twitter white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/Janasenaparty" target="_blank"><i class="fa fa-youtube white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>
    </div>
     </div>
    <div class="col l4 m12 s12 right-align no-padding hide-on-med-and-down"> <img src="static/img/rt-header-bit.png" height="162" alt=" "> </div>
  </div>

</section>


<!-- start container  -->



    <div class="container">
<h5 style="color:#d81615;text-align:center;">This feature will be available soon. Please visit back. </h5>
<!-- Every one who gave missed call, will be able to get their e-membership cards from this portal. -->
      

        <br>
        </div>

  <!--  -->
</body>
</html>

