{% extends "membership_layout.html" %}

{% block body %}
<style>
.udetails,.namevoter
{
  font-weight:600;
}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

.nri{
padding-right: 0px!important;
padding-left: 0px!important
}
.center{
text-align: center;
margin-bottom: 2px;
}
.cont{
width: 90%!important;
margin-top: 100px!important;
margin-left: 24px;
}
#sx{
margin-left: 30px;
}
#se{
margin-left: 27px;
}
#not_register{
margin-left: 50px;
}
#proceed_next{
margin-left: 100px;
}

}
@media (max-width: 415px){
  #proceed_next{
    margin-left:37px!important;
  }

  .nri{
padding-right: 0px!important;
padding-left: 0px!important
}
.center{
text-align: center;
margin-bottom: 2px;
}
#text{
margin-top: 86px!important
}
.detals_screen
{
  width:100% !important;
}
#login{
  padding-left:18px!important;
}
.form-control{
  width:100%!important;
}

}
.nav>li>a {
padding: 19px 39px;
}
.nav-pills>li>a {
border-radius: 0px!important
}
.nav-pills>li+li {
margin-left: 0px;
}
.nav-pills>li.active>a{
background-color: #2e3b42
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus{
background-color: #2e3b42
}

.membership{
border: #587783 solid 2px;
min-height: 400px;
/* margin-top: 80px; */
background-color: white;
}

.form-control{ border-radius: 1px; height:36px; border-color: darkcyan;width:80%;} 
</style>
<div class="container" style="    margin-top: 100px;" >

<div class="memb1 membership_form">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 cont">
        <ul class="nav nav-pills row" style=" background-color: #2e3b42;height: 62px;
        margin-right: 0px;
    margin-left: 0px;">  
          <li class="active col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px"><a href="https://janasenaparty.org/memberlogin" class="center"  target="_blank" style="background: #d92027; height: 62px;">Already Member? login here</a></li>  
          <li class=" active col-md-6 col-sm-12 col-xs-12 nri"><a href="https://janasenaparty.org/membershipint" class="center" target="_blank" style="padding-left:0px;padding-right:0px;height: 62px;color: white;">NRI Membership</a></li>  
      
        </ul> 
        <div class="membership clearfix" style="width:100%;">

          <h4 style="text-align: center; font-size: 24px; margin-top: 19px;font-weight: 400;color: #d81615;font-size: 2.60rem;" id="text">Membership
            Enrolment Form</h4>

          <div class="membership_form" style="margin-top: 37px">
            <div class="col-xs-12 col-sm-12" id="login" style="    padding-left: 55px;">
              <div class="form-group  " id="sx" >
                <label>Phone or MembershipID</label>
                <input type="text" class="form-control" id="phone_number_web" placeholder="Enter Phone or MembershipID "
                  maxlength="11" autocomplete="off" oninput="maxLengthCheck(this)">
                <p id="valid_phone" style="display:none;color:#c8232a;">Enter Valid Mobile or MembershipID.</p>
              </div>
              <div class="form-group " id="se" >
                <label>Voter ID</label>
                <input type="text" class="form-control" id="voterid" placeholder="Enter Voter ID">
                <p id="valid_voter_id" style="display:none; color:#c8232a">Enter Valid Voter Id.</p>

              </div>


              <div name="otpform" class="form-otpform" style="margin-left: -12px !important;">
                <div id="otp_div" style="display:none">
                  <label style="    margin-left: 13px;">OTP :</label>
                  <input id="otp" name="otp" class="form-control" type="text" minlength="6" maxlength="6" 
                    onkeypress="return isNumeric(event)" onkeyup="validateOTPLength()" style="
                     margin-left: 11px;"
                    placeholder="Enter OTP Here" required>

                  <p id="otp_error" style="display:none">Enter Valid OTP.</p>
                  <p id="resendotptag"><a href="#" id="resendotp" style="margin-left: 12px;" >Resend OTP</a></p>
                  <p style="margin:8px;">OTP sent to your Mobile. please check</p>
                </div>
                <div class="space-top text-center " id="verify_div" style="display:none">
                  <button class="submit" id="verify">
                    Verify OTP
                  </button>
                </div>
              </div>
              <div class="form-group">
              <button type=submit class="submit" id="proceed_next" style="margin-left:66px">Request OTP</button><br>
              </div>
             
              <div class="form-group">
                <a href="/membershipWithNoVoterID" id="not_register" style="margin-top:20px;font-size: 18px">Not a registered Voter? Please click here</a>
              </div>
            
          </div>
          
          </div>
        
        </div>
      </div>
    </div>
   
<div class="detals_screen"  style="display:none;border:#587783 solid 2px;
    min-height: 500px;  margin-top: 83px;text-transform:capitalize; margin: auto;width: 80%;" >
    <div class="col-md-6 col-lg-6 col-sm-6">
      <h5 style="color:#d81615;font-size:21px;">Below are the details as per your Voter ID</h5>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="text-red" width="38%"><label for="name" class="namevoter text-red">Name:</label></td>
          <td><span id="name" class="namevoter"></span></td>
        </tr>
        <tr>
          <td class="text-red" width="38%"><label for="voter_id" class="namevoter text-red">Voter Id:</label></td>
          <td><span id="voter_id" class="namevoter"></span></td>
        </tr>
      </table>
      </h5>

      <h5 class="no-margin" style="font-weight:400;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        
          <tr>
            <td class="text-red" width="38%"><label for="relation" class="udetails text-red"><span id="relation_type"></span>
                 Name:</label></td>
            <td class="black-text"><span id="relation" class="udetails"></span></td>
          </tr>
          <tr>
            <td class="text-red"><label for="age" class="udetails text-red">AGE:</label></td>
            <td class="black-text"><span id="age" class="udetails"></span></td>
          </tr>
          <tr>
            <td class="text-red"><label for="gender" class="udetails text-red">Gender:</label></td>
            <td class="black-text"><span id="gender" class="udetails"></span></td>
          </tr>
          <tr>
            <td class="text-red"><label for="address" class="udetails text-red">H.NO:</label></td>
            <td class="black-text">
              <p id="address" class="udetails"></p>
            </td>
          </tr>
          <tr>
            <td class="text-red"><label for="booth" class="udetails text-red">Polling Station No. &amp; <br>
                Address:</label></td>
            <td class="black-text"><span id="booth_name" class="udetails"></span></td>
          </tr>
          <tr>
            <td class="text-red"><label for="section_name" class="udetails text-red">Constituency Name:</label></td>
            <td class="black-text"><span id="section_name" class="udetails"></span></td>
          </tr>
          <tr>
            <td class="text-red"><label for="town" class="udetails text-red">District</label></td>
            <td class="black-text"><span id="town" class="udetails"></span></td>
          </tr>
        </table>
      </h5>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
      <h5 class="black-text" style="color: #d81615;
              font-size: 21px;">Optional Details </h5>
      <div class="form-group  " style=" width: calc(100% - 12px);
               ">
        <label>Email:</label>
        <input type="text" class="form-control" id="email"  placeholder="Enter Email">
      </div>
      <div class="form-group  " style=" width: calc(100% - 12px);
               ">
        <label>Referral MembershipID:</label>
        <input type="text" class="form-control" id="referral_id" placeholder="Enter Referral MembershipID">
       
      </div>
      <button type=submit class="submit" id="membership_submit">Next</button>

    </div>
  </div>

</div>    
<script>

    var phone_or_membership_id;
    function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  } 
  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9\b]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }        
    function validateMobileNoLength(phone) {

      var mobileregex = /^[6-9]{1}[0-9]{9}$/g;
      var membership_regex = /^jsp+[0-9]{8}$/i;
      var mobile_num = $("#phone_number_web").val();
      var length = mobile_num.length;

      if (length == 10) {
        if (mobileregex.test(mobile_num)) {
          $("#valid_phone").css("display", "None");



          phone_or_membership_id = 'p';
          return true;
        }
        else {

          $("#valid_phone").css("display", "block");
          $("#phone_number_web").css("border", "1px solid red");
          $('#phone_number_web').focus()
          setTimeout(function () {
            $('#valid_phone').fadeOut('fast');
          }, 10000);
          return false;
        }

      }
      else if (length == 11) {
        if (membership_regex.test(mobile_num)) {


          phone_or_membership_id = "m";
          $("#valid_phone").css("display", "none");

          return true;
        }
        else {
          $("#valid_phone").css("display", "block");
          $("#phone_number_web").css("border", "1px solid red");
          $('#phone_number_web').focus()
          setTimeout(function () {
            $('#valid_phone').fadeOut('fast');
          }, 10000);
          return false;
        }
      }
      else {
        $("#valid_phone").css("display", "block");
        $("#phone_number_web").css("border", "1px solid red");
        $('#phone_number_web').focus()
        setTimeout(function () {
          $('#valid_phone').fadeOut('fast');
        }, 10000);

        return false;

      }


    }



    function validatevoter_id() {
      var regex = /^[A-Za-z]{2,3}[0-9]*$/g;
      var voter_id = $("#voterid").val();
      var length = voter_id.length;
      if (length >= 10 && length <= 14) {
        if (regex.test(voter_id)) {
          return true
          $("#valid_voter_id").css("display", "none");
        }
        else {
          $("#valid_voter_id").css("display", "block");
          setTimeout(function () {
            $('#valid_voter_id').fadeOut('fast');
          }, 10000);
          $("#voterid").css("border", "1px solid red");
          $('#voterid').focus()
          return false;

        }
      }
      else {
        $("#valid_voter_id").css("display", "block");
        $("#voterid").css("border", "1px solid red");
        $('#voterid').focus()
        return false;
      }
    }
    $(document).ready( function() {
var otp_count=0;
 var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});


    $("#proceed_next").click(function () {
      var voter_id = $("#voterid").val();
      var phone = $("#phone_number_web").val();
      if (validateMobileNoLength(phone)) {
        if (phone_or_membership_id == 'p') {
          phone = "91" + phone;
        }
        if (validatevoter_id(voter_id)) {
          $('#proceed_next').prop('disabled', true);
          $(".loader").css("display", "block");

          var data = { mobile_num: phone, voter_id: voter_id, mtype: phone_or_membership_id }
          console.log(data)
          $.ajax({
            type: "POST",
            url: "/verifyMemberDetails",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (response) {
              console.log(response)
              if (response.data.status == '1') {


                $("#voterid").prop("readonly", true);
                $("#phone_number_web").prop("readonly", true);
                $("#otp_div").css("display", "block");

                $("#button_div").css("display", "None");
                $('#proceed_next').css('display', 'none');
                $("#verify_div").css("display", "block");
                $(".loader").css("display", "None");
              }
              else if (response.data.status == '2') {
                $(".loader").css("display", "None");
                $('#proceed_next').removeAttr('disabled');
                swal({
                  title: "Sorry, your voter id is not in our database",
                  text: "Please enter your details manually.",
                  type: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#DD6B55",
                  confirmButtonText: "OK",
                  closeOnConfirm: false
                },
                  function () {
                    var phone = $("#phone_number_web").val();
                    window.location.replace("/manualMembership?phone=" + phone + "&voter_id=" + voter_id)
                  });
              }
              else if (response.data.status == '3') {
                $('#proceed_next').removeAttr('disabled');
                $(".loader").css("display", "None");
                swal('info', response.errors, 'info')

                return false;
              }
              else if (response.data.status == '4') {
                $('#proceed_next').removeAttr('disabled');
                $(".loader").css("display", "None");
                swal('info', response.errors, 'info')

                return false;
              }
              else {
                $('#proceed_next').removeAttr('disabled');
                $(".loader").css("display", "None");
                // alert(response.errors);
                swal('Error', response.errors, 'error')

                return false;

              }
            },
            error: function (response) {
              $(".loader").css("display", "None");
              swal('Error', 'Please try again', 'error')
              return false;
            }

          });

        }

      }
    })

$("#verify").click(function()
  {
     $(".loader").css("display","block");

    var voter_id=$("#voterid").val();

  var phone_number=$("#phone_number_web").val();
var otp=$("#otp").val();

var data={otp:otp}
 $.ajax({
           type: "POST",
           url: "/validateOTP",
           data:JSON.stringify(data),             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
            
               if (response.data.status=='1') {
               
                $(".membership_form").css("display","None");
               
               
                  $("#voter_id").html(voter_id);
                  $("#name").html(response.data.children.Name);
                   $("#relation").html(response.data.children["relation_name"]);
                   $("#relation_type").html(response.data.children["relation_type"]);
                    $("#address").html(response.data.children.House_No);
                     $("#age").html(response.data.children.Age);
                     $("#gender").html(response.data.children.Sex);
                      $("#booth").html(response.data.children["Booth No"]);
                      var polling_station_details=response.data.children["Booth No"]+" & "+response.data.children["booth_name"];
                      $("#booth_name").html(polling_station_details);
                     $("#section_id").html(response.data.children["Booth No"]);
                     $("#assembly_id").html(response.data.children["Section_id"]);
                      $("#section_name").html(response.data.children["constituency_name"]);
                     $("#town").html(response.data.children["district_name"]);
                     $("#state").html(response.data.children["state"]);
                 $(".loader").css("display","None");
              
               $(".detals_screen").css("display","block");

                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            
            $(".loader").css("display","None");
             swal('Error','Please try again','error')
             return false;
           }
           
       });

  
 
  })

$("#membership_submit").click(function(){
$(".loader").css("display","block");
$("#membership_submit").prop('disabled',true);
  var email=$("#email").val();
  var referral_id=$("#referral_id").val();
  var data={email:email,referral_id:referral_id}
  $.ajax({
           type: "POST",
           url: "/membership",
           data:JSON.stringify(data),             
           dataType:"json",
           contentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
                $(".loader").css("display","none");
                window.location.replace("/MembershipCard")
               }else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
           
            $(".loader").css("display","None");
             swal('Error','Please try again','error')
             $("#membership_submit").prop('disabled',false);
             return false;
           }
           
       });


})
$("#resendotp").click(function()
      {
        if(otp_count<3)
        {


        
         $(".loader").css("display","block");
          
          $.ajax({
           type: "POST",
           url: "/resendOTP",
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
         
               if (response.data.status=='1') {
                otp_count=otp_count+1;
               // alert("otp verified successfully.  Fetching your details");
               swal("OTP Resent  successfully!", " Check Your Phone", "success")
 $(".loader").css("display","None")
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            
            $(".loader").css("display","None");
           
           
             swal('Error','Session Expired.\n Please try again','error')
             return false;
           }
           
       });
        }
        else{
           $("#resendotptag").css("display","None");
          swal("Error",'OTP can be resend only three times only ',"error");

          return false;
        }  
      })  
  
})
   
    
</script>

{% endblock %}