<html>

<head>
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="static/assets/css/sweetalert.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="static/assets/js/sweetalert.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>

 <style>
label,input
{
  font-size: 18px !important;
    font-weight: 600 !important;
    
}
@media only screen and (min-width: 601px){
  .container {
    width: 100% !important;
}
 .canvas{border:1px solid red;}
         .card-container
{
   text-align: center;
   margin-bottom: 2.5em;
   margin-top:2 em;
}
.canvas
{
   border: 1px solid #d81615;
   /*background-color: #fff;*/
  /* background-image: url("/static/img/idcardbg.jpeg");*/
   -moz-box-shadow: 3px 3px 8px #222;
   -webkit-box-shadow: 3px 3px 8px #222;
   box-shadow: 3px 3px 8px #222;
}
.title
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 2.2em;
   margin: 1em;
}
.info
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 1.2em;
   margin: 0.25em;
}



}

@media only screen and (min-width: 993px){
  .container {
    width: 75% !important;
}

/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: verdana;
    font-weight: 400;
    line-height: 0.1;
    color: inherit;
}*/
 .canvas{border:1px solid red;}
         .card-container
{
   text-align: center;
   margin-bottom: 2.5em;
   margin-top:2 em;
}
.canvas
{
   border: 1px solid #d81615;
   /*background-color: #fff;*/
  /* background-image: url("/static/img/idcardbg.jpeg");*/
   -moz-box-shadow: 3px 3px 8px #222;
   -webkit-box-shadow: 3px 3px 8px #222;
   box-shadow: 3px 3px 8px #222;
}
.title
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 2.2em;
   margin: 1em;
}
.info
{
   text-align: center;
   font-family: Segoe UI Light, Arial, Helvetica;
   font-size: 1.2em;
   margin: 0.25em;
}



}

.loader {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index : 100;
  
}
.spinner {
  margin: 0 auto;
  width: 100px;
  margin-top: 10%;
  height: 100px;
}
   #rcorners1 {
    border-radius: 5px;
    border: 2px solid #d81615;
    padding: 5px; 
    width: 250px;
    height: 355px; 
     text-align: center;

}  
      </style>

</style>
  </head>
  
<script>
 
 function wrapText(context, text, x, y, maxWidth, lineHeight) {
        var words = text.split(' ');
        var line = '';

        for(var n = 0; n < words.length; n++) {
          var testLine = line + words[n] + ' ';
          var metrics = context.measureText(testLine);
          var testWidth = metrics.width;
          if (testWidth > maxWidth && n > 0) {
            context.fillText(line, x, y);
            line = words[n] + ' ';
            y += lineHeight;
          }
          else {
            line = testLine;
          }
        }
        context.fillText(line, x, y);
        return y;
      }
window.onload = function() {
 


   $("body,html").animate({
                scrollTop:  $(document).height()
           });

  var name="{{name|safe}}";
  name="Name :"+name;
  var phone="{{phone|safe}}";
   var membership_id="{{membership_id|safe}}";
   membership_id="ID: "+membership_id
   var status="{{status|safe}}";
    var c = document.getElementById("canvas");
   
    var ctx = c.getContext("2d");

    var img = new Image()
    var display_canvas=document.getElementById("canvas_display");
    var ctx_display = display_canvas.getContext("2d");
     img.setAttribute('crossOrigin', 'anonymous');
     img.onload = function(){
       ctx.font = " bold 18px bebasneue   ";
ctx.fillStyle='black';

  ctx_display.font = " bold 14px bebasneue   ";
ctx_display.fillStyle='black';
//ctx.textAlign='center';

     ctx.drawImage(img, 0, 0,350,542);
    x=80;
    y=172;
      y=wrapText(ctx, name, x, y, 250, 18);
// y=y+24;
// ctx.fillText(phone,x,y)
y=y+24;
ctx.fillText(String(membership_id),x,y)
//  
 ctx_display.drawImage(img, 0, 0,212,322);
    x=30;
    y=92;
      y=wrapText(ctx_display, name, x, y, 150, 14);
// y=y+16;
// ctx_display.fillText(phone,x,y)
y=y+16;
ctx_display.fillText(String(membership_id),x,y)


  }
  if (status=='S')
  {
    img.src = "/static/img/supporter_card.jpg";
  }
    
  else{
    img.src = "/static/img/idcard.jpg";
  }
 

   var back_img = new Image()
     back_img.src = "/static/img/idback.jpg";
     back_img.setAttribute('crossOrigin', 'anonymous');
     back_img.onload = function(){
     ctx.drawImage(back_img, 400,0,350,542);
     
  }

$(".loader").css("display","None");

function downloadCanvas(link, canvasId, filename) {
 
    link.href = document.getElementById(canvasId).toDataURL();
    link.download = filename;
}

document.getElementById('download').addEventListener('click', function() {
    var currentdate = new Date();
var datetime_string =  currentdate.getDate() + "_" + (currentdate.getMonth()+1) + "_" + currentdate.getFullYear() + " _" + currentdate.getHours() + "_" + currentdate.getMinutes() + "_" + currentdate.getSeconds();
  var filename="JANASENAPARTY_"+datetime_string+".png";
    downloadCanvas(this, 'canvas', filename);
}, false);


// pdfdownload.addEventListener("click", function() {
//   // only jpeg is supported by jsPDF
//   var imgData = c.toDataURL();
//   var pdf = new jsPDF();

//   pdf.addImage(imgData, 'JPEG', 20, 20);
//   var download = document.getElementById('download');
//     var currentdate = new Date();
// var datetime_string =  currentdate.getDate() + "_" + (currentdate.getMonth()+1) + "_" + currentdate.getFullYear() + " _" + currentdate.getHours() + "_" + currentdate.getMinutes() + "_" + currentdate.getSeconds();
//   var filename="JANASENAPARTY_"+datetime_string+".pdf";
//   pdf.save(filename);
// }, false);









}
function print_idcard()
{
    const dataUrl = document.getElementById('canvas').toDataURL(); 

let windowContent = '<!DOCTYPE html>';
windowContent += '<html>';
windowContent += '<head><title>Print canvas</title></head>';
windowContent += '<body>';
windowContent += '<img src="' + dataUrl + '">';
windowContent += '</body>';
windowContent += '</html>';

const printWin = window.open('', '', 'width=' + 750 + ',height=' + 542);
printWin.document.open();
printWin.document.write(windowContent); 

printWin.document.addEventListener('load', function() {
    printWin.focus();
    printWin.print();
    printWin.document.close();
    printWin.close();            
}, true);
}
   
</script>
  <body>
    <header class="cd-main-header show-on-medium-and-down"> 
  <a href="javascript:void(0);" class="cd-nav-trigger"><span></span></a>
</header>
<section class="no-padding" style="background:url(/static/img/top-header-bgr.png) repeat-x;">
  <div class="row">
      <div class="col l4 m12 s12 center-align"><a href="/"> <img src="/static/img/jenasena_logo.png" class="responsive-img" alt="Jana Sena Party Logo" style="position:relative; top:20px;"></a> </div>
    <!--<div class="col l2 m12 s12 left-align"> <img src="../img/janasena-party-missed-call-number.png" height="30" alt=" " style="position:relative; top:150px;" class="hide-on-med-and-down"> </div>-->
    <div class="col l4 m12 s12 black-text"> 
   <div style="position:relative; top:150px; padding-left:80px; " class="hide-on-med-and-down">
              
        <span style="font-size:16px; font-weight:800;color:#d81615;">Follow Our Social Stream </span>
    <a href="https://www.facebook.com/janasenaparty/" target="_blank"><i class="fa fa-facebook white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/Janasenaparty?lang=en" target="_blank"><i class="fa fa-twitter white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/Janasenaparty" target="_blank"><i class="fa fa-youtube white-text grey darken-3" style="padding:5px 10px; border-radius:20px;"></i></a>
    </div>
     </div>
    <div class="col l4 m12 s12 right-align no-padding hide-on-med-and-down"> <img src="static/img/rt-header-bit.png" height="162" alt=" "> </div>
  </div>
  
</section>
<br>
          <div class="loader">
                <div class="spinner"> <svg width='48px' height='48px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-hourglass">
                  <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                  <g>
                  <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z" class="glass"></path>
                  <clipPath id="uil-hourglass-clip1">
                      <rect x="15" y="20" width="70" height="25" class="clip">
                      <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <clipPath id="uil-hourglass-clip2">
                      <rect x="15" y="55" width="70" height="25" class="clip">
                      <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                      <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                    </rect>
                    </clipPath>
                  <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)" fill="#ffab00" class="sand"></path>
                  <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)" fill="#ffab00" class="sand"></path>
                  <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                </g>
                  </svg> </div>
              </div>
          <div class="clearfix">&nbsp;<br>
              </div>
  <div class="container" align="center">
      
    <div class="row">
        <div  id="id_card_div" >
  
  

            <div class="row"   align="center">
            <div class="card-container" id="rcorners1" align>
            <canvas id="canvas_display" class="canvas" width="212" height="322" ></canvas>
             <canvas id="canvas" class="canvas" width="750" height="542" style="display:None"></canvas>
            </div>
            <br>
            <div class="row" align="center">
            <a id="download"><button style="font-weight: 800;color: #d81615;border-color: #d81615;"> Download as Image</button></a>
            &nbsp;
           <!--  <button id="pdfdownload" style="font-weight: 800;color: #d81615;border-color: #d81615;">Download as PDF</button> -->

           <!--  <a href="javascript:print_idcard()"><button style="font-weight: 800;color: #d81615;border-color: #d81615;">PRINT</button></a> -->
            </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>