{% extends "layout.html" %}
{% block body %}
<div class="row  " >
        <br>
         <h4 style="color:#d81615;" id="form_text">JanaSena Member Details</h4>
<div class="row">
<div class="col l6 m6 s12">
<img src="{{img_url}}" height="200px" width="200px">
</div>
<div class="col l6 m6 s12">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td  class="text-red" width="38%" style="color:#d81615"><label for="name" class=" text-red">Name:</label></td>
                <td><span id="name"  class=""   >{{name}}</span></td>
              </tr>
              <tr>
                <td  class="text-red" width="38%" style="color:#d81615"><label for="name" class=" text-red">Membership ID:</label></td>
                <td><span id="name"  class=""   >{{membership_id}}</span></td>
              </tr>
              </table>
</div>
</div>
 </div>

 {% endblock %}