{% extends "membership_layout.html" %}

{% block body %}
<style>
.submit{ background: #d61f26; border: 0; padding: 8px 30px; color: #fff; margin: 10px 5px 0; text-transform: uppercase; font-size: 13px; letter-spacing: .5px; position: relative; } .form-control{ border-radius: 1px; height:36px; border-color: darkcyan;width:100%;} .captcha-textbox { background-color: #fff; padding: 2px 4px; } .captcha-textbox li { display: inline-block; list-style: none; margin-left: 5px; } .captcha-textbox input { background: none; border: none; border-bottom: 1px solid #d81615; }
</style>
<div class="container" id="form"style="border: #587783 solid 2px;
      min-height: 500px;
      margin-top: 83px;
      ;width: 60%;">
          <div class="form-register" id="register" >
              <h4 style="text-align: center;
              font-size: 24px; 
              font-weight: 400;
              color: #d81615;
              font-size: 2.60rem;margin-top: 21px;">Janasena Membership Form</h4>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4" id="login" >
        <div class="form-group">
          <input type="hidden" name="country" id="country" value="" />
          <label for="phone-number-country"> Select country</label>
          <select name="phone-number-country" id="phone-number-country" class="form-control" required="" >
            <option value="" selected="">Select Country</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4" id="login" >
          <div class="form-group  " >
            <label>Phone Number </label>
            <input type="text" class="form-control" id="phone_number_web" placeholder="Enter Phone Number" maxlength="11" autocomplete="off" oninput="maxLengthCheck(this)">
           
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12" >
            <div class="form-group ">
          <label for="name" >Name :</label>
          <input type="text" maxlength="50" id="name" class="form-control" name="name" placeholder="Enter Your Name as per your  ID Proof"  required >
          </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4" >
              <div class="form-group  " >
                <label>email </label>
                <input type="text" class="form-control" id="email" placeholder="Enter email"maxlength="50"  >
               
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4"  >
                <div class="form-group  " >
                  <label>Age </label>
                  <input type="text" id="age" name="age" class="form-control" min="1" max="200" maxlength="3"  onkeypress="return isNumeric(event)" placeholder="Enter Your Age Here"required >
                 
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4" >
                  <div class="form-group  " >
                      <label for="gender" > Gender :</label>
                      <select name="gender" id="gender" class=" form-control"  required>
                        <option value="" selected >Select Gender</option>
                        <option value="Male" class="Male">Male</option>
                        <option value="Female" class="Female">Female</option>
                          <option value="Transgender" class="Transgender">Transgender</option>
                       
                      </select>
                   
                  </div>
                </div>

      </div>
      <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-12" >
              <div class="form-group">
                <label for="district"> Select District</label>
                <select name="district" id="district" class="form-control" required="">
                 
                         <option value="" selected class="selectone" >Select District</option>
                        
                      {% for item in data %}
        <option value="{{item}}"  >{{item}}</option>
    {% endfor %}
                         
                </select>
              </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12" >
          <div class="form-group">
            <label for="constituency">Constituency</label>
            <select name="constituency" id="constituency" class="form-control" required="">
              <option value="" selected="">Select constituency</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12"  >
            <label for="qualification">Qualification :</label>
            <select name="qualification" id="qualification" class=" form-control"  required>
                          
                        

                         <option value="" selected class="selectone" >Select Qualification</option>
                        
                 
        <option value="Post Graduation"  >Post Graduation</option>
        <option value="Graduation"  >Graduation</option>
        <option value="12th"  >12th</option>
        <option value="10th"  >10th</option>
        <option value="10th Below"  >10th Below</option>
                         

                        
                      </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12" >
       
                <label for="profession" >Profession:</label>
               <select name="profession" id="profession" class="form-control " required  >
                              
                            
    
                             <option value="" selected class="selectone" >Select profession</option>
    
                           <option value="IT Professional" >IT Professional</option>
                           <option value="Doctor"   >Doctor</option>
                            <option value="Business"  >Business</option>  
                            <option value="lawyer"  >lawyer</option> 
                             <option value="Financial Consultant"   >Financial Consultant</option>
                              <option value="Civil Engineer"   >Civil Engineer</option>
                         <option value="Mechanical Engineer"   >Mechanical Engineer</option>
                        <option value="Pharmascist"   >Pharmascist</option>
                         <option value="Chemical Engineer"   >Chemical Engineer</option> 
                         <option value="Academician"   >Academician</option>  
                          <option value="Self-Employed"   >Self-Employed</option>
                          <option value="Housewife"   >Housewife</option>
                          <option value="Journalist"   >Journalist</option> 
                          <option value="Student"   >Student</option>  
                          <option value="Other"   >Other</option>
                          </select>
                 </div>

                 <div class="col-md-4 col-lg-4 col-sm-12" >
                    <div class="form-group" style="margin-left: 15px;">
                      <label for="jscaptchainput"> Please enter captcha *:</label>
                      <div class="captcha-textbox form-control" style="width:100%;background-color: white;;">
                        <span class="form-inline" id="jscaptchatext" style="font-size: 18px;color:black;padding-left:10px"></span>
                        <input type="text" id="jscaptchainput" style="width: 50%;font-family: 'Open Sans', sans-serif;padding: 0.1em 0em 1px 0em;border: none;border-radius: 0px;color:black;font-size:18px;outline: none;margin: 0px;background: none;" />
                      </div>
                      <p id="captcha_error" style="display:none;color:#d81615;">Please enter above captcha
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-12">
                      <div class="form-group">
                    <button type=submit class="submit" id="membership_submit" style="margin-top:27px">Proceed Next</button></br>
                 </div>
                </div>
    </div>

      </div>     
      </div>
      <div class=" otpdiv container" style="border: #587783 solid 2px;
      min-height: 305px;
      margin-top: 83px;
      ;width: 40%;display:none">
         
          
              
               
                <div class="row">
                <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12" style="margin-top: 30px;">
            
                <h5>6 Digit OTP has been sent to given Email ID.</h5>
                <label for="otp">OTP :</label>
                <input type="text" class="form-control" name="otp" id="otp" onkeypress="return isNumeric(event)" onkeyup="validateOTPLength()"  oninput="maxLengthCheck(this)"  placeholder="Please Enter OTP Here" minlength="6" maxlength="6" required >
                <p class="alert alert-danger " id="otp_error" style="display:none">Enter Valid OTP.</p>
                <p id="resendotptag"><a href="#" id="resendotp" style="float:right ; border-bottom:1px dashed;" >Resend OTP</a></p>
            
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-6">
                <input type="submit"  class="submit"  id="otp_submit" style="float:left;" value="Verify">
              </div>
            
            </div>
          </div>
            

      




<script src="static/assets/js/intelTellinput3.min.js"></script>
    <script type="text/javascript" src="static/assets/js/jquery.formatter.min.js"></script>     
<script>

var input_login = $('#jscaptchainput');
var label_login = $('#jscaptchatext');

var randomNr1 = 0;
var randomNr2 = 0;
var totalNr_login = 0;

randomNr1 = Math.floor(Math.random()*10);
randomNr2 = Math.floor(Math.random()*10);
totalNr_login = randomNr1 + randomNr2;
var texti_login = randomNr1+" + "+randomNr2+" = ";

$(label_login).text(texti_login);

function validate_captcha_login()
{
   var nr = $('#jscaptchainput').val();

    if(nr==totalNr_login)
    {
      return true;
    }
    else
    {
       $('#jscaptchainput').focus();
      return false;
    }
}

 

var phone_or_membership_id;
var country;  

var assembly_constituencies;
$.getJSON('/static/json/districts.json',function(data){
  assembly_constituencies=data;

});
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};  
 function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  } 
function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9\b]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }           


function validateOTPLength()
{
  var regex = /^[0-9]{6}$/g;
  var otp=$("#otp").val();
  var length=otp.length;
  if(length==6){
    if(regex.test(otp))
    {
      $("#otp_error").css("display","None");
     
    }
    else
    {
      $("#otp_error").css("display","block");
      
    }
      
   
    

  

}
else
{
  $("#otp_error").css("display","None");
  
}

  }

function validateMobileNoLength(mobile_num,country)
{
  var mobileregex;
  
  if (country=='91')
  {
    mobileregex= /^[6-9]{1}[0-9]{9}$/g;
  }
  else if (country=="1")
  {
    mobileregex= /^[0-9]{10}$/g;
  }
  else
  {
    mobileregex= /^[0-9]*$/g;
  }
   
  var membership_regex=/^jsp+[0-9]{8}$/i;
  if(mobile_num.length>5)
  {


 
  var jsp_str=(mobile_num.substring(0, 3)).toUpperCase()
    if(jsp_str!='JSP')
    {

    if(mobileregex.test(mobile_num))
    {
     
     
              phone_or_membership_id='p';
              return true;
    }
    else
    {
     
     
      return false;
    }
  
 
}
else if(jsp_str=='JSP')
{
  if(membership_regex.test(mobile_num))
    {
      
      phone_or_membership_id='m';
              return true;
    }
    else
    {
      
     
      return false;
    }
}
}

  else
  {
    return false;
  }


}


function isEmpty(val){
    return (val === undefined || val == null || val.length <= 0) ? true : false;
}
</script>
<script>

$(document).ready(function(){
var otp_count=0;
   var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
var phone_or_membership = getUrlParameter('phone_or_membershipid');
if(!isEmpty(phone_or_membership))
{
$("#phone_number_web").val(phone_or_membership);


}

country=getUrlParameter('country');
if(!isEmpty(country))
{
  $("#phone-number-country").val(country);

}
function validate_email(email)
{
  var re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
if (email == '' || !re.test(email))
{
    
    return false;
}
else
{
  return true;
}
}
function validate(){
   $(".validation").html('');
$("p").remove(".validation");
var name=$("#name").val();
var email=$("#email").val();
var age=$("#age").val();
var gender=$("#gender").val();
var district=$("#district").val();
var constituency=$("#constituency").val();
var country=$("#country").val();
var qualification=$("#qualification").val();
var profession=$("#profession").val();
var phone=$("#phone_number_web").val();
 var country_name=$('select[name="phone-number-country"] option:selected').val();
if (isEmpty(country_name)){
         
  $("#phone-number-country").after("<p class='validation' style='color:red;'>This Field is Required</p>");
  $("#phone-number-country").focus();

  return false;
}
if(!validateMobileNoLength(phone,country))
{
   $("#phone_number_web").after("<p class='validation' style='color:red;'>This Field is Required</p>");
  $("#phone_number_web").focus();
   return false;
}
if (isEmpty(name)){
         
  $("#name").after("<p class='validation' style='color:red;'>This Field is Required</p>");
  $("#name").focus();

  return false;
}
if (!validate_email(email)){
         
  $("#email").after("<p class='validation' style='color:red;'>Enter Valid Email</p>");
  $("#email").focus();

  return false;
}

if (isEmpty(age)) {
         
          $("#age").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#age").focus();

          return false;
        }
  if (isEmpty(gender)) {
   
    $("#gender").after("<p class='validation' style='color:red;'>This Field is Required</p>");
    $("#gender").focus();

    return false;
  }
if (isEmpty(district)) {
         
          $("#district").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#district").focus();

          return false;
        }

  if (isEmpty(constituency)) {
         
          $("#constituency").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#constituency").focus();

          return false;
        }

   
     
     if (isEmpty(qualification)) {
         
          $("#qualification").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#qualification").focus();

          return false;
        }
        if (isEmpty(profession)) {
         
          $("#profession").after("<p class='validation' style='color:red;'>This Field is Required</p>");
          $("#profession").focus();

          return false;
        }
        return true;

}


 $("#membership_submit").click(function(e)
 {
  
 if(!validate())
 {
  return false;
 }
 if(!validate_captcha_login())
          {
             
     swal("Error","please enter captcha",'error');
              
              return false;
          }


  var phone=$("#phone_number_web").val();
  



$(".loader").css("display","block")

var voter_id='';
var name=$("#name").val();
var email=$("#email").val();
var age=$("#age").val();
var gender=$("#gender").val();
var district=$("#district").val();
var constituency=$("#constituency").val();
var country=$("#country").val();
var qualification=$("#qualification").val();
var profession=$("#profession").val();
 var country_name=$('select[name="phone-number-country"] option:selected').text();


if(phone_or_membership_id=='p')
{
  phone=country+phone;
}
data={phone:phone,voter_id:voter_id,name:name,email:email,age:age,gender:gender,district:district,constituency:constituency,mtype:phone_or_membership_id,country:country,country_name:country_name,state_id:"1",qualification:qualification,profession:profession }
$.ajax({
           type: "POST",
           url: "/manualMembershipint",
           dataType: "json",
           data:data,
           ContentType:"application/json",
           success: function (response) {
           
               if (response.data.status=='1') {
               $(".loader").css("display","None")
              
        // swal("OTP Sent Successfully","Please check Your Phone","success");
        
        $("#form").css("display","None")
        $(".otpdiv").css("display","block");
            
          
        $(".loader").css("display","None")
                
               }
               else if(response.data.status=='4') 
               {
                 $(".loader").css("display","None")
                 swal("error",response.errors,"Error");
                 return false;
               }
               else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
       
 })

$("#district").change(function()
  {
  var district=$("#district").val();
 
  if (!district)
  {
    return false;
  };
 $.each(assembly_constituencies,function(i,val){
  if(district===i)
  {
    $('#constituency')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
        $.each(val, function (akey, avalue) {
          $('#constituency').append($('<option>', { 
          value: avalue.constituency_id,
          text : avalue .constituency_name
          }));
          });
  }

 });

 

});



 $("#resendotp").click(function()
      {
        if(otp_count<3)
        {


        
         $(".loader").css("display","block");
          
          $.ajax({
           type: "POST",
           url: "/resendOTPint",
           dataType: "json",
           
           ContentType:"application/json",
           success: function (response) {
         
               if (response.data.status=='1') {
                otp_count=otp_count+1;
               // alert("otp verified successfully.  Fetching your details");
               swal("OTP Resent  successfully!", " Check Your Email ID", "success")
 $(".loader").css("display","None")
                
               } else {
                   
                    $(".loader").css("display","None");
                    swal("Error",response.errors,"error");
                    return false;
                   
               }
           },
           error:function(response)
           {
            
            $(".loader").css("display","None");
           
           
             swal("Error",response.errors,"error");
             return false;
           }
           
       });
        }
        else{
           $("#resendotptag").css("display","None");
          swal("Error",'OTP can be resend only three times only ',"error");

          return false;
        }  
      }) 

$("#otp_submit").click(function(e)
{
  $(".loader").css("display","block");
           

  var otp=$("#otp").val();
  data={otp:otp} 
            $.ajax({
                       type: "POST",
                       url: "/validateManualOTP",
                       dataType: "json",
                       data:data,
                       ContentType:"application/json",
                       success: function (response) {
                       
                           if (response.data.status=='1') {
                            

                             $(".detals_screen").css("display","None")
                          $(".otpdiv").css("display","none");
                           window.location.replace("/MembershipCard")
                          $(".loader").css("display","None");
           
                           

                           }
                           else
                           {
                            $(".loader").css("display","None");
           
                             swal('Error',response.errors,'error')

                                return false;

                           }
                       }
                   });


})

var country=$('select[name="phone-number-country"] option:selected').val();
    
    $("#country").val(country);
      
  $("#phone-number-country").change(function()
  {

       var country=$('select[name="phone-number-country"] option:selected').val();
    
    $("#country").val(country);
    
  
  })
  
  
})
const intlPhoneNumber = function(countryCode) {
  // get the country data from the plugin
  const countryData = $.fn.intlTelInput.getCountryData();
  const telInput = $("#phone-number");
  const telInputLabel = telInput.parents(".form-group").find("label");
  const countryDropdown = $("#phone-number-country");
  const phonePrefix = $('.phone-number-prefix');
  const fullPhoneNumber = $('#phone-number-full');
  const errorMsg = $("#error-msg");
  const initCountry = countryCode || 'in';
   let pattern = '';
    pattern = new RegExp("[0-9]", "g");
  
  
   
  const reset = function() {
    
    telInput.removeClass("has-error");
    telInputLabel.removeClass("has-error");
    errorMsg.addClass("hidden-xs-up");
  };

  
  
  $.each(countryData, function(i, country) {
//    console.log(country.name)

    var country_name=(country.name).split("(",1)
//    console.log(country_name)  
    if (country_name[0]=='United States')
    {
      countryDropdown.append($("<option selected></option>").attr("value", country.dialCode).text(country_name[0]));
    }
    else
    {
      countryDropdown.append($("<option></option>").attr("value", country.dialCode).text(country_name[0]));
    }
    
  });

  // init plugin for formatting placeholders
  telInput.intlTelInput({
    allowDropdown: false,
    initialCountry: initCountry,
    utilsScript: "/static/assets/js/utils.js"
  });
  
    // set dropdowns initial value
  const initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;
  let dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
  countryDropdown.val(initialCountry);
  phonePrefix.text("+" + dialCode);
    phonePrefix.val("+" + dialCode);

  
  $('.flag-container').remove();
  $('.intl-tel-input').replaceWith(function() {
    return $('#phone-number', this);
  });

  // set placeholder
 

  // on blur: validate
  telInput.blur(function() {
    // reset states
    reset();

    if ($.trim(telInput.val())) {
      // if number is not valid
      if (telInput.intlTelInput("isValidNumber")) {
        // set hidden input to dial code + inputted number
        fullPhoneNumber.val(telInput.intlTelInput("getSelectedCountryData").dialCode + telInput.val());
      } else {
        // set error states
        telInput.addClass("has-error");
        telInputLabel.addClass("has-error");
        errorMsg.removeClass("hidden-xs-up");
        //clear hidden input val
        fullPhoneNumber.val("");
      }
    }
  });

  
  telInput.on("keyup change", reset);

  
  countryDropdown.change(function() {
   
    
    telInput.intlTelInput("setCountry", $(this).val());
    
    dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
    phonePrefix.text( dialCode);
    phonePrefix.val( dialCode);
   
    telInput.val("");
   
    
  });


};

intlPhoneNumber();
</script>
</html>
{% endblock %}