<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css"/>
        <link rel="stylesheet" href="{{url_for('static',filename='pbl/index.css')}}"/>

    </head>
    <body class="container">

        <div class="row advanced_filters " >
		<div class="form-group has-float-label col-md-3 col-lg-3 col-sm-12 hide">


			<select class="form-control" id="report_level">
    			<option selected value="assembly">Assembly</option>
			  <!--<option value="mandal">Mandal</option>-->
        <!--<option value="booth">Polling Booth</option>-->
			</select>
            <label for="report_level" style="color:#337ab7" >Region Level:</label>
		</div>
		<div class="form-group has-float-label col-md-3 col-lg-3  col-sm-12" id="district_div" style="display:none">

			<select class="form-control" id="district_select" >
    		</select>
            <label for="district_select" style="color:#337ab7" >Select District :</label>
		</div>
		<div class="form-group has-float-label col-md-3 col-lg-3  col-sm-12" id="value_div" style="display:none">

			<select class="form-control" id="value_select" >

    		</select>
             <label for="value_select" style="color:#337ab7" >Select :</label>

		</div>


		<div class="col-md-3 col-lg-3  col-sm-12" >
		<button type="button" class="btn btn-success " id="advanced_filter_btn" style="margin-right:20px;width:100px;font-weight:800">Filter</button>
		</div>
	</div>
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog modal-md">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Polling booth details</h4>
			  </div>
			  <div class="modal-body min-spacing">
                  <div class="row hide" id="voter_div">
                       <div class="form-group input-group  ">
						  <span class="has-float-label col-sm-12 col-md-8">
							<input class="form-control" id="voter_id" type="text" placeholder="Please enter voter_id"/>
							<label for="voter_id">Voter id</label>
						  </span>
                            <button class="btn col-sm-12 col-md-4 " onclick="check_voter_id()">Check Voter id</button>
                       </div>


                  </div>
				  <div class="row hide" id="user_fill_data">
					  <div class="form-group input-group">
						  <span class="has-float-label col-sm-12 col-md-6">
							<input class="form-control" id="name" type="text" placeholder="Name"/>
							<label for="name">Name</label>
						  </span>
						  <span class="has-float-label col-sm-12 col-md-6">
							<input class="form-control" id="mobile" type="text" placeholder="Mobile"/>
							<label for="mobile">Mobile</label>
						  </span>

						</div>
					  <div class="form-group input-group">
						  <span class="has-float-label col-sm-12 col-md-6">
							<input class="form-control" id="jspid" type="text" placeholder="JSPID"/>
							<label for="jspid">JSPID</label>
						  </span>
						   <span class="has-float-label col-sm-12 col-md-6">
							<input class="form-control" id="village" type="text" placeholder="Village"/>
							<label for="village">Village</label>
						  </span>

					  </div>
					  <div class="form-group input-group">
						  <span class="has-float-label col-sm-12 col-md-6">
							<input class="form-control" id="voter_prefill" type="text" placeholder="Voter ID"/>
							<label for="voter_prefill">Voter ID</label>
						  </span>
						  <button class="btn btn-success col-sm-12 col-md-6" id="add-leader-button">Add Leader</button>
					  </div>

				  </div>
				<div class="row">
					 <div class="col-sm-12 col-md-12 table-responsive ">
						<table class="table hide" id="polling-leader-list">

						</table>

					</div>
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  </div>
			</div>

		  </div>
		</div>
        <div class="row">
            <div class="col-sm-12 col-md-12 table-responsive">
                <table class="table" id="polling-booth-table">

                </table>

            </div>

        </div>



        <script src="{{url_for('static',filename='js/jquery-2.1.0.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="{{url_for('static',filename='pbl/report_level.js')}}"></script>
        <script src="{{url_for('static',filename='pbl/index.js')}}"></script>
    </body>
</html>