{% extends "janasainyam_layout.html" %}
 {% block head%}
<style>
.form-control 
{
	width:80% !important;
}
</style>
 <link rel="stylesheet" href="static/assets/css/sweetalert.css">
  <!-- <link rel="stylesheet" type="text/css" href="static/offline_memberships/css/mem.css"> -->
 <script type="text/javascript" src="static/assets/js/sweetalert.js"></script>
 {% endblock%}

{% block body %}
 <div  style="min-height:500px">
{% include 'loader.html' %}
	<div class="row" style="margin-top:30px;">
        		<h3  style="text-align:center;width:100%;color:rgba(28, 137, 255, 0.91);font-size:28px;font-weight:700">Call Center Form</h3>
        	</div>
		<form id="issues_form">
    
      <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label for="name" style="color:blue">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name"  required>
      </div>
      <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
        <label for="referral_id" style="color:blue">Voter ID</label>
        <input type="text" class="form-control" id="voter_id" name="voter_id" placeholder="Voter ID" >
      </div>
      <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
        <label for="receipt_no" style="color:blue">Age</label>
        <input type="text" class="form-control" id="age" placeholder="Enter Age" name="receipt_no" onkeypress="return isNumeric(event)" required>
      </div>
    

  <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6" >
    <label for="gender" style="color:blue">Gender</label>
    <select id="gender" name="gender" class="form-control" required>
      <option value="" selected>Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Transgender">Transgender</option>
    </select>
  </div>
  <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6" >
    <label for="state" style="color:blue">State</label>
    <select id="state" name="state" class="form-control" required>
      <option value="" selected>Select State</option>
      <option value="1">Andhra Pradesh</option>
      <option value="2">Telangana</option>
      <option value="3">Karnataka</option>
      <option value="4">Tamilnadu</option>
      <option value="5">Other</option>
    </select>
  </div>
  <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
    <label for="district" style="color:blue">Districts</label>
    <select id="district" name="district" class="form-control" required>
      <option selected value="">Select District</option>
    </select>
  </div>
  <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
    <label for="constituency" style="color:blue">constituency</label>
    <select id="constituency" name="constituency"class="form-control" required>
      <option selected value="">select Constituency</option>
    </select>
  </div>
    
      
      <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
       <input type="submit"  id="submit" class="btn btn-success" style="margin-top: 27px;
    width: 100px;" value="Submit">
        </div>
   

   
  </form>


 </div>       	
<script>
var districts = [];
  var ac;
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
}; 
var load_districts_data= function load_districts_data()
{
	$.getJSON('static/offline_memberships/json/membership/districts.json', function (data) {
    districts = data;
   
    $.each(districts,function(i,dist){
      $.each(dist, function (j, val) {
        $('#district').append($("<option></option>").attr("value", val.id).text(val.district_name));
      });
    })
    console.log(districts)
  });
  $.getJSON('static/offline_memberships/json/membership/constituencies.json', function (data) {
    ac = data;
    
  });
 
} 

$(document).ready(function() {
  var phone=getUrlParameter('phone_number');
  console.log(window.location)
  history.pushState(window.location.href,null, "http://127.0.0.1:5000/call_center_form");
  load_districts_data();
  if(!phone)
  {
    swal("Info","phone number missing. please close and open the form again","info")
    return false;
  }

  

$('#state').change(function () {
  var state=$("#state").val();
  console.log(state)
  if(state>2)
  {
    $('#district').removeAttr("required");
    $('#constituency').removeAttr("required");
  }
  else
  {
    $('#district').attr("required","true");
    $('#constituency').attr("required","true");
  }
$('#district').html('');
$('#constituency').html('');
$('#district').append('<option value="" selected>Select District</option>')
var districts_data=districts[state];
 $.each(districts_data, function (i1, val1) {
      $('#district').append($("<option ></option>").attr("value", val1.id).text(val1.district_name));
    });
});
 
  $('#district').change(function () {

    var district_id = $(this).val();
    console.log(district_id)
    var local_ac = ac[district_id];

    $('#constituency').html('');
    $('#constituency').append('<option value="" selected>Select Constituency</option>')
    $.each(local_ac, function (i1, val1) {
      $('#constituency').append($("<option data-stateid='" + val1.state_id + "'></option>").attr("value", val1.constituency_id).text(val1.constituency_name));
    });
  })
  $('#issues_form').submit( function (e) {

			e.preventDefault();
 var data={};

  
  if(!phone)
  {
    swal("Info","phone number missing. please close and open the form again","info")
    return false;
  }
  $('.loader').css("display","block");
  data['phone']=phone;
  data['full_name']=$("#name").val();
  data['voter_id']=$("#voter_id").val();
  data['age'] = $("#age").val();
  data['gender'] =$("#gender").val();
  data['state_id'] =$("#state").val();
  data['constituency_id'] =$("#constituency").val();
  data['district_id'] =$("#district").val();
  
   
     $.ajax({
    type: "POST",
    url:  "/membership_with_callcenter",
    data: data,
    dataType: "json",
    
    success: function (response) {
      $('.loader').css("display","none");
       if(response.status=='1')
                    {
                            swal({
                            title: "Data Saved Successfully",
                            icon:"success",
                            text: "",
                            type: "success",
                            showCancelButton: false,
                            
                            confirmButtonText: "OK",
                            closeOnConfirm: false
                            },
                           function()
                           {
                            window.close();
                           });
                        }
                        else
                        {
                           $('.loader').css("display","none"); 
                        	swal({
                            title: response.errors[0],
                            icon:"info",
                            text: "",
                            type: "info",
                            showCancelButton: false,
                            
                            confirmButtonText: "OK",
                            closeOnConfirm: false
                            },
                           function()
                           {
                            window.close();
                           });

                        
                        
                        }

    },
    
                error:function(response)
                {
                swal("Error","please check your internet connection","error")
                $('.loader').css("display","none");
                }
  })
  })

 
})

function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9\b]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  } 
</script>

{% endblock%}

