
{% extends "janasainyam_layout.html" %}
{% block head%}
{% endblock%}
{% block body %}
 
<div class="changepassword container">

    <div class="row" >
    <div class="col-xs-3 col-xs-offset-4">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Change Password</h3>
      </div>
      <div class="panel-body">
        <span style="color:red;">Password Must be 8 Characters Long</span>
        <input class="form-control" type="password" id='oldpass' placeholder="old password">
        <input class="form-control newp" type="password" id='newpass'  placeholder="new password">
        <input class="form-control confirmp" type="password"  id='confirmpass' placeholder="confirm password">
        <br>
        <span class='errormsg' style="Display:None; color:red;"> They Don't Match</span>
        <input class="btn btn-primary" id='cpsubmit' disabled type="submit">
        <button class="btn btn-info" id='cpcancel' >cancel</button>

      </div>

    </div>
    </div>
    </div>

</div>
<script>
$(document).ready(function(){


 var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});

 


$('.confirmp, .newp').keyup(function(){

    var newpass = $("#newpass").val();
    var confirmpass = $("#confirmpass").val();
    oldpass=$("#oldpass").val();
    if (oldpass.length>0  )
    {
    passOne = newpass;
    passTwo = confirmpass;
    
    checkAndChange();
    } 
     });

var checkAndChange = function()
  {
    
    if(passOne.length < 8){
      $('.errormsg').text('password must be 8 Characters Long');
       $('.errormsg').show();
      $('#cpsubmit').attr('disabled',true);
    }
    else
    {
          if(passOne == passTwo){
           $('.errormsg').hide();

          $('#cpsubmit').attr('disabled',false);


          }
          else
          {
            $('#cpsubmit').attr('disabled',true);
          $('.errormsg').text('They Dont match');
          $('.errormsg').show();
          }
}
      
  }

$('#cpsubmit').click(function()
{
  var oldpass=$('#oldpass').val();
  var newpass=$('#newpass').val();
  
  data={oldpass:oldpass,newpass:newpass}
 $.ajax({
                    url: "/changePasswordjanasainyam",
                    type: "POST",
                    data:data,
                    dataType: 'json',
                    success: function(result){ 
                     
                     
                        if(result.data.status=='1')
                            {
                               
                             alert('password changed Successfully');

                           
window.location.href="{{url_for('offline_memberships.janasainyamlogout')}}";

                }
                else{
                alert(result.errors);
                
                }
                }
                });  


});

})
</script>
{% endblock %}