
{% extends "admin_layout.html" %}
{% block body %}
<style>


</style>
<div class="changepassword">

    <div class="row" >
    <div class="col-xs-6 col-md-6 col-sm-12 col-xs-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Create  New USer</h3>
      </div>
      <div class="panel-body">
        <form id="frontdescform" name="frontdescform">
       
        <input class="form-control " type="text"  id='firstname' placeholder="First Name "  required><br>
         <input class="form-control " type="text"  id='lastname' placeholder="last name " required><br>
        <input class="form-control" type="email" id='email' placeholder="User Email" required><br>
        
        <input class="form-control " type="text" id='mobile'  placeholder="Mobile Number" required><br>
        <select name="district_id" id="district_id" class="form-control " required>
         
  
  <option value=""> Select District</option>
  
</select>
<br>
<select name="constituency_id" id="constituency_id" class="form-control " required>
  <option value=""> Select Constituency</option>
  </select> <br>     
       
        <input class="btn btn-primary form-control" id='submitfrontdesk'  type="submit">
       
</form>
      </div>

    </div>
    </div>
    </div>

</div>
<script>
var csrftoken = $('meta[name=csrf-token]').attr('content');
 $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
$(document).ready(function(){

var districts=[];
var assembly_constituencies;
$.getJSON('/static/json/membership/districts.json',function(data){
   $.each(data, function (key,val) {
    if(parseInt(key)<=2)
    {
       $.each(val, function (index,value) {
      districts.push(value);
    });
    }
   
  });
 $('#district_id')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select District</option>')
        .val('');
        $('#constituency_id')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
        $.each(districts, function (i,val) {
          $('#district_id').append($('<option>', { 
          value: val.id,
          text : val.district_name
          }));
          });

});
console.log(districts)
$.getJSON('/static/json/membership/constituencies.json',function(data){
  assembly_constituencies=data;

});



$("#district_id").change(function()
  {
  var district=$("#district_id").val();
 console.log(district)
  if (!district)
  {
    return false;
  };
 $.each(assembly_constituencies,function(i,val){
  if(district==i)
  {
    console.log(district)
    $('#constituency_id')
        .find('option')
        .remove()
        .end()
        .append('<option value="" selected>Select Constituency</option>')
        .val('');
        $.each(val, function (akey,avalue) {
         
          $('#constituency_id').append($('<option>', { 
          value: avalue.constituency_id,
          text : avalue.constituency_name
          }));
          });
  }

 });

 

});

$('#frontdescform').submit(function(e)
{
  e.preventDefault();
  
  
  var firstname=$("#firstname").val();
  var lastname=$("#lastname").val();
  var email=$("#email").val();
  var mobile=$("#mobile").val();
  var district_id=$("#district_id").val();
  var constituency_id=$("#constituency_id").val();
  data={uname:email,first_name:firstname,last_name:lastname,district_id:district_id,mobile:mobile,constituency_id:constituency_id}
 $.ajax({
                    url: "/createJanasainyamUser",
                    type: "POST",
                    data:data,
                    dataType: 'json',
                    success: function(result){ 
                     
                     
                        if(result.data.status=='1')
                            {
                               
                             alert('New User Created Successfully ');

                           
window.location.href="{{url_for('offline_memberships.getJanasainyamTeam')}}";

                }
                else{
                alert(result.errors);
                return false;
                
                }
                }
                });  


});

})
</script>
{% endblock %}