{% extends "janasainyam_layout.html" %}
 {% block head%}
 <style>
 .focus-input2 .mandatory::after {
    content: "  *";
    color:red;
}
.mselect
{
    margin-top:15px;
    margin-bottom:15px;
}
 </style>
 <link rel="stylesheet" type="text/css" href="static/offline_memberships/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/css/bootstrap-select.min.css">
        <!--<link rel="stylesheet" type="text/css" href="css/bootstrap-select.css.map">-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/css/util.css">

        <!--<link rel="stylesheet" type="text/css" href="css/main.css">-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/css/mem.css">
        <link rel="stylesheet" href="static/assets/css/sweetalert.css">
        <style>
     .dropup .dropdown-toggle::after {
     	border-bottom:none !important;
     } </style>
 {% endblock%}

{% block body %}

       
 
    
        <div class="container">
        	{% include 'loader.html' %}
        	<div class="row" style="margin-top:10px;">
        		<h3  style="text-align:center;width:100%;color:rgba(28, 137, 255, 0.91);font-size:28px;font-weight:700">Membership Form</h3>
        	</div>
            <marquee id="tech_support" direction="right" ><h5 style="font-size:18px">Please call 9676881991 for technical issues </h5></marquee>
            <div class="p-t-20" id="check_form">
            	<div class="row" style="margin-left: 3px;
    margin-bottom: 10px;"><span style="font-size:20px;color:rgba(28, 137, 255, 0.91);">Choose Option: </span>
            		<div class="form-check-inline" style="font-size: 1.5rem;color:rgba(28, 137, 255, 0.91);">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio" value="yes" checked> Voter ID
  </label>
</div>
<div class="form-check-inline" style="font-size: 1.5rem;color:rgba(28, 137, 255, 0.91);">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio" value="no"> No Voter ID
  </label>
</div>
            	</div>
                <div class="validate-form" id="precheck">
                    <div class="row" >
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                            <div class="wrap-input2 validate-input" data-validate="Phone number is required">
                                <input class="input2" type="text" name="phone" onkeypress="return isNumeric(event)" minlength="10" maxlength="10" oninput="maxLengthCheck(this)" >
                                <label class="focus-input2 mandatory" data-placeholder="10 Digit Mobile NO"><span style="color:red"> *</span></label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                            <div class="wrap-input2 validate-input" data-validate = "Invalid Voter id">
                                <input class="input2" type="text" name="voter_id">
                                 <label class="focus-input2 mandatory" data-placeholder="VOTER ID"><span style="color:red"> *</span></label>
                               
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="wrap-button">
                                <button id="check_details" style="font-weight:700;font-size:16px">Fetch</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="validate-form" id="full_data">
                   
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " >
                            <div class="wrap-input2 validate-input" data-validate="mobile Number is required">
                                <input class="input2" type="text" name="mno" onkeypress="return isNumeric(event)" minlength="10" maxlength="10" oninput="maxLengthCheck(this)">
                               
                                <label class="focus-input2" data-placeholder="10 Digit Mobile NO " ><span style="color:red;font-size:12px"> *</span></label>

                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text" name="full_name">
                                <label class="focus-input2" data-placeholder="FULL NAME " ><span style="color:red;font-size:12px"> *</span></label>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " >
                            <div class="wrap-input2 validate-input" data-validate="Relation Name is required">
                                <input class="input2" type="text" name="relation_name">
                               
                                 <label class="focus-input2" data-placeholder="Father/Husband Name " ><span style="color:red;font-size:12px"> *</span></label>
                            </div>
                        </div>
                        
                   
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " >
                            <div class="switch-field">
                                <div class="switch-title" style="color:rgba(28, 137, 255, 0.91)">Gender<span style="color:red"> *</span> </div>
                                <input type="radio" id="switch_left" name="switch_2" value="male" checked/>
                                <label for="switch_left">Male</label>
                                <input type="radio" id="switch_right" name="switch_2" value="female" />
                                <label for="switch_right">Female</label>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " >
                        <div class="wrap-input2 validate-input" data-validate="Age is required">
                                <input class="input2" type="text" name="age" onkeypress="return isNumeric(event)">
                                 <label class="focus-input2" data-placeholder="Age" ><span style="color:red;font-size:12px"> *</span></label>
                               
                            </div>
                         </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text" name="vtid">
                                <span class="focus-input2" data-placeholder="Voter id number"></span>
                            </div>
                        </div>
                        
                   
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " >
                            <div class="wrap-input2 validate-input" data-validate="Referral Mmebership ID required">
                                <input class="input2" type="text" name="refid" minlength="11" maxlength="11" oninput="maxLengthCheck(this)" value="JSP">
                                 <label class="focus-input2" data-placeholder="Referral Mmebership ID" ><span style="color:red;font-size:12px"> *</span></label>
                              
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                            <div class="wrap-input2 validate-input" data-validate="Form Number is required" >
                                <input class="input2" type="text" name="receipt_no" onkeypress="return isNumeric(event)" onkeypress="return isNumeric(event)" minlength="1" maxlength="9" oninput="maxLengthCheck(this)">
                                 <label class="focus-input2" data-placeholder="Form Number" ><span style="color:red;font-size:12px">* </span></label>
                               
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text" name="email">
                                <span class="focus-input2" data-placeholder="Email"></span>
                            </div>
                        </div>

                        
                   
                  
                  
                        <div class="col-md-3 col-lg-3 col-sm-12">
                 <div class="form-group" >
                   <label for="state" style="font-size:14px">State</label>
                   <select name="state" id="state" class="form-control" required="" style="border: none;border-bottom: 1px solid;min-height: 30px;font-size: 14px;color: #3094ff;">
                     <option value="" selected="">Select State</option>
                     <option value="1" > AndhraPradesh</option>
                     <option value="2" >Telangana</option>
                     <option value="3">Karnataka</option>
                     <option value="4">Tamilnadu</option>
                     <option value="5">Odisha</option>
                     <option value="6">Others</option>
                   </select>
                 </div>
               </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 " >
                            <div class="form-group " data-validate="A District is required">
                                <label for="district" style="font-size:14px">District <span style="color:red"> *</span></label>
                                <select class=" form-control " required data-width="100%" id="district" style="border: none;border-bottom: 1px solid;min-height: 30px;font-size: 14px;color: #3094ff;" >
                                <option value="" selected="">Select District</option></select>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 " >
                            <div class="form-group " data-validate="A assembly is required">
                                <label for="assembly" style="font-size:14px">Assembly <span style="color:red"> *</span></label>
                                <select class="form-control "  required data-width="100%" id="assembly" style="border: none;border-bottom: 1px solid;min-height: 30px;font-size: 14px;color: #3094ff;" >
                                    <option value="" selected="">Select Assembly</option></select>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 " >
                            <div class="form-group" data-validate="A Mandal is required">
                               
                                <label for="mandal" style="font-size:14px">Mandal</label>
                                <select class="form-control"  required data-width="100%" id="mandal" style="border: none;border-bottom: 1px solid;min-height: 30px;font-size: 14px;color: #3094ff;">
                                    <option value="" selected="">Select Mandal</option></select>
                                
                            </div>
                        </div>
                        
                    
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " >
                              <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                
                    
                        <input class="input2" type="text" name="village">
                                <span class="focus-input2" data-placeholder="Village/Municipal/Town "></span>
                            </div>
                           
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " >
                             <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text" name="hno">
                                <span class="focus-input2" data-placeholder="House no"></span>
                            </div>
                            
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " >
                             <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text" name="pincode" onkeypress="return isNumeric(event)" minlength="6" maxlength="6" oninput="maxLengthCheck(this)">
                                <span class="focus-input2" data-placeholder="Pin code"></span>
                            </div>
                           
                        </div>

                   

                         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                           <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text" name="street">
                                <span class="focus-input2" data-placeholder="Street"></span>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                          <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text" name="occupation">
                                <span class="focus-input2" data-placeholder="Occupation"></span>
                            </div> 
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " >
                             <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text" name="education">
                                <span class="focus-input2" data-placeholder="Education"></span>
                            </div>
                            
                        </div>
                       
                   
                        
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 " style="margin-top:40px" >
                         

                        </div>
                        

                         
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="wrap-button" style="margin-top:40px;font-weight:700;font-size:16px;">
                                <button id="submit_details">Submit</button>
                            </div>
                        </div>

                   
                    </div>
                    </div>
                </div>
           
      
        <!--===============================================================================================-->
        <script src="static/offline_memberships/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="static/offline_memberships/vendor/bootstrap/js/popper.js"></script>
        <script src="static/offline_memberships/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <!--<script src="vendor/select2/select2.min.js"></script>-->
        <script src="static/offline_memberships/js/bootstrap-select.min.js">   </script>
        <script src="static/offline_memberships/js/underscore-min.js"></script>
        <!--<script src="js/bootstrap-select.js.map">   </script>-->
        
        <script type="text/javascript" src="static/assets/js/sweetalert.js"></script>
        <!--===============================================================================================-->
        <script src="static/offline_memberships/js/mem.js"></script>

  
 {% endblock %}    

