{% extends "janasainyam_layout.html" %}
 {% block head%}
<style>
.form-control 
{
	width:80% !important;
}
</style>
 <link rel="stylesheet" href="static/assets/css/sweetalert.css">
  <link rel="stylesheet" type="text/css" href="static/offline_memberships/css/mem.css">
 <script type="text/javascript" src="static/assets/js/sweetalert.js"></script>
 {% endblock%}

{% block body %}
 <div  style="min-height:500px">
{% include 'loader.html' %}
	<div class="row" style="margin-top:30px;">
        		<h3  style="text-align:center;width:100%;color:rgba(28, 137, 255, 0.91);font-size:28px;font-weight:700">Membership Issues Form</h3>
        	</div>
		<form id="issues_form">
    
      <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label for="name" style="color:blue">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name"  required>
      </div>
      <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
        <label for="referral_id" style="color:blue">Referral ID</label>
        <input type="text" class="form-control" id="referral_id" name="referral_id" placeholder="Refferral ID" required>
      </div>
      <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
        <label for="receipt_no" style="color:blue">Form NO</label>
        <input type="text" class="form-control" id="receipt_no" placeholder="Form NO" name="receipt_no" required>
      </div>
    

  <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6" >
    <label for="issue" style="color:blue">Issue Type</label>
    <select id="issue" name="issue" class="form-control" required>
      <option value="" selected>select issue type</option>
      <option value="Already Registered">Already Registered</option>
      <option value="Limit with Phone Number Already Reached">Limit with Phone Number Already Reached</option>
      <option value="No Mobile Number Given">No Mobile Number Given</option>
    </select>
  </div>
  <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
    <label for="district" style="color:blue">Districts</label>
    <select id="district" name="district" class="form-control" required>
      <option selected value="">Select District</option>
    </select>
  </div>
  <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
    <label for="constituency" style="color:blue">constituency</label>
    <select id="constituency" name="constituency"class="form-control" required>
      <option selected value="">select Constituency</option>
    </select>
  </div>
    
      <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
        <label for="place" style="color:blue">Village/Town</label>
        <input type="text" class="form-control" id="place" name="place" placeholder="Village/Town">
      </div>
      <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6">
       <input type="submit"  id="submit" class="btn btn-success" style="margin-top: 27px;
    width: 100px;" value="Submit">
        </div>
   

   
  </form>


 </div>       	
<script>
var districts = [];
  var ac;
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
}; 
var load_districts_data= function load_districts_data()
{
	$.getJSON('static/offline_memberships/json/membership/districts.json', function (data) {
    districts = data;
   
    $.each(districts,function(i,dist){
      $.each(dist, function (j, val) {
        $('#district').append($("<option></option>").attr("value", val.id).text(val.district_name));
      });
    })
    console.log(districts)
  });
  $.getJSON('static/offline_memberships/json/membership/constituencies.json', function (data) {
    ac = data;
    console.log(ac);
  });
 
} 

$(document).ready(function() {

var promise1 = $.getJSON('static/offline_memberships/json/membership/constituencies.json'); 
var promise2 = $.getJSON('static/offline_memberships/json/membership/districts.json');
 
$.when(promise1, promise2).done(function(data1, data2) {
   districts = data2[0];
   console.log(data1,data2)
    $.each(districts,function(i,dist){
      $.each(dist, function (j, val) {
        $('#district').append($("<option></option>").attr("value", val.id).text(val.district_name));
      });
       });
      ac = data1[0];
      readUrlparameters(); 
});
 
 
  $('#district').change(function () {

    var district_id = $(this).val();
    console.log(district_id)
    var local_ac = ac[district_id];

    $('#constituency').html('');
    $('#constituency').append('<option value="" selected>Select Constituency</option>')
    $.each(local_ac, function (i1, val1) {
      $('#constituency').append($("<option data-stateid='" + val1.state_id + "'></option>").attr("value", val1.constituency_id).text(val1.constituency_name));
    });
  })
  $('#issues_form').submit( function (e) {
$('.loader').css("display","block");
			e.preventDefault();
 var data={};

    
  data['name']=$("#name").val();
  data['referral_id']=$("#referral_id").val();
  data['receipt_no'] = $("#receipt_no").val();
  data['issue'] =$("#issue").val();
  data['district'] =$("#district").val();
  data['constituency'] =$("#constituency").val();
  data['place'] =$("#place").val();
  
   
     $.ajax({
    type: "POST",
    url:  "/offlineMembershipsissues",
    data: JSON.stringify(data),
    dataType: "json",
    contentType: "application/json",
    success: function (response) {
      $('.loader').css("display","none");
       if(response.data.status=='1')
                    {
                            swal({
                            title: "Issue Saved Successfully",
                            icon:"success",
                            text: "",
                            type: "success",
                            showCancelButton: false,
                            
                            confirmButtonText: "OK",
                            closeOnConfirm: false
                            },
                           function()
                           {
                            window.location.replace("/offlineMemberships");
                           });
                        }
                        else
                        {
                        	swal("Error",response.errors[0],"error")
                         $('.loader').css("display","none"); 
                        }

    },
    
                error:function(response)
                {
                swal("Error","Something Wrong","error")
                $('.loader').css("display","none");
                }
  })
  })

 
})
function readUrlparameters()
{
	var name = getUrlParameter('name');
var issue = getUrlParameter('issue');
 var district = getUrlParameter('district');
var constituency = getUrlParameter('constituency');
 var referral_id = getUrlParameter('referral_id');
var receipt_no = getUrlParameter('receipt_no');
var place = getUrlParameter('place');
console.log(name,issue,district,constituency,receipt_no,referral_id)
if(name)
{
$("#name").val(name);

}
if(issue)
{
$("#issue").val(issue).change();

}
if(district)
{
	console.log(district)
$("#district").val(district).change();

}
if(constituency)
{
$("#constituency").val(constituency).change();

}
if(place)
{
$("#place").val(place);

}
if(referral_id)
{
$("#referral_id").val(referral_id);

}
if(receipt_no)
{
$("#receipt_no").val(receipt_no);

}
}
</script>

{% endblock%}

