 {% extends "janasainyam_layout.html" %}
 {% block head%}
 <style>
 .focus-input2 .mandatory::after {
    content: "  *";
    color:red;
} </style>


 <link rel="stylesheet" type="text/css" href="static/offline_memberships/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/css/bootstrap-select.min.css">
        <!--<link rel="stylesheet" type="text/css" href="css/bootstrap-select.css.map">-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/css/util.css">

        <!--<link rel="stylesheet" type="text/css" href="css/main.css">-->
        <link rel="stylesheet" type="text/css" href="static/offline_memberships/css/mem.css">
        <style>
     .dropup .dropdown-toggle::after {
        border-bottom:none !important;
     } </style>
 {% endblock%}

{% block body %}

 
 <div class="container">
            <div class="p-t-20" id="check_form">
                <div class="validate-form " id="precheck">
                    <div class="row" >
                        <div class="col-xs-12 col-sm-4 col-md-4" >
                            <div class="wrap-input2 validate-input" data-validate = "membership_id">
                                <input class="input2" type="text" name="membership_id" >
                                <span class="focus-input2" data-placeholder="MEMBERSHIP ID"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="wrap-button">
                                <button id="check_details">Fetch</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="validate-form " id="full_data" style="display:none">
                    <div class="row" >
                        <div class="col-xs-12 col-sm-6 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text"  id="name">
                                <span class="focus-input2" data-placeholder=" NAME"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="Relation Name is required">
                                <input class="input2" type="text"  id="relationship_name" name="relationship_name">
                                <span class="focus-input2" data-placeholder="Father's Name/ Husband's Name"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 " >
                            <div class="switch-field">
                                <div class="switch-title" id="gender">Gender</div>
                                <input type="radio" id="switch_left" name="switch_2" value="male" checked/>
                                <label for="switch_left">Male</label>
                                <input type="radio" id="switch_right" name="switch_2" value="female" />
                                <label for="switch_right">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text"  id="phone">
                                <span class="focus-input2" data-placeholder="Mobile number"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text"  id="voter_id">
                                <span class="focus-input2" data-placeholder="Voter id number"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text"  id="email">
                                <span class="focus-input2" data-placeholder="Email"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text" id="fb_id">
                                <span class="focus-input2" data-placeholder="Facebook ID"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text"  id="age">
                                <span class="focus-input2" data-placeholder="Age"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text" id="education">
                                <span class="focus-input2" data-placeholder="Education"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text"  id="occupation">
                                <span class="focus-input2" data-placeholder="Occupation"></span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text"  id="address">
                                <span class="focus-input2" data-placeholder="House No"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text"  id="pincode">
                                <span class="focus-input2" data-placeholder="Pin code"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xs-12 col-sm-4 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text"  id="village">
                                <span class="focus-input2" data-placeholder="Village/Municipal Ward"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 " >
                            <div class="wrap-input2 validate-input" data-validate="A Name is required">
                                <input class="input2" type="text"  id="receipt_no">
                                <span class="focus-input2" data-placeholder="Form Number"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3 " >
                            <div class="mselect validate-input" data-validate="A Name is required">
                                <label for="state_select">State</label>
                                <select class="selectpicker dropup" required data-width="100%" id="state_select" title="Select a State">
                                    <option value="1">Andhra Pradesh</option>
                                    <option value="2">Telangana</option>
                                    <option value="3">Karnataka</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 " >
                            <div class="mselect validate-input" data-validate="A Name is required">
                                <label for="district_select">District</label>
                                <select class="selectpicker dropup" required data-width="100%" id="district_select" title="Select a District"></select>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 " >
                            <div class="mselect validate-input" data-validate="A Name is required">
                                <label for="assembly_select">Assembly</label>
                                <select class="selectpicker dropup"  required data-width="100%" id="assembly_select" title="Select a Assembly"></select>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 " >
                            <div class="mselect validate-input" data-validate="A Mandal is required">
                                <!--<input class="input2" type="text" name="mandal" id="mandal">-->
                                <label for="mandal_select">Mandal</label>
                                <select class="selectpicker dropup"  required data-width="100%" id="mandal_select" title="Select a Mandal"></select>
                                <!--<span class="focus-input2" data-placeholder="Mandal/Municipality/Division"></span>-->
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:21px">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="wrap-button">
                                <button id="submit_details">Submit</button>
                            </div>
                        </div>
                    </div>

                    <div id="someHiddenDiv" style="display: none;">Updated Sucessufully</div>
                </div>
            </div>
            </div>

       <!--===============================================================================================-->
        <script src="static/offline_memberships/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="static/offline_memberships/vendor/bootstrap/js/popper.js"></script>
        <script src="static/offline_memberships/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <!--<script src="vendor/select2/select2.min.js"></script>-->
        <script src="static/offline_memberships/js/bootstrap-select.min.js">   </script>
        <script src="static/offline_memberships/js/underscore-min.js"></script>
        <!--<script src="js/bootstrap-select.js.map">   </script>-->
        <script src="static/offline_memberships/js/sweetalert.min.js"></script>
        <!--===============================================================================================-->
        <script src="static/offline_memberships/js/mem_edit.js"></script>

        </div>
        {% endblock %}   